{% extends WIDGET_PATH + "src/layout.html" %}
{% block vendor_js %}
<script src="{# PLUGINS_PATH #}skycons/skycons.js"></script>
<script src="{# PLUGINS_PATH #}nvd3/lib/d3.v3.js" type="text/javascript"></script>
<script src="{# PLUGINS_PATH #}nvd3/nv.d3.min.js" type="text/javascript"></script>
<script src="{# PLUGINS_PATH #}nvd3/src/utils.js" type="text/javascript"></script>
<script src="{# PLUGINS_PATH #}nvd3/src/tooltip.js" type="text/javascript"></script>
<script src="{# PLUGINS_PATH #}nvd3/src/interactiveLayer.js" type="text/javascript"></script>
<script src="{# PLUGINS_PATH #}nvd3/src/models/axis.js" type="text/javascript"></script>
<script src="{# PLUGINS_PATH #}nvd3/src/models/line.js" type="text/javascript"></script>
<script src="{# PLUGINS_PATH #}nvd3/src/models/lineWithFocusChart.js" type="text/javascript"></script>
{% endblock %}
{% block content %}

        {% include PATH + "pages/dashboard/_widget/widget_stat_cards.tpl" %}

{% endblock %}
