        <!-- Modal -->
        <div class="modal fade fill-in" id="modalFillIn" tabindex="-1" role="dialog" aria-hidden="true">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            <i class="pg-close"></i>
          </button>
          <div class="modal-dialog ">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="text-left p-b-5"><span class="semi-bold">News letter</span> signup</h5>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col-lg-9 ">
                    <input type="text" placeholder="Your email address here" class="form-control input-lg" id="icon-filter" name="icon-filter">
                  </div>
                  <div class="col-lg-3 no-padding sm-m-t-10 sm-text-center">
                    <button type="button" class="btn btn-primary btn-lg btn-large fs-15">Sign up</button>
                  </div>
                </div>
                <p class="text-right sm-text-center hinted-text p-t-10 p-r-10">What is it? Terms and conditions</p>
              </div>
              <div class="modal-footer">
              </div>
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>
        <!-- Modal -->
        <div class="modal fade slide-up disable-scroll" id="modalSlideUp" tabindex="-1" role="dialog" aria-hidden="false">
          <div class="modal-dialog ">
            <div class="modal-content-wrapper">
              <div class="modal-content">
                <div class="modal-header clearfix text-left">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i>
                  </button>
                  <h5>Payment <span class="semi-bold">Information</span></h5>
                  <p class="p-b-10">We need payment information inorder to process your order</p>
                </div>
                <div class="modal-body">
                  <form role="form">
                    <div class="form-group-attached">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group form-group-default">
                            <label>Company Name</label>
                            <input type="email" class="form-control">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-8">
                          <div class="form-group form-group-default">
                            <label>Card Number</label>
                            <input type="text" class="form-control">
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group form-group-default">
                            <label>Card Holder</label>
                            <input type="text" class="form-control">
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                  <div class="row">
                    <div class="col-md-8">
                      <div class="p-t-20 clearfix p-l-10 p-r-10">
                        <div class="pull-left">
                          <p class="bold font-montserrat text-uppercase">TOTAL</p>
                        </div>
                        <div class="pull-right">
                          <p class="bold font-montserrat text-uppercase">$20.00</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4 m-t-10 sm-m-t-10">
                      <button type="button" class="btn btn-primary btn-block m-t-5">Pay Now</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.modal-content -->
          </div>
        </div>
        <!-- /.modal-dialog -->
        <!-- MODAL SLIDE UP SMALL  -->
        <!-- Modal -->
        <div class="modal fade slide-up disable-scroll" id="modalSlideUpSmall" tabindex="-1" role="dialog" aria-hidden="false">
          <div class="modal-dialog modal-sm">
            <div class="modal-content-wrapper">
              <div class="modal-content">
                <div class="modal-body text-center m-t-20">
                  <h4 class="no-margin p-b-10">You have subscribed</h4>
                  <button type="button" class="btn btn-primary btn-cons" data-dismiss="modal">Continue</button>
                </div>
              </div>
            </div>
            <!-- /.modal-content -->
          </div>
        </div>
        <!-- /.modal-dialog -->
        <!-- MODAL STICK UP  -->
        <div class="modal fade stick-up" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header clearfix text-left">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i>
                </button>
                <h5>Payment <span class="semi-bold">Information</span></h5>
                <p>We need payment information inorder to process your order</p>
              </div>
              <div class="modal-body">
                <form role="form">
                  <div class="form-group-attached">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group form-group-default">
                          <label>Company Name</label>
                          <input type="email" class="form-control">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-8">
                        <div class="form-group form-group-default">
                          <label>Card Number</label>
                          <input type="text" class="form-control">
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group form-group-default">
                          <label>Card Holder</label>
                          <input type="text" class="form-control">
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
                <div class="row">
                  <div class="col-md-8">
                    <div class="p-t-20 clearfix p-l-10 p-r-10">
                      <div class="pull-left">
                        <p class="bold font-montserrat text-uppercase">TOTAL</p>
                      </div>
                      <div class="pull-right">
                        <p class="bold font-montserrat text-uppercase">$20.00</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 m-t-10 sm-m-t-10">
                    <button type="button" class="btn btn-primary btn-block m-t-5">Pay Now</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>
        <!-- END MODAL STICK UP  -->
        <!-- MODAL STICK UP SMALL ALERT -->
        <div class="modal fade stick-up" id="modalStickUpSmall" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog modal-sm">
            <div class="modal-content-wrapper">
              <div class="modal-content">
                <div class="modal-header clearfix text-left">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i>
                  </button>
                  <h5>Reset all settings</h5>
                </div>
                <div class="modal-body">
                  <p class="no-margin">This will restore all system settings to factory defults. Are you sure that you want to proceed?</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary btn-cons  pull-left inline" data-dismiss="modal">Continue</button>
                  <button type="button" class="btn btn-default btn-cons no-margin pull-left inline" data-dismiss="modal">Cancel</button>
                </div>
              </div>
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>
        <!-- END MODAL STICK UP SMALL ALERT -->
        <!-- MODAL STICK UP SMALL ALERT -->
        <div class="modal fade slide-right" id="modalSlideLeft" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog modal-sm">
            <div class="modal-content-wrapper">
              <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i>
                </button>
                <div class="container-xs-height full-height">
                  <div class="row-xs-height">
                    <div class="modal-body col-xs-height col-middle text-center   ">
                      <h5 class="text-primary ">Before you <span class="semi-bold">proceed</span>, you have to login to make the necessary changes</h5>
                      <br>
                      <button type="button" class="btn btn-primary btn-block" data-dismiss="modal">Continue</button>
                      <button type="button" class="btn btn-default btn-block" data-dismiss="modal">Cancel</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>
        <!-- END MODAL STICK UP SMALL ALERT -->
        {% if breadcrumb == 'breadcrumb-alt' %}
<div class="bg-white">
  <div class="container">
    <ol class="breadcrumb breadcrumb-alt">
      <li class="breadcrumb-item"><a href="#">UI Elements</a></li>
      <li class="breadcrumb-item active">Modals</li>
    </ol>
  </div>
</div>
{% endif %} <!-- START JUMBOTRON -->
        <div class="jumbotron" {% if mode != 'horizontal_menu' %} data-pages="parallax" {% endif %}>
          <div class="{% if mode =='horizontal_menu' %} container p-l-0 p-r-0 {% else %} container-fluid {% endif %}  container-fixed-lg">
            <div class="inner">
              <!-- START BREADCRUMB -->
              {% if breadcrumb != 'breadcrumb-alt' %} <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">UI Elements</a></li>
                <li class="breadcrumb-item active">Modals</li>
              </ol>
              <!-- END BREADCRUMB --> {% endif %}
              <div class="container-md-height m-b-20">
                <!-- <div class="row row-md-height"> -->
                <div class="row">
                  <div class="col-xl-7 col-lg-6 bg-white">
                    <!-- START card -->
                    <div class="full-height">
                      <div class="card-body text-center">
                        <img class="image-responsive-height demo-mw-400" src="{# ASSETS #}/img/
demo/modal_hero.gif" alt="">
                      </div>
                    </div>
                    <!-- END card -->
                  </div>
                  <div class="col-xl-5 col-lg-6 col-top">
                    <!-- START card -->
                    <div class="card card-transparent">
                      <div class="card-header ">
                        <div class="card-title">Getting started
                        </div>
                      </div>
                      <div class="card-body">
                        <h3>A modal helps to displays content that temporarily blocks interactions with a web site</h3>
                        <p>These are native boostrap modals and work as the same way as it does but more awesome with the added styles and animation giving the user more options to go to</p>
                        <br>
                        <div>
                          <div class="profile-img-wrapper m-t-5 inline">
                            <img width="35" height="35" src="{# ASSETS #}/img/
profiles/avatar_small.jpg" alt="" data-src="{# ASSETS #}/img/
profiles/avatar_small.jpg" data-src-retina="{# ASSETS #}/img/
profiles/avatar_small2x.jpg">
                            <div class="chat-status available">
                            </div>
                          </div>
                          <div class="inline m-l-10">
                            <p class="small hint-text m-t-5">VIA senior product manage
                              <br> for UI/UX at REVOX</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- END card -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- END JUMBOTRON -->
        <!-- START CONTAINER FLUID -->
        <div class="{% if mode =='horizontal_menu' %} no-padding  {% else %} container-fluid {% endif %}  container-fixed-lg">
        {% if mode =='horizontal_menu' %} 
            <div class="container">
        {% endif %}            
              <div class="row">
                <div class="col-md-4">
                  <!-- START card -->
                  <div class="card card-transparent">
                    <div class="card-header ">
                      <div class="card-title">Boostrap Native Modals
                      </div>
                    </div>
                    <div class="card-body">
                      Boostrap modals are something very functional and we began to think how to make something better even better. The modals were styled to suite pages color scheme and animation, we did not stop here we added more, Read more.
                    </div>
                  </div>
                  <!-- END card -->
                </div>
                <div class="col-md-4">
                  <!-- START card -->
                  <div class="card card-transparent">
                    <div class="card-header ">
                      <div class="card-title">Style and Animation
                      </div>
                    </div>
                    <div class="card-body">
                      These modals are customized with new animations and style, now pages modals support up to 3 different versions and each version have small, medium and large modals. This helps you to make your app look even better
                    </div>
                  </div>
                  <!-- END card -->
                </div>
                <div class="col-md-4">
                  <!-- START card -->
                  <div class="card card-transparent">
                    <div class="card-header ">
                      <div class="card-title">Functional
                      </div>
                    </div>
                    <div class="card-body">
                      We did not just go for the looks and compromise functionality, since they are boostrap modals they are responsive and fast and works on all screens.
                    </div>
                  </div>
                  <!-- END card -->
                </div>
              </div>
        {% if mode =='horizontal_menu' %} 
            </div>
        {% endif %}       
        </div>
        <!-- END CONTAINER FLUID -->
        <!-- START CONTAINER FLUID -->
        <div class="{% if mode =='horizontal_menu' %} container  {% else %} container-fluid {% endif %}  container-fixed-lg bg-white">
          <div class="card card-transparent">
            <div class="card-header ">
              <div class="card-title">Boostrap Native Modals
              </div>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-xl-4 col-md-6">
                  <div class="card card-transparent">
                    <div class="card-header  no-padding">
                      <div class="card-title">
                        Slide Up
                      </div>
                    </div>
                    <div class="card-body no-padding">
                      <div class="m-b-15">
                        <img alt="" src="{# ASSETS #}/img/
demo/1.svg" class="full-width">
                      </div>
                      <p>
                        This modal slides in from the bottom and rests on the middle of the screen, to add this simply add the class
                        <code>slide-up</code> to the <code>modal</code> div
                      </p>
                      <div class="radio radio-success inline">
                        <input id="slideup_full" name="slideup_toggler" type="radio" value="full">
                        <label for="slideup_full">Large</label>
                        <br>
                        <input id="slideup_default" name="slideup_toggler" type="radio" value="default" checked>
                        <label for="slideup_default">Default</label>
                        <br>
                        <input id="slideup_small" name="slideup_toggler" type="radio" value="mini">
                        <label for="slideup_small">Small</label>
                      </div>
                      <button class="btn btn-green btn-lg pull-right bottom-right" id="btnToggleSlideUpSize">Generate</button>
                    </div>
                  </div>
                </div>
                <div class="col-xl-4 col-md-6">
                  <div class="column-body">
                    <div class="card card-transparent">
                      <div class="card-header  no-padding">
                        <div class="card-title">
                          Stick Up
                        </div>
                      </div>
                      <div class="card-body no-padding">
                        <div class="m-b-15">
                          <img alt="" src="{# ASSETS #}/img/demo/2.svg" class="full-width">
                        </div>
                        <p>
                          This modal slides in from the top and rests on the top of the screen, to add this simply add the class
                          <code>stick-up</code> to the <code>modal</code> div
                        </p>
                        <div class="radio radio-success inline">
                          <input id="stickup_full" name="stickup_toggler" type="radio" value="full">
                          <label for="stickup_full">Large</label>
                          <br>
                          <input id="stickup_default" name="stickup_toggler" type="radio" value="default" checked>
                          <label for="stickup_default">Default</label>
                          <br>
                          <input id="stickup_small" name="stickup_toggler" type="radio" value="mini">
                          <label for="stickup_small">Small</label>
                        </div>
                        <button class="btn btn-green btn-lg bottom-right" id="btnStickUpSizeToggler">Generate</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-4 d-none d-lg-block d-xl-block">
                  <div class="card card-transparent">
                    <div class="card-header  no-padding">
                      <div class="card-title">
                        Slide Right
                      </div>
                    </div>
                    <div class="card-body no-padding">
                      <div class="m-b-15">
                        <img alt="" src="{# ASSETS #}/img/demo/4.svg" class="full-width">
                      </div>
                      <p>
                        This modal slides from the right side <code>slide-right</code> to the <code>modal</code> div
                      </p>
                      <button class="btn btn-green btn-lg pull-right" data-target="#modalSlideLeft" data-toggle="modal">Generate</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 d-xl-none">
                  <div class="card card-transparent">
                    <div class="card-header  no-padding">
                      <div class="card-title">
                        Fill in Modal
                      </div>
                    </div>
                    <div class="card-body no-padding">
                      <div class="m-b-15">
                        <img alt="" src="{# ASSETS #}/img/demo/3.svg" class="full-width">
                      </div>
                      <p>
                        This modal zooms from the middle and fills in <code>fill-in</code> to the <code>modal</code> div
                      </p>
                      <button class="btn btn-green btn-lg pull-right" data-target="#modalFillIn" data-toggle="modal" id="btnFillSizeToggler">Generate</button>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 d-xl-none">
                  <div class="card card-transparent">
                    <div class="card-header  no-padding">
                      <div class="card-title">
                        Slide Right
                      </div>
                    </div>
                    <div class="card-body no-padding">
                      <div class="m-b-15">
                        <img alt="" src="{# ASSETS #}/img/demo/4.svg" class="full-width">
                      </div>
                      <p>
                        This modal slides from the right side <code>slide-right</code> to the <code>modal</code> div
                      </p>
                      <button class="btn btn-green btn-lg pull-right" data-target="#modalSlideLeft" data-toggle="modal">Generate</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- START card -->
            <div class="card card-transparent d-none d-lg-block d-xl-block">
              <div class="card-header ">
                <div class="card-title">
                </div>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-xl-4 ">
                    <div class="card card-transparent">
                      <div class="card-header  no-padding">
                        <div class="card-title">
                          Fill in Modal
                        </div>
                      </div>
                      <div class="card-body no-padding">
                        <div class="m-b-15">
                          <img alt="" src="{# ASSETS #}/img/demo/3.svg" class="full-width">
                        </div>
                        <p>
                          This modal zooms from the middle and fills in <code>fill-in</code> to the <code>modal</code> div
                        </p>
                        <button class="btn btn-green btn-lg pull-right" data-target="#modalFillIn" data-toggle="modal" id="btnFillSizeToggler2">Generate</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- END card -->
          </div>
        </div>
