          {% if breadcrumb == 'breadcrumb-alt' %}
<div class="bg-white">
  <div class="container">
    <ol class="breadcrumb breadcrumb-alt">
      <li class="breadcrumb-item"><a href="#">UI Elements</a></li>
      <li class="breadcrumb-item active">Buttons</li>
    </ol>
  </div>
</div>
{% endif %} <!-- START JUMBOTRON -->
          <div class="jumbotron bg-white " data-pages="parallax">
            <div class="{% if mode =='horizontal_menu' %} container  {% else %} container-fluid {% endif %}  container-fixed-lg">
              <div class="inner">
                <!-- START BREADCRUMB -->
                {% if breadcrumb != 'breadcrumb-alt' %} <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#">UI Elements</a></li>
                  <li class="breadcrumb-item active">Buttons</li>
                </ol>
                <!-- END BREADCRUMB --> {% endif %}
                <div class="container-md-height m-b-20">
                  <div class="row m-lg-0">
                    <div class="col-xl-7 col-lg-6 bg-white">
                      <!-- START card -->
                      <div class="full-height">
                        <div class="card-body text-center">
                          <img class="image-responsive-height demo-mw-500" src="{# ASSETS #}/img/demo/buttons_hero.gif" alt="">
                        </div>
                      </div>
                      <!-- END card -->
                    </div>
                    <div class="col-xl-5 col-lg-6">
                      <!-- START card -->
                      <div class="card card-transparent">
                        <div class="card-header ">
                          <div class="card-title">Getting started
                          </div>
                        </div>
                        <div class="card-body">
                          <h3>A button consists of text and/or an image that clearly communicates what action will occur when it is pressed upon.</h3>
                          <div>
                            <div class="">
                              <p class="small hint-text">VIA senior product manage
                                <br> for UI/UX at REVOX</p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- END card -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- END JUMBOTRON -->
          <!-- START CONTAINER FLUID -->
          <div class="{% if mode =='horizontal_menu' %} container  {% else %} container-fluid {% endif %}  container-fixed-lg">
            <div class="row">
              <div class="col-sm-12">
                <!-- START card -->
                <div class="card card-transparent">
                  <div class="card-header ">
                    <div class="card-title">Button Color
                    </div>
                  </div>
                  <div class="card-body">
                    <h5>Color can be a wonderful tool for making
                                your dashboard less stressful
                                and more calming</h5>
                    <p>Color can be a wonderful tool for making your dashboard less stressful and more calming — and it can have a significant impact on your mood and well-being, We made it with you in mind</p>
                    <br>
                    <div class="row ">
                      <div class="col-lg-3">
                        <p>Primary Button
                        </p>
                        <button class="btn btn-primary btn-cons">Primary</button>
                        <div class="row m-l-5 m-t-10">
                          <div class="col-1 no-padding ">
                            <div class="bg-primary p-t-30 p-b-35"></div>
                            <div class="bg-primary-light p-t-30 p-b-35"></div>
                            <div class="bg-primary-dark p-t-30 p-b-35"></div>
                          </div>
                          <div class="col-10 bg-white b-a b-grey padding-10">
                            <p class="no-margin text-black bold text-uppercase fs-12">Normal</p>
                            <p class="no-margin fs-12">#6d5eac </p>
                            <p class="p-t-20 no-margin text-black bold text-uppercase fs-12">Hover</p>
                            <p class="no-margin fs-12">20% white </p>
                            <p class="p-t-20 no-margin text-black bold text-uppercase fs-12">Active</p>
                            <p class="no-margin fs-12">16.5% white </p>
                          </div>
                        </div>
                        <br>
                        <p class="small hint-text">
                          pages Default Multi-Purpose Theme Color. Add class by simply typing
                          <code>
                                             btn-primary
                                            </code>
                        </p>
                      </div>
                      <div class="col-lg-3">
                        <p>Complete Button
                        </p>
                        <button class="btn btn-complete btn-cons">Complete</button>
                        <div class="row m-l-5 m-t-10">
                          <div class="col-1 no-padding ">
                            <div class="bg-complete p-t-30 p-b-35"></div>
                            <div class="bg-complete-light p-t-30 p-b-35"></div>
                            <div class="bg-complete-dark p-t-30 p-b-35"></div>
                          </div>
                          <div class="col-10 bg-white b-a b-grey padding-10">
                            <p class="no-margin text-black bold text-uppercase fs-12">Normal</p>
                            <p class="no-margin fs-12">#6d5eac </p>
                            <p class="p-t-20 no-margin text-black bold text-uppercase fs-12">Hover</p>
                            <p class="no-margin fs-12">20% white </p>
                            <p class="p-t-20 no-margin text-black bold text-uppercase fs-12">Active</p>
                            <p class="no-margin fs-12">16.5% white </p>
                          </div>
                        </div>
                        <br>
                        <p class="small hint-text">
                          pages Default Multi-Purpose Theme Color. Add class by simply typing
                          <code>btn-complete</code>
                        </p>
                      </div>
                      <div class="col-lg-3">
                        <p>Success Button
                        </p>
                        <button class="btn btn-success btn-cons">Success</button>
                        <div class="row m-l-5 m-t-10">
                          <div class="col-1 no-padding ">
                            <div class="bg-success p-t-30 p-b-35"></div>
                            <div class="bg-success-light p-t-30 p-b-35"></div>
                            <div class="bg-success-dark p-t-30 p-b-35"></div>
                          </div>
                          <div class="col-10 bg-white b-a b-grey padding-10">
                            <p class="no-margin text-black bold text-uppercase fs-12">Normal</p>
                            <p class="no-margin fs-12">#6d5eac </p>
                            <p class="p-t-20 no-margin text-black bold text-uppercase fs-12">Hover</p>
                            <p class="no-margin fs-12">20% white </p>
                            <p class="p-t-20 no-margin text-black bold text-uppercase fs-12">Active</p>
                            <p class="no-margin fs-12">16.5% white </p>
                          </div>
                        </div>
                        <br>
                        <p class="small hint-text">
                          pages Default Multi-Purpose Theme Color. Add class by simply typing
                          <code>btn-success</code>
                        </p>
                      </div>
                      <div class="col-lg-3">
                        <p>Danger Button
                        </p>
                        <button class="btn btn-danger btn-cons">Danger</button>
                        <div class="row m-l-5 m-t-10">
                          <div class="col-1 no-padding ">
                            <div class="bg-danger p-t-30 p-b-35"></div>
                            <div class="bg-danger-light p-t-30 p-b-35"></div>
                            <div class="bg-danger-dark p-t-30 p-b-35"></div>
                          </div>
                          <div class="col-10 bg-white b-a b-grey padding-10">
                            <p class="no-margin text-black bold text-uppercase fs-12">Normal</p>
                            <p class="no-margin fs-12">#6d5eac </p>
                            <p class="p-t-20 no-margin text-black bold text-uppercase fs-12">Hover</p>
                            <p class="no-margin fs-12">20% white </p>
                            <p class="p-t-20 no-margin text-black bold text-uppercase fs-12">Active</p>
                            <p class="no-margin fs-12">16.5% white </p>
                          </div>
                        </div>
                        <br>
                        <p class="small hint-text">
                          pages Default Multi-Purpose Theme Color. Add class by simply typing
                          <code>btn-danger</code>
                        </p>
                      </div>
                      <div class="col-lg-3">
                        <p>Warning Button
                        </p>
                        <button class="btn btn-warning btn-cons">Danger</button>
                        <div class="row m-l-5 m-t-10">
                          <div class="col-1 no-padding ">
                            <div class="bg-warning p-t-30 p-b-35"></div>
                            <div class="bg-warning-light p-t-30 p-b-35"></div>
                            <div class="bg-warning-dark p-t-30 p-b-35"></div>
                          </div>
                          <div class="col-10 bg-white b-a b-grey padding-10">
                            <p class="no-margin text-black bold text-uppercase fs-12">Normal</p>
                            <p class="no-margin fs-12">#6d5eac </p>
                            <p class="p-t-20 no-margin text-black bold text-uppercase fs-12">Hover</p>
                            <p class="no-margin fs-12">20% white </p>
                            <p class="p-t-20 no-margin text-black bold text-uppercase fs-12">Active</p>
                            <p class="no-margin fs-12">16.5% white </p>
                          </div>
                        </div>
                        <br>
                        <p class="small hint-text">
                          pages Default Multi-Purpose Theme Color. Add class by simply typing
                          <code>btn-warning</code>
                        </p>
                      </div>
                      <div class="col-lg-3">
                        <p>White Button
                        </p>
                        <button class="btn btn-default btn-cons">Danger</button>
                        <div class="row m-l-5 m-t-10">
                          <div class="col-1 no-padding ">
                            <div class="bg-white p-t-30 p-b-35"></div>
                            <div class="bg-master-light p-t-30 p-b-35"></div>
                            <div class="bg-master-dark p-t-30 p-b-35"></div>
                          </div>
                          <div class="col-10 bg-white b-a b-grey padding-10">
                            <p class="no-margin text-black bold text-uppercase fs-12">Normal</p>
                            <p class="no-margin fs-12">#6d5eac </p>
                            <p class="p-t-20 no-margin text-black bold text-uppercase fs-12">Hover</p>
                            <p class="no-margin fs-12">20% white </p>
                            <p class="p-t-20 no-margin text-black bold text-uppercase fs-12">Active</p>
                            <p class="no-margin fs-12">16.5% white </p>
                          </div>
                        </div>
                        <br>
                        <p class="small hint-text">
                          pages Default Multi-Purpose Theme Color. Add class by simply typing
                          <code>btn-danger</code>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- END card -->
              </div>
            </div>
            <div class="row">
              <div class="col-xl-4 col-lg-12 ">
                <!-- START card -->
                <div class="card card-default">
                  <div class="card-header ">
                    <div class="card-title">Size Options
                    </div>
                  </div>
                  <div class="card-body">
                    <h5 class="">Fancy larger or smaller buttons?
                                    <br>We made it all Perfect.</h5>
                    <p>Size Might vary from smaller screen to a larger screen. We made few sizes that are pixel perfect and resposive</p>
                    <br>
                    <div class="row">
                      <div class="col-lg-6">
                        <p>Size variation</p>
                        <p class="small">
                          Fancy larger or smaller buttons? Add .btn-lg .btn-sm .btn-xs for additional sizes.
                        </p>
                      </div>
                      <div class="col-lg-6">
                        <div class="pull-right sm-pull-left">
                          <button class="btn btn-default btn-lg btn-larger">Large Button</button>
                          <br>
                          <button class="btn btn-default m-t-10">Default Button</button>
                          <br>
                          <button class="btn btn-default btn-sm m-t-10">Small Button</button>
                          <br>
                          <button class="btn btn-default btn-xs m-t-10">Tiny</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- END card -->
              </div>
              <div class="col-xl-4 col-lg-12 ">
                <!-- START card -->
                <div class="card card-default">
                  <div class="card-header ">
                    <div class="card-title">Toggle Variations
                    </div>
                  </div>
                  <div class="card-body">
                    <p>Button groups can act as a radio or a switch or even a single toggle. Below are some examples click to see what happens
                    </p>
                    <div class="m-t-15">
                      <button type="button" class="btn btn-complete" data-toggle="button">Single toggle</button>
                      <br>
                      <br>
                      <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-complete active">
                          <input type="checkbox" checked> Option 1
                        </label>
                        <label class="btn btn-complete">
                          <input type="checkbox"> Option 2
                        </label>
                        <label class="btn btn-complete">
                          <input type="checkbox"> Option 3
                        </label>
                      </div>
                      <br>
                      <br>
                      <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-complete active">
                          <input type="radio" name="options" id="option1" checked> Option 1
                        </label>
                        <label class="btn btn-complete">
                          <input type="radio" name="options" id="option2"> Option 2
                        </label>
                        <label class="btn btn-complete">
                          <input type="radio" name="options" id="option3"> Option 3
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- END card -->
              </div>
              <div class="col-xl-4 col-lg-12 ">
                <!-- START card -->
                <div class="card card-default">
                  <div class="card-header ">
                    <div class="card-title">Button Animations
                    </div>
                  </div>
                  <div class="card-body">
                    <p>A button can animate to show hidden content</p>
                    <p class="small">The button will be automatically sized according to the visible content size. Make sure there is enough room for the hidden content to show
                      <br><code>btn-animated</code> and diirection as <code>from-left</code> or <code>from-top</code>
                    </p>
                    <div class="m-t-15">
                      <button type="button" class="btn btn-primary btn-cons btn-animated from-left pg pg-mail">
                        <span>Follow us</span>
                      </button>
                      <button type="button" class="btn btn-primary btn-cons btn-animated from-top fa fa-arrow-down">
                        <span>Download</span>
                      </button>
                    </div>
                  </div>
                </div>
                <!-- END card -->

                <!-- <div class="col-xl-4 col-lg-12 "> -->
                <!-- START card -->
                <div class="card card-default">
                  <div class="card-header ">
                    <div class="card-title">Button Blocks
                    </div>
                  </div>
                  <div class="card-body">
                    <p>Create block level buttons,those that span the full width of a parent by adding <code>btn-block</code>
                    </p>
                    <button type="button" class="btn btn-block btn-default">
                      <span class="pull-right"><i class="pg-menu"></i>
                                    </span>Button Block</button>
                    <button type="button" class="btn btn-block btn-primary">
                      <span class="pull-left"><i class="pg-menu"></i>
                                    </span>
                      <span>Button Block with icon</span>
                    </button>
                  </div>
                </div>
                <!-- END card -->
              <!-- </div> -->
              </div>

            </div>
            <!-- START card -->
            <div class="card card-default">
              <div class="card-header ">
                <div class="card-title">Different Styles
                </div>
              </div>
              <div class="card-body no-padding">
                <div class="row">
                  <div class="col-xl-4 col-lg-6 col-md-12">
                    <!-- START card -->
                    <div class="card card-transparent">
                      <div class="card-header ">
                        <div class="card-title">Traditional Dropdowns
                        </div>
                      </div>
                      <div class="card-body">
                        <p>We've simplified our dropdown buttons by getting rid of the dedicated dropdown associated with them, this looks more clean and also available in all different colors</p>
                        <br>
                        <div class="dropdown dropdown-default">
                          <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Default
                          </button>
                          <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Helvetica </a>
                            <a class="dropdown-item" href="#">SegeoUI</a>
                          </div>
                        </div>
                        <br>
                        <br>
                        <div class="dropdown dropdown-default dropup">
                          <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Default
                          </button>
                          <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Helvetica </a>
                            <a class="dropdown-item" href="#">SegeoUI</a>
                          </div>
                        </div>
                        <br>
                        <br>
                        <p class="small">The button will be automatically sized according to the visible content size. Make sure there is enough room for the hidden content to show</p>
                      </div>
                    </div>
                    <!-- END card -->
                  </div>
                  <div class="col-xl-4 col-lg-6 col-md-12">
                    <!-- START card -->
                    <div class="card card-transparent">
                      <div class="card-header ">
                        <div class="card-title">Tag Options
                        </div>
                      </div>
                      <div class="card-body">
                        <p>Create block level buttons,those that span the full width of a parent by adding .btn-block</p>
                        <br>
                        <button class="btn btn-tag  btn-tag-light m-r-20">Link me</button>
                        <button class="btn btn-tag  btn-tag-dark">Link me</button>
                        <br>
                        <br>
                        <button class="btn btn-tag   btn-tag-light btn-tag-rounded m-r-20">Link me</button>
                        <button class="btn btn-tag   btn-tag-dark btn-tag-rounded">Link me</button>
                        <br>
                        <br>
                        <p class="small">The button will be automatically sized according to the visible content size. Make sure there is enough room for the hidden content to show</p>
                      </div>
                    </div>
                    <!-- END card -->
                  </div>
                  <div class="col-xl-4 col-lg-6 col-md-12">
                    <!-- START card -->
                    <div class="card card-transparent">
                      <div class="card-header ">
                        <div class="card-title">Rounded Buttons
                        </div>
                      </div>
                      <div class="card-body">
                        <p>A button can be circular:</p>
                        <br>
                        <button class="btn btn-default btn-lg btn-rounded m-r-20 m-b-10">Big rounded</button>
                        <button class="btn btn-lg btn-rounded btn-primary m-r-20 m-b-10">Big rounded</button>
                        <br>
                        <button class="btn btn-default btn-rounded m-r-20 m-b-10">Rounded</button>
                        <button class="btn btn-rounded btn-primary m-b-10">Rounded</button>
                        <br>
                        <button class="btn btn-default btn-sm  btn-rounded m-r-20">Link me</button>
                        <button class="btn btn-sm  btn-rounded btn-primary">Link me</button>
                        <br>
                        <br>
                        <p class="small">Circular buttons are a special type of promoted action. It Distinguish a different action or a style.</p>
                      </div>
                    </div>
                    <!-- END card -->
                  </div>
                </div>
              </div>
            </div>
            <!-- END card -->
            <!-- START card -->
            <div class="card card-transparent">
              <div class="card-header ">
                <div class="card-title">Grouped Buttons
                </div>
              </div>
              <div class="card-body no-padding">
                <div class="row">
                  <div class="col-xl-4 col-lg-12">
                    <!-- START card -->
                    <div class="card card-transparent">
                      <div class="card-header ">
                        <div class="card-title">Single Button Group
                        </div>
                        <div class="tools">
                          <a href="javascript:;" class="collapse"></a>
                          <a href="#grid-config" data-toggle="modal" class="config"></a>
                          <a href="javascript:;" class="reload"></a>
                          <a href="javascript:;" class="remove"></a>
                        </div>
                      </div>
                      <div class="card-body">
                        <p>Basic example of bootstrap button groups. Wrap a series of buttons with <code>btn</code> in <code>btn-group</code>
                        </p>
                        <br>
                        <div class="btn-group">
                          <button type="button" class="btn btn-success"><i class="fa fa-save"></i>
                          </button>
                          <button type="button" class="btn btn-success"><i class="fa fa-pencil"></i>
                          </button>
                          <button type="button" class="btn btn-success"><i class="fa fa-trash-o"></i>
                          </button>
                        </div>
                        <br>
                        <br>
                        <div class="btn-group">
                          <button type="button" class="btn btn-default"><i class="fa fa-align-left"></i>
                          </button>
                          <button type="button" class="btn btn-default"><i class="fa fa-align-center"></i>
                          </button>
                          <button type="button" class="btn btn-default"><i class="fa fa-align-right"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                    <!-- END card -->
                  </div>
                  <div class="col-xl-4 col-lg-6 col-md-12">
                    <!-- START card -->
                    <div class="card card-transparent">
                      <div class="card-header ">
                        <div class="card-title">Button toolbar
                        </div>
                        <div class="tools">
                          <a href="javascript:;" class="collapse"></a>
                          <a href="#grid-config" data-toggle="modal" class="config"></a>
                          <a href="javascript:;" class="reload"></a>
                          <a href="javascript:;" class="remove"></a>
                        </div>
                      </div>
                      <div class="card-body">
                        <p>A button bar is a group of button groups, perfect for situations where you want groups of actions that are all related to a similar element or page</p>
                        <br>
                        <div class="btn-toolbar flex-wrap" role="toolbar">
                          <div class="btn-group sm-m-t-10">
                            <button type="button" class="btn btn-default"><i class="fa fa-save"></i>
                            </button>
                            <button type="button" class="btn btn-default active"><i class="fa fa-copy"></i>
                            </button>
                            <button type="button" class="btn btn-default"><i class="fa fa-clipboard"></i>
                            </button>
                            <button type="button" class="btn btn-default"><i class="fa fa-paperclip"></i>
                            </button>
                          </div>
                          <div class="btn-group sm-m-t-10">
                            <button type="button" class="btn btn-default"><i class="fa fa-align-left"></i>
                            </button>
                            <button type="button" class="btn btn-default"><i class="fa fa-align-center"></i>
                            </button>
                            <button type="button" class="btn btn-default"><i class="fa fa-align-right"></i>
                            </button>
                          </div>
                          <div class="btn-group sm-m-t-10">
                            <button type="button" class="btn btn-default"><i class="fa fa-file-pdf-o"></i>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- END card -->
                  </div>
                  <div class="col-xl-4 col-lg-6 col-md-12">
                    <!-- START card -->
                    <div class="card card-transparent">
                      <div class="card-header ">
                        <div class="card-title">Size Options
                        </div>
                      </div>
                      <div class="card-body">
                        <p>
                          Like buttons you can also use different sizes to button groups
                        </p>
                        <br>
                        <div class="bs-example">
                          <div class="btn-toolbar" role="toolbar">
                            <div class="btn-group btn-group-lg">
                              <button type="button" class="btn btn-default">Left</button>
                              <button type="button" class="btn btn-default">Middle</button>
                              <button type="button" class="btn btn-default">Right</button>
                            </div>
                          </div>
                          <div class="btn-toolbar m-t-10" role="toolbar">
                            <div class="btn-group">
                              <button type="button" class="btn btn-default">Left</button>
                              <button type="button" class="btn btn-default">Middle</button>
                              <button type="button" class="btn btn-default">Right</button>
                            </div>
                          </div>
                          <div class="btn-toolbar m-t-10" role="toolbar">
                            <div class="btn-group btn-group-sm">
                              <button type="button" class="btn btn-default">Left</button>
                              <button type="button" class="btn btn-default">Middle</button>
                              <button type="button" class="btn btn-default">Right</button>
                            </div>
                          </div>
                          <div class="btn-toolbar m-t-10" role="toolbar">
                            <div class="btn-group btn-group-xs">
                              <button type="button" class="btn btn-default">Left</button>
                              <button type="button" class="btn btn-default">Middle</button>
                              <button type="button" class="btn btn-default">Right</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- END card -->
                  </div>
                  <div class="col-xl-4 col-lg-6 col-md-12">
                    <!-- START card -->
                    <div class="card card-transparent">
                      <div class="card-header ">
                        <div class="card-title">Size Options
                        </div>
                      </div>
                      <div class="card-body">
                        <p>
                          Go wild! mix it and make it intererting, add different groups with dropdowns
                        </p>
                        <br>
                        <div class="btn-group">
                          <button type="button" class="btn btn-default"><i class="fa fa-italic"></i>
                          </button>
                          <button type="button" class="btn btn-default"><i class="fa fa-text-width"></i>
                          </button>
                          <div class="btn-group dropdown dropdown-default">
                            <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Default
                            </button>
                            <div class="dropdown-menu">
                              <a class="dropdown-item" href="#">Action</a>
                              <a class="dropdown-item" href="#">Helvetica </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- END card -->
                  </div>
                  <div class="col-xl-4 col-lg-6 col-md-12">
                    <!-- START card -->
                    <div class="card card-transparent">
                      <div class="card-header ">
                        <div class="card-title">Vertical Button Group
                        </div>
                      </div>
                      <div class="card-body">
                        <p>Want it in a different perspective? its customized to work both vertical and horizontal ways</p>
                        <br>
                        <div class="btn-group btn-group-vertical">
                          <button class="btn btn-default"><i class="fa fa-align-left"></i>
                          </button>
                          <button class="btn btn-success"><i class="fa fa-align-justify"></i>
                          </button>
                          <button class="btn btn-default"><i class="fa fa-align-right"></i>
                          </button>
                        </div>
                        <div class="btn-group-vertical">
                          <button type="button" class="btn btn-default">Button</button>
                          <div class="">
                            <div class="dropdown dropdown-default">
                              <button class="btn dropdown-toggle text-center" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Default
                              </button>
                              <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Helvetica </a>
                                <a class="dropdown-item" href="#">SegeoUI</a>
                              </div>
                            </div>
                          </div>
                          <button type="button" class="btn btn-default">Button</button>
                        </div>
                      </div>
                    </div>
                    <!-- END card -->
                  </div>
                  <div class="col-xl-4 col-lg-6 col-md-12">
                    <!-- START card -->
                    <div class="card card-transparent">
                      <div class="card-header ">
                        <div class="card-title">Vertical Button Group
                        </div>
                      </div>
                      <div class="card-body">
                        <p>Want it in a different perspective? its customized to work both vertical and horizontal ways</p>
                        <br>
                        <!-- <div class="btn-group btn-group-justified"> -->
                        <div class="btn-group btn-group-justified row w-100">
                          <div class="btn-group col-4 p-0">
                            <button type="button" class="btn btn-default w-100">
                              <span class="p-t-5 p-b-5">
                                                    <i class="fa fa-star fs-15"></i>
                                                </span>
                              <br>
                              <span class="fs-11 font-montserrat text-uppercase">Favourites</span>
                            </button>
                          </div>
                          <div class="btn-group col-4 p-0">
                            <button type="button" class="btn btn-default w-100">
                              <span class="p-t-5 p-b-5">
                                                    <i class="fa fa-history fs-15"></i>
                                                </span>
                              <br>
                              <span class="fs-11 font-montserrat text-uppercase">Recent</span>
                            </button>
                          </div>
                          <div class="btn-group col-4 p-0">
                            <button type="button" class="btn btn-default w-100">
                              <span class="p-t-5 p-b-5">
                                                    <i class="fa fa-user fs-15"></i>
                                                </span>
                              <br>
                              <span class="fs-11 font-montserrat text-uppercase">Contacts</span>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- END card -->
                  </div>
                </div>
              </div>
            </div>
            <!-- END card -->
            <div class="row">
              <!-- START card -->
              <div class="col-lg-6">
                <!-- START card -->
                <div class="card card-default">
                  <div class="card-header ">
                    <div class="card-title">Common Icon Buttons
                    </div>
                  </div>
                  <div class="card-body">
                    <p>Basic buttons are traditional buttons with borders and background with an extra component like an icon. You can place it either on the left or the right which ever you want with different color options</p>
                    <br>
                    <button class="btn btn-primary btn-cons m-b-10" type="button"><i class="pg-form"></i> <span class="bold">Submit</span>
                    </button>
                    <!-- Indicates a successful or positive action -->
                    <button class="btn btn-success btn-cons m-b-10" type="button"><i class="fa fa-cloud-upload"></i> <span class="bold">Upload</span>
                    </button>
                    <!-- Contextual button for informational alert messages -->
                    <button class="btn btn-info btn-cons m-b-10" type="button"><i class="fa fa-paste"></i> <span class="bold">Edit</span>
                    </button>
                    <!-- Indicates a dangerous or potentially negative action -->
                    <button class="btn btn-danger btn-cons m-b-10" type="button"><i class="fa fa-warning"></i>
                      <span class="bold">Warning</span>
                    </button>
                    <!-- Indicates a dangerous or potentially negative action -->
                    <button class="btn btn-default btn-cons m-b-10" type="button"><i class="pg-map"></i> Map</button>
                  </div>
                </div>
                <!-- END card -->
              </div>
              <div class="col-lg-6">
                <!-- START card -->
                <div class="card card-default">
                  <div class="card-header ">
                    <div class="card-title">Social Icon Buttons
                    </div>
                  </div>
                  <div class="card-body">
                    <p>Fancy social icons? here are some of pre-made icons and buttons done by use which can come in handy</p>
                    <br>
                    <button class="btn btn-block btn-info" type="button">
                      <span class="pull-left"><i class="fa fa-facebook"></i>
                                    </span>
                      <span class="bold">Login with Facebook</span>
                    </button>
                    <button class="btn btn-block btn-primary" type="button">
                      <span class="pull-left"><i class="fa fa-twitter"></i>
                                    </span>
                      <span class="bold">Login with Twitter</span>
                    </button>
                    <button class="btn btn-block btn-danger" type="button">
                      <span class="pull-left"><i class="fa fa-google-plus"></i>
                                    </span>
                      <span class="bold">Login with Google+</span>
                    </button>
                  </div>
                </div>
                <!-- END card -->
              </div>
            </div>
          </div>
          <!-- END CONTAINER FLUID -->
