    <ul>
      <li>
        <a href="#">Home</a>
      </li>
      <li>
        <a href="#"><span class="title">Link</span></a>
      </li>
      <li>
        <a href="javascript:;"><span class="title">Sub Menu</span>
        <span class=" arrow"></span></a>
        <ul class="">
          <li class="">
            <a href="#">Sub Link</a>
          </li>
          <li class="">
            <a href="#">Sub Link</a>
          </li>
          <li class="">
            <a href="#">Sub Link</a>
          </li>
        </ul>
      </li>
      <li>
    </ul>