<!doctype html>
<html>
{% include "docs/_includes/head.html" %}

<body class="index pg_scrollable" data-spy="scroll" data-target=".sidebar">
    <header>
        <div class="container">
            <a class="logo" href="#">
                <img src="{# ROOT #}assets/img/pages_logo_white.png" width="78" height="22">
            </a>
        </div>
    </header>
    <div class="container p-t-70">
        <div class="container-inner">
              <div class="secondary-sidebar-toggle bg-master-lighter padding-10 text-center hidden-lg-up">
                <a href="#" data-init="secondary-sidebar-toggle"><i class="pg pg-more"></i></a>
              </div>
              <div class="secondary-sidebar light" data-init="secondary-sidebar">
                 {% include "docs/_includes/sidebar.html" %}
              </div>
                <div class="inner-content full-height {# CONTENT_CLASS #} p-r-20 p-l-35 p-t-20">
                    {% block page %}{% endblock %}
              </div>
        </div>
    </div>
    <footer>
        Copyright Reserved Revox 2014 - 2017
    </footer>
    <script src="{# ROOT #}assets/plugins/jquery/jquery-1.11.1.min.js" type="text/javascript"></script>
    <script src="{# ROOT #}assets/plugins/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
    <script src="{# ROOT #}assets/plugins/modernizr.custom.js" type="text/javascript"></script>
    <script src="{# ROOT #}assets/plugins/tether/js/tether.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="{# ROOT #}assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="{# ROOT #}assets/plugins/highlight/highlight.pack.js" type="text/javascript"></script>
    <script src="{# ROOT #}assets/plugins/jquery-actual/jquery.actual.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="{# ROOT #}assets/plugins/bootstrap-select2/select2.min.js"></script>
    <script type="text/javascript" src="{# ROOT #}assets/plugins/classie/classie.js"></script>
    <script src="{# ROOT #}assets/plugins/jquery-scrollbar/jquery.scrollbar.min.js"></script>
    <script src="{# ROOT #}pages/js/pages.min.js" type="text/javascript"></scrip
    t>
    <script src="{# ROOT #}assets/js/sidebar.js" type="text/javascript"></script>
    <script src="{# ROOT #}assets/plugins/jquery-dynatree/jquery.dynatree.min.js" type="text/javascript"></script>
     {% block js_dep %}{% endblock %}
    <script src="{# ROOT #}assets/js/portlets.js" type="text/javascript"></script>
    <script>
    $(document).ready(function() {
        $.fn.scrollbar && $('.pg_scrollable').scrollbar({
            ignoreOverlay: false
        });
        //Initialize Pages core
        hljs.initHighlightingOnLoad();
        $("#default-tree").dynatree();
        $("#angular-tree").dynatree();
        $("#g-tree").dynatree();
        $("#b-tree").dynatree();
    });
    </script>
</body>

</html>