<head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <title>Pages Documentation - v3.0.0</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=1200, maximum-scale=1" />
    <link href="{# ROOT #}assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="{# ROOT #}assets/plugins/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="{# ROOT #}pages/css/pages-icons.css" rel="stylesheet" type="text/css" />
    <link href="{# ROOT #}assets/plugins/jquery-scrollbar/jquery.scrollbar.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="{# ROOT #}assets/plugins/bootstrap-select2/select2.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="{# ROOT #}assets/plugins/ion-slider/css/ion.rangeSlider.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="{# ROOT #}assets/plugins/ion-slider/css/ion.rangeSlider.skinFlat.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="{# ROOT #}assets/plugins/jquery-nouislider/jquery.nouislider.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="{# ROOT #}assets/plugins/bootstrap3-wysihtml5/bootstrap3-wysihtml5.min.css" rel="stylesheet" type="text/css" />
    <link href="{# ROOT #}assets/plugins/bootstrap-tag/bootstrap-tagsinput.css" rel="stylesheet" type="text/css" />
    <link href="{# ROOT #}assets/plugins/dropzone/css/dropzone.css" rel="stylesheet" type="text/css" />
    <link href="{# ROOT #}assets/plugins/switchery/css/switchery.min.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="{# ROOT #}assets/plugins/bootstrap-datepicker/css/datepicker3.css" rel="stylesheet" type="text/css" media="screen">
    <link href="{# ROOT #}assets/plugins/summernote/css/summernote.css" rel="stylesheet" type="text/css" media="screen">
    <link href="{# ROOT #}assets/plugins/jquery-dynatree/skin/ui.dynatree.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="{# ROOT #}assets/plugins/jquery-dynatree/skin/ui.dynatree.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="{# ROOT #}assets/plugins/jquery-dynatree/skin/ui.dynatree.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="{# ROOT #}pages/css/pages.css" rel="stylesheet" type="text/css" />
    <link href="{# ROOT #}assets/css/style.css" rel="stylesheet" type="text/css" />
    <link href="{# ROOT #}assets/css/print.css" rel="stylesheet" type="text/css" />
    <link href="{# ROOT #}assets/plugins/highlight/styles/github.css" rel="stylesheet" type="text/css" />
</head>