{% extends WIDGET_PATH + "src/layout.html" %}
{% block vendor_css %}
    <link href="{# PLUGINS_PATH #}nvd3/nv.d3.min.css" rel="stylesheet" type="text/css" media="screen" />
{% endblock %}
{% block vendor_js %}
    <script src="{# PLUGINS_PATH #}nvd3/lib/d3.v3.js" type="text/javascript"></script>
    <script src="{# PLUGINS_PATH #}nvd3/nv.d3.min.js" type="text/javascript"></script>
    <script src="{# PLUGINS_PATH #}nvd3/src/utils.js" type="text/javascript"></script>
    <script src="{# PLUGINS_PATH #}nvd3/src/tooltip.js" type="text/javascript"></script>
    <script src="{# PLUGINS_PATH #}nvd3/src/interactiveLayer.js" type="text/javascript"></script>
    <script src="{# PLUGINS_PATH #}nvd3/src/models/axis.js" type="text/javascript"></script>
    <script src="{# PLUGINS_PATH #}nvd3/src/models/line.js" type="text/javascript"></script>
    <script src="{# PLUGINS_PATH #}nvd3/src/models/lineWithFocusChart.js" type="text/javascript"></script>
    <script src="{# PLUGINS_PATH #}mapplic/js/hammer.js"></script>
    <script src="{# PLUGINS_PATH #}mapplic/js/jquery.mousewheel.js"></script>
    <script src="{# PLUGINS_PATH #}mapplic/js/mapplic.js"></script>
    <script src="{# PLUGINS_PATH #}rickshaw/rickshaw.min.js"></script>
    <script src="{# PLUGINS_PATH #}jquery-metrojs/MetroJs.min.js" type="text/javascript"></script>
    <script src="{# PLUGINS_PATH #}jquery-sparkline/jquery.sparkline.min.js" type="text/javascript"></script>
    <script src="{# PLUGINS_PATH #}skycons/skycons.js" type="text/javascript"></script>
    <script src="{# PLUGINS_PATH #}bootstrap-datepicker/js/bootstrap-datepicker.js" type="text/javascript"></script>
{% endblock %}
{% block content %}

        {% include PATH + "pages/dashboard/_widget/widget_pieChart.tpl" %}

{% endblock %}
