<section id="changelog">
    <h3 class="page-title">
            Changelog
          </h3>
    <hr>
    <br>
    <h3 id="grid-intro">v2.1.0</h3>
     <hr>
     <div class="m-b-10">
        <p>
            Please visit the following URL to access change log for v2.1.0 - <a href="http://help.revox.io/t/change-log-pages-2-1-0/17"> Change log </a>
        </p>
    </div> 
    <br>
    <h3 id="grid-intro">v1.1.0</h3>
    <br>
    <div class="m-b-10 b-b b-grey">
        <p><span class="label label-success m-r-10">Fixed</span>[Notifications] label-danger is missing </p>
        <div class="view-more bg-master-lighter m-t-10 m-b-10" style="display:none">
            <p class="p-l-15 p-r-15 p-t-15 p-b-15">
            </p>
        </div>
    </div>
    <div class="m-b-10 b-b b-grey">
        <p><span class="label label-success m-r-10">Fixed</span>[Calendar] Year selector out of page </p>
        <div class="view-more bg-master-lighter m-t-10 m-b-10" style="display:none">
            <p class="p-l-15 p-r-15 p-t-15 p-b-15">
            </p>
        </div>
    </div>
    <div class="m-b-10 b-b b-grey">
        <p><span class="label label-success m-r-10">Fixed</span>[DataTables] export widget hidden, buttons not rendering properly</p>
        <div class="view-more bg-master-lighter m-t-10 m-b-10" style="display:none">
            <p class="p-l-15 p-r-15 p-t-15 p-b-15">
            </p>
        </div>
    </div>
    <div class="m-b-10 b-b b-grey">
        <p><span class="label label-success m-r-10">Fixed</span>[Email] Try Pinning the Menu bar </p>
        <div class="view-more bg-master-lighter m-t-10 m-b-10" style="display:none">
            <p class="p-l-15 p-r-15 p-t-15 p-b-15">
                The delete button comes to the bottom on top of the Profile Picture.
            </p>
        </div>
    </div>
    <div class="m-b-10 b-b b-grey">
        <p><span class="label label-success m-r-10">Fixed</span>[Menu] “Level 1” is active “Level 2” opens </p>
        <div class="view-more bg-master-lighter m-t-10 m-b-10" style="display:none">
            <p class="p-l-15 p-r-15 p-t-15 p-b-15">
                When “Level 1” is active, the “Level 2” appears expanded on the page load
            </p>
        </div>
    </div>
    <div class="m-b-10 b-b b-grey">
        <p><span class="label label-success m-r-10">Fixed</span>[Quickview] Bug fixes </p>
        <div class="view-more bg-master-lighter m-t-10 m-b-10" style="display:none">
            <p class="p-l-15 p-r-15 p-t-15 p-b-15">
            </p>
        </div>
    </div>
    <div class="m-b-10 b-b b-grey">
        <p><span class="label label-success m-r-10">Fixed</span>[Portlets] draggable portlets </p>
        <div class="view-more bg-master-lighter m-t-10 m-b-10" style="display:none">
            <p class="p-l-15 p-r-15 p-t-15 p-b-15">
                If you move them all into one column, you can’t move them back to the second column.
            </p>
        </div>
    </div>
    <div class="m-b-10 b-b b-grey">
        <p><span class="label label-success m-r-10">Fixed</span>[Notifications] Circle notification </p>
        <div class="view-more bg-master-lighter m-t-10 m-b-10" style="display:none">
            <p class="p-l-15 p-r-15 p-t-15 p-b-15">
                Text hidden when menu is pinned
            </p>
        </div>
    </div>
    <div class="m-b-10 b-b b-grey">
        <p><span class="label label-success m-r-10">Fixed</span>[Quickview] Bug fixes </p>
        <div class="view-more bg-master-lighter m-t-10 m-b-10" style="display:none">
            <p class="p-l-15 p-r-15 p-t-15 p-b-15">
            </p>
        </div>
    </div>
    <div class="m-b-10 b-b b-grey">
        <p><span class="label label-success m-r-10">Fixed</span>[Bug] Selects Inputs </p>
        <div class="view-more bg-master-lighter m-t-10 m-b-10" style="display:none">
            <p class="p-l-15 p-r-15 p-t-15 p-b-15">
            </p>
        </div>
    </div>
    <div class="m-b-10 b-b b-grey">
        <p><span class="label label-success m-r-10">Fixed</span>[Documentation] cs-select invalid markup </p>
        <div class="view-more bg-master-lighter m-t-10 m-b-10" style="display:none">
            <p class="p-l-15 p-r-15 p-t-15 p-b-15">
            </p>
        </div>
    </div>
    <div class="m-b-10 b-b b-grey">
        <p><span class="label label-success m-r-10">Fixed</span>[Bug] Switchery Sizes </p>
        <div class="view-more bg-master-lighter m-t-10 m-b-10" style="display:none">
            <p class="p-l-15 p-r-15 p-t-15 p-b-15">
            </p>
        </div>
    </div>
    <div class="m-b-10 b-b b-grey">
        <p><span class="label label-success m-r-10">Fixed</span>Missing Gulp File Task </p>
        <div class="view-more bg-master-lighter m-t-10 m-b-10" style="display:none">
            <p class="p-l-15 p-r-15 p-t-15 p-b-15">
            </p>
        </div>
    </div>
    <div class="m-b-10 b-b b-grey">
        <p><span class="label label-success m-r-10">Fixed</span>Iphone register screen </p>
        <div class="view-more bg-master-lighter m-t-10 m-b-10" style="display:none">
            <p class="p-l-15 p-r-15 p-t-15 p-b-15">
            </p>
        </div>
    </div>
    <div class="m-b-10 b-b b-grey">
        <p><span class="label label-success m-r-10">Fixed</span>[Calendar] Week Separator </p>
        <div class="view-more bg-master-lighter m-t-10 m-b-10" style="display:none">
            <p class="p-l-15 p-r-15 p-t-15 p-b-15">
                Calendar Week Separator Issue on Language Change
            </p>
        </div>
    </div>
    <div class="m-b-10 b-b b-grey">
        <p><span class="label label-success m-r-10">Fixed</span>[Search] Live search </p>
        <div class="view-more bg-master-lighter m-t-10 m-b-10" style="display:none">
            <p class="p-l-15 p-r-15 p-t-15 p-b-15">
                Drops the last character
            </p>
        </div>
    </div>
    <div class="m-b-10 b-b b-grey">
        <p><span class="label label-success m-r-10">Fixed</span>[Tabs] Markup for collapse panels </p>
        <div class="view-more bg-master-lighter m-t-10 m-b-10" style="display:none">
            <p class="p-l-15 p-r-15 p-t-15 p-b-15">
                Wrong HTML markup
            </p>
        </div>
    </div>
    <div class="m-b-10 b-b b-grey">
        <p><span class="label label-success m-r-10">Fixed</span>[Form Wizard] Last Step</p>
        <div class="view-more bg-master-lighter m-t-10 m-b-10" style="display:none">
            <p class="p-l-15 p-r-15 p-t-15 p-b-15">
                "Finish" button not displayed in the last step
            </p>
        </div>
    </div>
    <div class="m-b-10 b-b b-grey">
        <p><span class="label label-success m-r-10">Fixed</span>[Chat] In IE chat bubble </p>
        <div class="view-more bg-master-lighter m-t-10 m-b-10" style="display:none">
            <p class="p-l-15 p-r-15 p-t-15 p-b-15">
                The messages don’t continue to a new line bug
            </p>
        </div>
    </div>
    <br>
    <div class="m-b-10 b-b b-grey">
        <p><span class="label label-info m-r-10">Added</span>Provide PSD files</p>
        <div class="view-more bg-master-lighter m-t-10 m-b-10" style="display:none">
            <p class="p-l-15 p-r-15 p-t-15 p-b-15">
            </p>
        </div>
    </div>
    <div class="m-b-10 b-b b-grey">
        <p><span class="label label-info m-r-10">Added</span>HAML files for all pages</p>
        <div class="view-more bg-master-lighter m-t-10 m-b-10" style="display:none">
            <p class="p-l-15 p-r-15 p-t-15 p-b-15">
            </p>
        </div>
    </div>
    <div class="m-b-10 b-b b-grey">
        <p><span class="label label-info m-r-10">Added</span>[Builder] Add sticky footer</p>
        <div class="view-more bg-master-lighter m-t-10 m-b-10" style="display:none">
            <p class="p-l-15 p-r-15 p-t-15 p-b-15">
            </p>
        </div>
    </div>
    <div class="m-b-10 b-b b-grey">
        <p><span class="label label-info m-r-10">Added</span>[Email] Add email compose view</p>
        <div class="view-more bg-master-lighter m-t-10 m-b-10" style="display:none">
            <p class="p-l-15 p-r-15 p-t-15 p-b-15">
            </p>
        </div>
    </div>
    <div class="m-b-10 b-b b-grey">
        <p><span class="label label-info m-r-10">Added</span>[Documentation] Add Chat feature, Social and Email</p>
        <div class="view-more bg-master-lighter m-t-10 m-b-10" style="display:none">
            <p class="p-l-15 p-r-15 p-t-15 p-b-15">
            </p>
        </div>
    </div>
    <div class="m-b-10 b-b b-grey">
        <p><span class="label label-info m-r-10">Added</span>[Documentation] Mobile View</p>
        <div class="view-more bg-master-lighter m-t-10 m-b-10" style="display:none">
            <p class="p-l-15 p-r-15 p-t-15 p-b-15">
                How to use mobile/list views/transitions
            </p>
        </div>
    </div>
    <div class="m-b-10 b-b b-grey">
        <p><span class="label label-info m-r-10">Added</span>[Views] Nested Levels</p>
        <div class="view-more bg-master-lighter m-t-10 m-b-10" style="display:none">
            <p class="p-l-15 p-r-15 p-t-15 p-b-15">
            </p>
        </div>
    </div>
    <div class="m-b-10 b-b b-grey">
        <p><span class="label label-info m-r-10">Added</span>[Views] Multiple Views</p>
        <div class="view-more bg-master-lighter m-t-10 m-b-10" style="display:none">
            <p class="p-l-15 p-r-15 p-t-15 p-b-15">
            </p>
        </div>
    </div>
    <div class="m-b-10 b-b b-grey">
        <p><span class="label label-info m-r-10">Added</span>Add logout to dropdown near profile image</p>
        <div class="view-more bg-master-lighter m-t-10 m-b-10" style="display:none">
            <p class="p-l-15 p-r-15 p-t-15 p-b-15">
            </p>
        </div>
    </div>
    <div class="m-b-10 b-b b-grey">
        <p><span class="label label-info m-r-10">Added</span>[Builder] Export options</p>
        <div class="view-more bg-master-lighter m-t-10 m-b-10" style="display:none">
            <p class="p-l-15 p-r-15 p-t-15 p-b-15">
            </p>
        </div>
    </div>
    <div class="m-b-10 b-b b-grey">
        <p><span class="label label-info m-r-10">Added</span>[Email] Toolbar</p>
        <div class="view-more bg-master-lighter m-t-10 m-b-10" style="display:none">
            <p class="p-l-15 p-r-15 p-t-15 p-b-15">
                Add Bold and Italics options in the toolbar
            </p>
        </div>
    </div>
    <div class="m-b-10 b-b b-grey">
        <p><span class="label label-info m-r-10">Added</span>[New] Add a time picker</p>
        <div class="view-more bg-master-lighter m-t-10 m-b-10" style="display:none">
            <p class="p-l-15 p-r-15 p-t-15 p-b-15">
            </p>
        </div>
    </div>
    <div class="m-b-10 b-b b-grey">
        <p><span class="label label-info m-r-10">Added</span>[Email] Highlight selected </p>
        <div class="view-more bg-master-lighter m-t-10 m-b-10" style="display:none">
            <p class="p-l-15 p-r-15 p-t-15 p-b-15">
                Highlight selected email in the list
            </p>
        </div>
    </div>
    <div class="m-b-10 b-b b-grey">
        <p><span class="label label-info m-r-10">Added</span>[New] rails boilerplate, sails boilerplate, express</p>
        <div class="view-more bg-master-lighter m-t-10 m-b-10" style="display:none">
            <p class="p-l-15 p-r-15 p-t-15 p-b-15">
                Boilerplate generator for rails,expressjs & sailsjs
            </p>
        </div>
    </div>
    <div class="m-b-10 b-b b-grey">
        <p><span class="label label-info m-r-10">Added</span>[Typography] .label-danger </p>
        <div class="view-more bg-master-lighter m-t-10 m-b-10" style="display:none">
            <p class="p-l-15 p-r-15 p-t-15 p-b-15">
                label-danger style is missing in typography.less
            </p>
        </div>
    </div>
    <div class="m-b-10 b-b b-grey">
        <p><span class="label label-info m-r-10">Added</span>Trigger 'change' and other events from cs-select</p>
        <div class="view-more bg-master-lighter m-t-10 m-b-10" style="display:none">
            <p class="p-l-15 p-r-15 p-t-15 p-b-15">
            </p>
        </div>
    </div>
    <div class="m-b-10 b-b b-grey">
        <p><span class="label label-info m-r-10">Added</span>[Calendar] Start and End Of Week</p>
        <div class="view-more bg-master-lighter m-t-10 m-b-10" style="display:none">
            <p class="p-l-15 p-r-15 p-t-15 p-b-15">
            </p>
        </div>
    </div>
    <div class="m-b-10 b-b b-grey">
        <p><span class="label label-info m-r-10">Added</span>[Documentation] Charts D3</p>
        <div class="view-more bg-master-lighter m-t-10 m-b-10" style="display:none">
            <p class="p-l-15 p-r-15 p-t-15 p-b-15">
                Mention about D3 dependency for Rickshaw
            </p>
        </div>
    </div>
    <div class="m-b-10 b-b b-grey">
        <p><span class="label label-info m-r-10">Added</span>[New] Add timeline page</p>
        <div class="view-more bg-master-lighter m-t-10 m-b-10" style="display:none">
            <p class="p-l-15 p-r-15 p-t-15 p-b-15">
            </p>
        </div>
    </div>
    <div class="m-b-10 b-b b-grey">
        <p><span class="label label-info m-r-10">Added</span>[New] Gallery page</p>
        <div class="view-more bg-master-lighter m-t-10 m-b-10" style="display:none">
            <p class="p-l-15 p-r-15 p-t-15 p-b-15">
            </p>
        </div>
    </div>
    <br>
    <div class="m-b-10 b-b b-grey">
        <p><span class="label label-inverse m-r-10">Added</span>[Update] Jquery 1.11.1</p>
        <div class="view-more bg-master-lighter m-t-10 m-b-10" style="display:none">
            <p class="p-l-15 p-r-15 p-t-15 p-b-15">
            </p>
        </div>
    </div>
</section>