{% extends WIDGET_PATH + "src/layout.html" %}
{% block vendor_css %}
<link href="{# PLUGINS_PATH #}select2/css/select2.min.css" media="screen" rel="stylesheet" type="text/css">
{% endblock %}
{% block vendor_js %}
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp" type="text/javascript"></script>
<script src="{# PLUGINS_PATH #}select2/js/select2.min.js" type="text/javascript"></script>
{% endblock %}

{% block content %}
        <div class="sales-map-widget card no-border no-margin widget-loader-circle todolist-widget">
            <div class="card-header clearfix p-l-30">
                <div class="row">
                    <div class="img-holder"><img class="p-t-10" src="img/revox-logo.svg"></div>
                    <div class="col-xs-10 col-sm-5 col-sm-5 p-l-10">
                        <p class="no-margin p-l-5">Generate Map</p><select class="full-width" data-init-plugin="select2">
                            <option>
                                Sales for Revox admin
                            </option>
                            <option>
                                Sales for Web-arch
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="card-block bg-master-light no-padding">
             <div class="map-body">
                <div class="full-height full-width" id="map"></div>
                <div class="pull-bottom m-l-20 m-b-35">
                    <div class="btn-group btn-group-vertical" data-toggle="buttons-radio">
                        <button class="btn btn-default btn-xs" id="map-zoom-in"><i class="fa fa-plus"></i></button>
                         <button class="btn btn-default btn-xs" id="map-zoom-out"><i class="fa fa-minus"></i></button>
                    </div>
                </div>                                     
             </div>

            </div>
        </div>
{% endblock %}
