    <!-- START PAGE-CONTAINER -->
    <div class="lock-container full-height">
      <!-- START PAGE CONTENT WRAPPER -->
      <div class="full-height sm-p-t-50 align-items-center d-md-flex">
        <div class="row full-width">
          <div class="col-md-6">
            <!-- START Lock Screen User Info -->
            <div class="d-flex justify-content-start align-items-center">
              <div class="">
                <div class="thumbnail-wrapper circular d48 m-r-10 ">
                  <img width="43" height="43" data-src-retina="{# ASSETS #}/img/profiles/avatar_small2x.jpg" data-src="{# ASSETS #}/img/profiles/avatar.jpg" alt="" src="{# ASSETS #}/img/profiles/avatar_small2x.jpg">
                </div>
              </div>
              <div class="">
                <h5 class="logged hint-text no-margin">
                              Logged in as
                          </h5>
                <h2 class="name no-margin">David Nester</h2>
              </div>
            </div>
            <!-- END Lock Screen User Info -->
          </div>
          <div class="col-md-6">
            <!-- START Lock Screen Form -->
            <form id="form-lock" role="form" action="index.html">
              <div class="row">
                <div class="col-md-12">
                  <!-- START Form Control -->
                  <div class="form-group form-group-default sm-m-t-30">
                    <label>Credentials</label>
                    <div class="controls">
                      <input type="text" name="password" placeholder="Password to unlock" class="form-control" required>
                    </div>
                  </div>
                  <!-- END Form Control -->
                </div>
              </div>
              <!-- START Lock Screen Notification Icons-->
              <div class="row">
                <div class="col-md-12 sm-p-l-25">
                  <a href="#" class="inline text-black fs-14 hint-text"><i class="pg-mail"></i> <span class="hint-text">12</span></a>
                  <a href="#" class="inline text-black  fs-14 hint-text m-l-30"><i class="pg-comment"></i> <span class="hint-text">4</span></a>
                </div>
              </div>
              <!-- END Lock Screen Notification Icons-->
            </form>
            <!-- END Lock Screen Form -->
          </div>
        </div>
      </div>
      <!-- END PAGE CONTENT WRAPPER -->
    </div>
    <!-- END PAGE-CONTAINER -->
    <!-- START Lock Screen Footer Content-->
    <div class="pull-bottom full-width">
      <div class="lock-container m-b-10 clearfix row">
        <div class="inline col-lg-2">
          <img src="{# ASSETS #}/img/demo/pages_icon.png" alt="" class="m-t-5 " data-src="{# ASSETS #}/img/demo/pages_icon.png" data-src-retina="{# ASSETS #}/img/demo/pages_icon_2x.png" width="60" height="60">
        </div>
        <div class="col-lg-10 m-t-15">
          <p class="hinted-text small inline ">No part of this website or any of its contents may be reproduced, copied, modified or adapted, without the prior written consent of the author, unless otherwise indicated for stand-alone materials.</p>
        </div>
      </div>
    </div>
    <!-- END Lock Screen Footer Content-->