
<section id="google">
<h3 class="">Google Maps</h3>
<hr>
<p>This section will guide you through how to setup a basic google map and add overlay colors to it,For more advance options please refer the google map developer API for Web</p>
<a href="https://developers.google.com/maps/documentation/javascript/tutorial" target="_blank" class="btn btn-complete">Google Map Developer API</a>
</section>

<section>
    <h4 class="section-sep">jQuery users</h4>
    <h5><a href="#line">
           Setting up a map
            </a>
          </h5>
    <h5 class="semi-bold m-t-25">Step one</h5>
    <p class="m-b-15">
        Add the following google map api js, this is without private key. <a href="js_rule.html">Where to add this? please refer the JS third party plugin include rules</a>
    </p>
    <pre><code class="xml">&lt;script type=&quot;text/javascript&quot; src=&quot;http://maps.google.com/maps/api/js?sensor=true&quot;&gt;&lt;/script&gt;</pre></code>
    <h5 class="semi-bold m-t-25">Step Two</h5>
    <p class="m-b-15">
        Create an Empty div with an ID
    </p>
    <p class="all-caps fs-12 bold">
        example :
    </p>
    <pre><code class="xml">&lt;div id=&quot;myMap&quot;&gt;&lt;/div&gt;</pre></code>
    <h5 class="semi-bold m-t-25">Step Three</h5>
    <p class="m-b-15">
        Initialize Google Map.<a href="js_rule.html">Where to add this? please refer the JS third party plugin include rules</a>
    </p>
    <p class="all-caps fs-12 bold">
        example :
    </p>
    <pre><code class="js"> // When the window has finished loading create our google map below
 google.maps.event.addDomListener(window, 'load', init);

var map;
var zoomLevel = 11;

 function init() {
     // Basic options for a simple Google Map
     // For more options see: https://developers.google.com/maps/documentation/javascript/reference#MapOptions
     var mapOptions = {
         // How zoomed in you want the map to start at (always required)
         zoom: zoomLevel,
         disableDefaultUI: true,
         // The latitude and longitude to center the map (always required)
         center: new google.maps.LatLng(40.6700, -73.9400), // New York
     };

     // Get the HTML DOM element that will contain your map 
     // We are using a div with id="map" seen below in the <body>
     var mapElement = document.getElementById('myMap');

     // Create the Google Map using out element and options defined above
     map = new google.maps.Map(mapElement, mapOptions);
 }</pre></code>
</section>
<section>
    <h5><a href="#line">
           Map themes
            </a>
          </h5>
    <p>Google Maps comes with styling option that you can change, add the following <code>styles</code> attribute to <code>mapOptions</code> in the JS you created before</p>
    <p class="all-caps fs-12 bold">
        example :
    </p>
    <pre><code class="js">styles: [{
   featureType: 'water',
   elementType: 'all',
   stylers: [{
       hue: '#e9ebed'
   }, {
       saturation: -78
   }, {
       lightness: 67
   }, {
       visibility: 'simplified'
   }]
}, {
   featureType: 'landscape',
   elementType: 'all',
   stylers: [{
       hue: '#ffffff'
   }, {
       saturation: -100
   }, {
       lightness: 100
   }, {
       visibility: 'simplified'
   }]
}, {
   featureType: 'road',
   elementType: 'geometry',
   stylers: [{
       hue: '#bbc0c4'
   }, {
       saturation: -93
   }, {
       lightness: 31
   }, {
       visibility: 'simplified'
   }]
}, {
   featureType: 'poi',
   elementType: 'all',
   stylers: [{
       hue: '#ffffff'
   }, {
       saturation: -100
   }, {
       lightness: 100
   }, {
       visibility: 'off'
   }]
}, {
   featureType: 'road.local',
   elementType: 'geometry',
   stylers: [{
       hue: '#e9ebed'
   }, {
       saturation: -90
   }, {
       lightness: -8
   }, {
       visibility: 'simplified'
   }]
}, {
   featureType: 'transit',
   elementType: 'all',
   stylers: [{
       hue: '#e9ebed'
   }, {
       saturation: 10
   }, {
       lightness: 69
   }, {
       visibility: 'on'
   }]
}, {
   featureType: 'administrative.locality',
   elementType: 'all',
   stylers: [{
       hue: '#2c2e33'
   }, {
       saturation: 7
   }, {
       lightness: 19
   }, {
       visibility: 'on'
   }]
}, {
   featureType: 'road',
   elementType: 'labels',
   stylers: [{
       hue: '#bbc0c4'
   }, {
       saturation: -93
   }, {
       lightness: 31
   }, {
       visibility: 'on'
   }]
}, {
   featureType: 'road.arterial',
   elementType: 'labels',
   stylers: [{
       hue: '#bbc0c4'
   }, {
       saturation: -93
   }, {
       lightness: -2
   }, {
       visibility: 'simplified'
   }]
}]</code></pre>
    <br>
    <p>For more google map Themes, try the following link</p>
    <a href="http://snazzymaps.com/" target="_blank" class="btn btn-complete">Google Map Themes</a>
</section>