<section id="vector_map">
    <h3 class="">Vector Map</h3>
    <hr>
    <h5>This is powered by a Premium Plugin called <a href="http://codecanyon.net/item/mapplic-custom-interactive-map-jquery-plugin/6275001" target="_blank">Mapplic</a> available in <a href="http://codecanyon.net">Codecanyon</a>, Pages customers are free to use it</h5>
    <p>Maplic Documentation is available in your "Pages" package</p>
    <p>For Information and support, please refer </p>
    <a href="http://codecanyon.net/item/mapplic-custom-interactive-map-jquery-plugin/6275001" target="_blank" class="btn btn-complete">Mapplic Support</a>
    <br>
    <br>

</section>