<div class="header ">
  <div *ngIf="boxed; else nonBoxedBlock" class="container">
    <div class="header-inner">
      <ng-container *ngTemplateOutlet="nonBoxedBlock"></ng-container>
    </div>
  </div>

  <ng-template #nonBoxedBlock><ng-content></ng-content>
  </ng-template>
</div>