

<section id="layouts">
    <h3 class="page-title">Layouts</h3>
    <hr>
    <p>
        Layouts in Pages help you to customize the main view of your app, this comes with pre built layout options that will be updated over time. Pages now comes with 5 Different layouts and each layout will atleast contain 2 optional layouts with support to 7 themes.
    </p>
    <br>
    <br>
    <div class="text-center">
    </div>
</section>
<section>
    <h5><a href="#line">
            Pages Condensed
              </a>
            </h5>
    <p class="m-b-15">
        One of our most popular Layouts, Pages Condensed offers a wide range of responsive space specifically for dashboards with heavy content.
        <br>
        <br>
        Quick start - 
        <code class="xml hljs ">
            getting_started/condensed_layout.html
        </code>
        <br>
        Demo Files - 
        <code class="xml hljs ">
            demo/consended/
        </code>
        <br>
        <br>
        <br>
    </p>
    <h5><a href="#line">
            Pages Casual
              </a>
            </h5>
    <p class="m-b-15">
        A new tone of voice – a relaxed, friendly, joyful layout that quickly makes the user experience more personal, casual and fun!. 
        Comes with horizontal layout and sidebar option
        <br>
        <br>
        Quick start - 
        <code class="xml hljs ">
            getting_started/casual_default.html
        </code>
        <br>
        Demo Files - 
        <code class="xml hljs ">
            demo/casual/
        </code>
        <br>
        <br>
        <br>
    </p>

    <h5><a href="#line">
            Pages Corpoerate
              </a>
            </h5>
    <p class="m-b-15">
       Corporate is a bold, cool Layout that elevates your content by utilizing a clean layout and a simple, open interface.
       Contains boxed version and secondary sidebar.
        <br>
        <br>
        Quick start - 
        <code class="xml hljs ">
            getting_started/corporate.html
        </code>
        <br>
        Demo Files - 
        <code class="xml hljs ">
            demo/corporate/
        </code>
        <br>
        <br>
        <br>
    </p>

    <h5><a href="#line">
            Simply White
              </a>
            </h5>
    <p class="m-b-15">
       In a world of complexity, Simplicity defeats stress. Simply white is an open simple, minimal yet striking layout, built to combat stress.
       Contains boxed version and secondary sidebar.
        <br>
        <br>
        Quick start - 
        <code class="xml hljs ">
            getting_started/simply_white.html
        </code>
        <br>
        Demo Files - 
        <code class="xml hljs ">
            demo/simply_white/
        </code>
        <br>
        <br>
        <br>
    </p>

    <h5><a href="#line">
            Executive
              </a>
            </h5>
    <p class="m-b-15">
      A Professional template with a timeless look, best suited to quickly create a serious organized experience.
      Comes with horizontal layout and sidebar option
        <br>
        <br>
        Quick start - 
        <code class="xml hljs ">
            getting_started/executive_default.html
        </code>
        <br>
        Demo Files - 
        <code class="xml hljs ">
            demo/executive/
        </code>
        <br>
        <br>
        <br>
    </p>
</section>
<p>Other Useful resources thay you may find:</p>
<ul class="other-ref">
    <li><a href="{# ROOT #}partials/themes.html">Themes</a></li>
</ul>