


<section id="calendar">
    <h3 class="page-title">Calendar</h3>
<hr>
    <p>Pages calendar plugin is exclusive only on pages and is not a third party plugin. The horizontal scrolling helps it to fit easily on to small screens and user experience is seemless across all platforms. It supports many features including <strong>multiple languages and timezones</strong>
    </p>
</section>
<h5> Dependencies </h5>
<pre><code class="xml">&lt;script src=&quot;assets/plugins/interactjs/interact.min.js&quot; type=&quot;text/javascript&quot;&gt;&lt;/script&gt;
&lt;script src=&quot;assets/plugins/moment/moment-with-locales.min.js&quot;&gt;&lt;/script&gt;</pre></code>
<br>
<h5>Pages Calendar Lib </h5>
<pre><code class="xml">&lt;script src=&quot;pages/js/pages.calendar.min.js&quot;&gt;&lt;/script&gt;</pre></code>
<br>
<h5>HTML Source </h5>
<p> Inlcude the following HTML source to your file, you can remove the compontents you do not need to have</p>
<pre><code class="xml">&lt;div id=&quot;myCalendar&quot; class=&quot;full-height&quot;&gt;&lt;/div&gt;</pre></code>
<br>
<h5>Initialize Pages Calendar</h5>
<p>To initialize pages calendar with default setting use the following code</p>
<pre><code class="xml">$('#myCalendar').pagescalendar();</code></pre>
<br><br>
<h4>Calendar Settings and Callbacks</h4>
<pre><code class="xml"> $('body').pagescalendar({
    ui: {
        //Year Selector
        year: {
            visible: true,
            format: 'YYYY',
            startYear: '2000',
            endYear: moment().add(10, 'year').format('YYYY'),
            eventBubble: true
        },
        //Month Selector
        month: {
            visible: true,
            format: 'MMM',
            eventBubble: true
        },
        dateHeader: {
            format: 'MMMM YYYY, D dddd',
            visible: true,
        },
        //Mini Week Day Selector
        week: {
            day: {
                format: 'D'
            },
            header: {
                format: 'dd'
            },
            eventBubble: true,
            startOfTheWeek: '0',
            endOfTheWeek:'6'
        },
        //Week view Grid Options
        grid: {
            dateFormat: 'D dddd',
            timeFormat: 'h A',
            eventBubble: true,
            scrollToFirstEvent:false,
            scrollToAnimationSpeed:300,
            scrollToGap:20
        }
    },
    eventObj: {
        editable: true
    },
    view:'week',
    now: null,
    locale: 'en',
    //Event display time format
    timeFormat: 'h:mm a',
    minTime:0,
    maxTime:24,
    dateFormat: 'MMMM Do YYYY',
    slotDuration: '30', //In Mins : supports 15, 30 and 60
    events: [],
    eventOverlap: false,
    weekends:true,
    disableDates:[],
    //Event CallBacks
    onViewRenderComplete: function() {},
    onEventDblClick: function() {},
    onEventClick: function(event) {},
    onEventRender: function() {},
    onEventDragComplete: function(event) {},
    onEventResizeComplete: function(event) {},
    onTimeSlotDblClick: function(timeSlot) {},
    onDateChange:function(range){}
})</code></pre>
<p id="sampleevenobj">
    <br>
    <h4>Sample JSON Event Object</h4>
    <pre><code class="xml">[
    {
        "title": "Call Dave",
        "class": "bg-success-lighter",
        "start": "2014-10-07T06:00:00",
        "end": "2014-10-07T08:00:24",
        "other": {}
    },
    {
        "title": "Meeting Roundup",
        "class": "bg-success-lighter",
        "start": "2014-11-07T06:00:00"
    },
    {
        "title": "Double click Any where",
        "class": "bg-complete-lighter",
        "start": "2014-11-07T01:00:00",
        "end": "2014-11-07T02:00:00",
        "other": {
            "note": "test"
        }
    }
]</code></pre>
</p>
<p>
    <br>
    <h4>Public Methods</h4>
    <p class="bold"> $('#my_calendar_elment').pagescalendar('rebuild');</p>
    <p>Rebuild your calendar</p>
    <br>
    <p class="bold"> $('#my_calendar_elment').pagescalendar('today');</p>
    <p>Set date to current date</p>
    <br>
    <p class="bold"> $('#my_calendar_elment').pagescalendar('next');</p>
    <p>Next Month</p>
    <br>
    <p class="bold"> $('#my_calendar_elment').pagescalendar('prev');</p>
    <p>Previous Month</p>
    <br>
    <p class="bold"> $('#my_calendar_elment').pagescalendar('setDate',value);</p>
    <p>Parse in the date string to set a date to the calendar, it will accept any standard date formate</p>
    <br>
    <p class="bold"> $('body').pagescalendar('getDate',formate);</p>
    <p>You can get the current date of the calendar and also pass in the required date formate to get the the desire formate output
        <br>
        <br>
        <strong>example :</strong><code> $('#my_calendar_elment').pagescalendar('getDate','dd/mm/yyyy');</code>
        <br> It will accept any date formate string
        <br>
        <br>
        <p class="bold"> $('#my_calendar_elment').pagescalendar('render');</p>
        <p>To render the calendar</p>
        <br>
        <p class="bold"> $('#my_calendar_elment').pagescalendar('setLocale','fr');</p>
        <p>Change langues</p>
        <br>
        <p class="bold"> $('#my_calendar_elment').pagescalendar('reloadEvent');</p>
        <p>Reload and draw events for the particular view.</p>
        <br>
        <p class="bold"> $('#my_calendar_elment').pagescalendar('addEvent',eventObject);</p>
        <p>Adding an event to the calendar using the even object varriable, demostrated in demos/assets/js/calendar.js</p>
        <br>
        <p class="bold"> $('#my_calendar_elment').pagescalendar('addEvent',eventArray);</p>
        <p>Add a batch of events at once.</p>
        <br>
        <p class="bold"> $('#my_calendar_elment').pagescalendar('removeEvent',index);</p>
        <p>Removing an event also demonstrated in : demos/assets/js/calendar.js</p>
        <br>
        <p class="bold"> $('#my_calendar_elment').pagescalendar('removeAllEvents');</p>
        <p>This method will remove all events in your array</p>
        <br>
        <p class="bold"> $('#my_calendar_elment').pagescalendar('updateEvent',eventObject);</p>
        <p>Editing an event to the calendar using the even object varriable, demostrated in demos/assets/js/calendar.js</p>
        <br>
        <p class="bold"> $('#my_calendar_elment').pagescalendar('getEvents',option);</p>
        <p>Will get you all the events in your calendar array</p>
        <br>
        <p class="bold"> $('#my_calendar_elment').pagescalendar('view',option);</p>
        <p>You can set the view / You can change your view to : "month" & " week"</p>
        <br>
        <p class="bold"> $('#my_calendar_elment').pagescalendar('getView');</p>
        <p>Display the view type that is currently loaded : "month" or " week"</p>
        <br>
        <p class="bold"> $('#my_calendar_elment').pagescalendar('getDateRangeInView');</p>
        <p>Will display start and end date of the current view</p>
        <br>
         <p class="bold"> $('#my_calendar_elment').pagescalendar('getDateRangeInView');</p>
        <p>Will display start and end date of the current view</p>
        <br>
         <p class="bold"> $('#my_calendar_elment').pagescalendar('setState',state);</p>
        <p>You can set state mannually when you need to, there are two states "loading" and "loaded", This will help you to show a progressbar for lazy event fetching</p>
        <br>
        <p class="bold"> $('#my_calendar_elment').pagescalendar('error',msg);</p>
        <p>You can display an error message on your calendar by passing in a string</p>
        <br>
    </p>
    <p class="bold"> $('#my_calendar_elment').pagescalendar('scrollToFirstEvent')</p>
    <p>Scroll to the first even on week and day view
        <br>
        <strong>Settings</strong><br>
<pre><code class="xml">grid: {
    dateFormat: 'D dddd',
    timeFormat: 'h A',
    eventBubble: true,
    scrollToFirstEvent:false,
    scrollToAnimationSpeed:300,
    scrollToGap:20
}</code></pre>
    </p>
    <br>
    <h4>Callbacks</h4>
    <p> You can see a list of call back demostrated in demo/assets/calendar.js file </p>
    <p class="bold">onViewRenderComplete</p>
    <p>On Render Complete</p>
    <br>
    <p class="bold">onEventDblClick</p>
    <p>Event Double Click</p>
    <br>
    <p class="bold">onEventClick(event)</p>
    <p>Event click call back returns the clicked event details into an array, you can
        <code>console.log(event)</code> to see all event attributes
    </p>
    <br>
    <p class="bold">onEventRender</p>
    <p>After Events are rendered to the view</p>
    <br>
    <p class="bold">onEventDragComplete</p>
    <p>After user drag event is completed</p>
    <br>
    <p class="bold">onEventResizeComplete</p>
    <p>After user resize event is completed</p>
    <br>
    <p class="bold">onTimeSlotDblClick(timeSlot)</p>
    <p>Double click time slot on the grid, returns the date and time of the particular timeslot</p>
    <br>
    <p class="bold">onDateChange(range)</p>
    <p>When ever the calendar's date is change, this call back will return a range, i.e: range.start and range.end both are dates</p>
    <br>
    <br>
    <h4 id="lang">Supported Languages</h4>
    <p>Use the language code and set it to <code>locale</code> </p>
    <table class="table table-bordered ">
        <thead>
            <tr>
                <th>Language</th>
                <th>Code</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Afrikaans</td>
                <td>af</td>
            </tr>
            <tr>
                <td>Albanian</td>
                <td>sq</td>
            </tr>
            <tr>
                <td>Armenian</td>
                <td>hy-am</td>
            </tr>
            <tr>
                <td>Azerbaijani</td>
                <td>az</td>
            </tr>
            <tr>
                <td>Bahasa Indonesia</td>
                <td>id</td>
            </tr>
            <tr>
                <td>Bahasa Malayu</td>
                <td>ms-my</td>
            </tr>
            <tr>
                <td>Basque</td>
                <td>eu</td>
            </tr>
            <tr>
                <td>Belarusian</td>
                <td>be</td>
            </tr>
            <tr>
                <td>Bengali</td>
                <td>bn</td>
            </tr>
            <tr>
                <td>Bosnian</td>
                <td>bs</td>
            </tr>
            <tr>
                <td>Breton</td>
                <td>br</td>
            </tr>
            <tr>
                <td>Bulgarian</td>
                <td>bg</td>
            </tr>
            <tr>
                <td>Catalan</td>
                <td>ca</td>
            </tr>
            <tr>
                <td>Chinese</td>
                <td>zh-cn</td>
            </tr>
            <tr>
                <td>Chinese (Traditional)</td>
                <td>zh-tw</td>
            </tr>
            <tr>
                <td>Chuvash</td>
                <td>cv</td>
            </tr>
            <tr>
                <td>Croatian</td>
                <td>hr</td>
            </tr>
            <tr>
                <td>Czech</td>
                <td>cs</td>
            </tr>
            <tr>
                <td>Danish</td>
                <td>da</td>
            </tr>
            <tr>
                <td>Dutch</td>
                <td>nl</td>
            </tr>
            <tr>
                <td>English</td>
                <td>en</td>
            </tr>
            <tr>
                <td>English (Australia)</td>
                <td>en-au</td>
            </tr>
            <tr>
                <td>English (Canada)</td>
                <td>en-ca</td>
            </tr>
            <tr>
                <td>English (England)</td>
                <td>en-gb</td>
            </tr>
            <tr>
                <td>Esperanto</td>
                <td>eo</td>
            </tr>
            <tr>
                <td>Estonian</td>
                <td>et</td>
            </tr>
            <tr>
                <td>Farose</td>
                <td>fo</td>
            </tr>
            <tr>
                <td>Finnish</td>
                <td>fi</td>
            </tr>
            <tr>
                <td>French</td>
                <td>fr</td>
            </tr>
            <tr>
                <td>French (Canada)</td>
                <td>fr-ca</td>
            </tr>
            <tr>
                <td>Galician</td>
                <td>gl</td>
            </tr>
            <tr>
                <td>Georgian</td>
                <td>ka</td>
            </tr>
            <tr>
                <td>German</td>
                <td>de</td>
            </tr>
            <tr>
                <td>German (Austria)</td>
                <td>de-at</td>
            </tr>
            <tr>
                <td>Greek</td>
                <td>el</td>
            </tr>
            <tr>
                <td>Hebrew</td>
                <td>he</td>
            </tr>
            <tr>
                <td>Hungarian</td>
                <td>hu</td>
            </tr>
            <tr>
                <td>Icelandic</td>
                <td>is</td>
            </tr>
            <tr>
                <td>Italian</td>
                <td>it</td>
            </tr>
            <tr>
                <td>Japanese</td>
                <td>ja</td>
            </tr>
            <tr>
                <td>Khmer (Cambodia)</td>
                <td>km</td>
            </tr>
            <tr>
                <td>Korean</td>
                <td>ko</td>
            </tr>
            <tr>
                <td>Latvian</td>
                <td>lv</td>
            </tr>
            <tr>
                <td>Lithuanian</td>
                <td>lt</td>
            </tr>
            <tr>
                <td>Luxembourgish</td>
                <td>lb</td>
            </tr>
            <tr>
                <td>Macedonian</td>
                <td>mk</td>
            </tr>
            <tr>
                <td>Malayalam</td>
                <td>ml</td>
            </tr>
            <tr>
                <td>Norwegian</td>
                <td>nb</td>
            </tr>
            <tr>
                <td>Norwegian Nynorsk</td>
                <td>nn</td>
            </tr>
            <tr>
                <td>Polish</td>
                <td>pl</td>
            </tr>
            <tr>
                <td>Portuguese</td>
                <td>pt</td>
            </tr>
            <tr>
                <td>Portuguese (Brazil)</td>
                <td>pt-br</td>
            </tr>
            <tr>
                <td>Romanian</td>
                <td>ro</td>
            </tr>
            <tr>
                <td>Russian</td>
                <td>ru</td>
            </tr>
            <tr>
                <td>Serbian</td>
                <td>sr</td>
            </tr>
            <tr>
                <td>Serbian Cyrillic</td>
                <td>sr-cyrl</td>
            </tr>
            <tr>
                <td>Slovak</td>
                <td>sk</td>
            </tr>
            <tr>
                <td>Slovenian</td>
                <td>sl</td>
            </tr>
            <tr>
                <td>Spanish</td>
                <td>es</td>
            </tr>
            <tr>
                <td>Swedish</td>
                <td>sv</td>
            </tr>
            <tr>
                <td>Tagalog (Filipino)</td>
                <td>tl-ph</td>
            </tr>
            <tr>
                <td>Tamaziɣt</td>
                <td>tzm</td>
            </tr>
            <tr>
                <td>Tamaziɣt Latin</td>
                <td>tzm-latn</td>
            </tr>
            <tr>
                <td>Tamil</td>
                <td>ta</td>
            </tr>
            <tr>
                <td>Thai</td>
                <td>th</td>
            </tr>
            <tr>
                <td>Turkish</td>
                <td>tr</td>
            </tr>
            <tr>
                <td>Ukrainian</td>
                <td>uk</td>
            </tr>
            <tr>
                <td>Uzbek</td>
                <td>uz</td>
            </tr>
            <tr>
                <td>Vietnamese</td>
                <td>vi</td>
            </tr>
            <tr>
                <td>Welsh</td>
                <td>cy</td>
            </tr>
        </tbody>
    </table>
    <p>For help and bug report please contact support@revox.io</p>
    <br>