


<section id="email">
    <h3 class="page-title">Email</h3>
<hr>
    <p>Pages Email app is a web-based email client designed and developed exclusively for Pages framework. It has a responsive design to work flawlessly across many devices. Please note that current version only includes the Inbox and Compose views. This is a work in progress and we're hoping to make this a complete jQuery plugin soon
    </p>
</section>
<h4> Dependencies </h4>
<h5>Include the stylesheets of the libraries</h5>
<pre><code class="xml">&lt;link href=&quot;assets/plugins/bootstrap3-wysihtml5/bootstrap3-wysihtml5.min.css&quot; rel=&quot;stylesheet&quot; type=&quot;text/css&quot; /&gt;
&lt;link href=&quot;assets/plugins/jquery-menuclipper/jquery.menuclipper.css&quot; rel=&quot;stylesheet&quot; type=&quot;text/css&quot; /&gt;
&lt;link href=&quot;assets/plugins/bootstrap-tag/bootstrap-tagsinput.css&quot; rel=&quot;stylesheet&quot; type=&quot;text/css&quot; /&gt;</pre></code>
<h5>Include the scripts</h5>
<pre><code class="xml">&lt;script src=&quot;assets/plugins/bootstrap3-wysihtml5/bootstrap3-wysihtml5.all.min.js&quot;&gt;&lt;/script&gt;
&lt;script src=&quot;assets/plugins/jquery-menuclipper/jquery.menuclipper.js&quot;&gt;&lt;/script&gt;
&lt;script src=&quot;assets/plugins/bootstrap-tag/bootstrap-tagsinput.min.js&quot; type=&quot;text/javascript&quot;&gt;&lt;/script&gt;
</pre></code>
<br>
<h4>Pages Email Lib </h4>
<p>In <code>pages.email.js</code> please replace the URL “http://pages.revox.io/json/emails.json” (Line #54) with your own end point URL which can return a JSON having a structure mentioned below. Then include the updated file below <code>pages.js</code>.
</p>
<pre><code class="xml">&lt;script src=&quot;pages/js/pages.email.js&quot;&gt;&lt;/script&gt;</pre></code>
<br>
<ul>
    <li>emails - (Array) List of all emails categorized by date
        <ul>
            <li>group - Date category</li>
            <li>list - list of emails received for the day
                <ul>
                    <li>id - unique ID to represent each email, should be an unique integer</li>
                    <li>subject - Subject line of the email</li>
                    <li>to - (Array) Recipients name list</li>
                    <li>body - Email body. HTML is allowed</li>
                    <li>time - Time email was sent</li>
                    <li>datetime - Date and time combined</li>
                    <li>from - Sender name</li>
                    <li>dp - Display picture of the sender</li>
                    <li>dpRetina - Retina version of the display picture of the sender</li>
                </ul>
            </li>
        </ul>
    </li>
</ul>
<p>Sample JSON output</p>
<pre><code class="xml">{
    &quot;emails&quot;: [
        {
            &quot;group&quot;: &quot;Today April 23&quot;,
            &quot;list&quot;: [{
                &quot;id&quot;: 1,
                &quot;subject&quot;: &quot;Pages - Multi-Purpose Admin Template Revolution Begins here!&quot;,
                &quot;to&quot;: [&quot;David Nester&quot;, &quot;Jane Smith&quot;],
                &quot;body&quot;: &quot;&lt;p&gt;First email body&lt;/p&gt; &quot;,
                &quot;time&quot;: &quot;5 Mins ago&quot;,
                &quot;datetime&quot;: &quot;Today at 1:33pm&quot;,
                &quot;from&quot;: &quot;David Nester&quot;,
                &quot;dp&quot;: &quot;assets/img/profiles/avatar.jpg&quot;,
                &quot;dpRetina&quot;: &quot;assets/img/profiles/avatar2x.jpg&quot;
            }, {
                &quot;id&quot;: 2,
                &quot;subject&quot;: &quot;Your site has some very imaginative animation /movement! &quot;,
                &quot;to&quot;: [&quot;Anne Simons&quot;],
                &quot;body&quot;: &quot;&lt;p&gt;Second email body&lt;/p&gt; &quot;,
                &quot;time&quot;: &quot;45 mins ago&quot;,
                &quot;datetime&quot;: &quot;Today at 1:33pm&quot;,
                &quot;from&quot;: &quot;Anne Simons&quot;,
                &quot;dp&quot;: &quot;assets/img/profiles/5.jpg&quot;,
                &quot;dpRetina&quot;: &quot;assets/img/profiles/5x.jpg&quot;
            }]
        }, {
            &quot;group&quot;: &quot;Yesterday April 22&quot;,
            &quot;list&quot;: [{
                &quot;id&quot;: 3,
                &quot;subject&quot;: &quot;Good design is obvious. Great design is transparent&quot;,
                &quot;to&quot;: [&quot;John Doe&quot;, &quot;Anne Simons&quot;],
                &quot;body&quot;: &quot;&lt;p&gt;Third email body&lt;/p&gt; &quot;,
                &quot;time&quot;: &quot;1:33pm&quot;,
                &quot;datetime&quot;: &quot;Today at 1:33pm&quot;,
                &quot;from&quot;: &quot;David Nester&quot;,
                &quot;dp&quot;: &quot;assets/img/profiles/b.jpg&quot;,
                &quot;dpRetina&quot;: &quot;assets/img/profiles/b2x.jpg&quot;
            }]
        }
    ]
}</pre></code>
<h4>Markup</h4>
<p>Inlcude the following HTML source in your file</p>
<h5>Inbox view</h5>
<pre><code class="xml">&lt;!-- START EMAIL --&gt;
&lt;div class=&quot;email-wrapper&quot;&gt;
    &lt;!-- START EMAIL SIDEBAR MENU--&gt;
    &lt;nav class=&quot;email-sidebar padding-30&quot;&gt;
        &lt;a href=&quot;email_compose.html&quot; class=&quot;btn btn-complete btn-block btn-compose m-b-30&quot;&gt;Compose&lt;/a&gt;
        &lt;p class=&quot;menu-title&quot;&gt;BROWSE&lt;/p&gt;
        &lt;ul class=&quot;main-menu&quot;&gt;
            &lt;li class=&quot;active&quot;&gt;
                &lt;a href=&quot;#&quot;&gt;
                    &lt;span class=&quot;title&quot;&gt;&lt;i class=&quot;pg-inbox&quot;&gt;&lt;/i&gt; Inbox&lt;/span&gt;
                    &lt;span class=&quot;badge pull-right&quot;&gt;5&lt;/span&gt;
                &lt;/a&gt;
            &lt;/li&gt;
            &lt;li class=&quot;&quot;&gt;
                &lt;a href=&quot;#&quot;&gt;
                    &lt;span class=&quot;title&quot;&gt;&lt;i class=&quot;pg-folder&quot;&gt;&lt;/i&gt; All mail&lt;/span&gt;
                &lt;/a&gt;
                &lt;ul class=&quot;sub-menu no-padding&quot;&gt;
                    &lt;li&gt;
                        &lt;a href=&quot;#&quot;&gt;
                            &lt;span class=&quot;title&quot;&gt;Important&lt;/span&gt;
                        &lt;/a&gt;
                    &lt;/li&gt;
                    &lt;li&gt;
                        &lt;a href=&quot;#&quot;&gt;
                            &lt;span class=&quot;title&quot;&gt;Labeled&lt;/span&gt;
                        &lt;/a&gt;
                    &lt;/li&gt;
                &lt;/ul&gt;
            &lt;/li&gt;
            &lt;li&gt;
                &lt;a href=&quot;#&quot;&gt;
                    &lt;span class=&quot;title&quot;&gt;&lt;i class=&quot;pg-sent&quot;&gt;&lt;/i&gt; Sent&lt;/span&gt;
                &lt;/a&gt;
            &lt;/li&gt;
            &lt;li&gt;
                &lt;a href=&quot;#&quot;&gt;
                    &lt;span class=&quot;title&quot;&gt;&lt;i class=&quot;pg-spam&quot;&gt;&lt;/i&gt; Spam&lt;/span&gt;
                    &lt;span class=&quot;badge pull-right&quot;&gt;10&lt;/span&gt;
                &lt;/a&gt;
            &lt;/li&gt;
        &lt;/ul&gt;
        &lt;p class=&quot;menu-title m-t-20 all-caps&quot;&gt;Quick view&lt;/p&gt;
        &lt;ul class=&quot;sub-menu no-padding&quot;&gt;
            &lt;li&gt;
                &lt;a href=&quot;#&quot;&gt;
                    &lt;span class=&quot;title&quot;&gt;Documents&lt;/span&gt;
                &lt;/a&gt;
            &lt;/li&gt;
            &lt;li&gt;
                &lt;a href=&quot;#&quot;&gt;
                    &lt;span class=&quot;title&quot;&gt;Flagged&lt;/span&gt;
                    &lt;span class=&quot;badge pull-right&quot;&gt;5&lt;/span&gt;
                &lt;/a&gt;
            &lt;/li&gt;
            &lt;li&gt;
                &lt;a href=&quot;#&quot;&gt;
                    &lt;span class=&quot;title&quot;&gt;Images&lt;/span&gt;
                &lt;/a&gt;
            &lt;/li&gt;
        &lt;/ul&gt;
    &lt;/nav&gt;
    &lt;!-- END EMAL SIDEBAR MENU --&gt;
    &lt;!-- START EMAILS LIST --&gt;
    &lt;div class=&quot;email-list b-r b-grey&quot;&gt; &lt;a class=&quot;email-refresh&quot; href=&quot;#&quot;&gt;&lt;i class=&quot;fa fa-refresh&quot;&gt;&lt;/i&gt;&lt;/a&gt;
        &lt;div id=&quot;emailList&quot;&gt;
            &lt;!-- START EMAIL LIST SORTED BY DATE --&gt;
            &lt;!-- END EMAIL LIST SORTED BY DATE --&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;!-- END EMAILS LIST --&gt;
    &lt;!-- START OPENED EMAIL --&gt;
    &lt;div class=&quot;email-opened&quot;&gt;
        &lt;div class=&quot;no-email&quot;&gt;
            &lt;h1&gt;No email has been selected&lt;/h1&gt;
        &lt;/div&gt;
        &lt;div class=&quot;email-content-wrapper&quot;&gt;
            &lt;div class=&quot;actions-wrapper menuclipper bg-master-lightest&quot;&gt;
                &lt;ul class=&quot;actions menuclipper-menu no-margin p-l-20 &quot;&gt;
                    &lt;li class=&quot;visible-sm-inline-block visible-xs-inline-block&quot;&gt;
                        &lt;a href=&quot;#&quot; class=&quot;email-list-toggle&quot;&gt;&lt;i class=&quot;fa fa-angle-left&quot;&gt;&lt;/i&gt; All Inboxes
                                &lt;/a&gt;
                    &lt;/li&gt;
                    &lt;li class=&quot;no-padding &quot;&gt;&lt;a href=&quot;#&quot; class=&quot;text-info&quot;&gt;Reply&lt;/a&gt;
                    &lt;/li&gt;
                    &lt;li class=&quot;no-padding &quot;&gt;&lt;a href=&quot;#&quot;&gt;Reply all&lt;/a&gt;
                    &lt;/li&gt;
                    &lt;li class=&quot;no-padding &quot;&gt;&lt;a href=&quot;#&quot;&gt;Forward&lt;/a&gt;
                    &lt;/li&gt;
                    &lt;li class=&quot;no-padding &quot;&gt;&lt;a href=&quot;#&quot;&gt;Mark as read&lt;/a&gt;
                    &lt;/li&gt;
                    &lt;li class=&quot;no-padding &quot;&gt;&lt;a href=&quot;#&quot; class=&quot;text-danger&quot;&gt;Delete&lt;/a&gt;
                    &lt;/li&gt;
                &lt;/ul&gt;
                &lt;div class=&quot;clearfix&quot;&gt;&lt;/div&gt;
            &lt;/div&gt;
            &lt;div class=&quot;email-content&quot;&gt;
                &lt;div class=&quot;email-content-header&quot;&gt;
                    &lt;div class=&quot;thumbnail-wrapper d48 circular bordered&quot;&gt;
                        &lt;img width=&quot;40&quot; height=&quot;40&quot; alt=&quot;&quot; data-src-retina=&quot;assets/img/profiles/avatar2x.jpg&quot; data-src=&quot;assets/img/profiles/avatar.jpg&quot; src=&quot;assets/img/profiles/avatar2x.jpg&quot;&gt;
                    &lt;/div&gt;
                    &lt;div class=&quot;sender inline m-l-10&quot;&gt;
                        &lt;p class=&quot;name no-margin bold&quot;&gt;
                        &lt;/p&gt;
                        &lt;p class=&quot;datetime no-margin&quot;&gt;&lt;/p&gt;
                    &lt;/div&gt;
                    &lt;div class=&quot;clearfix&quot;&gt;&lt;/div&gt;
                    &lt;div class=&quot;subject m-t-20 m-b-20 semi-bold&quot;&gt;
                    &lt;/div&gt;
                    &lt;div class=&quot;fromto&quot;&gt;
                        &lt;div class=&quot;pull-left&quot;&gt;
                            &lt;div class=&quot;btn-group dropdown-default&quot;&gt;
                                &lt;a class=&quot;btn dropdown-toggle btn-small btn-rounded&quot; data-toggle=&quot;dropdown&quot; href=&quot;#&quot;&gt;
                                        David Nester
                                        &lt;span class=&quot;caret&quot;&gt;&lt;/span&gt;
                                        &lt;/a&gt;
                                &lt;ul class=&quot;dropdown-menu&quot;&gt;
                                    &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Action&lt;/a&gt;
                                    &lt;/li&gt;
                                    &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Friend&lt;/a&gt;
                                    &lt;/li&gt;
                                    &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Report&lt;/a&gt;
                                    &lt;/li&gt;
                                &lt;/ul&gt;
                            &lt;/div&gt;
                            &lt;label class=&quot;inline&quot;&gt;
                                &lt;span class=&quot;muted&quot;&gt;&amp;nbsp;&amp;nbsp;to&lt;/span&gt;
                                &lt;span class=&quot; small-text&quot;&gt;johnsmith@skyace.com&lt;/span&gt;
                            &lt;/label&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
                &lt;div class=&quot;clearfix&quot;&gt;&lt;/div&gt;
                &lt;div class=&quot;email-content-body m-t-20&quot;&gt;
                &lt;/div&gt;
                &lt;div class=&quot;wysiwyg5-wrapper b-a b-grey m-t-30&quot;&gt;
                    &lt;textarea class=&quot;email-reply&quot; placeholder=&quot;Reply&quot;&gt;&lt;/textarea&gt;
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;!-- END OPENED EMAIL --&gt;
    &lt;!-- START COMPOSE BUTTON FOR TABS --&gt;
    &lt;div class=&quot;compose-wrapper visible-xs&quot;&gt;
        &lt;a class=&quot;compose-email text-info pull-right m-r-10 m-t-10&quot; href=&quot;email_compose.html&quot;&gt;&lt;i class=&quot;fa fa-pencil-square-o&quot;&gt;&lt;/i&gt;&lt;/a&gt;
    &lt;/div&gt;
    &lt;!-- END COMPOSE BUTTON --&gt;
&lt;/div&gt;
&lt;!-- END EMAIL --&gt;</pre></code>
<br>
<h5>Compose view</h5>
<p>Replace <code class="xml">&lt;div class=&quot;email-opened&quot;&gt;...&lt;/div&gt;</code> with the following for the compose view</p>
<pre><code class="xml">&lt;!-- START COMPOSE EMAIL --&gt;
&lt;div class=&quot;email-composer container-fluid&quot;&gt;
    &lt;div class=&quot;row&quot;&gt;
        &lt;div class=&quot;col-sm-12 no-padding&quot;&gt;
            &lt;div class=&quot;wysiwyg5-wrapper email-toolbar-wrapper&quot;&gt;
            &lt;/div&gt;
            &lt;form id=&quot;form-project&quot; role=&quot;form&quot; autocomplete=&quot;off&quot;&gt;
                &lt;div class=&quot;form-group-attached&quot;&gt;
                    &lt;div class=&quot;row clearfix&quot;&gt;
                        &lt;div class=&quot;col-sm-6&quot;&gt;
                            &lt;div class=&quot;form-group form-group-default&quot;&gt;
                                &lt;label&gt;TO:&lt;/label&gt;
                                &lt;input name=&quot;to&quot; data-role=&quot;tagsinput&quot; class=&quot;form-control tagsinput&quot; type=&quot;text&quot; value=&quot;John Smith&quot; /&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;
                        &lt;div class=&quot;col-sm-6&quot;&gt;
                            &lt;div class=&quot;form-group form-group-default&quot;&gt;
                                &lt;label&gt;CC:&lt;/label&gt;
                                &lt;input type=&quot;text&quot; class=&quot;form-control&quot; name=&quot;cc&quot; placeholder=&quot;Add Carbon Copy&quot;&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                    &lt;div class=&quot;form-group form-group-default&quot;&gt;
                        &lt;label&gt;Subject&lt;/label&gt;
                        &lt;input type=&quot;text&quot; class=&quot;form-control&quot; name=&quot;subject&quot;&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
            &lt;/form&gt;
            &lt;div class=&quot;wysiwyg5-wrapper email-body-wrapper&quot;&gt;
                &lt;textarea class=&quot;wysiwyg email-body&quot; style=&quot;height:350px&quot;&gt;&lt;/textarea&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;row p-b-20&quot;&gt;
        &lt;div class=&quot;col-sm-11&quot;&gt;
            &lt;button class=&quot;btn btn-white btn-cons&quot;&gt;Cancel&lt;/button&gt;
            &lt;button class=&quot;btn btn-complete btn-cons m-l-10&quot;&gt;Send&lt;/button&gt;
            &lt;div class=&quot;checkbox inline m-l-20&quot;&gt;
                &lt;input type=&quot;checkbox&quot; value=&quot;1&quot; id=&quot;sendCC&quot;&gt;
                &lt;label for=&quot;sendCC&quot; class=&quot;hint-text hidden-xs&quot;&gt;Send a &lt;span class=&quot;text-complete&quot;&gt;Carbon Copy&lt;/span&gt; CC to my Primary email address.&lt;/label&gt;
                &lt;label for=&quot;sendCC&quot; class=&quot;hint-text visible-xs-inline&quot;&gt;Send me a CC&lt;/label&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class=&quot;col-sm-1&quot;&gt;
            &lt;button class=&quot;btn btn-complete pull-right&quot;&gt;
                &lt;i class=&quot;pg-save&quot;&gt;&lt;/i&gt;
            &lt;/button&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
&lt;!-- END COMPOSE EMAIL --&gt;</code></pre>
<br>
<br>
<br>
<p>For help and bug report please contact support@revox.io</p>