<section id="social">
    <h3 class="page-title">Social</h3>
    <hr>
    <p>Pages Social presents a Pinterest-like card layout that you can use for any social feed/timeline. It is also responsive and works flawlessly in mobile devices.
    </p>
</section>
<h4>Include the dependencies </h4> Pages Social depends on the following jQuery plugins. Make sure you include them before calling the library functions.
<br>
<ul class="m-l-30">
    <li><a href="http://isotope.metafizzy.co/">Isotope</a></li>
    <li><a href="https://github.com/desandro/classie">Classie</a></li>
    <li><a href="https://github.com/codrops/MinimalForm">StepsForm</a></li>
</ul>
<br>
<pre><code class="xml">&lt;!-- Waits for the images to be loaded before applying the Isotope plugin --&gt;
&lt;script src=&quot;assets/plugins/imagesloaded/imagesloaded.pkgd.min.js&quot;&gt;&lt;/script&gt;
&lt;!-- Isotope plugin arranges the card layout --&gt;
&lt;script src=&quot;assets/plugins/jquery-isotope/isotope.pkgd.min.js&quot; type=&quot;text/javascript&quot;&gt;&lt;/script&gt;
&lt;!-- Required for stepsForm plugin --&gt;
&lt;script src=&quot;assets/plugins/classie/classie.js&quot; type=&quot;text/javascript&quot;&gt;&lt;/script&gt;
&lt;!-- Creates the multi-step status update form --&gt;
&lt;script src=&quot;assets/plugins/codrops-stepsform/js/stepsForm.js&quot; type=&quot;text/javascript&quot;&gt;&lt;/script&gt;</code></pre>
<br>
<h4>Include Pages Social Lib </h4>
<p>Include <code>pages.social.min.js</code> below <code>pages.js</code></p>
<pre><code class="xml">&lt;script src=&quot;pages/js/pages.social.min.js&quot;&gt;&lt;/script&gt;</code></pre>
<br>
<h4>Include Stylesheet</h4>
<div class="alert alert-info">
    <p>We recommend that you use the 'simple' theme instead of pages default theme (pages.css) together with Social for better experience.
    </p>
</div>
<pre><code class="xml">&lt;link href=&quot;pages/css/themes/simple.css&quot; rel=&quot;stylesheet&quot; type=&quot;text/css&quot; /&gt;</code></pre>
<h4>HTML Source </h4>
<p> The following shows the basic markup structure you have to follow when setting up the Social page. Components mentioned inside *** are further explained below. You may change the content inside each component without changing the main structure below.</p>
<pre><code class="xml">&lt;!-- START SOCIAL WRAPPER --&gt;
&lt;div class=&quot;social-wrapper&quot;&gt;
    &lt;!-- START SOCIAL --&gt;
    &lt;div class=&quot;social &quot; data-pages=&quot;social&quot;&gt;
        &lt;!--
            *** SOCIAL COVER GOES HERE ***
        --&gt;
        &lt;div class=&quot;container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20&quot;&gt;
            &lt;div class=&quot;feed&quot;&gt;
                &lt;!-- START DAY --&gt;
                &lt;div class=&quot;day&quot; data-social=&quot;day&quot;&gt;
                    &lt;!--
                        *** POSTS GO HERE ***
                    --&gt;
                &lt;/div&gt;
                &lt;!-- END DAY --&gt;
            &lt;/div&gt;
            &lt;!-- END FEED --&gt;
        &lt;/div&gt;
        &lt;!-- END CONTAINER FLUID --&gt;
    &lt;/div&gt;
    &lt;!-- END SOCIAL --&gt;
&lt;/div&gt;
&lt;!-- END SOCIAL WRAPPER --&gt;</code></pre>
<br>
<h5>Markup for cover</h5>
<pre><code class="xml">&lt;!-- START SOCIAL COVER --&gt;
&lt;div class=&quot;jumbotron&quot; data-pages=&quot;parallax&quot; data-social=&quot;cover&quot;&gt;
    &lt;!-- START COVER PHOTO --&gt;
    &lt;div class=&quot;cover-photo&quot;&gt;
        &lt;img alt=&quot;Cover photo&quot; src=&quot;assets/img/social/cover.png&quot; /&gt;
    &lt;/div&gt;
    &lt;!-- END COVER PHOTO --&gt;
    &lt;!-- START COVER PHOTO INNER --&gt;
    &lt;div class=&quot;container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20&quot;&gt;
        &lt;div class=&quot;inner&quot;&gt;
            &lt;div class=&quot;pull-bottom bottom-left m-b-40&quot;&gt;
                &lt;h5 class=&quot;text-white no-margin&quot;&gt;welcome to pages social&lt;/h5&gt;
                &lt;h1 class=&quot;text-white no-margin&quot;&gt;&lt;span class=&quot;semi-bold&quot;&gt;social&lt;/span&gt; cover&lt;/h1&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;!-- END COVER PHOTO INNER --&gt;
&lt;/div&gt;
&lt;!-- END SOCIAL COVER --&gt;</code></pre>
<br>
<h5>Markup for posts</h5>
<pre><code class="xml">&lt;!-- START PROFILE OVERVIEW --&gt;
&lt;div class=&quot;card no-border bg-transparent full-width&quot; data-social=&quot;item&quot;&gt;
    &lt;!--
        SHOW ANY PROFILE OWNER DATA IN THE FIRST FULL-WIDTH ISOTOPE ITEM
        EX: NAME, CURRENT STATUS, LOCATION, ABOUT SECTION AND FRIENDS
    --&gt;
    &lt;!-- START CONTAINER FLUID --&gt;
    &lt;div class=&quot;container-fluid p-t-30 p-b-30 &quot;&gt;
        &lt;div class=&quot;row&quot;&gt;
            &lt;div class=&quot;col-md-4&quot;&gt;
                &lt;div class=&quot;container-xs-height&quot;&gt;
                    &lt;div class=&quot;row-xs-height&quot;&gt;
                        &lt;!-- START USER PROFILE PICTURE --&gt;
                        &lt;div class=&quot;social-user-profile col-xs-height text-center col-top&quot;&gt;
                            &lt;div class=&quot;thumbnail-wrapper d48 circular bordered b-white&quot;&gt;
                                &lt;img alt=&quot;Avatar&quot; width=&quot;55&quot; height=&quot;55&quot; data-src-retina=&quot;assets/img/profiles/avatar_small2x.jpg&quot; data-src=&quot;assets/img/profiles/avatar.jpg&quot; src=&quot;assets/img/profiles/avatar.jpg&quot;&gt;
                            &lt;/div&gt;
                            &lt;br&gt;
                            &lt;i class=&quot;fa fa-check-circle text-success fs-16 m-t-10&quot;&gt;&lt;/i&gt;
                        &lt;/div&gt;
                        &lt;!-- END USER PROFILE PICTURE --&gt;
                        &lt;!-- START USER NAME --&gt;
                        &lt;div class=&quot;col-xs-height p-l-20&quot;&gt;
                            &lt;h3 class=&quot;no-margin&quot;&gt;David Nester&lt;/h3&gt;
                            &lt;p class=&quot;no-margin fs-16&quot;&gt;is excited about the new pages design framework&lt;/p&gt;
                            &lt;p class=&quot;hint-text m-t-5 small&quot;&gt;San Fransisco Bay | CEO at Pages.inc&lt;/p&gt;
                        &lt;/div&gt;
                        &lt;!-- END USER NAME --&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
            &lt;/div&gt;
            &lt;!-- START USER BIO --&gt;
            &lt;div class=&quot;col-md-4&quot;&gt;
                &lt;p class=&quot;no-margin fs-16&quot;&gt;Hi My Name is David Nester, &amp;amp; heres my new pages user profile page&lt;/p&gt;
                &lt;p class=&quot;hint-text m-t-5 small&quot;&gt;I love reading people's about page especially those who are in the same industry as me.&lt;/p&gt;
            &lt;/div&gt;
            &lt;!-- END USER BIO --&gt;
            &lt;!-- START USER'S FRIENDS --&gt;
            &lt;div class=&quot;col-md-4&quot;&gt;
                &lt;p class=&quot;m-b-5 small&quot;&gt;1,435 Mutual Friends&lt;/p&gt;
                &lt;ul class=&quot;list-unstyled &quot;&gt;
                    &lt;li class=&quot;m-r-10&quot;&gt;
                        &lt;div class=&quot;thumbnail-wrapper d32 circular b-white m-r-5 b-a b-white&quot;&gt;
                            &lt;img width=&quot;35&quot; height=&quot;35&quot; data-src-retina=&quot;assets/img/profiles/1x.jpg&quot; data-src=&quot;assets/img/profiles/1.jpg&quot; alt=&quot;Profile Image&quot; src=&quot;assets/img/profiles/1.jpg&quot;&gt;
                        &lt;/div&gt;
                    &lt;/li&gt;
                    &lt;li&gt;
                        &lt;div class=&quot;thumbnail-wrapper d32 circular b-white m-r-5 b-a b-white&quot;&gt;
                            &lt;img width=&quot;35&quot; height=&quot;35&quot; data-src-retina=&quot;assets/img/profiles/2x.jpg&quot; data-src=&quot;assets/img/profiles/2.jpg&quot; alt=&quot;Profile Image&quot; src=&quot;assets/img/profiles/2.jpg&quot;&gt;
                        &lt;/div&gt;
                    &lt;/li&gt;
                    ...
                    &lt;li&gt;
                        &lt;div class=&quot;thumbnail-wrapper d32 circular b-white&quot;&gt;
                            &lt;div class=&quot;bg-master text-center text-white&quot;&gt;&lt;span&gt;+34&lt;/span&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;
                    &lt;/li&gt;
                &lt;/ul&gt;
                &lt;br&gt;
                &lt;p class=&quot;m-t-5 small&quot;&gt;More friends&lt;/p&gt;
            &lt;/div&gt;
            &lt;!-- END USER'S FRIENDS --&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;!-- END CONTAINER FLUID --&gt;
&lt;/div&gt;
&lt;!-- END PROFILE OVERVIEW --&gt;

&lt;!-- START STATUS UPDATE FORM --&gt;
&lt;!-- 
    USE 'col1, col2, col3' TO SPECIFY CARD WIDTH 
    data-social=&quot;item&quot; AUTO INIT THE CARD
--&gt;
&lt;div class=&quot;card col2 padding-20&quot; data-social=&quot;item&quot;&gt;
    &lt;!-- 
        MULTI-STEP STATUS UPDATE FORM IS MADE POSSIBLE USING 'stepsForm' PLUGIN 
    --&gt;
    &lt;form class=&quot;simform no-margin&quot; autocomplete=&quot;off&quot; data-social=&quot;status&quot;&gt;
        &lt;div class=&quot;status-form-inner&quot;&gt;
            &lt;!-- START QUESTIONS --&gt;
            &lt;ol class=&quot;questions&quot;&gt;
                &lt;li&gt;
                    &lt;span&gt;
                       &lt;label for=&quot;status-q1&quot;&gt;What's on your mind?&lt;/label&gt;
                    &lt;/span&gt;
                    &lt;input id=&quot;status-q1&quot; name=&quot;q1&quot; type=&quot;text&quot; /&gt;
                &lt;/li&gt;
                &lt;li&gt;
                    &lt;span&gt;
                        &lt;label for=&quot;status-q2&quot;&gt;What are you feeling?&lt;/label&gt;
                    &lt;/span&gt;
                    &lt;input id=&quot;status-q2&quot; name=&quot;q2&quot; type=&quot;text&quot; /&gt;
                &lt;/li&gt;
                &lt;li&gt;
                    &lt;span&gt;
                        &lt;label for=&quot;status-q3&quot;&gt;What's your location?&lt;/label&gt;
                    &lt;/span&gt;
                    &lt;input id=&quot;status-q3&quot; name=&quot;q3&quot; type=&quot;text&quot; /&gt;
                &lt;/li&gt;
                &lt;li&gt;
                    &lt;span&gt;
                        &lt;label for=&quot;status-q4&quot;&gt;Who are you with?&lt;/label&gt;
                    &lt;/span&gt;
                    &lt;input id=&quot;status-q4&quot; name=&quot;q4&quot; type=&quot;text&quot; /&gt;
                &lt;/li&gt;
            &lt;/ol&gt;
            &lt;!--END QUESTIONS --&gt;
            &lt;button class=&quot;submit&quot; type=&quot;submit&quot;&gt;Send answers&lt;/button&gt;
            &lt;!-- FORM CONTROLS. DO NOT REMOVE --&gt;
            &lt;div class=&quot;controls&quot;&gt;
                &lt;button class=&quot;next&quot;&gt;&lt;/button&gt;
                &lt;div class=&quot;progress&quot;&gt;&lt;/div&gt;
                &lt;span class=&quot;number&quot;&gt;
                    &lt;span class=&quot;number-current&quot;&gt;&lt;/span&gt;
                    &lt;span class=&quot;number-total&quot;&gt;&lt;/span&gt;
                &lt;/span&gt;
                &lt;span class=&quot;error-message&quot;&gt;&lt;/span&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;!-- MESSAGE TO BE DISPLAYED AT THE END --&gt;
        &lt;span class=&quot;final-message&quot;&gt;&lt;/span&gt;
    &lt;/form&gt;
&lt;/div&gt;
&lt;!-- END STATUS UPDATE FORM --&gt;
&lt;!-- START POST TYPE-1 --&gt;
&lt;div class=&quot;card status col2&quot; data-social=&quot;item&quot;&gt;
    &lt;div class=&quot;circle&quot; data-toggle=&quot;tooltip&quot; title=&quot;Label&quot;&gt;
    &lt;/div&gt;
    &lt;h5&gt;David Nester updated his status
                            &lt;span class=&quot;hint-text&quot;&gt;few seconds ago&lt;/span&gt;&lt;/h5&gt;
    &lt;h2&gt;Earned my first salary bonus for the best design of the year award.&lt;/h2&gt;
    &lt;ul class=&quot;reactions&quot;&gt;
        &lt;li&gt;&lt;a href=&quot;#&quot;&gt;5,345 &lt;i class=&quot;fa fa-comment-o&quot;&gt;&lt;/i&gt;&lt;/a&gt;
        &lt;/li&gt;
        &lt;li&gt;&lt;a href=&quot;#&quot;&gt;23K &lt;i class=&quot;fa fa-heart-o&quot;&gt;&lt;/i&gt;&lt;/a&gt;
        &lt;/li&gt;
    &lt;/ul&gt;
&lt;/div&gt;
&lt;!-- END POST TYPE-1 --&gt;
&lt;!-- START POST TYPE-2 --&gt;
&lt;div class=&quot;card share share-self col1&quot; data-social=&quot;item&quot;&gt;
    &lt;div class=&quot;circle&quot; data-toggle=&quot;tooltip&quot; title=&quot;Label&quot;&gt;
    &lt;/div&gt;
    &lt;div class=&quot;card-header clearfix&quot;&gt;
        &lt;div class=&quot;user-pic&quot;&gt;
            &lt;img alt=&quot;Profile Image&quot; width=&quot;33&quot; height=&quot;33&quot; data-src-retina=&quot;assets/img/profiles/5x.jpg&quot; data-src=&quot;assets/img/profiles/5.jpg&quot; src=&quot;assets/img/profiles/5x.jpg&quot;&gt;
        &lt;/div&gt;
        &lt;h5&gt;Shannon Williams&lt;/h5&gt;
        &lt;h6&gt;Shared a photo
           &lt;span class=&quot;location semi-bold&quot;&gt;&lt;i class=&quot;fa fa-map-marker&quot;&gt;&lt;/i&gt; NYC, New York&lt;/span&gt;
        &lt;/h6&gt;
    &lt;/div&gt;
    &lt;div class=&quot;card-description&quot;&gt;
        &lt;p&gt;Inspired by : good design is obvious, great design is transparent&lt;/p&gt;
        &lt;div class=&quot;via&quot;&gt;via themeforest&lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;card-content&quot;&gt;
        &lt;ul class=&quot;buttons &quot;&gt;
            &lt;li&gt;
                &lt;a href=&quot;#&quot;&gt;&lt;i class=&quot;fa fa-expand&quot;&gt;&lt;/i&gt;
                                    &lt;/a&gt;
            &lt;/li&gt;
            &lt;li&gt;
                &lt;a href=&quot;#&quot;&gt;&lt;i class=&quot;fa fa-heart-o&quot;&gt;&lt;/i&gt;
                                    &lt;/a&gt;
            &lt;/li&gt;
        &lt;/ul&gt;
        &lt;img alt=&quot;Social post&quot; src=&quot;assets/img/social-post-image.png&quot;&gt;
    &lt;/div&gt;
    &lt;div class=&quot;card-footer clearfix&quot;&gt;
        &lt;div class=&quot;time&quot;&gt;few seconds ago&lt;/div&gt;
        &lt;ul class=&quot;reactions&quot;&gt;
            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;5,345 &lt;i class=&quot;fa fa-comment-o&quot;&gt;&lt;/i&gt;&lt;/a&gt;
            &lt;/li&gt;
            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;23K &lt;i class=&quot;fa fa-heart-o&quot;&gt;&lt;/i&gt;&lt;/a&gt;
            &lt;/li&gt;
        &lt;/ul&gt;
    &lt;/div&gt;
&lt;/div&gt;
&lt;!-- END POST TYPE-2 --&gt;
&lt;!-- START POST TYPE-3 --&gt;
&lt;div class=&quot;card share share-self col1&quot; data-social=&quot;item&quot;&gt;
    &lt;div class=&quot;circle&quot; data-toggle=&quot;tooltip&quot; title=&quot;Label&quot;&gt;
    &lt;/div&gt;
    &lt;div class=&quot;card-header clearfix&quot;&gt;
        &lt;div class=&quot;user-pic&quot;&gt;
            &lt;img alt=&quot;Profile Image&quot; width=&quot;33&quot; height=&quot;33&quot; data-src-retina=&quot;assets/img/profiles/8x.jpg&quot; data-src=&quot;assets/img/profiles/8.jpg&quot; src=&quot;assets/img/profiles/8x.jpg&quot;&gt;
        &lt;/div&gt;
        &lt;h5&gt;Jeff Curtis&lt;/h5&gt;
        &lt;h6&gt;Shared a Tweet
                                &lt;span class=&quot;location semi-bold&quot;&gt;&lt;i class=&quot;fa fa-map-marker&quot;&gt;&lt;/i&gt; SF, California&lt;/span&gt;
                            &lt;/h6&gt;
    &lt;/div&gt;
    &lt;div class=&quot;card-description&quot;&gt;
        &lt;p&gt;What you think, you become. What you feel, you attract. What you imagine, you create - Buddha. &lt;a href=&quot;#&quot;&gt;#quote&lt;/a&gt; &lt;/p&gt;
        &lt;div class=&quot;via&quot;&gt;via Twitter&lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
&lt;!-- END POST TYPE-3 --&gt;
&lt;!-- START POST TYPE-4 --&gt;
&lt;div class=&quot;card share share-other col1&quot; data-social=&quot;item&quot;&gt;
    &lt;div class=&quot;circle&quot; data-toggle=&quot;tooltip&quot; title=&quot;Label&quot;&gt;
    &lt;/div&gt;
    &lt;div class=&quot;card-content&quot;&gt;
        &lt;ul class=&quot;buttons &quot;&gt;
            &lt;li&gt;
                &lt;a href=&quot;#&quot;&gt;&lt;i class=&quot;fa fa-expand&quot;&gt;&lt;/i&gt;
                                    &lt;/a&gt;
            &lt;/li&gt;
            &lt;li&gt;
                &lt;a href=&quot;#&quot;&gt;&lt;i class=&quot;fa fa-heart-o&quot;&gt;&lt;/i&gt;
                                    &lt;/a&gt;
            &lt;/li&gt;
        &lt;/ul&gt;
        &lt;img alt=&quot;Quote&quot; src=&quot;assets/img/social/quote.jpg&quot;&gt;
    &lt;/div&gt;
    &lt;div class=&quot;card-description&quot;&gt;
        &lt;p&gt;Like if you agree&lt;/p&gt;
    &lt;/div&gt;
    &lt;div class=&quot;card-footer clearfix&quot;&gt;
        &lt;div class=&quot;time&quot;&gt;few seconds ago&lt;/div&gt;
        &lt;ul class=&quot;reactions&quot;&gt;
            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;5,345 &lt;i class=&quot;fa fa-comment-o&quot;&gt;&lt;/i&gt;&lt;/a&gt;
            &lt;/li&gt;
            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;23K &lt;i class=&quot;fa fa-heart-o&quot;&gt;&lt;/i&gt;&lt;/a&gt;
            &lt;/li&gt;
        &lt;/ul&gt;
    &lt;/div&gt;
    &lt;div class=&quot;card-header clearfix&quot;&gt;
        &lt;div class=&quot;user-pic&quot;&gt;
            &lt;img alt=&quot;Profile Image&quot; width=&quot;33&quot; height=&quot;33&quot; data-src-retina=&quot;assets/img/profiles/7x.jpg&quot; data-src=&quot;assets/img/profiles/7.jpg&quot; src=&quot;assets/img/profiles/7x.jpg&quot;&gt;
        &lt;/div&gt;
        &lt;h5&gt;Tracy Brooks&lt;/h5&gt;
        &lt;h6&gt;Shared a photo on your wall&lt;/h6&gt;
    &lt;/div&gt;
&lt;/div&gt;
&lt;!-- END POST TYPE-4 --&gt;
&lt;!-- START POST TYPE-5 --&gt;
&lt;div class=&quot;card share share-self col1&quot; data-social=&quot;item&quot;&gt;
    &lt;div class=&quot;card-header &quot;&gt;
        &lt;h5 class=&quot;text-complete pull-left fs-12&quot;&gt;News &lt;i class=&quot;fa fa-circle text-complete fs-11&quot;&gt;&lt;/i&gt;&lt;/h5&gt;
        &lt;div class=&quot;pull-right small hint-text&quot;&gt;
            5,345 &lt;i class=&quot;fa fa-comment-o&quot;&gt;&lt;/i&gt;
        &lt;/div&gt;
        &lt;div class=&quot;clearfix&quot;&gt;&lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;card-description&quot;&gt;
        &lt;h3&gt;Ebola outbreak: Clinical drug trials to start next month as death toll mounts&lt;/h3&gt;
    &lt;/div&gt;
    &lt;div class=&quot;card-footer clearfix&quot;&gt;
        &lt;div class=&quot;pull-left&quot;&gt;via &lt;span class=&quot;text-complete&quot;&gt;CNN&lt;/span&gt;
        &lt;/div&gt;
        &lt;div class=&quot;pull-right hint-text&quot;&gt;
            Apr 23
        &lt;/div&gt;
        &lt;div class=&quot;clearfix&quot;&gt;&lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
&lt;!-- END POST TYPE-5 --&gt;</code></pre>
<br>
<h4>Initializing Pages Social</h4>
<p>Pages will auto-initialize Social if elements with following data-properties are found in the DOM. The following shows the default settings object for Social</p>
<pre><code class="xml">$.fn.social.defaults = {
        cover: '[data-social=&quot;cover&quot;]',
        day: '[data-social=&quot;day&quot;]',
        status: '[data-social=&quot;status&quot;]',
        item: '[data-social=&quot;item&quot;]',
        colWidth: 300
    }</code></pre>
<br>
<p>If you wish to make the initialization programatically, refrain from using the above data properties in the DOM. Set the classes/ids you defined in the DOM in <code>$.fn.social.defaults</code> object and then call the initialization script.
    <div class="alert alert-info">
        <p>The minimum column width for Social is <code>300</code> pixels. If you wish to change it, you may have edit the <code>.col1</code>,<code>.col2</code> and <code>.col3</code> in the CSS accordingly. ex: If <code>colWidth</code> is <code>400</code>, <code>.col1</code>,<code>.col2</code> and <code>.col3</code> will get <code>400px</code>, <code>820px</code> and <code>1220px</code> (Note the extra 20px reserved for gutter width)
        </p>
    </div>
    <pre><code class="xml">$(document).ready(function() {
    $.fn.social.defaults = {
        cover: '.cover', // Cover element
        day: '.day', // Day element
        status: '.status', // Status update box element
        item: '.item', // Post item
        colWidth: 300 // minimum column width for cards
    }
    $('#social').social();
});</code></pre>
    <br>
    <br>
    <p>For help and bug report please contact support@revox.io</p>