{% extends WIDGET_PATH + "src/layout.html" %}
{% block vendor_css %}
<link href="{# PLUGINS_PATH #}nvd3/nv.d3.min.css" rel="stylesheet" type="text/css" media="screen" />
{% endblock %}
{% block vendor_js %}
<script src="{# PLUGINS_PATH #}nvd3/lib/d3.v3.js" type="text/javascript"></script>
<script src="{# PLUGINS_PATH #}nvd3/nv.d3.min.js" type="text/javascript"></script>
<script src="{# PLUGINS_PATH #}nvd3/src/utils.js" type="text/javascript"></script>
<script src="{# PLUGINS_PATH #}nvd3/src/tooltip.js" type="text/javascript"></script>
<script src="{# PLUGINS_PATH #}nvd3/src/interactiveLayer.js" type="text/javascript"></script>
<script src="{# PLUGINS_PATH #}nvd3/src/models/axis.js" type="text/javascript"></script>
<script src="{# PLUGINS_PATH #}nvd3/src/models/line.js" type="text/javascript"></script>
<script src="{# PLUGINS_PATH #}nvd3/src/models/lineWithFocusChart.js" type="text/javascript"></script>
{% endblock %}
{% block content %}
    <div class="ar-1-1 widget-1-wrapper">
        {% include PATH + "pages/dashboard/_widget/widget_imageWidgetBasic.tpl" %}
    </div>
{% endblock %}