{% set TITLE = "- Blank Page" %}
{% set ASSETS = "assets" %}
{% set ASSETS_PLUGINS = "assets/plugins" %}
{% set PAGES_CORE = "pages" %}
{% set PAGES_CORE = "pages" %} {% set THEME = "themes/modern" %}
{% set active_parent = "builder" %}
{% set mode = "horizontal_menu" %}
{% set page_title = "builder" %}
{% set CONTENT_WRAPPER_CLASS = "full-height" %}
{% extends PATH + "layouts/horizontal_condensed_builder.html" %}
  {% block page %}
  {% include PATH + "pages/builder/builder.tpl"%}
  {% endblock %}
  {% block buildOptions %}
    <div class="quickview-wrapper {% if active_parent == 'builder' %} open {% endif %} builder hidden-sm hidden-xs" id="builder">
      <div class="p-l-30 p-r-30 ">
        <a class="builder-close quickview-toggle pg-close" data-toggle="quickview" data-toggle-element="#builder" href="#"></a>
        <a class="builder-toggle" data-toggle="quickview" data-toggle-element="#builder"><i class="pg pg-theme"></i></a>
        <ul class="nav nav-tabs nav-tabs-simple nav-tabs-primary m-t-10" id="builderTabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#tabLayouts" role="tab" aria-controls="home"><span>Layouts</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#tabContent" role="tab" aria-controls="messages"><span>Content</span></a>
          </li>
        </ul>
        <div class="tab-content m-b-30 p-l-30">
          <div class="tab-pane active " id="tabLayouts" role="tabcard">
            <div class="scrollable">
              <div class="p-l-10 p-r-50">
                <h5 class="semi-bold">
          Layout options
        </h5>
                <p class="no-margin">
                  Builder make it easier
                </p>
                <p class="small hint-text m-b-20">
                  Customize and Preview your dashboard.
                </p>
                <div class="row p-b-35">
                  <div class="col-6 ">
                    <a class="btn-toggle-layout fs-12 active " href="builder.html"><img alt="Menu divided icon" class="m-b-15" src="{# ASSETS #}/img/demo/horizontal.png" data-src="{# ASSETS #}/img/demo/horizontal.png" data-src-retina="{# ASSETS #}/img/demo/horizontal_2x.png" width="126" height="95">
                      <span class="text-dark m-t-5">Default Horizontal Menu</span></a>
                  </div>
                  <div class="col-6">
                    <a class="btn-toggle-layout fs-12" href="with_sidebar_builder.html">
                      <img alt="Full header icon" class="m-b-15 " src="{# ASSETS #}/img/demo/horizontal_secondary.png" data-src-retina="{# ASSETS #}/img/demo/horizontal_secondary_2x.png" width="126" height="95"> <span class="text-dark m-t-5">Horizontal Menu with Sidebar</span></a>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="tab-pane " id="tabContent" role="tabcard">
            <div class="scrollable">
              <div class="p-l-10 p-r-50">
                <h5 class="semi-bold">
          Content
        </h5>
                <p class=" hint-text no-margin">
                  Builder make it easier
                </p>
                <p class="small hint-text m-b-20">
                  Customize and Preview your dashboard.
                </p>
                <ul class="p-b-50">
                  <li class="full-width m-b-30">
                    <a class="btn-toggle-content content-select active" data-action="plainContent" href="#">
                      <img alt="Blank" class="m-b-10 image-responsive-height" src="{# ASSETS #}/img/demo/blank.svg"> Plain
                    </a>
                  </li>
                  <li class="full-width m-b-30">
                    <a class="btn-toggle-content content-select" data-action="parallaxCoverpage" href="#">
                      <img alt="Parallax cover" class="m-b-10 image-responsive-height" src="{# ASSETS #}/img/demo/paralax_cover.gif"> Coverpage with parallax</a>
                  </li>
                  <li class="full-width m-b-30">
                    <a class="btn-toggle-content content-select" data-action="fullheightParallax" href="#">
                      <img alt="Parallax full" class="m-b-10 image-responsive-height" src="{# ASSETS #}/img/demo/paralax_full.gif"> Full height coverpage with parallax</a>
                  </li>
                  <li class="full-width m-b-30">
                    <a class="btn-toggle-content content-select" data-action="titleParallax" href="#">
                      <img alt="Parallax title" class="m-b-10 image-responsive-height" src="{# ASSETS #}/img/demo/paralax_title.gif"> Page title parallax
                    </a>
                  </li>
                  <li class="full-width m-b-30">
                    <a class="btn-toggle-content content-select" data-action="columns-3-9" href="#">
                      <img alt="3_9" class="m-b-10 image-responsive-height" src="{# ASSETS #}/img/demo/3_9.svg"> Column view (3 : 9)</a>
                  </li>
                  <li class="full-width m-b-30">
                    <a class="btn-toggle-content content-select" data-action="columns-9-3" href="#">
                      <img alt="9_3" class="m-b-10 image-responsive-height" src="{# ASSETS #}/img/demo/9_3.svg"> Column view (9 : 3)</a>
                  </li>
                  <li class="full-width m-b-30">
                    <a class="btn-toggle-content content-select" data-action="columns-6-6" href="#">
                      <img alt="6_6" class="m-b-10 image-responsive-height" src="{# ASSETS #}/img/demo/6_6.svg"> Column view (6 : 6)</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="pull-bottom p-b-15 p-l-15 p-r-15 b-t b-grey p-t-15 m-l-15 m-r-15 bg-white builder-footer">
          <div class="pull-left">
            <span class="font-arial fs-12 hint-text">Toggle</span>
            <span class="inline font-montserrat fs-12 bold">RTL</span>
            <div class="inline"> 
              <input id="rtl-switch" class="" type="checkbox" data-size="small" data-init-plugin="switchery" />
            </div>
          </div>
          <div class="pull-right">
          </div>
        </div>
      </div>
    </div>
   {% endblock %}
{% block addition_js %}
  <script src="assets/js/demo.js" type="text/javascript"></script>
{% endblock %}