{% set TITLE ="- Blank Page" %}
{% set ASSETS ="assets" %}
{% set ASSETS_PLUGINS ="assets/plugins" %}
{% set PAGES_CORE = "pages" %} {% set THEME = "themes/modern" %}
{% set mode = "horizontal_menu" %} {% set breadcrumb = "breadcrumb-alt" %}

{% set BODY_CLASS ="no-header overflow-hidden" %}
{% set active_parent ="calendar" %}
{% set page_title = "dashboard" %}
{% set PAGE_CONTAINER_CLASS ="bg-white full-height" %}
{% set CONTENT_WRAPPER_CLASS ="full-height" %}
{% set CONTENT_CLASS ="full-height" %}

{% extends PATH + "layouts/horizontal_condensed_layout.html" %}
{% block css_dependencies %}{% endblock %}
  {% block page %}
  <div class="container">
  {% include PATH + "pages/calendar/calendar.tpl"%}
</div>
  {% endblock %}
{% block page_js_dependencies %}
<script src="assets/plugins/interactjs/interact.min.js" type="text/javascript"></script>
<script src="assets/plugins/moment/moment-with-locales.min.js"></script>
{% endblock %}
{% block addition_core_pages_js %}
<script src="pages/js/pages.calendar.js"></script>
{% endblock %}
{% block addition_js %}
<script src="assets/js/calendar_lazy.js" type="text/javascript"></script>
{% endblock %}
