{% set TITLE = "- Form Layouts" %}
{% set ASSETS = "assets" %}
{% set ASSETS_PLUGINS = "assets/plugins" %}
{% set PAGES_CORE = "pages" %} {% set THEME = "themes/modern" %}
{% set mode = "horizontal_menu" %} {% set breadcrumb = "breadcrumb-alt" %}
{% set page_title = "form layouts" %}
{% set active_parent = "forms" %}
{% extends PATH + "layouts/horizontal_condensed_layout.html" %}
{% block css_dependencies %}
    <link href="assets/plugins/bootstrap-datepicker/css/datepicker3.css" rel="stylesheet" type="text/css" media="screen">
{% endblock %}
  {% block page %}
  {% include PATH + "pages/form/formLayouts.tpl"%}
  {% endblock %}
{% block page_js_dependencies %}
    <script src="assets/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
    <script src="assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js" type="text/javascript"></script>
{% endblock %}
{% block addition_js %}
	<script src="assets/js/form_layouts.js" type="text/javascript"></script>
{% endblock %}