{% set TITLE = "- Image Gallery" %}
{% set ASSETS = "assets" %}
{% set ASSETS_PLUGINS = "assets/plugins" %}
{% set PAGES_CORE = "pages" %} {% set THEME = "themes/modern" %}
{% set mode = "horizontal_menu" %} {% set breadcrumb = "breadcrumb-alt" %}
{% set page_title = "gallery" %}
{% set active_parent = "extra" %}
{% extends PATH + "layouts/horizontal_condensed_layout.html" %}
{% block css_dependencies %}
    <link href="assets/plugins/jquery-metrojs/MetroJs.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="assets/plugins/codrops-dialogFx/dialog.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="assets/plugins/codrops-dialogFx/dialog-sandra.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="assets/plugins/owl-carousel/assets/owl.carousel.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="assets/plugins/jquery-nouislider/jquery.nouislider.css" rel="stylesheet" type="text/css" media="screen" />
{% endblock %}
  {% block page %}
  {% include PATH + "pages/gallery/gallery.tpl"%}
  {% endblock %}
{% block page_js_dependencies %}
    <script src="assets/plugins/jquery-metrojs/MetroJs.min.js" type="text/javascript"></script>
    <script src="assets/plugins/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="assets/plugins/jquery-isotope/isotope.pkgd.min.js" type="text/javascript"></script>
    <script src="assets/plugins/codrops-dialogFx/dialogFx.js" type="text/javascript"></script>
    <script src="assets/plugins/owl-carousel/owl.carousel.min.js" type="text/javascript"></script>
    <script src="assets/plugins/jquery-nouislider/jquery.nouislider.min.js" type="text/javascript"></script>
    <script src="assets/plugins/jquery-nouislider/jquery.liblink.js" type="text/javascript"></script>
{% endblock %}
{% block addition_js %}
	<script src="assets/js/gallery.js" type="text/javascript"></script>
{% endblock %}