{% set TITLE = "- Icons" %}
{% set ASSETS = "assets" %}
{% set ASSETS_PLUGINS = "assets/plugins" %}
{% set PAGES_CORE = "pages" %} {% set THEME = "themes/modern" %}
{% set mode = "horizontal_menu" %} {% set breadcrumb = "breadcrumb-alt" %}
{% set page_title = "icons" %}
{% set active_parent = "ui" %}
{% extends PATH + "layouts/horizontal_condensed_layout.html" %}
{% block css_dependencies %}
	 <link href="assets/plugins/simple-line-icons/simple-line-icons.css" rel="stylesheet" type="text/css" media="screen" />
{% endblock %}
  {% block page %}
  {% include PATH + "pages/ui/icons/icons.tpl"%}
  {% endblock %}
{% block page_js_dependencies %}
	<script src="assets/plugins/jquery.sieve.min.js" type="text/javascript"></script>
{% endblock %}
{% block addition_js %}
    <script src="assets/js/icon.js" type="text/javascript"></script>
{% endblock %}