{% set TITLE = "- Sliders" %}
{% set ASSETS = "assets" %}
{% set ASSETS_PLUGINS = "assets/plugins" %}
{% set PAGES_CORE = "pages" %} {% set THEME = "themes/modern" %}
{% set mode = "horizontal_menu" %} {% set breadcrumb = "breadcrumb-alt" %}
{% set page_title = "sliders" %}
{% set active_parent = "ui" %}
{% extends PATH + "layouts/horizontal_condensed_layout.html" %}
{% block css_dependencies %}
   <link href="assets/plugins/ion-slider/css/ion.rangeSlider.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="assets/plugins/ion-slider/css/ion.rangeSlider.skinFlat.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="assets/plugins/jquery-nouislider/jquery.nouislider.css" rel="stylesheet" type="text/css" media="screen" />
{% endblock %}
  {% block page %}
  {% include PATH + "pages/ui/sliders/sliders.tpl"%}
  {% endblock %}
{% block page_js_dependencies %}
    <script src="assets/plugins/ion-slider/js/ion.rangeSlider.min.js" type="text/javascript"></script>
    <script src="assets/plugins/jquery-nouislider/jquery.nouislider.min.js" type="text/javascript"></script>
    <script src="assets/plugins/jquery-nouislider/jquery.liblink.js" type="text/javascript"></script>
{% endblock %}
{% block addition_js %}
    <script src="assets/js/slider.js" type="text/javascript"></script>
{% endblock %}