{% set TITLE = "- Time line" %}
{% set ASSETS = "assets" %}
{% set ASSETS_PLUGINS = "assets/plugins" %}
{% set PAGES_CORE = "pages" %} {% set THEME = "themes/modern" %}
{% set mode = "horizontal_menu" %} {% set breadcrumb = "breadcrumb-alt" %}
{% set page_title = "timeline" %}
{% set active_parent = "extra" %}
{% extends PATH + "layouts/horizontal_condensed_layout.html" %}
{% block css_dependencies %}{% endblock %}
  {% block page %}
  {% include PATH + "pages/timeline/timeline.tpl"%}
  {% endblock %}
{% block page_js_dependencies %}
	<script type="text/javascript" src="assets/plugins/classie/classie.js"></script>
{% endblock %}
{% block addition_js %}
   <script src="assets/js/timeline.js" type="text/javascript"></script>
{% endblock %}