

<section id="themes">
    <h3 class="page-title">
            Themes
          </h3>
    <hr>
    <p>This part of the documentation will explain how to change the current theme to pages pre-build themes, pages themes are made with concentrated color palete and its not just changing the theme to pure red but entire color pallete and its done by just replacing one line of code
    </p>
    <br>
    <h4 id="grid-intro">Using CSS</h4>
    <p>We have already included 4 pre-made themes found inside <code>pages/css/themes/</code> To switch the theme remove the exsisting pages.css to the one located in inside <code>themes/</code> folder
    </p>
    <p>
        <ol class="other-ref">
            <li>Default
                <pre><code class="xml">&lt;link class=&quot;main-stylesheet&quot; href=&quot;pages/css/pages.css&quot; rel=&quot;stylesheet&quot; type=&quot;text/css&quot; /&gt;</pre></code>
            </li>
            <li>Corporate
                <pre><code class="xml">&lt;link class=&quot;main-stylesheet&quot; href=&quot;pages/css/themes/corporate.css&quot; rel=&quot;stylesheet&quot; type=&quot;text/css&quot; /&gt;</pre></code>
            </li>
            <li>Retro
                <pre><code class="xml">&lt;link class=&quot;main-stylesheet&quot; href=&quot;pages/css/themes/retro.css&quot; rel=&quot;stylesheet&quot; type=&quot;text/css&quot; /&gt;</pre></code>
            </li>
            <li>Unlax
                <pre><code class="xml">&lt;link class=&quot;main-stylesheet&quot; href=&quot;pages/css/themes/unlax.css&quot; rel=&quot;stylesheet&quot; type=&quot;text/css&quot; /&gt;</pre></code>
            </li>
            </li>
            <li>Abstract
                <pre><code class="xml">&lt;link class=&quot;main-stylesheet&quot; href=&quot;pages/css/themes/abstract.css&quot; rel=&quot;stylesheet&quot; type=&quot;text/css&quot; /&gt;</pre></code>
            </li>
            </li>
        </ol>
    </p>
    <br>
    <h4 id="grid-intro">Using Less</h4>
    <p>Less works much easier where you can switch the theme by simply changing the varriable to the theme name
        <br> The varriable is located at <code>pages/src/less/pages.less</code>
        <br>
        <br>
        <b>Varriable </b>
        <br>
        <code>@theme-name</code>
        <br>
        <br>
        <b>Example </b>
        <br>
        <code>@theme-name:"simple";</code>
    </p>
    <br>
    <h4 id="grid-intro">Creating your own theme</h4>
    <p class="m-b-25">
        The themes will be found under <code>pages/src/less/theme/</code> folder
    </p>
    <h5 class="semi-bold  ">Step One</h5>
    <p>Create a new folder under the <code>less/theme/my_theme</code></p>
    <h5 class="semi-bold m-t-25">Step Two</h5>
    <p>Create a new file name called <code>theme.less</code> under the <code>less/theme/my_theme</code> and add the following code</p>
    <pre><code class="less">@import "var.less";
</pre></code>
    <h5 class="semi-bold m-t-25">Step Three</h5>
    <p>Create a new file name called <code>var.less</code> under the <code>less/theme/my_theme</code> and import the code of
        <code>less/theme/default/var.less</code> to it and change the following varriables
        <br>
        <br>
        <strong>Main Base color</strong>
        <br>
        <code>@color-master</code>
        <br>
        <strong>Primary Colors</strong>
        <br>
        <code>@color-success</code>
        <br>
        <code>@color-complete</code>
        <br>
        <code>@color-primary</code>
        <br>
        <code>@color-warning</code>
        <br>
        <code>@color-danger</code>
        <br>
        <code>@color-info</code>
    </p>
    <h5 class="semi-bold m-t-25">Step Four</h5>
    <p>Change the varriable <code>@theme-name</code> to your theme name in <code>less/pages.less</code>
    </p>
    <p>
    </p>
</section>