<!DOCTYPE html>
<html>
  <head>
  {% include PATH + "shared/meta_header.html" %}
  {% include PATH + "shared/_core_plugins_css.html" %}
  {% block css_dependencies %}{% endblock %}
  {% include PATH + "shared/_core_css.html" %}

  </head>
  <body class="fixed-header {# BODY_CLASS #} box-layout menu-pin"> 
    <div class="container">
      <!-- BEGIN SIDEBPANEL-->
      {% include PATH + "shared/sidebar.html" %}
      <!-- END SIDEBAR -->
      <!-- END SIDEBPANEL-->
      <!-- START PAGE-CONTAINER -->
      <div class="page-container">
        <!-- START HEADER -->
        <div class="header {# HEADER_CLASS #}">
          <div class="container">
            <div class="header-inner">
              <!-- START MOBILE SIDEBAR TOGGLE -->
              <a href="#" class="btn-link toggle-sidebar d-lg-none pg pg-menu" data-toggle="sidebar">
              </a>
              {% if active_parent =="sidemenu_and_horizontal_menu" %}
              <a href="#" class="btn-link visible-xs-inline-block visible-sm-inline-block m-r-10" data-pages="horizontal-menu-toggle">
                <span class="pg pg-arrow_minimize"></span>
              </a>
              {% endif %}
              <!-- END MOBILE SIDEBAR TOGGLE -->
              <div class="">
                  <div class="brand inline">
                    <img src="{# ASSETS #}/img/logo.png" alt="logo" data-src="{# ASSETS #}/img/logo.png" data-src-retina="{# ASSETS #}/img/logo_2x.png" width="78" height="22">
                  </div>
                  <!-- START NOTIFICATION LIST -->
                  <ul class="d-lg-inline-block d-none notification-list no-margin b-grey b-l b-r no-style p-l-30 p-r-20">
                    <li class="p-r-15 inline">
                      <div class="dropdown">
                        <a href="javascript:;" id="notification-center" class="header-icon pg pg-world" data-toggle="dropdown">
                          <span class="bubble"></span>
                        </a>
                        <!-- START Notification Dropdown -->
                        <div class="dropdown-menu notification-toggle" role="menu" aria-labelledby="notification-center">
                          <!-- START Notification -->
                          <div class="notification-panel">
                            <!-- START Notification Body-->
                            <div class="notification-body scrollable">
                              <!-- START Notification Item-->
                              <div class="notification-item unread clearfix">
                                <!-- START Notification Item-->
                                <div class="heading open">
                                  <a href="#" class="text-complete pull-left">
                                    <i class="pg-map fs-16 m-r-10"></i>
                                    <span class="bold">Carrot Design</span>
                                    <span class="fs-12 m-l-10">David Nester</span>
                                  </a>
                                  <div class="pull-right">
                                    <div class="thumbnail-wrapper d16 circular inline m-t-15 m-r-10 toggle-more-details">
                                      <div><i class="fa fa-angle-left"></i>
                                      </div>
                                    </div>
                                    <span class=" time">few sec ago</span>
                                  </div>
                                  <div class="more-details">
                                    <div class="more-details-inner">
                                      <h5 class="semi-bold fs-16">“Apple’s Motivation - Innovation <br> 
                                                                  distinguishes between <br>
                                                                  A leader and a follower.”</h5>
                                      <p class="small hint-text">
                                        Commented on john Smiths wall.
                                        <br> via pages framework.
                                      </p>
                                    </div>
                                  </div>
                                </div>
                                <!-- END Notification Item-->
                                <!-- START Notification Item Right Side-->
                                <div class="option" data-toggle="tooltip" data-placement="left" title="mark as read">
                                  <a href="#" class="mark"></a>
                                </div>
                                <!-- END Notification Item Right Side-->
                              </div>
                              <!-- START Notification Body-->
                              <!-- START Notification Item-->
                              <div class="notification-item  clearfix">
                                <div class="heading">
                                  <a href="#" class="text-danger pull-left">
                                    <i class="fa fa-exclamation-triangle m-r-10"></i>
                                    <span class="bold">98% Server Load</span>
                                    <span class="fs-12 m-l-10">Take Action</span>
                                  </a>
                                  <span class="pull-right time">2 mins ago</span>
                                </div>
                                <!-- START Notification Item Right Side-->
                                <div class="option">
                                  <a href="#" class="mark"></a>
                                </div>
                                <!-- END Notification Item Right Side-->
                              </div>
                              <!-- END Notification Item-->
                              <!-- START Notification Item-->
                              <div class="notification-item  clearfix">
                                <div class="heading">
                                  <a href="#" class="text-warning-dark pull-left">
                                    <i class="fa fa-exclamation-triangle m-r-10"></i>
                                    <span class="bold">Warning Notification</span>
                                    <span class="fs-12 m-l-10">Buy Now</span>
                                  </a>
                                  <span class="pull-right time">yesterday</span>
                                </div>
                                <!-- START Notification Item Right Side-->
                                <div class="option">
                                  <a href="#" class="mark"></a>
                                </div>
                                <!-- END Notification Item Right Side-->
                              </div>
                              <!-- END Notification Item-->
                              <!-- START Notification Item-->
                              <div class="notification-item unread clearfix">
                                <div class="heading">
                                  <div class="thumbnail-wrapper d24 circular b-white m-r-5 b-a b-white m-t-10 m-r-10">
                                    <img width="30" height="30" data-src-retina="{# ASSETS #}/img/profiles/1x.jpg" data-src="{# ASSETS #}/img/profiles/1.jpg" alt="" src="{# ASSETS #}/img/profiles/1.jpg">
                                  </div>
                                  <a href="#" class="text-complete pull-left">
                                    <span class="bold">Revox Design Labs</span>
                                    <span class="fs-12 m-l-10">Owners</span>
                                  </a>
                                  <span class="pull-right time">11:00pm</span>
                                </div>
                                <!-- START Notification Item Right Side-->
                                <div class="option" data-toggle="tooltip" data-placement="left" title="mark as read">
                                  <a href="#" class="mark"></a>
                                </div>
                                <!-- END Notification Item Right Side-->
                              </div>
                              <!-- END Notification Item-->
                            </div>
                            <!-- END Notification Body-->
                            <!-- START Notification Footer-->
                            <div class="notification-footer text-center">
                              <a href="#" class="">Read all notifications</a>
                              <a data-toggle="refresh" class="portlet-refresh text-black pull-right" href="#">
                                <i class="pg-refresh_new"></i>
                              </a>
                            </div>
                            <!-- START Notification Footer-->
                          </div>
                          <!-- END Notification -->
                        </div>
                        <!-- END Notification Dropdown -->
                      </div>
                    </li>
                    <li class="p-r-10 inline">
                      <a href="#" class="header-icon pg pg-link"></a>
                    </li>
                    <li class="p-r-10 inline">
                      <a href="#" class="header-icon pg pg-thumbs"></a>
                    </li>
                  </ul>
                  <!-- END NOTIFICATIONS LIST -->
                  <a href="#" class="search-link d-lg-inline-block d-none" data-toggle="search"><i class="pg-search"></i>Type anywhere to <span class="bold">search</span></a>
              </div>
              <div class="d-flex align-items-center">
                <!-- START User Info-->
                <div class="pull-left p-r-10 fs-16 font-heading d-lg-inline-block d-none">
                  <span class="semi-bold">David</span> <span class="text-master">Nest</span>
                </div>
                <div class="dropdown pull-right d-lg-inline-block d-none">
                  <button class="profile-dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="thumbnail-wrapper d32 circular inline m-t-5">
                    <img src="{# ASSETS #}/img/profiles/avatar.jpg" alt="" data-src="{# ASSETS #}/img/profiles/avatar.jpg" data-src-retina="{# ASSETS #}/img/profiles/avatar_small2x.jpg" width="32" height="32">
                    </span>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-right profile-dropdown" role="menu">
                    <li><a href="#"><i class="pg-settings_small"></i> Settings</a>
                    </li>
                    <li><a href="#"><i class="pg-outdent"></i> Feedback</a>
                    </li>
                    <li><a href="#"><i class="pg-signals"></i> Help</a>
                    </li>
                    <li class="bg-master-lighter">
                      <a href="#" class="clearfix">
                        <span class="pull-left">Logout</span>
                        <span class="pull-right"><i class="pg-power"></i></span>
                      </a>
                    </li>
                  </ul>
                </div>
                <!-- END User Info-->
                <a href="#" class="header-icon pg pg-alt_menu btn-link m-l-10 sm-no-margin d-inline-block" data-toggle="quickview" data-toggle-element="#quickview"></a>
              </div>
            </div>
          </div>
        </div>
        <!-- END HEADER -->
        <!-- START PAGE CONTENT WRAPPER -->
        <div class="page-content-wrapper">
          <!-- START PAGE CONTENT -->
          <div class="content">
            {% block page %}{% endblock %}
          </div>
          <!-- END PAGE CONTENT -->
          <!-- START COPYRIGHT -->
          <!-- START CONTAINER FLUID -->
          {% include PATH + "shared/_copy_right.html" %}
          <!-- END COPYRIGHT -->
        </div>
        <!-- END PAGE CONTENT WRAPPER -->
      </div>
      <!-- END PAGE CONTAINER -->
    </div>
    <!--START QUICKVIEW -->
    {% include PATH + "shared/_quickview.html" %}
    <!-- END QUICKVIEW-->
    <!-- START OVERLAY -->
    {% include PATH + "shared/_overlay.html" %}
    <!-- END OVERLAY -->
    <!-- BEGIN VENDOR JS -->
    {% include PATH + "shared/_core_plugins_js.html" %}
    {% block page_js_dependencies %}{% endblock %}
    <!-- END VENDOR JS -->
      <!-- BEGIN CORE TEMPLATE JS -->
      <script src="{# PAGES_CORE #}/js/pages.min.js"></script>
      <script src="{# PAGES_CORE #}/js/pages.html.js"></script>
      {% block addition_core_pages_js %}{% endblock %}
      <!-- END CORE TEMPLATE JS -->
      <!-- BEGIN PAGE LEVEL JS -->
      {% block addition_js %}{% endblock %}
      <script src="{# ASSETS #}/js/scripts.js" type="text/javascript"></script>
      <!-- END PAGE LEVEL JS -->
  </body>
</html>
