<!DOCTYPE html>
<html>
 	<head>
	{% include PATH + "shared/meta_header.html" %}
	{% include PATH + "shared/_core_plugins_css.html" %}
	{% block css_dependencies %}{% endblock %}
	{% include PATH + "shared/_core_css.html" %}
	</head>
	<body class="fixed-header {# BODY_CLASS #}"> 
		<!-- BEGIN SIDEBPANEL-->
		{% include PATH + "shared/sidebar.html" %}
		<!-- END SIDEBAR -->
		<!-- END SIDEBPANEL-->
		<!-- START PAGE-CONTAINER -->
		<div class="page-container {# PAGE_CONTAINER_CLASS #}">
		  <!-- START HEADER -->
		  {% if active_parent =="calendar" %}
		  {% include PATH + "shared/_calendar_header.html" %}
		  {% else%}
		  {% include PATH + "shared/_page_header.html" %}
		  {% endif %}
		  <!-- END HEADER -->
		  <!-- START PAGE CONTENT WRAPPER -->
		  <div class="page-content-wrapper {# CONTENT_WRAPPER_CLASS #}">
		    <!-- START PAGE CONTENT -->
		    <div class="content {# CONTENT_CLASS #}">
		    	{% block page %}{% endblock %}
		    </div>
		    <!-- END PAGE CONTENT -->
		    <!-- START COPYRIGHT -->
		    <!-- START CONTAINER FLUID -->
			{% if active_parent =="maps" %}
			{% include PATH + "shared/_vector_map_footer.html" %}
			{% elif active_parent !="calendar" %}
			{% include PATH + "shared/_copy_right.html" %}
			{% endif %}
		    <!-- END COPYRIGHT -->
		  </div>
		  <!-- END PAGE CONTENT WRAPPER -->
		</div>
		<!-- END PAGE CONTAINER -->
		<!--START QUICKVIEW -->
		{% include PATH + "shared/_quickview.html" %}
		<!-- END QUICKVIEW-->
		{% if ENV == "LIVE" %}
	    {% include PATH + "pages/builder/_builderOptions.tpl" %}
	    {% endif %}
		<!-- START OVERLAY -->
		{% include PATH + "shared/_overlay.html" %}
		<!-- END OVERLAY -->
		<!-- BEGIN VENDOR JS -->
		{% include PATH + "shared/_core_plugins_js.html" %}
		{% block page_js_dependencies %}{% endblock %}
		<!-- END VENDOR JS -->
	    <!-- BEGIN CORE TEMPLATE JS -->
		{% include PATH + "shared/_core_js.html" %}
	    {% block addition_core_pages_js %}{% endblock %}
	    <!-- END CORE TEMPLATE JS -->
	    <!-- BEGIN PAGE LEVEL JS -->
	    {% block addition_js %}{% endblock %}
	    <script src="{# ASSETS #}/js/scripts.js" type="text/javascript"></script>
	    <!-- END PAGE LEVEL JS -->
	    {% if ENV == "LIVE" %}
	    <script src="{# ASSETS #}/js/demo.js" type="text/javascript"></script>
		<script>
		 window.intercomSettings = {
		   app_id: "xt5z6ibr"
		 };
		</script>
		<script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/xt5z6ibr';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>
	    {% endif %}
	</body>
</html>