<!DOCTYPE html>
<html>
 	<head>
	{% include PATH + "shared/meta_header.html" %}
	{% include PATH + "shared/_core_plugins_css.html" %}
	{% block css_dependencies %}{% endblock %}
	{% include PATH + "shared/_core_css.html" %}
	</head>
	<body class="fixed-header horizontal-menu horizontal-app-menu {# BODY_CLASS #}">
		<!-- START HEADER -->
    	{% include PATH + "shared/horizontal_app_header.html" %}
	    <div class="page-container {# PAGE_CONTAINER_CLASS #}">
		  <!-- START PAGE CONTENT WRAPPER -->
		  <div class="page-content-wrapper {# CONTENT_WRAPPER_CLASS #}">
		    <!-- START PAGE CONTENT -->
	        <div class="container full-height no-padding">
	          <div class="secondary-sidebar-toggle bg-master-lighter padding-10 text-center d-lg-none d-xl-none">
	          	<a href="#" data-init="secondary-sidebar-toggle"><i class="pg pg-more"></i></a>
	          </div>
	          <div class="secondary-sidebar light" data-init="secondary-sidebar">
	            <p class="menu-title">BROWSE</p>
	            <ul class="main-menu">
	              <li class="">
	                <a href="#">
	                  <span class="title">pages frontend</span>
	                </a>
	              </li>
	              <li class="">
	                <a href="#">
	                  <span class="title">webarch admin</span>
	                </a>
	              </li>
	            </ul>
	            <p class="menu-title m-t-30">YOUR FAVOURITE</p>
	            <ul class="main-menu">
	              <li class="">
	                <a href="#">
	                  <span class="icon-thumbnail">
	                     <i data-feather="layers"></i> 
	                   </span>
	                  <span class="title">Collection</span>
	                  <span class="badge pull-right">5</span>
	                </a>
	              </li> 
	              <li class="">
	                <a href="#">
	                  <span class="icon-thumbnail">
	                     <i data-feather="award"></i> 
	                   </span>
	                  <span class="title"> Playlist</span>
	                </a>
	              </li>
	              <li class="open active">
	                <a href="#">
	                  <span class="icon-thumbnail">
	                     <i data-feather="inbox"></i> 
	                   </span>
	                  <span class="title">Case Study</span>
	                  <span class="arrow"></span>
	                </a>
	                <ul class="sub-menu">
	                  <li>
	                    <a href="#">
	                      <span class="bold m-r-10 fs-12">B4</span>
	                      <span class="title">Bootstrap 4</span>
	                    </a>
	                  </li>
	                  <li>
	                    <a href="#">
	                      <span class="bold m-r-10 fs-12">MP</span>
	                      <span class="title">Made with Pages</span>
	                    </a>
	                  </li>
	                </ul>
	              </li>
	            </ul>
	          </div>
	  		    <div class="inner-content full-height {# CONTENT_CLASS #} p-r-20 p-l-20">
	               {% block page %}{% endblock %}
	          </div>
		    </div>
	  	  </div>
		  <!-- END PAGE CONTENT WRAPPER -->
		</div>
		<!-- END PAGE CONTAINER -->
		{% block buildOptions %}{% endblock %}
		<!--START QUICKVIEW -->
		{% include PATH + "shared/_quickview.html" %}
		<!-- END QUICKVIEW-->
		<!-- START OVERLAY -->
		{% include PATH + "shared/_overlay.html" %}
		<!-- END OVERLAY -->
		<!-- BEGIN VENDOR JS -->
		<script src="{# ASSETS #}/plugins/feather-icons/feather.min.js" type="text/javascript"></script>
		{% include PATH + "shared/_core_plugins_js.html" %}
		{% block page_js_dependencies %}{% endblock %}
		<!-- END VENDOR JS -->
    <!-- BEGIN CORE TEMPLATE JS -->
		<script src="{# PAGES_CORE #}/js/pages.min.js"></script>
		<script src="{# PAGES_CORE #}/js/pages.html.js"></script>
    {% block addition_core_pages_js %}{% endblock %}
    <!-- END CORE TEMPLATE JS -->
    <!-- BEGIN PAGE LEVEL JS -->
    {% block addition_js %}{% endblock %}
    <script src="assets/js/scripts.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL JS -->

	</body>
</html>