<!DOCTYPE html>
<html>
 	<head>
	{% include PATH + "shared/meta_header.html" %}
	{% include PATH + "shared/_core_plugins_css.html" %}
	{% block css_dependencies %}{% endblock %}
	{% include PATH + "shared/_core_css.html" %}
    <script type="text/javascript">
    window.onload = function()
    {
      // fix for windows 8
      if (navigator.appVersion.indexOf("Windows NT 6.2") != -1)
        document.head.innerHTML += '<link rel="stylesheet" type="text/css" href="pages/css/windows.chrome.fix.css" />'
    }
    </script>
	</head>
	<body class="fixed-header {# BODY_CLASS #}">
		<!-- BEGIN SIDEBPANEL-->
		{% include PATH + "shared/sidebar.html" %}
		<!-- END SIDEBAR -->
		<!-- END SIDEBPANEL-->
		<div class="page-container {# PAGE_CONTAINER_CLASS #}">
		  <!-- START HEADER -->
		  {% include PATH + "shared/_page_header.html" %}
			<!-- START PAGE-CONTAINER -->
			{% block page %}{% endblock %}
		</div>
		<!-- END PAGE CONTAINER -->
		<!--START QUICKVIEW -->
		{% include PATH + "shared/_quickview.html" %}
		<!-- END QUICKVIEW-->
		<!-- START OVERLAY -->
		{% include PATH + "shared/_overlay.html" %}
		<!-- END OVERLAY -->
		<!-- BEGIN VENDOR JS -->
		{% include PATH + "shared/_core_plugins_js.html" %}
		{% block page_js_dependencies %}{% endblock %}
		<!-- END VENDOR JS -->
	    <!-- BEGIN CORE TEMPLATE JS -->
		<script src="{# PAGES_CORE #}/js/pages.min.js"></script>
		<script src="{# PAGES_CORE #}/js/pages.html.js"></script>
	    {% block addition_core_pages_js %}{% endblock %}
	    <!-- END CORE TEMPLATE JS -->
	    <!-- BEGIN PAGE LEVEL JS -->
	    {% block addition_js %}{% endblock %}
	    <script src="{# ASSETS #}/js/scripts.js" type="text/javascript"></script>
	    <!-- END PAGE LEVEL JS -->
	</body>
</html>