<!DOCTYPE html>
<html>
 	<head>
	{% include PATH + "shared/meta_header.html" %}
	{% include PATH + "shared/_core_plugins_css.html" %}
	{% block css_dependencies %}{% endblock %}
	<link href="{# PAGES_CORE #}/css/pages-icons.css" rel="stylesheet" type="text/css">
    <link class="main-stylesheet" href="{# PAGES_CORE #}/css/{# THEME #}.css" rel="stylesheet" type="text/css" />
	</head>
	<body class="fixed-header {# BODY_CLASS #}"> 
		<!-- BEGIN SIDEBPANEL-->
		{% include PATH + "shared/light_sidebar.html" %}
		<!-- END SIDEBAR -->
		<!-- END SIDEBPANEL-->
		<!-- START PAGE-CONTAINER -->
		<div class="page-container {# PAGE_CONTAINER_CLASS #}">
		  <!-- START HEADER -->
		  {% if active_parent =="calendar" %}
		  {% include PATH + "shared/_calendar_header.html" %}
		  {% else%}
		  {% include PATH + "shared/header_style_two.html" %}
		  {% endif %}
		  <!-- END HEADER -->
		  <!-- START PAGE CONTENT WRAPPER -->
		  <div class="page-content-wrapper {# CONTENT_WRAPPER_CLASS #}">
		    <!-- START PAGE CONTENT -->
		    <div class="content {# CONTENT_CLASS #}">
		    	{% block page %}{% endblock %}
		    </div>
		    <!-- END PAGE CONTENT -->
		    <!-- START COPYRIGHT -->
		    <!-- START CONTAINER FLUID -->
			{% if active_parent =="maps" %}
			{% include PATH + "shared/_vector_map_footer.html" %}
			{% elif active_parent !="calendar" %}
			{% include PATH + "shared/_copy_right.html" %}
			{% endif %}
		    <!-- END COPYRIGHT -->
		  </div>
		  <!-- END PAGE CONTENT WRAPPER -->
		</div>
		<!-- END PAGE CONTAINER -->
		<!--START QUICKVIEW -->
		{% include PATH + "shared/_quickview.html" %}
		<!-- END QUICKVIEW-->
		<!-- START OVERLAY -->
		{% include PATH + "shared/_overlay.html" %}
		<!-- END OVERLAY -->
		<!-- BEGIN VENDOR JS -->
		<script src="{# ASSETS #}/plugins/feather-icons/feather.min.js" type="text/javascript"></script>
		{% include PATH + "shared/_core_plugins_js.html" %}
		{% block page_js_dependencies %}{% endblock %}
		<!-- END VENDOR JS -->
	    <!-- BEGIN CORE TEMPLATE JS -->
		<script src="{# PAGES_CORE #}/js/pages.min.js"></script>
		<script src="{# PAGES_CORE #}/js/pages.html.js"></script>
	    {% block addition_core_pages_js %}{% endblock %}
	    <!-- END CORE TEMPLATE JS -->
	    <!-- BEGIN PAGE LEVEL JS -->
	    {% block addition_js %}{% endblock %}
	    <script src="{# ASSETS #}/js/scripts.js" type="text/javascript"></script>
	    <!-- END PAGE LEVEL JS -->
	    {% if ENV == "LIVE" %}
	    <script src="{# ASSETS #}/js/demo.js" type="text/javascript"></script>
	    {% endif %}
	</body>
</html>