<!DOCTYPE html>
<html>
 	<head>
	{% include PATH + "shared/meta_header.html" %}
	{% include PATH + "shared/_core_plugins_css.html" %}
	{% block css_dependencies %}{% endblock %}
	{% include PATH + "shared/_core_css.html" %}
    <script type="text/javascript">
    window.onload = function()
    {
      // fix for windows 8
      if (navigator.appVersion.indexOf("Windows NT 6.2") != -1)
        document.head.innerHTML += '<link rel="stylesheet" type="text/css" href="pages/css/windows.chrome.fix.css" />'
    }
    </script>
	</head>
	<body class="fixed-header {# BODY_CLASS #}" style="border-color:#e6e6e6; border-width:1px 1px 0 1px; border-style:solid">
		{% block page %}{% endblock %}
		<!-- BEGIN VENDOR JS -->
		{% include PATH + "shared/_core_plugins_js.html" %}
		<!-- END VENDOR JS -->
		<script src="{# PAGES_CORE #}/js/pages.js"></script>
		<script src="{# PAGES_CORE #}/js/pages.html.js"></script>
		{% block js_dependencies %}{% endblock %}
	</body>
</html>