<!DOCTYPE html>
<html>
 	<head>
	{% include PATH + "shared/meta_header.html" %}
	{% include PATH + "shared/_core_plugins_css.html" %}
	{% block css_dependencies %}{% endblock %}
	{% include PATH + "shared/_core_css.html" %}

	</head>
	<body class="fixed-header {# BODY_CLASS #}"> 
		<!-- BEGIN SIDEBPANEL-->
		{% include PATH + "shared/sidebar.html" %}
		<!-- END SIDEBAR -->
		<!-- END SIDEBPANEL-->
		<!-- START PAGE-CONTAINER -->
		<div class="page-container {# PAGE_CONTAINER_CLASS #}">
		  <!-- START HEADER -->
		  {% if active_parent =="calendar" %}
		  {% include PATH + "shared/_calendar_header.html" %}
		  {% else%}
		  {% include PATH + "shared/_page_header.html" %}
		  {% endif %}
		  <!-- END HEADER -->
		  <!-- START PAGE CONTENT WRAPPER -->
		<div class="page-content-wrapper full-height">
		<!-- START PAGE CONTENT -->
		<div class="content full-height">
		  <!-- START APP -->
		    <!-- START SECONDARY SIDEBAR MENU-->
		    <nav class="secondary-sidebar">
		      <div class=" m-b-30 m-l-30 m-r-30 d-sm-none d-md-block d-lg-block d-xl-block">
		      	<a href="email_compose.html" class="btn btn-complete btn-block btn-compose">Compose</a>
		      </div>
		      <p class="menu-title">BROWSE</p>
		      <ul class="main-menu">
		        <li class="active">
		          <a href="#">
		            <span class="title"><i class="pg-inbox"></i> Inbox</span>
		            <span class="badge pull-right">5</span>
		          </a>
		        </li>
		        <li class="">
		          <a href="#">
		            <span class="title"><i class="pg-folder"></i> All mail</span>
		          </a>
		          <ul class="sub-menu no-padding">
		            <li>
		              <a href="#">
		                <span class="title">Important</span>
		              </a>
		            </li>
		            <li>
		              <a href="#">
		                <span class="title">Labeled</span>
		              </a>
		            </li>
		          </ul>
		        </li>
		        <li>
		          <a href="#">
		            <span class="title"><i class="pg-sent"></i> Sent</span>
		          </a>
		        </li>
		        <li>
		          <a href="#">
		            <span class="title"><i class="pg-spam"></i> Spam</span>
		            <span class="badge pull-right">10</span>
		          </a>
		        </li>
		      </ul>
		      <p class="menu-title m-t-20 all-caps">Quick view</p>
		      <ul class="sub-menu no-padding">
		        <li>
		          <a href="#">
		            <span class="title">Documents</span>
		          </a>
		        </li>
		        <li>
		          <a href="#">
		            <span class="title">Flagged</span>
		            <span class="badge pull-right">5</span>
		          </a>
		        </li>
		        <li>
		          <a href="#">
		            <span class="title">Images</span>
		          </a>
		        </li>
		      </ul>
		    </nav>
		    <!-- END SECONDARY SIDEBAR MENU -->
		    <div class="inner-content full-height">
		    	{% block page %}{% endblock %}
		    </div>  
		  <!-- END APP -->
		</div>
		<!-- END PAGE CONTENT -->
		</div>

		<!-- END PAGE CONTAINER -->
		<!--START QUICKVIEW -->
		{% include PATH + "shared/_quickview.html" %}
		<!-- END QUICKVIEW-->
		<!-- START OVERLAY -->
		{% include PATH + "shared/_overlay.html" %}
		<!-- END OVERLAY -->
		<!-- BEGIN VENDOR JS -->
		{% include PATH + "shared/_core_plugins_js.html" %}
		{% block page_js_dependencies %}{% endblock %}
		<!-- END VENDOR JS -->
	    <!-- BEGIN CORE TEMPLATE JS -->
			<script src="{# PAGES_CORE #}/js/pages.min.js"></script>
			<script src="{# PAGES_CORE #}/js/pages.html.js"></script>
	    {% block addition_core_pages_js %}{% endblock %}
	    <!-- END CORE TEMPLATE JS -->
	    <!-- BEGIN PAGE LEVEL JS -->
	    {% block addition_js %}{% endblock %}
	    <script src="{# ASSETS #}/js/scripts.js" type="text/javascript"></script>
	    <!-- END PAGE LEVEL JS -->
	</body>
</html>

