{% extends WIDGET_PATH + "src/layout.html" %}
{% set ASSETS = "../assets" %}
{% block vendor_css %}
	<link media="screen" type="text/css" rel="stylesheet" href="../assets/plugins/select2/css/select2.min.css">
{% endblock %}
{% block vendor_js %}
	<script src="../assets/plugins/select2/js/select2.min.js" type="text/javascript"></script>
{% endblock %}
{% block content %}
    <div class="widget-1-wrapper pending-comments-widget">
        {% include PATH + "pages/dashboard/_widget/widget_pendingComments.tpl" %}
    </div>
{% endblock %}