

<section id="content">
    <h3 class="page-title">Content</h3>
    <hr>
    <p>
        Contents are reffered to as inner layout structure. We have pre-build different inner content structures that are widely used for differnt web apps or even mobiles apps
    </p>
    <br>
    <br>
    <p>Layouts:</p>
    <ul class="other-ref">
        <li><a href="#">Plain</a></li>
        <li><a href="#">Coverpage with parallax</a></li>
        <li><a href="#">Full height coverpage with parallax</a></li>
        <li><a href="#">Page title parallax</a></li>
        <li><a href="#">Column view 3:9</a></li>
        <li><a href="#">Column view 9:3</a></li>
        <li><a href="#">Column view 6:6</a></li>
    </ul>
    <div class="text-center">
    </div>
</section>
<section>
    <h5><a href="#line">Plain
              </a>
            </h5>
    <pre><code class="xml">&lt;!-- START PAGE CONTENT --&gt;
&lt;div class=&quot;content&quot;&gt;
    &lt;!-- START PAGE COVER --&gt;
    &lt;div class=&quot;container-fluid container-fixed-lg &quot;&gt;
        &lt;ul class=&quot;breadcrumb&quot;&gt;
            &lt;li&gt;
                &lt;p&gt;home&lt;/p&gt;
            &lt;/li&gt;
            &lt;li&gt;&lt;a href=&quot;#&quot; class=&quot;active&quot;&gt;Plain template&lt;/a&gt; 
            &lt;/li&gt;
        &lt;/ul&gt;
        &lt;!-- END BREADCRUMB --&gt;
        &lt;h3 class=&quot;page-title&quot;&gt;Page Title&lt;/h3&gt;
    &lt;/div&gt;

    &lt;div class=&quot;container-fluid container-fixed-lg&quot;&gt;

          &lt;!-- CONTENT GOES HERE--&gt;

    &lt;/div&gt;
&lt;/div&gt;
&lt;!-- END PAGE CONTENT --&gt;</code></pre>
</section>
<section>
    <h5><a href="#line">Coverpage with parallax
              </a>
            </h5>
    <pre><code class="xml">&lt;div class=&quot;content&quot;&gt;
  &lt;!-- START JUMBOTRON --&gt;
  &lt;div class=&quot;jumbotron page-cover&quot; data-pages=&quot;parallax&quot;&gt;
    &lt;div class=&quot;container-fluid container-fixed-lg&quot;&gt;
      &lt;div class=&quot;inner&quot;&gt;
        &lt;!-- START BREADCRUMB --&gt;
        &lt;ul class=&quot;breadcrumb&quot;&gt;
          &lt;li&gt;
            &lt;p&gt;Home&lt;/p&gt;
          &lt;/li&gt;
          &lt;li&gt;
            &lt;a class=&quot;active&quot; href=&quot;#&quot;&gt;Parrallax&lt;/a&gt;
          &lt;/li&gt;
        &lt;/ul&gt;&lt;!-- END BREADCRUMB --&gt;
        &lt;div class=&quot;container-md-height m-b-20&quot;&gt;
          &lt;div class=&quot;row row-md-height&quot;&gt;
            &lt;div class=&quot;col-lg-7 col-md-6 col-md-height col-middle bg-white&quot;&gt;
              &lt;!-- START PANEL --&gt;

              &lt;div class=&quot;full-height&quot;&gt;
                &lt;div class=&quot;panel-body text-center&quot;&gt;
                
                &lt;/div&gt;
              &lt;/div&gt;&lt;!-- END PANEL --&gt;
            &lt;/div&gt;

            &lt;div class=&quot;col-lg-5 col-md-height col-md-6 col-top&quot;&gt;
              &lt;!-- START PANEL --&gt;

              &lt;div class=&quot;panel panel-transparent&quot;&gt;
                &lt;div class=&quot;panel-heading&quot;&gt;
                  &lt;div class=&quot;panel-title&quot;&gt;
                    Getting started
                  &lt;/div&gt;
                &lt;/div&gt;

                &lt;div class=&quot;panel-body&quot;&gt;

                &lt;/div&gt;
              &lt;/div&gt;&lt;!-- END PANEL --&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;&lt;!-- END JUMBOTRON --&gt;

  &lt;div class=&quot;container-fluid container-fixed-lg &quot;&gt;

  &lt;/div&gt;
&lt;/div&gt;&lt;!-- END PAGE CONTENT --&gt;</code></pre>
</section>
<section>
    <h5><a href="#line">Full height coverpage with parallax
              </a>
            </h5>
    <pre><code class="xml">&lt;div class=&quot;page-content-wrapper content-builder full-height&quot;&gt;
  &lt;!-- START PAGE CONTENT --&gt;
  &lt;div class=&quot;content full-height&quot;&gt;
    &lt;!-- START JUMBOTRON --&gt;
    &lt;div class=&quot;jumbotron full-height no-padding&quot; data-pages=&quot;parallax&quot;&gt;
      &lt;div class=&quot;container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20 full-height&quot;&gt;
        &lt;div class=&quot;inner full-height&quot;&gt;
          &lt;div class=&quot;container-xs-height full-height&quot;&gt;
            &lt;div class=&quot;col-xs-height col-middle text-center&quot;&gt;
              &lt;div class=&quot;col-md-6 col-md-offset-3 text-center&quot;&gt;
                &lt;h2 class=&quot;text-center&quot;&gt;&lt;img alt=&quot;logo&quot; src=&quot;assets/img/logo.png&quot;&gt; makes it super-easy to create your
                dashboard Without a designer.&lt;/h2&gt;&lt;button class=&quot;btn btn-success btn-rounded&quot;&gt;Live Preview&lt;/button&gt;
                &lt;button class=&quot;btn btn-link text-white&quot;&gt;Watch Video&lt;/button&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;&lt;!-- END JUMBOTRON --&gt;

    &lt;div class=&quot;container-fluid container-fixed-lg&quot;&gt;
    
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;&lt;!-- END PAGE CONTENT --&gt;</code></pre>
</section>
<section>
    <h5><a href="#line">Page title parallax
              </a>
            </h5>
    <pre><code class="xml">&lt;div class=&quot;content&quot;&gt;
  &lt;!-- START JUMBOTRON --&gt;
  &lt;div class=&quot;jumbotron no-margin&quot; data-pages=&quot;parallax&quot;&gt;
    &lt;div class=&quot;container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20&quot;&gt;
      &lt;div class=&quot;inner&quot;&gt;
        &lt;h3 class=&quot;&quot;&gt;Page Title&lt;/h3&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;&lt;!-- END JUMBOTRON --&gt;
  &lt;div class=&quot;container-fluid container-fixed-lg demo-container&quot;&gt;
    &lt;!-- START BREADCRUMB --&gt;
    &lt;ul class=&quot;breadcrumb&quot;&gt;
      &lt;li&gt;
        &lt;p&gt;home&lt;/p&gt;
      &lt;/li&gt;
      &lt;li&gt;
        &lt;a class=&quot;active&quot; href=&quot;#&quot;&gt;Parallax for page title&lt;/a&gt;
      &lt;/li&gt;
    &lt;/ul&gt;&lt;!-- END BREADCRUMB --&gt;
    
  &lt;/div&gt;
&lt;/div&gt;&lt;!-- END PAGE CONTENT --&gt;</code></pre>
</section>
<section>
    <h5><a href="#line">Column view 3:9
              </a>
            </h5>
    <pre><code class="xml">&lt;!-- START PAGE CONTENT WRAPPER --&gt;
&lt;div class=&quot;page-content-wrapper content-builder full-height&quot;&gt;  
    &lt;!-- START PAGE CONTENT --&gt;
    &lt;div class=&quot;content full-height&quot;&gt;
        &lt;div class=&quot;container-fluid full-height no-padding&quot;&gt;
            &lt;div class=&quot;row full-height no-margin&quot;&gt;
                &lt;div class=&quot;col-md-3 no-padding b-r b-grey sm-b-b full-height&quot;&gt;
                    &lt;div class=&quot;bg-white full-height&quot;&gt;
                    &lt;!-- YOU CAN REMOVE FULL-HEIGHT IN ALL PARENT ELEMENTS TO EXPEND TO CONTENT HEIGHT
                       YOU CAN ALSO CHANGE THE BACKGROUND COLOR BY ADDING THE BG CLASSES
                       EXAMPLE : bg-success
                     --&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
                &lt;div class=&quot;col-md-9 no-padding full-height&quot;&gt;
                    &lt;div class=&quot;placeholder full-height&quot;&gt;
                    &lt;!-- YOU CAN REMOVE FULL-HEIGHT IN ALL PARENT ELEMENTS TO EXPEND TO CONTENT HEIGHT
                       YOU CAN ALSO CHANGE THE BACKGROUND COLOR BY ADDING THE BG CLASSES
                       EXAMPLE : bg-success
                     --&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
            &lt;/div&gt;
            &lt;/div&gt;
    &lt;/div&gt;
    &lt;!-- END PAGE CONTENT --&gt;
&lt;/div&gt;
&lt;!-- END PAGE CONTENT WRAPPER --&gt;</code></pre>
</section>
<section>
    <h5><a href="#line">Column view 9:3
              </a>
            </h5>
    <pre><code class="xml">&lt;!-- START PAGE CONTENT WRAPPER --&gt;
&lt;div class=&quot;page-content-wrapper content-builder full-height&quot;&gt;  
    &lt;!-- START PAGE CONTENT --&gt;
    &lt;div class=&quot;content full-height&quot;&gt;
        &lt;div class=&quot;container-fluid full-height no-padding&quot;&gt;
            &lt;div class=&quot;row full-height no-margin&quot;&gt;
                &lt;div class=&quot;col-md-9 no-padding b-r b-grey sm-b-b full-height&quot;&gt;
                    &lt;div class=&quot;bg-white full-height&quot;&gt;
                    &lt;!-- YOU CAN REMOVE FULL-HEIGHT IN ALL PARENT ELEMENTS TO EXPEND TO CONTENT HEIGHT
                       YOU CAN ALSO CHANGE THE BACKGROUND COLOR BY ADDING THE BG CLASSES
                       EXAMPLE : bg-success
                     --&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
                &lt;div class=&quot;col-md-3 no-padding full-height&quot;&gt;
                    &lt;div class=&quot;placeholder full-height&quot;&gt;
                    &lt;!-- YOU CAN REMOVE FULL-HEIGHT IN ALL PARENT ELEMENTS TO EXPEND TO CONTENT HEIGHT
                       YOU CAN ALSO CHANGE THE BACKGROUND COLOR BY ADDING THE BG CLASSES
                       EXAMPLE : bg-success
                     --&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
            &lt;/div&gt;
            &lt;/div&gt;
    &lt;/div&gt;
    &lt;!-- END PAGE CONTENT --&gt;
&lt;/div&gt;
&lt;!-- END PAGE CONTENT WRAPPER --&gt</code></pre>
</section>
<section>
    <h5><a href="#line">Column view 6:6
              </a>
            </h5>
    <pre><code class="xml">&lt;!-- START PAGE CONTENT WRAPPER --&gt;
&lt;div class=&quot;page-content-wrapper content-builder full-height&quot;&gt;  
    &lt;!-- START PAGE CONTENT --&gt;
    &lt;div class=&quot;content full-height&quot;&gt;
        &lt;div class=&quot;container-fluid full-height no-padding&quot;&gt;
            &lt;div class=&quot;row full-height no-margin&quot;&gt;
                &lt;div class=&quot;col-md-6 no-padding b-r b-grey sm-b-b full-height&quot;&gt;
                    &lt;div class=&quot;bg-white full-height&quot;&gt;
                    &lt;!-- YOU CAN REMOVE FULL-HEIGHT IN ALL PARENT ELEMENTS TO EXPEND TO CONTENT HEIGHT
                       YOU CAN ALSO CHANGE THE BACKGROUND COLOR BY ADDING THE BG CLASSES
                       EXAMPLE : bg-success
                     --&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
                &lt;div class=&quot;col-md-6 no-padding full-height&quot;&gt;
                    &lt;div class=&quot;placeholder full-height&quot;&gt;
                    &lt;!-- YOU CAN REMOVE FULL-HEIGHT IN ALL PARENT ELEMENTS TO EXPEND TO CONTENT HEIGHT
                       YOU CAN ALSO CHANGE THE BACKGROUND COLOR BY ADDING THE BG CLASSES
                       EXAMPLE : bg-success
                     --&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
            &lt;/div&gt;
            &lt;/div&gt;
    &lt;/div&gt;
    &lt;!-- END PAGE CONTENT --&gt;
&lt;/div&gt;
&lt;!-- END PAGE CONTENT WRAPPER --&gt</code></pre>
</section>
<p>Other Useful resources thay you may find:</p>
<ul class="other-ref">
    <li><a href="{# ROOT #}partials/themes.html">Themes</a></li>
    <li><a href="{# ROOT #}partials/layouts.html">Layouts</a></li>
</ul>