<section id="upgrading">
    <h3 class="page-title">Upgrading</h3>
    <hr>
    <p>We love our customer, updates are going to be <strong>free of charge</strong> </p>
    <p>We also made sure that update from one version to another is like a walk in the park, when an update is ready themeforest will send you an email to you registered envato account or if you a GitHub account send us your username with your purchase ID, we will add you to our private GitHub
    </p>
</section>
<section>
    <h4><a href="#line">
          How to Update "Pages"
            </a>
          </h4>
    <p class="m-b-15">
        Once you download the new updates from Themeforest,</p>
    <p>Simply copy the "pages" folder and place it your project root "pages" folder
        <br> Thats it! Your are now updated and ready to go.
    </p>
</section>