<!-- START JUMBOTRON -->
        <div class="jumbotron lg vertical center bg-white column-w4 vertical-bottom" data-pages="parallax">
          <div class="{% if mode =='horizontal_menu' %} container  {% else %} container-fluid {% endif %}  container-fixed-lg sm-p-l-0 sm-p-r-0 full-height">
            <div class="inner text-center p-t-50 m-t-80 full-height">
              <img class="sm-image-responsive-height" src="{# ASSETS #}/img/demo/icons_hero.png" data-src="{# ASSETS #}/img/demo/icons_hero.png" data-src-retina="{# ASSETS #}/img/demo/icons_hero2x.png" alt="" width="612" height="69">
              <div class="m-b-10">
                <h2 class=" p-t-10 inline">Carefully hand crafted icons exclusively only on pages</h2>
              </div>
              <div class="input-group transparent col-lg-4 center-margin">
                <input type="text" class="form-control" placeholder="Search for icon - home, camera, world etc." id="icon-filter" name="icon-filter">
                <span class="input-group-addon ">
                              <i class="pg-search"></i>
                          </span>
              </div>
              <div class="m-t-20 m-b-40 ">
                <p class="small hint-text">Pages Pixel perfect icons / Font awesome / line icons</p>
              </div>
              <div class="input-group col-lg-4 center-margin ">
                <div class="col-lg-7 b-grey b-r">
                  <p class="hinted-text text-left p-t-15 p-b-t-15">Built upon a 14x14px Grid System.
                    <br>Vector Font icons</p>
                </div>
                <div class="col-lg-5">
                  <p class="hinted-text text-left p-t-15 p-b-t-15 p-l-10">Svg files available
                    <br>Pixel Perfect</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- END JUMBOTRON -->
        <div class="{% if mode =='horizontal_menu' %} container  {% else %} container-fluid {% endif %}  container-fixed-lg">
          <br>
          <div class="row icon-set-preview">
            <div class="col-lg-4">
              <div class="card card-default">
                <div class="card-header ">
                  <div class="card-title">Pages icon
                  </div>
                </div>
                <div class="card-body">
                  <div class="icon-preview m-t-10">
                    <div class="row center-margin m-b-10">
                      <div class="col-2 text-center">
                        <i class="fs-14 pg-charts"></i>
                      </div>
                      <div class="col-2 text-center">
                        <i class="fs-14 pg-comment"></i>
                      </div>
                      <div class="col-2 text-center">
                        <i class="fs-14 pg-desktop"></i>
                      </div>
                      <div class="col-2 text-center">
                        <i class="fs-14 pg-bag"></i>
                      </div>
                      <div class="col-2 text-center">
                        <i class="fs-14 pg-calender"></i>
                      </div>
                      <div class="col-2 text-center">
                        <i class="fs-14 pg-camera"></i>
                      </div>
                    </div>
                    <div class="row center-margin m-b-10">
                      <div class="col-2 text-center">
                        <i class="fs-14 pg-centeralign"></i>
                      </div>
                      <div class="col-2 text-center">
                        <i class="fs-14 pg-clock"></i>
                      </div>
                      <div class="col-2 text-center">
                        <i class="fs-14 pg-close"></i>
                      </div>
                      <div class="col-2 text-center">
                        <i class="fs-14 pg-refresh_new"></i>
                      </div>
                      <div class="col-2 text-center">
                        <i class="fs-14 pg-comment"></i>
                      </div>
                      <div class="col-2 text-center">
                        <i class="fs-14 pg-credit_card_line"></i>
                      </div>
                    </div>
                    <div class="row center-margin m-b-10">
                      <div class="col-2 text-center">
                        <i class="fs-14 pg-menu_justify"></i>
                      </div>
                      <div class="col-2 text-center">
                        <i class="fs-14 pg-grid"></i>
                      </div>
                      <div class="col-2 text-center">
                        <i class="fs-14 pg-menu"></i>
                      </div>
                      <div class="col-2 text-center">
                        <i class="fs-14 pg-desktop"></i>
                      </div>
                      <div class="col-2 text-center">
                        <i class="fs-14 pg-minus"></i>
                      </div>
                      <div class="col-2 text-center">
                        <i class="fs-14 pg-plus"></i>
                      </div>
                    </div>
                    <div class="row center-margin m-b-10">
                      <div class="col-2 text-center">
                        <i class="fs-14 pg-search"></i>
                      </div>
                      <div class="col-2 text-center">
                        <i class="fs-14 pg-power"></i>
                      </div>
                      <div class="col-2 text-center">
                        <i class="fs-14 pg-refresh"></i>
                      </div>
                      <div class="col-2 text-center">
                        <i class="fs-14 pg-tables"></i>
                      </div>
                      <div class="col-2 text-center">
                        <i class="fs-14 pg-ui"></i>
                      </div>
                      <div class="col-2 text-center">
                        <i class="fs-14 pg-video"></i>
                      </div>
                    </div>
                    <div class="row center-margin m-b-10">
                      <div class="col-2 text-center">
                        <i class="fs-14 pg-mail"></i>
                      </div>
                      <div class="col-2 text-center">
                        <i class="fs-14 pg-map"></i>
                      </div>
                      <div class="col-2 text-center">
                        <i class="fs-14 pg-cupboard"></i>
                      </div>
                      <div class="col-2 text-center">
                        <i class="fs-14 pg-download"></i>
                      </div>
                      <div class="col-2 text-center">
                        <i class="fs-14 pg-home"></i>
                      </div>
                      <div class="col-2 text-center">
                        <i class="fs-14 pg-laptop"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card card-default">
                <div class="card-header ">
                  <div class="card-title">Fontawesome
                  </div>
                </div>
                <div class="card-body">
                  <div class="icon-preview m-t-10">
                    <div class="row center-margin m-b-10">
                      <div class="col-2 text-center">
                        <i class="fs-14 fa fa-cloud"></i>
                      </div>
                      <div class="col-2 text-center">
                        <i class="fs-14 fa fa-cloud-download"></i>
                      </div>
                      <div class="col-2 text-center">
                        <i class="fs-14 fa fa-code-fork"></i>
                      </div>
                      <div class="col-2 text-center">
                        <i class="fs-14 fa fa-dashboard"></i>
                      </div>
                      <div class="col-2 text-center">
                        <i class="fs-14 fa fa-cube"></i>
                      </div>
                      <div class="col-2 text-center">
                        <i class="fs-14 fa fa-cubes"></i>
                      </div>
                    </div>
                    <div class="row center-margin m-b-10">
                      <div class="col-2 text-center">
                        <i class="fs-14 fa fa-heart"></i>
                      </div>
                      <div class="col-2 text-center">
                        <i class="fs-14 fa fa-lock"></i>
                      </div>
                      <div class="col-2 text-center">
                        <i class="fs-14 fa fa-rss"></i>
                      </div>
                      <div class="col-2 text-center">
                        <i class="fs-14 fa fa-signal"></i>
                      </div>
                      <div class="col-2 text-center">
                        <i class="fs-14 fa fa-magic"></i>
                      </div>
                      <div class="col-2 text-center">
                        <i class="fs-14 fa fa-question"></i>
                      </div>
                    </div>
                    <div class="row center-margin m-b-10">
                      <div class="col-2 text-center">
                        <i class="fs-14 fa fa-paint-brush"></i>
                      </div>
                      <div class="col-2 text-center">
                        <i class="fs-14 fa fa-terminal"></i>
                      </div>
                      <div class="col-2 text-center">
                        <i class="fs-14 fa fa-tag"></i>
                      </div>
                      <div class="col-2 text-center">
                        <i class="fs-14 fa fa-wifi"></i>
                      </div>
                      <div class="col-2 text-center">
                        <i class="fs-14 fa fa-tablet"></i>
                      </div>
                      <div class="col-2 text-center">
                        <i class="fs-14 pg-plus"></i>
                      </div>
                    </div>
                    <div class="row center-margin m-b-10">
                      <div class="col-2 text-center">
                        <i class="fs-14 fa fa-bars"></i>
                      </div>
                      <div class="col-2 text-center">
                        <i class="fs-14 fa fa-search"></i>
                      </div>
                      <div class="col-2 text-center">
                        <i class="fs-14 fa fa-phone"></i>
                      </div>
                      <div class="col-2 text-center">
                        <i class="fs-14 fa fa-share-alt"></i>
                      </div>
                      <div class="col-2 text-center">
                        <i class="fs-14 fa fa-phone"></i>
                      </div>
                      <div class="col-2 text-center">
                        <i class="fs-14 fa fa-bolt"></i>
                      </div>
                    </div>
                    <div class="row center-margin m-b-10">
                      <div class="col-2 text-center">
                        <i class="fs-14 fa fa-adjust"></i>
                      </div>
                      <div class="col-2 text-center">
                        <i class="fs-14 fa fa-check"></i>
                      </div>
                      <div class="col-2 text-center">
                        <i class="fs-14 fa fa-font"></i>
                      </div>
                      <div class="col-2 text-center">
                        <i class="fs-14 fa fa-th"></i>
                      </div>
                      <div class="col-2 text-center">
                        <i class="fs-14 fa fa-repeat"></i>
                      </div>
                      <div class="col-2 text-center">
                        <i class="fs-14 fa fa-folder-o"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card card-default">
                <div class="card-header ">
                  <div class="card-title">Line Icon
                  </div>
                </div>
                <div class="card-body">
                  <div class="icon-preview m-t-10">
                    <div class="row center-margin m-b-10">
                      <div class="col-2 text-center">
                        <i class="fs-14 sl-user-follow"></i>
                      </div>
                      <div class="col-2 text-center">
                        <i class="fs-14 sl-screen-desktop"></i>
                      </div>
                      <div class="col-2 text-center">
                        <i class="fs-14 sl-mouse"></i>
                      </div>
                      <div class="col-2 text-center">
                        <i class="fs-14 sl-energy"></i>
                      </div>
                      <div class="col-2 text-center">
                        <i class="fs-14 sl-disc"></i>
                      </div>
                      <div class="col-2 text-center">
                        <i class="fs-14 sl-crop"></i>
                      </div>
                    </div>
                    <div class="row center-margin m-b-10">
                      <div class="col-2 text-center">
                        <i class="fs-14 sl-crop"></i>
                      </div>
                      <div class="col-2 text-center">
                        <i class="fs-14 sl-user"></i>
                      </div>
                      <div class="col-2 text-center">
                        <i class="fs-14 sl-speedometer"></i>
                      </div>
                      <div class="col-2 text-center">
                        <i class="fs-14 sl-shield"></i>
                      </div>
                      <div class="col-2 text-center">
                        <i class="fs-14 sl-magic-wand"></i>
                      </div>
                      <div class="col-2 text-center">
                        <i class="fs-14 sl-bell"></i>
                      </div>
                    </div>
                    <div class="row center-margin m-b-10">
                      <div class="col-2 text-center">
                        <i class="fs-14 sl-wallet"></i>
                      </div>
                      <div class="col-2 text-center">
                        <i class="fs-14 sl-printer"></i>
                      </div>
                      <div class="col-2 text-center">
                        <i class="fs-14 sl-map"></i>
                      </div>
                      <div class="col-2 text-center">
                        <i class="fs-14 sl-playlist"></i>
                      </div>
                      <div class="col-2 text-center">
                        <i class="fs-14 sl-handbag"></i>
                      </div>
                      <div class="col-2 text-center">
                        <i class="fs-14 sl-film"></i>
                      </div>
                    </div>
                    <div class="row center-margin m-b-10">
                      <div class="col-2 text-center">
                        <i class="fs-14 sl-feed"></i>
                      </div>
                      <div class="col-2 text-center">
                        <i class="fs-14 sl-docs"></i>
                      </div>
                      <div class="col-2 text-center">
                        <i class="fs-14 sl-directions"></i>
                      </div>
                      <div class="col-2 text-center">
                        <i class="fs-14 sl-calculator"></i>
                      </div>
                      <div class="col-2 text-center">
                        <i class="fs-14 sl-bag"></i>
                      </div>
                      <div class="col-2 text-center">
                        <i class="fs-14 sl-tag"></i>
                      </div>
                    </div>
                    <div class="row center-margin m-b-10">
                      <div class="col-2 text-center">
                        <i class="fs-14 sl-microphone"></i>
                      </div>
                      <div class="col-2 text-center">
                        <i class="fs-14 sl-loop"></i>
                      </div>
                      <div class="col-2 text-center">
                        <i class="fs-14 sl-login"></i>
                      </div>
                      <div class="col-2 text-center">
                        <i class="fs-14 sl-list"></i>
                      </div>
                      <div class="col-2 text-center">
                        <i class="fs-14 sl-like"></i>
                      </div>
                      <div class="col-2 text-center">
                        <i class="fs-14 sl-calendar"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- END GRID -->
          <div id="icon-list" class="hidden">
            <div class="card card-transparent">
              <div class="card-header ">
                <div class="card-title">Search Results
                </div>
              </div>
              <div class="card-body">
                <div class="row margin-bottom-20 icon-list">
                  <div class="fa-item col-lg-3 col-md-4"><i class="pg-signals"></i> pg-signals</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="pg-crop"></i> pg-crop</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="pg-folder_alt"></i> pg-folder_alt</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="pg-folder"></i> pg-folder</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="pg-theme"></i> pg-theme</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="pg-battery_empty"></i> pg-battery_empty</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="pg-battery"></i> pg-battery</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="pg-note"></i> pg-note</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="pg-server_hard"></i> pg-server_hard</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="pg-servers"></i> pg-servers</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="pg-menu_justify"></i> pg-menu_justify</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="pg-credit_card"></i> pg-credit_card</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="pg-fullscreen_restore"></i> pg-fullscreen_restore</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="pg-fullscreen"></i> pg-fullscreen</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="pg-minus"></i> pg-minus</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="pg-minus_circle"></i> pg-minus_circle</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="pg-plus_circle"></i> pg-plus_circle</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="pg-refresh_new"></i> pg-refresh_new</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="pg-close_line"></i> pg-close_line</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="pg-close"></i> pg-close</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="pg-arrow_down"></i> pg-arrow_down</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="pg-arrow_left_line_alt"></i> pg-arrow_left_line_alt</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="pg-arrow_left"></i> pg-arrow_left</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="pg-arrow_lright_line_alt"></i> pg-arrow_lright_line_alt</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="pg-arrow_maximize_line"></i> pg-arrow_maximize_line</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="pg-arrow_maximize"></i> pg-arrow_maximize</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="pg-arrow_minimize_line"></i> pg-arrow_minimize_line</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="pg-arrow_minimize"></i> pg-arrow_minimize</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="pg-arrow_right"></i> pg-arrow_right</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="pg-arrow_up"></i> pg-arrow_up</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="pg-more"></i> pg-more</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="pg-bag"></i> pg-bag</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="pg-bag1"></i> pg-bag1</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="pg-bold"></i> pg-bold</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="pg-calender"></i> pg-calender</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="pg-camera"></i> pg-camera</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="pg-centeralign"></i> pg-centeralign</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="pg-charts"></i> pg-charts</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="pg-clock"></i> pg-clock</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="pg-comment"></i> pg-comment</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="pg-contact_book"></i> pg-contact_book</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="pg-credit_card_line"></i> pg-credit_card_line</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="pg-cupboard"></i> pg-cupboard</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="pg-desktop"></i> pg-desktop</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="pg-download"></i> pg-download</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="pg-eraser"></i> pg-eraser</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="pg-extra"></i> pg-extra</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="pg-form"></i> pg-form</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="pg-grid"></i> pg-grid</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="pg-home"></i> pg-home</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="pg-image"></i> pg-image</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="pg-inbox"></i> pg-inbox</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="pg-indent"></i> pg-indent</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="pg-italic"></i> pg-italic</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="pg-laptop"></i> pg-laptop</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="pg-layouts"></i> pg-layouts</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="pg-layouts2"></i> pg-layouts2</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="pg-layouts3"></i> pg-layouts3</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="pg-layouts4"></i> pg-layouts4</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="pg-leftalign"></i> pg-leftalign</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="pg-like"></i> pg-like</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="pg-like1"></i> pg-like1</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="pg-lock"></i> pg-lock</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="pg-mail"></i> pg-mail</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="pg-map"></i> pg-map</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="pg-menu_lv"></i> pg-menu_lv</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="pg-menu"></i> pg-menu</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="pg-movie"></i> pg-movie</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="pg-ordered_list"></i> pg-ordered_list</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="pg-outdent"></i> pg-outdent</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="pg-phone"></i> pg-phone</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="pg-plus"></i> pg-plus</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="pg-power"></i> pg-power</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="pg-printer"></i> pg-printer</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="pg-refresh"></i> pg-refresh</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="pg-resize"></i> pg-resize</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="pg-right_align"></i> pg-right_align</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="pg-save"></i> pg-save</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="pg-search"></i> pg-search</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="pg-sent"></i> pg-sent</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="pg-settings_small_1"></i> pg-settings_small_1</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="pg-settings_small"></i> pg-settings_small</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="pg-settings"></i> pg-settings</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="pg-shopping_cart"></i> pg-shopping_cart</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="pg-social"></i> pg-social</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="pg-spam"></i> pg-spam</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="pg-suitcase"></i> pg-suitcase</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="pg-tables"></i> pg-tables</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="pg-tablet"></i> pg-tablet</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="pg-telephone"></i> pg-telephone</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="pg-text_style"></i> pg-text_style</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="pg-trash_line"></i> pg-trash_line</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="pg-trash"></i> pg-trash</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="pg-ui"></i> pg-ui</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="pg-underline"></i> pg-underline</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="pg-unordered_list"></i> pg-unordered_list</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="pg-video"></i> pg-video</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-adjust"></i> fa-adjust</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-anchor"></i> fa-anchor</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-archive"></i> fa-archive</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-area-chart"></i> fa-area-chart</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-arrows"></i> fa-arrows</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-arrows-h"></i> fa-arrows-h</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-arrows-v"></i> fa-arrows-v</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-asterisk"></i> fa-asterisk</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-at"></i> fa-at</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-automobile"></i> fa-automobile</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-ban"></i> fa-ban</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-bank"></i> fa-bank</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-bar-chart"></i> fa-bar-chart</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-bar-chart-o"></i> fa-bar-chart-o</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-barcode"></i> fa-barcode</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-bars"></i> fa-bars</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-beer"></i> fa-beer</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-bell"></i> fa-bell</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-bell-o"></i> fa-bell-o</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-bell-slash"></i> fa-bell-slash</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-bell-slash-o"></i> fa-bell-slash-o</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-bicycle"></i> fa-bicycle</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-binoculars"></i> fa-binoculars</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-birthday-cake"></i> fa-birthday-cake</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-bolt"></i> fa-bolt</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-bomb"></i> fa-bomb</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-book"></i> fa-book</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-bookmark"></i> fa-bookmark</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-bookmark-o"></i> fa-bookmark-o</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-briefcase"></i> fa-briefcase</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-bug"></i> fa-bug</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-building"></i> fa-building</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-building-o"></i> fa-building-o</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-bullhorn"></i> fa-bullhorn</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-bullseye"></i> fa-bullseye</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-bus"></i> fa-bus</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-cab"></i> fa-cab</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-calculator"></i> fa-calculator</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-calendar"></i> fa-calendar</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-calendar-o"></i> fa-calendar-o</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-camera"></i> fa-camera</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-camera-retro"></i> fa-camera-retro</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-car"></i> fa-car</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-caret-square-o-down"></i> fa-caret-square-o-down</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-caret-square-o-left"></i> fa-caret-square-o-left</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-caret-square-o-right"></i> fa-caret-square-o-right</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-caret-square-o-up"></i> fa-caret-square-o-up</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-cc"></i> fa-cc</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-certificate"></i> fa-certificate</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-check"></i> fa-check</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-check-circle"></i> fa-check-circle</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-check-circle-o"></i> fa-check-circle-o</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-check-square"></i> fa-check-square</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-check-square-o"></i> fa-check-square-o</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-child"></i> fa-child</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-circle"></i> fa-circle</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-circle-o"></i> fa-circle-o</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-circle-o-notch"></i> fa-circle-o-notch</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-circle-thin"></i> fa-circle-thin</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-clock-o"></i> fa-clock-o</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-close"></i> fa-close</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-cloud"></i> fa-cloud</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-cloud-download"></i> fa-cloud-download</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-cloud-upload"></i> fa-cloud-upload</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-code"></i> fa-code</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-code-fork"></i> fa-code-fork</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-coffee"></i> fa-coffee</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-cog"></i> fa-cog</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-cogs"></i> fa-cogs</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-comment"></i> fa-comment</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-comment-o"></i> fa-comment-o</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-comments"></i> fa-comments</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-comments-o"></i> fa-comments-o</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-compass"></i> fa-compass</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-copyright"></i> fa-copyright</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-credit-card"></i> fa-credit-card</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-crop"></i> fa-crop</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-crosshairs"></i> fa-crosshairs</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-cube"></i> fa-cube</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-cubes"></i> fa-cubes</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-cutlery"></i> fa-cutlery</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-dashboard"></i> fa-dashboard</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-database"></i> fa-database</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-desktop"></i> fa-desktop</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-dot-circle-o"></i> fa-dot-circle-o</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-download"></i> fa-download</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-edit"></i> fa-edit</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-ellipsis-h"></i> fa-ellipsis-h</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-ellipsis-v"></i> fa-ellipsis-v</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-envelope"></i> fa-envelope</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-envelope-o"></i> fa-envelope-o</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-envelope-square"></i> fa-envelope-square</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-eraser"></i> fa-eraser</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-exchange"></i> fa-exchange</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-exclamation"></i> fa-exclamation</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-exclamation-circle"></i> fa-exclamation-circle</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-exclamation-triangle"></i> fa-exclamation-triangle</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-external-link"></i> fa-external-link</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-external-link-square"></i> fa-external-link-square</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-eye"></i> fa-eye</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-eye-slash"></i> fa-eye-slash</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-eyedropper"></i> fa-eyedropper</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-fax"></i> fa-fax</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-female"></i> fa-female</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-fighter-jet"></i> fa-fighter-jet</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-file-archive-o"></i> fa-file-archive-o</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-file-audio-o"></i> fa-file-audio-o</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-file-code-o"></i> fa-file-code-o</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-file-excel-o"></i> fa-file-excel-o</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-file-image-o"></i> fa-file-image-o</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-file-movie-o"></i> fa-file-movie-o</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-file-pdf-o"></i> fa-file-pdf-o</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-file-photo-o"></i> fa-file-photo-o</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-file-picture-o"></i> fa-file-picture-o</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-file-powerpoint-o"></i> fa-file-powerpoint-o</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-file-sound-o"></i> fa-file-sound-o</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-file-video-o"></i> fa-file-video-o</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-file-word-o"></i> fa-file-word-o</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-file-zip-o"></i> fa-file-zip-o</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-film"></i> fa-film</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-filter"></i> fa-filter</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-fire"></i> fa-fire</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-fire-extinguisher"></i> fa-fire-extinguisher</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-flag"></i> fa-flag</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-flag-checkered"></i> fa-flag-checkered</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-flag-o"></i> fa-flag-o</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-flash"></i> fa-flash</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-flask"></i> fa-flask</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-folder"></i> fa-folder</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-folder-o"></i> fa-folder-o</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-folder-open"></i> fa-folder-open</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-folder-open-o"></i> fa-folder-open-o</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-frown-o"></i> fa-frown-o</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-futbol-o"></i> fa-futbol-o</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-gamepad"></i> fa-gamepad</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-gavel"></i> fa-gavel</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-gear"></i> fa-gear</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-gears"></i> fa-gears</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-gift"></i> fa-gift</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-glass"></i> fa-glass</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-globe"></i> fa-globe</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-graduation-cap"></i> fa-graduation-cap</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-group"></i> fa-group</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-hdd-o"></i> fa-hdd-o</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-headphones"></i> fa-headphones</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-heart"></i> fa-heart</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-heart-o"></i> fa-heart-o</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-history"></i> fa-history</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-home"></i> fa-home</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-image"></i> fa-image</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-inbox"></i> fa-inbox</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-info"></i> fa-info</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-info-circle"></i> fa-info-circle</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-institution"></i> fa-institution</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-key"></i> fa-key</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-keyboard-o"></i> fa-keyboard-o</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-language"></i> fa-language</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-laptop"></i> fa-laptop</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-leaf"></i> fa-leaf</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-legal"></i> fa-legal</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-lemon-o"></i> fa-lemon-o</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-level-down"></i> fa-level-down</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-level-up"></i> fa-level-up</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-life-bouy"></i> fa-life-bouy</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-life-buoy"></i> fa-life-buoy</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-life-ring"></i> fa-life-ring</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-life-saver"></i> fa-life-saver</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-lightbulb-o"></i> fa-lightbulb-o</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-line-chart"></i> fa-line-chart</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-location-arrow"></i> fa-location-arrow</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-lock"></i> fa-lock</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-magic"></i> fa-magic</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-magnet"></i> fa-magnet</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-mail-forward"></i> fa-mail-forward</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-mail-reply"></i> fa-mail-reply</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-mail-reply-all"></i> fa-mail-reply-all</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-male"></i> fa-male</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-map-marker"></i> fa-map-marker</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-meh-o"></i> fa-meh-o</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-microphone"></i> fa-microphone</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-microphone-slash"></i> fa-microphone-slash</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-minus"></i> fa-minus</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-minus-circle"></i> fa-minus-circle</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-minus-square"></i> fa-minus-square</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-minus-square-o"></i> fa-minus-square-o</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-mobile"></i> fa-mobile</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-mobile-phone"></i> fa-mobile-phone</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-money"></i> fa-money</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-moon-o"></i> fa-moon-o</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-mortar-board"></i> fa-mortar-board</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-music"></i> fa-music</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-navicon"></i> fa-navicon</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-newspaper-o"></i> fa-newspaper-o</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-paint-brush"></i> fa-paint-brush</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-paper-plane"></i> fa-paper-plane</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-paper-plane-o"></i> fa-paper-plane-o</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-paw"></i> fa-paw</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-pencil"></i> fa-pencil</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-pencil-square"></i> fa-pencil-square</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-pencil-square-o"></i> fa-pencil-square-o</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-phone"></i> fa-phone</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-phone-square"></i> fa-phone-square</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-photo"></i> fa-photo</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-picture-o"></i> fa-picture-o</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-pie-chart"></i> fa-pie-chart</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-plane"></i> fa-plane</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-plug"></i> fa-plug</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-plus"></i> fa-plus</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-plus-circle"></i> fa-plus-circle</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-plus-square"></i> fa-plus-square</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-plus-square-o"></i> fa-plus-square-o</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-power-off"></i> fa-power-off</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-print"></i> fa-print</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-puzzle-piece"></i> fa-puzzle-piece</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-qrcode"></i> fa-qrcode</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-question"></i> fa-question</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-question-circle"></i> fa-question-circle</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-quote-left"></i> fa-quote-left</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-quote-right"></i> fa-quote-right</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-random"></i> fa-random</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-recycle"></i> fa-recycle</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-refresh"></i> fa-refresh</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-remove"></i> fa-remove</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-reorder"></i> fa-reorder</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-reply"></i> fa-reply</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-reply-all"></i> fa-reply-all</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-retweet"></i> fa-retweet</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-road"></i> fa-road</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-rocket"></i> fa-rocket</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-rss"></i> fa-rss</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-rss-square"></i> fa-rss-square</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-search"></i> fa-search</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-search-minus"></i> fa-search-minus</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-search-plus"></i> fa-search-plus</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-send"></i> fa-send</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-send-o"></i> fa-send-o</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-share"></i> fa-share</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-share-alt"></i> fa-share-alt</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-share-alt-square"></i> fa-share-alt-square</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-share-square"></i> fa-share-square</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-share-square-o"></i> fa-share-square-o</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-shield"></i> fa-shield</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-shopping-cart"></i> fa-shopping-cart</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-sign-in"></i> fa-sign-in</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-sign-out"></i> fa-sign-out</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-signal"></i> fa-signal</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-sitemap"></i> fa-sitemap</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-sliders"></i> fa-sliders</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-smile-o"></i> fa-smile-o</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-soccer-ball-o"></i> fa-soccer-ball-o</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-sort"></i> fa-sort</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-sort-alpha-asc"></i> fa-sort-alpha-asc</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-sort-alpha-desc"></i> fa-sort-alpha-desc</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-sort-amount-asc"></i> fa-sort-amount-asc</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-sort-amount-desc"></i> fa-sort-amount-desc</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-sort-asc"></i> fa-sort-asc</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-sort-desc"></i> fa-sort-desc</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-sort-down"></i> fa-sort-down</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-sort-numeric-asc"></i> fa-sort-numeric-asc</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-sort-numeric-desc"></i> fa-sort-numeric-desc</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-sort-up"></i> fa-sort-up</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-space-shuttle"></i> fa-space-shuttle</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-spinner"></i> fa-spinner</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-spoon"></i> fa-spoon</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-square"></i> fa-square</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-square-o"></i> fa-square-o</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-star"></i> fa-star</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-star-half"></i> fa-star-half</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-star-half-empty"></i> fa-star-half-empty</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-star-half-full"></i> fa-star-half-full</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-star-half-o"></i> fa-star-half-o</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-star-o"></i> fa-star-o</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-suitcase"></i> fa-suitcase</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-sun-o"></i> fa-sun-o</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-support"></i> fa-support</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-tablet"></i> fa-tablet</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-tachometer"></i> fa-tachometer</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-tag"></i> fa-tag</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-tags"></i> fa-tags</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-tasks"></i> fa-tasks</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-taxi"></i> fa-taxi</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-terminal"></i> fa-terminal</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-thumb-tack"></i> fa-thumb-tack</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-thumbs-down"></i> fa-thumbs-down</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-thumbs-o-down"></i> fa-thumbs-o-down</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-thumbs-o-up"></i> fa-thumbs-o-up</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-thumbs-up"></i> fa-thumbs-up</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-ticket"></i> fa-ticket</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-times"></i> fa-times</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-times-circle"></i> fa-times-circle</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-times-circle-o"></i> fa-times-circle-o</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-tint"></i> fa-tint</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-toggle-down"></i> fa-toggle-down</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-toggle-left"></i> fa-toggle-left</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-toggle-off"></i> fa-toggle-off</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-toggle-on"></i> fa-toggle-on</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-toggle-right"></i> fa-toggle-right</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-toggle-up"></i> fa-toggle-up</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-trash"></i> fa-trash</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-trash-o"></i> fa-trash-o</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-tree"></i> fa-tree</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-trophy"></i> fa-trophy</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-truck"></i> fa-truck</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-tty"></i> fa-tty</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-umbrella"></i> fa-umbrella</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-university"></i> fa-university</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-unlock"></i> fa-unlock</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-unlock-alt"></i> fa-unlock-alt</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-unsorted"></i> fa-unsorted</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-upload"></i> fa-upload</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-user"></i> fa-user</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-users"></i> fa-users</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-video-camera"></i> fa-video-camera</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-volume-down"></i> fa-volume-down</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-volume-off"></i> fa-volume-off</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-volume-up"></i> fa-volume-up</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-warning"></i> fa-warning</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-wheelchair"></i> fa-wheelchair</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-wifi"></i> fa-wifi</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-wrench"></i> fa-wrench</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-file"></i> fa-file</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-file-archive-o"></i> fa-file-archive-o</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-file-audio-o"></i> fa-file-audio-o</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-file-code-o"></i> fa-file-code-o</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-file-excel-o"></i> fa-file-excel-o</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-file-image-o"></i> fa-file-image-o</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-file-movie-o"></i> fa-file-movie-o</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-file-o"></i> fa-file-o</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-file-pdf-o"></i> fa-file-pdf-o</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-file-photo-o"></i> fa-file-photo-o</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-file-picture-o"></i> fa-file-picture-o</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-file-powerpoint-o"></i> fa-file-powerpoint-o</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-file-sound-o"></i> fa-file-sound-o</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-file-text"></i> fa-file-text</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-file-text-o"></i> fa-file-text-o</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-file-video-o"></i> fa-file-video-o</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-file-word-o"></i> fa-file-word-o</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-file-zip-o"></i> fa-file-zip-o</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-circle-o-notch"></i> fa-circle-o-notch</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-cog"></i> fa-cog</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-gear"></i> fa-gear</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-refresh"></i> fa-refresh</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-spinner"></i> fa-spinner</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-check-square"></i> fa-check-square</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-check-square-o"></i> fa-check-square-o</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-circle"></i> fa-circle</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-circle-o"></i> fa-circle-o</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-dot-circle-o"></i> fa-dot-circle-o</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-minus-square"></i> fa-minus-square</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-minus-square-o"></i> fa-minus-square-o</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-plus-square"></i> fa-plus-square</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-plus-square-o"></i> fa-plus-square-o</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-square"></i> fa-square</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-square-o"></i> fa-square-o</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-cc-amex"></i> fa-cc-amex</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-cc-discover"></i> fa-cc-discover</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-cc-mastercard"></i> fa-cc-mastercard</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-cc-paypal"></i> fa-cc-paypal</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-cc-stripe"></i> fa-cc-stripe</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-cc-visa"></i> fa-cc-visa</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-credit-card"></i> fa-credit-card</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-google-wallet"></i> fa-google-wallet</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-paypal"></i> fa-paypal</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-area-chart"></i> fa-area-chart</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-bar-chart"></i> fa-bar-chart</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-bar-chart-o"></i> fa-bar-chart-o</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-line-chart"></i> fa-line-chart</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-pie-chart"></i> fa-pie-chart</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-bitcoin"></i> fa-bitcoin</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-btc"></i> fa-btc</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-cny"></i> fa-cny</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-dollar"></i> fa-dollar</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-eur"></i> fa-eur</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-euro"></i> fa-euro</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-gbp"></i> fa-gbp</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-ils"></i> fa-ils</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-inr"></i> fa-inr</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-jpy"></i> fa-jpy</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-krw"></i> fa-krw</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-money"></i> fa-money</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-rmb"></i> fa-rmb</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-rouble"></i> fa-rouble</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-rub"></i> fa-rub</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-ruble"></i> fa-ruble</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-rupee"></i> fa-rupee</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-shekel"></i> fa-shekel</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-sheqel"></i> fa-sheqel</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-try"></i> fa-try</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-turkish-lira"></i> fa-turkish-lira</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-usd"></i> fa-usd</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-won"></i> fa-won</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-yen"></i> fa-yen</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-align-center"></i> fa-align-center</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-align-justify"></i> fa-align-justify</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-align-left"></i> fa-align-left</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-align-right"></i> fa-align-right</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-bold"></i> fa-bold</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-chain"></i> fa-chain</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-chain-broken"></i> fa-chain-broken</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-clipboard"></i> fa-clipboard</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-columns"></i> fa-columns</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-copy"></i> fa-copy</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-cut"></i> fa-cut</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-dedent"></i> fa-dedent</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-eraser"></i> fa-eraser</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-file"></i> fa-file</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-file-o"></i> fa-file-o</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-file-text"></i> fa-file-text</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-file-text-o"></i> fa-file-text-o</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-files-o"></i> fa-files-o</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-floppy-o"></i> fa-floppy-o</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-font"></i> fa-font</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-header"></i> fa-header</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-indent"></i> fa-indent</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-italic"></i> fa-italic</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-link"></i> fa-link</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-list"></i> fa-list</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-list-alt"></i> fa-list-alt</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-list-ol"></i> fa-list-ol</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-list-ul"></i> fa-list-ul</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-outdent"></i> fa-outdent</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-paperclip"></i> fa-paperclip</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-paragraph"></i> fa-paragraph</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-paste"></i> fa-paste</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-repeat"></i> fa-repeat</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-rotate-left"></i> fa-rotate-left</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-rotate-right"></i> fa-rotate-right</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-save"></i> fa-save</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-scissors"></i> fa-scissors</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-strikethrough"></i> fa-strikethrough</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-subscript"></i> fa-subscript</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-superscript"></i> fa-superscript</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-table"></i> fa-table</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-text-height"></i> fa-text-height</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-text-width"></i> fa-text-width</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-th"></i> fa-th</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-th-large"></i> fa-th-large</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-th-list"></i> fa-th-list</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-underline"></i> fa-underline</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-undo"></i> fa-undo</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-unlink"></i> fa-unlink</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-angle-double-down"></i> fa-angle-double-down</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-angle-double-left"></i> fa-angle-double-left</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-angle-double-right"></i> fa-angle-double-right</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-angle-double-up"></i> fa-angle-double-up</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-angle-down"></i> fa-angle-down</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-angle-left"></i> fa-angle-left</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-angle-right"></i> fa-angle-right</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-angle-up"></i> fa-angle-up</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-arrow-circle-down"></i> fa-arrow-circle-down</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-arrow-circle-left"></i> fa-arrow-circle-left</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-arrow-circle-o-down"></i> fa-arrow-circle-o-down</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-arrow-circle-o-left"></i> fa-arrow-circle-o-left</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-arrow-circle-o-right"></i> fa-arrow-circle-o-right</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-arrow-circle-o-up"></i> fa-arrow-circle-o-up</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-arrow-circle-right"></i> fa-arrow-circle-right</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-arrow-circle-up"></i> fa-arrow-circle-up</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-arrow-down"></i> fa-arrow-down</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-arrow-left"></i> fa-arrow-left</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-arrow-right"></i> fa-arrow-right</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-arrow-up"></i> fa-arrow-up</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-arrows"></i> fa-arrows</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-arrows-alt"></i> fa-arrows-alt</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-arrows-h"></i> fa-arrows-h</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-arrows-v"></i> fa-arrows-v</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-caret-down"></i> fa-caret-down</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-caret-left"></i> fa-caret-left</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-caret-right"></i> fa-caret-right</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-caret-square-o-down"></i> fa-caret-square-o-down</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-caret-square-o-left"></i> fa-caret-square-o-left</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-caret-square-o-right"></i> fa-caret-square-o-right</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-caret-square-o-up"></i> fa-caret-square-o-up</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-caret-up"></i> fa-caret-up</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-chevron-circle-down"></i> fa-chevron-circle-down</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-chevron-circle-left"></i> fa-chevron-circle-left</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-chevron-circle-right"></i> fa-chevron-circle-right</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-chevron-circle-up"></i> fa-chevron-circle-up</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-chevron-down"></i> fa-chevron-down</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-chevron-left"></i> fa-chevron-left</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-chevron-right"></i> fa-chevron-right</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-chevron-up"></i> fa-chevron-up</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-hand-o-down"></i> fa-hand-o-down</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-hand-o-left"></i> fa-hand-o-left</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-hand-o-right"></i> fa-hand-o-right</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-hand-o-up"></i> fa-hand-o-up</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-long-arrow-down"></i> fa-long-arrow-down</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-long-arrow-left"></i> fa-long-arrow-left</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-long-arrow-right"></i> fa-long-arrow-right</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-long-arrow-up"></i> fa-long-arrow-up</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-toggle-down"></i> fa-toggle-down</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-toggle-left"></i> fa-toggle-left</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-toggle-right"></i> fa-toggle-right</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-toggle-up"></i> fa-toggle-up</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-arrows-alt"></i> fa-arrows-alt</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-backward"></i> fa-backward</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-compress"></i> fa-compress</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-eject"></i> fa-eject</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-expand"></i> fa-expand</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-fast-backward"></i> fa-fast-backward</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-fast-forward"></i> fa-fast-forward</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-forward"></i> fa-forward</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-pause"></i> fa-pause</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-play"></i> fa-play</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-play-circle"></i> fa-play-circle</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-play-circle-o"></i> fa-play-circle-o</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-step-backward"></i> fa-step-backward</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-step-forward"></i> fa-step-forward</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-stop"></i> fa-stop</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-youtube-play"></i> fa-youtube-play</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-adn"></i> fa-adn</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-android"></i> fa-android</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-angellist"></i> fa-angellist</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-apple"></i> fa-apple</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-behance"></i> fa-behance</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-behance-square"></i> fa-behance-square</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-bitbucket"></i> fa-bitbucket</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-bitbucket-square"></i> fa-bitbucket-square</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-bitcoin"></i> fa-bitcoin</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-btc"></i> fa-btc</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-cc-amex"></i> fa-cc-amex</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-cc-discover"></i> fa-cc-discover</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-cc-mastercard"></i> fa-cc-mastercard</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-cc-paypal"></i> fa-cc-paypal</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-cc-stripe"></i> fa-cc-stripe</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-cc-visa"></i> fa-cc-visa</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-codepen"></i> fa-codepen</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-css3"></i> fa-css3</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-delicious"></i> fa-delicious</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-deviantart"></i> fa-deviantart</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-digg"></i> fa-digg</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-dribbble"></i> fa-dribbble</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-dropbox"></i> fa-dropbox</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-drupal"></i> fa-drupal</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-empire"></i> fa-empire</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-facebook"></i> fa-facebook</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-facebook-square"></i> fa-facebook-square</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-flickr"></i> fa-flickr</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-foursquare"></i> fa-foursquare</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-ge"></i> fa-ge</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-git"></i> fa-git</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-git-square"></i> fa-git-square</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-github"></i> fa-github</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-github-alt"></i> fa-github-alt</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-github-square"></i> fa-github-square</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-gittip"></i> fa-gittip</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-google"></i> fa-google</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-google-plus"></i> fa-google-plus</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-google-plus-square"></i> fa-google-plus-square</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-google-wallet"></i> fa-google-wallet</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-hacker-news"></i> fa-hacker-news</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-html5"></i> fa-html5</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-instagram"></i> fa-instagram</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-ioxhost"></i> fa-ioxhost</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-joomla"></i> fa-joomla</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-jsfiddle"></i> fa-jsfiddle</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-lastfm"></i> fa-lastfm</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-lastfm-square"></i> fa-lastfm-square</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-linkedin"></i> fa-linkedin</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-linkedin-square"></i> fa-linkedin-square</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-linux"></i> fa-linux</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-maxcdn"></i> fa-maxcdn</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-meanpath"></i> fa-meanpath</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-openid"></i> fa-openid</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-pagelines"></i> fa-pagelines</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-paypal"></i> fa-paypal</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-pied-piper"></i> fa-pied-piper</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-pied-piper-alt"></i> fa-pied-piper-alt</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-pinterest"></i> fa-pinterest</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-pinterest-square"></i> fa-pinterest-square</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-qq"></i> fa-qq</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-ra"></i> fa-ra</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-rebel"></i> fa-rebel</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-reddit"></i> fa-reddit</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-reddit-square"></i> fa-reddit-square</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-renren"></i> fa-renren</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-share-alt"></i> fa-share-alt</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-share-alt-square"></i> fa-share-alt-square</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-skype"></i> fa-skype</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-slack"></i> fa-slack</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-slideshare"></i> fa-slideshare</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-soundcloud"></i> fa-soundcloud</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-spotify"></i> fa-spotify</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-stack-exchange"></i> fa-stack-exchange</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-stack-overflow"></i> fa-stack-overflow</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-steam"></i> fa-steam</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-steam-square"></i> fa-steam-square</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-stumbleupon"></i> fa-stumbleupon</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-stumbleupon-circle"></i> fa-stumbleupon-circle</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-tencent-weibo"></i> fa-tencent-weibo</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-trello"></i> fa-trello</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-tumblr"></i> fa-tumblr</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-tumblr-square"></i> fa-tumblr-square</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-twitch"></i> fa-twitch</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-twitter"></i> fa-twitter</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-twitter-square"></i> fa-twitter-square</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-vimeo-square"></i> fa-vimeo-square</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-vine"></i> fa-vine</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-vk"></i> fa-vk</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-wechat"></i> fa-wechat</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-weibo"></i> fa-weibo</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-weixin"></i> fa-weixin</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-windows"></i> fa-windows</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-wordpress"></i> fa-wordpress</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-xing"></i> fa-xing</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-xing-square"></i> fa-xing-square</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-yahoo"></i> fa-yahoo</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-yelp"></i> fa-yelp</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-youtube"></i> fa-youtube</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-youtube-play"></i> fa-youtube-play</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-youtube-square"></i> fa-youtube-square</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-ambulance"></i> fa-ambulance</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-h-square"></i> fa-h-square</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-hospital-o"></i> fa-hospital-o</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-medkit"></i> fa-medkit</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-plus-square"></i> fa-plus-square</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-stethoscope"></i> fa-stethoscope</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-user-md"></i> fa-user-md</div>
                  <div class="fa-item col-lg-3 col-md-4"><i class="fa fa-wheelchair"></i> fa-wheelchair</div>
                </div>
              </div>
              <!-- END FONT AWEOMSE -->
            </div>
          </div>
        </div>
