


<section id="helpers">
    <h3 class="page-title">Helpers</h3>
<hr>
    <h5>  Pages helper css classes allow you to build your custom layout without touching any CSS code</h5>
    <p>These classes are generic helper classes predifined in the CSS of pages, here is quick view what they can do</p>
    <ul class="fs-13 p-l-25">
        <li>Set margins - Available for all directions from 5 - 90 px stepping value 5px </li>
        <li>Set padding - Available for all directions from 5 - 90 px stepping value 5px </li>
        <li>Set border - Available for all sides, default pages border color</li>
        <li>Border Radius - Option to set border radius, size sm / md / lg</li>
        <li>Image wrapping - Circular image wrap with custom size, sm / md / lg</li>
    </ul>
</section>
<section>
    <h3 class="">Margins</h3>
    <p>You can add this helper class to any element in your HTML code to set Margins</p>
    <div class="table-responsive">
        <table class="table table-bordered table-condensed table-striped">
            <thead>
                <tr>
                    <th>
                        First Prefix ( m-*)
                    </th>
                    <th>
                        Second Prefix(m-t/b/l/r-*)
                    </th>
                    <th>
                        Last Prefix(m-t-$value)
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>m for margin</td>
                    <td>t : top, b : bottom, l : left, r : right</td>
                    <td>5,10,15,20, ... 90</td>
                </tr>
            </tbody>
        </table>
    </div>
    <p class="all-caps fs-12 bold">
        example :
    </p>
    <code>m-t-10</code> <span class="fs-13">which means Margin Top 10px</span>
    <br>
    <code>m-b-20</code> <span class="fs-13">which means Margin Bottom 20px</span>
    <br>
    <code>m-l-5</code> <span class="fs-13">which means Margin Left 5px</span>
    <br>
    <code>m-r-35</code> <span class="fs-13">which means Margin Right 35px</span>
    <br>
    <p class="all-caps fs-12 bold m-t-30">
        Rule :
    </p>
    <p>Value can not be anything, 1,2,4,5,6. It has a step of 5px, eg: 5,10,15</p>
    <p class="all-caps fs-12 bold m-t-30">
        Other options :
    </p>
    <p>To remove margin from a HTML element add the class <code>no-margin</code></p>
</section>
<section>
    <h3 class="">Padding</h3>
    <p>You can add this helper class to any element in your HTML code to set Padding</p>
    <div class="table-responsive">
        <table class="table table-bordered table-condensed table-striped">
            <thead>
                <tr>
                    <th>
                        First Prefix ( p-*)
                    </th>
                    <th>
                        Second Prefix(p-t/b/l/r-*)
                    </th>
                    <th>
                        Last Prefix(p-t-$value)
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>p for padding</td>
                    <td>t : top, b : bottom, l : left, r : right</td>
                    <td>5,10,15,20, ... 90</td>
                </tr>
            </tbody>
        </table>
    </div>
    <p class="all-caps fs-12 bold">
        example :
    </p>
    <code>p-t-10</code> <span class="fs-13">which means Padding Top 10px</span>
    <br>
    <code>p-b-20</code> <span class="fs-13">which means Padding Bottom 20px</span>
    <br>
    <code>p-l-5</code> <span class="fs-13">which means Padding Left 5px</span>
    <br>
    <code>p-r-35</code> <span class="fs-13">which means Padding Right 35px</span>
    <br>
    <p class="all-caps fs-12 bold m-t-30">
        Rule :
    </p>
    <p>Value can not be anything, 1,2,4,5,6. It has a step of 5px, eg: 5,10,15</p>
    <p class="all-caps fs-12 bold m-t-30">
        Other options :
    </p>
    <p>To remove padding from a HTML element add the class <code>no-padding</code></p>
</section>
<section>
    <h3 class="">Border</h3>
    <p>You can add this helper class to any element in your HTML code to set Border, border currently supports one pixel</p>
    <div class="table-responsive ">
        <table class="table table-bordered table-condensed table-striped">
            <thead>
                <tr>
                    <th>
                        First Prefix ( b-*)
                    </th>
                    <th>
                        Second Prefix(b-t/b/l/r/a-*)
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>b for border</td>
                    <td>t : top, b : bottom, l : left, r : right, a : all</td>
                </tr>
            </tbody>
        </table>
    </div>
    <br>
    <h5>Border Color</h5>
    <p>By default pages is shipped with border helper classes are of two</p>
    <p><code>b-transparent</code> 40% opacity</p>
    <p><code>b-grey</code></p>
    <p><code>b-primary</code></p>
    <p><code>b-success</code></p>
    <p><code>b-complete</code></p>
    <p><code>b-danger</code></p>
    <p><code>b-warning</code></p>
    <p class="all-caps fs-12 bold">
        example :
    </p>
    <pre><code class="xml">&lt;div class=&quot;b-b b-grey&quot;&gt;
  I have a bottom border 
&lt;/div&gt;</code></pre>
    <h5>Border Style</h5>
    <p><code>b-dashed</code> - change the border style to 'dashed'</p>
    <p><code>b-thick</code> - change the border width to 2px</p>
</section>
<section>
    <h5 class="">Border Radius</h5>
    <p>Helpy class to apply quick border radius, you can change the value in misc.less or in style.css</p>
    <div class="table-responsive ">
        <table class="table table-bordered table-condensed table-striped">
            <thead>
                <tr>
                    <th>
                        Class
                    </th>
                    <th>
                        Description
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><code>b-rad-sm</code></td>
                    <td>3px border radius</td>
                </tr>
                <tr>
                    <td><code>b-rad-md</code></td>
                    <td>5px border radius</td>
                </tr>
                <tr>
                    <td><code>b-rad-lg</code></td>
                    <td>7px border radius</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
<section>
    <h3 class="">Table-like behavior</h3>
    <p>Add table behavior to any <code>div</code> by using these helper classes. These classes will come handy when you want to vertically align any content like in native <code>table</code>s. </p>
    <div class="example m-t-15">
        <p class="all-caps fs-12 bold">
            example :
        </p>
        <div class="container-sm-height bg-master-lighter" style="height:200px">
            <div style="height:50px" class="row row-sm-height b-b b-grey">
                <div class="col-sm-height col-sm-12 col-top ">
                    <span class="hint-text">I'm top aligned just like in a table-cell</span>
                </div>
            </div>
            <div class="row row-sm-height">
                <div class="col-sm-height col-sm-12 col-middle ">
                    <span class="hint-text">I'm middle aligned just like in a table-cell</span>
                </div>
            </div>
        </div>
    </div>
    <pre><code class="xml">&lt;div class=&quot;container-sm-height bg-master-lighter&quot; style=&quot;height:200px&quot;&gt;
    &lt;div style=&quot;height:50px&quot; class=&quot;row row-sm-height b-b b-grey&quot;&gt;
        &lt;div class=&quot;col-sm-12 col-sm-height col-top &quot;&gt;
            &lt;span class=&quot;hint-text&quot;&gt;I'm top aligned just like in a table-cell&lt;/span&gt;
        &lt;/div&gt;
    &lt;/div&gt;

    &lt;div class=&quot;row row-sm-height &quot;&gt;
        &lt;div class=&quot;col-sm-12 col-sm-height col-middle &quot;&gt;
            &lt;span class=&quot;hint-text&quot;&gt;I'm middle aligned just like in a table-cell&lt;/span&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
    <p>The table created in the above example is only activated for resolutions ≥768px. Hence the prefix <code>*-sm-*</code>. You can replace <code>*-sm-*</code> with any other breakpoint prefix defined in Bootstrap to restrict the table-like behavior to a particular resolution (ex: 'xs','md','lg')</p>
    <p>You can also append <code>col-middle</code>, <code>col-top</code> or <code>col-bottom</code> to <code>col-*-height</code> to vertically align the content</p>
    <p>It is also possible to mix these classes together with Bootstrap's <code>row</code> and <code>col-*-*</code> classes without any conflict</p>
</section>
<section>
    <h3 class="">Elements that resize maintaining aspect ratio</h3>
    <p>Make the height of any element auto-adjust depending on its width while constraining to a given aspect ratio.</p>
    <div class="example m-t-15">
        <p class="all-caps fs-12 bold">
            example :
        </p>
        <div class="row">
            <div class="col-sm-3">
                <div class="ar-1-2">
                    <div class="bg-master-light padding-20">
                        <h3>1x2</h3>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="ar-2-3">
                    <div class="bg-master-light padding-20">
                        <h3>2x3</h3>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="ar-1-1">
                    <div class="bg-master-light padding-20">
                        <h3>1x1</h3>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="ar-3-2">
                    <div class="bg-master-light padding-20">
                        <h3>3x2</h3>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 m-t-20">
                <div class="ar-2-1">
                    <div class="bg-master-light padding-20">
                        <h3>2x1</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <pre><code class="xml">&lt;div class=&quot;row&quot;&gt;
    &lt;div class=&quot;col-sm-3&quot;&gt;
        &lt;div class=&quot;ar-1-2&quot;&gt;
            &lt;div class=&quot;bg-master-light padding-20&quot;&gt;
                &lt;h3&gt;1x2&lt;/h3&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;

    &lt;div class=&quot;col-sm-3&quot;&gt;
        &lt;div class=&quot;ar-2-3&quot;&gt;
            &lt;div class=&quot;bg-master-light padding-20&quot;&gt;
                &lt;h3&gt;2x3&lt;/h3&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;

    &lt;div class=&quot;col-sm-3&quot;&gt;
        &lt;div class=&quot;ar-1-1&quot;&gt;
            &lt;div class=&quot;bg-master-light padding-20&quot;&gt;
                &lt;h3&gt;1x1&lt;/h3&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;

    &lt;div class=&quot;col-sm-3&quot;&gt;
        &lt;div class=&quot;ar-3-2&quot;&gt;
            &lt;div class=&quot;bg-master-light padding-20&quot;&gt;
                &lt;h3&gt;3x2&lt;/h3&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;

    &lt;div class=&quot;col-sm-3 m-t-20&quot;&gt;
        &lt;div class=&quot;ar-2-1&quot;&gt;
            &lt;div class=&quot;bg-master-light padding-20&quot;&gt;
                &lt;h3&gt;2x1&lt;/h3&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
</section>
<section>
    <h3 class="">Absolute positioning</h3>
    <p>Makes elements to have <code>position:absolute</code>. Add <code>.relative</code> to the parent of the element that you want to be absolute to have relative positioning</p>
    <div class="example m-t-15">
        <p class="all-caps fs-12 bold">
            example :
        </p>
        <div class="relative" style="height:300px">
            <!-- Equivalent to "pull-up" -->
            <div class="top-left bg-master-light text-center padding-20">Top-left</div>
            <!-- Equivalent to "pull-bottom" -->
            <div class="bottom-left bg-master-light text-center padding-20">Bottom-left</div>
            <div class="top-right bg-master-light text-center padding-20">Top-right</div>
            <div class="bottom-right bg-master-light text-center padding-20">Bottom-right</div>
        </div>
    </div>
    <pre><code class="xml">&lt;div class=&quot;relative&quot; style=&quot;height:300px&quot;&gt;
    &lt;!-- Equivalent to &quot;pull-up&quot; --&gt;
    &lt;div class=&quot;top-left bg-master-light text-center padding-20&quot;&gt;Top-left&lt;/div&gt;
    &lt;!-- Equivalent to &quot;pull-bottom&quot; --&gt;
    &lt;div class=&quot;bottom-left bg-master-light text-center padding-20&quot;&gt;Bottom-left&lt;/div&gt;
    &lt;div class=&quot;top-right bg-master-light text-center padding-20&quot;&gt;Top-right&lt;/div&gt;
    &lt;div class=&quot;bottom-right bg-master-light text-center padding-20&quot;&gt;Bottom-right&lt;/div&gt;
&lt;/div&gt;</code></pre>
    <p>It is also possible to mix two or more classes. ex: Mixing <code>top-left top-right</code> will produce the following CSS styling</p>
    <code>top:0; left:0; right:0</code>
</section>
<section>
    <h5 class="">Misc. classes</h5>
    <div class="table-responsive ">
        <table class="table table-bordered table-condensed table-striped">
            <thead>
                <tr>
                    <th>
                        Class name
                    </th>
                    <th>
                        Description
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><code>full-width</code></td>
                    <td>Spans the element to have 100% width of the parent</td>
                </tr>
                <tr>
                    <td><code>full-height</code></td>
                    <td>Spans the element to have 100% height of the parent</td>
                </tr>
                <tr>
                    <td><code>scrollable</code></td>
                    <td>Adds <code>overflow-y:auto</code></td>
                </tr>
                <tr>
                    <td><code>center-margin</code></td>
                    <td>Adds <code>margin-left:auto; margin-right:auto</code>. Useful when center aligning any div</td>
                </tr>
                <tr>
                    <td><code>inherit-size</code></td>
                    <td>Inherits width and height from parent</td>
                </tr>
                <tr>
                    <td><code>inherit-height</code></td>
                    <td>Inherits only the height from parent</td>
                </tr>
                <tr>
                    <td><code>hide</code></td>
                    <td>Hides any element</td>
                </tr>
                <tr>
                    <td><code>inline</code></td>
                    <td>Adds <code>display:inline-block</code></td>
                </tr>
            </tbody>
        </table>
    </div>
</section>