      <!-- START PAGE CONTENT WRAPPER -->
      <div class="page-content-wrapper content-builder active full-height" id="plainContent">
        <!-- START PAGE CONTENT -->
        <div class="content">
          <!-- START PAGE COVER -->
          <div class="{% if mode =='horizontal_menu' %} container  {% else %} container-fluid {% endif %}  container-fixed-lg">
            {% if breadcrumb != 'breadcrumb-alt' %} <ul class="breadcrumb p-l-0">
              <li class="breadcrumb-item"><a href="#">Home</a>
              </li>
              <li class="breadcrumb-item active">Plain template
              </li>
            </ul>
            <!-- END BREADCRUMB --> {% endif %}
            <h3 class="page-title">Page Title</h3>
          </div>
          <div class="{% if mode =='horizontal_menu' %} container  {% else %} container-fluid {% endif %}  container-fixed-lg">
            <!-- YOU CAN REMOVE .container-fixed-lg TO DISABLE THE FEATURE WHERE THE CONTENT
                 ALIGNS TO THE CENTER WITHOUT STRECTHING UNGLY ON 1800PX(1080P & 4/5K MONITORS) UP WORDS SCREEN
                  -->
            <!-- CONTENT GOES HERE-->
          </div>
        </div>
        <!-- END PAGE CONTENT -->
        <!-- START COPYRIGHT -->
        <!-- START CONTAINER FLUID -->
        <div class="{% if mode =='horizontal_menu' %} container  {% else %} container-fluid {% endif %}  container-fixed-lg footer">
          <div class="copyright sm-text-center">
            <p class="small no-margin pull-left sm-pull-reset">
              <span class="hint-text">Copyright © 2014 </span>
              <span class="font-montserrat">REVOX</span>.
              <span class="hint-text">All rights reserved. </span>
              <span class="sm-block"><a href="#" class="m-l-10 m-r-10">Terms of use</a> | <a href="#" class="m-l-10">Privacy Policy</a></span>
            </p>
            <p class="small no-margin pull-right sm-pull-reset">
              <a href="#">Hand-crafted</a> <span class="hint-text">&amp; Made with Love ®</span>
            </p>
            <div class="clearfix"></div>
          </div>
        </div>
        <!-- END COPYRIGHT -->
      </div>
      <!-- END PAGE CONTENT WRAPPER -->
      <!-- START PAGE CONTENT WRAPPER -->
      <div class="page-content-wrapper content-builder" id="parallaxCoverpage">
        <!-- START PAGE CONTENT -->
        <div class="content">
 <!-- START JUMBOTRON -->
        <div class="jumbotron page-cover" data-pages="parallax">
          <div class="{% if mode =='horizontal_menu' %} container  {% else %} container-fluid {% endif %}  container-fixed-lg">
            <div class="inner">
              <!-- START BREADCRUMB -->
              {% if breadcrumb != 'breadcrumb-alt' %} <ol class="breadcrumb p-l-0">
                <li class="breadcrumb-item"><a href="#">UI Elements</a></li>
                <li class="breadcrumb-item active">Typography</li>
              </ol>
              <!-- END BREADCRUMB --> {% endif %}
              <div class="container-md-height m-b-20">
                <div class="row m-lg-0">
                  <div class="col-xl-7 col-lg-6 bg-white">
                    <!-- START card -->
                    <div class="full-height">
                      <div class="card-body text-center">
                        <img class="image-responsive-height demo-mw-500" src="{# ASSETS #}/img/demo/typography_hero.gif" alt="">
                      </div>
                    </div>
                    <!-- END card -->
                  </div>
                  <div class="col-xl-5 col-lg-6">
                    <!-- START card -->
                    <div class="card card-transparent">
                      <div class="card-header ">
                        <div class="card-title">Getting started
                        </div>
                      </div>
                      <div class="card-body">
                        <h3>One of the most underestimated elements of design is typography. However, it’s critical in both print and web media. We Made it Perfect in both.</h3>
                        <p>This feature in our product specifically creates hinted fonts for various OS browsers; whether its Windows, Mac OSx, or ubuntu, it does it for all.</p>
                        <br>
                        <div>
                          <div class="profile-img-wrapper m-t-5 inline">
                            <img width="35" height="35" src="{# ASSETS #}/img/profiles/avatar_small.jpg" alt="" data-src="{# ASSETS #}/img/profiles/avatar_small.jpg" data-src-retina="{# ASSETS #}/img/profiles/avatar_small2x.jpg">
                            <div class="chat-status available">
                            </div>
                          </div>
                          <div class="inline m-l-10">
                            <p class="small hint-text m-t-5">VIA senior product manage
                              <br> for fonts and typography at REVOX</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- END card -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
          <!-- END JUMBOTRON -->
          <div class="{% if mode =='horizontal_menu' %} container  {% else %} container-fluid {% endif %}  container-fixed-lg demo-container">
            <!-- PLEASE REMOVE demo-container CLASS FROM THIS DIV, ITS ONLY FOR DEMO PUPPOSE
                    TO SHOW THE PARRALAX EFFECT
                  -->
          </div>
        </div>
        <!-- END PAGE CONTENT -->
      </div>
      <!-- END PAGE CONTENT WRAPPER -->
      <!-- START PAGE CONTENT WRAPPER -->
      <div class="page-content-wrapper content-builder full-height" id="fullheightParallax">
        <!-- START PAGE CONTENT -->
        <div class="content full-height">
 <!-- START JUMBOTRON -->
          <div class="jumbotron full-height no-padding" data-pages="parallax">
            <div class="{% if mode =='horizontal_menu' %} container  {% else %} container-fluid {% endif %}  container-fixed-lg sm-p-l-0 sm-p-r-0 full-height">
              <div class="inner full-height d-flex align-items-center">
                <div class="row justify-content-center full-width">
                    <div class="col-md-6 text-center">
                      <h2 class="text-center">
                                    <img src="
{# ASSETS #}/img/logo.png" alt="logo">
                                        makes it super-easy to create your
                                        dashboard Without a designer.
                                    </h2>
                      <button class="btn btn-success btn-rounded">Live Preview</button>
                      <button class="btn btn-link text-white">Watch Video</button>
                    </div>
                </div>
              </div>
            </div>
          </div>
          <!-- END JUMBOTRON -->
          <div class="{% if mode =='horizontal_menu' %} container  {% else %} container-fluid {% endif %}  container-fixed-lg demo-container">
            <!-- PLEASE REMOVE THE HEIGHT STYLE FROM THIS DIV, ITS ONLY FOR DEMO PUPPOSE
                        TO SHOW THE PARRALAX EFFECT
                      -->
          </div>
        </div>
      </div>
      <!-- END PAGE CONTENT -->
      <!-- END PAGE CONTENT WRAPPER -->
      <!-- START PAGE CONTENT WRAPPER -->
      <div class="page-content-wrapper content-builder full-height" id="titleParallax">
        <!-- START PAGE CONTENT -->
        <div class="content">
         <!-- START JUMBOTRON -->
          <div class="jumbotron  no-margin" data-pages="parallax">
            <div class="{% if mode =='horizontal_menu' %} container  {% else %} container-fluid {% endif %}  container-fixed-lg sm-p-l-0 sm-p-r-0">
              <div class="inner">
                <h3 class="">Page Title</h3>
              </div>
            </div>
          </div>
          <!-- END JUMBOTRON -->
          <div class="{% if mode =='horizontal_menu' %} container  {% else %} container-fluid {% endif %}  container-fixed-lg demo-container">
            <!-- START BREADCRUMB -->
            {% if breadcrumb != 'breadcrumb-alt' %} <ul class="breadcrumb p-l-0">
              <li class="breadcrumb-item">
                <a href="#">Home</a>
              </li>
              <li class="breadcrumb-item active">Parallax for page title
              </li>
            </ul>
            <!-- END BREADCRUMB --> {% endif %}
            <!-- PLEASE REMOVE demo-container CLASS ABOVE, ITS ONLY FOR DEMO PUPPOSE
                    TO SHOW THE PARRALAX EFFECT
                  -->
          </div>
        </div>
        <!-- END PAGE CONTENT -->
      </div>
      <!-- END PAGE CONTENT WRAPPER -->
      <!-- START PAGE CONTENT WRAPPER -->
      <div class="page-content-wrapper content-builder full-height" id="columns-3-9">
        <!-- START PAGE CONTENT -->
        <div class="content full-height">
          <div class="container-fluid full-height no-padding">
            <div class="row full-height no-margin">
              <div class="col-md-3 no-padding b-r b-grey sm-b-b full-height">
                <div class="bg-white full-height">
                  <!-- YOU CAN REMOVE FULL-HEIGHT IN ALL PARENT ELEMENTS TO EXPEND TO CONTENT HEIGHT
                           YOU CAN ALSO CHANGE THE BACKGROUN COLOR BY ADDING THE BG CLASSES
                           EXAMPLE : bg-success
                         -->
                </div>
              </div>
              <div class="col-md-9 no-padding full-height">
                <div class="placeholder full-height">
                  <!-- YOU CAN REMOVE FULL-HEIGHT IN ALL PARENT ELEMENTS TO EXPEND TO CONTENT HEIGHT
                           YOU CAN ALSO CHANGE THE BACKGROUN COLOR BY ADDING THE BG CLASSES
                           EXAMPLE : bg-success
                         -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- END PAGE CONTENT -->
        <!-- START COPYRIGHT -->
        <!-- START CONTAINER FLUID -->
        <div class="{% if mode =='horizontal_menu' %} container  {% else %} container-fluid {% endif %}  container-fixed-lg footer">
          <div class="copyright sm-text-center">
            <p class="small no-margin pull-left sm-pull-reset">
              <span class="hint-text">Copyright © 2014 </span>
              <span class="font-montserrat">REVOX</span>.
              <span class="hint-text">All rights reserved. </span>
              <span class="sm-block"><a href="#" class="m-l-10 m-r-10">Terms of use</a> | <a href="#" class="m-l-10">Privacy Policy</a></span>
            </p>
            <p class="small no-margin pull-right sm-pull-reset">
              <a href="#">Hand-crafted</a> <span class="hint-text">&amp; Made with Love ®</span>
            </p>
            <div class="clearfix"></div>
          </div>
        </div>
        <!-- END COPYRIGHT -->
      </div>
      <!-- END PAGE CONTENT WRAPPER -->
      <!-- START PAGE CONTENT WRAPPER -->
      <div class="page-content-wrapper content-builder full-height" id="columns-9-3">
        <!-- START PAGE CONTENT -->
        <div class="content full-height">
          <div class="container-fluid full-height no-padding">
            <div class="row full-height no-margin">
              <div class="col-md-9 no-padding b-r b-grey full-height">
                <div class="full-height placeholder">
                  <!-- YOU CAN REMOVE FULL-HEIGHT IN ALL PARENT ELEMENTS TO EXPEND TO CONTENT HEIGHT
                               YOU CAN ALSO CHANGE THE BACKGROUN COLOR BY ADDING THE BG CLASSES
                               EXAMPLE : bg-success
                             -->
                </div>
              </div>
              <div class="col-md-3 no-padding full-height">
                <div class="bg-white  full-height">
                  <!-- YOU CAN REMOVE FULL-HEIGHT IN ALL PARENT ELEMENTS TO EXPEND TO CONTENT HEIGHT
                               YOU CAN ALSO CHANGE THE BACKGROUN COLOR BY ADDING THE BG CLASSES
                               EXAMPLE : bg-success
                             -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- END PAGE CONTENT -->
        <!-- START COPYRIGHT -->
        <!-- START CONTAINER FLUID -->
        <div class="{% if mode =='horizontal_menu' %} container  {% else %} container-fluid {% endif %}  container-fixed-lg footer">
          <div class="copyright sm-text-center">
            <p class="small no-margin pull-left sm-pull-reset">
              <span class="hint-text">Copyright © 2014 </span>
              <span class="font-montserrat">REVOX</span>.
              <span class="hint-text">All rights reserved. </span>
              <span class="sm-block"><a href="#" class="m-l-10 m-r-10">Terms of use</a> | <a href="#" class="m-l-10">Privacy Policy</a></span>
            </p>
            <p class="small no-margin pull-right sm-pull-reset">
              <a href="#">Hand-crafted</a> <span class="hint-text">&amp; Made with Love ®</span>
            </p>
            <div class="clearfix"></div>
          </div>
        </div>
        <!-- END COPYRIGHT -->
      </div>
      <!-- END PAGE CONTENT WRAPPER -->
      <!-- START PAGE CONTENT WRAPPER -->
      <div class="page-content-wrapper content-builder full-height" id="columns-6-6">
        <!-- START PAGE CONTENT -->
        <div class="content full-height">
          <div class="container-fluid full-height no-padding">
            <div class="row full-height no-margin">
              <div class="col-md-6 no-padding b-r b-grey full-height">
                <div class="bg-white full-height">
                  <!-- YOU CAN REMOVE FULL-HEIGHT IN ALL PARENT ELEMENTS TO EXPEND TO CONTENT HEIGHT
                           YOU CAN ALSO CHANGE THE BACKGROUN COLOR BY ADDING THE BG CLASSES
                           EXAMPLE : bg-success
                         -->
                </div>
              </div>
              <div class="col-md-6 no-padding full-height">
                <div class="bg-white full-height">
                  <!-- YOU CAN REMOVE FULL-HEIGHT IN ALL PARENT ELEMENTS TO EXPEND TO CONTENT HEIGHT
                           YOU CAN ALSO CHANGE THE BACKGROUN COLOR BY ADDING THE BG CLASSES
                           EXAMPLE : bg-success
                         -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- END PAGE CONTENT -->
        <!-- START COPYRIGHT -->
        <!-- START CONTAINER FLUID -->
        <div class="{% if mode =='horizontal_menu' %} container  {% else %} container-fluid {% endif %}  container-fixed-lg footer">
          <div class="copyright sm-text-center">
            <p class="small no-margin pull-left sm-pull-reset">
              <span class="hint-text">Copyright © 2014 </span>
              <span class="font-montserrat">REVOX</span>.
              <span class="hint-text">All rights reserved. </span>
              <span class="sm-block"><a href="#" class="m-l-10 m-r-10">Terms of use</a> | <a href="#" class="m-l-10">Privacy Policy</a></span>
            </p>
            <p class="small no-margin pull-right sm-pull-reset">
              <a href="#">Hand-crafted</a> <span class="hint-text">&amp; Made with Love ®</span>
            </p>
            <div class="clearfix"></div>
          </div>
        </div>
        <!-- END COPYRIGHT -->
      </div>
      <!-- END PAGE CONTENT WRAPPER -->
