<div class="card-header" [attr.aria-expanded]="_active" (click)="clickHeader($event)" role="tab">
  <ng-template [ngIf]="pgTitle">
      <h4 class="card-title">
        <a href="javascript:;" [ngClass]="{'collapsed':true,'collapsed':_active}">
        {{ pgTitle }}
        </a>
      </h4>
  </ng-template>
  <ng-template [ngIf]="!pgTitle">
    <ng-content select="[collapse-title]"></ng-content>
  </ng-template>
</div>
<div class="collapse" [ngClass]="{'show':true,'active':_active,'inactive':!_active}" [@collapseState]="_active?'active':'inactive'">
  <div class="card-body">
    <ng-content></ng-content>
  </div>
</div>