{% set TITLE = "- Dashboard" %}
{% set ASSETS = "assets" %}
{% set ASSETS = "assets" %}
{% set ASSETS_PLUGINS = "assets/plugins" %}
{% set PAGES_CORE = "pages" %}
{% set THEME ="pages" %}
{% set active_parent = "dashboard" %}
{% set BODY_CLASS = "dashboard" %}
{% set CONTENT_CLASS = "sm-gutter" %}
{% extends PATH + "layouts/default_layout.html" %}
{% set render = "html" %}
{% block css_dependencies %}
    <link href="assets/plugins/nvd3/nv.d3.min.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="assets/plugins/mapplic/css/mapplic.css" rel="stylesheet" type="text/css" />
    <link href="assets/plugins/rickshaw/rickshaw.min.css" rel="stylesheet" type="text/css" />
    <link href="assets/plugins/bootstrap-datepicker/css/datepicker3.css" rel="stylesheet" type="text/css" media="screen">
    <link href="assets/plugins/jquery-metrojs/MetroJs.css" rel="stylesheet" type="text/css" media="screen" />
{% endblock %}
{% block page %}
	<!-- START CONTAINER FLUID -->
	<div class="container-fluid padding-25 sm-padding-10">
		<!-- START ROW -->
		<div class="row">
			<div class="col-lg-6 col-xlg-5">
				<div class="row">
					<div class="col-md-12 m-b-10">
						<div class="ar-3-2 widget-1-wrapper">
							<!-- START WIDGET widget_imageWidget-->
							{% include PATH + "pages/dashboard/_widget/widget_imageWidget.tpl" %}
							<!-- END WIDGET -->
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6 m-b-10">
						<div class="ar-2-1">
							<!-- START WIDGET widget_graphTile-->
							{% include PATH + "pages/dashboard/_widget/widget_graphTile.tpl" %}
							<!-- END WIDGET -->
						</div>
					</div>
					<div class="col-sm-6 m-b-10">
						<div class="ar-2-1">
							<!-- START WIDGET widget_barTile-->
							{% include PATH + "pages/dashboard/_widget/widget_barTile.tpl" %}
							<!-- END WIDGET -->
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-xlg-4">
				<div class="row">
					<div class="col-sm-6 m-b-10">
						<div class="ar-1-1">
							<!-- START WIDGET widget_imageWidgetBasic-->
							{% include PATH + "pages/dashboard/_widget/widget_imageWidgetBasic.tpl" %}
							<!-- END WIDGET -->
						</div>
					</div>
					<div class="col-sm-6 m-b-10">
						<div class="ar-1-1">
							<!-- START WIDGET widget_plainLiveWidget-->
							{% include PATH + "pages/dashboard/_widget/widget_plainLiveWidget.tpl" %}
							<!-- END WIDGET -->
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6 m-b-10">
						<div class="ar-1-1">
							<!-- START WIDGET widget_plainWidget-->
							{% include PATH + "pages/dashboard/_widget/widget_plainWidget.tpl" %}
							<!-- END WIDGET -->
						</div>
					</div>
					<div class="col-sm-6 m-b-10">
						<div class="ar-1-1">
							<!-- START WIDGET D3 widget_graphLiveWidget-->
							{% include PATH + "pages/dashboard/_widget/widget_graphLiveWidget.tpl" %}
							<!-- END WIDGET -->
						</div>
					</div>
				</div>
			</div>
			<!-- Filler -->
			<div class="visible-xlg col-xlg-3">
				<div class="ar-2-3">
					<!-- START WIDGET widget_tableWidget-->
					{% include PATH + "pages/dashboard/_widget/widget_tableWidget.tpl" %}
					<!-- END WIDGET -->
				</div>
			</div>
		</div>
		<!-- END ROW -->
		<div class="row">
			<div class="col-lg-4 col-xl-3 col-xlg-2 ">
				<div class="row">
					<div class="col-md-12 m-b-10">
						<!-- START WIDGET D3 widget_graphTileFlat-->
						{% include PATH + "pages/dashboard/_widget/widget_graphTileFlat.tpl" %}
						<!-- END WIDGET -->
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 m-b-10">
						<!-- START WIDGET widget_progressTileFlat-->
						{% include PATH + "pages/dashboard/_widget/widget_progressTileFlat.tpl" %}
						<!-- END WIDGET -->
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<!-- START WIDGET widget_statTile-->
						{% include PATH + "pages/dashboard/_widget/widget_statTile.tpl" %}
						<!-- END WIDGET -->
					</div>
				</div>
			</div>
			<div class="col-lg-8 col-xl-5 col-xlg-6 m-b-10">
				<div class="row">
					<div class="col-md-12">
						<!-- START WIDGET D3 widget_graphWidget-->
						{% include PATH + "pages/dashboard/_widget/widget_graphWidget.tpl" %}
						<!-- END WIDGET -->
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-xl-4 m-b-10 hidden-xlg">
				<!-- START WIDGET widget_tableWidgetBasic-->
				{% include PATH + "pages/dashboard/_widget/widget_tableWidgetBasic.tpl" %}
				<!-- END WIDGET -->
			</div>
			<div class="col-lg-6 visible-md visible-xlg col-xlg-4 m-b-10">
				<!-- START WIDGET D3 widget_stackedBarWidget-->
				{% include PATH + "pages/dashboard/_widget/widget_stackedBarWidget.tpl" %}
				<!-- END WIDGET -->
			</div>
		</div>
		<div class="row">
			<div class="col-lg-8 m-b-10">
				<!-- START WIDGET widget_mapWidget-->
				{% include PATH + "pages/dashboard/_widget/widget_mapWidget.tpl" %}
				<!-- END WIDGET -->
			</div>
			<div class="col-lg-4 m-b-10">
				<!-- START WIDGET widget_realtimeWidget-->
				{% include PATH + "pages/dashboard/_widget/widget_realtimeWidget.tpl" %}
				<!-- END WIDGET -->
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 visible-lg hidden-xlg sm-m-b-10 md-m-b-10">
				<!-- START WIDGET D3 widget_stackedBarWidgetBasic-->
				{% include PATH + "pages/dashboard/_widget/widget_stackedBarWidgetBasic.tpl" %}
				<!-- END WIDGET -->
			</div>
			<div class="col-md-4 col-lg-3 col-xlg-3 m-b-10">
				<!-- START WIDGET D3 widget_graphOptionsWidget-->
				{% include PATH + "pages/dashboard/_widget/widget_graphOptionsWidget.tpl" %}
				<!-- END WIDGET -->
			</div>
			<div class="col-xlg-2 visible-xlg ">
				<!-- START WIDGET widget_socialImageTile-->
				{% include PATH + "pages/dashboard/_widget/widget_socialImageTile.tpl" %}
				<!-- END WIDGET -->
			</div>
			<div class="col-xlg-2 visible-xlg ">
				<div class="row">
					<div class="col-xlg-12">
						<!-- START WIDGET widget_socialPostTile-->
						{% include PATH + "pages/dashboard/_widget/widget_socialPostTile.tpl" %}
						<!-- END WIDGET -->
					</div>
				</div>
			</div>
			<div class="col-md-8 col-lg-5 col-xlg-5">
				<!-- START WIDGET widget_weatherWidget-->
				{% include PATH + "pages/dashboard/_widget/widget_weatherWidget.tpl" %}
				<!-- END WIDGET -->
			</div>
		</div>
	</div>
	<!-- END CONTAINER FLUID -->
{% endblock %}
{% block page_js_dependencies %}
    <script src="assets/plugins/nvd3/lib/d3.v3.js" type="text/javascript"></script>
    <script src="assets/plugins/nvd3/nv.d3.min.js" type="text/javascript"></script>
    <script src="assets/plugins/nvd3/src/utils.js" type="text/javascript"></script>
    <script src="assets/plugins/nvd3/src/tooltip.js" type="text/javascript"></script>
    <script src="assets/plugins/nvd3/src/interactiveLayer.js" type="text/javascript"></script>
    <script src="assets/plugins/nvd3/src/models/axis.js" type="text/javascript"></script>
    <script src="assets/plugins/nvd3/src/models/line.js" type="text/javascript"></script>
    <script src="assets/plugins/nvd3/src/models/lineWithFocusChart.js" type="text/javascript"></script>
    <script src="assets/plugins/mapplic/js/hammer.js"></script>
    <script src="assets/plugins/mapplic/js/jquery.mousewheel.js"></script>
    <script src="assets/plugins/mapplic/js/mapplic.js"></script>
    <script src="assets/plugins/rickshaw/rickshaw.min.js"></script>
    <script src="assets/plugins/jquery-metrojs/MetroJs.min.js" type="text/javascript"></script>
    <script src="assets/plugins/jquery-sparkline/jquery.sparkline.min.js" type="text/javascript"></script>
    <script src="assets/plugins/skycons/skycons.js" type="text/javascript"></script>
    <script src="assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js" type="text/javascript"></script>
{% endblock %}
{% block addition_js %}
    <script src="assets/js/dashboard.js" type="text/javascript"></script>
{% endblock %}