    <!-- START DIALOG -->
    <div id="itemDetails" class="dialog item-details">
      <div class="dialog__overlay"></div>
      <div class="dialog__content">
        <div class="container-fluid">
          <div class="row dialog__overview">
            <div class="col-md-7 no-padding item-slideshow-wrapper full-height">
              <div class="item-slideshow full-height">
                <div class="slide" data-image="{# ASSETS #}/img/gallery/item-square.jpg">
                </div>
                <div class="slide" data-image="{# ASSETS #}/img/gallery/item-square.jpg">
                </div>
              </div>
            </div>
            <div class="col-md-12 d-none d-md-block d-lg-block d-xl-block bg-info-dark">
              <div class="container-xs-height">
                <div class="row row-xs-height">
                  <div class="col-8 col-xs-height col-middle no-padding">
                    <div class="thumbnail-wrapper d32 circular inline">
                      <img width="32" height="32" src="{# ASSETS #}/img/profiles/2.jpg" data-src="{# ASSETS #}/img/profiles/2.jpg" data-src-retina="{# ASSETS #}/img/profiles/2x.jpg" alt="">
                    </div>
                    <div class="inline m-l-15">
                      <p class="text-white no-margin">Alex Nester</p>
                      <p class="hint-text text-white no-margin fs-12">Senior UI/UX designer</p>
                    </div>
                  </div>
                  <div class="col-4 col-xs-height col-middle text-right  no-padding">
                    <h2 class="bold text-white price font-montserrat">$20.00</h2>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-5 p-r-35 p-t-35 p-l-35 full-height item-description">
              <h2 class="semi-bold no-margin font-montserrat">Happy Ninja</h2>
              <p class="rating fs-12 m-t-5">
                <i class="fa fa-star "></i>
                <i class="fa fa-star "></i>
                <i class="fa fa-star "></i>
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
              </p>
              <p class="fs-13">When it comes to digital design, the lines between functionality, aesthetics, and psychology are inseparably blurred. Without the constraints of the physical world, there’s no natural form to fall back on, and every bit of constraint and affordance must be introduced intentionally. Good design makes a product useful.
              </p>
              <div class="row m-b-20 m-t-20">
                <div class="col-6"><span class="font-montserrat all-caps fs-11">Price ranges</span>
                </div>
                <div class="col-6 text-right">$20.00 - $40.00</div>
              </div>
              <div class="row m-t-20 m-b-10">
                <div class="col-6"><span class="font-montserrat all-caps fs-11">Paint sizes</span>
                </div>
              </div>
              <button class="btn btn-white">S</button>
              <button class="btn btn-white">M</button>
              <button class="btn btn-white">L</button>
              <button class="btn btn-white">XL</button>
              <br>
              <button class="btn btn-primary buy-now">Buy Now</button>
            </div>
          </div>
          <div class="row dialog__footer bg-info-dark d-sm-none d-md-block d-lg-block d-xl-block">
            <div class="col-md-7 full-height separator">
              <div class="container-xs-height">
                <div class="row row-xs-height">
                  <div class="col-7 col-xs-height col-middle no-padding">
                    <div class="thumbnail-wrapper d48 circular inline">
                      <img width="48" height="48" src="{# ASSETS #}/img/profiles/2.jpg" data-src="{# ASSETS #}/img/profiles/2.jpg" data-src-retina="{# ASSETS #}/img/profiles/2x.jpg" alt="">
                    </div>
                    <div class="inline m-l-15">
                      <p class="text-white no-margin">Alex Nester</p>
                      <p class="hint-text text-white no-margin fs-12">Senior UI/UX designer</p>
                    </div>
                  </div>
                  <div class="col-5 col-xs-height col-middle text-right  no-padding">
                    <h2 class="bold text-white price font-montserrat">$20.00</h2>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-5 full-height">
              <ul class="recommended list-inline pull-right m-t-10 m-b-0">
                <li>
                  <a href="#"><img src="{# ASSETS #}/img/gallery/thumb-1.jpg"></a>
                </li>
                <li>
                  <a href="#"><img src="{# ASSETS #}/img/gallery/thumb-2.jpg"></a>
                </li>
                <li>
                  <a href="#"><img src="{# ASSETS #}/img/gallery/thumb-3.jpg"></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <button class="close action top-right" data-dialog-close><i class="pg-close fs-14"></i>
        </button>
      </div>
    </div>
    <!-- END DIALOG -->