    <div class="quickview-wrapper" id="filters">
      <div class="padding-40 ">
        <a class="builder-close quickview-toggle pg-close" data-toggle="quickview" data-toggle-element="#filters" href="#"></a>
        <form class="" role="form">
          <h5 class="all-caps font-montserrat fs-12 m-b-20">Advance filters</h5>
          <div class="form-group form-group-default ">
            <label>Project</label>
            <input type="email" class="form-control" placeholder="Type of select a label">
          </div>
          <h5 class="all-caps font-montserrat fs-12 m-b-20 m-t-25">Advance filters</h5>
          <div class="radio radio-danger">
            <input type="radio" checked="checked" value="1" name="filter" id="asc">
            <label for="asc">Ascending order</label>
            <br>
            <input type="radio" value="2" name="filter" id="views">
            <label for="views">Most viewed</label>
            <br>
            <input type="radio" value="3" name="filter" id="cost">
            <label for="cost">Cost</label>
            <br>
            <input type="radio" value="4" name="filter" id="latest">
            <label for="latest">Latest</label>
          </div>
          <h5 class="all-caps font-montserrat fs-12 m-b-20 m-t-25">Price range</h5>
          <div class="bg-danger m-b-10" id="slider-margin">
          </div>
          <button class="pull-right btn btn-danger btn-cons m-t-40">Apply</button>
        </form>
      </div>
    </div>