          <div class="{% if mode =='horizontal_menu' %} container  {% else %} container-fluid {% endif %}  container-fixed-lg sm-p-l-0 sm-p-r-0">
            <!-- START CATEGORY -->
            <div class="gallery">
              <div class="gallery-filters p-t-20 p-b-10">
                <ul class="list-inline text-right">
                  <li class="hint-text">Sort by: </li>
                  <li><a href="#" class="active text-master p-r-5 p-l-5">Name</a></li>
                  <li><a href="#" class="text-master hint-text p-r-5 p-l-5">Views</a></li>
                  <li><a href="#" class="text-master hint-text p-r-5 p-l-5">Cost</a></li>
                  <li>
                    <button class="btn btn-primary m-l-10" data-toggle="filters">More filters</button>
                  </li>
                </ul>
              </div>
              <!-- START GALLERY ITEM -->
              <!-- 
                    FOR DEMO PURPOSES, FIRST GALLERY ITEM (.first) IS HIDDEN 
                    FOR SCREENS <920px. PLEASE REMOVE THE CLASS 'first' WHEN YOU IMPLEMENT 
                -->
              <div class="gallery-item first" data-width="1" data-height="1">
                <!-- START PREVIEW -->
                <img src="{# ASSETS #}/img/gallery/1.jpg" alt="" class="image-responsive-height">
                <!-- END PREVIEW -->
                <!-- START ITEM OVERLAY DESCRIPTION -->
                <div class="overlayer bottom-left full-width">
                  <div class="overlayer-wrapper item-info ">
                    <div class="gradient-grey p-l-20 p-r-20 p-t-20 p-b-5">
                      <div class="">
                        <p class="pull-left bold text-white fs-14 p-t-10">Happy Ninja</p>
                        <h5 class="pull-right semi-bold text-white font-montserrat bold">$25.00</h5>
                        <div class="clearfix"></div>
                      </div>
                      <div class="m-t-10">
                        <div class="thumbnail-wrapper d32 circular m-t-5">
                          <img width="40" height="40" src="{# ASSETS #}/img/profiles/avatar.jpg" data-src="{# ASSETS #}/img/profiles/avatar.jpg" data-src-retina="{# ASSETS #}/img/profiles/avatar2x.jpg" alt="">
                        </div>
                        <div class="inline m-l-10">
                          <p class="no-margin text-white fs-12">Designed by Alex Nester</p>
                          <p class="rating">
                            <i class="fa fa-star rated"></i>
                            <i class="fa fa-star rated"></i>
                            <i class="fa fa-star rated"></i>
                            <i class="fa fa-star rated"></i>
                            <i class="fa fa-star"></i>
                          </p>
                        </div>
                        <div class="pull-right m-t-10">
                          <button class="btn btn-white btn-xs btn-mini bold fs-14" type="button">+</button>
                        </div>
                        <div class="clearfix"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- END PRODUCT OVERLAY DESCRIPTION -->
              </div>
              <!-- END GALLERY ITEM -->
              <!-- START GALLERY ITEM -->
              <!-- 
                    FOR DEMO PURPOSES, FIRST GALLERY ITEM (.first) IS HIDDEN 
                    FOR SCREENS <920px. PLEASE REMOVE THE CLASS 'first' WHEN YOU IMPLEMENT 
                -->
              <div class="gallery-item " data-width="2" data-height="2">
                <!-- START PREVIEW -->
                <div class="live-tile slide" data-speed="750" data-delay="4000" data-mode="carousel">
                  <div class="slide-front">
                    <img src="{# ASSETS #}/img/gallery/2_1.jpg" alt="" class="image-responsive-height">
                  </div>
                  <div class="slide-back">
                    <img src="{# ASSETS #}/img/gallery/2_2.jpg" alt="" class="image-responsive-height">
                  </div>
                </div>
                <!-- END PREVIEW -->
                <!-- START ITEM OVERLAY DESCRIPTION -->
                <div class="overlayer bottom-left full-width">
                  <div class="overlayer-wrapper item-info more-content">
                    <div class="gradient-grey p-l-20 p-r-20 p-t-20 p-b-5">
                      <div class="">
                        <h3 class="pull-left bold text-white no-margin">Happy Ninja</h3>
                        <h3 class="pull-right semi-bold text-white font-montserrat bold no-margin">$25.00</h3>
                        <div class="clearfix"></div>
                        <span class="hint-text pull-left text-white">Hand and mind crafted</span>
                        <div class="clearfix"></div>
                      </div>
                      <div class="">
                        <h5 class="text-white light">Most Sold Item in the marketplace</h5>
                      </div>
                      <div class="m-t-10">
                        <div class="thumbnail-wrapper d32 circular m-t-5">
                          <img width="40" height="40" src="{# ASSETS #}/img/profiles/avatar.jpg" data-src="{# ASSETS #}/img/profiles/avatar.jpg" data-src-retina="{# ASSETS #}/img/profiles/avatar2x.jpg" alt="">
                        </div>
                        <div class="inline m-l-10">
                          <p class="no-margin text-white fs-12">Designed by Alex Nester</p>
                          <p class="rating">
                            <i class="fa fa-star rated"></i>
                            <i class="fa fa-star rated"></i>
                            <i class="fa fa-star rated"></i>
                            <i class="fa fa-star rated"></i>
                            <i class="fa fa-star"></i>
                          </p>
                        </div>
                        <div class="pull-right m-t-10">
                          <button class="btn btn-white btn-xs btn-mini bold fs-14" type="button">+</button>
                        </div>
                        <div class="clearfix"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- END PRODUCT OVERLAY DESCRIPTION -->
              </div>
              <!-- END GALLERY ITEM -->
              <!-- START GALLERY ITEM -->
              <!-- 
                    FOR DEMO PURPOSES, FIRST GALLERY ITEM (.first) IS HIDDEN 
                    FOR SCREENS <920px. PLEASE REMOVE THE CLASS 'first' WHEN YOU IMPLEMENT 
                -->
              <div class="gallery-item " data-width="1" data-height="1">
                <!-- START PREVIEW -->
                <img src="{# ASSETS #}/img/gallery/3.jpg" alt="" class="image-responsive-height">
                <!-- END PREVIEW -->
                <!-- START ITEM OVERLAY DESCRIPTION -->
                <div class="overlayer bottom-left full-width">
                  <div class="overlayer-wrapper item-info ">
                    <div class="gradient-grey p-l-20 p-r-20 p-t-20 p-b-5">
                      <div class="">
                        <p class="pull-left bold text-white fs-14 p-t-10">Happy Ninja</p>
                        <h5 class="pull-right semi-bold text-white font-montserrat bold">$25.00</h5>
                        <div class="clearfix"></div>
                      </div>
                      <div class="m-t-10">
                        <div class="thumbnail-wrapper d32 circular m-t-5">
                          <img width="40" height="40" src="{# ASSETS #}/img/profiles/avatar.jpg" data-src="{# ASSETS #}/img/profiles/avatar.jpg" data-src-retina="{# ASSETS #}/img/profiles/avatar2x.jpg" alt="">
                        </div>
                        <div class="inline m-l-10">
                          <p class="no-margin text-white fs-12">Designed by Alex Nester</p>
                          <p class="rating">
                            <i class="fa fa-star rated"></i>
                            <i class="fa fa-star rated"></i>
                            <i class="fa fa-star rated"></i>
                            <i class="fa fa-star rated"></i>
                            <i class="fa fa-star"></i>
                          </p>
                        </div>
                        <div class="pull-right m-t-10">
                          <button class="btn btn-white btn-xs btn-mini bold fs-14" type="button">+</button>
                        </div>
                        <div class="clearfix"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- END PRODUCT OVERLAY DESCRIPTION -->
              </div>
              <!-- END GALLERY ITEM -->
              <!-- START GALLERY ITEM -->
              <!-- 
                    FOR DEMO PURPOSES, FIRST GALLERY ITEM (.first) IS HIDDEN 
                    FOR SCREENS <920px. PLEASE REMOVE THE CLASS 'first' WHEN YOU IMPLEMENT 
                -->
              <div class="gallery-item " data-width="1" data-height="1">
                <!-- START PREVIEW -->
                <img src="{# ASSETS #}/img/gallery/4.jpg" alt="" class="image-responsive-height">
                <!-- END PREVIEW -->
                <!-- START ITEM OVERLAY DESCRIPTION -->
                <div class="overlayer bottom-left full-width">
                  <div class="overlayer-wrapper item-info ">
                    <div class="gradient-grey p-l-20 p-r-20 p-t-20 p-b-5">
                      <div class="">
                        <p class="pull-left bold text-white fs-14 p-t-10">Happy Ninja</p>
                        <h5 class="pull-right semi-bold text-white font-montserrat bold">$25.00</h5>
                        <div class="clearfix"></div>
                      </div>
                      <div class="m-t-10">
                        <div class="thumbnail-wrapper d32 circular m-t-5">
                          <img width="40" height="40" src="{# ASSETS #}/img/profiles/avatar.jpg" data-src="{# ASSETS #}/img/profiles/avatar.jpg" data-src-retina="{# ASSETS #}/img/profiles/avatar2x.jpg" alt="">
                        </div>
                        <div class="inline m-l-10">
                          <p class="no-margin text-white fs-12">Designed by Alex Nester</p>
                          <p class="rating">
                            <i class="fa fa-star rated"></i>
                            <i class="fa fa-star rated"></i>
                            <i class="fa fa-star rated"></i>
                            <i class="fa fa-star rated"></i>
                            <i class="fa fa-star"></i>
                          </p>
                        </div>
                        <div class="pull-right m-t-10">
                          <button class="btn btn-white btn-xs btn-mini bold fs-14" type="button">+</button>
                        </div>
                        <div class="clearfix"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- END PRODUCT OVERLAY DESCRIPTION -->
              </div>
              <!-- END GALLERY ITEM -->
              <!-- START GALLERY ITEM -->
              <!-- 
                    FOR DEMO PURPOSES, FIRST GALLERY ITEM (.first) IS HIDDEN 
                    FOR SCREENS <920px. PLEASE REMOVE THE CLASS 'first' WHEN YOU IMPLEMENT 
                -->
              <div class="gallery-item " data-width="1" data-height="1">
                <!-- START PREVIEW -->
                <img src="{# ASSETS #}/img/gallery/5.jpg" alt="" class="image-responsive-height">
                <!-- END PREVIEW -->
                <!-- START ITEM OVERLAY DESCRIPTION -->
                <div class="overlayer bottom-left full-width">
                  <div class="overlayer-wrapper item-info ">
                    <div class="gradient-grey p-l-20 p-r-20 p-t-20 p-b-5">
                      <div class="">
                        <p class="pull-left bold text-white fs-14 p-t-10">Happy Ninja</p>
                        <h5 class="pull-right semi-bold text-white font-montserrat bold">$25.00</h5>
                        <div class="clearfix"></div>
                      </div>
                      <div class="m-t-10">
                        <div class="thumbnail-wrapper d32 circular m-t-5">
                          <img width="40" height="40" src="{# ASSETS #}/img/profiles/avatar.jpg" data-src="{# ASSETS #}/img/profiles/avatar.jpg" data-src-retina="{# ASSETS #}/img/profiles/avatar2x.jpg" alt="">
                        </div>
                        <div class="inline m-l-10">
                          <p class="no-margin text-white fs-12">Designed by Alex Nester</p>
                          <p class="rating">
                            <i class="fa fa-star rated"></i>
                            <i class="fa fa-star rated"></i>
                            <i class="fa fa-star rated"></i>
                            <i class="fa fa-star rated"></i>
                            <i class="fa fa-star"></i>
                          </p>
                        </div>
                        <div class="pull-right m-t-10">
                          <button class="btn btn-white btn-xs btn-mini bold fs-14" type="button">+</button>
                        </div>
                        <div class="clearfix"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- END PRODUCT OVERLAY DESCRIPTION -->
              </div>
              <!-- END GALLERY ITEM -->
              <!-- START GALLERY ITEM -->
              <!-- 
                    FOR DEMO PURPOSES, FIRST GALLERY ITEM (.first) IS HIDDEN 
                    FOR SCREENS <920px. PLEASE REMOVE THE CLASS 'first' WHEN YOU IMPLEMENT 
                -->
              <div class="gallery-item " data-width="1" data-height="1">
                <!-- START PREVIEW -->
                <img src="{# ASSETS #}/img/gallery/6.jpg" alt="" class="image-responsive-height">
                <!-- END PREVIEW -->
                <!-- START ITEM OVERLAY DESCRIPTION -->
                <div class="overlayer bottom-left full-width">
                  <div class="overlayer-wrapper item-info ">
                    <div class="gradient-grey p-l-20 p-r-20 p-t-20 p-b-5">
                      <div class="">
                        <p class="pull-left bold text-white fs-14 p-t-10">Happy Ninja</p>
                        <h5 class="pull-right semi-bold text-white font-montserrat bold">$25.00</h5>
                        <div class="clearfix"></div>
                      </div>
                      <div class="m-t-10">
                        <div class="thumbnail-wrapper d32 circular m-t-5">
                          <img width="40" height="40" src="{# ASSETS #}/img/profiles/avatar.jpg" data-src="{# ASSETS #}/img/profiles/avatar.jpg" data-src-retina="{# ASSETS #}/img/profiles/avatar2x.jpg" alt="">
                        </div>
                        <div class="inline m-l-10">
                          <p class="no-margin text-white fs-12">Designed by Alex Nester</p>
                          <p class="rating">
                            <i class="fa fa-star rated"></i>
                            <i class="fa fa-star rated"></i>
                            <i class="fa fa-star rated"></i>
                            <i class="fa fa-star rated"></i>
                            <i class="fa fa-star"></i>
                          </p>
                        </div>
                        <div class="pull-right m-t-10">
                          <button class="btn btn-white btn-xs btn-mini bold fs-14" type="button">+</button>
                        </div>
                        <div class="clearfix"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- END PRODUCT OVERLAY DESCRIPTION -->
              </div>
              <!-- END GALLERY ITEM -->
              <!-- START GALLERY ITEM -->
              <!-- 
                    FOR DEMO PURPOSES, FIRST GALLERY ITEM (.first) IS HIDDEN 
                    FOR SCREENS <920px. PLEASE REMOVE THE CLASS 'first' WHEN YOU IMPLEMENT 
                -->
              <div class="gallery-item " data-width="1" data-height="1">
                <!-- START PREVIEW -->
                <img src="{# ASSETS #}/img/gallery/7.jpg" alt="" class="image-responsive-height">
                <!-- END PREVIEW -->
                <!-- START ITEM OVERLAY DESCRIPTION -->
                <div class="overlayer bottom-left full-width">
                  <div class="overlayer-wrapper item-info ">
                    <div class="gradient-grey p-l-20 p-r-20 p-t-20 p-b-5">
                      <div class="">
                        <p class="pull-left bold text-white fs-14 p-t-10">Happy Ninja</p>
                        <h5 class="pull-right semi-bold text-white font-montserrat bold">$25.00</h5>
                        <div class="clearfix"></div>
                      </div>
                      <div class="m-t-10">
                        <div class="thumbnail-wrapper d32 circular m-t-5">
                          <img width="40" height="40" src="{# ASSETS #}/img/profiles/avatar.jpg" data-src="{# ASSETS #}/img/profiles/avatar.jpg" data-src-retina="{# ASSETS #}/img/profiles/avatar2x.jpg" alt="">
                        </div>
                        <div class="inline m-l-10">
                          <p class="no-margin text-white fs-12">Designed by Alex Nester</p>
                          <p class="rating">
                            <i class="fa fa-star rated"></i>
                            <i class="fa fa-star rated"></i>
                            <i class="fa fa-star rated"></i>
                            <i class="fa fa-star rated"></i>
                            <i class="fa fa-star"></i>
                          </p>
                        </div>
                        <div class="pull-right m-t-10">
                          <button class="btn btn-white btn-xs btn-mini bold fs-14" type="button">+</button>
                        </div>
                        <div class="clearfix"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- END PRODUCT OVERLAY DESCRIPTION -->
              </div>
              <!-- END GALLERY ITEM -->
              <!-- START GALLERY ITEM -->
              <!-- 
                    FOR DEMO PURPOSES, FIRST GALLERY ITEM (.first) IS HIDDEN 
                    FOR SCREENS <920px. PLEASE REMOVE THE CLASS 'first' WHEN YOU IMPLEMENT 
                -->
              <div class="gallery-item " data-width="1" data-height="1">
                <!-- START PREVIEW -->
                <img src="{# ASSETS #}/img/gallery/8.jpg" alt="" class="image-responsive-height">
                <!-- END PREVIEW -->
                <!-- START ITEM OVERLAY DESCRIPTION -->
                <div class="overlayer bottom-left full-width">
                  <div class="overlayer-wrapper item-info ">
                    <div class="gradient-grey p-l-20 p-r-20 p-t-20 p-b-5">
                      <div class="">
                        <p class="pull-left bold text-white fs-14 p-t-10">Happy Ninja</p>
                        <h5 class="pull-right semi-bold text-white font-montserrat bold">$25.00</h5>
                        <div class="clearfix"></div>
                      </div>
                      <div class="m-t-10">
                        <div class="thumbnail-wrapper d32 circular m-t-5">
                          <img width="40" height="40" src="{# ASSETS #}/img/profiles/avatar.jpg" data-src="{# ASSETS #}/img/profiles/avatar.jpg" data-src-retina="{# ASSETS #}/img/profiles/avatar2x.jpg" alt="">
                        </div>
                        <div class="inline m-l-10">
                          <p class="no-margin text-white fs-12">Designed by Alex Nester</p>
                          <p class="rating">
                            <i class="fa fa-star rated"></i>
                            <i class="fa fa-star rated"></i>
                            <i class="fa fa-star rated"></i>
                            <i class="fa fa-star rated"></i>
                            <i class="fa fa-star"></i>
                          </p>
                        </div>
                        <div class="pull-right m-t-10">
                          <button class="btn btn-white btn-xs btn-mini bold fs-14" type="button">+</button>
                        </div>
                        <div class="clearfix"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- END PRODUCT OVERLAY DESCRIPTION -->
              </div>
              <!-- END GALLERY ITEM -->
              <!-- START GALLERY ITEM -->
              <!-- 
                    FOR DEMO PURPOSES, FIRST GALLERY ITEM (.first) IS HIDDEN 
                    FOR SCREENS <920px. PLEASE REMOVE THE CLASS 'first' WHEN YOU IMPLEMENT 
                -->
              <div class="gallery-item " data-width="1" data-height="1">
                <!-- START PREVIEW -->
                <img src="{# ASSETS #}/img/gallery/9.jpg" alt="" class="image-responsive-height">
                <!-- END PREVIEW -->
                <!-- START ITEM OVERLAY DESCRIPTION -->
                <div class="overlayer bottom-left full-width">
                  <div class="overlayer-wrapper item-info ">
                    <div class="gradient-grey p-l-20 p-r-20 p-t-20 p-b-5">
                      <div class="">
                        <p class="pull-left bold text-white fs-14 p-t-10">Happy Ninja</p>
                        <h5 class="pull-right semi-bold text-white font-montserrat bold">$25.00</h5>
                        <div class="clearfix"></div>
                      </div>
                      <div class="m-t-10">
                        <div class="thumbnail-wrapper d32 circular m-t-5">
                          <img width="40" height="40" src="{# ASSETS #}/img/profiles/avatar.jpg" data-src="{# ASSETS #}/img/profiles/avatar.jpg" data-src-retina="{# ASSETS #}/img/profiles/avatar2x.jpg" alt="">
                        </div>
                        <div class="inline m-l-10">
                          <p class="no-margin text-white fs-12">Designed by Alex Nester</p>
                          <p class="rating">
                            <i class="fa fa-star rated"></i>
                            <i class="fa fa-star rated"></i>
                            <i class="fa fa-star rated"></i>
                            <i class="fa fa-star rated"></i>
                            <i class="fa fa-star"></i>
                          </p>
                        </div>
                        <div class="pull-right m-t-10">
                          <button class="btn btn-white btn-xs btn-mini bold fs-14" type="button">+</button>
                        </div>
                        <div class="clearfix"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- END PRODUCT OVERLAY DESCRIPTION -->
              </div>
              <!-- END GALLERY ITEM -->
              <!-- START GALLERY ITEM -->
              <!-- 
                    FOR DEMO PURPOSES, FIRST GALLERY ITEM (.first) IS HIDDEN 
                    FOR SCREENS <920px. PLEASE REMOVE THE CLASS 'first' WHEN YOU IMPLEMENT 
                -->
              <div class="gallery-item " data-width="1" data-height="1">
                <!-- START PREVIEW -->
                <img src="{# ASSETS #}/img/gallery/10.jpg" alt="" class="image-responsive-height">
                <!-- END PREVIEW -->
                <!-- START ITEM OVERLAY DESCRIPTION -->
                <div class="overlayer bottom-left full-width">
                  <div class="overlayer-wrapper item-info ">
                    <div class="gradient-grey p-l-20 p-r-20 p-t-20 p-b-5">
                      <div class="">
                        <p class="pull-left bold text-white fs-14 p-t-10">Happy Ninja</p>
                        <h5 class="pull-right semi-bold text-white font-montserrat bold">$25.00</h5>
                        <div class="clearfix"></div>
                      </div>
                      <div class="m-t-10">
                        <div class="thumbnail-wrapper d32 circular m-t-5">
                          <img width="40" height="40" src="{# ASSETS #}/img/profiles/avatar.jpg" data-src="{# ASSETS #}/img/profiles/avatar.jpg" data-src-retina="{# ASSETS #}/img/profiles/avatar2x.jpg" alt="">
                        </div>
                        <div class="inline m-l-10">
                          <p class="no-margin text-white fs-12">Designed by Alex Nester</p>
                          <p class="rating">
                            <i class="fa fa-star rated"></i>
                            <i class="fa fa-star rated"></i>
                            <i class="fa fa-star rated"></i>
                            <i class="fa fa-star rated"></i>
                            <i class="fa fa-star"></i>
                          </p>
                        </div>
                        <div class="pull-right m-t-10">
                          <button class="btn btn-white btn-xs btn-mini bold fs-14" type="button">+</button>
                        </div>
                        <div class="clearfix"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- END PRODUCT OVERLAY DESCRIPTION -->
              </div>
              <!-- END GALLERY ITEM -->
              <!-- START GALLERY ITEM -->
              <!-- 
                    FOR DEMO PURPOSES, FIRST GALLERY ITEM (.first) IS HIDDEN 
                    FOR SCREENS <920px. PLEASE REMOVE THE CLASS 'first' WHEN YOU IMPLEMENT 
                -->
              <div class="gallery-item " data-width="1" data-height="1">
                <!-- START PREVIEW -->
                <img src="{# ASSETS #}/img/gallery/11.jpg" alt="" class="image-responsive-height">
                <!-- END PREVIEW -->
                <!-- START ITEM OVERLAY DESCRIPTION -->
                <div class="overlayer bottom-left full-width">
                  <div class="overlayer-wrapper item-info ">
                    <div class="gradient-grey p-l-20 p-r-20 p-t-20 p-b-5">
                      <div class="">
                        <p class="pull-left bold text-white fs-14 p-t-10">Happy Ninja</p>
                        <h5 class="pull-right semi-bold text-white font-montserrat bold">$25.00</h5>
                        <div class="clearfix"></div>
                      </div>
                      <div class="m-t-10">
                        <div class="thumbnail-wrapper d32 circular m-t-5">
                          <img width="40" height="40" src="{# ASSETS #}/img/profiles/avatar.jpg" data-src="{# ASSETS #}/img/profiles/avatar.jpg" data-src-retina="{# ASSETS #}/img/profiles/avatar2x.jpg" alt="">
                        </div>
                        <div class="inline m-l-10">
                          <p class="no-margin text-white fs-12">Designed by Alex Nester</p>
                          <p class="rating">
                            <i class="fa fa-star rated"></i>
                            <i class="fa fa-star rated"></i>
                            <i class="fa fa-star rated"></i>
                            <i class="fa fa-star rated"></i>
                            <i class="fa fa-star"></i>
                          </p>
                        </div>
                        <div class="pull-right m-t-10">
                          <button class="btn btn-white btn-xs btn-mini bold fs-14" type="button">+</button>
                        </div>
                        <div class="clearfix"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- END PRODUCT OVERLAY DESCRIPTION -->
              </div>
              <!-- END GALLERY ITEM -->
              <!-- START GALLERY ITEM -->
              <!-- 
                    FOR DEMO PURPOSES, FIRST GALLERY ITEM (.first) IS HIDDEN 
                    FOR SCREENS <920px. PLEASE REMOVE THE CLASS 'first' WHEN YOU IMPLEMENT 
                -->
              <div class="gallery-item " data-width="1" data-height="1">
                <!-- START PREVIEW -->
                <img src="{# ASSETS #}/img/gallery/12.jpg" alt="" class="image-responsive-height">
                <!-- END PREVIEW -->
                <!-- START ITEM OVERLAY DESCRIPTION -->
                <div class="overlayer bottom-left full-width">
                  <div class="overlayer-wrapper item-info ">
                    <div class="gradient-grey p-l-20 p-r-20 p-t-20 p-b-5">
                      <div class="">
                        <p class="pull-left bold text-white fs-14 p-t-10">Happy Ninja</p>
                        <h5 class="pull-right semi-bold text-white font-montserrat bold">$25.00</h5>
                        <div class="clearfix"></div>
                      </div>
                      <div class="m-t-10">
                        <div class="thumbnail-wrapper d32 circular m-t-5">
                          <img width="40" height="40" src="{# ASSETS #}/img/profiles/avatar.jpg" data-src="{# ASSETS #}/img/profiles/avatar.jpg" data-src-retina="{# ASSETS #}/img/profiles/avatar2x.jpg" alt="">
                        </div>
                        <div class="inline m-l-10">
                          <p class="no-margin text-white fs-12">Designed by Alex Nester</p>
                          <p class="rating">
                            <i class="fa fa-star rated"></i>
                            <i class="fa fa-star rated"></i>
                            <i class="fa fa-star rated"></i>
                            <i class="fa fa-star rated"></i>
                            <i class="fa fa-star"></i>
                          </p>
                        </div>
                        <div class="pull-right m-t-10">
                          <button class="btn btn-white btn-xs btn-mini bold fs-14" type="button">+</button>
                        </div>
                        <div class="clearfix"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- END PRODUCT OVERLAY DESCRIPTION -->
              </div>
              <!-- END GALLERY ITEM -->
              <!-- START GALLERY ITEM -->
              <!-- 
                    FOR DEMO PURPOSES, FIRST GALLERY ITEM (.first) IS HIDDEN 
                    FOR SCREENS <920px. PLEASE REMOVE THE CLASS 'first' WHEN YOU IMPLEMENT 
                -->
              <div class="gallery-item " data-width="1" data-height="1">
                <!-- START PREVIEW -->
                <img src="{# ASSETS #}/img/gallery/13.jpg" alt="" class="image-responsive-height">
                <!-- END PREVIEW -->
                <!-- START ITEM OVERLAY DESCRIPTION -->
                <div class="overlayer bottom-left full-width">
                  <div class="overlayer-wrapper item-info ">
                    <div class="gradient-grey p-l-20 p-r-20 p-t-20 p-b-5">
                      <div class="">
                        <p class="pull-left bold text-white fs-14 p-t-10">Happy Ninja</p>
                        <h5 class="pull-right semi-bold text-white font-montserrat bold">$25.00</h5>
                        <div class="clearfix"></div>
                      </div>
                      <div class="m-t-10">
                        <div class="thumbnail-wrapper d32 circular m-t-5">
                          <img width="40" height="40" src="{# ASSETS #}/img/profiles/avatar.jpg" data-src="{# ASSETS #}/img/profiles/avatar.jpg" data-src-retina="{# ASSETS #}/img/profiles/avatar2x.jpg" alt="">
                        </div>
                        <div class="inline m-l-10">
                          <p class="no-margin text-white fs-12">Designed by Alex Nester</p>
                          <p class="rating">
                            <i class="fa fa-star rated"></i>
                            <i class="fa fa-star rated"></i>
                            <i class="fa fa-star rated"></i>
                            <i class="fa fa-star rated"></i>
                            <i class="fa fa-star"></i>
                          </p>
                        </div>
                        <div class="pull-right m-t-10">
                          <button class="btn btn-white btn-xs btn-mini bold fs-14" type="button">+</button>
                        </div>
                        <div class="clearfix"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- END PRODUCT OVERLAY DESCRIPTION -->
              </div>
              <!-- END GALLERY ITEM -->
              <!-- START GALLERY ITEM -->
              <!-- 
                    FOR DEMO PURPOSES, FIRST GALLERY ITEM (.first) IS HIDDEN 
                    FOR SCREENS <920px. PLEASE REMOVE THE CLASS 'first' WHEN YOU IMPLEMENT 
                -->
              <div class="gallery-item " data-width="1" data-height="1">
                <!-- START PREVIEW -->
                <img src="{# ASSETS #}/img/gallery/14.jpg" alt="" class="image-responsive-height">
                <!-- END PREVIEW -->
                <!-- START ITEM OVERLAY DESCRIPTION -->
                <div class="overlayer bottom-left full-width">
                  <div class="overlayer-wrapper item-info ">
                    <div class="gradient-grey p-l-20 p-r-20 p-t-20 p-b-5">
                      <div class="">
                        <p class="pull-left bold text-white fs-14 p-t-10">Happy Ninja</p>
                        <h5 class="pull-right semi-bold text-white font-montserrat bold">$25.00</h5>
                        <div class="clearfix"></div>
                      </div>
                      <div class="m-t-10">
                        <div class="thumbnail-wrapper d32 circular m-t-5">
                          <img width="40" height="40" src="{# ASSETS #}/img/profiles/avatar.jpg" data-src="{# ASSETS #}/img/profiles/avatar.jpg" data-src-retina="{# ASSETS #}/img/profiles/avatar2x.jpg" alt="">
                        </div>
                        <div class="inline m-l-10">
                          <p class="no-margin text-white fs-12">Designed by Alex Nester</p>
                          <p class="rating">
                            <i class="fa fa-star rated"></i>
                            <i class="fa fa-star rated"></i>
                            <i class="fa fa-star rated"></i>
                            <i class="fa fa-star rated"></i>
                            <i class="fa fa-star"></i>
                          </p>
                        </div>
                        <div class="pull-right m-t-10">
                          <button class="btn btn-white btn-xs btn-mini bold fs-14" type="button">+</button>
                        </div>
                        <div class="clearfix"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- END PRODUCT OVERLAY DESCRIPTION -->
              </div>
              <!-- END GALLERY ITEM -->
            </div>
            <!-- END CATEGORY -->
          </div>
          {% include PATH + "pages/gallery/_gallery_detail.tpl"%}
          {% include PATH + "pages/gallery/_gallery_settings.tpl"%}