<template name="gmap">
	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp" type="text/javascript"></script>
{% block page %}
{% include PATH + "pages/maps/google.tpl"%}
{% endblock %}
</template>