<nav class="navbar navbar-default bg-master-lighter sm-padding-10 full-width p-t-0 p-b-0" role="navigation">
  <div class="container-fluid full-width">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header text-center">
      <button type="button" class="navbar-toggle collapsed btn btn-link no-padding" data-toggle="collapse" data-target="#sub-nav">
        <i class="pg pg-more v-align-middle"></i>
      </button>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="sub-nav">
      
      <div class="row">
        <div class="col-sm-4">
          <ul class="navbar-nav col-sm-12 col-md-12">
            <li class="nav-item dropdown">
              <a class="nav-link" id="navbarDropdownMenuLink">
                 <i class="fa fa-file-text m-r-10"></i> National Convetion 2018 | <strong class="text-danger">OVERDUE</strong>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-sm-4">
        </div>
        <div class="col-sm-4">
          <ul class="navbar-nav d-flex flex-row justify-content-sm-end">
            <li class="nav-item">
              <a href="#" class="p-r-10"><img width="25" height="25" alt="" class="icon-pdf" src="assets/img/invoice/pdf2x.png" (click)="print()"></a>
            </li>
          </ul>
        </div>
      </div>
      
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
<!-- START CONTAINER FLUID -->
<div class=" container-fluid   container-fixed-lg">
  <!-- START card -->
  <div class="card card-default m-t-20">
    <div class="card-body">
      <div class="invoice padding-50 sm-padding-10">
        <div>
          <div class="pull-right sm-m-t-20">
            <h2 class="font-montserrat all-caps hint-text">Invoice</h2>
          </div>
          <div class="pull-left">
            <img width="235" height="47" alt="" class="invoice-logo" src="assets/img/logo_2x.png">
            <address class="m-t-10">
              <strong>ABN: 85 624 811 025</strong><br>
                Level 14, 5 Martin Pl, 
                Sydney NSW 2000<br> 
                <strong>Ph:</strong> 1800 958 122
              <br>
            </address>
          </div>
          <div class="clearfix"></div>
        </div>
        <br>
        <br>
        <div class="col-12">
          <div class="row">
            <div class="col-lg-9 col-sm-height sm-no-padding">
              <p class="small no-margin">Invoice to</p>
              <h5 class="semi-bold m-t-0 m-b-0">Australian Medical Students' Association</h5>
              <address class="m-t-0">
                  c/o- Australian Medical Association
                  <br>
                  42 Macquarie Street, Barton<br>
                  ACT 2600, Australia
              </address>
            </div>
            <div class="col-lg-3 sm-no-padding sm-p-b-20 d-flex align-items-end justify-content-between">
              <div>
                <div class="font-montserrat bold all-caps">Invoice No :</div>
                <div class="font-montserrat bold all-caps">Invoice date :</div>
                <div class="clearfix"></div>
              </div>
              <div class="text-right">
                <div class="">0047</div>  
                <div class="">16/04/18</div>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="table-responsive table-invoice">
          <table class="table m-t-50">
            <thead>
              <tr>
                <th class="">Line Description</th>
                <th class="text-center">Rate</th>
                <th class="text-center">Amount</th>
                <th class="text-right">Total</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="">
                  <p class="text-black">Booking Fees</p>
                  <p class="small hint-text">
                      $699,516.65 in tickets at 1.8%
                  </p>
                </td>
                <td class="text-center">$699,516.65</td>
                <td class="text-center">1.8%</td>
                <td class="text-right">$14,841.20</td>
              </tr>
              <tr>
                <td class="">
                  <p class="text-black">Transaction Fees</p>
                  <p class="small hint-text">
                    861 unique transactions at $0.35
                  </p>
                </td>
                <td class="text-center">$0.35</td>
                <td class="text-center">861</td>
                <td class="text-right">$301.35</td>
              </tr>
              <tr>
                <td class="">
                  <p class="text-black">Refund Discount</p>
                  <p class="small hint-text">
                    6 Unintended transactions refunded at an average of $18.36 in booking fees.
                  </p>
                </td>
                <td class="text-center">($18.36)</td>
                <td class="text-center">6</td>
                <td class="text-right">($110.16)</td>
              </tr>
            </tbody>
          </table>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <!--<div>
          <img width="150" height="58" alt="" class="invoice-signature" data-src-retina="assets/img/invoice/signature2x.png" data-src="assets/img/invoice/signature.png" src="assets/img/invoice/signature2x.png">
          <p>Designer’s Identity</p>
        </div>-->
        <br>
        <br>
        <div class="p-l-15 p-r-15">
          <div class="row b-a b-grey">
            <div class="col-md-2 p-l-15 sm-p-t-15 clearfix sm-p-b-15 d-flex flex-column justify-content-center">
              <h5 class="font-montserrat all-caps small no-margin hint-text bold">Total Collected</h5>
              <h3 class="no-margin">$714,659.20</h3>
            </div>
            <div class="col-md-5 clearfix sm-p-b-15 d-flex flex-column justify-content-center">
              <h5 class="font-montserrat all-caps small no-margin hint-text bold">For Event Organiser</h5>
              <h3 class="no-margin">$699,626.81</h3>
            </div>
            <div class="col-md-5 text-right bg-master-darker col-sm-height padding-15 d-flex flex-column justify-content-center align-items-end">
              <h5 class="font-montserrat all-caps small no-margin hint-text text-white bold">Booking Fees</h5>
              <h1 class="no-margin text-white">$15,032.39</h1>
            </div>
          </div>
        </div>
        <hr>
        <p class="small hint-text">Services will be invoiced in accordance with the Service Description. You must pay all undisputed invoices in full within 30 days of the invoice date, unless otherwise specified under the Special Terms and Conditions. All payments must reference the invoice number. Unless otherwise specified, all invoices shall be paid in the currency of the invoice.</p>
        <p class="small hint-text">Think Tickets retains the right to decline to extend credit and to require that the applicable purchase price be paid prior to performance of Services based on changes in insight's credit policies or your financial condition and/or payment record. You are responsible for all costs of collection, including reasonable attorneys' fees, for any payment default on undisputed invoices. In addition, Think Tickets may terminate all further work if payment is not received in a timely manner.</p>
        <br>
        <hr>
        <div>
          <img src="assets/img/logo_2x.png" alt="logo"  height="22">
          <span class="m-l-40 text-black sm-pull-right">admin@think.tickets</span>
        </div>
      </div>
    </div>
  </div>
  <!-- END card -->
</div>
<!-- END CONTAINER FLUID -->