.upload-list{
    .list-group-item{
      padding: 7px 5px;
      border: 0;
      font-size: 12px;
    }
    .list-group-item-inner{
      width: 100%;
      display: flex;
    }
    .upload-error{
      color:$color-danger;
    }
    .progress-circle-indeterminate{
      width: 20px;
      height: 20px;
    }
    i{
      display:flex;
      &:before{
        align-self:center;
      }
    }
    .img-thumbnail{
      width: 48px;
      height: 48px;
      img{
        width: 100%;
      }
    }
    .list-item-name{
      align-self: center;
      margin-left:10px;
    }
    .item-progress{
      width: 100%;
      display: flex;
      margin-top: 14px;
      height: 3px;
      flex-direction: column;
    }
  }
  
  .dropzone{
    border: 1px solid rgba(0,0,0,0.03);
    min-height: 360px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: rgba(0,0,0,0.03);
    padding: 23px;
    .upload-btn{
      opacity: 1;
      -ms-filter: none;
      filter: none;
      -webkit-transition: opacity 0.3s ease-in-out;
      -moz-transition: opacity 0.3s ease-in-out;
      -o-transition: opacity 0.3s ease-in-out;
      -ms-transition: opacity 0.3s ease-in-out;
      transition: opacity 0.3s ease-in-out;
      background-repeat: no-repeat;
      background-position: 0 0;
      position: absolute;
      width: 428px;
      height: 123px;
      margin-left: -214px;
      margin-top: -61.5px;
      top: 50%;
      left: 50%;
    }
  }
  
  @keyframes uploadAnimateIn {
    from {
      height: 0;
      margin: 0;
      opacity: 0;
      padding: 0;
    }
  }
  
  @keyframes uploadAnimateOut {
    to {
      height: 0;
      margin: 0;
      padding: 0;
      opacity: 0;
    }
  }
  
  @keyframes uploadAnimateInlineIn {
    from {
      width: 0;
      height: 0;
      margin: 0;
      opacity: 0;
      padding: 0;
    }
  }
  
  @keyframes uploadAnimateInlineOut {
    to {
      width: 0;
      height: 0;
      margin: 0;
      padding: 0;
      opacity: 0;
    }
  }
  