@import 'core.scss';

//Sidebar Styles
@import '~pages_ui/scss/modules/_tabs_accordian.scss';

.nav-tabs .nav-link.active{
    background: transparent !important;
    box-shadow: none !important;
    border-color: transparent !important;
}