

<section id="rails">
    <h3 class="page-title">
            Rails
          </h3>
    <hr>
    <h5>
<p>Welcome to Rails Pages Gem. The following will not install all thirdpary dependencies used in the demo. It has to be installed later manually.</p>
<h4>Installation</h4>
<p>Add this line to your application's Gemfile:</p>
<div class="highlight highlight-source-ruby"><pre><span class="pl-k">gem</span> <span class="pl-s"><span class="pl-pds">'</span>pages-rails<span class="pl-pds">'</span></span>,<span class="pl-s"><span class="pl-pds">'</span>3.0.0<span class="pl-pds">'</span></span>,<span class="pl-c1">:git</span> =&gt; <span class="pl-s"><span class="pl-pds">'</span>https://github.com/revoxltd/pages-rails.git<span class="pl-pds">'</span></span></pre></div>
<p>Install from branch/tag/release</p>
<pre><code>gem 'pages-rails', :git =&gt; "https://github.com/revoxltd/pages-rails.git", :ref =&gt; "4aded"
gem 'pages-rails', :git =&gt; "https://github.com/revoxltd/pages-rails.git", :branch =&gt; "2-3-stable"
gem 'pages-rails', :git =&gt; "https://github.com/revoxltd/pages-rails.git", :tag =&gt; "v2.3.5"
</code></pre>
<p>And then execute:</p>
<pre><code>$ bundle
</code></pre>
<p>Or install it yourself as:</p>
<pre><code>$ gem install pages-rails
</code></pre>
<h4>Usage</h4>
<ol>
<li>Add to your application.js
Will Include core pages.js</li>
</ol>
<pre><code>//= require pages
</code></pre>
<p>Adding other components like calendar,email etc</p>
<pre><code>//= require pages.calendar
//= require pages.email
//= require pages.social
</code></pre>
<ol start="2">
<li>Add to your application.scss or to your custom.scss file</li>
</ol>
<pre><code>$base-img-url: "/assets";
@import "pages";
</code></pre>
<p>You can update varriables as you wish. To see the varriables used open the file stylesheets/_var.scss    <a href="https://github.com/revoxltd/pages-rails/blob/master/vendor/assets/stylesheets/_var.scss">Click here</a></p>
<pre><code>$color-master: #626262 !default;
</code></pre>
<p>You should add varriables before</p>
<pre><code>@import "pages";
</code></pre>
<p>You could also require specific module per page eg:</p>
<pre><code>$base-img-url: "/assets";
@import "modules/_layouts";
@import "modules/_modals";
</code></pre>
<p>Include theme (dont include with pages.rtl or pages, only include the following)</p>
<pre><code>$base-img-url: "/assets";
@import "themes/calendar";
</code></pre>
<p>Dependencies</p>
<table class="table table-condensed">
<thead>
<tr>
<th>Plugin</th>
<th>Description</th>
<th>Dep. Status</th>
</tr>
</thead>
<tbody>
<tr>
<td>jquery.js</td>
<td>Core JS Library</td>
<td><strong>REQUIRED</strong></td>
</tr>
<tr>
<td>mordnerizer.js</td>
<td>Browser Feature Detection</td>
<td><strong>REQUIRED</strong></td>
</tr>
<tr>
<td>bootstrap.js</td>
<td>Core Framework</td>
<td><strong>REQUIRED</strong></td>
</tr>
<tr>
<td>pace.js</td>
<td>Page Progress Loader</td>
<td><strong>OPTIONAL</strong></td>
</tr>
<tr>
<td>jquery-unviel.js</td>
<td>Library Used for displaying retina images</td>
<td><strong>OPTIONAL</strong></td>
</tr>
<tr>
<td>jquery-bez.js</td>
<td>Sidebar Animation Lib for IE9</td>
<td><strong>OPTIONAL</strong></td>
</tr>
<tr>
<td>jquery.ioslist.js</td>
<td>Used Chat list on the quickview</td>
<td><strong>OPTIONAL</strong></td>
</tr>
<tr>
<td>jquery.actual.js</td>
<td>Determine image dimentions</td>
<td><strong>OPTIONAL</strong></td>
</tr>
<tr>
<td>jquery.scrollbar.js</td>
<td>Scrollbar plugin used in sidebar and portlets</td>
<td><strong>OPTIONAL</strong></td>
</tr></tbody></table>

<br>
<div class="well bs-ref clearfix">
    <span class="pull-left">For sample Rails Project </span><a href="https://github.com/revoxltd/pages-rails-sample" target="_blank" class="btn btn-primary pull-right ">Click here</a>
</div>
</section>