<section id="sailsjs">
    <h3 class="page-title">
            Sails JS
          </h3>
    <hr>
    <h5>
Sails is the most popular MVC framework for Node.js. It is designed for building practical, production-ready Node.js apps in a matter of weeks - not months.
          </h5>
    <br>
    <h4>Pages SailsJS Generator</h4>
    <p>Pages comes with a command line tool to generate SailsJS boilerplate using one simple command:</p>
    <p class="bold">Requirements </p>
    <ul class="fs-13 p-l-25">
        <li>NodeJS</li>
        <li>Grunt</li>
    </ul>
    <br>
    <h4>How to generate</h4>
    <h5 class="semi-bold">Step one</h5>
    <p>Using your terminal navigate to the diretory <code>boilerplates</code> in your downloaded package</a>
    </p>
    <br>
    <h5 class="semi-bold">Step two</h5>
    <p>Run the following command on your terminal, this will download the dependencies for the generator to work and only required once</a>
    </p>
    <pre><code class="xml">npm install
</code></pre>
    <br>
    <h5 class="semi-bold">Step Three</h5>
    <p>Type the following command to generate your expressjs boilerplate for pages framework installed</a>
    </p>
    <pre><code class="xml">grunt build:sails
</code></pre>
    <p>To give your app name type it as the last argument</a>
    </p>
    <pre><code class="xml">grunt build:sails:my app name here
</code></pre>
</section>