{% set ROOT = "../" %}
{% set active_page = "form_elements" %}
{% extends "docs/_layouts/default.html" %}
{% block page %}
	{% include "docs/_includes/forms/form_elements.html" %}
{% endblock %}
{% block js_dep %}
    <script src="{# ROOT #}assets/plugins/bootstrap3-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
    <script src="{# ROOT #}assets/plugins/switchery/js/switchery.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="{# ROOT #}assets/plugins/jquery-autonumeric/autoNumeric.js"></script>
    <script type="text/javascript" src="{# ROOT #}assets/plugins/dropzone/dropzone.min.js"></script>
    <script type="text/javascript" src="{# ROOT #}assets/plugins/bootstrap-tag/bootstrap-tagsinput.min.js"></script>
    <script type="text/javascript" src="{# ROOT #}assets/plugins/jquery-inputmask/jquery.inputmask.min.js"></script>
    <script src="{# ROOT #}assets/plugins/boostrap-form-wizard/js/jquery.bootstrap.wizard.min.js" type="text/javascript"></script>
    <script src="{# ROOT #}assets/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
    <script src="{# ROOT #}assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js" type="text/javascript"></script>
    <script src="{# ROOT #}assets/plugins/summernote/js/summernote.min.js" type="text/javascript"></script>

    <script src="{# ROOT #}assets/js/form_elements.js" type="text/javascript"></script>
{% endblock %}