{% set ROOT = "../" %}
{% extends "docs/_layouts/default.html" %}
{% block page %}
<section id="jsrules">
    <h3 class="page-title">
           JS Rules
          </h3>
    <hr>
    <br>
    <p>A few basic rules when you are including third party plugins or custom js functions</p>
    <ul class="fs-12">
    	<li>JS Plugins should always be included after jquery.js or angular.js if its a jquery plugin or an angular plugin</li>
    	<li>Custom js files functions for a plugin should be included after the plugin include</li>
</section>
{% endblock %}