{% set ROOT = "../" %}
{% set active_page = "sliders" %}
{% extends "docs/_layouts/default.html" %}
{% block page %}
	{% include "docs/_includes/ui_elements/sliders.html" %}
{% endblock %}
{% block js_dep %}
      <script src="{# ROOT #}assets/plugins/ion-slider/js/ion.rangeSlider.min.js" type="text/javascript"></script>
      <script src="{# ROOT #}assets/plugins/jquery-nouislider/jquery.nouislider.min.js" type="text/javascript"></script>
      <script src="{# ROOT #}assets/plugins/jquery-nouislider/jquery.liblink.js" type="text/javascript"></script>
      <script src="{# ROOT #}assets/js/sliders.js" type="text/javascript"></script>
{% endblock %}