        <!-- START card -->
        <div class="card card-white p-t-20">
          <div class="card-header ">
            <div class="card-title">Users List
            </div>
            <div class="pull-right">
              <div class="col-xs-12">
                <input type="text" class="form-control pull-right" placeholder="Search" (keyup)='updateFilter($event)'>
              </div>
            </div>
            <div class="pull-right m-r-10">
                <div class="btn-group">
                    <button type="button" class="btn btn-default" href="javascript:void(0)" (click)="table.rowDetail.collapseAllRows()">
                      Collapse All
                    </button>
                    <button type="button" class="btn btn-default" href="javascript:void(0)" (click)="table.rowDetail.expandAllRows()">
                      Expand All
                    </button>
                  </div>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="card-body">
            <ngx-datatable #table class='table table-hover' [columns]="columns" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
              [rowHeight]="'auto'" [limit]="20" [rows]='basicRows'>
              <ngx-datatable-row-detail [rowHeight]="115" #myDetailRow>
                <ng-template let-row="row" ngx-datatable-row-detail-template>
                  <div class="row full-height padding-20">
                    <div class="col-md-5 b-r b-dashed" style="border-color:lightgray">
                      <div class="row">
                          <div class="col-md-6">
                              <span class="btn-tag btn-sm"><strong>Name:</strong> {{row.name}}</span><br>
                              <span class="btn-tag btn-sm"><strong>Email:</strong> {{row.email}}</span><br>
                          </div>
                          <div class="col-md-6">
                            <span class="btn-tag btn-sm"><strong>Address:</strong> {{row.address}}</span>
                            <span class="btn-tag btn-sm"><strong>Number:</strong> {{row.number}}</span><br>
                          </div>
                      </div>
                    </div>
                    <div class="col-md-7">
                        <!--<span class="btn-tag btn-sm"><strong>Pruchase Date: </strong> {{row.events[eventId].viewed * 1000 | date}}</span><br>-->
                        <div *ngFor="let event of row.events | mapToIterable">
                          <strong>{{event.val.name}}:</strong> {{event.val.purchased*86400 | date}}<br>
                          <span class="btn-tag btn-sm" *ngFor="let purchase of event.val.purchases | mapToIterable">
                            <strong>{{purchase.key}}: </strong> {{purchase.val.price | currency}}
                          </span>
                        </div>
                    </div>
                  </div>
                </ng-template>
              </ngx-datatable-row-detail>
              <ngx-datatable-column [width]="50" [resizeable]="false" [sortable]="false" [draggable]="false" [canAutoResize]="false">
                <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                  <a href="javascript:void(0)" title="Expand/Collapse Row"
                    (click)="toggleExpandRow(row)">
                    <i-chevron-down *ngIf="!expanded"></i-chevron-down>
                    <i-chevron-up *ngIf="expanded"></i-chevron-up>
                  </a>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column *ngFor="let column of columns" name="{{column.name}}" [canAutoResize]="true"></ngx-datatable-column>
              <!--<ngx-datatable-footer>
                  <ng-template 
                    ngx-datatable-footer-template 
                    let-rowCount="rowCount" let-pageSize="pageSize" let-selectedCount="selectedCount"
                let-curPage="curPage" let-offset="offset">
                Showing {{curPage}} to {{pageSize}} of {{rowCount}} entries
                  </ng-template>
                </ngx-datatable-footer>-->
            </ngx-datatable>
          </div>
        </div>
        <!-- END card -->

