

<section id="charts">
    <h3 class="page-title">Charts</h3>
    <hr>
    <p>
        Pages comes bundled with two popular charting libraries: <a href="http://code.shutterstock.com/rickshaw/">Rickshaw</a> and <a href="nvd3.org">NVD3</a>. These libraries render charts in SVG format which makes them highly customizable using CSS and JS.
    </p>
</section>
<section>
    <h4>Rickshaw Charts</h4>
    <p>Rickshaw is a simple framework for drawing charts of time series data on a web page, built on top of Mike Bostock's delightful D3 library. These charts can be powered by static historical data sets, or living data that continuously updates in real time.</p>
    <br>
    <div class="alert alert-info">
        <p>Please refer to <a href="http://code.shutterstock.com/rickshaw/tutorial/introduction.html">Rickshaw Tutorial</a> to learn more about the library</p>
    </div>
    <h5 class="semi-bold">Step one</h5>
    <p>Include the plugin stylesheet rickshaw.min.css.css <code>&lt;head&gt;</code>. Please view <a href="{# ROOT #}partials/css_rules.html">Stylesheet inclusion guideline rules</a></p>
    <pre><code class="xml">&lt;link type=&quot;text/css&quot; rel=&quot;stylesheet&quot; href=&quot;assets/plugins/rickshaw/rickshaw.min.css&quot;&gt;&lt;/link&gt;</code></pre>
    <h5 class="semi-bold">Step two</h5>
    <p>Include the plugin javascript file and D3 library inside the
        <code>&lt;body&gt;</code>before core template script inclusions, if it's not there already. Please view <a href="{# ROOT #}partials/js_rules.html">jQuery plugin inclusion guideline rules</a>
    </p>
    <pre><code class="xml">&lt;script src=&quot;assets/plugins/d3/d3.min.js&quot;&gt;&lt;/script&gt;
&lt;script src=&quot;assets/plugins/rickshaw/rickshaw.min.js&quot;&gt;&lt;/script&gt;
</code></pre>
    <h5 class="semi-bold">Step three</h5>
    <p>Create the markup
    </p>
    <pre><code class="xml">&lt;div id=&quot;chart&quot;&gt;&lt;/div&gt;</code></pre>
    <h5 class="semi-bold">Step four</h5>
    <p>Apply the plugin. This example renders a basic area chart
    </p>
    <pre><code class="xml">&lt;script&gt;

var data = [ { x: 0, y: 40 }, { x: 1, y: 49 }, { x: 2, y: 17 }, { x: 3, y: 42 } ];

var graph = new Rickshaw.Graph( {
        element: document.querySelector(&quot;#chart&quot;),
        width: 580,
        height: 250,
        series: [ {
                color: 'steelblue',
                data: data
        } ]
} );

graph.render();

&lt;/script&gt;</code></pre>
    <br>
    <br>
    
    <h5 class="semi-bold">Step three</h5>
    <p>Add following markup to your page. Note the use of directive <code>rickshaw</code></p>
    <pre><code class="xml">&lt;rickshaw
    rickshaw-options=&quot;options&quot;
    rickshaw-features=&quot;features&quot;
    rickshaw-series=&quot;series&quot;&gt;
&lt;/rickshaw&gt;</code></pre>
</section>
<section>
    <h4>NVD3 Charts</h4>
    <p>NVD3 is an attempt to build re-usable charts and chart components for d3.js without taking away the power that d3.js gives you.</p>
    <h5 class="section-sep">jQuery users</h5>
    <div class="alert alert-info">
        <p>Please refer to <a href="http://nvd3.org/examples/index.html">NVD3 Tutorial</a> to learn about the basics of the library</p>
    </div>
    <h5 class="semi-bold">Step one</h5>
    <p>Include the plugin stylesheet rickshaw.min.css.css <code>&lt;head&gt;</code>. Please view <a href="{# ROOT #}partials/">Stylesheet inclusion guideline rules</a></p>
    <pre><code class="xml">&lt;link media=&quot;screen&quot; type=&quot;text/css&quot; rel=&quot;stylesheet&quot; href=&quot;assets/plugins/nvd3/nv.d3.min.css&quot;&gt;&lt;/link&gt;</code></pre>
    <h5 class="semi-bold">Step two</h5>
    <p>Include the plugin javascript files inside the
        <code>&lt;body&gt;</code>before core template script inclusions, if it's not there already. Please view <a href="{# ROOT #}partials/js_rules.html">jQuery plugin inclusion guideline rules</a>
    </p>
    <pre><code class="xml">&lt;script type=&quot;text/javascript&quot; src=&quot;assets/plugins/nvd3/lib/d3.v3.js&quot;&gt;&lt;/script&gt;
&lt;script type=&quot;text/javascript&quot; src=&quot;assets/plugins/nvd3/nv.d3.min.js&quot;&gt;&lt;/script&gt;
&lt;script type=&quot;text/javascript&quot; src=&quot;assets/plugins/nvd3/src/utils.js&quot;&gt;&lt;/script&gt;
&lt;script type=&quot;text/javascript&quot; src=&quot;assets/plugins/nvd3/src/tooltip.js&quot;&gt;&lt;/script&gt;
&lt;script type=&quot;text/javascript&quot; src=&quot;assets/plugins/nvd3/src/interactiveLayer.js&quot;&gt;&lt;/script&gt;
&lt;script type=&quot;text/javascript&quot; src=&quot;assets/plugins/nvd3/src/models/axis.js&quot;&gt;&lt;/script&gt;
&lt;script type=&quot;text/javascript&quot; src=&quot;assets/plugins/nvd3/src/models/line.js&quot;&gt;&lt;/script&gt;
&lt;script type=&quot;text/javascript&quot; src=&quot;assets/plugins/nvd3/src/models/lineWithFocusChart.js&quot;&gt;&lt;/script&gt;</code></pre>
    <h5 class="semi-bold">Step three</h5>
    <p>Create the markup. Apply the class <code>line-chart</code> to get the Pages pre-defined style for NVD3 charts. Use data-attributes to customize the style
    </p>
    <pre><code class="xml">&lt;div id=&quot;nvd3&quot; class=&quot;line-chart&quot; 
  data-line-color=&quot;success&quot; 
  data-area-color=&quot;master&quot;
  data-points=&quot;true&quot; 
  data-point-color=&quot;white&quot; 
  data-stroke-width=&quot;2&quot;&gt;
    &lt;svg&gt;&lt;/svg&gt;
&lt;/div&gt;</code></pre>
    <p>Available data attributes:</p>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th style="">Data Attribute</th>
                <th style="">Available values</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><code>data-line-color</code></td>
                <td>white | master | success | info | complete | primary | warning | danger</td>
                <td>Change the line color of a line chart</td>
            </tr>
            <tr>
                <td><code>data-area-color</code></td>
                <td>white | master | success | info | complete | primary | warning | danger</td>
                <td>Change the area color of a line chart with area option</td>
            </tr>
            <tr>
                <td><code>data-points</code></td>
                <td>true | false</td>
                <td>Show/hide point circles</td>
            </tr>
            <tr>
                <td><code>data-point-color</code></td>
                <td>white | master | success | info | complete | primary | warning | danger</td>
                <td>Change the point color</td>
            </tr>
            <tr>
                <td><code>data-stroke-width</code></td>
                <td>1 | 2 | 3</td>
                <td>Change the stroke width of a line chart. Values are in pixels</td>
            </tr>
        </tbody>
    </table>
    <br>
    <br>
</section>
<section>
    <h4>Sparkline Charts</h4>
    <p>This jQuery plugin generates sparklines (small inline charts) directly in the browser using data supplied either inline in the HTML, or via javascript.
    </p>
    <br>
    <div class="alert alert-info">
        <p>Please refer to <a href="http://omnipotent.net/jquery.sparkline/#s-about">Sparkline Documentation</a> to learn more about the library</p>
    </div>
    <h5 class="semi-bold">Step one</h5>
    <p>Include the plugin javascript files inside the
        <code>&lt;body&gt;</code>before core template script inclusions, if it's not there already. Please view <a href="{# ROOT #}partials/js_rules.html">jQuery plugin inclusion guideline rules</a>
    </p>
    <pre><code class="xml">&lt;script type=&quot;text/javascript&quot; src=&quot;assets/plugins/jquery-sparkline/jquery.sparkline.min.js&quot;&gt;&lt;/script&gt;</code></pre>
    <h5 class="semi-bold">Step two</h5>
    <p>Create the markup.
    </p>
    <pre><code class="xml">&lt;div id=&quot;sparkline&quot;&gt;&lt;/div&gt;</code></pre>
    <h5 class="semi-bold">Step three</h5>
    <p>Apply the plugin. This example renders a basic line chart
    </p>
    <pre><code class="xml">&lt;script&gt;

$(&quot;#sparkline&quot;).sparkline([5,6,7,9,9,5,3,2,2,4,6,7], {type: 'line'});

&lt;/script&gt;</code></pre>
    <br>
    <br>
</section>