


<section id="form_validation">
    <h3 class="page-title">Form Validation</h3>
<hr>
    <h4>jQuery Users</h4>
    <p>Pages is packaged with <a href="http://jqueryvalidation.org/">jQuery Validation Plugin</a> which is currently the de-facto plugin for form validation.
    </p>
    <div class="alert alert-info">
        <p>Please refer to <a href="http://jqueryvalidation.org/">jQuery Validation Plugin Documentation</a> to learn about plugin options</p>
    </div>
    <h5 class="semi-bold">Step one</h5>
    <p>Include the relevant javascript files inside the
        <code>&lt;body&gt;</code>before core template script inclusions, if it's not there already. Please view <a href="{# ROOT #}partials/js_rules.html">jQuery plugin inclusion guideline rules</a>
    </p>
    <pre><code class="xml">&lt;script type=&quot;text/javascript&quot; src=&quot;assets/plugins/jquery-validation/js/jquery.validate.min.js&quot;&gt;</code></pre>
    <h5 class="semi-bold m-t-20">Step two</h5>
    <p>Create the markup.</p>
    <pre><code class="xml">&lt;form id=&quot;myForm&quot; role=&quot;form&quot;&gt;
    &lt;div class=&quot;row&quot;&gt;
        &lt;div class=&quot;col-sm-6&quot;&gt;
            &lt;div class=&quot;form-group form-group-default required&quot;&gt;
                &lt;label&gt;First name&lt;/label&gt;
                &lt;input type=&quot;text&quot; class=&quot;form-control&quot; name=&quot;firstName&quot; minlength=&quot;2&quot; required&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class=&quot;col-sm-6&quot;&gt;
            &lt;div class=&quot;form-group form-group-default&quot;&gt;
                &lt;label&gt;Last name&lt;/label&gt;
                &lt;input type=&quot;text&quot; class=&quot;form-control&quot; name=&quot;lastName&quot; minlength=&quot;2&quot; required&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;button class=&quot;btn btn-primary&quot; type=&quot;submit&quot;&gt;Register&lt;/button&gt;
&lt;/form&gt;
</code></pre>
    <h5 class="semi-bold m-t-20">Step three</h5>
    <p>Apply the plugin.</p>
    <pre><code class="xml">&lt;script&gt;
$(document).ready(function() {
    $('#myForm').validate();
});
&lt;/script&gt;</code></pre>
    <h5>Error messages</h5>
    <p><code>showErrors</code> and <code>errorPlacement</code> functions of jQuery Validate have been overridden in Pages core. As a result, the way error messages are displayed will differ depending on the <a href="form_elements.html">form layout style</a> you've declared in the code</p>
    <h5 class="semi-bold">Standard</h5>
    <p>Standard way of showing error messages. Will appear on any form except for forms with <a href="{# ROOT #}partials/form_elements.html">attached groups</a></p>
    <img src="{# ROOT #}assets/img/error-message-standard.png" style="width:50%">
    <h5 class="semi-bold">Attached</h5>
    <p>Recommended to use with Pages <a href="{# ROOT #}partials/form_elements.html">default form style</a> having attached elements with <code>.form-group-attached</code> wrapper. The error messages will appear in the form of popovers.</p>
    <img src="{# ROOT #}assets/img/error-message-popover.png" style="width:50%">
</section>