<section id="form_wizard">
    <h3 class="page-title">Form Wizard</h3>
    <hr>
    <h4>jQuery Users</h4>
    <p>Pages uses Bootstrap Wizard plugin to build a wizard out of a formatter tabbable structure. It allows to build a wizard functionality using buttons to go through the different wizard steps and using events allows to hook into each step individually.
    </p>
    <div class="alert alert-info">
        <p>Please refer to <a href="http://vadimg.com/twitter-bootstrap-wizard-example/">Twitter Bootstrap Wizard Documentation</a> to learn about plugin options</p>
    </div>
    <h5 class="semi-bold">Step one</h5>
    <p>Include the plugin javascript file inside the
        <code>&lt;body&gt;</code>before core template script inclusions, if it's not there already. Please view <a href="{# ROOT #}partials/js_rules.html">jQuery plugin inclusion guideline rules</a>
    </p>
    <pre><code class="xml">&lt;script type=&quot;text/javascript&quot; src=&quot;assets/plugins/boostrap-form-wizard/js/jquery.bootstrap.wizard.min.js&quot;&gt;&lt;/script&gt;</code></pre>
    <h5 class="semi-bold">Step two</h5>
    <p>Add the markup. It is recommended that you use <code>.nav-tabs-linetriangle</code> and <code>.nav-tabs-separator</code> with <code>.nav-tabs</code>. To make the tabs slide in, add <code>.slide</code> to each <code>.tab-pane</code></p>
    <pre><code class="xml">&lt;div id=&quot;myFormWizard&quot;&gt;
    &lt;!-- Nav tabs --&gt;
    &lt;ul class=&quot;nav nav-tabs nav-tabs-linetriangle nav-tabs-separator&quot;&gt;
        &lt;li class=&quot;active&quot;&gt;
            &lt;a data-toggle=&quot;tab&quot; href=&quot;#tab1&quot;&gt;&lt;i class=&quot;fa fa-shopping-cart tab-icon&quot;&gt;&lt;/i&gt; &lt;span&gt;Your cart&lt;/span&gt;&lt;/a&gt;
        &lt;/li&gt;
        &lt;li class=&quot;&quot;&gt;
            &lt;a data-toggle=&quot;tab&quot; href=&quot;#tab2&quot;&gt;&lt;i class=&quot;fa fa-truck tab-icon&quot;&gt;&lt;/i&gt; &lt;span&gt;Shipping information&lt;/span&gt;&lt;/a&gt;
        &lt;/li&gt;
        &lt;li class=&quot;&quot;&gt;
            &lt;a data-toggle=&quot;tab&quot; href=&quot;#tab3&quot;&gt;&lt;i class=&quot;fa fa-credit-card tab-icon&quot;&gt;&lt;/i&gt; &lt;span&gt;Payment details&lt;/span&gt;&lt;/a&gt;
        &lt;/li&gt;
        &lt;li class=&quot;&quot;&gt;
            &lt;a data-toggle=&quot;tab&quot; href=&quot;#tab4&quot;&gt;&lt;i class=&quot;fa fa-check tab-icon&quot;&gt;&lt;/i&gt; &lt;span&gt;Summary&lt;/span&gt;&lt;/a&gt;
        &lt;/li&gt;
    &lt;/ul&gt;
    &lt;!-- Tab panes --&gt;
    &lt;div class=&quot;tab-content&quot;&gt;
        &lt;div class=&quot;tab-pane active slide&quot; id=&quot;tab1&quot;&gt;
            ...
        &lt;/div&gt;
        &lt;div class=&quot;tab-pane slide&quot; id=&quot;tab2&quot;&gt;
            ...
        &lt;/div&gt;
        &lt;div class=&quot;tab-pane slide&quot; id=&quot;tab3&quot;&gt;
            ...
        &lt;/div&gt;
        &lt;div class=&quot;tab-pane slide&quot; id=&quot;tab4&quot;&gt;
            ...
        &lt;/div&gt;

        &lt;ul class=&quot;pager wizard&quot;&gt;
            &lt;li class=&quot;next&quot;&gt;
                &lt;button class=&quot;btn btn-primary btn-cons btn-animated from-left fa fa-truck pull-right&quot; type=&quot;button&quot;&gt;
                    &lt;span&gt;Next&lt;/span&gt;
                &lt;/button&gt;
            &lt;/li&gt;
            &lt;li class=&quot;next finish&quot; style=&quot;display:none;&quot;&gt;
                &lt;button class=&quot;btn btn-primary btn-cons btn-animated from-left fa fa-cog pull-right&quot; type=&quot;button&quot;&gt;
                    &lt;span&gt;Finish&lt;/span&gt;
                &lt;/button&gt;
            &lt;/li&gt;
            &lt;li class=&quot;previous first&quot; style=&quot;display:none;&quot;&gt;
                &lt;button class=&quot;btn btn-white btn-cons btn-animated from-left fa fa-cog pull-right&quot; type=&quot;button&quot;&gt;
                    &lt;span&gt;First&lt;/span&gt;
                &lt;/button&gt;
            &lt;/li&gt;
            &lt;li class=&quot;previous&quot;&gt;
                &lt;button class=&quot;btn btn-white btn-cons pull-right&quot; type=&quot;button&quot;&gt;
                    &lt;span&gt;Previous&lt;/span&gt;
                &lt;/button&gt;
            &lt;/li&gt;
        &lt;/ul&gt;

        &lt;div class=&quot;wizard-footer padding-20 bg-master-light&quot;&gt;
            Copyright &amp;copy; 2014 - Revox
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
</code></pre>
    <h5 class="semi-bold">Step three</h5>
    <p>Apply the plugin.</p>
    <pre><code class="xml">&lt;script&gt;
$(document).ready(function() {
    $('#myFormWizard').bootstrapWizard({
        onTabShow: function(tab, navigation, index) {
            var $total = navigation.find('li').length;
            var $current = index + 1;

            // If it's the last tab then hide the last button and show the finish instead
            if ($current &gt;= $total) {
                $('#myFormWizard').find('.pager .next').hide();
                $('#myFormWizard').find('.pager .finish').show();
                $('#myFormWizard').find('.pager .finish').removeClass('disabled');
            } else {
                $('#myFormWizard').find('.pager .next').show();
                $('#myFormWizard').find('.pager .finish').hide();
            }

            var li = navigation.find('li.active');

            var btnNext = $('#myFormWizard').find('.pager .next').find('button');
            var btnPrev = $('#myFormWizard').find('.pager .previous').find('button');

            // remove fontAwesome icon classes
            function removeIcons(btn) {
                btn.removeClass(function(index, css) {
                    return (css.match(/(^|\s)fa-\S+/g) || []).join(' ');
                });
            }

            if ($current &gt; 1 &amp;&amp; $current &lt; $total) {

                var nextIcon = li.next().find('.fa');
                var nextIconClass = nextIcon.attr('class').match(/fa-[\w-]*/).join();

                removeIcons(btnNext);
                btnNext.addClass(nextIconClass + ' btn-animated from-left fa');

                var prevIcon = li.prev().find('.fa');
                var prevIconClass = prevIcon.attr('class').match(/fa-[\w-]*/).join();

                removeIcons(btnPrev);
                btnPrev.addClass(prevIconClass + ' btn-animated from-left fa');
            } else if ($current == 1) {
                // remove classes needed for button animations from previous button
                btnPrev.removeClass('btn-animated from-left fa');
                removeIcons(btnPrev);
            } else {
                // remove classes needed for button animations from next button
                btnNext.removeClass('btn-animated from-left fa');
                removeIcons(btnNext);
            }
        }
    });
});
&lt;/script&gt;</code></pre>
</section>