
<section id="form_elements">
    <h3 class="page-title">Form Elements</h3>
<hr>
    <h4>Checkbox controls</h4>
    <p>
        Get rid of native look n' feel with our very own custom checkboxes written purely in CSS. These are retina compatible and available in all Bootstrap's contextual classes (ex: <code>.check-primary</code>)
    </p>
    <div class="example m-t-15">
        <p class="all-caps fs-12 bold">
            example :
        </p>
        <div class="checkbox check-default">
            <input type="checkbox" checked="checked" value="1" id="checkbox1">
            <label for="checkbox1">Keep Me Signed in</label>
        </div>
        <div class="checkbox check-success  ">
            <input type="checkbox" checked="checked" value="1" id="checkbox2">
            <label for="checkbox2">I agree</label>
        </div>
        <div class="checkbox check-primary">
            <input type="checkbox" checked="checked" value="1" id="checkbox3">
            <label for="checkbox3">Mark</label>
        </div>
        <div class="checkbox check-info">
            <input type="checkbox" checked="checked" value="1" id="checkbox4">
            <label for="checkbox4">Steve Jobs</label>
        </div>
        <div class="checkbox check-warning">
            <input type="checkbox" checked="checked" value="1" id="checkbox5">
            <label for="checkbox5">Action</label>
        </div>
        <div class="checkbox check-danger">
            <input type="checkbox" checked="checked" value="1" id="checkbox6">
            <label for="checkbox6">Mark as read</label>
        </div>
    </div>
    <pre><code class="xml">&lt;div class=&quot;checkbox check-default&quot;&gt;
    &lt;input type=&quot;checkbox&quot; checked=&quot;checked&quot; value=&quot;1&quot; id=&quot;checkbox1&quot;&gt;
    &lt;label for=&quot;checkbox1&quot;&gt;Keep Me Signed in&lt;/label&gt;
&lt;/div&gt;

&lt;div class=&quot;checkbox check-success  &quot;&gt;
    &lt;input type=&quot;checkbox&quot; checked=&quot;checked&quot; value=&quot;1&quot; id=&quot;checkbox2&quot;&gt;
    &lt;label for=&quot;checkbox2&quot;&gt;I agree&lt;/label&gt;
&lt;/div&gt;

&lt;div class=&quot;checkbox check-primary&quot;&gt;
    &lt;input type=&quot;checkbox&quot; checked=&quot;checked&quot; value=&quot;1&quot; id=&quot;checkbox3&quot;&gt;
    &lt;label for=&quot;checkbox3&quot;&gt;Mark&lt;/label&gt;
&lt;/div&gt;

&lt;div class=&quot;checkbox check-info&quot;&gt;
    &lt;input type=&quot;checkbox&quot; checked=&quot;checked&quot; value=&quot;1&quot; id=&quot;checkbox4&quot;&gt;
    &lt;label for=&quot;checkbox4&quot;&gt;Steve Jobs&lt;/label&gt;
&lt;/div&gt;

&lt;div class=&quot;checkbox check-warning&quot;&gt;
    &lt;input type=&quot;checkbox&quot; checked=&quot;checked&quot; value=&quot;1&quot; id=&quot;checkbox5&quot;&gt;
    &lt;label for=&quot;checkbox5&quot;&gt;Action&lt;/label&gt;
&lt;/div&gt;

&lt;div class=&quot;checkbox check-danger&quot;&gt;
    &lt;input type=&quot;checkbox&quot; checked=&quot;checked&quot; value=&quot;1&quot; id=&quot;checkbox6&quot;&gt;
    &lt;label for=&quot;checkbox6&quot;&gt;Mark as read&lt;/label&gt;
&lt;/div&gt;</code></pre>
    <h5 class="m-t-30">Shape options</h5>
    <p>Bored with traditional boxed shape check boxes? Here is a circle one simply add the class <code>.checkbox-circle</code> to change it</p>
    <div class="example m-t-15">
        <p class="all-caps fs-12 bold">
            example :
        </p>
        <div class="checkbox check-default checkbox-circle">
            <input type="checkbox" checked="checked" value="1" id="checkbox7">
            <label for="checkbox7">Keep Me Signed in</label>
        </div>
        <div class="checkbox check-success checkbox-circle">
            <input type="checkbox" checked="checked" value="1" id="checkbox8">
            <label for="checkbox8">I agree</label>
        </div>
        <div class="checkbox check-primary checkbox-circle">
            <input type="checkbox" checked="checked" value="1" id="checkbox9">
            <label for="checkbox9">Mark</label>
        </div>
    </div>
    <pre><code class="xml">&lt;div class=&quot;checkbox check-default checkbox-circle&quot;&gt;
    &lt;input type=&quot;checkbox&quot; checked=&quot;checked&quot; value=&quot;1&quot; id=&quot;checkbox7&quot;&gt;
    &lt;label for=&quot;checkbox7&quot;&gt;Keep Me Signed in&lt;/label&gt;
&lt;/div&gt;

&lt;div class=&quot;checkbox check-success checkbox-circle&quot;&gt;
    &lt;input type=&quot;checkbox&quot; checked=&quot;checked&quot; value=&quot;1&quot; id=&quot;checkbox8&quot;&gt;
    &lt;label for=&quot;checkbox8&quot;&gt;I agree&lt;/label&gt;
&lt;/div&gt;

&lt;div class=&quot;checkbox check-primary checkbox-circle&quot;&gt;
    &lt;input type=&quot;checkbox&quot; checked=&quot;checked&quot; value=&quot;1&quot; id=&quot;checkbox9&quot;&gt;
    &lt;label for=&quot;checkbox9&quot;&gt;Mark&lt;/label&gt;
&lt;/div&gt;</code></pre>
    <h5 class="m-t-30">State options</h5>
    <p>These act the same way as normal HTML check boxes. Here are some states that</p>
    <div class="example m-t-15">
        <p class="all-caps fs-12 bold">
            example :
        </p>
        <div class="checkbox check-success">
            <input type="checkbox" disabled="disabled" value="check1" name="check" id="check1">
            <label for="check1">Checkbox No. 1</label>
        </div>
        <div class="checkbox check-success">
            <input type="checkbox" disabled="disabled" checked="checked" value="check2" name="check" id="check2">
            <label for="check2">Checkbox No. 2</label>
        </div>
    </div>
    <pre><code class="xml">&lt;div class=&quot;checkbox check-success&quot;&gt;
    &lt;input type=&quot;checkbox&quot; disabled=&quot;disabled&quot; value=&quot;check1&quot; name=&quot;check&quot; id=&quot;check1&quot;&gt;
    &lt;label for=&quot;check1&quot;&gt;Checkbox No. 1&lt;/label&gt;
&lt;/div&gt;
&lt;div class=&quot;checkbox check-success&quot;&gt;
    &lt;input type=&quot;checkbox&quot; disabled=&quot;disabled&quot; checked=&quot;checked&quot; value=&quot;check2&quot; name=&quot;check&quot; id=&quot;check2&quot;&gt;
    &lt;label for=&quot;check2&quot;&gt;Checkbox No. 2&lt;/label&gt;
&lt;/div&gt;</code></pre>
</section>
<section>
    <h4>Toggle controls</h4>
    <p></p>
    <div class="alert alert-warning">
        <p>Do not delete the <code>label</code> element which is placed next to each <code>radio</code>. Leave it blank if you don't want it to hold any text
        </p>
    </div>
    <div class="example m-t-15">
        <p class="all-caps fs-12 bold">
            example :
        </p>
        <div class="radio radio-default">
            <input type="radio" checked="checked" value="yes" name="radio1" id="radio1Yes">
            <label for="radio1Yes">Agree</label>
            <input type="radio" value="no" name="radio1" id="radio1No">
            <label for="radio1No">Disagree</label>
        </div>
        <div class="radio radio-success">
            <input type="radio" checked="checked" value="yes" name="radio2" id="radio2Yes">
            <label for="radio2Yes">Male</label>
            <input type="radio" value="no" name="radio2" id="radio2No">
            <label for="radio2No">Female</label>
        </div>
        <div class="radio radio-primary">
            <input type="radio" checked="checked" value="yes" name="radio3" id="radio3Yes">
            <label for="radio3Yes">High</label>
            <input type="radio" value="no" name="radio3" id="radio3No">
            <label for="radio3No">Low</label>
        </div>
        <div class="radio radio-info">
            <input type="radio" checked="checked" value="yes" name="radio4" id="radio4Yes">
            <label for="radio4Yes">HTML</label>
            <input type="radio" value="no" name="radio4" id="radio4No">
            <label for="radio4No">JS</label>
        </div>
        <div class="radio radio-warning">
            <input type="radio" checked="checked" value="yes" name="radio5" id="radio5Yes">
            <label for="radio5Yes">Chrome</label>
            <input type="radio" value="no" name="radio5" id="radio5No">
            <label for="radio5No">Firefox</label>
        </div>
        <div class="radio radio-danger">
            <input type="radio" checked="checked" value="yes" name="radio6" id="radio6Yes">
            <label for="radio6Yes">iOS</label>
            <input type="radio" value="no" name="radio6" id="radio6No">
            <label for="radio6No">Android</label>
        </div>
    </div>
    <pre><code class="xml">&lt;div class=&quot;radio radio-default&quot;&gt;
    &lt;input type=&quot;radio&quot; checked=&quot;checked&quot; value=&quot;yes&quot; name=&quot;radio1&quot; id=&quot;radio1Yes&quot;&gt;
    &lt;label for=&quot;radio1Yes&quot;&gt;Agree&lt;/label&gt;
    &lt;input type=&quot;radio&quot; value=&quot;no&quot; name=&quot;radio1&quot; id=&quot;radio1No&quot;&gt;
    &lt;label for=&quot;radio1No&quot;&gt;Disagree&lt;/label&gt;
&lt;/div&gt;

&lt;div class=&quot;radio radio-success&quot;&gt;
    &lt;input type=&quot;radio&quot; checked=&quot;checked&quot; value=&quot;yes&quot; name=&quot;radio2&quot; id=&quot;radio2Yes&quot;&gt;
    &lt;label for=&quot;radio2Yes&quot;&gt;Male&lt;/label&gt;
    &lt;input type=&quot;radio&quot; value=&quot;no&quot; name=&quot;radio2&quot; id=&quot;radio2No&quot;&gt;
    &lt;label for=&quot;radio2No&quot;&gt;Female&lt;/label&gt;
&lt;/div&gt;

&lt;div class=&quot;radio radio-primary&quot;&gt;
    &lt;input type=&quot;radio&quot; checked=&quot;checked&quot; value=&quot;yes&quot; name=&quot;radio3&quot; id=&quot;radio3Yes&quot;&gt;
    &lt;label for=&quot;radio3Yes&quot;&gt;High&lt;/label&gt;
    &lt;input type=&quot;radio&quot; value=&quot;no&quot; name=&quot;radio3&quot; id=&quot;radio3No&quot;&gt;
    &lt;label for=&quot;radio3No&quot;&gt;Low&lt;/label&gt;
&lt;/div&gt;

&lt;div class=&quot;radio radio-info&quot;&gt;
    &lt;input type=&quot;radio&quot; checked=&quot;checked&quot; value=&quot;yes&quot; name=&quot;radio4&quot; id=&quot;radio4Yes&quot;&gt;
    &lt;label for=&quot;radio4Yes&quot;&gt;HTML&lt;/label&gt;
    &lt;input type=&quot;radio&quot; value=&quot;no&quot; name=&quot;radio4&quot; id=&quot;radio4No&quot;&gt;
    &lt;label for=&quot;radio4No&quot;&gt;JS&lt;/label&gt;
&lt;/div&gt;

&lt;div class=&quot;radio radio-warning&quot;&gt;
    &lt;input type=&quot;radio&quot; checked=&quot;checked&quot; value=&quot;yes&quot; name=&quot;radio5&quot; id=&quot;radio5Yes&quot;&gt;
    &lt;label for=&quot;radio5Yes&quot;&gt;Chrome&lt;/label&gt;
    &lt;input type=&quot;radio&quot; value=&quot;no&quot; name=&quot;radio5&quot; id=&quot;radio5No&quot;&gt;
    &lt;label for=&quot;radio5No&quot;&gt;Firefox&lt;/label&gt;
&lt;/div&gt;

&lt;div class=&quot;radio radio-danger&quot;&gt;
    &lt;input type=&quot;radio&quot; checked=&quot;checked&quot; value=&quot;yes&quot; name=&quot;radio6&quot; id=&quot;radio6Yes&quot;&gt;
    &lt;label for=&quot;radio6Yes&quot;&gt;iOS&lt;/label&gt;
    &lt;input type=&quot;radio&quot; value=&quot;no&quot; name=&quot;radio6&quot; id=&quot;radio6No&quot;&gt;
    &lt;label for=&quot;radio6No&quot;&gt;Android&lt;/label&gt;
&lt;/div&gt;</code></pre>
    <h5 class="m-t-20">State options</h5>
    <p>Use of different color opacity helps to destigues between different states such as disable</p>
    <div class="example m-t-15">
        <p class="all-caps fs-12 bold">
            example :
        </p>
        <div class="radio radio-primary">
            <input type="radio" disabled="disabled" value="Disabled" name="Disabled" id="Disabled">
            <label for="Disabled">Disabled</label>
            <input type="radio" disabled="disabled" checked="checked" value="ADisabled" name="ADisabled" id="ADisabled">
            <label for="ADisabled">Disabled</label>
        </div>
    </div>
    <pre><code class="xml">&lt;div class=&quot;radio radio-primary&quot;&gt;
    &lt;input type=&quot;radio&quot; disabled=&quot;disabled&quot; value=&quot;Disabled&quot; name=&quot;Disabled&quot; id=&quot;Disabled&quot;&gt;
    &lt;label for=&quot;Disabled&quot;&gt;Disabled&lt;/label&gt;
    &lt;input type=&quot;radio&quot; disabled=&quot;disabled&quot; checked=&quot;checked&quot; value=&quot;ADisabled&quot; name=&quot;ADisabled&quot; id=&quot;ADisabled&quot;&gt;
    &lt;label for=&quot;ADisabled&quot;&gt;Disabled&lt;/label&gt;
&lt;/div&gt;</code></pre>
    <h4 class="m-t-30">Slide toggles</h4>
    <h4 class="section-sep semi-bold">jQuery users</h4>
    <p>These are powered by <a href="http://abpetkov.github.io/switchery/">Switchery</a> jQuery plugin. Follow these steps to initialize a sliding toggle in your page</p>
    <div class="alert alert-info">
        <p>Please refer to <a href="http://abpetkov.github.io/switchery/" target="_blank">Switchery Documentation</a> to learn about plugin options</p>
    </div>
    <h5 class="semi-bold">Step one</h5>
    <p>Include the stylesheet <code>switchery.min.css</code> inside the <code>&lt;head&gt;</code>. Please view <a href="{# ROOT #}partials/">Stylesheet inclusion guideline rules</a></p>
    <pre><code class="xml">&lt;link media=&quot;screen&quot; type=&quot;text/css&quot; rel=&quot;stylesheet&quot; href=&quot;assets/plugins/switchery/css/switchery.min.css&quot;&gt;</code></pre>
    <h5 class="semi-bold m-t-20">Step two</h5>
    <p>Include the required javascript files inside the <code>&lt;body&gt;</code> before core template script inclusions. Please view <a href="{# ROOT #}partials/js_rules.html">jQuery plugin inclusion guideline rules</a></p>
    <pre><code class="xml">&lt;script type=&quot;text/javascript&quot; src=&quot;assets/plugins/switchery/js/switchery.min.js&quot;&gt;&lt;/script&gt;</code></pre>
    <h5 class="semi-bold m-t-20">Step three</h5>
    <p>
        Create an ordinary checkbox control with a unique classname
    </p>
    <pre><code class="xml">&lt;input type=&quot;checkbox&quot; class=&quot;switchery&quot; checked /&gt;
&lt;input type=&quot;checkbox&quot; class=&quot;switchery&quot; /&gt;
</code></pre>
    <h5 class="semi-bold">Step four</h5>
    <p>
        Apply the plugin to your desired element
    </p>
    <div class="alert alert-info">
        <p>When initializing the plugin, it is recommended that you only use the hex codes of <a href="{# ROOT #}partials/color.html">Pages contextual colors</a> to maintain consistency.</p>
    </div>
    <div class="alert alert-warning">
        <p>Make sure you place the following script <strong>below</strong> all the pre-requisites mentioned in the Step two above.</p>
    </div>
    <div class="example m-t-15">
        <p class="all-caps fs-12 bold">
            example :
        </p>
        <input type="checkbox" class="switchery" checked />
        <input type="checkbox" class="switchery" />
    </div>
    <pre><code class="xml">&lt;script&gt;
var elems = Array.prototype.slice.call(document.querySelectorAll('.switchery'));
// Success color: #10CFBD
elems.forEach(function(html) {
  var switchery = new Switchery(html, {color: '#10CFBD'});
});
&lt;/script&gt;
</code></pre>
    <br>
    <h5 class="semi-bold m-t-25">Step two</h5>
    <p>Add the following markup</p>
    <pre><code class="xml">&lt;input type=&quot;checkbox&quot; class=&quot;js-switch&quot; ng-model=&quot;Model&quot; ui-switch=&quot;{color: '#10cfbd'}&quot; checked=&quot;checked&quot; /&gt;</code></pre>
</section>
<section>
    <h4>Typhead</h4>
    <p>These are also know as auto-fill input boxes that fills up while you type. This is powered by Bootstrap 
        typhead, you can view there official documentation <a href="https://twitter.github.io/typeahead.js/examples/">here</a>
    </p>
    <h5 class="semi-bold">jQuery users</h5>
    <h5 class="semi-bold m-t-20">Step One</h5>
    <p>Include the required javascript files inside the <code>&lt;body&gt;</code> before core template script inclusions, if they are not there already. Please view <a href="{# ROOT #}partials/js_rules.html">jQuery plugin inclusion guideline rules</a></p>
    <pre><code class="xml">&lt;script src=&quot;assets/plugins/bootstrap-typehead/typeahead.bundle.min.js&quot;&gt;&lt;/script&gt;
&lt;script src=&quot;assets/plugins/bootstrap-typehead/typeahead.jquery.min.js&quot;&gt;&lt;/script&gt;</pre></code>
    <h5 class="semi-bold m-t-20">Step Two</h5>
    <p>Create a simple textbox field and give it an ID so you can initialize in your JS file</a></p>
    <pre><code class="xml">&lt;div class=&quot;form-group&quot;&gt;
&lt;input class=&quot;typeahead form-control&quot; id=&quot;mytyphead&quot; type=&quot;text&quot; placeholder=&quot;States of USA&quot;&gt;
&lt;/div&gt;

&lt;form class=&quot;&quot; role=&quot;form&quot;&gt;
&lt;div class=&quot;form-group form-group-default required typehead&quot; id=&quot;sample-three&quot;&gt;
&lt;label&gt;Countries&lt;/label&gt;
&lt;input class=&quot;typeahead form-control&quot; id=&quot;mytyphead&quot; type=&quot;text&quot; placeholder=&quot;States of USA&quot;&gt;
&lt;/div&gt;
&lt;/form&gt;
</pre></code>
    <h5 class="semi-bold m-t-20">Step Three</h5>
    <p>Initialize your typehead with the ID you use</a></p>
    <pre><code class="javascript">        var countries = new Bloodhound({
          datumTokenizer: Bloodhound.tokenizers.whitespace,
          queryTokenizer: Bloodhound.tokenizers.whitespace,
          prefetch: 'http://pages.revox.io/json/countries-list.json'
        });

        // passing in `null` for the `options` arguments will result in the default
        // options being used
        $('#mytyphead').typeahead(null, {
          name: 'countries',
          source: countries
        });
</pre></code>
</section>
<section>
    <h4>Selects</h4>
    <h5>Default select</h5>
    
    <p>Default select depends on <a href="https://github.com/desandro/classie">classie.js</a>. Make sure it's included inside the <code>&lt;body&gt;</code> before core template script inclusions. Please view <a href="{# ROOT #}partials/js_rules.html">jQuery plugin inclusion guideline rules</a></p>
    <pre><code class="xml">&lt;script src=&quot;assets/plugins/classie/classie.js&quot; type=&quot;text/javascript&quot;&gt;&lt;/script&gt;</code></pre>
    <p>Add <code>.cs-select</code> and <code>.cs-skin-slide</code> to any <code>&lt;select&gt;</code> control to add a cool animation effect</p>
    <div class="example m-t-15">
        <p class="all-caps fs-12 bold">
            example :
        </p>
        <select class="cs-select cs-skin-slide" data-init-plugin="cs-select">
            <option value="Web-safe">Web-safe</option>
            <option value="Helvetica">Helvetica</option>
            <option value="SegeoUI">SegeoUI</option>
        </select>
    </div>
    <pre><code class="xml">&lt;select class=&quot;cs-select cs-skin-slide&quot; data-init-plugin=&quot;cs-select&quot;&gt;
    &lt;option value=&quot;Web-safe&quot;&gt;Web-safe&lt;/option&gt;
    &lt;option value=&quot;Helvetica&quot;&gt;Helvetica&lt;/option&gt;
    &lt;option value=&quot;SegeoUI&quot;&gt;SegeoUI&lt;/option&gt;
&lt;/select&gt;</code></pre>
    <h5 class="m-t-30">Advance Select</h5>
    <h5 class="semi-bold">jQuery users</h5>
    <p>Pages uses <a href="http://ivaynberg.github.io/select2/">Select2</a> jQuery plugin for advance selects with search facility. Follow these steps to initialize the plugin
    </p>
    <h5 class="semi-bold">Step one</h5>
    <p>Include the stylesheet <code>select2.css</code> inside the <code>&lt;head&gt;</code> if it's not there already. Please view <a href="{# ROOT #}partials/">Stylesheet inclusion guideline rules</a></p>
    <pre><code class="xml">&lt;link media=&quot;screen&quot; type=&quot;text/css&quot; rel=&quot;stylesheet&quot; href=&quot;assets/plugins/bootstrap-select2/select2.css&quot;&gt;</code></pre>
    <h5 class="semi-bold m-t-20">Step two</h5>
    <p>Include the required javascript files inside the <code>&lt;body&gt;</code> before core template script inclusions, if they are not there already. Please view <a href="{# ROOT #}partials/js_rules.html">jQuery plugin inclusion guideline rules</a></p>
    <pre><code class="xml">&lt;script src=&quot;assets/plugins/bootstrap-select2/select2.min.js&quot; type=&quot;text/javascript&quot;&gt;&lt;/script&gt;</code></pre>
    <h5 class="semi-bold m-t-20">Step three</h5>
    <p>Append data attribute <code>data-init-plugin=&quot;select2&quot;</code> to initialize any <code>&lt;select&gt;</code> automatically with basic options. Avoid auto-initializing when you want to have advance options</p>
    <pre><code class="xml">&lt;form role=&quot;form&quot;&gt;
    &lt;div class=&quot;form-group&quot;&gt;
        &lt;!-- Using data-init-plugin='select2' automatically initializes a basic Select2 --&gt;
        &lt;select class=&quot;full-width&quot; data-init-plugin=&quot;select2&quot;&gt;
            &lt;optgroup label=&quot;Alaskan/Hawaiian Time Zone&quot;&gt;
                &lt;option value=&quot;AK&quot;&gt;Alaska&lt;/option&gt;
                &lt;option value=&quot;HI&quot;&gt;Hawaii&lt;/option&gt;
            &lt;/optgroup&gt;
            &lt;optgroup label=&quot;Pacific Time Zone&quot;&gt;
                &lt;option value=&quot;CA&quot;&gt;California&lt;/option&gt;
                &lt;option value=&quot;NV&quot;&gt;Nevada&lt;/option&gt;
                &lt;option value=&quot;OR&quot;&gt;Oregon&lt;/option&gt;
                &lt;option value=&quot;WA&quot;&gt;Washington&lt;/option&gt;
            &lt;/optgroup&gt;
        &lt;/select&gt;
    &lt;/div&gt;

    &lt;div class=&quot;form-group&quot;&gt;
        &lt;!-- Element intended to use with advance options --&gt;
        &lt;input type=&quot;hidden&quot; id=&quot;mySelect2&quot; class=&quot;full-width&quot;&gt;
    &lt;/div&gt;
&lt;/form&gt;
</code></pre>
    <h5 class="semi-bold">Step four</h5>
    <p>
        Apply the plugin to your desired element
    </p>
    <div class="alert alert-warning">
        <p>Make sure you place the following script <strong>below</strong> all the pre-requisites mentioned in the Step two above.</p>
    </div>
    <div class="example m-t-15">
        <p class="all-caps fs-12 bold">
            example :
        </p>
        <form role="form">
            <div class="form-group">
                <!-- Using .select2 automatically initializes a basic Select2 -->
                <select class="full-width" data-init-plugin="select2">
                    <optgroup label="Alaskan/Hawaiian Time Zone">
                        <option value="AK">Alaska</option>
                        <option value="HI">Hawaii</option>
                    </optgroup>
                    <optgroup label="Pacific Time Zone">
                        <option value="CA">California</option>
                        <option value="NV">Nevada</option>
                        <option value="OR">Oregon</option>
                        <option value="WA">Washington</option>
                    </optgroup>
                </select>
            </div>
            <div class="form-group">
                <!-- Element intended to use with advance options -->
                <input type="hidden" id="mySelect2" class="full-width">
            </div>
        </form>
    </div>
    <pre><code class="xml">&lt;script&gt;
$(document).ready(function() {
    // Avoid applying plugin to &lt;select&gt; with data-init-plugin=&quot;select2&quot;

    // Only apply on elements that don't have data-init-plugin=&quot;select2&quot; 
    $(&quot;#mySelect2&quot;).select2({
        placeholder: &quot;Select a type&quot;,
        data: [{
            id: 0,
            text: 'enhancement'
        }, {
            id: 1,
            text: 'bug'
        }, {
            id: 2,
            text: 'duplicate'
        }]
    });
});
&lt;/script&gt;</code></pre>
    <br>
   
    <h5 class="semi-bold">Step three</h5>
    <p>Add following markup to your page</p>
    <pre><code class="xml">&lt;ui-select ng-model=&quot;person.selected&quot; theme=&quot;bootstrap&quot;&gt;
    &lt;ui-select-match placeholder=&quot;Select or search a person in the list...&quot;&gt;{{$select.selected.name}}&lt;/ui-select-match&gt;
    &lt;ui-select-choices repeat=&quot;item in people | filter: $select.search&quot;&gt;
        &lt;div ng-bind-html=&quot;trustAsHtml((item.name | highlight: $select.search))&quot;&gt;&lt;/div&gt;
        &lt;small ng-bind-html=&quot;trustAsHtml((item.email | highlight: $select.search))&quot;&gt;&lt;/small&gt;
    &lt;/ui-select-choices&gt;
&lt;/ui-select&gt;</code></pre>
</section>
<section>
    <h4>Datepicker</h4>
    <h5 class="semi-bold">jQuery users</h5>
    <p>
        Datepicker controls in Pages are powered by <a href="https://github.com/eternicode/bootstrap-datepicker">Bootstrap Datepicker</a> plugin.
    </p>
    <div class="alert alert-info">
        <p>Please refer to <a href="http://bootstrap-datepicker.readthedocs.org/en/release/">Bootstrap Datepicker Documentation</a> to learn about plugin options</p>
    </div>
    <h5 class="semi-bold">Step one</h5>
    <p>Include the stylesheet <code>datepicker3.css</code> inside the <code>&lt;head&gt;</code> if it's not there already. Please view <a href="{# ROOT #}partials/">Stylesheet inclusion guideline rules</a></p>
    <pre><code class="xml">&lt;link media=&quot;screen&quot; type=&quot;text/css&quot; rel=&quot;stylesheet&quot; href=&quot;assets/plugins/bootstrap-datepicker/css/datepicker3.css&quot;&gt;</code></pre>
    <h5 class="semi-bold m-t-20">Step two</h5>
    <p>Include the relevant javascript files inside the <code>&lt;body&gt;</code> before core template script inclusions, if it's not there already. Please view <a href="{# ROOT #}partials/js_rules.html">jQuery plugin inclusion guideline rules</a></p>
    <pre><code class="xml">&lt;script type=&quot;text/javascript&quot; src=&quot;assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js&quot;&gt;</code></pre>
    <h5 class="semi-bold m-t-20">Step three</h5>
    <p>Add the markup</p>
    <pre><code class="xml">&lt;div id=&quot;myDatepicker&quot; class=&quot;input-group date&quot;&gt;
    &lt;input type=&quot;text&quot; class=&quot;form-control&quot;&gt;
    &lt;span class=&quot;input-group-addon&quot;&gt;&lt;i class=&quot;fa fa-calendar&quot;&gt;&lt;/i&gt;
    &lt;/span&gt;
&lt;/div&gt;</code></pre>
    <h5 class="semi-bold m-t-20">Step four</h5>
    <p>Apply the plugin.</p>
    <div class="alert alert-warning">
        <p>Make sure you place the following script <strong>below</strong> all the pre-requisites mentioned in the Step two above.</p>
    </div>
    <div class="example m-t-15">
        <p class="all-caps fs-12 bold">
            example :
        </p>
        <div id="myDatepicker" class="input-group date">
            <input type="text" class="form-control">
            <span class="input-group-addon"><i class="fa fa-calendar"></i>
    </span>
        </div>
    </div>
    <pre><code class="xml">&lt;script&gt;
$(document).ready(function() {
    $('#myDatepicker').datepicker();
});
&lt;/script&gt;</code></pre>
    <br>
</section>
<section>
    <h4>Masked inputs</h4>
    <h5 class="section-sep">jQuery users</h5>
    <p>
        Allows the user to enter fixed width input while conforming to a character format. Powered by <a href="http://digitalbush.com/projects/masked-input-plugin/">jQuery Masked Input</a> plugin.
    </p>
    <div class="alert alert-info">
        <p>Please refer to <a href="http://digitalbush.com/projects/masked-input-plugin/">jQuery Masked Input Documentation</a> to learn about plugin options</p>
    </div>
    <h5 class="semi-bold">Step one</h5>
    <p>Include the javascript file inside the
        <code>&lt;body&gt;</code>before core template script inclusions, if it's not there already. Please view <a href="{# ROOT #}partials/js_rules.html">jQuery plugin inclusion guideline rules</a>
    </p>
    <pre><code class="xml">&lt;script src=&quot;assets/plugins/jquery-inputmask/jquery.inputmask.min.js&quot; type=&quot;text/javascript&quot;&gt;</code></pre>
    <h5 class="semi-bold m-t-20">Step two</h5>
    <p>Add the markup.</p>
    <pre><code class="xml">&lt;input type=&quot;text&quot; id=&quot;phone&quot; class=&quot;form-control&quot;&gt;
</code></pre>
    <h5 class="semi-bold m-t-20">Step three</h5>
    <p>Apply the plugin.</p>
    <div class="alert alert-warning">
        <p>Make sure you place the following script <strong>below</strong> all the pre-requisites mentioned in the Step two above.</p>
    </div>
  
    <div class="example m-t-15">
        <p class="all-caps fs-12 bold">
            example :
        </p>
        <input type="text" id="phone" class="form-control">
    </div>
    <pre><code class="xml">&lt;script&gt;
$(document).ready(function() {
    $("#phone").mask("(999) 999-9999");
});
&lt;/script&gt;</code></pre>
    <br>
</section>
<section>
    <h4>Autonumeric inputs</h4>
    <h5 class="section-sep">jQuery users</h5>
    <p>
        <a href="http://www.decorplanit.com/plugin/">autoNumeric</a> is a jQuery plugin that automatically formats currency and numbers as you type on form inputs.
    </p>
    <div class="alert alert-info">
        <p>Please refer to <a href="http://www.decorplanit.com/plugin/">jQuery autoNumeric Documentation</a> to learn about plugin options</p>
    </div>
    <h5 class="semi-bold">Step one</h5>
    <p>Include the javascript file inside the
        <code>&lt;body&gt;</code>before core template script inclusions, if it's not there already. Please view <a href="{# ROOT #}partials/js_rules.html">jQuery plugin inclusion guideline rules</a>
    </p>
    <pre><code class="xml">&lt;script src=&quot;assets/plugins/jquery-autonumeric/autoNumeric.js&quot; type=&quot;text/javascript&quot;&gt;</code></pre>
    <h5 class="semi-bold m-t-20">Step two</h5>
    <p>Add the markup.</p>
    <pre><code class="xml">&lt;input type=&quot;text&quot; data-a-dec=&quot;.&quot; data-a-sep=&quot;,&quot; class=&quot;autonumeric form-control&quot;&gt;
</code></pre>
    <h5 class="semi-bold m-t-20">Step three</h5>
    <p>Apply the plugin.</p>
    <div class="alert alert-warning">
        <p>Make sure you place the following script <strong>below</strong> all the pre-requisites mentioned in the Step two above.</p>
    </div>
   
    <div class="example m-t-15">
        <p class="all-caps fs-12 bold">
            example :
        </p>
        <input type="text" data-a-dec="." data-a-sep="," class="autonumeric form-control">
    </div>
    <pre><code class="xml">&lt;script&gt;
$(document).ready(function() {
    $('.autonumeric').autoNumeric('init');
});
&lt;/script&gt;</code></pre>
    <br>

</section>
<section>
    <h4>WYSIWYG Editors</h4>
    <h5 class="section-sep">jQuery users</h5>
    <p>
        Give your users a rich text editing experience with these simple and fully-fledged WYSIWYG editors
    </p>
    <h5>Bootstrap wysihtml5</h5>
    <div class="alert alert-info">
        <p>Please refer to <a href="https://github.com/Waxolunist/bootstrap3-wysihtml5-bower/">Bootstrap wysihtml5 Documentation</a> to learn about plugin options</p>
    </div>
    <h5 class="semi-bold">Step one</h5>
    <p>Include the stylesheet <code>bootstrap3-wysihtml5.min.css</code> inside the <code>&lt;head&gt;</code> if it's not there already. Please view <a href="{# ROOT #}partials/">Stylesheet inclusion guideline rules</a></p>
    <pre><code class="xml">&lt;link type=&quot;text/css&quot; rel=&quot;stylesheet&quot; href=&quot;assets/plugins/bootstrap3-wysihtml5/bootstrap3-wysihtml5.min.css&quot;&gt;
</code></pre>
    <h5 class="semi-bold m-t-20">Step two</h5>
    <p>Include the javascript file inside the <code>&lt;body&gt;</code>before core template script inclusions, if it's not there already. Please view <a href="{# ROOT #}partials/js_rules.html">jQuery plugin inclusion guideline rules</a>
    </p>
    <pre><code class="xml">&lt;script src=&quot;assets/plugins/bootstrap3-wysihtml5/bootstrap3-wysihtml5.all.min.js&quot;&gt;&lt;/script&gt;</code></pre>
    <h5 class="semi-bold m-t-20">Step three</h5>
    <p>Add the markup.</p>
    <pre><code class="xml">&lt;textarea id=&quot;wysiwyg5&quot; class=&quot;wysiwyg&quot; placeholder=&quot;Enter text ...&quot; style=&quot;height:250px&quot;&gt;&lt;/textarea&gt;
</code></pre>
    <h5 class="semi-bold m-t-20">Step three</h5>
    <p>Apply the plugin.</p>
    <div class="alert alert-warning">
        <p>Make sure you place the following script <strong>below</strong> all the pre-requisites mentioned in the Step two above.</p>
    </div>
   
    <div class="example m-t-15">
        <p class="all-caps fs-12 bold">
            example :
        </p>
    </div>
    <pre><code class="xml">&lt;script&gt;
$(document).ready(function() {
    $('#wysiwyg5').wysihtml5();
});
&lt;/script&gt;</code></pre>
    <br>
    <pre><code class="xml">&lt;div class=&quot;wysiwyg5-wrapper b-a b-grey&quot;&gt;
    &lt;textarea id=&quot;wysiwyg5&quot; class=&quot;wysiwyg demo-form-wysiwyg&quot; placeholder=&quot;Enter text ...&quot; ui-jq=&quot;wysihtml5&quot; ui-options=&quot;{
    html: true,
    stylesheets: ['pages/css/editor.css']
}&quot;&gt;&lt;/textarea&gt;
&lt;/div&gt;</code></pre>
    <h5 class="m-t-30">Summernote</h5>
    <h5 class="semi-bold">jQuery users</h5>
    <div class="alert alert-info">
        <p>Please refer to <a href="http://hackerwins.github.io/summernote">Summernote Documentation</a> to learn about plugin options</p>
    </div>
    <h5 class="semi-bold">Step one</h5>
    <p>Include the stylesheet <code>summernote.css</code> inside the <code>&lt;head&gt;</code> if it's not there already. Please view <a href="{# ROOT #}partials/">Stylesheet inclusion guideline rules</a></p>
    <pre><code class="xml">&lt;link media=&quot;screen&quot; type=&quot;text/css&quot; rel=&quot;stylesheet&quot; href=&quot;assets/plugins/summernote/css/summernote.css&quot;&gt;
</code></pre>
    <h5 class="semi-bold m-t-20">Step two</h5>
    <p>Include the javascript file inside the <code>&lt;body&gt;</code>before core template script inclusions, if it's not there already. Please view <a href="{# ROOT #}partials/js_rules.html">jQuery plugin inclusion guideline rules</a>
    </p>
    <pre><code class="xml">&lt;script type=&quot;text/javascript&quot; src=&quot;assets/plugins/summernote/js/summernote.min.js&quot;&gt;&lt;/script&gt;</code></pre>
    <h5 class="semi-bold m-t-20">Step three</h5>
    <p>Add the markup.</p>
    <pre><code class="xml">&lt;div id=&quot;summernote&quot;&gt;Hello Summernote&lt;/div&gt;
</code></pre>
    <h5 class="semi-bold m-t-20">Step four</h5>
    <p>Apply the plugin.</p>
    <div class="alert alert-warning">
        <p>Make sure you place the following script <strong>below</strong> all the pre-requisites mentioned in the Step two above.</p>
    </div>
   
    <div class="example m-t-15">
        <p class="all-caps fs-12 bold">
            example :
        </p>
    </div>
    <pre><code class="xml">&lt;script&gt;
$(document).ready(function() {
   $('#summernote').summernote();
});
&lt;/script&gt;</code></pre>
    <br>
</section>
<section>
    <h4>Tag inputs</h4>
    <h5 class="semi-bold">jQuery users</h5>
    <p>
        <a href="https://github.com/timschlechter/bootstrap-tagsinput">jQuery tags input</a> plugin is based on Twitter Bootstrap.
    </p>
    <div class="alert alert-info">
        <p>Please refer to <a href="https://github.com/timschlechter/bootstrap-tagsinput">jQuery tags input Documentation</a> to learn about plugin options</p>
    </div>
    <h5 class="semi-bold">Step one</h5>
    <p>Include the stylesheet <code>bootstrap-tagsinput.css</code> inside the <code>&lt;head&gt;</code> if it's not there already. Please view <a href="{# ROOT #}partials/">Stylesheet inclusion guideline rules</a></p>
    <pre><code class="xml">&lt;link type=&quot;text/css&quot; rel=&quot;stylesheet&quot; href=&quot;assets/plugins/bootstrap-tag/bootstrap-tagsinput.css&quot;&gt;
</code></pre>
    <h5 class="semi-bold m-t-20">Step two</h5>
    <p>Include the javascript file inside the
        <code>&lt;body&gt;</code>before core template script inclusions, if it's not there already. Please view <a href="{# ROOT #}partials/js_rules.html">jQuery plugin inclusion guideline rules</a>
    </p>
    <pre><code class="xml">&lt;script src=&quot;assets/plugins/bootstrap-tag/bootstrap-tagsinput.min.js&quot; type=&quot;text/javascript&quot;&gt;&lt;/script&gt;</code></pre>
    <h5 class="semi-bold m-t-20">Step two</h5>
    <p>Add the markup.</p>
    <pre><code class="xml">&lt;input id=&quot;#tagsinput&quot; type=&quot;text&quot; value=&quot;Amsterdam,Washington&quot; data-role=&quot;tagsinput&quot; /&gt;
</code></pre>
    <h5 class="semi-bold m-t-20">Step three</h5>
    <p>Apply the plugin.</p>
    <div class="alert alert-warning">
        <p>Make sure you place the following script <strong>below</strong> all the pre-requisites mentioned in the Step two above.</p>
    </div>
  
    <div class="example m-t-15">
        <p class="all-caps fs-12 bold">
            example :
        </p>
        <input id="#tagsinput" type="text" value="Amsterdam,Washington" data-role="tagsinput" />
    </div>
    <pre><code class="xml">&lt;script&gt;
$(document).ready(function() {
    $('#tagsinput').tagsinput({
        typeahead: {
            source: ['Amsterdam', 'Washington', 'Sydney', 'Beijing', 'Cairo']
        }
    });
});
&lt;/script&gt;</code></pre>
    <br>
</section>
<section>
    <h4>Drag n' Drop</h4>
    <h5 class="semi-bold">jQuery users</h5>
    <p>
        <a href="http://www.dropzonejs.com/">DropzoneJS</a> is an open source library that provides drag'n'drop file uploads with image previews.
    </p>
    <div class="alert alert-info">
        <p>Please refer to <a href="http://www.dropzonejs.com/">DropzoneJS Documentation</a> to learn about plugin options</p>
    </div>
    <h5 class="semi-bold">Step one</h5>
    <p>Include the stylesheet <code>dropzone.css</code> inside the <code>&lt;head&gt;</code> if it's not there already. Please view <a href="{# ROOT #}partials/">Stylesheet inclusion guideline rules</a></p>
    <pre><code class="xml">&lt;link type=&quot;text/css&quot; rel=&quot;stylesheet&quot; href=&quot;assets/plugins/dropzone/css/dropzone.css&quot;&gt;
</code></pre>
    <h5 class="semi-bold m-t-20">Step two</h5>
    <p>Include the javascript file inside the
        <code>&lt;body&gt;</code>before core template script inclusions, if it's not there already. Please view <a href="{# ROOT #}partials/js_rules.html">jQuery plugin inclusion guideline rules</a>
    </p>
    <pre><code class="xml">&lt;script src=&quot;assets/plugins/dropzone/dropzone.min.js&quot; type=&quot;text/javascript&quot;&gt;&lt;/script&gt;</code></pre>
    <h5 class="semi-bold m-t-20">Step three</h5>
    <p>Add <code>.dropzone</code> to initialize dropzone plugin with default options.</p>
    <div class="example m-t-15">
        <p class="all-caps fs-12 bold">
            example :
        </p>
        <form action="/file-upload" class="dropzone">
            <div class="fallback">
                <input name="file" type="file" multiple />
            </div>
        </form>
    </div>
    <pre><code class="xml">&lt;form action=&quot;/file-upload&quot; class=&quot;dropzone&quot;&gt;
    &lt;div class=&quot;fallback&quot;&gt;
        &lt;input name=&quot;file&quot; type=&quot;file&quot; multiple /&gt;
    &lt;/div&gt;
&lt;/form&gt;</code></pre>
    <br>
    
</section>
<div class="well bs-ref clearfix">
    <span class="pull-left">For native Bootstrap form controls </span><a class="btn btn-primary pull-right " target="_blank" href="http://getbootstrap.com/css/#forms">Bootstrap Documentation</a>
</div>