<table id='receipt' align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="background-color:#fafafa;">
  <tr>
    <td colspan="2">
      <table align="center" cellpadding="0" cellspacing="0" style="border:2px solid #eaeaea; border-radius:6px;width:600px;background:white;margin-top:60px;margin-bottom:60px;">
        <tr>
          <td style="border-bottom:1px solid #dde5f1;padding:30px" width="300">
           <img src="{{promoter.logo}}" alt="" height="50">
          </td>
          <td class="border-right" style="border-bottom:1px solid #dde5f1;padding:30px;border-bottom: 1px solid rgb(221, 229, 241)"
            width="300">
            <p style="text-align: right;letter-spacing: 2px;font-weight: bold;color: rgb(102, 102, 102);line-height: 37px;vertical-align: middle;margin-bottom: 0;">TICKET</p>
          </td>
        </tr>
        <tr>
          <td style="padding:30px;font-size:13px;color:#727e8d;line-height:23px" colspan="2">
            <b></b> {{user.name}},
            <br>
            <br> Congratulations, this is your ticket to
            <b>{{event.name}}</b> from
            <b>{{promoter.name}}</b> (order reference number: {{user.id}} ).
            <br>
            <br>Please find your details below.

          </td>
        </tr>
        <tr>
          <td colspan="2">
            <img src="{{imgMap}}" style="width:100%;filter: grayscale(100%);" alt="">
          </td>
        </tr>
        <tr>
          <td style="padding:30px;font-size:13px;color:#727e8d;line-height:23px" width="30%">
            <img width="190" src="https://api.qrserver.com/v1/create-qr-code/?size=150x150&data={{user.id}}">
          </td>
          <td class="border-right" style="padding:30px;font-size:14px;color:#727e8d;line-height:22px;padding-left:0;vertical-align:top;font-family: sans-serif;"
            width="70%">
            <h3>{{event.name}}</h3>
            <h3 style="font-weight:300;text-transform:uppercase;font-size:15px">{{event.date}}</h3>
            <h3 style="font-weight:300;font-size:15px">{{event.venue}}</h3>
            <h5 style="text-transform:uppercase;font-size:15px">{{event.address}}</h5>
            <ul style="list-style:none;margin:0;padding:0">
              <h2 style="margin-bottom:-10px" v-if="purchases.length>0"></h2>
              <li v-for="item in purchases" style="float: left;margin-right: 30px;margin-top: 20px;">
                <h2 style="display: block;font-family: sans-serif;font-weight: 700;text-transform: uppercase;margin: 0;font-size: 1.4em;"></h2>
                <span style="text-transform: uppercase;font-size: 0.85em;">
                  Section
                  <b></b>
                </span>
              </li>
            </ul>
          </td>
        </tr>
        <tr>
          <td style="padding:30px;font-size:13px;color:#727e8d;line-height:23px;padding-top:0;border-bottom:1px solid #dde5f1" colspan="100%">
            {{event.ticketNote}}
          </td>
        </tr>
        <tr>
          <td width="50%" style="border-right:1px solid #dde5f1;padding:30px;font-size:14px;color:#727e8d;line-height:18px">
            <h4 style="font-weight:300">Receipt Sent to</h4>
            <p>
              <b>{{user.name}}</b>
              <br>{{user.address}},
              <br>{{user.country}}
            </p>
            <p style="color:#67bffd;font-weight: bold;">{{user.email}}</p>
          </td>
          <td style="padding:30px;font-size:14px;color:#727e8d;line-height:18px;" class="border-right">
            <h4 style="font-weight:300">Receipt Sent from</h4>
            <p>
              <b>{{promoter.name}}</b>
              <br> {{promoter.address}}
              <br>
            </p>
            <p style="color:#67bffd;font-weight: bold;">{{promoter.email}}</p>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-top:1px solid #dde5f1">
              <tr>
                <td width="33%" style="border-right:1px solid #dde5f1;padding:20px 30px;font-size:14px;color:#727e8d;line-height:18px">
                  <p style="text-align:right;float:right;margin:0">
                    <b>Receipt No.</b>
                    <br>{{user.id | slice:0:5}}
                  </p>
                </td>
                <td width="33%" style="border-right:1px solid #dde5f1;padding:20px 30px;font-size:14px;color:#727e8d;line-height:18px">
                  <p style="text-align:right;float:right;margin:0">
                    <b>Receipt Date.</b>
                    <br> {{user.events[event.id].purchased * 1000 | date:'short'}}
                  </p>
                </td>
                <td width="33%" style="padding:20px 30px;font-size:14px;color:#727e8d;line-height:18px">
                  <p style="text-align:right;float:right;margin:0">
                    <b>Receipt Total.</b>
                    <br>$0.00
                  </p>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-top:1px solid #dde5f1">
              <tr>
                <td width="40%" style="background-color:#67bffd;border-right:1px solid #dde5f1;padding:20px 30px;font-size:14px;color:#fff;line-height:18px">
                  <b>Description</b>
                </td>
                <td width="20%" style="background-color:#67bffd;border-right:1px solid #dde5f1;padding:20px 30px;font-size:14px;color:#fff;line-height:18px">
                  <b>Price</b>
                </td>
                <td width="20%" style="background-color:#67bffd;border-right:1px solid #dde5f1;padding:20px 30px;font-size:14px;color:#fff;line-height:18px">
                  <b>Quantity</b>
                </td>
                <td width="20%" style="background-color:#67bffd;padding:20px 30px;font-size:14px;color:#fff;line-height:18px;text-align:right">
                  <b>Total</b>
                </td>
              </tr>
              <tr *ngFor="let purchase of user.events[event.id].purchases | mapToIterable">
                <td width="40%" style="background-color:#eff3f7;border-bottom:1px solid #dde5f1;border-right:1px solid #dde5f1;padding:20px 30px;font-size:14px;color:#727e8d;line-height:18px">
                  <b>{{purchase.key}}</b>
                </td>
                <td width="20%" style="background-color:#eff3f7;border-bottom:1px solid #dde5f1;border-right:1px solid #dde5f1;padding:20px 30px;font-size:14px;color:#727e8d;line-height:18px">
                  <span>{{purchase.val.price | currency}}</span>
                </td>
                <td width="20%" style="background-color:#eff3f7;border-bottom:1px solid #dde5f1;border-right:1px solid #dde5f1;padding:20px 30px;font-size:14px;color:#727e8d;line-height:18px">
                  <span>1</span>
                </td>
                <td width="20%" style="background-color:#eff3f7;border-bottom:1px solid #dde5f1;padding:20px 30px;font-size:14px;color:#727e8d;line-height:18px;text-align:right">
                  <span>{{purchase.val.price | currency}}</span>
                </td>
              </tr>
              <tr>
                <td width="40%" style="background-color:#eff3f7;padding:20px 30px;font-size:14px;color:#727e8d;line-height:18px"></td>
                <td width="20%" style="background-color:#eff3f7;border-right:1px solid #dde5f1;padding:20px 30px;font-size:14px;color:#727e8d;line-height:18px"></td>
                <td width="20%" style="background-color:#67bffd;border-right:1px solid #dde5f1;padding:20px 30px;font-size:14px;color:#fff;line-height:18px">
                  <b>Subtotal</b>
                </td>
                <td width="20%" style="background-color:#eff3f7;padding:20px 30px;font-size:14px;color:#727e8d;line-height:18px;text-align:right">
                  <p>$0.00</p>
                </td>
              </tr>
              <tr>
                <td width="40%" style="background-color:#eff3f7;padding:20px 30px;font-size:14px;color:#727e8d;line-height:18px"></td>
                <td width="20%" style="background-color:#eff3f7;border-right:1px solid #dde5f1;padding:20px 30px;font-size:14px;color:#727e8d;line-height:18px"></td>
                <td width="20%" style="background-color:#67bffd;border-right:1px solid #dde5f1;border-top:1px solid #dde5f1;padding:20px 30px;font-size:14px;color:#fff;line-height:18px">
                  <b>GST</b>
                </td>
                <td width="20%" style="background-color:#eff3f7;border-top:1px solid #dde5f1;padding:20px 30px;font-size:14px;color:#727e8d;line-height:18px;text-align:right">
                  <p>$0.00</p>
                </td>
              </tr>
              <tr>
                <td width="40%" style="background-color:#eff3f7;padding:20px 30px;font-size:14px;color:#727e8d;line-height:18px"></td>
                <td width="20%" style="background-color:#eff3f7;border-right:1px solid #dde5f1;padding:20px 30px;font-size:14px;color:#727e8d;line-height:18px"></td>
                <td width="20%" style="background-color:#67bffd;border-right:1px solid #dde5f1;border-top:1px solid #dde5f1;padding:20px 30px;font-size:14px;color:#fff;line-height:18px">
                  <b>Total</b>
                </td>
                <td width="20%" style="background-color:#eff3f7;border-top:1px solid #dde5f1;padding:20px 30px;font-size:14px;color:#727e8d;line-height:18px;text-align:right">
                  <p>$0.00</p>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td style="border-top:1px solid #dde5f1;padding:30px;font-size:13px;color:#727e8d;line-height:23px;text-align:center" colspan="100%">
            <p>
              Payment received and pending auditing.
              <br> For any questions, contact
              <a href="{{promoter.email}}" style="text-decoration:none;color:#666;font-weight:700">{{promoter.email}}</a>
            </p>
            <p>
              <b>Payment method:</b> Online Payment
              <br>
              <b>Date: {{date | date:'short'}}</b>
            </p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>