<div class="overlay" [class.hide]=!isVisible [@fadeAnimation]="isVisible">
	<!-- BEGIN Overlay Content !-->

	<div class="overlay-content has-results m-t-20">
		<!-- BEGIN Overlay Header !-->

		<div class="container-fluid">
			<!-- BEGIN Overlay Logo !-->
			<img alt="logo" class="overlay-brand" data-src="assets/img/logo.png" data-src-retina="assets/img/logo_2x.png" height="22" src=
			"assets/img/logo_2x.png"> <!-- END Overlay Logo !-->
			 <!-- BEGIN Overlay Close !-->
			 <a class="close-icon-light overlay-close text-black fs-16" href="#" (click)="close($event)"><i class="fa fa-times fa-2x"></i></a> <!-- END Overlay Close !-->
		</div>
		<!-- END Overlay Header !-->

		<div class="container-fluid">
			<!-- BEGIN Overlay Controls !-->
			<input autocomplete="off" #box class="no-border overlay-search bg-transparent" value="{{value}}" placeholder="Search..." spellcheck=
			"false"><br>

			<div class="inline-block">
				<div class="checkbox right">
					<input checked="checked" id="checkboxn" type="checkbox" value="1"> <label for="checkboxn"><i class="fa fa-search"></i> Search within
					thinktickets</label>
				</div>
			</div>

			<div class="inline-block m-l-10">
				<p class="fs-13">
					Press enter to search
				</p>
			</div>
			<!-- END Overlay Controls !-->
		</div>
		<!-- BEGIN Overlay Search Results, This part is for demo purpose, you can add anything you like !-->

		<div class="container-fluid">
			<span><strong>suggestions :</strong></span> {{box.value}}<br>

			<div class="search-results m-t-40">
				<p class="bold">
					Pages Search Results
				</p>

				<div class="row">
					<div class="col-md-6">
						<!-- BEGIN Search Result Item !-->

						<div class="">
							<!-- BEGIN Search Result Item Thumbnail !-->

							<div class="thumbnail-wrapper d48 circular bg-warning text-white inline m-t-10">
								<div>
									<img alt="" height="50" src="assets/img/profiles/b2x.jpg" width="50">
								</div>
							</div>
							<!-- END Search Result Item Thumbnail !-->

							<div class="p-l-10 inline p-t-5">
								<h5 class="m-b-5">
									<span class="semi-bold result-name">{{box.value}}</span> on think.tickets
								</h5>

								<p class="hint-text">
									via inbuilt search
								</p>
							</div>
						</div>
						<!-- END Search Result Item !-->
						<!-- BEGIN Search Result Item !-->

						<div class="">
							<!-- BEGIN Search Result Item Thumbnail !-->

							<div class="thumbnail-wrapper d48 circular bg-success text-white inline m-t-10">
								<div>
									T
								</div>
							</div>
							<!-- END Search Result Item Thumbnail !-->

							<div class="p-l-10 inline p-t-5">
								<h5 class="m-b-5">
									<span class="semi-bold result-name">{{box.value}}</span> related topics
								</h5>

								<p class="hint-text">
									via thinktickets
								</p>
							</div>
						</div>
						<!-- END Search Result Item !-->
						<!-- BEGIN Search Result Item !-->
					</div>

					<div class="col-md-6">
						<!-- BEGIN Search Result Item !-->

						<div class="">
							<!-- BEGIN Search Result Item Thumbnail !-->

							<div class="thumbnail-wrapper d48 circular bg-info text-white inline m-t-10">
								<div>
									<i class="fa fa-facebook large-text"></i>
								</div>
							</div>
							<!-- END Search Result Item Thumbnail !-->

							<div class="p-l-10 inline p-t-5">
								<h5 class="m-b-5">
									<span class="semi-bold result-name">{{box.value}}</span> on facebook
								</h5>

								<p class="hint-text">
									via facebook
								</p>
							</div>
						</div>
						<!-- END Search Result Item !-->
						<!-- BEGIN Search Result Item !-->

						<div class="">
							<!-- BEGIN Search Result Item Thumbnail !-->

							<div class="thumbnail-wrapper d48 circular bg-complete text-white inline m-t-10">
								<div>
									<i class="fa fa-twitter large-text"></i>
								</div>
							</div>
							<!-- END Search Result Item Thumbnail !-->

							<div class="p-l-10 inline p-t-5">
								<h5 class="m-b-5">
									Tweats on <span class="semi-bold result-name">{{box.value}}</span>
								</h5>

								<p class="hint-text">
									via twitter
								</p>
							</div>
						</div>
						<!-- END Search Result Item !-->
						<!-- BEGIN Search Result Item !-->

						<div class="">
							<!-- BEGIN Search Result Item Thumbnail !-->

							<div class="thumbnail-wrapper d48 circular text-white bg-danger inline m-t-10">
								<div>
									<i class="fa fa-google-plus large-text"></i>
								</div>
							</div>
							<!-- END Search Result Item Thumbnail !-->

							<div class="p-l-10 inline p-t-5">
								<h5 class="m-b-5">
									Circles on <span class="semi-bold result-name">{{box.value}}</span>
								</h5>

								<p class="hint-text">
									via google plus
								</p>
							</div>
						</div>
						<!-- END Search Result Item !-->
					</div>
				</div>
			</div>
		</div>
		<!-- END Overlay Search Results !-->
	</div>
	<!-- END Overlay Content !-->
</div>
<!-- END OVERLAY -->