{% if breadcrumb == 'breadcrumb-alt' %}
<div class="bg-white">
  <div class="container">
    <ol class="breadcrumb breadcrumb-alt">
      <li class="breadcrumb-item"><a href="#">UI Elements</a></li>
      <li class="breadcrumb-item active">Typography</li>
    </ol>
  </div>
</div>
{% endif %}
      <!-- START PAGE COVER -->
        <div class="jumbotron page-cover" data-pages="parallax">
          <div class="{% if mode =='horizontal_menu' %} container  {% else %} container-fluid {% endif %}  container-fixed-lg">
            <div class="inner">
              <!-- START BREADCRUMB -->
              {% if breadcrumb != 'breadcrumb-alt' %} <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">UI Elements</a></li>
                <li class="breadcrumb-item active">Typography</li>
              </ol>
              <!-- END BREADCRUMB --> {% endif %}
              <div class="container-md-height m-b-20">
                <div class="row m-lg-0">
                  <div class="col-xl-7 col-lg-6 bg-white">
                    <!-- START card -->
                    <div class="full-height">
                      <div class="card-body text-center">
                        <img class="image-responsive-height demo-mw-500" src="{# ASSETS #}/img/demo/typography_hero.gif" alt="">
                      </div>
                    </div>
                    <!-- END card -->
                  </div>
                  <div class="col-xl-5 col-lg-6">
                    <!-- START card -->
                    <div class="card card-transparent">
                      <div class="card-header ">
                        <div class="card-title">Getting started
                        </div>
                      </div>
                      <div class="card-body">
                        <h3>One of the most underestimated elements of design is typography. However, it’s critical in both print and web media. We Made it Perfect in both.</h3>
                        <p>This feature in our product specifically creates hinted fonts for various OS browsers; whether its Windows, Mac OSx, or ubuntu, it does it for all.</p>
                        <br>
                        <div>
                          <div class="profile-img-wrapper m-t-5 inline">
                            <img width="35" height="35" src="{# ASSETS #}/img/profiles/avatar_small.jpg" alt="" data-src="{# ASSETS #}/img/profiles/avatar_small.jpg" data-src-retina="{# ASSETS #}/img/profiles/avatar_small2x.jpg">
                            <div class="chat-status available">
                            </div>
                          </div>
                          <div class="inline m-l-10">
                            <p class="small hint-text m-t-5">VIA senior product manage
                              <br> for fonts and typography at REVOX</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- END card -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- END PAGE COVER -->
        <!-- START CONTAINER FLUID -->
        <div class="{% if mode =='horizontal_menu' %} container  {% else %} container-fluid {% endif %}  container-fixed-lg">
          <div class="row">
            <div class="col-md-3">
              <!-- START card -->
              <div class="card card-transparent">
                <div class="card-header ">
                  <div class="card-title">System OS detection
                  </div>
                </div>
                <div class="card-body">
                  <p>When it comes to Windows, Mac OS X or Ubuntu, The font rendering is vastly different. It in fact has a huge effect on the typography design structure. </p>
                </div>
              </div>
              <!-- END card -->
            </div>
            <div class="col-md-3">
              <!-- START card -->
              <div class="card card-transparent">
                <div class="card-header ">
                  <div class="card-title">Solution
                  </div>
                </div>
                <div class="card-body">
                  <p>We Developed an algorithm that will automatically select which font is best rendered as for your operating system.</p>
                </div>
              </div>
              <!-- END card -->
            </div>
            <div class="col-md-6">
              <!-- START card -->
              <div class="card card-transparent">
                <div class="card-header ">
                  <div class="card-title">Recommended Loaded Font
                  </div>
                </div>
                <div class="card-body">
                  <p>Current Platform:</p>
                  <div class="row">
                    <div class="col-md-4">
                      <h5 class="font-arial no-margin">Arial</h5>
                      <p class="hint-text">Body font</p>
                    </div>
                    <div class="col-md-4">
                      <h5 class="font-montserrat no-margin text-uppercase">Montserrat</h5>
                      <p class="hint-text">Other font</p>
                    </div>
                    <div class="col-md-4">
                      <h5 class="semi-bold no-margin" id="font_name">Segeo UI</h5>
                      <p class="hint-text">Heading</p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- END card -->
            </div>
          </div>
        </div>
        <!-- END CONTAINER FLUID -->
        <!-- START CONTAINER FLUID -->
        <div class="{% if mode =='horizontal_menu' %} no-padding  {% else %} container-fluid {% endif %}  container-fixed-lg bg-white">
        {% if mode =='horizontal_menu' %} 
            <div class="container">
        {% endif %}
              <div class="row">
                <div class="col-md-4">
                  <!-- START card -->
                  <div class="card card-transparent">
                    <div class="card-header  m-t-30">
                      <div class="card-title">Font Guidelines
                      </div>
                    </div>
                    <div class="card-body">
                      <p>We tested almost every web font to see which font gets render best in comparisan to the operating system. Better visibility, clarity and compatibility is fully ensured as we have paid detailed attention in making for perfect reading. </p>
                      <br>
                      <div class="row">
                        <div class="col-3">
                        </div>
                        <div class="col-6">
                          <p class="no-margin"><a href="#">SegeoUI</a>
                          </p>
                          <p class="small">Windows</p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-3">
                        </div>
                        <div class="col-6">
                          <p class="no-margin"><a href="#">Helvetica Family</a>
                          </p>
                          <p class="small">Mac OS, iOS, Android</p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-3">
                        </div>
                        <div class="col-6">
                          <p class="no-margin"><a href="#">Ubuntu</a>
                          </p>
                          <p class="small">Ubuntu</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- END card -->
                </div>
                <div class="col-md-8">
                  <!-- START card -->
                  <div class="card card-transparent">
                    <div class="card-body text-center">
                      <img alt="" src="{# ASSETS #}/img/demo/typo_font_preview.svg" class="p-t-40 p-b-40 image-responsive-height demo-mw-400">
                    </div>
                  </div>
                  <!-- END card -->
                </div>
              </div>
        {% if mode =='horizontal_menu' %} 
            </div>
        {% endif %}
        </div>
        <!-- END CONTAINER FLUID -->
        <!-- START CONTAINER FLUID -->
        <div class="{% if mode =='horizontal_menu' %} container  {% else %} container-fluid {% endif %}  container-fixed-lg m-t-20">
          <div class="row">
            <div class="col-md-6">
              <!-- START card -->
              <div class="card card-default hover-stroke">
                <div class="card-body no-padding">
                  <div class="container-sm-height">
                    <div class="row row-sm-height">
                      <div class="col-md-9 col-sm-height padding-20 col-top">
                        <p class="font-montserrat bold">WEB SAFE FONTS</p>
                        <h3 class="no-margin font-arial">
                                  Arial, The best Universal Multi-purpose.
                              </h3>
                        <p class="small hint-text">The Arial® typeface : http://www.fonts.com/font/monotype/arial</p>
                      </div>
                      <div class="col-md-3 justify-content-center d-flex flex-column bg-master-lighter">
                        <h4 class="text-center text-primary no-margin">
                                  Web safe
                              </h4>
                        <h2 class="text-center text-primary no-margin">98%</h2>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- END card -->
            </div>
            <div class="col-md-6">
              <!-- START card -->
              <div class="card card-default hover-stroke">
                <div class="card-body no-padding">
                  <div class="container-sm-height">
                    <div class="row row-sm-height">
                      <div class="col-md-9 padding-20  col-sm-height col-top">
                        <p class="font-montserrat bold">GOOGLE FONT</p>
                        <h3 class="font-montserrat no-margin text-uppercase demo-fs-23">Montserrat Additional Font style</h3>
                        <p class="small hint-text">The Montserrat® typeface : http://www.google.com/ fonts/specimen/Montserrat
                        </p>
                      </div>
                      <div class="col-md-3 justify-content-center d-flex flex-column bg-master-lighter">
                        <h4 class="text-center text-primary no-margin">
                                 Google font
                              </h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- END card -->
            </div>
          </div>
        </div>
        <!-- END CONTAINER FLUID -->
        <!-- START CONTAINER FLUID -->
        <div class="{% if mode =='horizontal_menu' %} container  {% else %} container-fluid {% endif %}  container-fixed-lg">
          <div class="row">
            <div class="col-md-5">
              <!-- START card -->
              <div class="card card-transparent">
                <div class="card-header ">
                  <div class="card-title">
                    Typographic Scale &amp; Basic Styles
                  </div>
                </div>
                <div class="card-body">
                  <h3 class="text-primary no-margin">Standard Styles</h3>
                  <br>
                  <p>Too many type sizes and styles at once can wreck any layout. A typographic scale is a limited set of type sizes that work well together, along with the layout grid. The basic set of styles are based on a typographic scale of 12, 14, 16, 20, and 34.
                  </p>
                  <p>
                    These sizes and styles balance content density and reading comfort under typical usage conditions. Type sizes are specified with SP (scaleable pixels) to enable large-type modes for accessibility.
                  </p>
                  <br>
                  <button class="btn btn-primary">Buy now</button>
                  <p class="hint-text m-t-10 small">Learn more at Project Pages</p>
                </div>
              </div>
              <!-- END card -->
            </div>
            <div class="col-md-7">
              <!-- START card -->
              <div class="card card-default">
                <div class="card-body">
                  <p class="sm-p-t-20">Headings are the first thing you ll see or read in a document. We wanted to make them perfect in both size and colour.
                  </p>
                  <div class="row">
                    <table class="table table-condensed table-borderless">
                      <tbody>
                        <tr>
                          <td class="col-10">
                            <h1>h1. Bootstrap heading</h1>
                          </td>
                          <td class="type-info">Light 36px</td>
                        </tr>
                        <tr>
                          <td>
                            <h2 class="">h2. Bootstrap heading</h2>
                          </td>
                          <td class="type-info">Light 30px</td>
                        </tr>
                        <tr>
                          <td>
                            <h3 class="">h3. Bootstrap heading</h3>
                          </td>
                          <td class="type-info">Light 24px</td>
                        </tr>
                        <tr>
                          <td>
                            <h4 class="">h4. Bootstrap heading</h4>
                          </td>
                          <td class="type-info">Light 18px</td>
                        </tr>
                        <tr>
                          <td>
                            <h5 class="">h5. Bootstrap heading</h5>
                          </td>
                          <td class="type-info">Light 14px</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <!-- END card -->
            </div>
          </div>
        </div>
        <!-- END CONTAINER FLUID -->
        <!-- START CONTAINER FLUID -->
        <div class="{% if mode =='horizontal_menu' %} container  {% else %} container-fluid {% endif %}  container-fixed-lg">
          <div class="row">
            <div class="col-xl-5 col-lg-3">
              <!-- START card -->
              <div class="card card-transparent">
                <div class="card-header ">
                  <div class="card-title">Paint the world
                  </div>
                </div>
                <div class="card-body">
                  <p>Color can be a wonderful tool for making your dashboard less stressful and more calming and it can have a significant impact on your mood and well-being, We made it with you in mind
                  </p>
                </div>
              </div>
              <!-- END card -->
            </div>
            <div class="col-xl-7 col-lg-9">
              <!-- START card -->
              <div class="card card-transparent">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-3 m-b-15">
                      <p class="text-heading-color">
                        Heading color
                      </p>
                      <div class="bg-master-darkest b-a b-grey">
                        <div class="bg-white m-t-45 padding-10">
                          <div class="hint-text clearfix">
                            <p class="small v-align-middle pull-left no-margin">
                              .text-black
                            </p>
                            <p class="small text-right v-align-middle pull-right no-margin">
                              #2c2c2c
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3 m-b-15">
                      <p class="">
                        Body text
                      </p>
                      <div class="bg-master b-a b-grey">
                        <div class="bg-white m-t-45 padding-10">
                          <div class="clearfix hint-text">
                            <p class="small v-align-middle pull-left no-margin">
                              Default
                            </p>
                            <p class="small text-right v-align-middle pull-right no-margin">
                              #626262
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3 m-b-15">
                      <p class="">
                        Hinted text
                      </p>
                      <div class="b-a b-grey demo-bg-hinted">
                        <div class="bg-white m-t-45 padding-10">
                          <div class="clearfix hint-text">
                            <p class="small v-align-middle pull-left no-margin">
                              .hint-text
                            </p>
                            <p class="small text-right v-align-middle pull-right no-margin">
                              #2c2c2c
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3 m-b-15">
                      <p class="text-heading-color">
                        Primary color
                      </p>
                      <div class="bg-primary b-a b-grey">
                        <div class="bg-white m-t-45 padding-10">
                          <div class="clearfix text-black hint-text">
                            <p class="small v-align-middle pull-left no-margin">
                              .text-primary
                            </p>
                            <p class="small text-right v-align-middle pull-righ no-margin">
                              #62549a
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-3 m-b-15">
                      <p class="">
                        Success color
                      </p>
                      <div class="bg-success b-a b-grey">
                        <div class="bg-white m-t-45 padding-10">
                          <div class="clearfix hint-text">
                            <p class="small v-align-middle pull-left no-margin">
                              .text-success
                            </p>
                            <p class="small text-right v-align-middle pull-right no-margin">
                              #4aa9e9
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3 m-b-15">
                      <p class="">
                        Complete color
                      </p>
                      <div class="bg-complete b-a b-grey">
                        <div class="bg-white m-t-45 padding-10">
                          <div class="clearfix hint-text">
                            <p class="small v-align-middle pull-left no-margin">
                              .text-complete
                            </p>
                            <p class="small text-right v-align-middle pull-right no-margin">
                              #23b9a9
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3 m-b-15">
                      <p class="text-heading-color">
                        Danger color
                      </p>
                      <div class="bg-danger b-a b-grey">
                        <div class="bg-white m-t-45 padding-10">
                          <div class="clearfix hint-text">
                            <p class="small v-align-middle pull-left no-margin">
                              .text-danger
                            </p>
                            <p class="small text-right v-align-middle pull-right no-margin">
                              #ce4e4d
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3 m-b-15">
                      <p class="">
                        Warning color
                      </p>
                      <div class="bg-warning b-a b-grey">
                        <div class="bg-white m-t-45 padding-10">
                          <div class="clearfix hint-text">
                            <p class="small v-align-middle pull-left no-margin">
                              .text-warning
                            </p>
                            <p class="small text-right v-align-middle pull-right no-margin">
                              #eac459
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- END card -->
            </div>
          </div>
        </div>
        <!-- END CONTAINER FLUID -->
        <!-- START CONTAINER FLUID -->
        <div class="{% if mode =='horizontal_menu' %} container  {% else %} container-fluid {% endif %}  container-fixed-lg">
          <div class="row">
            <div class="col-md-6">
              <!-- START card -->
              <div class="card card-default">
                <div class="card-body">
                  <div class="row">
                    <div class="col-lg-4">
                      <p class="bold sm-p-t-20">Highlighted Text</p>
                      <p>For highlighting a run of text due to its relevance in another context</p>
                    </div>
                    <div class="col-lg-2 p-t-20">
                      <code>&lt;mark&gt;</code>
                    </div>
                    <div class="col-lg-6 p-t-20">
                      it is more then
                      <mark>ONE nation/nationality</mark> as its fall name is The United Kingdom of Great Britain and North Ireland..
                    </div>
                  </div>
                </div>
              </div>
              <!-- END card -->
            </div>
            <div class="col-md-6">
              <!-- START card -->
              <div class="card card-default">
                <div class="card-body">
                  <div class="row">
                    <div class="col-lg-4">
                      <p class="bold sm-p-t-20">Bold Text</p>
                      <p>For emphasizing a snippet of text with a heavier font-weight.</p>
                    </div>
                    <div class="col-lg-2 p-t-20">
                      <code>&lt;strong&gt;</code>
                      <code>.bold</code>
                    </div>
                    <div class="col-lg-6 p-t-20">
                      it is more then <strong>ONE nation/nationality</strong> as its fall name is The United Kingdom of Great Britain and North Ireland..
                    </div>
                  </div>
                </div>
              </div>
              <!-- END card -->
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <!-- START card -->
              <div class="card card-default">
                <div class="card-body">
                  <div class="row">
                    <div class="col-lg-4">
                      <p class="bold sm-p-t-20">Ordered List</p>
                      <p>For highlighting a run of text due to its relevance in another context</p>
                    </div>
                    <div class="col-lg-2 p-t-20">
                      <code>&lt;ol&gt;&lt;/ol&gt;</code>
                    </div>
                    <div class="col-lg-6 p-t-20">
                      <ol class="bold">
                        <li>
                          <span class="normal">Lorem ipsum dolor sit amet</span>
                        </li>
                        <li>
                          <span class="normal">Consectetur adipiscing elit</span>
                        </li>
                        <li>
                          <span class="normal">Integer molestie lorem at massa</span>
                        </li>
                      </ol>
                    </div>
                  </div>
                </div>
              </div>
              <!-- END card -->
            </div>
            <div class="col-md-6">
              <!-- START card -->
              <div class="card card-default">
                <div class="card-body">
                  <div class="row">
                    <div class="col-lg-4">
                      <p class="bold sm-p-t-20">Un-Ordered List</p>
                      <p>For highlighting a run of text due to its relevance in another context</p>
                    </div>
                    <div class="col-lg-2 p-t-20">
                      <code>&lt;ul&gt;&lt;/ul&gt;</code>
                    </div>
                    <div class="col-lg-6 p-t-20">
                      <ul class="lg-icon">
                        <li><span>Life isn’t about getting and having...</span>
                        </li>
                        <li><span>Strive not to be a success... </span>
                        </li>
                        <li><span>Whatever the mind of man can... </span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <!-- END card -->
            </div>
          </div>
        </div>
        <!-- END CONTAINER FLUID -->
        <!-- START CONTAINER FLUID -->
        <div class="{% if mode =='horizontal_menu' %} container  {% else %} container-fluid {% endif %}  container-fixed-lg">
          <div class="row">
            <div class="col-md-6">
              <!-- START card -->
              <div class="card card-transparent">
                <div class="card-header ">
                  <div class="card-title">Address Block
                  </div>
                </div>
                <div class="card-body">
                  <p>For quotes in your document &amp; client reviews</p>
                  <blockquote class="margin-top-20">
                    <p>It is during our darkest moments that we must focus to see the light.</p>
                    <small>Aristotle Onassis</small>
                  </blockquote>
                  <blockquote class="pull-right">
                    <p>The best and most beautiful things in the world cannot be seen or even touched.</p>
                    <small>Helen Keller</small>
                  </blockquote>
                  <div class="clearfix"></div>
                </div>
              </div>
              <!-- END card -->
            </div>
            <div class="col-md-6">
              <!-- START card -->
              <div class="card card-transparent">
                <div class="card-header ">
                  <div class="card-title">Address Block
                  </div>
                </div>
                <div class="card-body">
                  <address class="margin-bottom-20 margin-top-10">
                          <strong>Revox, Inc.</strong>
                          <br>795 Folsom Ave, Suite 600
                          <br>San Francisco, CA 94107
                          <br>
                          <abbr title="Phone">P:</abbr>(123) 456-7890
                      </address>
                  <address>
                          <strong>David Nester</strong>
                          <br>
                          <a href="mailto:#">david.nester@revox.io</a>
                      </address>
                </div>
              </div>
              <!-- END card -->
            </div>
          </div>
        </div>
        <!-- END CONTAINER FLUID -->
