{% set TITLE = "- Dashboard" %}
{% set ASSETS = "assets" %}
{% set ASSETS = "assets" %}
{% set ASSETS_PLUGINS = "assets/plugins" %}
{% set PAGES_CORE = "pages" %}
{% set THEME ="themes/corporate" %}
{% set active_parent = "dashboard" %}
{% set BODY_CLASS = "dashboard menu-pin menu-behind" %}
{% set CONTENT_CLASS = "sm-gutter" %}
{% extends PATH + "layouts/default_layout.html" %}
{% set render = "html" %}
{% block css_dependencies %}
    <link href="assets/plugins/nvd3/nv.d3.min.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="assets/plugins/mapplic/css/mapplic.css" rel="stylesheet" type="text/css" />
    <link href="assets/plugins/rickshaw/rickshaw.min.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block page %}
	<!-- START CONTAINER FLUID -->
	<div class="container-fluid padding-25 sm-padding-10">
		<div class="row">
			<div class="col-lg-4 col-xl-3 col-xlg-2 ">
				<div class="row">
					<div class="col-md-12 m-b-10">
						{% set graphTitleFlat_bg ="warning" %}
						<!-- START WIDGET D3 widget_graphTileFlat-->
						{% include PATH + "pages/dashboard/_widget/widget_graphTileFlat.tpl" %}
						<!-- END WIDGET -->
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12 m-b-10">
						{% set progressFlatTile_bg = "success" %}
						<!-- START WIDGET widget_progressTileFlat-->
						{% include PATH + "pages/dashboard/_widget/widget_progressTileFlat.tpl" %}
						<!-- END WIDGET -->
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12 md-m-b-10 sm-m-b-10">
						<!-- START WIDGET widget_statTile-->
						{% include PATH + "pages/dashboard/_widget/widget_statTile.tpl" %}
						<!-- END WIDGET -->
					</div>
				</div>
			</div>
			<div class="col-lg-8 col-xl-9 col-xlg-6 m-b-10">
				<div class="row">
					<div class="col-md-12">
						<!-- START WIDGET D3 widget_graphWidget-->
						{% set widget_graphWidget_alt = "1" %}
						{% include PATH + "pages/dashboard/_widget/widget_graphWidget.tpl" %}
						<!-- END WIDGET -->
					</div>
				</div>
			</div>
			<div class="col-lg-6 hidden-lg visible-xlg col-xlg-4 m-b-10">
				<!-- START WIDGET D3 widget_stackedBarWidget-->
				{% include PATH + "pages/dashboard/_widget/widget_stackedBarWidget.tpl" %}
				<!-- END WIDGET -->
			</div>
		</div>
		<div class="row m-b-10">
			<div class="col-lg-8 sm-p-b-10 md-p-b-10">
				{% set mapWidget_bg = "master-light" %}
				<!-- START WIDGET widget_mapWidget-->
				{% include PATH + "pages/dashboard/_widget/widget_mapWidget.tpl" %}
				<!-- END WIDGET -->
			</div>
			<div class="col-lg-4">
				<!-- START WIDGET widget_realtimeWidget-->
				{% include PATH + "pages/dashboard/_widget/widget_realtimeWidget.tpl" %}
				<!-- END WIDGET -->
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 visible-lg hidden-xlg sm-m-b-10">
				<!-- START WIDGET D3 widget_stackedBarWidgetBasic-->
				{% include PATH + "pages/dashboard/_widget/widget_stackedBarWidgetBasic.tpl" %}
				<!-- END WIDGET -->
			</div>
			<div class="col-md-4 col-lg-3 col-xlg-3 m-b-10 visible-xlg">
				<!-- START WIDGET D3 widget_graphOptionsWidget-->
				{% include PATH + "pages/dashboard/_widget/widget_graphOptionsWidget.tpl" %}
				<!-- END WIDGET -->
			</div>
			<div class="col-xlg-3 visible-xlg ">
				<div class="row">
					<div class="col-xlg-12">
						<!-- START WIDGET widget_socialPostTile-->
						{% include PATH + "pages/dashboard/_widget/widget_socialPostTile.tpl" %}
						<!-- END WIDGET -->
					</div>
				</div>
			</div>
			<div class="col-md-12 col-lg-8 col-xlg-6 md-m-t-10">
				<!-- START WIDGET widget_weatherWidget-->
				{% set weather_widget_alt = "1" %}
				{% include PATH + "pages/dashboard/_widget/widget_weatherWidget.tpl" %}
				<!-- END WIDGET -->
			</div>
		</div>
	</div>
	<!-- END CONTAINER FLUID -->
{% endblock %}
{% block page_js_dependencies %}
    <script src="assets/plugins/nvd3/lib/d3.v3.js" type="text/javascript"></script>
    <script src="assets/plugins/nvd3/nv.d3.min.js" type="text/javascript"></script>
    <script src="assets/plugins/nvd3/src/utils.js" type="text/javascript"></script>
    <script src="assets/plugins/nvd3/src/tooltip.js" type="text/javascript"></script>
    <script src="assets/plugins/nvd3/src/interactiveLayer.js" type="text/javascript"></script>
    <script src="assets/plugins/nvd3/src/models/axis.js" type="text/javascript"></script>
    <script src="assets/plugins/nvd3/src/models/line.js" type="text/javascript"></script>
    <script src="assets/plugins/nvd3/src/models/lineWithFocusChart.js" type="text/javascript"></script>
    <script src="assets/plugins/mapplic/js/hammer.js"></script>
    <script src="assets/plugins/mapplic/js/jquery.mousewheel.js"></script>
    <script src="assets/plugins/mapplic/js/mapplic.js"></script>
    <script src="assets/plugins/rickshaw/rickshaw.min.js"></script>
    <script src="assets/plugins/jquery-sparkline/jquery.sparkline.min.js" type="text/javascript"></script>
    <script src="assets/plugins/skycons/skycons.js" type="text/javascript"></script>
{% endblock %}
{% block addition_js %}
    <script src="assets/js/dashboard.js" type="text/javascript"></script>
{% endblock %}
