{% set TITLE = "- Portlets" %}
{% set ASSETS = "assets" %}
{% set ASSETS_PLUGINS = "assets/plugins" %}
{% set BODY_CLASS ="menu-pin menu-behind" %}
{% set PAGES_CORE = "pages" %}
{% set THEME ="themes/corporate" %}
{% set active_parent = "maps" %}
{% set BODY_CLASS = "no-header" %}
{% set HEADER_CLASS = "transparent" %}
{% set CONTENT_WRAPPER_CLASS = "full-height" %}
{% set CONTENT_CLASS = "full-width full-height overlay-footer" %}
{% extends PATH + "layouts/default_layout.html" %}
{% block css_dependencies %}
	<link href="assets/plugins/mapplic/css/mapplic.css" rel="stylesheet" type="text/css" />
{% endblock %}
  {% block page %}
  {% include PATH + "pages/maps/mapplic.tpl"%}
  {% endblock %}
{% block page_js_dependencies %}
	<script src="assets/plugins/mapplic/js/hammer.js"></script>
    <script src="assets/plugins/mapplic/js/jquery.mousewheel.js"></script>
    <script src="assets/plugins/mapplic/js/mapplic.js"></script>
{% endblock %}
{% block addition_js %}
   <script src="assets/js/vector_map.js" type="text/javascript"></script>
{% endblock %}