


<section id="tables">
    <h3 class="page-title">Tables</h3>
<hr>
    <h4>Tables</h4>
    <p>Pages extensively uses Bootstrap's <code>.table</code> to style its tables. Please refer to their documentation for guidelines.
    </p>
    <a class="btn btn-complete" target="_blank" href="http://getbootstrap.com/css/#tables">Bootstrap Tables</a>
</section>
<section>
    <h4>DataTables</h4>
    <h5 class="section-sep">jQuery users</h5>
    <p>DataTables is a highly flexible jQuery plug-in based upon the foundations of progressive enhancement, and will add advanced interaction controls to any HTML table.
    </p>
    <div class="alert alert-info">
        <p>Please refer to <a href="http://www.datatables.net/">DataTables Documentation</a> to learn about plugin options</p>
    </div>
    <h5 class="semi-bold">Step one</h5>
    <p>Include the plugin stylesheet <code>jquery.dataTables.css</code> and other extensions inside the <code>&lt;head&gt;</code>. Please view <a href="{# ROOT #}partials/">Stylesheet inclusion guideline rules</a></p>
    <pre><code class="xml">&lt;link type=&quot;text/css&quot; rel=&quot;stylesheet&quot; href=&quot;assets/plugins/jquery-datatable/media/css/jquery.dataTables.css&quot;&gt;
    &lt;link type=&quot;text/css&quot; rel=&quot;stylesheet&quot; href=&quot;assets/plugins/jquery-datatable/extensions/FixedColumns/css/dataTables.fixedColumns.min.css&quot;&gt;
&lt;link media=&quot;screen&quot; type=&quot;text/css&quot; rel=&quot;stylesheet&quot; href=&quot;assets/plugins/datatables-responsive/css/datatables.responsive.css&quot;&gt;
</code></pre>
    <h5 class="semi-bold">Step two</h5>
    <p>Include the plugin javascript and extension files inside the
        <code>&lt;body&gt;</code>before core template script inclusions, if it's not there already. Please view <a href="{# ROOT #}partials/js_rules.html">jQuery plugin inclusion guideline rules</a>
    </p>
    <pre><code class="xml">&lt;script type=&quot;text/javascript&quot; src=&quot;assets/plugins/jquery-datatable/media/js/jquery.dataTables.min.js&quot;&gt;
&lt;script type=&quot;text/javascript&quot; src=&quot;assets/plugins/jquery-datatable/extensions/TableTools/js/dataTables.tableTools.min.js&quot;&gt;
&lt;script type=&quot;text/javascript&quot; src=&quot;assets/plugins/jquery-datatable/extensions/Bootstrap/jquery-datatable-bootstrap.js&quot;&gt;
&lt;script src=&quot;assets/plugins/datatables-responsive/js/datatables.responsive.js&quot; type=&quot;text/javascript&quot;&gt;
&lt;script src=&quot;assets/plugins/datatables-responsive/js/lodash.min.js&quot; type=&quot;text/javascript&quot;&gt;</code></pre>
    <h5 class="semi-bold">Step three</h5>
    <p>Create the markup for your table. You can also add <a href="http://getbootstrap.com/css/#tables">Bootstrap table classes</a> to customize the look</p>
    <pre><code class="xml">&lt;table id=&quot;myDataTable&quot; class=&quot;table table-hover&quot; cellspacing=&quot;0&quot; width=&quot;100%&quot;&gt;
    &lt;thead&gt;
        &lt;tr&gt;
            &lt;th&gt;Name&lt;/th&gt;
            &lt;th&gt;Position&lt;/th&gt;
            &lt;th&gt;Office&lt;/th&gt;
            &lt;th&gt;Age&lt;/th&gt;
            &lt;th&gt;Start date&lt;/th&gt;
            &lt;th&gt;Salary&lt;/th&gt;
        &lt;/tr&gt;
    &lt;/thead&gt;

    &lt;tfoot&gt;
        &lt;tr&gt;
            &lt;th&gt;Name&lt;/th&gt;
            &lt;th&gt;Position&lt;/th&gt;
            &lt;th&gt;Office&lt;/th&gt;
            &lt;th&gt;Age&lt;/th&gt;
            &lt;th&gt;Start date&lt;/th&gt;
            &lt;th&gt;Salary&lt;/th&gt;
        &lt;/tr&gt;
    &lt;/tfoot&gt;

    &lt;tbody&gt;
        &lt;tr&gt;
            &lt;td&gt;Tiger Nixon&lt;/td&gt;
            &lt;td&gt;System Architect&lt;/td&gt;
            &lt;td&gt;Edinburgh&lt;/td&gt;
            &lt;td&gt;61&lt;/td&gt;
            &lt;td&gt;2011/04/25&lt;/td&gt;
            &lt;td&gt;$320,800&lt;/td&gt;
        &lt;/tr&gt;
        &lt;tr&gt;
            &lt;td&gt;Garrett Winters&lt;/td&gt;
            &lt;td&gt;Accountant&lt;/td&gt;
            &lt;td&gt;Tokyo&lt;/td&gt;
            &lt;td&gt;63&lt;/td&gt;
            &lt;td&gt;2011/07/25&lt;/td&gt;
            &lt;td&gt;$170,750&lt;/td&gt;
        &lt;/tr&gt;
        &lt;tr&gt;
            &lt;td&gt;Ashton Cox&lt;/td&gt;
            &lt;td&gt;Junior Technical Author&lt;/td&gt;
            &lt;td&gt;San Francisco&lt;/td&gt;
            &lt;td&gt;66&lt;/td&gt;
            &lt;td&gt;2009/01/12&lt;/td&gt;
            &lt;td&gt;$86,000&lt;/td&gt;
        &lt;/tr&gt;
        &lt;tr&gt;
            &lt;td&gt;Cedric Kelly&lt;/td&gt;
            &lt;td&gt;Senior Javascript Developer&lt;/td&gt;
            &lt;td&gt;Edinburgh&lt;/td&gt;
            &lt;td&gt;22&lt;/td&gt;
            &lt;td&gt;2012/03/29&lt;/td&gt;
            &lt;td&gt;$433,060&lt;/td&gt;
        &lt;/tr&gt;
        &lt;tr&gt;
            &lt;td&gt;Airi Satou&lt;/td&gt;
            &lt;td&gt;Accountant&lt;/td&gt;
            &lt;td&gt;Tokyo&lt;/td&gt;
            &lt;td&gt;33&lt;/td&gt;
            &lt;td&gt;2008/11/28&lt;/td&gt;
            &lt;td&gt;$162,700&lt;/td&gt;
        &lt;/tr&gt;
        &lt;tr&gt;
            &lt;td&gt;Brielle Williamson&lt;/td&gt;
            &lt;td&gt;Integration Specialist&lt;/td&gt;
            &lt;td&gt;New York&lt;/td&gt;
            &lt;td&gt;61&lt;/td&gt;
            &lt;td&gt;2012/12/02&lt;/td&gt;
            &lt;td&gt;$372,000&lt;/td&gt;
        &lt;/tr&gt;
    &lt;/tbody&gt;
&lt;/table&gt;
</code></pre>
    <h5 class="semi-bold">Step four</h5>
    <p>Apply the plugin to your table.</p>
    <pre><code class="xml">&lt;script&gt;
$(document).ready(function() {
     $('#myDataTable').DataTable();
});
&lt;/script&gt;</code></pre>
    <br>
    <div class="alert alert-info">
        Use any of the following pre-configured settings to get DataTables customized to match your purpose. For more advanced options please refer to <a href="http://datatables.net/">DataTables Documentation</a></p>
    </div>
    <br>
    <h5>Table with a search box</h5>
    <pre><code class="xml">&lt;!-- Markup --&gt;
&lt;input type=&quot;text&quot; id=&quot;search-table&quot; class=&quot;form-control pull-right&quot; placeholder=&quot;Search&quot;&gt;

&lt;table class=&quot;table&quot; id=&quot;tableWithSearch&quot;&gt;
    ...
&lt;/table&gt;

&lt;!-- Apply the plugin --&gt;
&lt;script&gt;
var table = $('#tableWithSearch');

var settings = {
    &quot;sDom&quot;: &quot;&lt;'table-responsive't&gt;&lt;'row'&lt;p i&gt;&gt;&quot;,
    &quot;sPaginationType&quot;: &quot;bootstrap&quot;,
    &quot;destroy&quot;: true,
    &quot;scrollCollapse&quot;: true,
    &quot;oLanguage&quot;: {
        &quot;sLengthMenu&quot;: &quot;_MENU_ &quot;,
        &quot;sInfo&quot;: &quot;Showing &lt;b&gt;_START_ to _END_&lt;/b&gt; of _TOTAL_ entries&quot;
    },
    &quot;iDisplayLength&quot;: 5
};

table.dataTable();

// search box for table
$('#search-table').keyup(function() {
    table.fnFilter($(this).val());
});
&lt;/script&gt;</code></pre>
    <br>
    <h5>Table with dynamic rows</h5>
    <pre><code class="xml">&lt;!-- Markup --&gt;
&lt;button id=&quot;add-row&quot; type=&quot;button&quot; class=&quot;btn btn-primary&quot;&gt;Add New Row&lt;/button&gt;

&lt;table class=&quot;table&quot; id=&quot;tableWithDynamicRows&quot;&gt;
    &lt;thead&gt;
        &lt;tr&gt;
            &lt;th style=&quot;width:25%&quot;&gt;Column 1&lt;/th&gt;
            &lt;th style=&quot;width:30%&quot;&gt;Column 2&lt;/th&gt;
        &lt;/tr&gt;
    &lt;/thead&gt;
    &lt;tbody&gt;
        &lt;tr&gt;
            &lt;td&gt;Hello&lt;/td&gt;
            &lt;td&gt;there!&lt;/td&gt;
        &lt;/tr&gt;
    &lt;/tbody&gt;
&lt;/table&gt;

&lt;!-- Apply the plugin --&gt;
&lt;script&gt;
var table = $('#tableWithDynamicRows');

var settings = {
    &quot;sDom&quot;: &quot;&lt;'table-responsive't&gt;&lt;'row'&lt;p i&gt;&gt;&quot;,
    &quot;sPaginationType&quot;: &quot;bootstrap&quot;,
    &quot;destroy&quot;: true,
    &quot;scrollCollapse&quot;: true,
    &quot;oLanguage&quot;: {
        &quot;sLengthMenu&quot;: &quot;_MENU_ &quot;,
        &quot;sInfo&quot;: &quot;Showing &lt;b&gt;_START_ to _END_&lt;/b&gt; of _TOTAL_ entries&quot;
    },
    &quot;iDisplayLength&quot;: 5
};

table.dataTable(settings);

$('#add-row').click(function() {
    table.dataTable().fnAddData([
        &quot;Foo&quot;,
        &quot;Bar&quot;
    ]);
});
&lt;/script&gt;</code></pre>
    <br>
    <h5> Table with export options</h5>
    <pre><code class="xml">&lt;!-- Markup --&gt;
&lt;div class=&quot;export-options-container&quot;&gt;&lt;/div&gt;
&lt;table class=&quot;table&quot; id=&quot;tableWithExportOptions&quot;&gt;
    ...
&lt;/table&gt;

&lt;!-- Apply the plugin --&gt;
&lt;script&gt;
var table = $('#tableWithExportOptions');

var settings = {
    &quot;sDom&quot;: &quot;&lt;'exportOptions'T&gt;&lt;'table-responsive't&gt;&lt;'row'&lt;p i&gt;&gt;&quot;,
    &quot;sPaginationType&quot;: &quot;bootstrap&quot;,
    &quot;destroy&quot;: true,
    &quot;scrollCollapse&quot;: true,
    &quot;oLanguage&quot;: {
        &quot;sLengthMenu&quot;: &quot;_MENU_ &quot;,
        &quot;sInfo&quot;: &quot;Showing &lt;b&gt;_START_ to _END_&lt;/b&gt; of _TOTAL_ entries&quot;
    },
    &quot;iDisplayLength&quot;: 5,
    &quot;oTableTools&quot;: {
        &quot;sSwfPath&quot;: &quot;assets/plugins/jquery-datatable/extensions/TableTools/swf/copy_csv_xls_pdf.swf&quot;,
        &quot;aButtons&quot;: [{
            &quot;sExtends&quot;: &quot;csv&quot;,
            &quot;sButtonText&quot;: &quot;&lt;i class='pg-grid'&gt;&lt;/i&gt;&quot;,
        }, {
            &quot;sExtends&quot;: &quot;xls&quot;,
            &quot;sButtonText&quot;: &quot;&lt;i class='fa fa-file-excel-o'&gt;&lt;/i&gt;&quot;,
        }, {
            &quot;sExtends&quot;: &quot;pdf&quot;,
            &quot;sButtonText&quot;: &quot;&lt;i class='fa fa-file-pdf-o'&gt;&lt;/i&gt;&quot;,
        }, {
            &quot;sExtends&quot;: &quot;copy&quot;,
            &quot;sButtonText&quot;: &quot;&lt;i class='fa fa-copy'&gt;&lt;/i&gt;&quot;,
        }]
    },
    fnDrawCallback: function(oSettings) {
        $('.export-options-container').append($('.exportOptions'));
    }
};
table.dataTable(settings);
&lt;/script&gt;
</code></pre>
    <br>
    <br>
    <h5 class="section-sep">AngularJS users</h5>
    <h5 class="semi-bold m-t-25">Step One</h5>
    <p>Include the <code>dataTables</code> ocLazyLoad module in your dependency list of router config. Please refer to <a href="{# ROOT #}partials/angular_js.html">AngularJS guide</a> for more</p>
    <h5 class="semi-bold m-t-25">Step two</h5>
    <p>Set your table options in a scope variable</p>
    <pre><code class="js">$scope.options = {
    &quot;sDom&quot;: &quot;&lt;'table-responsive't&gt;&lt;'row'&lt;p i&gt;&gt;&quot;,
    &quot;sPaginationType&quot;: &quot;bootstrap&quot;,
    &quot;destroy&quot;: true,
    &quot;scrollCollapse&quot;: true,
    &quot;oLanguage&quot;: {
        &quot;sLengthMenu&quot;: &quot;_MENU_ &quot;,
        &quot;sInfo&quot;: &quot;Showing &lt;b&gt;_START_ to _END_&lt;/b&gt; of _TOTAL_ entries&quot;
    },
    &quot;iDisplayLength&quot;: 5
};</code></pre>
    <h5 class="semi-bold">Step three</h5>
    <p>Add following markup to your page. Use <code>ui-jq</code> and <code>ui-options</code> directives to apply dataTables plugin</p>
    <pre><code class="xml">&lt;table class=&quot;table&quot; ui-jq=&quot;dataTable&quot; ui-options=&quot;options&quot;&gt;
    ...
&lt;/table&gt;</code></pre>
</section>
<div class="well bs-ref clearfix">
    <span class="pull-left">For more options and methods </span><a class="btn btn-primary pull-right " target="_blank" href="http://datatables.net/">DataTables Documentation</a>
</div>