

<section id="accordians">
    <h3 class="page-title">Accordians</h3>
    <hr>
    <p>
        Accordians are created using <a href="#">Bootstrap Native Accordians</a>, they will work as the same way how it works in bootstrap, but it is styled to pages color scheme. To run a Bootstrap Accordians, there is no depencies, <a href="#">you do not have to include extra JS or CSS files</a>,To add a modal to pages please reffer following guidelines
    </p>
    <a href="http://getbootstrap.com/javascript/#collapse" target="_blank" class="btn btn-complete">Bootstrap Accordians Guideline</a>
    <br>
    <br>
    <div class="text-center">
    </div>
</section>
<section>
    <h3 class="section-sep">jQuery users</h3>
    <p class="m-b-15">
        Place this HTML code in any Pages html file
    </p>
   
    <pre><code class="xml">&lt;div class=&quot;panel panel-group panel-transparent&quot; data-toggle=&quot;collapse&quot; id=
&quot;accordion&quot;&gt;
  &lt;div class=&quot;panel panel-default&quot;&gt;
    &lt;div class=&quot;panel-heading&quot;&gt;
      &lt;h4 class=&quot;panel-title&quot;&gt;
        &lt;a class=&quot;collapsed&quot; data-parent=&quot;#accordion&quot; data-toggle=
        &quot;collapse&quot; href=&quot;#collapseOne&quot;&gt;Collapsible Group Item&lt;/a&gt;
      &lt;/h4&gt;
    &lt;/div&gt;
    &lt;div class=&quot;panel-collapse collapse&quot; id=&quot;collapseOne&quot;&gt;
      &lt;div class=&quot;panel-body&quot;&gt;
        Content Goes here
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class=&quot;panel panel-default&quot;&gt;
    &lt;div class=&quot;panel-heading&quot;&gt;
      &lt;h4 class=&quot;panel-title&quot;&gt;
        &lt;a class=&quot;&quot; data-parent=&quot;#accordion&quot; data-toggle=&quot;collapse&quot; href=
        &quot;#collapseTwo&quot;&gt;Typography Variables&lt;/a&gt;
      &lt;/h4&gt;
    &lt;/div&gt;
    &lt;div class=&quot;panel-collapse collapse in&quot; id=&quot;collapseTwo&quot;&gt;
      &lt;div class=&quot;panel-body&quot;&gt;
        &lt;h4&gt;Try Something neat&lt;/h4&gt;
        Content Goes here
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class=&quot;panel panel-default&quot;&gt;
    &lt;div class=&quot;panel-heading&quot;&gt;
      &lt;h4 class=&quot;panel-title&quot;&gt;
        &lt;a class=&quot;collapsed&quot; data-parent=&quot;#accordion&quot; data-toggle=
        &quot;collapse&quot; href=&quot;#collapseThree&quot;&gt;Easy Edit&lt;/a&gt;
      &lt;/h4&gt;
    &lt;/div&gt;
    &lt;div class=&quot;panel-collapse collapse&quot; id=&quot;collapseThree&quot;&gt;
      &lt;div class=&quot;panel-body&quot;&gt;
        Content Goes here
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;</code></pre>
    <br>
</section>