


<section id="buttons">
    <h3 class="page-title">Buttons</h3>
<hr>
    <h4>Colors</h4>
    <p>Pages buttons use the same contextual classes introduced in Bootstrap
    </p>
    <div class="example m-t-15">
        <p class="all-caps fs-12 bold">
            example :
        </p>
        <button class="btn btn-primary btn-cons m-b-10">Primary</button>
        <button class="btn btn-success btn-cons m-b-10">Success</button>
        <button class="btn btn-complete btn-cons m-b-10">Complete</button>
        <button class="btn btn-info btn-cons m-b-10">Info</button>
        <button class="btn btn-warning btn-cons m-b-10">Warning</button>
        <button class="btn btn-danger btn-cons m-b-10">Danger</button>
    </div>
    <pre><code class="xml">&lt;button class=&quot;btn btn-primary btn-cons&quot;&gt;Primary&lt;/button&gt;
&lt;button class=&quot;btn btn-success btn-cons&quot;&gt;Success&lt;/button&gt;
&lt;button class=&quot;btn btn-complete btn-cons&quot;&gt;Complete&lt;/button&gt;
&lt;button class=&quot;btn btn-info btn-cons&quot;&gt;Info&lt;/button&gt;
&lt;button class=&quot;btn btn-warning btn-cons&quot;&gt;Warning&lt;/button&gt;
&lt;button class=&quot;btn btn-danger btn-cons&quot;&gt;Danger&lt;/button&gt;</code></pre>
</section>
<section>
    <h4>Button animation</h4>
    <p>Content inside a button can be animate on hover. Simply include the classes
        <code>.btn-animated</code> together with <code>.from-top</code> or <code>.from-left</code> to specify the animation direction, followed by the desired <a href="">icon font</a> class name (ex: <code>fa fa-check</code>)
    </p>
    <div class="example m-t-15">
        <p class="all-caps fs-12 bold">
            example :
        </p>
        <button class="btn btn-primary btn-cons btn-animated from-left fa fa-check" type="button">
            <span>Checkbox</span>
        </button>
        <button class="btn btn-primary btn-cons btn-animated from-top pg pg-clock" type="button">
            <span>Clock</span>
        </button>
    </div>
    <pre><code class="xml">&lt;button class=&quot;btn btn-primary btn-animated from-left fa fa-check&quot; type=&quot;button&quot;&gt;
    &lt;span&gt;Checkbox&lt;/span&gt;
&lt;/button&gt;
&lt;button class=&quot;btn btn-primary btn-animated from-top pg pg-clock&quot; type=&quot;button&quot;&gt;
    &lt;span&gt;Clock&lt;/span&gt;
&lt;/button&gt;</code></pre>
</section>
<section>
    <h4>Default Dropdown</h4>
    <p>
        Tired of seeing the standard Bootstrap dropdown? Wrap your dropdown toggle button and dropdown menu within <code>.dropdown-default</code> to get a modern and clean feel
    </p>
    <div class="example m-t-15">
        <p class="all-caps fs-12 bold">
            example :
        </p>
        <div class="btn-group dropdown-default">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"> Dropdown <span class="caret"></span> </a>
            <ul class="dropdown-menu ">
                <li><a href="#">Arial</a>
                </li>
                <li><a href="#">Helvetica</a>
                </li>
                <li><a href="#">SegeoUI</a>
                </li>
            </ul>
        </div>
        <div class="btn-group dropdown-default dropup">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"> Dropdown <span class="caret"></span> </a>
            <ul class="dropdown-menu ">
                <li><a href="#">Arial</a>
                </li>
                <li><a href="#">Helvetica</a>
                </li>
                <li><a href="#">SegeoUI</a>
                </li>
            </ul>
        </div>
    </div>
    <pre><code class="xml">&lt;div class=&quot;btn-group dropdown-default&quot;&gt;
    &lt;a class=&quot;btn dropdown-toggle&quot; data-toggle=&quot;dropdown&quot; href=&quot;#&quot;&gt; Dropdown &lt;span class=&quot;caret&quot;&gt;&lt;/span&gt; &lt;/a&gt;
    &lt;ul class=&quot;dropdown-menu &quot;&gt;
        &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Arial&lt;/a&gt;
        &lt;/li&gt;
        &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Helvetica&lt;/a&gt;
        &lt;/li&gt;
        &lt;li&gt;&lt;a href=&quot;#&quot;&gt;SegeoUI&lt;/a&gt;
        &lt;/li&gt;
    &lt;/ul&gt;
&lt;/div&gt;
&lt;!-- Upside dropdown --&gt;
&lt;div class=&quot;btn-group dropdown-default dropup&quot;&gt;
    &lt;a class=&quot;btn dropdown-toggle&quot; data-toggle=&quot;dropdown&quot; href=&quot;#&quot;&gt; Dropdown &lt;span class=&quot;caret&quot;&gt;&lt;/span&gt; &lt;/a&gt;
    &lt;ul class=&quot;dropdown-menu &quot;&gt;
        &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Arial&lt;/a&gt;
        &lt;/li&gt;
        &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Helvetica&lt;/a&gt;
        &lt;/li&gt;
        &lt;li&gt;&lt;a href=&quot;#&quot;&gt;SegeoUI&lt;/a&gt;
        &lt;/li&gt;
    &lt;/ul&gt;
&lt;/div&gt;</code></pre>
</section>
<section>
    <h4>Tag Options</h4>
    <p>
        Add <code>.btn-tag</code> followed by <code>.btn-tag-light</code> or <code>.btn-tag-dark</code> to have tag options with color variations for buttons. Additionally, rounded tags can be achieved by adding <code>.btn-tag-rounded</code>
    </p>
    <div class="example m-t-15">
        <p class="all-caps fs-12 bold">
            example :
        </p>
        <!-- Tag with a light background -->
        <button class="btn btn-tag  btn-tag-light m-r-20">Link me</button>
        <!-- Tag with a dark background -->
        <button class="btn btn-tag  btn-tag-dark">Link me</button>
        <br>
        <br>
        <!-- Rounded tag with a light background -->
        <button class="btn btn-tag   btn-tag-light btn-tag-rounded m-r-20">Link me</button>
        <!-- Rounded tag with a dark background -->
        <button class="btn btn-tag   btn-tag-dark btn-tag-rounded">Link me</button>
    </div>
    <pre><code class="xml">&lt;!-- Tag with a light background --&gt;
&lt;button class=&quot;btn btn-tag  btn-tag-light m-r-20&quot;&gt;Link me&lt;/button&gt;
&lt;!-- Tag with a dark background --&gt;
&lt;button class=&quot;btn btn-tag  btn-tag-dark&quot;&gt;Link me&lt;/button&gt;
&lt;!-- Rounded tag with a light background --&gt;
&lt;button class=&quot;btn btn-tag   btn-tag-light btn-tag-rounded m-r-20&quot;&gt;Link me&lt;/button&gt;
&lt;!-- Rounded tag with a dark background --&gt;
&lt;button class=&quot;btn btn-tag   btn-tag-dark btn-tag-rounded&quot;&gt;Link me&lt;/button&gt;</code></pre>
</section>
<section>
    <h4>Rounded buttons</h4>
    <p>
        Any button can be made to have rounded corners by adding <code>.btn-rounded</code>
    </p>
    <div class="example m-t-15">
        <p class="all-caps fs-12 bold">
            example :
        </p>
        <!-- Large rounded button -->
        <button class="btn btn-lg btn-rounded m-r-20 m-b-10">Large rounded</button>
        <br>
        <!-- Regular rounded button -->
        <button class="btn btn-rounded m-b-10">Regular</button>
        <br>
        <!-- Small rounded button -->
        <button class="btn btn-sm btn-rounded">Small</button>
    </div>
    <pre><code class="xml">&lt;!-- Large rounded button --&gt;
&lt;button class=&quot;btn btn-lg btn-rounded&quot;&gt;Large rounded&lt;/button&gt;

&lt;!-- Regular rounded button --&gt;
&lt;button class=&quot;btn btn-rounded&quot;&gt;Regular&lt;/button&gt;

&lt;!-- Small rounded button --&gt;
&lt;button class=&quot;btn btn-sm btn-rounded&quot;&gt;Small&lt;/button&gt;</code></pre>
</section>
<div class="well bs-ref clearfix">
    <span class="pull-left">For native Bootstrap button classes </span><a class="btn btn-primary pull-right " target="_blank" href="http://getbootstrap.com/css/#buttons">Bootstrap Documentation</a>
</div>