

<section id="icons">
    <h3 class="page-title">Icons</h3>
    <hr>
    <p>
        Pages come with its very own pixel perfect font icons that is made specially for pages, this has over 50 icons to choose from.
        <br>We have also include the popular <a href="http://fortawesome.github.io/">Font Awesome</a> and <a href="#">Line Icons</a>. Currently it will scale up over Over <strong> 600 </strong> icons
    </p>
<br>
    <h4><a href="#pages-icon">
            Pages Icons
          </a>
          </h4>
    <p class="m-b-15">
        Follow these steps to include an icon on to your page
    </p>
    <h5 class="semi-bold">
            Step one
          </h5>
    <p>
        Check if the following Style sheet is already added inside the <code>&lt;head&gt;</code> tag
        <pre><code class="xml">&lt;link href=&quot;pages/css/pages-icon.css&quot; rel=&quot;stylesheet&quot; type=&quot;text/css&quot;&gt;</code></pre>
    </p>
    <div class="m-b-25"></div>
    <h5 class="semi-bold">
            Step two
          </h5>
    <p>
        Place the icon class in a <code>&lt;i&gt;&lt;/i&gt;</code> tag, pages icon prefix class starts with <code>pg-</code>. To view all classes in pages icon go to our <a href="http://pages.revox.io/dashboard/latest/html/icons.html">demo icons page</a>
        <p class="all-caps fs-12 bold">
            example :
        </p>
        <pre><code class="xml">&lt;i class=&quot;pg-social&quot;&gt;&lt;/i&gt;</code></pre>
    </p>
</section>
<section>
    <h4><a href="#fa">
            Font Awesome Icons
          </a>
          </h4>
    <p class="m-b-15">
        Follow these steps to include an icon on to your page
    </p>
    <h5 class="semi-bold">
            Step one
          </h5>
    <p>
        Check if the following Style sheet is already added inside the <code>&lt;head&gt;</code> tag
        <pre><code class="xml">&lt;link href=&quot;assets/plugins/font-awesome/css/font-awesome.css&quot; rel=&quot;stylesheet&quot; type=&quot;text/css&quot; /&gt;</code></pre>
    </p>
    <div class="m-b-25"></div>
    <h5 class="semi-bold">
            Step two
          </h5>
    <p>
        Place the icon class in a <code>&lt;i&gt;&lt;/i&gt;</code> tag, pages icon prefix class starts with <code>fa fa-</code>. To view all classes in Font Awesome go to our <a href="http://pages.revox.io/dashboard/latest/html/icons.html">demo icons page</a>
        <p class="all-caps fs-12 bold">
            example :
        </p>
        <pre><code class="xml">&lt;i class=&quot;fa fa-cloud&quot;&gt;&lt;/i&gt;</code></pre>
    </p>
</section>
<section>
    <h4><a href="#line">
           Simple Line Icons
            </a>
          </h4>
    <p class="m-b-15">
        Follow these steps to include an icon on to your page
    </p>
    <h5 class="semi-bold">
            Step one
          </h5>
    <p>
        Check if the following Style sheet is already added inside the <code>&lt;head&gt;</code> tag
        <pre><code class="xml">&lt;link href=&quot;assets/plugins/simple-line-icons/simple-line-icons.css&quot; rel=&quot;stylesheet&quot; type=&quot;text/css&quot; media=&quot;screen&quot;/&gt;</code></pre>
    </p>
    <div class="m-b-25"></div>
    <h5 class="semi-bold">
            Step two
          </h5>
    <p>
        Place the icon class in a <code>&lt;i&gt;&lt;/i&gt;</code> tag, pages icon prefix class starts with <code>sl-</code>. To view all classes in Simple Line icon go to our <a href="http://pages.revox.io/dashboard/latest/html/icons.html">demo icons page</a>
        <p class="all-caps fs-12 bold">
            example :
        </p>
        <pre><code class="xml">&lt;i class=&quot;sl-user&quot;&gt;&lt;/i&gt;</code></pre>
    </p>
</section>
<p>Other Useful resources thay you may find:</p>
<ul class="other-ref">
    <li><a href="{# ROOT #}partials/color.html">Pages Icon Search</a></li>
    <li><a href="http://fortawesome.github.io/Font-Awesome/icons/" target="_blank">Font Awesome Documentation</a></li>
</ul>