

<section id="modals">
    <h3 class="page-title">Modals</h3>
    <hr>
    <p>
        Modals are created using <a href="#">Bootstrap Native Modals</a>, they will work as the same way how it works in bootstrap, but it is styled to pages color scheme. To run a Bootstrap Modal, there is no depencies, <a href="#">you do not have to include extra JS or CSS files</a>,To add a modal to pages please reffer following guidelines
    </p>
    <a href="http://getbootstrap.com/javascript/#modals" target="_blank" class="btn btn-complete">Bootstrap Modals Guideline</a>
    <br>
    <br>
    <div class="text-center">
    </div>
</section>

<section>
    <h4><a href="#line">
           Modal Types
            </a>
          </h4>
    <p class="m-b-15">
        We have added new options to bootstrap modals and made even awesome, by simply changing a class name you can get the following. There 3 different modals to choose from with 3 different size options for each, varying upt 9 modals
    </p>
    <br>
    <section>
        <h5><a href="#line">
             Slide Up
              </a>
            </h5>
        <p class="m-b-15">
            Simply add the class <code>slide-up</code> to main <code>modal</code> DIV & wrap <code>modal-content</code> with <code>modal-content-wrapper</code>, Your HTML tag structure should look like this. You can change the <code>id</code> attribute of the modal to anything you want.
        </p>
        
        <pre><code class="xml">&lt;!-- Modal --&gt;
&lt;div class=&quot;modal fade slide-up disable-scroll&quot; id=&quot;modalSlideUp&quot; tabindex=&quot;-1&quot; role=&quot;dialog&quot; aria-labelledby=&quot;modalSlideUpLabel&quot; aria-hidden=&quot;false&quot;&gt;
    &lt;div class=&quot;modal-dialog &quot;&gt;
        &lt;div class=&quot;modal-content-wrapper&quot;&gt;
        &lt;div class=&quot;modal-content&quot;&gt;
            &lt;div class=&quot;modal-header clearfix text-left&quot;&gt;
                &lt;button type=&quot;button&quot; class=&quot;close&quot; data-dismiss=&quot;modal&quot; aria-hidden=&quot;true&quot;&gt;
                  &lt;i class=&quot;pg-close fs-14&quot;&gt;&lt;/i&gt;
                &lt;/button&gt;
                &lt;h5&gt;Heading &lt;span class=&quot;semi-bold&quot;&gt;here&lt;/span&gt;&lt;/h5&gt;
            &lt;/div&gt;
            &lt;div class=&quot;modal-body&quot;&gt;
                Add Your Content here
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;/div&gt;
        &lt;!-- /.modal-content --&gt;
    &lt;/div&gt;
&lt;/div&gt;
&lt;!-- /.modal-dialog --&gt;</code></pre>
    </section>
    <section>
        <h5><a href="#line">
             Stick Up
              </a>
            </h5>
        <p class="m-b-15">
            Simply add the class <code>stick-up</code> to main <code>modal</code> DIV. You can change the <code>id</code> attribute of the modal to anything you want.
        </p>
      
        <pre><code class="xml">&lt;!-- MODAL STICK UP  --&gt;
&lt;div class=&quot;modal fade stick-up&quot; id=&quot;myModal&quot; tabindex=&quot;-1&quot; role=&quot;dialog&quot; aria-labelledby=&quot;myModalLabel&quot; aria-hidden=&quot;true&quot;&gt;
    &lt;div class=&quot;modal-dialog&quot;&gt;
        &lt;div class=&quot;modal-content&quot;&gt;
            &lt;div class=&quot;modal-header clearfix text-left&quot;&gt;
                &lt;button type=&quot;button&quot; class=&quot;close&quot; data-dismiss=&quot;modal&quot; aria-hidden=&quot;true&quot;&gt;
                &lt;i class=&quot;pg-close fs-14&quot;&gt;&lt;/i&gt;
                &lt;/button&gt;
                &lt;h5&gt;Payment &lt;span class=&quot;semi-bold&quot;&gt;Information&lt;/span&gt;&lt;/h5&gt;
                &lt;p&gt;We need payment information inorder to process your order&lt;/p&gt;
            &lt;/div&gt;
            &lt;div class=&quot;modal-body&quot;&gt;
                &lt;form class=&quot;form-default&quot; role=&quot;form&quot;&gt;
                    &lt;div class=&quot;row&quot;&gt;
                        &lt;div class=&quot;col-sm-12&quot;&gt;
                            &lt;div class=&quot;form-group&quot;&gt;
                                &lt;label&gt;Company Name&lt;/label&gt;
                                &lt;input type=&quot;email&quot; class=&quot;form-control&quot; &gt;
                            &lt;/div&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                    &lt;div class=&quot;row&quot;&gt;
                        &lt;div class=&quot;col-sm-8&quot;&gt;
                            &lt;div class=&quot;form-group&quot;&gt;
                                &lt;label&gt;Card Number&lt;/label&gt;
                                &lt;input type=&quot;text&quot; class=&quot;form-control&quot; &gt;
                            &lt;/div&gt;
                        &lt;/div&gt;
                        &lt;div class=&quot;col-sm-4&quot;&gt;
                            &lt;div class=&quot;form-group&quot;&gt;
                                &lt;label&gt;Card Holder&lt;/label&gt;
                                &lt;input type=&quot;text&quot; class=&quot;form-control&quot; &gt;
                            &lt;/div&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                &lt;/form&gt;
                &lt;div class=&quot;row&quot;&gt;
                    &lt;div class=&quot;col-sm-9&quot;&gt;
                        &lt;div class=&quot;b-a b-grey b-rad-sm clearfix p-l-10 p-r-10&quot;&gt;
                            &lt;div class=&quot;pull-left&quot;&gt;
                                &lt;h5 class=&quot;semi-bold&quot;&gt;TOTAL&lt;/h5&gt;
                            &lt;/div&gt;
                            &lt;div class=&quot;pull-right&quot;&gt;
                                &lt;h5 class=&quot;light&quot;&gt;$20.00&lt;/h5&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                    &lt;div class=&quot;col-sm-3&quot;&gt;
                        &lt;button type=&quot;button&quot; class=&quot;btn btn-primary btn-lg btn-large btn-block&quot; data-dismiss=&quot;modal&quot;&gt;
                        PAY
                        &lt;/button&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;!-- /.modal-content --&gt;
    &lt;/div&gt;
    &lt;!-- /.modal-dialog --&gt;
&lt;/div&gt;
&lt;!-- END MODAL STICK UP  --&gt;</code></pre>
    </section>
    <section>
        <h5><a href="#line">
             Slide Right
              </a>
            </h5>
        <p class="m-b-15">
            Simply add the class <code>slide-right</code> to main <code>modal</code> DIV & wrap <code>modal-content</code> with <code>modal-content-wrapper</code>, Your HTML tag structure should look like this. You can change the <code>id</code> attribute of the modal to anything you want.
        </p>
       
        <pre><code class="xml">&lt;div class=&quot;modal fade slide-right&quot; id=&quot;modalSlideLeft&quot; tabindex=&quot;-1&quot; role=&quot;dialog&quot; aria-labelledby=&quot;myModalLabel&quot; aria-hidden=&quot;true&quot;&gt;
&lt;div class=&quot;modal-dialog modal-sm&quot;&gt;
    &lt;div class=&quot;modal-content-wrapper&quot;&gt;
        &lt;div class=&quot;modal-content table-block&quot;&gt;
            &lt;button type=&quot;button&quot; class=&quot;close&quot; data-dismiss=&quot;modal&quot; aria-hidden=&quot;true&quot;&gt;&lt;i class=&quot;pg-close fs-14&quot;&gt;&lt;/i&gt;&lt;/button&gt;
            &lt;div class=&quot;modal-body v-align-middle text-center   &quot;&gt;
                &lt;h5 class=&quot;text-primary &quot;&gt;Before you &lt;span class=&quot;semi-bold&quot;&gt;proceed&lt;/span&gt;, you have to login to make the necessary changes&lt;/h5&gt;
                &lt;br&gt;
                &lt;button type=&quot;button&quot; class=&quot;btn btn-primary btn-block&quot; data-dismiss=&quot;modal&quot;&gt;Continue&lt;/button&gt;
                &lt;button type=&quot;button&quot; class=&quot;btn btn-default btn-block&quot; data-dismiss=&quot;modal&quot;&gt;Cancel&lt;/button&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;!-- /.modal-content --&gt;
&lt;/div&gt;
&lt;!-- /.modal-dialog --&gt;
&lt;/div&gt;</code></pre>
    </section>
    <section>
        <h5><a href="#line">
             Fill In
              </a>
            </h5>
        <p class="m-b-15">
            Simply add the class <code>fill-in</code> to main <code>modal</code> DIV. You can change the <code>id</code> attribute of the modal to anything you want.
        </p>
       
        <pre><code class="xml">&lt;div class=&quot;modal fade fill-in&quot; id=&quot;modalFillIn&quot; tabindex=&quot;-1&quot; role=&quot;dialog&quot; aria-labelledby=&quot;modalFillInLabel&quot; aria-hidden=&quot;true&quot;&gt;
&lt;button type=&quot;button&quot; class=&quot;close&quot; data-dismiss=&quot;modal&quot; aria-hidden=&quot;true&quot;&gt;
    &lt;i class=&quot;pg-close&quot;&gt;&lt;/i&gt;
&lt;/button&gt;
&lt;div class=&quot;modal-dialog &quot;&gt;
    &lt;div class=&quot;modal-content&quot;&gt;
        &lt;div class=&quot;modal-header&quot;&gt;
            &lt;h5 class=&quot;text-left p-b-5&quot;&gt;&lt;span class=&quot;semi-bold&quot;&gt;News letter&lt;/span&gt; signup&lt;/h5&gt;
        &lt;/div&gt;
        &lt;div class=&quot;modal-body&quot;&gt;
            &lt;div class=&quot;row&quot;&gt;
                &lt;div class=&quot;col-md-9&quot;&gt;
                    &lt;input type=&quot;text&quot; placeholder=&quot;Your email address here&quot; class=&quot;form-control input-lg&quot; id=&quot;icon-filter&quot; name=&quot;icon-filter&quot;&gt;
                &lt;/div&gt;
                &lt;div class=&quot;col-md-3 text-center&quot;&gt;
                    &lt;button type=&quot;button&quot; class=&quot;btn btn-primary btn-lg btn-large fs-15&quot;&gt;Sign up&lt;/button&gt;
                &lt;/div&gt;
            &lt;/div&gt;
            &lt;p class=&quot;text-right hinted-text p-t-10 p-r-10&quot;&gt;What is it ? Terms and conditions&lt;/p&gt;
        &lt;/div&gt;
        &lt;div class=&quot;modal-footer&quot;&gt;

        &lt;/div&gt;
    &lt;/div&gt;
    &lt;!-- /.modal-content --&gt;
&lt;/div&gt;
&lt;!-- /.modal-dialog --&gt;
&lt;/div&gt;</code></pre>
    </section>
    <section>
        <h5><a href="#line">
             How to Open Bootstrap Modal
              </a>
            </h5>
        <p class="m-b-15">
            One method is to create a Link or Button with the following attributes
            <code>data-toggle="modal" data-target="#myModal"</code>
            <span class="text-danger fs-16">*</span> Make sure the data-target value to be the ID of your Modal</span>
        </p>
        <p class="all-caps fs-12 bold">
            example :
        </p>
        <pre><code class="xml">&lt;!-- Button trigger modal --&gt;
&lt;button class=&quot;btn btn-primary btn-lg&quot; data-toggle=&quot;modal&quot; data-target=&quot;#myModal&quot;&gt;
  Launch demo modal
&lt;/button&gt;
</pre></code>
    </section>
</section>
<div class="well bs-ref clearfix">
    <span class="pull-left">For Bootstrap Modal Options and Methods </span><a href="http://getbootstrap.com/javascript/#modals" target="_blank" class="btn btn-primary pull-right ">Bootstrap Documentation</a>
</div>
<p>Other Useful resources thay you may find:</p>
<ul class="other-ref">
    <li><a href="{# ROOT #}partials/color.html">Color options</a></li>
    <li><a href="{# ROOT #}partials/less.html">Working with LESS</a></li>
    <li><a href="{# ROOT #}partials/sass.html">Working with SASS</a></li>
</ul>