<section id="sliders">
    <h3 class="page-title">Sliders</h3>
    <hr>
    <p>Sliders in Pages are powered by <a href="http://refreshless.com/nouislider/">noUiSlider</a> and <a href="http://ionden.com/a/plugins/ion.rangeSlider/en.html">Ion.RangeSlider</a>, which are lightweight jQuery Range Slider plugins that come with tons of options and support for multiple devices.
    </p>
    <h4>noUiSlider</h4>
    <h5 class="section-sep">jQuery users</h5>
    <p class="m-b-15">Follow these steps to include noUiSlider in your page</p>
    <h5 class="semi-bold">Step one</h5>
    <p>Include stylesheet <code>jquery.nouislider.css</code> inside the <code>&lt;head&gt;</code>
        <pre><code class="xml">&lt;link media=&quot;screen&quot; type=&quot;text/css&quot; rel=&quot;stylesheet&quot; href=&quot;assets/plugins/jquery-nouislider/jquery.nouislider.css&quot;&gt;</code></pre>
    </p>
    <h5 class="semi-bold">Step two</h5>
    <p>
        Include the relevant javascript files inside the <code>&lt;body&gt;</code> before core template script inclusions
        <pre><code class="xml">&lt;script type=&quot;text/javascript&quot; src=&quot;assets/plugins/jquery-nouislider/jquery.nouislider.min.js&quot;&gt;
&lt;script type=&quot;text/javascript&quot; src=&quot;assets/plugins/jquery-nouislider/jquery.liblink.js&quot;&gt;</code></pre>
    </p>
    <h5 class="semi-bold">Step three</h5>
    <p>
        Apply the plugin to your desired element
    </p>
    <div class="example m-t-15">
        <p class="all-caps fs-12 bold">
            example :
        </p>
        <div id="noUiSlider" class="bg-master m-b-10"></div>
    </div>
    <pre>
<code class="xml">&lt;!-- Element to be used with the plugin --&gt;
&lt;div id=&quot;noUiSlider&quot; class=&quot;bg-master&quot;&gt;&lt;/div&gt;

&lt;script&gt;
$(document).ready(function() {
    // Apply the plugin to the element
    $(&quot;#noUiSlider&quot;).noUiSlider({
        start: 40,
        connect: &quot;lower&quot;,
        range: {
            &apos;min&apos;: 0,
            &apos;max&apos;: 100
        }
    });
});
&lt;/script&gt;</code></pre>
    <h5>Color options</h5>
    <p>Slider color can be changed by appending the pre-defined classes. Please refer to <a href="#">Color guide</a> for all the color options
    </p>
    <div class="example m-t-15">
        <p class="all-caps fs-12 bold">
            example :
        </p>
        <div id="noUiSliderOne" class="bg-danger m-b-10"></div>
        <br>
        <div id="noUiSliderTwo" class="bg-warning m-b-10"></div>
        <br>
        <div id="noUiSliderThree" class="bg-success m-b-10"></div>
    </div>
    <pre><code class="xml">&lt;div id=&quot;noUiSliderOne&quot; class=&quot;bg-danger&quot;&gt;&lt;/div&gt;
&lt;div id=&quot;noUiSliderTwo&quot; class=&quot;bg-warning&quot;&gt;&lt;/div&gt;
&lt;div id=&quot;noUiSliderThree&quot; class=&quot;bg-success&quot;&gt;&lt;/div&gt;</code></pre>
    <br>
</section>
<section>
    <h4>Ion.RangeSlider</h4>
    <h5 class="section-sep">jQuery users</h5>
    <p class="m-b-15">Follow these steps to include Ion.RangeSlider in your page</p>
    <h5 class="semi-bold">Step one</h5>
    <p>Include the necessary stylesheet files inside the <code>&lt;head&gt;</code>
        <pre><code class="xml">&lt;link media=&quot;screen&quot; type=&quot;text/css&quot; rel=&quot;stylesheet&quot; href=&quot;assets/plugins/ion-slider/css/ion.rangeSlider.css&quot;&gt;
&lt;link media=&quot;screen&quot; type=&quot;text/css&quot; rel=&quot;stylesheet&quot; href=&quot;assets/plugins/ion-slider/css/ion.rangeSlider.skinFlat.css&quot;&gt;</code></pre>
    </p>
    <h5 class="semi-bold">Step two</h5>
    <p>
        Include the relevant javascript files inside the <code>&lt;body&gt;</code> before core template script inclusions
        <pre><code class="xml">&lt;script type=&quot;text/javascript&quot; src=&quot;assets/plugins/ion-slider/js/ion.rangeSlider.min.js&quot;&gt;&lt;/script&gt;</code></pre>
    </p>
    <h5 class="semi-bold">Step three</h5>
    <p>
        Apply the plugin to your desired element
    </p>
    <div class="example m-t-15">
        <p class="all-caps fs-12 bold">
            example :
        </p>
        <div class="irs-wrapper">
            <input type="text" id="ionSlider" name="ionSlider" value="0;2057" />
        </div>
    </div>
    <pre>
<code class="xml">&lt;!-- Element to be used with the plugin --&gt;
&lt;div class=&quot;irs-wrapper&quot;&gt;
    &lt;input type=&quot;text&quot; id=&quot;ionSlider&quot; name=&quot;ionSlider&quot; value=&quot;0;2057&quot; /&gt;
&lt;/div&gt;

&lt;script&gt;
$(document).ready(function() {
    // Apply the plugin to the element
    $(&quot;#ionSlider&quot;).ionRangeSlider({
        min: 0,
        max: 5000,
        type: 'double',
        prefix: &quot;$&quot;,
        maxPostfix: &quot;+&quot;,
        prettify: false,
        hasGrid: true
    });
});
&lt;/script&gt;</code></pre>
    <h5>Color options</h5>
    <p>Slider color can be changed by appending the pre-defined classes.
    </p>
    <div class="example m-t-15">
        <p class="all-caps fs-12 bold">
            example :
        </p>
        <div class="irs-wrapper warning">
            <input type="text" id="ionSliderOne" name="ionSlider" value="0;2057" />
        </div>
        <br>
        <div class="irs-wrapper danger">
            <input type="text" id="ionSliderTwo" name="ionSlider" value="0;2057" />
        </div>
        <br>
        <div class="irs-wrapper complete">
            <input type="text" id="ionSliderFour" name="ionSlider" value="0;2057" />
        </div>
        <br>
        <div class="irs-wrapper success">
            <input type="text" id="ionSliderThree" name="ionSlider" value="0;2057" />
        </div>
        <br>
        <div class="irs-wrapper primary">
            <input type="text" id="ionSliderFour" name="ionSlider" value="0;2057" />
        </div>
    </div>
    <pre><code class="xml">&lt;div class=&quot;irs-wrapper warning&quot;&gt;
    &lt;input type=&quot;text&quot; id=&quot;ionSliderOne&quot; name=&quot;ionSlider&quot; value=&quot;0;2057&quot; /&gt;
&lt;/div&gt;

&lt;div class=&quot;irs-wrapper danger&quot;&gt;
    &lt;input type=&quot;text&quot; id=&quot;ionSliderTwo&quot; name=&quot;ionSlider&quot; value=&quot;0;2057&quot; /&gt;
&lt;/div&gt;

&lt;div class=&quot;irs-wrapper complete&quot;&gt;
    &lt;input type=&quot;text&quot; id=&quot;ionSliderFour&quot; name=&quot;ionSlider&quot; value=&quot;0;2057&quot; /&gt;
&lt;/div&gt;

&lt;div class=&quot;irs-wrapper success&quot;&gt;
    &lt;input type=&quot;text&quot; id=&quot;ionSliderThree&quot; name=&quot;ionSlider&quot; value=&quot;0;2057&quot; /&gt;
&lt;/div&gt;

&lt;div class=&quot;irs-wrapper primary&quot;&gt;
    &lt;input type=&quot;text&quot; id=&quot;ionSliderFour&quot; name=&quot;ionSlider&quot; value=&quot;0;2057&quot; /&gt;
&lt;/div&gt;</code></pre>
    <br>
</section>
<p>Other useful resources</p>
<ul class="other-ref">
    <li><a target="_blank" href="http://refreshless.com/nouislider/">noUiSlider Documentation</a></li>
    <li><a target="_blank" href="http://ionden.com/a/plugins/ion.rangeSlider/en.html">Ion.RangeSlider Documentation</a></li>
</ul>