

<section id="typography">
    <h3 class="page-title">
            Typography
          </h3>
    <hr>
    <p>
        Font rendering will deffer from browser to browser and even platform to platform and sometimes it will look good on a Mac and would look horrible on Windows, this is something we see in most of the websites, We took web framework to whole new level where it looks good in all devices! no matter what platform browser or device you will you use it will look great
    </p>
    <p>
        We Developed an algorithm that will automatically select which font is best rendered as for your operating system. This is how it the render performance looks like
    </p>
    <div class="alert alert-info">
        <strong><i class="fa fa-lightbulb-o"></i> Tip : Typography Performance</strong>
        <br> Pages framework is purely built using native OS fonts there by load impact on you page is really less when compared <a class="" data-content="And here's some amazing content. It's very engaging. Right?" data-toggle="popover" data-trigger="focus" href="#" tabindex="0" title="Dismissible popover">See Load</a>
    </div>
    <br>
    <br>
    <div class="text-center">
        <img alt="" src="{# ROOT #}assets/img/demo/typo_font_preview.svg" style="height: 350px;">
    </div>
    <br>
</section>
<br>
<br>
<br>
<section>
    <h4>
            Heading Fonts
          </h4>
    <table class="table table-condensed tabled-bordered">
        <thead>
            <tr>
                <th>
                    Platform
                </th>
                <th>
                    Base Font
                </th>
                <th>
                    Fall Back
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    Mac OSX
                </td>
                <td>
                    Helvetica Neue
                </td>
                <td>
                    Arial
                </td>
            </tr>
            <tr>
                <td>
                    Windows
                </td>
                <td>
                    SegeoUI
                </td>
                <td>
                    Arial
                </td>
            </tr>
            <tr>
                <td>
                    Linux
                </td>
                <td>
                    Ubuntu
                </td>
                <td>
                    Arial
                </td>
            </tr>
            <tr>
                <td>
                    iOS
                </td>
                <td>
                    Helvetica Neue
                </td>
                <td>
                    Arial
                </td>
            </tr>
            <tr>
                <td>
                    Android
                </td>
                <td>
                    Helvetica Neue
                </td>
                <td>
                    Arial
                </td>
            </tr>
            <tr>
                <td>
                    Windows Mobile
                </td>
                <td>
                    SegeoUI
                </td>
                <td>
                    Arial
                </td>
            </tr>
        </tbody>
    </table>
</section>
<section>
    <h4>
            Base Font
          </h4>
    <p>
        <strong>Arial</strong>, The best Universal Multi-purpose. 98% Rendering rate
        <br> The Arial® typeface : http://www.fonts.com/font/monotype/arial
    </p>
    <br>
    <h5>
            Other Fonts
          </h5>
    <p>
        MONTSERRAT
        <br> The Montserrat® typeface : http://www.google.com/ fonts/specimen/Montserrat
    </p>
</section>
<section>
    <h4>
            <a href="#font-color-classes">Font Color Classes</a>
          </h4>
    <p>
        You can add these classes to any element and its color of the font will change
    </p>
    <br>
    <div class="row">
        <div class="col-sm-3">
            <p class="text-heading-color">
                Heading color
            </p>
            <div class="bg-master-darkest b-a b-grey">
                <div class="bg-white m-t-45 padding-10">
                    <div class="hint-text clearfix">
                        <p class="small v-align-middle pull-left">
                            .text-black
                        </p>
                        <p class="small text-right v-align-middle pull-right">
                            #2c2c2c
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <p class="">
                Body text
            </p>
            <div class="bg-master b-a b-grey">
                <div class="bg-white m-t-45 padding-10">
                    <div class="clearfix hint-text">
                        <p class="small v-align-middle pull-left no-margin">
                            Default
                        </p>
                        <p class="small text-right v-align-middle pull-right no-margin">
                            #626262
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <p class="">
                Hinted text
            </p>
            <div class="b-a b-grey" style="background-color:#939393">
                <div class="bg-white m-t-45 padding-10">
                    <div class="clearfix hint-text">
                        <p class="small v-align-middle pull-left no-margin">
                            .hint-text
                        </p>
                        <p class="small text-right v-align-middle pull-right no-margin">
                            #2c2c2c
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <p class="text-heading-color">
                Primary color
            </p>
            <div class="bg-primary b-a b-grey">
                <div class="bg-white m-t-45 padding-10">
                    <div class="clearfix text-black hint-text">
                        <p class="small v-align-middle pull-left no-margin">
                            .text-primary
                        </p>
                        <p class="small text-right v-align-middle pull-righ no-margin">
                            #62549a
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-3">
            <p class="">
                Success color
            </p>
            <div class="bg-success b-a b-grey">
                <div class="bg-white m-t-45 padding-10">
                    <div class="clearfix hint-text">
                        <p class="small v-align-middle pull-left no-margin">
                            .text-success
                        </p>
                        <p class="small text-right v-align-middle pull-right no-margin">
                            #4aa9e9
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <p class="">
                Complete color
            </p>
            <div class="bg-complete b-a b-grey">
                <div class="bg-white m-t-45 padding-10">
                    <div class="clearfix hint-text">
                        <p class="small v-align-middle pull-left no-margin">
                            .text-complete
                        </p>
                        <p class="small text-right v-align-middle pull-right no-margin">
                            #23b9a9
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <p class="text-heading-color">
                Danger color
            </p>
            <div class="bg-danger b-a b-grey">
                <div class="bg-white m-t-45 padding-10">
                    <div class="clearfix hint-text">
                        <p class="small v-align-middle pull-left no-margin">
                            .text-danger
                        </p>
                        <p class="small text-right v-align-middle pull-right no-margin">
                            #ce4e4d
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <p class="">
                Warning color
            </p>
            <div class="bg-warning b-a b-grey">
                <div class="bg-white m-t-45 padding-10">
                    <div class="clearfix hint-text">
                        <p class="small v-align-middle pull-left no-margin">
                            .text-warning
                        </p>
                        <p class="small text-right v-align-middle pull-right no-margin">
                            #eac459
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <p class="all-caps fs-12 bold">
        example :
    </p>
    <pre><code class="xml">&lt;!-- In Paragraph --&gt;
&lt;p class=&quot;text-primary&quot;&gt;Font Colour Changes! &lt;/p&gt;

&lt;!-- In any other tag --&gt;
&lt;div class=&quot;text-success&quot;&gt;Font Colour Changes! &lt;/div&gt;</code></pre>
</section>
<section>
    <h4>
            <a href="#font-color-classes">Font Size Classes</a>
          </h4>
    <p class="m-b-15">
        If you wish to change the default font size, then you can apply the following classes
    </p>
    <div class="example">
        <p class="all-caps fs-12 bold">
            example :
        </p>
        <!-- In Font Size 12 -->
        <p class="fs-12">Font Size 12px </p>
        <!-- In Font Size 13 -->
        <p class="fs-13">Font Size 13px </p>
        <!-- In Font Size 14 -->
        <p class="fs-14">Font Size 14px </p>
        <!-- In Font Size 15 -->
        <p class="fs-15">Font Size 15px </p>
        <!-- In Font Size 16 -->
        <p class="fs-16">Font Size 16px </p>
    </div>
    <pre><code class="xml">&lt;!-- In Font Size 12 --&gt;
&lt;p class=&quot;fs-12&quot;&gt;Font Size 12px &lt;/p&gt;

&lt;!-- In Font Size 13 --&gt;
&lt;p class=&quot;fs-13&quot;&gt;Font Size 13px &lt;/p&gt;

&lt;!-- In Font Size 14 --&gt;
&lt;p class=&quot;fs-14&quot;&gt;Font Size 14px &lt;/p&gt;

&lt;!-- In Font Size 15 --&gt;
&lt;p class=&quot;fs-15&quot;&gt;Font Size 15px &lt;/p&gt;

&lt;!-- In Font Size 16 --&gt;
&lt;p class=&quot;fs-16&quot;&gt;Font Size 16px &lt;/p&gt;</code></pre>
</section>
<section>
    <h4>
            <a href="#font-color-classes">Font Weights</a>
          </h4>
    <p class="m-b-15">
        Try out different font weights, this can be applied if the font supports it only, works partial support for Arial - Paragraphs Full support for Headings
    </p>
    <div class="example">
        <p class="all-caps fs-12 bold">
            example :
        </p>
        <!-- Heading Light Weight -->
        <h5 class="light">Thinnest</h5>
        <!-- Heading Semi-bold Weight -->
        <h5 class="semi-bold">Semi-bold</h5>
        <!-- Heading bold Weight -->
        <h5 class="bold">Most Boldest</h5>
    </div>
    <pre><code class="xml">&lt;!-- Heading Light Weight --&gt;
&lt;h5 class=&quot;light&quot;&gt;Thinnest&lt;/h5&gt;

&lt;!-- Heading Semi-bold Weight --&gt;
&lt;h5 class=&quot;semi-bold&quot;&gt;Semi-bold&lt;/h5&gt;

&lt;!-- Heading bold Weight --&gt;
&lt;h5 class=&quot;bold&quot;&gt;Most Boldest&lt;/h5&gt;</code></pre>
</section>
<section>
    <h4>
            <a href="#font-color-classes">Font Face Switching</a>
          </h4>
    <p class="m-b-15">
        Apply heading font to paragraph or apply paragraph font to heading, you can switch it either way
    </p>
    <div class="example">
        <p class="all-caps fs-12 bold">
            example :
        </p>
        <!-- Heading with Arial font -->
        <h5 class="font-arial">Im now Arial</h5>
        <!-- Paragraph with heading font -->
        <p class="font-montserrat">I look different now</p>
    </div>
    <pre><code class="xml">&lt;!-- Heading with Arial font --&gt;
&lt;h5 class=&quot;font-arial&quot;&gt;Im now Arial&lt;/h5&gt;

&lt;!-- Paragraph with heading font --&gt;
&lt;p class=&quot;font-montserrat&quot;&gt;I look different now&lt;/p&gt;</code></pre>
</section>
<div class="well bs-ref clearfix">
    <span class="pull-left">For native Bootstrap typography classes </span><a href="http://getbootstrap.com/css/#type" target="_blank" class="btn btn-primary pull-right ">Bootstrap Documentation</a>
</div>
<p>Other Useful resources thay you may find:</p>
<ul class="other-ref">
    <li><a href="{# ROOT #}partials/color.html">Color options</a></li>
    <li><a href="{# ROOT #}partials/less.html">Working with LESS</a></li>
    <li><a href="{# ROOT #}partials/sass.html">Working with SASS</a></li>
</ul>