<section id="support">
    <h3 class="page-title">Support</h3>
    <hr>
    <p>
        You can request for support via email or themeforest comments
    </p>
    <p>
        We will assist you any problem you face while buidling your app via Pages framework
    </p><br>
    <a href="http://help.revox.io/" class="btn btn-white" href=""><i class="fa-users fa"></i> Help Commnunity</a> 

    <a class="btn btn-white" href="http://themeforest.net/item/pages-admin-dashboard-template-web-app/9694847/comments"><i class="pg-comment"></i> Themeforest Comments</a>
     <a class="btn btn-white" href="mailto:support@revox.io"><i class=" pg-mail"></i> support@revox.io</a>

</section>