    <!-- START Calendar Events Form -->
    <div class="quickview-wrapper calendar-event" id="calendar-event">
      <div class="view-port clearfix" id="eventFormController">
        <div class="view bg-white">
          <div class="scrollable">
            <div class="p-l-30 p-r-30 p-t-20">
              <a class="pg-close text-master link pull-right" data-toggle="quickview" data-toggle-element="#calendar-event" href="#"></a>
              <h4 id="event-date">&amp;</h4>
              <div class="m-b-20">
                <i class="fa fa-clock-o"></i>
                <span id="lblfromTime"></span> to
                <span id="lbltoTime"></span>
              </div>
            </div>
            <div class="p-t-15">
              <input id="eventIndex" name="eventIndex" type="hidden">
              <div class="form-group-attached">
                <div class="form-group form-group-default ">
                  <label>Title</label>
                  <input type="text" class="form-control" id="txtEventName" name="" placeholder="event name">
                </div>
                <div class="row clearfix">
                  <div class="col-sm-9">
                    <div class="form-group form-group-default">
                      <label>Location</label>
                      <input type="text" class="form-control" id="txtEventLocation" placeholder="name of place" name="">
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group form-group-default">
                      <label>Code</label>
                      <input type="text" class="form-control" id="txtEventCode" name="lastName">
                    </div>
                  </div>
                </div>
                <div class="row clearfix">
                  <div class="form-group form-group-default">
                    <label>Note</label>
                    <textarea class="form-control" placeholder="description" id="txtEventDesc"></textarea>
                  </div>
                </div>
                <div class="row clearfix cursor">
                  <div class="form-group form-group-default" data-navigate="view" data-view-port="#eventFormController" data-view-animation="push-parrallax">
                    <label>Alerts</label>
                    <div class="p-t-10">
                      <span class="pull-right p-r-10 p-b-5"><i class="pg-arrow_right"></i></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="p-l-30 p-r-30 p-t-30">
              <button id="eventSave" class="btn btn-warning btn-cons">Save Event</button>
              <button id="eventDelete" class="btn btn-white"><i class="fa fa-trash-o"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="view bg-white">
          <div class="navbar navbar-default navbar-sm">
            <div class="navbar-inner">
              <a href="javascript:;" class="inline action p-l-10 link text-master" data-navigate="view" data-view-port="#eventFormController" data-view-animation="push-parrallax">
                <i class="pg-arrow_left"></i>
              </a>
              <div class="view-heading">
                <span class="font-montserrat text-uppercase fs-13">Alerts</span>
              </div>
              <a href="#" class="inline action p-r-10 pull-right link text-master">
                <i class="pg-search"></i>
              </a>
            </div>
          </div>
          <p class="p-l-30 p-r-30 p-t-30"> This is a Demo</p>
        </div>
      </div>
    </div>
    <!-- END Calendar Events Form -->