<div class="full-height" id="calendar_lang"></div>
<!-- END CALENDAR -->
<!-- START EVENT MANAGER -->
{% include PATH + "pages/calendar/_calendar-event-manager.tpl" %}
<!-- START EVENT MANAGER -->
{% include PATH + "pages/calendar/_calendar_locale_manager.tpl" %}
