      <!-- START CALENDAR -->
      <div id="calendar_lazy" class="full-height"></div>
      <!-- END CALENDAR -->
      <!-- START EVENT MANAGER -->
      {% include PATH + "pages/calendar/_calendar-event-manager.tpl" %}
      <!-- START EVENT MANAGER -->