!!!
%html
  %head
    %meta{:content => "text/html;charset=UTF-8", "http-equiv" => "content-type"}/
    %meta{:charset => "utf-8"}/
    %title Pages - Admin Dashboard UI Kit
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", :name => "viewport"}/
    %link{:href => "pages/ico/60.png", :rel => "apple-touch-icon"}
      %link{:href => "pages/ico/76.png", :rel => "apple-touch-icon", :sizes => "76x76"}
        %link{:href => "pages/ico/120.png", :rel => "apple-touch-icon", :sizes => "120x120"}
          %link{:href => "pages/ico/152.png", :rel => "apple-touch-icon", :sizes => "152x152"}
            %link{:href => "favicon.ico", :rel => "icon", :type => "image/x-icon"}/
            %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}
              %meta{:content => "yes", :name => "apple-touch-fullscreen"}
                %meta{:content => "default", :name => "apple-mobile-web-app-status-bar-style"}
                  %meta{:content => "", :name => "description"}/
                  %meta{:content => "", :name => "author"}/
                  %link{:href => "assets/plugins/pace/pace-theme-flash.css", :rel => "stylesheet", :type => "text/css"}/
                  %link{:href => "assets/plugins/bootsrapv3/css/bootstrap.min.css", :rel => "stylesheet", :type => "text/css"}/
                  %link{:href => "assets/plugins/font-awesome/css/font-awesome.css", :rel => "stylesheet", :type => "text/css"}/
                  %link{:href => "assets/plugins/jquery-scrollbar/jquery.scrollbar.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
                  %link{:href => "assets/plugins/bootstrap-select2/select2.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
                  %link{:href => "assets/plugins/switchery/css/switchery.min.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
                  %link{:href => "pages/css/pages-icons.css", :rel => "stylesheet", :type => "text/css"}
                    %link.main-stylesheet{:href => "pages/css/pages.css", :rel => "stylesheet", :type => "text/css"}/
                    /[if lte IE 9]
                      <link href="pages/css/ie9.css" rel="stylesheet" type="text/css" />
                    :javascript
                      window.onload = function()
                      {
                        // fix for windows 8
                        if (navigator.appVersion.indexOf("Windows NT 6.2") != -1)
                          document.head.innerHTML += ''
                      }
                        %body.fixed-header.error-page
    .container-xs-height.full-height
      .row-xs-height
        .col-xs-height.col-middle
          .error-container.text-center
            %h1.error-number 500
            %h2.semi-bold Sorry but we couldnt find this page
            %p
              This page you are looking for does not exsist
              %a{:href => "#"} Report this?
            .error-container-innner.text-center
              %form
                .form-group.form-group-default.input-group.transparent.text-left
                  %label Search
                  %input.form-control{:placeholder => "Try searching the missing page", :type => "email"}
                    %span.input-group-addon.pg-search
    .pull-bottom.sm-pull-bottom.full-width
      .error-container
        .error-container-innner
          .m-b-30.sm-m-t-20.sm-p-r-15.sm-p-b-20.clearfix
            .col-sm-3.no-padding
              %img.m-t-5{:alt => "", "data-src" => "assets/img/demo/pages_icon.png", "data-src-retina" => "assets/img/demo/pages_icon_2x.png", :height => "60", :src => "assets/img/demo/pages_icon.png", :width => "60"}
            .col-sm-9.no-padding
              %p
                %small
                  Create a pages account. If you have a facebook account, log into it for this process.
                  Sign in with
                  %a{:href => "#"} Facebook
                  or
                  %a{:href => "#"} Google
    / END PAGE CONTAINER
    / BEGIN VENDOR JS
    %script{:src => "assets/plugins/pace/pace.min.js", :type => "text/javascript"}
    %script{:src => "assets/plugins/jquery/jquery-1.8.3.min.js", :type => "text/javascript"}
    %script{:src => "assets/plugins/modernizr.custom.js", :type => "text/javascript"}
    %script{:src => "assets/plugins/jquery-ui/jquery-ui.min.js", :type => "text/javascript"}
    %script{:src => "assets/plugins/bootsrapv3/js/bootstrap.min.js", :type => "text/javascript"}
    %script{:src => "assets/plugins/jquery/jquery-easy.js", :type => "text/javascript"}
    %script{:src => "assets/plugins/jquery-unveil/jquery.unveil.min.js", :type => "text/javascript"}
    %script{:src => "assets/plugins/jquery-bez/jquery.bez.min.js"}
    %script{:src => "assets/plugins/jquery-ios-list/jquery.ioslist.min.js", :type => "text/javascript"}
    %script{:src => "assets/plugins/jquery-actual/jquery.actual.min.js"}
    %script{:src => "assets/plugins/jquery-scrollbar/jquery.scrollbar.min.js"}
    %script{:src => "assets/plugins/bootstrap-select2/select2.min.js", :type => "text/javascript"}
    %script{:src => "assets/plugins/classie/classie.js", :type => "text/javascript"}
    %script{:src => "assets/plugins/switchery/js/switchery.min.js", :type => "text/javascript"}
    / END VENDOR JS
    / BEGIN CORE TEMPLATE JS
    %script{:src => "pages/js/pages.min.js"}
    / END CORE TEMPLATE JS
    / BEGIN PAGE LEVEL JS
    %script{:src => "assets/js/scripts.js", :type => "text/javascript"}
    / END PAGE LEVEL JS