!!!
%html
  %head
    %meta{:content => "text/html;charset=UTF-8", "http-equiv" => "content-type"}/
    %meta{:charset => "utf-8"}/
    %title Pages - Admin Dashboard UI Kit
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", :name => "viewport"}/
    %link{:href => "pages/ico/60.png", :rel => "apple-touch-icon"}
      %link{:href => "pages/ico/76.png", :rel => "apple-touch-icon", :sizes => "76x76"}
        %link{:href => "pages/ico/120.png", :rel => "apple-touch-icon", :sizes => "120x120"}
          %link{:href => "pages/ico/152.png", :rel => "apple-touch-icon", :sizes => "152x152"}
            %link{:href => "favicon.ico", :rel => "icon", :type => "image/x-icon"}/
            %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}
              %meta{:content => "yes", :name => "apple-touch-fullscreen"}
                %meta{:content => "default", :name => "apple-mobile-web-app-status-bar-style"}
                  %meta{:content => "", :name => "description"}/
                  %meta{:content => "", :name => "author"}/
                  %link{:href => "assets/plugins/pace/pace-theme-flash.css", :rel => "stylesheet", :type => "text/css"}/
                  %link{:href => "assets/plugins/bootsrapv3/css/bootstrap.min.css", :rel => "stylesheet", :type => "text/css"}/
                  %link{:href => "assets/plugins/font-awesome/css/font-awesome.css", :rel => "stylesheet", :type => "text/css"}/
                  %link{:href => "assets/plugins/jquery-scrollbar/jquery.scrollbar.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
                  %link{:href => "assets/plugins/bootstrap-select2/select2.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
                  %link{:href => "assets/plugins/switchery/css/switchery.min.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
                  %link{:href => "pages/css/pages-icons.css", :rel => "stylesheet", :type => "text/css"}
                    %link.main-stylesheet{:href => "pages/css/pages.css", :rel => "stylesheet", :type => "text/css"}/
                    /[if lte IE 9]
                      <link href="pages/css/ie9.css" rel="stylesheet" type="text/css" />
                    :javascript
                      window.onload = function()
                      {
                        // fix for windows 8
                        if (navigator.appVersion.indexOf("Windows NT 6.2") != -1)
                          document.head.innerHTML += ''
                      }
                        %body.fixed-header
    / BEGIN SIDEBPANEL
    %nav.page-sidebar{"data-pages" => "sidebar"}
      / BEGIN SIDEBAR MENU TOP TRAY CONTENT
      #appMenu.sidebar-overlay-slide.from-top
        .row
          .col-xs-6.no-padding
            %a.p-l-40{:href => "#"}
              %img{:alt => "socail", :src => "assets/img/demo/social_app.svg"}
          .col-xs-6.no-padding
            %a.p-l-10{:href => "#"}
              %img{:alt => "socail", :src => "assets/img/demo/email_app.svg"}
        .row
          .col-xs-6.m-t-20.no-padding
            %a.p-l-40{:href => "#"}
              %img{:alt => "socail", :src => "assets/img/demo/calendar_app.svg"}
          .col-xs-6.m-t-20.no-padding
            %a.p-l-10{:href => "#"}
              %img{:alt => "socail", :src => "assets/img/demo/add_more.svg"}
      / END SIDEBAR MENU TOP TRAY CONTENT
      / BEGIN SIDEBAR MENU HEADER
      .sidebar-header
        %img.brand{:alt => "logo", "data-src" => "assets/img/logo_white.png", "data-src-retina" => "assets/img/logo_white_2x.png", :height => "22", :src => "assets/img/logo_white.png", :width => "78"}
          .sidebar-header-controls
            %button.btn.btn-xs.sidebar-slide-toggle.btn-link.m-l-20{"data-pages-toggle" => "#appMenu", :type => "button"}
              %i.fa.fa-angle-down.fs-16
            %button.btn.btn-link.visible-lg-inline{"data-toggle-pin" => "sidebar", :type => "button"}
              %i.fa.fs-12
      / END SIDEBAR MENU HEADER
      / START SIDEBAR MENU
      .sidebar-menu
        / BEGIN SIDEBAR MENU ITEMS
        %ul.menu-items
          %li.m-t-30
            %a.detailed{:href => "index.html"}
              %span.title Dashboard
              %span.details 12 New Updates
            %span.icon-thumbnail.bg-success
              %i.pg-home
          %li
            %a.detailed{:href => "email.html"}
              %span.title Email
              %span.details 234 New Emails
            %span.icon-thumbnail
              %i.pg-mail
          %li
            %a{:href => "social.html"}
              %span.title Social
            %span.icon-thumbnail
              %i.pg-social
          %li
            %a{:href => "calendar.html"}
              %span.title Calendar
            %span.icon-thumbnail
              %i.pg-calender
          %li.active.open
            %a{:href => "builder.html"}
              %span.title Builder
            %span.icon-thumbnail
              %i.pg-layouts
          %li
            %a{:href => "javascript:;"}
              %span.title UI Elements
              %span.arrow
            %span.icon-thumbnail Ui
            %ul.sub-menu
              %li
                %a{:href => "color.html"} Color
                %span.icon-thumbnail c
              %li
                %a{:href => "typography.html"} Typography
                %span.icon-thumbnail t
              %li
                %a{:href => "icons.html"} Icons
                %span.icon-thumbnail i
              %li
                %a{:href => "buttons.html"} Buttons
                %span.icon-thumbnail b
              %li
                %a{:href => "notifications.html"} Notifications
                %span.icon-thumbnail n
              %li
                %a{:href => "modals.html"} Modals
                %span.icon-thumbnail m
              %li
                %a{:href => "progress.html"} Progress &amp; Activity
                %span.icon-thumbnail pa
              %li
                %a{:href => "tabs_accordian.html"} Tabs &amp; Accordions
                %span.icon-thumbnail ta
              %li
                %a{:href => "sliders.html"} Sliders
                %span.icon-thumbnail s
              %li
                %a{:href => "tree_view.html"} Tree View
                %span.icon-thumbnail tv
              %li
                %a{:href => "nestables.html"} Nestable
                %span.icon-thumbnail ns
          %li
            %a{:href => "javascript:;"}
              %span.title Forms
              %span.arrow
            %span.icon-thumbnail
              %i.pg-form
            %ul.sub-menu
              %li
                %a{:href => "form_elements.html"} Form Elements
                %span.icon-thumbnail fe
              %li
                %a{:href => "form_layouts.html"} Form Layouts
                %span.icon-thumbnail fl
              %li
                %a{:href => "form_wizard.html"} Form Wizard
                %span.icon-thumbnail fw
          %li
            %a{:href => "portlets.html"}
              %span.title Portlets
            %span.icon-thumbnail
              %i.pg-grid
          %li
            %a{:href => "javascript:;"}
              %span.title Tables
              %span.arrow
            %span.icon-thumbnail
              %i.pg-tables
            %ul.sub-menu
              %li
                %a{:href => "tables.html"} Basic Tables
                %span.icon-thumbnail bt
              %li
                %a{:href => "datatables.html"} Data Tables
                %span.icon-thumbnail dt
          %li
            %a{:href => "javascript:;"}
              %span.title Maps
              %span.arrow
            %span.icon-thumbnail
              %i.pg-map
            %ul.sub-menu
              %li
                %a{:href => "google_map.html"} Google Maps
                %span.icon-thumbnail gm
              %li
                %a{:href => "vector_map.html"} Vector Maps
                %span.icon-thumbnail vm
          %li
            %a{:href => "charts.html"}
              %span.title Charts
            %span.icon-thumbnail
              %i.pg-charts
          %li
            %a{:href => "javascript:;"}
              %span.title Extra
              %span.arrow
            %span.icon-thumbnail
              %i.pg-bag
            %ul.sub-menu
              %li
                %a{:href => "invoice.html"} Invoice
                %span.icon-thumbnail in
              %li
                %a{:href => "404.html"} 404 Page
                %span.icon-thumbnail pg
              %li
                %a{:href => "500.html"} 500 Page
                %span.icon-thumbnail pg
              %li
                %a{:href => "blank_template.html"} Blank Page
                %span.icon-thumbnail bp
              %li
                %a{:href => "login.html"} Login
                %span.icon-thumbnail l
              %li
                %a{:href => "register.html"} Register
                %span.icon-thumbnail re
              %li
                %a{:href => "lock_screen.html"} Lockscreen
                %span.icon-thumbnail ls
          %li
            %a{:href => "javascript:;"}
              %span.title Menu Levels
              %span.arrow
            %span.icon-thumbnail
              %i.pg-menu_lv
            %ul.sub-menu
              %li
                %a{:href => "javascript:;"} Level 1
                %span.icon-thumbnail L1
              %li
                %a{:href => "javascript:;"}
                  %span.title Level 2
                  %span.arrow
                %span.icon-thumbnail L2
                %ul.sub-menu
                  %li
                    %a{:href => "javascript:;"} Sub Menu
                    %span.icon-thumbnail Sm
                  %li
                    %a{:href => "ujavascript:;"} Sub Menu
                    %span.icon-thumbnail Sm
        .clearfix
      / END SIDEBAR MENU
    / END SIDEBAR
    / END SIDEBPANEL
    / START PAGE-CONTAINER
    .page-container.full-height
      / START HEADER
      .header
        / START MOBILE CONTROLS
        / LEFT SIDE
        .pull-left.full-height.visible-sm.visible-xs
          / START ACTION BAR
          .sm-action-bar
            %a.btn-link.toggle-sidebar{"data-toggle" => "sidebar", :href => "#"}
              %span.icon-set.menu-hambuger
          / END ACTION BAR
        / RIGHT SIDE
        .pull-right.full-height.visible-sm.visible-xs
          / START ACTION BAR
          .sm-action-bar
            %a.btn-link{"data-toggle" => "quickview", "data-toggle-element" => "#quickview", :href => "#"}
              %span.icon-set.menu-hambuger-plus
          / END ACTION BAR
        / END MOBILE CONTROLS
        .pull-left.sm-table
          .header-inner
            .brand.inline
              %img{:alt => "logo", "data-src" => "assets/img/logo.png", "data-src-retina" => "assets/img/logo_2x.png", :height => "22", :src => "assets/img/logo.png", :width => "78"}
            / START NOTIFICATION LIST
            %ul.notification-list.no-margin.hidden-sm.hidden-xs.b-grey.b-l.b-r.no-style.p-l-30.p-r-20
              %li.p-r-15.inline
                .dropdown
                  %a#notification-center.icon-set.globe-fill{"data-toggle" => "dropdown", :href => "javascript:;"}
                    %span.bubble
                  / START Notification Dropdown
                  .dropdown-menu.notification-toggle{"aria-labelledby" => "notification-center", :role => "menu"}
                    / START Notification
                    .notification-panel
                      / START Notification Body
                      .notification-body.scrollable
                        / START Notification Item
                        .notification-item.unread.clearfix
                          / START Notification Item
                          .heading.open
                            %a.text-complete{:href => "#"}
                              %i.pg-map.fs-16.m-r-10
                              %span.bold Carrot Design
                              %span.fs-12.m-l-10 David Nester
                            .pull-right
                              .thumbnail-wrapper.d16.circular.inline.m-t-15.m-r-10.toggle-more-details
                                %div
                                  %i.fa.fa-angle-left
                              %span.time few sec ago
                            .more-details
                              .more-details-inner
                                %h5.semi-bold.fs-16
                                  “Apple’s Motivation - Innovation
                                  %br
                                    distinguishes between
                                    %br
                                      A leader and a follower.”
                                %p.small.hint-text
                                  Commented on john Smiths wall.
                                  %br
                                    via pages framework.
                          / END Notification Item
                          / START Notification Item Right Side
                          .option{"data-placement" => "left", "data-toggle" => "tooltip", :title => "mark as read"}
                            %a.mark{:href => "#"}
                          / END Notification Item Right Side
                        / START Notification Body
                        / START Notification Item
                        .notification-item.clearfix
                          .heading
                            %a.text-danger{:href => "#"}
                              %i.fa.fa-exclamation-triangle.m-r-10
                              %span.bold 98% Server Load
                              %span.fs-12.m-l-10 Take Action
                            %span.pull-right.time 2 mins ago
                          / START Notification Item Right Side
                          .option
                            %a.mark{:href => "#"}
                          / END Notification Item Right Side
                        / END Notification Item
                        / START Notification Item
                        .notification-item.clearfix
                          .heading
                            %a.text-warning-dark{:href => "#"}
                              %i.fa.fa-exclamation-triangle.m-r-10
                              %span.bold Warning Notification
                              %span.fs-12.m-l-10 Buy Now
                            %span.pull-right.time yesterday
                          / START Notification Item Right Side
                          .option
                            %a.mark{:href => "#"}
                          / END Notification Item Right Side
                        / END Notification Item
                        / START Notification Item
                        .notification-item.unread.clearfix
                          .heading
                            .thumbnail-wrapper.d24.circular.b-white.m-r-5.b-a.b-white.m-t-10.m-r-10
                              %img{:alt => "", "data-src" => "assets/img/profiles/1.jpg", "data-src-retina" => "assets/img/profiles/1x.jpg", :height => "30", :src => "assets/img/profiles/1.jpg", :width => "30"}
                            %a.text-complete{:href => "#"}
                              %span.bold Revox Design Labs
                              %span.fs-12.m-l-10 Owners
                            %span.pull-right.time 11:00pm
                          / START Notification Item Right Side
                          .option{"data-placement" => "left", "data-toggle" => "tooltip", :title => "mark as read"}
                            %a.mark{:href => "#"}
                          / END Notification Item Right Side
                        / END Notification Item
                      / END Notification Body
                      / START Notification Footer
                      .notification-footer.text-center
                        %a{:href => "#"} Read all notifications
                        %a.portlet-refresh.text-black.pull-right{"data-toggle" => "refresh", :href => "#"}
                          %i.pg-refresh_new
                      / START Notification Footer
                    / END Notification
                  / END Notification Dropdown
              %li.p-r-15.inline
                %a.icon-set.clip{:href => "#"}
              %li.p-r-15.inline
                %a.icon-set.grid-box{:href => "#"}
            / END NOTIFICATIONS LIST
            %a.search-link{"data-toggle" => "search", :href => "#"}
              %i.pg-search>
              Type anywhere to
              %span.bold search
        .pull-right
          .header-inner
            %a.btn-link.icon-set.menu-hambuger-plus.m-l-20.sm-no-margin.hidden-sm.hidden-xs{"data-toggle" => "quickview", "data-toggle-element" => "#quickview", :href => "#"}
        .pull-right
          / START User Info
          .visible-lg.visible-md.m-t-10
            .pull-left.p-r-10.p-t-10.fs-16.font-heading
              %span.semi-bold David
              %span.text-master Nest
            .thumbnail-wrapper.d32.circular.inline.m-t-5
              %img{:alt => "", "data-src" => "assets/img/profiles/avatar.jpg", "data-src-retina" => "assets/img/profiles/avatar_small2x.jpg", :height => "32", :src => "assets/img/profiles/avatar.jpg", :width => "32"}
          / END User Info
      / END HEADER
      / START PAGE CONTENT WRAPPER
      #plainContent.page-content-wrapper.content-builder.active.full-height
        / START PAGE CONTENT
        .content
          / START PAGE COVER
          .container-fluid.container-fixed-lg
            %ul.breadcrumb
              %li
                %p home
              %li
                %a.active{:href => "#"} Plain template
            / END BREADCRUMB
            %h3.page-title Page Title
          .container-fluid.container-fixed-lg
            /
              YOU CAN REMOVE .container-fixed-lg TO DISABLE THE FEATURE WHERE THE CONTENT
              ALIGNS TO THE CENTER WITHOUT STRECTHING UNGLY ON 1800PX(1080P &amp; 4/5K MONITORS) UP WORDS SCREEN
            / CONTENT GOES HERE
        / END PAGE CONTENT
        / START COPYRIGHT
        / START CONTAINER FLUID
        .container-fluid.container-fixed-lg.footer
          .copyright.sm-text-center
            %p.small.no-margin.pull-left.sm-pull-reset
              %span.hint-text Copyright © 2014
              = succeed "." do
                %span.font-montserrat REVOX
              %span.hint-text All rights reserved.
              %span.sm-block
                %a.m-l-10.m-r-10{:href => "#"} Terms of use
                |
                %a.m-l-10{:href => "#"} Privacy Policy
            %p.small.no-margin.pull-right.sm-pull-reset
              %a{:href => "#"} Hand-crafted
              %span.hint-text &amp; Made with Love ®
            .clearfix
        / END COPYRIGHT
      / END PAGE CONTENT WRAPPER
      / START PAGE CONTENT WRAPPER
      #parallaxCoverpage.page-content-wrapper.content-builder
        / START PAGE CONTENT
        .content
          / START JUMBOTRON
          .jumbotron.page-cover{"data-pages" => "parallax"}
            .container-fluid.container-fixed-lg
              .inner
                / START BREADCRUMB
                %ul.breadcrumb
                  %li
                    %p Home
                  %li
                    %a.active{:href => "#"} Parrallax
                / END BREADCRUMB
                .container-md-height.m-b-20
                  .row.row-md-height
                    .col-lg-7.col-md-6.col-md-height.col-middle.bg-white
                      / START PANEL
                      .full-height
                        .panel-body.text-center
                          %img.image-responsive-height.demo-mw-500{:alt => "Typograpy Hero", :src => "assets/img/demo/typography_hero.gif"}
                      / END PANEL
                    .col-lg-5.col-md-height.col-md-6.col-top
                      / START PANEL
                      .panel.panel-transparent
                        .panel-heading
                          .panel-title
                            Getting started
                        .panel-body
                          %h3 One of the most underestimated elements of design is typography. However, it’s critical in both print and web media. We Made it Perfect in both.
                          %p Color can be a wonderful tool for making your dashboard less stressful and more calming — and it can have a significant impact on your mood and well-being, We made it with you in mind
                          %br
                            %div
                              .profile-img-wrapper.m-t-5.inline
                                %img{:alt => "Avatar", "data-src" => "assets/img/profiles/avatar_small.jpg", "data-src-retina" => "assets/img/profiles/avatar_small2x.jpg", :height => "35", :src => "assets/img/profiles/avatar_small.jpg", :width => "35"}
                                  .chat-status.available
                              .inline.m-l-10
                                %p.small.hint-text
                                  VIA senior product manage
                                  %br for fonts and typography at REVOX
                      / END PANEL
          / END JUMBOTRON
          .container-fluid.container-fixed-lg.demo-container
            /
              PLEASE REMOVE demo-container CLASS FROM THIS DIV, ITS ONLY FOR DEMO PUPPOSE
              TO SHOW THE PARRALAX EFFECT
        / END PAGE CONTENT
      / END PAGE CONTENT WRAPPER
      / START PAGE CONTENT WRAPPER
      #fullheightParallax.page-content-wrapper.content-builder.full-height
        / START PAGE CONTENT
        .content.full-height
          / START JUMBOTRON
          .jumbotron.full-height.no-padding{"data-pages" => "parallax"}
            .container-fluid.container-fixed-lg.sm-p-l-20.sm-p-r-20.full-height
              .inner.full-height
                .container-xs-height.full-height
                  .col-xs-height.col-middle.text-center
                    .col-md-6.col-md-offset-3.text-center
                      %h2.text-center
                        %img{:alt => "logo", :src => "assets/img/logo.png"}
                          makes it super-easy to create your
                          dashboard Without a designer.
                      %button.btn.btn-success.btn-rounded Live Preview
                      %button.btn.btn-link.text-white Watch Video
          / END JUMBOTRON
          .container-fluid.container-fixed-lg.demo-container
            /
              PLEASE REMOVE THE HEIGHT STYLE FROM THIS DIV, ITS ONLY FOR DEMO PUPPOSE
              TO SHOW THE PARRALAX EFFECT
      / END PAGE CONTENT
      / END PAGE CONTENT WRAPPER
      / START PAGE CONTENT WRAPPER
      #titleParallax.page-content-wrapper.content-builder.full-height
        / START PAGE CONTENT
        .content
          / START JUMBOTRON
          .jumbotron.no-margin{"data-pages" => "parallax"}
            .container-fluid.container-fixed-lg.sm-p-l-20.sm-p-r-20
              .inner
                %h3 Page Title
          / END JUMBOTRON
          .container-fluid.container-fixed-lg.demo-container
            / START BREADCRUMB
            %ul.breadcrumb
              %li
                %p home
              %li
                %a.active{:href => "#"} Parallax for page title
            / END BREADCRUMB
            /
              PLEASE REMOVE demo-container CLASS ABOVE, ITS ONLY FOR DEMO PUPPOSE
              TO SHOW THE PARRALAX EFFECT
        / END PAGE CONTENT
      / END PAGE CONTENT WRAPPER
      / START PAGE CONTENT WRAPPER
      #columns-3-9.page-content-wrapper.content-builder.full-height
        / START PAGE CONTENT
        .content.full-height
          .container-fluid.full-height.no-padding
            .row.full-height.no-margin
              .col-md-3.no-padding.b-r.b-grey.sm-b-b.full-height
                .bg-white.full-height
                  /
                    YOU CAN REMOVE FULL-HEIGHT IN ALL PARENT ELEMENTS TO EXPEND TO CONTENT HEIGHT
                    YOU CAN ALSO CHANGE THE BACKGROUN COLOR BY ADDING THE BG CLASSES
                    EXAMPLE : bg-success
              .col-md-9.no-padding.full-height
                .placeholder.full-height
                  /
                    YOU CAN REMOVE FULL-HEIGHT IN ALL PARENT ELEMENTS TO EXPEND TO CONTENT HEIGHT
                    YOU CAN ALSO CHANGE THE BACKGROUN COLOR BY ADDING THE BG CLASSES
                    EXAMPLE : bg-success
        / END PAGE CONTENT
        / START COPYRIGHT
        / START CONTAINER FLUID
        .container-fluid.container-fixed-lg.footer
          .copyright.sm-text-center
            %p.small.no-margin.pull-left.sm-pull-reset
              %span.hint-text Copyright © 2014
              = succeed "." do
                %span.font-montserrat REVOX
              %span.hint-text All rights reserved.
              %span.sm-block
                %a.m-l-10.m-r-10{:href => "#"} Terms of use
                |
                %a.m-l-10{:href => "#"} Privacy Policy
            %p.small.no-margin.pull-right.sm-pull-reset
              %a{:href => "#"} Hand-crafted
              %span.hint-text &amp; Made with Love ®
            .clearfix
        / END COPYRIGHT
      / END PAGE CONTENT WRAPPER
      / START PAGE CONTENT WRAPPER
      #columns-9-3.page-content-wrapper.content-builder.full-height
        / START PAGE CONTENT
        .content.full-height
          .container-fluid.full-height.no-padding
            .row.full-height.no-margin
              .col-md-9.no-padding.b-r.b-grey.full-height
                .full-height.placeholder
                  /
                    YOU CAN REMOVE FULL-HEIGHT IN ALL PARENT ELEMENTS TO EXPEND TO CONTENT HEIGHT
                    YOU CAN ALSO CHANGE THE BACKGROUN COLOR BY ADDING THE BG CLASSES
                    EXAMPLE : bg-success
              .col-md-3.no-padding.full-height
                .bg-white.full-height
                  /
                    YOU CAN REMOVE FULL-HEIGHT IN ALL PARENT ELEMENTS TO EXPEND TO CONTENT HEIGHT
                    YOU CAN ALSO CHANGE THE BACKGROUN COLOR BY ADDING THE BG CLASSES
                    EXAMPLE : bg-success
        / END PAGE CONTENT
        / START COPYRIGHT
        / START CONTAINER FLUID
        .container-fluid.container-fixed-lg.footer
          .copyright.sm-text-center
            %p.small.no-margin.pull-left.sm-pull-reset
              %span.hint-text Copyright © 2014
              = succeed "." do
                %span.font-montserrat REVOX
              %span.hint-text All rights reserved.
              %span.sm-block
                %a.m-l-10.m-r-10{:href => "#"} Terms of use
                |
                %a.m-l-10{:href => "#"} Privacy Policy
            %p.small.no-margin.pull-right.sm-pull-reset
              %a{:href => "#"} Hand-crafted
              %span.hint-text &amp; Made with Love ®
            .clearfix
        / END COPYRIGHT
      / END PAGE CONTENT WRAPPER
      / START PAGE CONTENT WRAPPER
      #columns-6-6.page-content-wrapper.content-builder.full-height
        / START PAGE CONTENT
        .content.full-height
          .container-fluid.full-height.no-padding
            .row.full-height.no-margin
              .col-md-6.no-padding.b-r.b-grey.full-height
                .bg-white.full-height
                  /
                    YOU CAN REMOVE FULL-HEIGHT IN ALL PARENT ELEMENTS TO EXPEND TO CONTENT HEIGHT
                    YOU CAN ALSO CHANGE THE BACKGROUN COLOR BY ADDING THE BG CLASSES
                    EXAMPLE : bg-success
              .col-md-6.no-padding.full-height
                .bg-white.full-height
                  /
                    YOU CAN REMOVE FULL-HEIGHT IN ALL PARENT ELEMENTS TO EXPEND TO CONTENT HEIGHT
                    YOU CAN ALSO CHANGE THE BACKGROUN COLOR BY ADDING THE BG CLASSES
                    EXAMPLE : bg-success
        / END PAGE CONTENT
        / START COPYRIGHT
        / START CONTAINER FLUID
        .container-fluid.container-fixed-lg.footer
          .copyright.sm-text-center
            %p.small.no-margin.pull-left.sm-pull-reset
              %span.hint-text Copyright © 2014
              = succeed "." do
                %span.font-montserrat REVOX
              %span.hint-text All rights reserved.
              %span.sm-block
                %a.m-l-10.m-r-10{:href => "#"} Terms of use
                |
                %a.m-l-10{:href => "#"} Privacy Policy
            %p.small.no-margin.pull-right.sm-pull-reset
              %a{:href => "#"} Hand-crafted
              %span.hint-text &amp; Made with Love ®
            .clearfix
        / END COPYRIGHT
      / END PAGE CONTENT WRAPPER
    / END PAGE CONTAINER
    / START QUICKVIEW
    #quickview.quickview-wrapper{"data-pages" => "quickview"}
      / Nav tabs
      %ul.nav.nav-tabs
        %li
          %a{"data-toggle" => "tab", :href => "#quickview-notes"} Notes
        %li
          %a{"data-toggle" => "tab", :href => "#quickview-alerts"} Alerts
        %li.active
          %a{"data-toggle" => "tab", :href => "#quickview-chat"} Chat
      %a.btn-link.quickview-toggle{"data-toggle" => "quickview", "data-toggle-element" => "#quickview"}
        %i.pg-close
      / Tab panes
      .tab-content
        / BEGIN Notes !
        #quickview-notes.tab-pane.fade.in.no-padding
          #note-views.view-port.clearfix.quickview-notes
            / BEGIN Note List !
            #quick-note-list.view.list
              .toolbar.clearfix
                %ul.pull-right
                  %li
                    %a.delete-note-link{:href => "#"}
                      %i.fa.fa-trash-o
                  %li
                    %a.new-note-link{"data-navigate" => "view", "data-view-animation" => "push", "data-view-port" => "#note-views", :href => "#"}
                      %i.fa.fa-plus
                %button.btn-remove-notes.btn.btn-xs.btn-block.hide
                  %i.fa.fa-times
                  Delete
              %ul
                / BEGIN Note Item !
                %li{"data-navigate" => "view", "data-noteid" => "1", "data-view-animation" => "push", "data-view-port" => "#note-views"}
                  .left
                    / BEGIN Note Action !
                    .checkbox.check-warning.no-margin
                      %input#qncheckbox1{:type => "checkbox", :value => "1"}
                        %label{:for => "qncheckbox1"}
                    / END Note Action !
                    / BEGIN Note Preview Text !
                    %p.note-preview Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                    / BEGIN Note Preview Text !
                  / BEGIN Note Details !
                  .right.pull-right
                    / BEGIN Note Date !
                    %span.date 12/12/14
                    %a{:href => "#"}
                      %i.fa.fa-chevron-right
                    / END Note Date !
                  / END Note Details !
                / END Note List !
                / BEGIN Note Item !
                %li{"data-navigate" => "view", "data-noteid" => "2", "data-view-animation" => "push", "data-view-port" => "#note-views"}
                  .left
                    / BEGIN Note Action !
                    .checkbox.check-warning.no-margin
                      %input#qncheckbox2{:type => "checkbox", :value => "1"}
                        %label{:for => "qncheckbox2"}
                    / END Note Action !
                    / BEGIN Note Preview Text !
                    %p.note-preview Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                    / BEGIN Note Preview Text !
                  / BEGIN Note Details !
                  .right.pull-right
                    / BEGIN Note Date !
                    %span.date 12/12/14
                    %a{:href => "#"}
                      %i.fa.fa-chevron-right
                    / END Note Date !
                  / END Note Details !
                / END Note List !
                / BEGIN Note Item !
                %li{"data-navigate" => "view", "data-noteid" => "2", "data-view-animation" => "push", "data-view-port" => "#note-views"}
                  .left
                    / BEGIN Note Action !
                    .checkbox.check-warning.no-margin
                      %input#qncheckbox3{:type => "checkbox", :value => "1"}
                        %label{:for => "qncheckbox3"}
                    / END Note Action !
                    / BEGIN Note Preview Text !
                    %p.note-preview Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                    / BEGIN Note Preview Text !
                  / BEGIN Note Details !
                  .right.pull-right
                    / BEGIN Note Date !
                    %span.date 12/12/14
                    %a{:href => "#"}
                      %i.fa.fa-chevron-right
                    / END Note Date !
                  / END Note Details !
                / END Note List !
                / BEGIN Note Item !
                %li{"data-navigate" => "view", "data-noteid" => "3", "data-view-animation" => "push", "data-view-port" => "#note-views"}
                  .left
                    / BEGIN Note Action !
                    .checkbox.check-warning.no-margin
                      %input#qncheckbox4{:type => "checkbox", :value => "1"}
                        %label{:for => "qncheckbox4"}
                    / END Note Action !
                    / BEGIN Note Preview Text !
                    %p.note-preview Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                    / BEGIN Note Preview Text !
                  / BEGIN Note Details !
                  .right.pull-right
                    / BEGIN Note Date !
                    %span.date 12/12/14
                    %a{:href => "#"}
                      %i.fa.fa-chevron-right
                    / END Note Date !
                  / END Note Details !
                / END Note List !
                / BEGIN Note Item !
                %li{"data-navigate" => "view", "data-noteid" => "4", "data-view-animation" => "push", "data-view-port" => "#note-views"}
                  .left
                    / BEGIN Note Action !
                    .checkbox.check-warning.no-margin
                      %input#qncheckbox5{:type => "checkbox", :value => "1"}
                        %label{:for => "qncheckbox5"}
                    / END Note Action !
                    / BEGIN Note Preview Text !
                    %p.note-preview Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                    / BEGIN Note Preview Text !
                  / BEGIN Note Details !
                  .right.pull-right
                    / BEGIN Note Date !
                    %span.date 12/12/14
                    %a{:href => "#"}
                      %i.fa.fa-chevron-right
                    / END Note Date !
                  / END Note Details !
                / END Note List !
            / END Note List !
            #quick-note.view.note
              %div
                %ul.toolbar
                  %li
                    %a.close-note-link{"data-navigate" => "view", "data-view-animation" => "push", "data-view-port" => "#note-views", :href => "#"}
                      %i.pg-arrow_left
                  %li
                    %a.Bold{:href => "#"}
                      %i.fa.fa-bold
                  %li
                    %a.Italic{:href => "#"}
                      %i.fa.fa-italic
                  %li
                    %a{:href => "#"}
                      %i.fa.fa-link
                .body
                  %div
                    .top
                      %span 21st april 2014 2:13am
                    .content
                      .quick-note-editor.full-width.full-height.js-input{:contenteditable => "true"}
        / END Notes !
        / BEGIN Alerts !
        #quickview-alerts.tab-pane.fade.no-padding
          #alerts.view-port.clearfix
            / BEGIN Alerts View !
            .view.bg-white
              / BEGIN View Header !
              .navbar.navbar-default.navbar-sm
                .navbar-inner
                  / BEGIN Header Controler !
                  %a.inline.action.p-l-10.link.text-master{"data-navigate" => "view", "data-view-animation" => "push-parrallax", "data-view-port" => "#chat", :href => "javascript:;"}
                    %i.pg-more
                  / END Header Controler !
                  .view-heading
                    Notications
                  / BEGIN Header Controler !
                  %a.inline.action.p-r-10.pull-right.link.text-master{:href => "#"}
                    %i.pg-search
                  / END Header Controler !
              / END View Header !
              / BEGIN Alert List !
              .list-view.boreded.no-top-border{"data-init-list-view" => "ioslist"}
                / BEGIN List Group !
                .list-view-group-container
                  / BEGIN List Group Header!
                  .list-view-group-header.text-uppercase
                    Calendar
                  / END List Group Header!
                  %ul
                    / BEGIN List Group Item!
                    %li.alert-list
                      / BEGIN Alert Item Set Animation using data-view-animation !
                      %a{"data-navigate" => "view", "data-view-animation" => "push-parrallax", "data-view-port" => "#chat", :href => "javascript:;"}
                        %p.col-xs-height.col-middle
                          %span.text-warning.fs-10
                            %i.fa.fa-circle
                        %p.p-l-10.col-xs-height.col-middle.col-xs-9.overflow-ellipsis.fs-12
                          %span.text-master David Nester Birthday
                        %p.p-r-10.col-xs-height.col-middle.fs-12.text-right
                          %span.text-warning
                            Today
                            %br/
                          %span.text-master All Day
                      / END Alert Item!
                      / BEGIN List Group Item!
                    / END List Group Item!
                    / BEGIN List Group Item!
                    %li.alert-list
                      / BEGIN Alert Item Set Animation using data-view-animation !
                      %a{"data-navigate" => "view", "data-view-animation" => "push-parrallax", "data-view-port" => "#chat", :href => "#"}
                        %p.col-xs-height.col-middle
                          %span.text-warning.fs-10
                            %i.fa.fa-circle
                        %p.p-l-10.col-xs-height.col-middle.col-xs-9.overflow-ellipsis.fs-12
                          %span.text-master Meeting at 2:30
                        %p.p-r-10.col-xs-height.col-middle.fs-12.text-right
                          %span.text-warning Today
                      / END Alert Item!
                    / END List Group Item!
                / END List Group !
                .list-view-group-container
                  / BEGIN List Group Header!
                  .list-view-group-header.text-uppercase
                    Social
                  / END List Group Header!
                  %ul
                    / BEGIN List Group Item!
                    %li.alert-list
                      / BEGIN Alert Item Set Animation using data-view-animation !
                      %a.p-t-10.p-b-10{"data-navigate" => "view", "data-view-animation" => "push-parrallax", "data-view-port" => "#chat", :href => "javascript:;"}
                        %p.col-xs-height.col-middle
                          %span.text-complete.fs-10
                            %i.fa.fa-circle
                        %p.p-l-10.col-xs-height.col-middle.col-xs-12.overflow-ellipsis.fs-12
                          %span.text-master.link
                            Jame Smith commented on your status
                            %br/
                          %span.text-master “Perfection Simplified - Company Revox"
                      / END Alert Item!
                    / END List Group Item!
                    / BEGIN List Group Item!
                    %li.alert-list
                      / BEGIN Alert Item Set Animation using data-view-animation !
                      %a.p-t-10.p-b-10{"data-navigate" => "view", "data-view-animation" => "push-parrallax", "data-view-port" => "#chat", :href => "javascript:;"}
                        %p.col-xs-height.col-middle
                          %span.text-complete.fs-10
                            %i.fa.fa-circle
                        %p.p-l-10.col-xs-height.col-middle.col-xs-12.overflow-ellipsis.fs-12
                          %span.text-master.link
                            Jame Smith commented on your status
                            %br/
                          %span.text-master “Perfection Simplified - Company Revox"
                      / END Alert Item!
                    / END List Group Item!
                .list-view-group-container
                  / BEGIN List Group Header!
                  .list-view-group-header.text-uppercase
                    Sever Status
                  / END List Group Header!
                  %ul
                    / BEGIN List Group Item!
                    %li.alert-list
                      / BEGIN Alert Item Set Animation using data-view-animation !
                      %a.p-t-10.p-b-10{"data-navigate" => "view", "data-view-animation" => "push-parrallax", "data-view-port" => "#chat", :href => "#"}
                        %p.col-xs-height.col-middle
                          %span.text-danger.fs-10
                            %i.fa.fa-circle
                        %p.p-l-10.col-xs-height.col-middle.col-xs-12.overflow-ellipsis.fs-12
                          %span.text-master.link
                            12:13AM GTM, 10230, ID:WR174s
                            %br/
                          %span.text-master Server Load Exceeted. Take action
                      / END Alert Item!
                    / END List Group Item!
              / END Alert List !
            / EEND Alerts View !
        / END Alerts !
        #quickview-chat.tab-pane.fade.in.active.no-padding
          #chat.view-port.clearfix
            .view.bg-white
              / BEGIN View Header !
              .navbar.navbar-default
                .navbar-inner
                  / BEGIN Header Controler !
                  %a.inline.action.p-l-10.link.text-master{"data-navigate" => "view", "data-view-animation" => "push-parrallax", "data-view-port" => "#chat", :href => "javascript:;"}
                    %i.pg-plus
                  / END Header Controler !
                  .view-heading
                    Chat List
                    .fs-11 Show All
                  / BEGIN Header Controler !
                  %a.inline.action.p-r-10.pull-right.link.text-master{:href => "#"}
                    %i.pg-more
                  / END Header Controler !
              / END View Header !
              .list-view.boreded.no-top-border{"data-init-list-view" => "ioslist"}
                .list-view-group-container
                  .list-view-group-header.text-uppercase
                    a
                  %ul
                    / BEGIN Chat User List Item  !
                    %li.chat-user-list.clearfix
                      %a{"data-navigate" => "view", "data-view-animation" => "push-parrallax", "data-view-port" => "#chat", :href => "#"}
                        %span.col-xs-height.col-middle
                          %span.thumbnail-wrapper.d32.circular.bg-success
                            %img.col-top{:alt => "", "data-src" => "assets/img/profiles/1.jpg", "data-src-retina" => "assets/img/profiles/1x.jpg", :height => "34", :src => "assets/img/profiles/1x.jpg", :width => "34"}
                        %p.p-l-10.col-xs-height.col-middle.col-xs-12
                          %span.text-master ava flores
                          %span.block.text-master.hint-text.fs-12 Hello there
                    / END Chat User List Item  !
                .list-view-group-container
                  .list-view-group-header.text-uppercase b
                  %ul
                    / BEGIN Chat User List Item  !
                    %li.chat-user-list.clearfix
                      %a{"data-navigate" => "view", "data-view-animation" => "push-parrallax", "data-view-port" => "#chat", :href => "#"}
                        %span.col-xs-height.col-middle
                          %span.thumbnail-wrapper.d32.circular.bg-success
                            %img.col-top{:alt => "", "data-src" => "assets/img/profiles/2.jpg", "data-src-retina" => "assets/img/profiles/2x.jpg", :height => "34", :src => "assets/img/profiles/2x.jpg", :width => "34"}
                        %p.p-l-10.col-xs-height.col-middle.col-xs-12
                          %span.text-master bella mccoy
                          %span.block.text-master.hint-text.fs-12 Hello there
                    / END Chat User List Item  !
                    / BEGIN Chat User List Item  !
                    %li.chat-user-list.clearfix
                      %a{"data-navigate" => "view", "data-view-animation" => "push-parrallax", "data-view-port" => "#chat", :href => "#"}
                        %span.col-xs-height.col-middle
                          %span.thumbnail-wrapper.d32.circular.bg-success
                            %img.col-top{:alt => "", "data-src" => "assets/img/profiles/3.jpg", "data-src-retina" => "assets/img/profiles/3x.jpg", :height => "34", :src => "assets/img/profiles/3x.jpg", :width => "34"}
                        %p.p-l-10.col-xs-height.col-middle.col-xs-12
                          %span.text-master bob stephens
                          %span.block.text-master.hint-text.fs-12 Hello there
                    / END Chat User List Item  !
                .list-view-group-container
                  .list-view-group-header.text-uppercase c
                  %ul
                    / BEGIN Chat User List Item  !
                    %li.chat-user-list.clearfix
                      %a{"data-navigate" => "view", "data-view-animation" => "push-parrallax", "data-view-port" => "#chat", :href => "#"}
                        %span.col-xs-height.col-middle
                          %span.thumbnail-wrapper.d32.circular.bg-success
                            %img.col-top{:alt => "", "data-src" => "assets/img/profiles/4.jpg", "data-src-retina" => "assets/img/profiles/4x.jpg", :height => "34", :src => "assets/img/profiles/4x.jpg", :width => "34"}
                        %p.p-l-10.col-xs-height.col-middle.col-xs-12
                          %span.text-master carole roberts
                          %span.block.text-master.hint-text.fs-12 Hello there
                    / END Chat User List Item  !
                    / BEGIN Chat User List Item  !
                    %li.chat-user-list.clearfix
                      %a{"data-navigate" => "view", "data-view-animation" => "push-parrallax", "data-view-port" => "#chat", :href => "#"}
                        %span.col-xs-height.col-middle
                          %span.thumbnail-wrapper.d32.circular.bg-success
                            %img.col-top{:alt => "", "data-src" => "assets/img/profiles/5.jpg", "data-src-retina" => "assets/img/profiles/5x.jpg", :height => "34", :src => "assets/img/profiles/5x.jpg", :width => "34"}
                        %p.p-l-10.col-xs-height.col-middle.col-xs-12
                          %span.text-master christopher perez
                          %span.block.text-master.hint-text.fs-12 Hello there
                    / END Chat User List Item  !
                .list-view-group-container
                  .list-view-group-header.text-uppercase d
                  %ul
                    / BEGIN Chat User List Item  !
                    %li.chat-user-list.clearfix
                      %a{"data-navigate" => "view", "data-view-animation" => "push-parrallax", "data-view-port" => "#chat", :href => "#"}
                        %span.col-xs-height.col-middle
                          %span.thumbnail-wrapper.d32.circular.bg-success
                            %img.col-top{:alt => "", "data-src" => "assets/img/profiles/6.jpg", "data-src-retina" => "assets/img/profiles/6x.jpg", :height => "34", :src => "assets/img/profiles/6x.jpg", :width => "34"}
                        %p.p-l-10.col-xs-height.col-middle.col-xs-12
                          %span.text-master danielle fletcher
                          %span.block.text-master.hint-text.fs-12 Hello there
                    / END Chat User List Item  !
                    / BEGIN Chat User List Item  !
                    %li.chat-user-list.clearfix
                      %a{"data-navigate" => "view", "data-view-animation" => "push-parrallax", "data-view-port" => "#chat", :href => "#"}
                        %span.col-xs-height.col-middle
                          %span.thumbnail-wrapper.d32.circular.bg-success
                            %img.col-top{:alt => "", "data-src" => "assets/img/profiles/7.jpg", "data-src-retina" => "assets/img/profiles/7x.jpg", :height => "34", :src => "assets/img/profiles/7x.jpg", :width => "34"}
                        %p.p-l-10.col-xs-height.col-middle.col-xs-12
                          %span.text-master david sutton
                          %span.block.text-master.hint-text.fs-12 Hello there
                    / END Chat User List Item  !
                .list-view-group-container
                  .list-view-group-header.text-uppercase e
                  %ul
                    / BEGIN Chat User List Item  !
                    %li.chat-user-list.clearfix
                      %a{"data-navigate" => "view", "data-view-animation" => "push-parrallax", "data-view-port" => "#chat", :href => "#"}
                        %span.col-xs-height.col-middle
                          %span.thumbnail-wrapper.d32.circular.bg-success
                            %img.col-top{:alt => "", "data-src" => "assets/img/profiles/8.jpg", "data-src-retina" => "assets/img/profiles/8x.jpg", :height => "34", :src => "assets/img/profiles/8x.jpg", :width => "34"}
                        %p.p-l-10.col-xs-height.col-middle.col-xs-12
                          %span.text-master earl hamilton
                          %span.block.text-master.hint-text.fs-12 Hello there
                    / END Chat User List Item  !
                    / BEGIN Chat User List Item  !
                    %li.chat-user-list.clearfix
                      %a{"data-navigate" => "view", "data-view-animation" => "push-parrallax", "data-view-port" => "#chat", :href => "#"}
                        %span.col-xs-height.col-middle
                          %span.thumbnail-wrapper.d32.circular.bg-success
                            %img.col-top{:alt => "", "data-src" => "assets/img/profiles/9.jpg", "data-src-retina" => "assets/img/profiles/9x.jpg", :height => "34", :src => "assets/img/profiles/9x.jpg", :width => "34"}
                        %p.p-l-10.col-xs-height.col-middle.col-xs-12
                          %span.text-master elaine lawrence
                          %span.block.text-master.hint-text.fs-12 Hello there
                    / END Chat User List Item  !
                    / BEGIN Chat User List Item  !
                    %li.chat-user-list.clearfix
                      %a{"data-navigate" => "view", "data-view-animation" => "push-parrallax", "data-view-port" => "#chat", :href => "#"}
                        %span.col-xs-height.col-middle
                          %span.thumbnail-wrapper.d32.circular.bg-success
                            %img.col-top{:alt => "", "data-src" => "assets/img/profiles/1.jpg", "data-src-retina" => "assets/img/profiles/1x.jpg", :height => "34", :src => "assets/img/profiles/1x.jpg", :width => "34"}
                        %p.p-l-10.col-xs-height.col-middle.col-xs-12
                          %span.text-master ellen grant
                          %span.block.text-master.hint-text.fs-12 Hello there
                    / END Chat User List Item  !
                    / BEGIN Chat User List Item  !
                    %li.chat-user-list.clearfix
                      %a{"data-navigate" => "view", "data-view-animation" => "push-parrallax", "data-view-port" => "#chat", :href => "#"}
                        %span.col-xs-height.col-middle
                          %span.thumbnail-wrapper.d32.circular.bg-success
                            %img.col-top{:alt => "", "data-src" => "assets/img/profiles/2.jpg", "data-src-retina" => "assets/img/profiles/2x.jpg", :height => "34", :src => "assets/img/profiles/2x.jpg", :width => "34"}
                        %p.p-l-10.col-xs-height.col-middle.col-xs-12
                          %span.text-master erik taylor
                          %span.block.text-master.hint-text.fs-12 Hello there
                    / END Chat User List Item  !
                    / BEGIN Chat User List Item  !
                    %li.chat-user-list.clearfix
                      %a{"data-navigate" => "view", "data-view-animation" => "push-parrallax", "data-view-port" => "#chat", :href => "#"}
                        %span.col-xs-height.col-middle
                          %span.thumbnail-wrapper.d32.circular.bg-success
                            %img.col-top{:alt => "", "data-src" => "assets/img/profiles/3.jpg", "data-src-retina" => "assets/img/profiles/3x.jpg", :height => "34", :src => "assets/img/profiles/3x.jpg", :width => "34"}
                        %p.p-l-10.col-xs-height.col-middle.col-xs-12
                          %span.text-master everett wagner
                          %span.block.text-master.hint-text.fs-12 Hello there
                    / END Chat User List Item  !
                .list-view-group-container
                  .list-view-group-header.text-uppercase f
                  %ul
                    / BEGIN Chat User List Item  !
                    %li.chat-user-list.clearfix
                      %a{"data-navigate" => "view", "data-view-animation" => "push-parrallax", "data-view-port" => "#chat", :href => "#"}
                        %span.col-xs-height.col-middle
                          %span.thumbnail-wrapper.d32.circular.bg-success
                            %img.col-top{:alt => "", "data-src" => "assets/img/profiles/4.jpg", "data-src-retina" => "assets/img/profiles/4x.jpg", :height => "34", :src => "assets/img/profiles/4x.jpg", :width => "34"}
                        %p.p-l-10.col-xs-height.col-middle.col-xs-12
                          %span.text-master freddie gomez
                          %span.block.text-master.hint-text.fs-12 Hello there
                    / END Chat User List Item  !
                .list-view-group-container
                  .list-view-group-header.text-uppercase g
                  %ul
                    / BEGIN Chat User List Item  !
                    %li.chat-user-list.clearfix
                      %a{"data-navigate" => "view", "data-view-animation" => "push-parrallax", "data-view-port" => "#chat", :href => "#"}
                        %span.col-xs-height.col-middle
                          %span.thumbnail-wrapper.d32.circular.bg-success
                            %img.col-top{:alt => "", "data-src" => "assets/img/profiles/5.jpg", "data-src-retina" => "assets/img/profiles/5x.jpg", :height => "34", :src => "assets/img/profiles/5x.jpg", :width => "34"}
                        %p.p-l-10.col-xs-height.col-middle.col-xs-12
                          %span.text-master glen jensen
                          %span.block.text-master.hint-text.fs-12 Hello there
                    / END Chat User List Item  !
                    / BEGIN Chat User List Item  !
                    %li.chat-user-list.clearfix
                      %a{"data-navigate" => "view", "data-view-animation" => "push-parrallax", "data-view-port" => "#chat", :href => "#"}
                        %span.col-xs-height.col-middle
                          %span.thumbnail-wrapper.d32.circular.bg-success
                            %img.col-top{:alt => "", "data-src" => "assets/img/profiles/6.jpg", "data-src-retina" => "assets/img/profiles/6x.jpg", :height => "34", :src => "assets/img/profiles/6x.jpg", :width => "34"}
                        %p.p-l-10.col-xs-height.col-middle.col-xs-12
                          %span.text-master gwendolyn walker
                          %span.block.text-master.hint-text.fs-12 Hello there
                    / END Chat User List Item  !
                .list-view-group-container
                  .list-view-group-header.text-uppercase j
                  %ul
                    / BEGIN Chat User List Item  !
                    %li.chat-user-list.clearfix
                      %a{"data-navigate" => "view", "data-view-animation" => "push-parrallax", "data-view-port" => "#chat", :href => "#"}
                        %span.col-xs-height.col-middle
                          %span.thumbnail-wrapper.d32.circular.bg-success
                            %img.col-top{:alt => "", "data-src" => "assets/img/profiles/7.jpg", "data-src-retina" => "assets/img/profiles/7x.jpg", :height => "34", :src => "assets/img/profiles/7x.jpg", :width => "34"}
                        %p.p-l-10.col-xs-height.col-middle.col-xs-12
                          %span.text-master janet romero
                          %span.block.text-master.hint-text.fs-12 Hello there
                    / END Chat User List Item  !
                .list-view-group-container
                  .list-view-group-header.text-uppercase k
                  %ul
                    / BEGIN Chat User List Item  !
                    %li.chat-user-list.clearfix
                      %a{"data-navigate" => "view", "data-view-animation" => "push-parrallax", "data-view-port" => "#chat", :href => "#"}
                        %span.col-xs-height.col-middle
                          %span.thumbnail-wrapper.d32.circular.bg-success
                            %img.col-top{:alt => "", "data-src" => "assets/img/profiles/8.jpg", "data-src-retina" => "assets/img/profiles/8x.jpg", :height => "34", :src => "assets/img/profiles/8x.jpg", :width => "34"}
                        %p.p-l-10.col-xs-height.col-middle.col-xs-12
                          %span.text-master kim martinez
                          %span.block.text-master.hint-text.fs-12 Hello there
                    / END Chat User List Item  !
                .list-view-group-container
                  .list-view-group-header.text-uppercase l
                  %ul
                    / BEGIN Chat User List Item  !
                    %li.chat-user-list.clearfix
                      %a{"data-navigate" => "view", "data-view-animation" => "push-parrallax", "data-view-port" => "#chat", :href => "#"}
                        %span.col-xs-height.col-middle
                          %span.thumbnail-wrapper.d32.circular.bg-success
                            %img.col-top{:alt => "", "data-src" => "assets/img/profiles/9.jpg", "data-src-retina" => "assets/img/profiles/9x.jpg", :height => "34", :src => "assets/img/profiles/9x.jpg", :width => "34"}
                        %p.p-l-10.col-xs-height.col-middle.col-xs-12
                          %span.text-master lawrence white
                          %span.block.text-master.hint-text.fs-12 Hello there
                    / END Chat User List Item  !
                    / BEGIN Chat User List Item  !
                    %li.chat-user-list.clearfix
                      %a{"data-navigate" => "view", "data-view-animation" => "push-parrallax", "data-view-port" => "#chat", :href => "#"}
                        %span.col-xs-height.col-middle
                          %span.thumbnail-wrapper.d32.circular.bg-success
                            %img.col-top{:alt => "", "data-src" => "assets/img/profiles/1.jpg", "data-src-retina" => "assets/img/profiles/1x.jpg", :height => "34", :src => "assets/img/profiles/1x.jpg", :width => "34"}
                        %p.p-l-10.col-xs-height.col-middle.col-xs-12
                          %span.text-master leroy bell
                          %span.block.text-master.hint-text.fs-12 Hello there
                    / END Chat User List Item  !
                    / BEGIN Chat User List Item  !
                    %li.chat-user-list.clearfix
                      %a{"data-navigate" => "view", "data-view-animation" => "push-parrallax", "data-view-port" => "#chat", :href => "#"}
                        %span.col-xs-height.col-middle
                          %span.thumbnail-wrapper.d32.circular.bg-success
                            %img.col-top{:alt => "", "data-src" => "assets/img/profiles/2.jpg", "data-src-retina" => "assets/img/profiles/2x.jpg", :height => "34", :src => "assets/img/profiles/2x.jpg", :width => "34"}
                        %p.p-l-10.col-xs-height.col-middle.col-xs-12
                          %span.text-master letitia carr
                          %span.block.text-master.hint-text.fs-12 Hello there
                    / END Chat User List Item  !
                    / BEGIN Chat User List Item  !
                    %li.chat-user-list.clearfix
                      %a{"data-navigate" => "view", "data-view-animation" => "push-parrallax", "data-view-port" => "#chat", :href => "#"}
                        %span.col-xs-height.col-middle
                          %span.thumbnail-wrapper.d32.circular.bg-success
                            %img.col-top{:alt => "", "data-src" => "assets/img/profiles/3.jpg", "data-src-retina" => "assets/img/profiles/3x.jpg", :height => "34", :src => "assets/img/profiles/3x.jpg", :width => "34"}
                        %p.p-l-10.col-xs-height.col-middle.col-xs-12
                          %span.text-master lucy castro
                          %span.block.text-master.hint-text.fs-12 Hello there
                    / END Chat User List Item  !
                .list-view-group-container
                  .list-view-group-header.text-uppercase m
                  %ul
                    / BEGIN Chat User List Item  !
                    %li.chat-user-list.clearfix
                      %a{"data-navigate" => "view", "data-view-animation" => "push-parrallax", "data-view-port" => "#chat", :href => "#"}
                        %span.col-xs-height.col-middle
                          %span.thumbnail-wrapper.d32.circular.bg-success
                            %img.col-top{:alt => "", "data-src" => "assets/img/profiles/4.jpg", "data-src-retina" => "assets/img/profiles/4x.jpg", :height => "34", :src => "assets/img/profiles/4x.jpg", :width => "34"}
                        %p.p-l-10.col-xs-height.col-middle.col-xs-12
                          %span.text-master mae hayes
                          %span.block.text-master.hint-text.fs-12 Hello there
                    / END Chat User List Item  !
                    / BEGIN Chat User List Item  !
                    %li.chat-user-list.clearfix
                      %a{"data-navigate" => "view", "data-view-animation" => "push-parrallax", "data-view-port" => "#chat", :href => "#"}
                        %span.col-xs-height.col-middle
                          %span.thumbnail-wrapper.d32.circular.bg-success
                            %img.col-top{:alt => "", "data-src" => "assets/img/profiles/5.jpg", "data-src-retina" => "assets/img/profiles/5x.jpg", :height => "34", :src => "assets/img/profiles/5x.jpg", :width => "34"}
                        %p.p-l-10.col-xs-height.col-middle.col-xs-12
                          %span.text-master marilyn owens
                          %span.block.text-master.hint-text.fs-12 Hello there
                    / END Chat User List Item  !
                    / BEGIN Chat User List Item  !
                    %li.chat-user-list.clearfix
                      %a{"data-navigate" => "view", "data-view-animation" => "push-parrallax", "data-view-port" => "#chat", :href => "#"}
                        %span.col-xs-height.col-middle
                          %span.thumbnail-wrapper.d32.circular.bg-success
                            %img.col-top{:alt => "", "data-src" => "assets/img/profiles/6.jpg", "data-src-retina" => "assets/img/profiles/6x.jpg", :height => "34", :src => "assets/img/profiles/6x.jpg", :width => "34"}
                        %p.p-l-10.col-xs-height.col-middle.col-xs-12
                          %span.text-master marlene cole
                          %span.block.text-master.hint-text.fs-12 Hello there
                    / END Chat User List Item  !
                    / BEGIN Chat User List Item  !
                    %li.chat-user-list.clearfix
                      %a{"data-navigate" => "view", "data-view-animation" => "push-parrallax", "data-view-port" => "#chat", :href => "#"}
                        %span.col-xs-height.col-middle
                          %span.thumbnail-wrapper.d32.circular.bg-success
                            %img.col-top{:alt => "", "data-src" => "assets/img/profiles/7.jpg", "data-src-retina" => "assets/img/profiles/7x.jpg", :height => "34", :src => "assets/img/profiles/7x.jpg", :width => "34"}
                        %p.p-l-10.col-xs-height.col-middle.col-xs-12
                          %span.text-master marsha warren
                          %span.block.text-master.hint-text.fs-12 Hello there
                    / END Chat User List Item  !
                    / BEGIN Chat User List Item  !
                    %li.chat-user-list.clearfix
                      %a{"data-navigate" => "view", "data-view-animation" => "push-parrallax", "data-view-port" => "#chat", :href => "#"}
                        %span.col-xs-height.col-middle
                          %span.thumbnail-wrapper.d32.circular.bg-success
                            %img.col-top{:alt => "", "data-src" => "assets/img/profiles/8.jpg", "data-src-retina" => "assets/img/profiles/8x.jpg", :height => "34", :src => "assets/img/profiles/8x.jpg", :width => "34"}
                        %p.p-l-10.col-xs-height.col-middle.col-xs-12
                          %span.text-master marsha dean
                          %span.block.text-master.hint-text.fs-12 Hello there
                    / END Chat User List Item  !
                    / BEGIN Chat User List Item  !
                    %li.chat-user-list.clearfix
                      %a{"data-navigate" => "view", "data-view-animation" => "push-parrallax", "data-view-port" => "#chat", :href => "#"}
                        %span.col-xs-height.col-middle
                          %span.thumbnail-wrapper.d32.circular.bg-success
                            %img.col-top{:alt => "", "data-src" => "assets/img/profiles/9.jpg", "data-src-retina" => "assets/img/profiles/9x.jpg", :height => "34", :src => "assets/img/profiles/9x.jpg", :width => "34"}
                        %p.p-l-10.col-xs-height.col-middle.col-xs-12
                          %span.text-master mia diaz
                          %span.block.text-master.hint-text.fs-12 Hello there
                    / END Chat User List Item  !
                .list-view-group-container
                  .list-view-group-header.text-uppercase n
                  %ul
                    / BEGIN Chat User List Item  !
                    / BEGIN Chat User List Item  !
                    %li.chat-user-list.clearfix
                      %a{"data-navigate" => "view", "data-view-animation" => "push-parrallax", "data-view-port" => "#chat", :href => "#"}
                        %span.col-xs-height.col-middle
                          %span.thumbnail-wrapper.d32.circular.bg-success
                            %img.col-top{:alt => "", "data-src" => "assets/img/profiles/1.jpg", "data-src-retina" => "assets/img/profiles/1x.jpg", :height => "34", :src => "assets/img/profiles/1x.jpg", :width => "34"}
                        %p.p-l-10.col-xs-height.col-middle.col-xs-12
                          %span.text-master noah elliott
                          %span.block.text-master.hint-text.fs-12 Hello there
                    / END Chat User List Item  !
                .list-view-group-container
                  .list-view-group-header.text-uppercase p
                  %ul
                    / BEGIN Chat User List Item  !
                    %li.chat-user-list.clearfix
                      %a{"data-navigate" => "view", "data-view-animation" => "push-parrallax", "data-view-port" => "#chat", :href => "#"}
                        %span.col-xs-height.col-middle
                          %span.thumbnail-wrapper.d32.circular.bg-success
                            %img.col-top{:alt => "", "data-src" => "assets/img/profiles/2.jpg", "data-src-retina" => "assets/img/profiles/2x.jpg", :height => "34", :src => "assets/img/profiles/2x.jpg", :width => "34"}
                        %p.p-l-10.col-xs-height.col-middle.col-xs-12
                          %span.text-master phyllis hamilton
                          %span.block.text-master.hint-text.fs-12 Hello there
                    / END Chat User List Item  !
                .list-view-group-container
                  .list-view-group-header.text-uppercase r
                  %ul
                    / BEGIN Chat User List Item  !
                    %li.chat-user-list.clearfix
                      %a{"data-navigate" => "view", "data-view-animation" => "push-parrallax", "data-view-port" => "#chat", :href => "#"}
                        %span.col-xs-height.col-middle
                          %span.thumbnail-wrapper.d32.circular.bg-success
                            %img.col-top{:alt => "", "data-src" => "assets/img/profiles/3.jpg", "data-src-retina" => "assets/img/profiles/3x.jpg", :height => "34", :src => "assets/img/profiles/3x.jpg", :width => "34"}
                        %p.p-l-10.col-xs-height.col-middle.col-xs-12
                          %span.text-master raul rodriquez
                          %span.block.text-master.hint-text.fs-12 Hello there
                    / END Chat User List Item  !
                    / BEGIN Chat User List Item  !
                    %li.chat-user-list.clearfix
                      %a{"data-navigate" => "view", "data-view-animation" => "push-parrallax", "data-view-port" => "#chat", :href => "#"}
                        %span.col-xs-height.col-middle
                          %span.thumbnail-wrapper.d32.circular.bg-success
                            %img.col-top{:alt => "", "data-src" => "assets/img/profiles/4.jpg", "data-src-retina" => "assets/img/profiles/4x.jpg", :height => "34", :src => "assets/img/profiles/4x.jpg", :width => "34"}
                        %p.p-l-10.col-xs-height.col-middle.col-xs-12
                          %span.text-master rhonda barnett
                          %span.block.text-master.hint-text.fs-12 Hello there
                    / END Chat User List Item  !
                    / BEGIN Chat User List Item  !
                    %li.chat-user-list.clearfix
                      %a{"data-navigate" => "view", "data-view-animation" => "push-parrallax", "data-view-port" => "#chat", :href => "#"}
                        %span.col-xs-height.col-middle
                          %span.thumbnail-wrapper.d32.circular.bg-success
                            %img.col-top{:alt => "", "data-src" => "assets/img/profiles/5.jpg", "data-src-retina" => "assets/img/profiles/5x.jpg", :height => "34", :src => "assets/img/profiles/5x.jpg", :width => "34"}
                        %p.p-l-10.col-xs-height.col-middle.col-xs-12
                          %span.text-master roberta king
                          %span.block.text-master.hint-text.fs-12 Hello there
                    / END Chat User List Item  !
                .list-view-group-container
                  .list-view-group-header.text-uppercase s
                  %ul
                    / BEGIN Chat User List Item  !
                    %li.chat-user-list.clearfix
                      %a{"data-navigate" => "view", "data-view-animation" => "push-parrallax", "data-view-port" => "#chat", :href => "#"}
                        %span.col-xs-height.col-middle
                          %span.thumbnail-wrapper.d32.circular.bg-success
                            %img.col-top{:alt => "", "data-src" => "assets/img/profiles/6.jpg", "data-src-retina" => "assets/img/profiles/6x.jpg", :height => "34", :src => "assets/img/profiles/6x.jpg", :width => "34"}
                        %p.p-l-10.col-xs-height.col-middle.col-xs-12
                          %span.text-master scott armstrong
                          %span.block.text-master.hint-text.fs-12 Hello there
                    / END Chat User List Item  !
                    / BEGIN Chat User List Item  !
                    %li.chat-user-list.clearfix
                      %a{"data-navigate" => "view", "data-view-animation" => "push-parrallax", "data-view-port" => "#chat", :href => "#"}
                        %span.col-xs-height.col-middle
                          %span.thumbnail-wrapper.d32.circular.bg-success
                            %img.col-top{:alt => "", "data-src" => "assets/img/profiles/7.jpg", "data-src-retina" => "assets/img/profiles/7x.jpg", :height => "34", :src => "assets/img/profiles/7x.jpg", :width => "34"}
                        %p.p-l-10.col-xs-height.col-middle.col-xs-12
                          %span.text-master sebastian austin
                          %span.block.text-master.hint-text.fs-12 Hello there
                    / END Chat User List Item  !
                    / BEGIN Chat User List Item  !
                    %li.chat-user-list.clearfix
                      %a{"data-navigate" => "view", "data-view-animation" => "push-parrallax", "data-view-port" => "#chat", :href => "#"}
                        %span.col-xs-height.col-middle
                          %span.thumbnail-wrapper.d32.circular.bg-success
                            %img.col-top{:alt => "", "data-src" => "assets/img/profiles/8.jpg", "data-src-retina" => "assets/img/profiles/8x.jpg", :height => "34", :src => "assets/img/profiles/8x.jpg", :width => "34"}
                        %p.p-l-10.col-xs-height.col-middle.col-xs-12
                          %span.text-master sofia davis
                          %span.block.text-master.hint-text.fs-12 Hello there
                    / END Chat User List Item  !
                .list-view-group-container
                  .list-view-group-header.text-uppercase t
                  %ul
                    / BEGIN Chat User List Item  !
                    %li.chat-user-list.clearfix
                      %a{"data-navigate" => "view", "data-view-animation" => "push-parrallax", "data-view-port" => "#chat", :href => "#"}
                        %span.col-xs-height.col-middle
                          %span.thumbnail-wrapper.d32.circular.bg-success
                            %img.col-top{:alt => "", "data-src" => "assets/img/profiles/9.jpg", "data-src-retina" => "assets/img/profiles/9x.jpg", :height => "34", :src => "assets/img/profiles/9x.jpg", :width => "34"}
                        %p.p-l-10.col-xs-height.col-middle.col-xs-12
                          %span.text-master terrance young
                          %span.block.text-master.hint-text.fs-12 Hello there
                    / END Chat User List Item  !
                    / BEGIN Chat User List Item  !
                    %li.chat-user-list.clearfix
                      %a{"data-navigate" => "view", "data-view-animation" => "push-parrallax", "data-view-port" => "#chat", :href => "#"}
                        %span.col-xs-height.col-middle
                          %span.thumbnail-wrapper.d32.circular.bg-success
                            %img.col-top{:alt => "", "data-src" => "assets/img/profiles/1.jpg", "data-src-retina" => "assets/img/profiles/1x.jpg", :height => "34", :src => "assets/img/profiles/1x.jpg", :width => "34"}
                        %p.p-l-10.col-xs-height.col-middle.col-xs-12
                          %span.text-master theodore woods
                          %span.block.text-master.hint-text.fs-12 Hello there
                    / END Chat User List Item  !
                    / BEGIN Chat User List Item  !
                    %li.chat-user-list.clearfix
                      %a{"data-navigate" => "view", "data-view-animation" => "push-parrallax", "data-view-port" => "#chat", :href => "#"}
                        %span.col-xs-height.col-middle
                          %span.thumbnail-wrapper.d32.circular.bg-success
                            %img.col-top{:alt => "", "data-src" => "assets/img/profiles/2.jpg", "data-src-retina" => "assets/img/profiles/2x.jpg", :height => "34", :src => "assets/img/profiles/2x.jpg", :width => "34"}
                        %p.p-l-10.col-xs-height.col-middle.col-xs-12
                          %span.text-master todd wood
                          %span.block.text-master.hint-text.fs-12 Hello there
                    / END Chat User List Item  !
                    / BEGIN Chat User List Item  !
                    %li.chat-user-list.clearfix
                      %a{"data-navigate" => "view", "data-view-animation" => "push-parrallax", "data-view-port" => "#chat", :href => "#"}
                        %span.col-xs-height.col-middle
                          %span.thumbnail-wrapper.d32.circular.bg-success
                            %img.col-top{:alt => "", "data-src" => "assets/img/profiles/3.jpg", "data-src-retina" => "assets/img/profiles/3x.jpg", :height => "34", :src => "assets/img/profiles/3x.jpg", :width => "34"}
                        %p.p-l-10.col-xs-height.col-middle.col-xs-12
                          %span.text-master tommy jenkins
                          %span.block.text-master.hint-text.fs-12 Hello there
                    / END Chat User List Item  !
                .list-view-group-container
                  .list-view-group-header.text-uppercase w
                  %ul
                    / BEGIN Chat User List Item  !
                    %li.chat-user-list.clearfix
                      %a{"data-navigate" => "view", "data-view-animation" => "push-parrallax", "data-view-port" => "#chat", :href => "#"}
                        %span.col-xs-height.col-middle
                          %span.thumbnail-wrapper.d32.circular.bg-success
                            %img.col-top{:alt => "", "data-src" => "assets/img/profiles/4.jpg", "data-src-retina" => "assets/img/profiles/4x.jpg", :height => "34", :src => "assets/img/profiles/4x.jpg", :width => "34"}
                        %p.p-l-10.col-xs-height.col-middle.col-xs-12
                          %span.text-master wilma hicks
                          %span.block.text-master.hint-text.fs-12 Hello there
                    / END Chat User List Item  !
            / BEGIN Conversation View  !
            .view.chat-view.bg-white.clearfix
              / BEGIN Header  !
              .navbar.navbar-default
                .navbar-inner
                  %a.link.text-master.inline.action.p-l-10{"data-navigate" => "view", "data-view-animation" => "push-parrallax", "data-view-port" => "#chat", :href => "javascript:;"}
                    %i.pg-arrow_left
                  .view-heading
                    John Smith
                    .fs-11.hint-text Online
                  %a.link.text-master.inline.action.p-r-10.pull-right{:href => "#"}
                    %i.pg-more
              / END Header  !
              / BEGIN Conversation  !
              #my-conversation.chat-inner
                / BEGIN From Me Message  !
                .message.clearfix
                  .chat-bubble.from-me
                    Hello there
                / END From Me Message  !
                / BEGIN From Them Message  !
                .message.clearfix
                  .profile-img-wrapper.m-t-5.inline
                    %img.col-top{:alt => "", "data-src" => "assets/img/profiles/avatar_small.jpg", "data-src-retina" => "assets/img/profiles/avatar_small2x.jpg", :height => "30", :src => "assets/img/profiles/avatar_small.jpg", :width => "30"}
                  .chat-bubble.from-them
                    Hey
                / END From Them Message  !
                / BEGIN From Me Message  !
                .message.clearfix
                  .chat-bubble.from-me
                    Did you check out Pages framework ?
                / END From Me Message  !
                / BEGIN From Me Message  !
                .message.clearfix
                  .chat-bubble.from-me
                    Its an awesome chat
                / END From Me Message  !
                / BEGIN From Them Message  !
                .message.clearfix
                  .profile-img-wrapper.m-t-5.inline
                    %img.col-top{:alt => "", "data-src" => "assets/img/profiles/avatar_small.jpg", "data-src-retina" => "assets/img/profiles/avatar_small2x.jpg", :height => "30", :src => "assets/img/profiles/avatar_small.jpg", :width => "30"}
                  .chat-bubble.from-them
                    Yea
                / END From Them Message  !
              / BEGIN Conversation  !
              / BEGIN Chat Input  !
              .b-t.b-grey.bg-white.clearfix.p-l-10.p-r-10
                .row
                  .col-xs-1.p-t-15
                    %a.link.text-master{:href => "#"}
                      %i.fa.fa-plus-circle
                  .col-xs-8.no-padding
                    %input.form-control.chat-input{"data-chat-conversation" => "#my-conversation", "data-chat-input" => "", :placeholder => "Say something", :type => "text"}
                  .col-xs-2.link.text-master.m-l-10.m-t-15.p-l-10.b-l.b-grey.col-top
                    %a.link.text-master{:href => "#"}
                      %i.pg-camera
              / END Chat Input  !
            / END Conversation View  !
    / END QUICKVIEW
    #builder.quickview-wrapper.open.builder.hidden-sm.hidden-xs
      .p-l-30.p-r-30
        %a.builder-close.quickview-toggle.pg-close{"data-toggle" => "quickview", "data-toggle-element" => "#builder", :href => "#"}
        %a.builder-toggle{"data-toggle" => "quickview", "data-toggle-element" => "#builder"}
          %i.pg.pg-theme
        %ul.nav.nav-tabs.nav-tabs-simple.nav-tabs-primary.m-t-10
          %li.active
            %a{"data-toggle" => "tab", :href => "#tabLayouts"} Layouts
          %li
            %a{"data-toggle" => "tab", :href => "#tabThemes"} Colors
          %li
            %a{"data-toggle" => "tab", :href => "#tabContent"} Content
        .tab-content.m-b-30.p-l-30
          #tabLayouts.tab-pane.active
            .scrollable
              .p-l-10.p-r-50
                %h5.semi-bold
                  Layout options
                %p.no-margin
                  Builder make it easier
                %p.small.hint-text.m-b-20
                  Customize and Preview your dashboard.
                .row.p-b-35
                  .col-xs-6
                    %a.btn-toggle-layout.fs-12.active{"data-action" => "menuDefault", :href => "#"}
                      %img.m-b-15{:alt => "Menu divided icon", "data-src" => "assets/img/demo/menu_divided_con.png", "data-src-retina" => "assets/img/demo/menu_divided_con_2x.png", :height => "95", :src => "assets/img/demo/menu_divided_con.png", :width => "126"}
                        %span.text-dark.m-t-5
                          Divided Header & Condensed / Quick
                          Menu
                  .col-xs-6
                    %a.btn-toggle-layout.fs-12{"data-action" => "menuBelow", :href => "#"}
                      %img.m-b-15{:alt => "Full header icon", "data-src-retina" => "assets/img/demo/full_header_con_2x.png", :height => "95", :src => "assets/img/demo/full_header_con.png", :width => "126"}
                        %span.text-dark.m-t-5
                          Full Width Header & Condensed/ Quick
                          Menu
                .row.p-b-10
                  .col-xs-6
                    %a.btn-toggle-layout.fs-12{"data-action" => "menuPinned", :href => "#"}
                      %img.m-b-15{:alt => "Menu divided", "data-src" => "assets/img/demo/menu_divided.png", "data-src-retina" => "assets/img/demo/menu_divided_2x.png", :height => "95", :src => "assets/img/demo/menu_divided.png", :width => "126"}
                        %span.text-dark.m-t-5 Divided Header & Fixed/Pinned Menu
                  .col-xs-6
                    %a.btn-toggle-layout.fs-12{"data-action" => "menuPinnedBelow", :href => "#"}
                      %img.m-b-15{:alt => "Full header", "data-src" => "assets/img/demo/full_header.png", "data-src-retina" => "assets/img/demo/full_header_2x.png", :height => "95", :src => "assets/img/demo/full_header.png", :width => "126"}
                        %span.text-dark.m-t-5
                          Full Width Header & Fixed/Pinned
                          Menu
          #tabThemes.tab-pane
            .scrollable
              .p-l-10.p-r-50
                %h5.semi-bold
                  Color Options
                %p.hint-text.no-margin
                  Color makes it different
                %p.small.hint-text.m-b-20
                  Customize and Preview your dashboard.
                %a.btn-toggle-theme.b-a.b-grey.active.theme-selector.m-b-30{"data-action" => "default", :href => "#"}
                  %img.image-responsive-height{:alt => "Theme default", :src => "assets/img/demo/theme_default.png"}
                    .p-l-15.p-r-20.p-b-10.p-t-10
                      %p.no-margin
                        %span.block.font-montserrat.text-uppercase.fs-12.bold Default
                        %span.fs-11 pages default color palette
                %a.btn-toggle-theme.b-a.b-grey.theme-selector.m-b-30{"data-action" => "corporate", :href => "#"}
                  %img.image-responsive-height{:alt => "Theme corporate", :src => "assets/img/demo/theme_corporate.png"}
                    .p-l-15.p-r-20.p-b-10.p-t-10
                      %p.no-margin
                        %span.block.font-montserrat.text-uppercase.fs-12.bold Corporate
                        %span.fs-11 give your an a profesional look
                %a.btn-toggle-theme.b-a.b-grey.theme-selector.m-b-30{"data-action" => "retro", :href => "#"}
                  %img.image-responsive-height{:alt => "Theme retro", :src => "assets/img/demo/theme_retro.png"}
                    .p-l-15.p-r-20.p-b-10.p-t-10
                      %p.no-margin
                        %span.block.font-montserrat.text-uppercase.fs-12.bold Retro
                        %span.fs-11 calm color palette
                %a.btn-toggle-theme.b-a.b-grey.theme-selector.m-b-30{"data-action" => "unlax", :href => "#"}
                  %img.image-responsive-height{:alt => "Theme unlax", :src => "assets/img/demo/theme_unlax.png"}
                    .p-l-15.p-r-20.p-b-10.p-t-10
                      %p.no-margin
                        %span.block.font-montserrat.text-uppercase.fs-12.bold Unlax
                        %span.fs-11 calm color palette
                %a.btn-toggle-theme.b-a.b-grey.theme-selector.m-b-30{"data-action" => "vibes", :href => "#"}
                  %img.image-responsive-height{:alt => "Thmeme vibes", :src => "assets/img/demo/theme_vibes.png"}
                    .p-l-15.p-r-20.p-b-10.p-t-10
                      %p.no-margin
                        %span.block.font-montserrat.text-uppercase.fs-12.bold Vibes
                        %span.fs-11 calm color palette
                %a.btn-toggle-theme.b-a.b-grey.theme-selector.m-b-30{"data-action" => "abstract", :href => "#"}
                  %img.image-responsive-height{:alt => "Theme abstract", :src => "assets/img/demo/theme_abstract.png"}
                    .p-l-15.p-r-20.p-b-10.p-t-10
                      %p.no-margin
                        %span.block.font-montserrat.text-uppercase.fs-12.bold Abstract
                        %span.fs-11 calm color palette
          #tabContent.tab-pane
            .scrollable
              .p-l-10.p-r-50
                %h5.semi-bold
                  Content
                %p.hint-text.no-margin
                  Builder make it easier
                %p.small.hint-text.m-b-20
                  Customize and Preview your dashboard.
                %ul
                  %li.full-width.m-b-30
                    %a.btn-toggle-content.content-select.active{"data-action" => "plainContent", :href => "#"}
                      %img.m-b-10.image-responsive-height{:alt => "Blank", :src => "assets/img/demo/blank.svg"}
                        Plain
                  %li.full-width.m-b-30
                    %a.btn-toggle-content.content-select{"data-action" => "parallaxCoverpage", :href => "#"}
                      %img.m-b-10.image-responsive-height{:alt => "Parallax cover", :src => "assets/img/demo/paralax_cover.gif"} Coverpage with parallax
                  %li.full-width.m-b-30
                    %a.btn-toggle-content.content-select{"data-action" => "fullheightParallax", :href => "#"}
                      %img.m-b-10.image-responsive-height{:alt => "Parallax full", :src => "assets/img/demo/paralax_full.gif"} Full height coverpage with parallax
                  %li.full-width.m-b-30
                    %a.btn-toggle-content.content-select{"data-action" => "titleParallax", :href => "#"}
                      %img.m-b-10.image-responsive-height{:alt => "Parallax title", :src => "assets/img/demo/paralax_title.gif"}
                        Page title parallax
                  %li.full-width.m-b-30
                    %a.btn-toggle-content.content-select{"data-action" => "columns-3-9", :href => "#"}
                      %img.m-b-10.image-responsive-height{:alt => "3_9", :src => "assets/img/demo/3_9.svg"} Column view (3 : 9)
                  %li.full-width.m-b-30
                    %a.btn-toggle-content.content-select{"data-action" => "columns-9-3", :href => "#"}
                      %img.m-b-10.image-responsive-height{:alt => "9_3", :src => "assets/img/demo/9_3.svg"} Column view (9 : 3)
                  %li.full-width.m-b-30
                    %a.btn-toggle-content.content-select{"data-action" => "columns-6-6", :href => "#"}
                      %img.m-b-10.image-responsive-height{:alt => "6_6", :src => "assets/img/demo/6_6.svg"} Column view (6 : 6)
                  %li.full-width.m-b-30
                    %a.btn-toggle-content.content-select{"data-action" => "secondaryNav", :href => "#"}
                      %img.m-b-10.image-responsive-height{:alt => "blank", :src => "assets/img/demo/blank.svg"} Secondary navigation bar
    / START OVERLAY
    .overlay.hide{"data-pages" => "search"}
      / BEGIN Overlay Content !
      .overlay-content.has-results.m-t-20
        / BEGIN Overlay Header !
        .container-fluid
          / BEGIN Overlay Logo !
          %img.overlay-brand{:alt => "logo", "data-src" => "assets/img/logo.png", "data-src-retina" => "assets/img/logo_2x.png", :height => "22", :src => "assets/img/logo.png", :width => "78"}
            / END Overlay Logo !
            / BEGIN Overlay Close !
            %a.close-icon-light.overlay-close.text-black.fs-16{:href => "#"}
              %i.pg-close
            / END Overlay Close !
        / END Overlay Header !
        .container-fluid
          / BEGIN Overlay Controls !
          %input#overlay-search.no-border.overlay-search.bg-transparent{:autocomplete => "off", :placeholder => "Search...", :spellcheck => "false"}
            %br
              .inline-block
                .checkbox.right
                  %input#checkboxn{:checked => "checked", :type => "checkbox", :value => "1"}
                    %label{:for => "checkboxn"}
                      %i.fa.fa-search
                      Search within page
              .inline-block.m-l-10
                %p.fs-13 Press enter to search
              / END Overlay Controls !
        / BEGIN Overlay Search Results, This part is for demo purpose, you can add anything you like !
        .container-fluid
          %span
            %strong suggestions :
          %span#overlay-suggestions
          %br
            .search-results.m-t-40
              %p.bold Pages Search Results
              .row
                .col-md-6
                  / BEGIN Search Result Item !
                  %div
                    / BEGIN Search Result Item Thumbnail !
                    .thumbnail-wrapper.d48.circular.bg-success.text-white.inline.m-t-10
                      %div
                        %img{:alt => "", "data-src" => "assets/img/profiles/avatar.jpg", "data-src-retina" => "assets/img/profiles/avatar2x.jpg", :height => "50", :src => "assets/img/profiles/avatar.jpg", :width => "50"}
                    / END Search Result Item Thumbnail !
                    .p-l-10.inline.p-t-5
                      %h5.m-b-5
                        %span.semi-bold.result-name ice cream
                        on pages
                      %p.hint-text via john smith
                  / END Search Result Item !
                  / BEGIN Search Result Item !
                  %div
                    / BEGIN Search Result Item Thumbnail !
                    .thumbnail-wrapper.d48.circular.bg-success.text-white.inline.m-t-10
                      %div T
                    / END Search Result Item Thumbnail !
                    .p-l-10.inline.p-t-5
                      %h5.m-b-5
                        %span.semi-bold.result-name ice cream
                        related topics
                      %p.hint-text via pages
                  / END Search Result Item !
                  / BEGIN Search Result Item !
                  %div
                    / BEGIN Search Result Item Thumbnail !
                    .thumbnail-wrapper.d48.circular.bg-success.text-white.inline.m-t-10
                      %div
                        %i.fa.fa-headphones.large-text
                    / END Search Result Item Thumbnail !
                    .p-l-10.inline.p-t-5
                      %h5.m-b-5
                        %span.semi-bold.result-name ice cream
                        music
                      %p.hint-text via pagesmix
                  / END Search Result Item !
                .col-md-6
                  / BEGIN Search Result Item !
                  %div
                    / BEGIN Search Result Item Thumbnail !
                    .thumbnail-wrapper.d48.circular.bg-info.text-white.inline.m-t-10
                      %div
                        %i.fa.fa-facebook.large-text
                    / END Search Result Item Thumbnail !
                    .p-l-10.inline.p-t-5
                      %h5.m-b-5
                        %span.semi-bold.result-name ice cream
                        on facebook
                      %p.hint-text via facebook
                  / END Search Result Item !
                  / BEGIN Search Result Item !
                  %div
                    / BEGIN Search Result Item Thumbnail !
                    .thumbnail-wrapper.d48.circular.bg-complete.text-white.inline.m-t-10
                      %div
                        %i.fa.fa-twitter.large-text
                    / END Search Result Item Thumbnail !
                    .p-l-10.inline.p-t-5
                      %h5.m-b-5
                        Tweats on
                        %span.semi-bold.result-name ice cream
                      %p.hint-text via twitter
                  / END Search Result Item !
                  / BEGIN Search Result Item !
                  %div
                    / BEGIN Search Result Item Thumbnail !
                    .thumbnail-wrapper.d48.circular.text-white.bg-danger.inline.m-t-10
                      %div
                        %i.fa.fa-google-plus.large-text
                    / END Search Result Item Thumbnail !
                    .p-l-10.inline.p-t-5
                      %h5.m-b-5
                        Circles on
                        %span.semi-bold.result-name ice cream
                      %p.hint-text via google plus
                  / END Search Result Item !
        / END Overlay Search Results !
      / END Overlay Content !
    / END OVERLAY
    / BEGIN VENDOR JS
    %script{:src => "assets/plugins/pace/pace.min.js", :type => "text/javascript"}
    %script{:src => "assets/plugins/jquery/jquery-1.8.3.min.js", :type => "text/javascript"}
    %script{:src => "assets/plugins/modernizr.custom.js", :type => "text/javascript"}
    %script{:src => "assets/plugins/jquery-ui/jquery-ui.min.js", :type => "text/javascript"}
    %script{:src => "assets/plugins/bootsrapv3/js/bootstrap.min.js", :type => "text/javascript"}
    %script{:src => "assets/plugins/jquery/jquery-easy.js", :type => "text/javascript"}
    %script{:src => "assets/plugins/jquery-unveil/jquery.unveil.min.js", :type => "text/javascript"}
    %script{:src => "assets/plugins/jquery-bez/jquery.bez.min.js"}
    %script{:src => "assets/plugins/jquery-ios-list/jquery.ioslist.min.js", :type => "text/javascript"}
    %script{:src => "assets/plugins/jquery-actual/jquery.actual.min.js"}
    %script{:src => "assets/plugins/jquery-scrollbar/jquery.scrollbar.min.js"}
    %script{:src => "assets/plugins/bootstrap-select2/select2.min.js", :type => "text/javascript"}
    %script{:src => "assets/plugins/classie/classie.js", :type => "text/javascript"}
    %script{:src => "assets/plugins/switchery/js/switchery.min.js", :type => "text/javascript"}
    / END VENDOR JS
    / BEGIN CORE TEMPLATE JS
    %script{:src => "pages/js/pages.min.js"}
    / END CORE TEMPLATE JS
    / BEGIN PAGE LEVEL JS
    %script{:src => "assets/js/demo.js", :type => "text/javascript"}
    %script{:src => "assets/js/scripts.js", :type => "text/javascript"}
    / END PAGE LEVEL JS