!!!
%html
  %head
    %meta{:content => "text/html;charset=UTF-8", "http-equiv" => "content-type"}/
    %meta{:charset => "utf-8"}/
    %title Pages - Admin Dashboard UI Kit
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", :name => "viewport"}/
    %link{:href => "pages/ico/60.png", :rel => "apple-touch-icon"}/
    %link{:href => "pages/ico/76.png", :rel => "apple-touch-icon", :sizes => "76x76"}/
    %link{:href => "pages/ico/120.png", :rel => "apple-touch-icon", :sizes => "120x120"}/
    %link{:href => "pages/ico/152.png", :rel => "apple-touch-icon", :sizes => "152x152"}/
    %link{:href => "favicon.ico", :rel => "icon", :type => "image/x-icon"}/
    %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}/
    %meta{:content => "yes", :name => "apple-touch-fullscreen"}/
    %meta{:content => "default", :name => "apple-mobile-web-app-status-bar-style"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    %link{:href => "assets/plugins/pace/pace-theme-flash.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "assets/plugins/bootsrapv3/css/bootstrap.min.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "assets/plugins/font-awesome/css/font-awesome.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "assets/plugins/jquery-scrollbar/jquery.scrollbar.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "assets/plugins/bootstrap-select2/select2.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "assets/plugins/switchery/css/switchery.min.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "pages/css/pages-icons.css", :rel => "stylesheet", :type => "text/css"}/
    %link.main-stylesheet{:href => "pages/css/pages.css", :rel => "stylesheet", :type => "text/css"}/
    /[if lte IE 9]
      <link href="pages/css/ie9.css" rel="stylesheet" type="text/css" />
    :javascript
      window.onload = function()
      {
        // fix for windows 8
        if (navigator.appVersion.indexOf("Windows NT 6.2") != -1)
          document.head.innerHTML += '<link rel="stylesheet" type="text/css" href="pages/css/windows.chrome.fix.css" />'
      }
  %body.fixed-header
    / START PAGE-CONTAINER
    .lock-container.full-height
      / START PAGE CONTENT WRAPPER
      .container-sm-height.full-height.sm-p-t-50
        .row.row-sm-height
          .col-sm-6.col-sm-height.col-middle
            / START Lock Screen User Info
            .inline
              .thumbnail-wrapper.circular.d48.m-r-10
                %img{:alt => "", "data-src" => "assets/img/profiles/avatar.jpg", "data-src-retina" => "assets/img/profiles/avatar_small2x.jpg", :height => "43", :src => "assets/img/profiles/avatar_small2x.jpg", :width => "43"}/
            .inline
              %h5.logged.hint-text.no-margin
                Logged in as
              %h2.name.no-margin David Nester
            / END Lock Screen User Info
          .col-sm-6.col-sm-height.col-middle
            / START Lock Screen Form
            %form#form-lock{:action => "index.html", :role => "form"}
              .row
                .col-sm-12
                  / START Form Control
                  .form-group.form-group-default.sm-m-t-30
                    %label Credentials
                    .controls
                      %input.form-control{:name => "password", :placeholder => "Password to unlock", :required => "", :type => "text"}/
                  / END Form Control
              / START Lock Screen Notification Icons
              .row
                .col-sm-12
                  %a.inline.text-black.fs-14.hint-text{:href => "#"}
                    %i.pg-mail
                    %span.hint-text 12
                  %a.inline.text-black.fs-14.hint-text.m-l-30{:href => "#"}
                    %i.pg-comment
                    %span.hint-text 4
              / END Lock Screen Notification Icons
            / END Lock Screen Form
      / END PAGE CONTENT WRAPPER
    / END PAGE-CONTAINER
    / START Lock Screen Footer Content
    .pull-bottom.full-width
      .lock-container.m-b-10.clearfix
        .inline.pull-left
          %img.m-t-5{:alt => "", "data-src" => "assets/img/demo/pages_icon.png", "data-src-retina" => "assets/img/demo/pages_icon_2x.png", :height => "60", :src => "assets/img/demo/pages_icon.png", :width => "60"}/
        .col-md-10.m-t-15
          %p.hinted-text.small.inline No part of this website or any of its contents may be reproduced, copied, modified or adapted, without the prior written consent of the author, unless otherwise indicated for stand-alone materials.
    / END Lock Screen Footer Content
    / START OVERLAY
    .overlay.hide{"data-pages" => "search"}
      / BEGIN Overlay Content !
      .overlay-content.has-results.m-t-20
        / BEGIN Overlay Header !
        .container-fluid
          / BEGIN Overlay Logo !
          %img.overlay-brand{:alt => "logo", "data-src" => "assets/img/logo.png", "data-src-retina" => "assets/img/logo_2x.png", :height => "22", :src => "assets/img/logo.png", :width => "78"}/
          / END Overlay Logo !
          / BEGIN Overlay Close !
          %a.close-icon-light.overlay-close.text-black.fs-16{:href => "#"}
            %i.pg-close
          / END Overlay Close !
        / END Overlay Header !
        .container-fluid
          / BEGIN Overlay Controls !
          %input#overlay-search.no-border.overlay-search.bg-transparent{:autocomplete => "off", :placeholder => "Search...", :spellcheck => "false"}/
          %br/
          .inline-block
            .checkbox.right
              %input#checkboxn{:checked => "checked", :type => "checkbox", :value => "1"}/
              %label{:for => "checkboxn"}
                %i.fa.fa-search
                Search within page
          .inline-block.m-l-10
            %p.fs-13 Press enter to search
          / END Overlay Controls !
        / BEGIN Overlay Search Results, This part is for demo purpose, you can add anything you like !
        .container-fluid
          %span
            %strong suggestions :
          %span#overlay-suggestions
          %br/
          .search-results.m-t-40
            %p.bold Pages Search Results
            .row
              .col-md-6
                / BEGIN Search Result Item !
                %div
                  / BEGIN Search Result Item Thumbnail !
                  .thumbnail-wrapper.d48.circular.bg-success.text-white.inline.m-t-10
                    %div
                      %img{:alt => "", "data-src" => "assets/img/profiles/avatar.jpg", "data-src-retina" => "assets/img/profiles/avatar2x.jpg", :height => "50", :src => "assets/img/profiles/avatar.jpg", :width => "50"}/
                  / END Search Result Item Thumbnail !
                  .p-l-10.inline.p-t-5
                    %h5.m-b-5
                      %span.semi-bold.result-name ice cream
                      on pages
                    %p.hint-text via john smith
                / END Search Result Item !
                / BEGIN Search Result Item !
                %div
                  / BEGIN Search Result Item Thumbnail !
                  .thumbnail-wrapper.d48.circular.bg-success.text-white.inline.m-t-10
                    %div T
                  / END Search Result Item Thumbnail !
                  .p-l-10.inline.p-t-5
                    %h5.m-b-5
                      %span.semi-bold.result-name ice cream
                      related topics
                    %p.hint-text via pages
                / END Search Result Item !
                / BEGIN Search Result Item !
                %div
                  / BEGIN Search Result Item Thumbnail !
                  .thumbnail-wrapper.d48.circular.bg-success.text-white.inline.m-t-10
                    %div
                      %i.fa.fa-headphones.large-text
                  / END Search Result Item Thumbnail !
                  .p-l-10.inline.p-t-5
                    %h5.m-b-5
                      %span.semi-bold.result-name ice cream
                      music
                    %p.hint-text via pagesmix
                / END Search Result Item !
              .col-md-6
                / BEGIN Search Result Item !
                %div
                  / BEGIN Search Result Item Thumbnail !
                  .thumbnail-wrapper.d48.circular.bg-info.text-white.inline.m-t-10
                    %div
                      %i.fa.fa-facebook.large-text
                  / END Search Result Item Thumbnail !
                  .p-l-10.inline.p-t-5
                    %h5.m-b-5
                      %span.semi-bold.result-name ice cream
                      on facebook
                    %p.hint-text via facebook
                / END Search Result Item !
                / BEGIN Search Result Item !
                %div
                  / BEGIN Search Result Item Thumbnail !
                  .thumbnail-wrapper.d48.circular.bg-complete.text-white.inline.m-t-10
                    %div
                      %i.fa.fa-twitter.large-text
                  / END Search Result Item Thumbnail !
                  .p-l-10.inline.p-t-5
                    %h5.m-b-5
                      Tweats on
                      %span.semi-bold.result-name ice cream
                    %p.hint-text via twitter
                / END Search Result Item !
                / BEGIN Search Result Item !
                %div
                  / BEGIN Search Result Item Thumbnail !
                  .thumbnail-wrapper.d48.circular.text-white.bg-danger.inline.m-t-10
                    %div
                      %i.fa.fa-google-plus.large-text
                  / END Search Result Item Thumbnail !
                  .p-l-10.inline.p-t-5
                    %h5.m-b-5
                      Circles on
                      %span.semi-bold.result-name ice cream
                    %p.hint-text via google plus
                / END Search Result Item !
        / END Overlay Search Results !
      / END Overlay Content !
    / END OVERLAY
    / BEGIN VENDOR JS
    %script{:src => "assets/plugins/pace/pace.min.js", :type => "text/javascript"}
    %script{:src => "assets/plugins/jquery/jquery-1.8.3.min.js", :type => "text/javascript"}
    %script{:src => "assets/plugins/modernizr.custom.js", :type => "text/javascript"}
    %script{:src => "assets/plugins/jquery-ui/jquery-ui.min.js", :type => "text/javascript"}
    %script{:src => "assets/plugins/bootsrapv3/js/bootstrap.min.js", :type => "text/javascript"}
    %script{:src => "assets/plugins/jquery/jquery-easy.js", :type => "text/javascript"}
    %script{:src => "assets/plugins/jquery-unveil/jquery.unveil.min.js", :type => "text/javascript"}
    %script{:src => "assets/plugins/jquery-bez/jquery.bez.min.js"}
    %script{:src => "assets/plugins/jquery-ios-list/jquery.ioslist.min.js", :type => "text/javascript"}
    %script{:src => "assets/plugins/jquery-actual/jquery.actual.min.js"}
    %script{:src => "assets/plugins/jquery-scrollbar/jquery.scrollbar.min.js"}
    %script{:src => "assets/plugins/bootstrap-select2/select2.min.js", :type => "text/javascript"}
    %script{:src => "assets/plugins/classie/classie.js", :type => "text/javascript"}
    %script{:src => "assets/plugins/switchery/js/switchery.min.js", :type => "text/javascript"}
    %script{:src => "assets/plugins/jquery-validation/js/jquery.validate.min.js", :type => "text/javascript"}
    / END VENDOR JS
    / BEGIN CORE TEMPLATE JS
    %script{:src => "pages/js/pages.min.js"}
    / END CORE TEMPLATE JS
    / BEGIN PAGE LEVEL JS
    %script{:src => "assets/js/scripts.js", :type => "text/javascript"}
    / END PAGE LEVEL JS
    :javascript
      $(function()
      {
        $('#form-lock').validate()
      })