!!!
%html
  %head
    %meta{:content => "text/html;charset=UTF-8", "http-equiv" => "content-type"}/
    %meta{:charset => "utf-8"}/
    %title Pages - Admin Dashboard UI Kit
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", :name => "viewport"}/
    %link{:href => "pages/ico/60.png", :rel => "apple-touch-icon"}/
    %link{:href => "pages/ico/76.png", :rel => "apple-touch-icon", :sizes => "76x76"}/
    %link{:href => "pages/ico/120.png", :rel => "apple-touch-icon", :sizes => "120x120"}/
    %link{:href => "pages/ico/152.png", :rel => "apple-touch-icon", :sizes => "152x152"}/
    %link{:href => "favicon.ico", :rel => "icon", :type => "image/x-icon"}/
    %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}/
    %meta{:content => "yes", :name => "apple-touch-fullscreen"}/
    %meta{:content => "default", :name => "apple-mobile-web-app-status-bar-style"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    %link{:href => "assets/plugins/pace/pace-theme-flash.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "assets/plugins/bootsrapv3/css/bootstrap.min.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "assets/plugins/font-awesome/css/font-awesome.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "assets/plugins/jquery-scrollbar/jquery.scrollbar.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "assets/plugins/bootstrap-select2/select2.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "assets/plugins/switchery/css/switchery.min.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "pages/css/pages-icons.css", :rel => "stylesheet", :type => "text/css"}/
    %link.main-stylesheet{:href => "pages/css/pages.css", :rel => "stylesheet", :type => "text/css"}/
    /[if lte IE 9]
      <link href="pages/css/ie9.css" rel="stylesheet" type="text/css" />
    :javascript
      window.onload = function()
      {
        // fix for windows 8
        if (navigator.appVersion.indexOf("Windows NT 6.2") != -1)
          document.head.innerHTML += '<link rel="stylesheet" type="text/css" href="pages/css/windows.chrome.fix.css" />'
      }
  %body.fixed-header
    / START PAGE-CONTAINER
    .login-wrapper
      / START Login Background Pic Wrapper
      .bg-pic
        / START Background Pic
        %img.lazy{:alt => "", "data-src" => "assets/img/demo/new-york-city-buildings-sunrise-morning-hd-wallpaper.jpg", "data-src-retina" => "assets/img/demo/new-york-city-buildings-sunrise-morning-hd-wallpaper.jpg", :src => "assets/img/demo/new-york-city-buildings-sunrise-morning-hd-wallpaper.jpg"}/
        / END Background Pic
        / START Background Caption
        .bg-caption.pull-bottom.sm-pull-bottom.text-white.p-l-20.m-b-20
          %h2.semi-bold.text-white
            Pages make it easy to enjoy what matters the most in the life
          %p.small
            images Displayed are solely for representation purposes only, All work copyright of respective owner, otherwise © 2013-2014 REVOX.
        / END Background Caption
      / END Login Background Pic Wrapper
      / START Login Right Container
      .login-container.bg-white
        .p-l-50.m-l-20.p-r-50.m-r-20.p-t-50.m-t-30.sm-p-l-15.sm-p-r-15.sm-p-t-40
          %img{:alt => "logo", "data-src" => "assets/img/logo.png", "data-src-retina" => "assets/img/logo_2x.png", :height => "22", :src => "assets/img/logo.png", :width => "78"}/
          %p.p-t-35 Sign into your pages account
          / START Login Form
          %form#form-login.p-t-15{:action => "index.html", :role => "form"}
            / START Form Control
            .form-group.form-group-default
              %label Login
              .controls
                %input.form-control{:name => "username", :placeholder => "User Name", :required => "", :type => "text"}/
            / END Form Control
            / START Form Control
            .form-group.form-group-default
              %label Password
              .controls
                %input.form-control{:name => "password", :placeholder => "Credentials", :required => "", :type => "password"}/
            / START Form Control
            .row
              .col-md-6.no-padding
                .checkbox
                  %input#checkbox1{:type => "checkbox", :value => "1"}/
                  %label{:for => "checkbox1"} Keep Me Signed in
              .col-md-6.text-right
                %a.text-info.small{:href => "#"} Help? Contact Support
            / END Form Control
            %button.btn.btn-primary.btn-cons.m-t-10{:type => "submit"} Sign in
          / END Login Form
          .pull-bottom.sm-pull-bottom
            .m-b-30.p-r-80.sm-m-t-20.sm-p-r-15.sm-p-b-20.clearfix
              .col-sm-3.col-md-2.no-padding
                %img.m-t-5{:alt => "", "data-src" => "assets/img/demo/pages_icon.png", "data-src-retina" => "assets/img/demo/pages_icon_2x.png", :height => "60", :src => "assets/img/demo/pages_icon.png", :width => "60"}/
              .col-sm-9.no-padding.m-t-10
                %p
                  %small
                    Create a pages account. If you have a facebook account, log into it for this process. Sign in with
                    %a.text-info{:href => "#"} Facebook
                    or
                    %a.text-info{:href => "#"} Google
      / END Login Right Container
    / END PAGE CONTAINER
    / BEGIN VENDOR JS
    %script{:src => "assets/plugins/pace/pace.min.js", :type => "text/javascript"}
    %script{:src => "assets/plugins/jquery/jquery-1.8.3.min.js", :type => "text/javascript"}
    %script{:src => "assets/plugins/modernizr.custom.js", :type => "text/javascript"}
    %script{:src => "assets/plugins/jquery-ui/jquery-ui.min.js", :type => "text/javascript"}
    %script{:src => "assets/plugins/bootsrapv3/js/bootstrap.min.js", :type => "text/javascript"}
    %script{:src => "assets/plugins/jquery/jquery-easy.js", :type => "text/javascript"}
    %script{:src => "assets/plugins/jquery-unveil/jquery.unveil.min.js", :type => "text/javascript"}
    %script{:src => "assets/plugins/jquery-bez/jquery.bez.min.js"}
    %script{:src => "assets/plugins/jquery-ios-list/jquery.ioslist.min.js", :type => "text/javascript"}
    %script{:src => "assets/plugins/jquery-actual/jquery.actual.min.js"}
    %script{:src => "assets/plugins/jquery-scrollbar/jquery.scrollbar.min.js"}
    %script{:src => "assets/plugins/bootstrap-select2/select2.min.js", :type => "text/javascript"}
    %script{:src => "assets/plugins/classie/classie.js", :type => "text/javascript"}
    %script{:src => "assets/plugins/switchery/js/switchery.min.js", :type => "text/javascript"}
    %script{:src => "assets/plugins/jquery-validation/js/jquery.validate.min.js", :type => "text/javascript"}
    / END VENDOR JS
    / BEGIN CORE TEMPLATE JS
    %script{:src => "pages/js/pages.min.js"}
    / END CORE TEMPLATE JS
    / BEGIN PAGE LEVEL JS
    %script{:src => "assets/js/scripts.js", :type => "text/javascript"}
    / END PAGE LEVEL JS
    :javascript
      $(function()
      {
        $('#form-login').validate()
      })