<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta charset="utf-8" />
    <title>Pages - Widgets</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="apple-touch-icon" href="../pages/ico/60.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{# DIST_PATH #}ico/76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{# DIST_PATH #}ico/120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{# DIST_PATH #}ico/152.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta content="" name="description" />
    <meta content="" name="author" />
    <link href="{# PLUGINS_PATH #}bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="{# PLUGINS_PATH #}font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="{# PLUGINS_PATH #}/jquery-scrollbar/jquery.scrollbar.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="{# DIST_PATH #}css/pages-icons.css" rel="stylesheet" type="text/css">
    {% block vendor_css %}{% endblock %}
    <link class="main-stylesheet" href="{# DIST_PATH #}css/pages.css" rel="stylesheet" type="text/css" />
    <link href="css/widget.css" rel="stylesheet" type="text/css" />
    {% if ENV == "LIVE" %}
    <link href="../pages/css/widget-market.css" rel="stylesheet" type="text/css" media="screen" />
    {% endif %}
</head>

<body class="fixed-header dashboard ">
    <!-- START PAGE-CONTAINER -->
    <div class="page-container no-padding "> 
        <!-- START PAGE CONTENT WRAPPER -->
        <div class="page-content-wrapper container-xs-height full-height">
            <!-- START PAGE CONTENT -->
            <div class="content sm-gutter no-padding col-xs-height col-middle">
                <!-- START CONTAINER FLUID -->
                <div class="container-fluid padding-25 sm-padding-10">
                    <!-- START ROW -->
                    <div class="row">
                        <div class="col-md-12 m-b-10">
                            {% block content %}{% endblock %}
                        </div>
                    </div>
                    <!-- END ROW -->
                </div>
            </div>
        </div>
    </div>
    <!-- BEGIN VENDOR JS -->
    <script src="{# PLUGINS_PATH #}jquery/jquery-1.11.1.min.js" type="text/javascript"></script>
    <script src="{# PLUGINS_PATH #}modernizr.custom.js" type="text/javascript"></script>
    <script src="{# PLUGINS_PATH #}/jquery-scrollbar/jquery.scrollbar.min.js"></script>
    {% block vendor_js %}{% endblock %}
    <!-- END VENDOR JS -->
    <!-- BEGIN CORE TEMPLATE JS -->
    <script src="{# DIST_PATH #}js/pages.js"></script>
    <!-- END CORE TEMPLATE JS -->
    <!-- BEGIN PAGE LEVEL JS -->
    <script src="js/widget.js"></script>
    <!-- END PAGE LEVEL JS -->
</body>

</html>