{% set TITLE = "- Google Maps" %}
{% set ASSETS = "assets" %}
{% set ASSETS_PLUGINS = "assets/plugins" %}
{% set PAGES_CORE = "pages" %}
{% set THEME ="pages" %}
{% set mode = "horizontal_menu" %}
{% set page_title = "maps" %}
{% set active_parent = "maps" %}
{% set BODY_CLASS = "no-header" %}
{% set HEADER_CLASS = "transparent" %}
{% set CONTENT_WRAPPER_CLASS = "full-height" %}
{% set CONTENT_CLASS = "full-width full-height overlay-footer" %}
{% extends PATH + "layouts/horizontal_app_layout.html" %}
{% block css_dependencies %}{% endblock %}
  {% block page %}
  {% include PATH + "pages/maps/google.tpl"%}
  {% endblock %}
{% block page_js_dependencies %}
{% endblock %}
{% block addition_js %}
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp" type="text/javascript"></script>
    <script src="assets/js/google_map.js" type="text/javascript"></script>
{% endblock %}