<pg-sidebar>
  <!--<ng-template #sideBarOverlay>
    <div class="row">
      <div class="col-xs-6 no-padding">
        <a href="#" class="p-l-40">
          <img src="assets/img/demo/social_app.svg" alt="socail">
        </a>
      </div>
      <div class="col-xs-6 no-padding">
        <a href="#" class="p-l-10">
          <img src="assets/img/demo/email_app.svg" alt="socail">
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6 m-t-20 no-padding">
        <a href="#" class="p-l-40">
          <img src="assets/img/demo/calendar_app.svg" alt="socail">
        </a>
      </div>
      <div class="col-xs-6 m-t-20 no-padding">
        <a href="#" class="p-l-10">
          <img src="assets/img/demo/add_more.svg" alt="socail">
        </a>
      </div>
    </div>
  </ng-template>-->
  <ng-template #sideBarHeader>
    <img src="assets/img/logo_white_2x.png" alt="logo" class="brand" height="22">
    <div class="sidebar-header-controls">
      <!--<button type="button" class="btn btn-xs sidebar-slide-toggle btn-link m-l-20 hidden-md-down" data-pages-toggle="#appMenu">
        <i class="fa fa-angle-down fs-16"></i>
      </button>-->
      <button type="button" class="btn btn-link hidden-md-down" data-toggle-pin="sidebar" (click)="toggleMenuPin()">
        <i class="fa fs-12"></i>
      </button>
    </div>
  </ng-template>
  <ng-template #menuItems>
    <ul class="menu-items" [perfectScrollbar]="config">
      <li class="m-t-30" routerLinkActive="active">
        <a [routerLink]="['/dashboard/events']" class="detailed">
          <span class="title">Dashboard</span>
          <span class="details">Sales and Events</span>
        </a>
        <span class="icon-thumbnail">
          <i-layout></i-layout>
        </span>
      </li>
      <!--<li class="" routerLinkActive="active">
        <a [routerLink]="['/email/list']" class="detailed">
          <span class="title">Calendar</span>
          <span class="details">Overview and Create Events</span>
        </a>
        <span class="icon-thumbnail">
          <i-calendar></i-calendar>
        </span>
      </li>-->
      <li class="" routerLinkActive="active">
        <a [routerLink]="['/dashboard/users']" class="detailed">
          <span class="title">Users</span>
          <span class="details">User Database</span>
        </a>
        <span class="icon-thumbnail">
          <i-users></i-users>
        </span>
      </li>
     <!-- <li class="" >
        <a href="" (click)="openQuickView($event)" class="detailed">
          <span class="title">Support</span>
          <span class="details">User Support and Messages</span>
        </a>
        <span class="icon-thumbnail">
          <i-message-square></i-message-square>
        </span>
      </li>-->
      <!--<li class="" routerLinkActive="active">
        <a [routerLink]="['/dashboard/analytics']" class="detailed">
          <span class="title">Analytics</span>
          <span class="details">Datacenter</span>
        </a>
        <span class="icon-thumbnail">
          <i-pie-chart></i-pie-chart>
        </span>
      </li>-->
      <!--<li class="" routerLinkActive="active">
        <a [routerLink]="['/dashboard/reports/invoice']" class="detailed">
          <span class="title">Invoices</span>
          <span class="details">Views Sales Reports</span>
        </a>
        <span class="icon-thumbnail">
          <i-clipboard></i-clipboard>
        </span>
      </li>-->
      <!--<li class="" routerLinkActive="active">
        <a [routerLink]="['/app/social']">
          <span class="title">Social</span>
        </a>
        <span class="icon-thumbnail">
          <i class="pg pg-social"></i>
        </span>
      </li>
      <li class="">
        <a href="builder.html">
          <span class="title">Builder</span>
        </a>
        <span class="icon-thumbnail">
          <i class="pg pg-layouts"></i>
        </span>
      </li>
      <li>
        <a href="javascript:;">
          <span class="title">Layouts</span>
          <span class=" arrow"></span>
        </a>
        <span class="icon-thumbnail">
          <i class="pg pg-layouts2"></i>
        </span>
        <ul class="sub-menu">
          <li class="">
            <a href="default_layout.html">Default</a>
            <span class="icon-thumbnail">dl</span>
          </li>
          <li class="">
            <a href="secondary_layout.html">Secondary</a>
            <span class="icon-thumbnail">sl</span>
          </li>
          <li class="">
            <a href="boxed_layout.html">Boxed</a>
            <span class="icon-thumbnail">bl</span>
          </li>
          <li class="">
            <a href="rtl_layout.html">RTL</a>
            <span class="icon-thumbnail">rl</span>
          </li>
        </ul>
      </li>
      <li routerLinkActive="active">
        <a href="javascript:;">
          <span class="title">UI Elements</span>
          <span class=" arrow"></span>
        </a>
        <span class="icon-thumbnail">Ui</span>
        <ul class="sub-menu">
          <li class="">
            <a [routerLink]="['/app/ui/color']">Color</a>
            <span class="icon-thumbnail">c</span>
          </li>
          <li class="">
            <a [routerLink]="['/app/ui/typography']">Typography</a>
            <span class="icon-thumbnail">t</span>
          </li>
          <li class="">
            <a [routerLink]="['/app/ui/icons']">Icons</a>
            <span class="icon-thumbnail">i</span>
          </li>
          <li class="">
            <a [routerLink]="['/app/ui/buttons']">Buttons</a>
            <span class="icon-thumbnail">b</span>
          </li>
          <li class="">
            <a [routerLink]="['/app/ui/notifications']">Notifications</a>
            <span class="icon-thumbnail">n</span>
          </li>
          <li class="">
            <a [routerLink]="['/app/ui/modal']">Modals</a>
            <span class="icon-thumbnail">m</span>
          </li>
          <li class="">
            <a [routerLink]="['/app/ui/progress']">Progress &amp; Activity</a>
            <span class="icon-thumbnail">pa</span>
          </li>
          <li class="">
            <a [routerLink]="['/app/ui/tabs']">Tabs &amp; Accordions</a>
            <span class="icon-thumbnail">ta</span>
          </li>
          <li class="">
            <a [routerLink]="['/app/ui/sliders']">Sliders</a>
            <span class="icon-thumbnail">s</span>
          </li>
          <li class="">
            <a [routerLink]="['/app/ui/tree']">Tree View</a>
            <span class="icon-thumbnail">tv</span>
          </li>
          <li class="">
            <a [routerLink]="['/app/ui/netable']">Nestable</a>
            <span class="icon-thumbnail">ns</span>
          </li>
        </ul>
      </li>
      <li>
        <a href="javascript:;">
          <span class="title">Forms</span>
          <span class=" arrow"></span>
        </a>
        <span class="icon-thumbnail">
          <i class="pg pg-form"></i>
        </span>
        <ul class="sub-menu">
          <li class="">
            <a [routerLink]="['/app/forms/elements']">Form Elements</a>
            <span class="icon-thumbnail">fe</span>
          </li>
          <li class="">
            <a [routerLink]="['/app/forms/layouts']">Form Layouts</a>
            <span class="icon-thumbnail">fl</span>
          </li>
          <li class="">
            <a [routerLink]="['/app/forms/wizard']">Form Wizard</a>
            <span class="icon-thumbnail">fw</span>
          </li>
        </ul>
      </li>
      <li class="">
        <a [routerLink]="['/app/cards']">
          <span class="title">Cards</span>
        </a>
        <span class="icon-thumbnail">
          <i class="pg pg-grid"></i>
        </span>
      </li>
      <li class="">
        <a [routerLink]="['/app/views']">
          <span class="title">Views</span>
        </a>
        <span class="icon-thumbnail">
          <i class="pg pg-ui"></i>
        </span>
      </li>
      <li>
        <a href="javascript:;">
          <span class="title">Tables</span>
          <span class=" arrow"></span>
        </a>
        <span class="icon-thumbnail">
          <i class="pg pg-tables"></i>
        </span>
        <ul class="sub-menu">
          <li class="">
            <a [routerLink]="['/app/tables/basic']">Basic Tables</a>
            <span class="icon-thumbnail">bt</span>
          </li>
          <li class="">
            <a [routerLink]="['/app/tables/advance']">Data Tables</a>
            <span class="icon-thumbnail">dt</span>
          </li>
        </ul>
      </li>
      <li>
        <a href="javascript:;">
          <span class="title">Maps</span>
          <span class=" arrow"></span>
        </a>
        <span class="icon-thumbnail">
          <i class="pg pg-map"></i>
        </span>
        <ul class="sub-menu">
          <li class="">
            <a href="google_map.html">Google Maps</a>
            <span class="icon-thumbnail">gm</span>
          </li>
          <li class="">
            <a href="vector_map.html">Vector Maps</a>
            <span class="icon-thumbnail">vm</span>
          </li>
        </ul>
      </li>
      <li class="">
        <a [routerLink]="['/app/charts']">
          <span class="title">Charts</span>
        </a>
        <span class="icon-thumbnail">
          <i class="pg pg-charts"></i>
        </span>
      </li>
      <li>
        <a href="javascript:;">
          <span class="title">Extra</span>
          <span class=" arrow"></span>
        </a>
        <span class="icon-thumbnail">
          <i class="pg pg-bag"></i>
        </span>
        <ul class="sub-menu">
          <li class="">
            <a [routerLink]="['/app/extra/invoice']">Invoice</a>
            <span class="icon-thumbnail">in</span>
          </li>
          <li class="">
            <a [routerLink]="['/app/session/error', '404']">404 Page</a>
            <span class="icon-thumbnail">pg</span>
          </li>
          <li class="">
            <a [routerLink]="['/app/session/error', '500']">500 Page</a>
            <span class="icon-thumbnail">pg</span>
          </li>
          <li class="">
            <a href="blank_template.html">Blank Page</a>
            <span class="icon-thumbnail">bp</span>
          </li>
          <li class="">
            <a [routerLink]="['/app/session/login']">Login</a>
            <span class="icon-thumbnail">l</span>
          </li>
          <li class="">
            <a [routerLink]="['/app/session/register']">Register</a>
            <span class="icon-thumbnail">re</span>
          </li>
          <li class="">
            <a [routerLink]="['/app/session/lock']">Lockscreen</a>
            <span class="icon-thumbnail">ls</span>
          </li>
          <li class="">
            <a [routerLink]="['/app/extra/gallery']">Gallery</a>
            <span class="icon-thumbnail">gl</span>
          </li>
          <li class="">
            <a [routerLink]="['/app/extra/timeline']">Timeline</a>
            <span class="icon-thumbnail">t</span>
          </li>
        </ul>
      </li>
      <li class="">
        <a href="javascript:;">
          <span class="title">Menu Levels</span>
          <span class="arrow"></span>
        </a>
        <span class="icon-thumbnail">
          <i class="pg pg-menu_lv"></i>
        </span>
        <ul class="sub-menu">
          <li>
            <a href="javascript:;">Level 1</a>
            <span class="icon-thumbnail">L1</span>
          </li>
          <li>
            <a href="javascript:;">
              <span class="title">Level 2</span>
              <span class="arrow"></span>
            </a>
            <span class="icon-thumbnail">L2</span>
            <ul class="sub-menu">
              <li>
                <a href="javascript:;">Sub Menu</a>
                <span class="icon-thumbnail">Sm</span>
              </li>
              <li>
                <a href="ujavascript:;">Sub Menu</a>
                <span class="icon-thumbnail">Sm</span>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="">
        <a href="http://pages.revox.io/dashboard/2.2.0/docs/" target="_blank">
          <span class="title">Docs</span>
        </a>
        <span class="icon-thumbnail">
          <i class="pg pg-note"></i>
        </span>
      </li>
      <li class="">
        <a href="http://changelog.pages.revox.io/" target="_blank">
          <span class="title">Changelog</span>
        </a>
        <span class="icon-thumbnail">Cl</span>
      </li>-->
    </ul>
  </ng-template>
</pg-sidebar>

<div class="page-container ">
  <pg-header>
    <!-- START MOBILE SIDEBAR TOGGLE -->
    <a class="btn-link toggle-sidebar d-lg-none pg pg-menu" data-toggle="sidebar"></a>
    <!-- END MOBILE SIDEBAR TOGGLE -->
    <div class="">

      <div class="brand inline   ">
        <img src="assets/img/logo_2x.png" alt="logo" height="22" class="m-l-30">
      </div>
      <!-- START NOTIFICATION LIST -->
      <ul class="d-lg-inline-block d-none notification-list no-margin d-lg-inline-block b-grey b-l b-r no-style p-l-30 p-r-20">

        <li class="p-r-10 inline">
          <div class="dropdown" dropdown>
            <a href="javascript:;" id="notification-center" dropdownToggle>
              <i-message-circle></i-message-circle>
              <span class="bubble"></span>
            </a>
            <!-- START Notification Dropdown -->
            <div *dropdownMenu class="dropdown-menu notification-toggle">
              <!-- START Notification -->
              <div class="notification-panel">
                <!-- START Notification Body-->
                <div class="notification-body scrollable">
                  <!-- START Notification Item-->
                  <div class="notification-item unread clearfix">
                    <!-- START Notification Item-->
                    <div class="heading open">
                      <a href="javascript:void(0);" class="text-complete pull-left">
                        <i-message-circle></i-message-circle>
                        <span class="bold">think.tickets</span>
                        <span class="fs-12 m-l-10">Malhar Soni</span>
                      </a>
                      <div class="pull-right">
                        <div class="thumbnail-wrapper d16 circular inline m-t-15 m-r-10 toggle-more-details">
                          <div>
                            <i class="fa fa-angle-left"></i>
                          </div>
                        </div>
                        <span class=" time">2 days ago</span>
                      </div>
                      <div class="more-details">
                        <div class="more-details-inner">
                          <h5 class="semi-bold fs-16">“New Dashboard Setup.
                            <br> Apologies for delay.
                            <br> -Malhar.”</h5>
                          <p class="small hint-text">
                            Commented by Malhar Soni.
                            <br> via think.tickets framework.
                          </p>
                        </div>
                      </div>
                    </div>
                    <!-- END Notification Item-->
                    <!-- START Notification Item Right Side-->
                    <div class="option" data-toggle="tooltip" data-placement="left" title="mark as read">
                      <a href="javascript:void(0);" class="mark"></a>
                    </div>
                    <!-- END Notification Item Right Side-->
                  </div>
                </div>
                <!-- END Notification Body-->
                <!-- START Notification Footer-->
                <div class="notification-footer text-center">
                  <a href="javascript:void(0);" class="">Close Notifications</a>
                  <!--<a data-toggle="refresh" class="portlet-refresh text-black pull-right" href="javascript:void(0);">
                  </a>-->
                </div>
                <!-- START Notification Footer-->
              </div>
              <!-- END Notification -->
            </div>
            <!-- END Notification Dropdown -->
          </div>
        </li>

        <li class="p-r-10 inline">
					<a href="https://giantdwarf.com.au"><i-link></i-link></a>
        </li>
        <li class="p-r-10 inline">
          <a [routerLink]="['/dashboard/events']"><i-layout></i-layout></a>
        </li>

      </ul>
      <!-- END NOTIFICATIONS LIST -->
      <a href="#" class="search-link d-lg-inline-block d-none" (click)="openSearch($event)">
        <i class="pg pg-search"></i>Tap here to
        <span class="bold">search</span>
      </a>
    </div>
    <div class="d-flex align-items-center">
      <!-- START User Info-->
      <div class="pull-left p-r-10 fs-14 font-heading d-lg-block d-none">
        <span>Administrator</span>
      </div>
      <div class="dropdown pull-right d-lg-block d-none">
        <button class="profile-dropdown-toggle" type="button" dropdownToggle id="profileDropdown">
          <span class="thumbnail-wrapper d32 circular inline">
            <img src="assets/img/profiles/bb2x.jpg" alt=""
              width="32" height="32">
          </span>
        </button>
        <div class="dropdown-menu profile-dropdown" *dropdownMenu role="menu">
          <a href="#" class="dropdown-item">
            <i class="fs-13 pg pg-settings_small"></i> Settings</a>
          <a href="#" class="dropdown-item">
            <i class="fs-13 pg pg-outdent"></i> Feedback</a>
          <a href="#" class="dropdown-item">
            <i class="fs-13 pg pg-signals"></i> Help</a>
          <a href="#" class="clearfix bg-master-lighter dropdown-item">
            <span class="pull-left">Logout</span>
            <span class="pull-right">
              <i class="fs-13 pg pg-power"></i>
            </span>
          </a>
        </div>
      </div>
      <!-- END User Info-->
      <!--<a href="#" class="btn-link m-l-10 m-t-10 sm-no-margin d-inline-block position-relative" (click)="openQuickView($event)">
        <i-message-square></i-message-square>
        <span class="bubble" *ngIf="showBubble"></span>
      </a>-->
    </div>
  </pg-header>
  <div class="page-content-wrapper {{pageWrapperClass}}">
    <!-- START PAGE CONTENT -->
    <div class="content {{contentClass}}">
      <router-outlet></router-outlet>
    </div>
    <!-- END PAGE CONTENT -->
    <div *ngIf="footer;">
      <!-- START COPYRIGHT -->
      <div class=" container-fluid container-fixed-lg footer">
        <div class="copyright sm-text-center">
          <p class="small no-margin pull-left sm-pull-reset">
            <span class="hint-text">Copyright &copy; 2018</span>
            <span class="font-montserrat">THINK TICKETS PTY LTD</span>.
            <span class="hint-text">All rights reserved.
            </span>
            <span class="sm-block">
              <a class="m-l-10 m-r-10" href="#">Terms of use</a>
              <span class="muted">|</span>
              <a class="m-l-10" href="#">Privacy Policy</a>
            </span>
          </p>

          <p class="small no-margin pull-right sm-pull-reset">
            Made with ♥ in Sydney, Australia
          </p>

          <div class="clearfix">
          </div>
        </div>
      </div>
      <!-- END COPYRIGHT -->
    </div>
  </div>
</div>
<app-search-overlay></app-search-overlay>
<app-quickview (openIssues)="showBubble = true"></app-quickview>
