<section id="troubleshooting">
    <h3 class="page-title">Troubleshooting</h3>
    <hr>
    <p>This section of the page describes how to trouble shoot Javascript errors that you may in counter. </p>
    <p>JavaScript errors are likely to prevent a web page from working as expected. By default all browsers hide the JavaScript errors from the end user.</p>
    <p>Fortunately there are <a href="http://javascript.info/tutorial/development" target="_blank">browser developer tools</a> to inspect and debug JavaScript errors.</p>
</section>