<div id="quickview" class="quickview-wrapper" [class.open]=isOpen>
<!-- Nav tabs -->
<tabset>
	<tab heading="{{openNumber}} Open Conversations" id="quickview-chat" active="true" customClass="full-height full-width"> 
	  <div class="view-port clearfix" id="chat">
	    <div class="view bg-white">
	      <!-- BEGIN View Header !-->
	      <div class="navbar navbar-default">
	        <div class="navbar-inner">
	          <!-- BEGIN Header Controler !-->
	          <a href="javascript:;" class="inline action p-l-10 link text-master"  pg-view-trigger parentView="chat" animationType="push-parrallax">
	            <i class="pg pg-plus"></i>
	          </a>
	          <!-- END Header Controler !-->
	          <div class="view-heading">
	            Chat List
	            <div class="fs-11" >
								<a href="javascript:void(0);" (click)="getUsers()">Refresh</a>
							</div>
	          </div>
	          <!-- BEGIN Header Controler !-->
	          <a href="#" class="inline action p-r-10 pull-right link text-master">
	            <i class="pg pg-more"></i>
	          </a>
	          <!-- END Header Controler !-->
	        </div>
	      </div>
	      <!-- END View Header !-->
	      <div data-init-list-view="ioslist" class="list-view boreded no-top-border scrollable full-height" >
						<div class="list-view-group-container">
								<div class="list-view-group-header text-uppercase">Open</div>
								<ul>
									<!-- BEGIN Chat User List Item  !-->
									<li class="chat-user-list clearfix" *ngFor="let user of userList[0]">
										<a pg-view-trigger parentView="chat" animationType="push-parrallax" (click)="getConversation(user)">
												<span class="icon-thumbnail">{{user.requester.name | getInitials}}</span>
												<!--<span class="thumbnail-wrapper d32 circular">
														{{user.requester.name | getInitials}}
														<img width="34" height="34" alt="" src="{{user.img}}" class="col-top">
												</span>-->
												<p>
													<span class="text-master">{{user.requester.name}}</span>
													<span class="block text-master hint-text fs-12" style="white-space: nowrap;
													overflow: hidden;
													text-overflow: ellipsis;
													max-width: 200px;">{{user.subject}}</span>
												</p>
											</a>
									</li>
									<!-- END Chat User List Item  !-->
								</ul>
							</div>
							<div class="list-view-group-container">
									<div class="list-view-group-header text-uppercase">Closed</div>
									<ul>
										<!-- BEGIN Chat User List Item  !-->
										<li class="chat-user-list clearfix" *ngFor="let user of userList[1]">
											<a pg-view-trigger parentView="chat" animationType="push-parrallax" (click)="getConversation(user)">
													<span class="icon-thumbnail">{{user.requester.name | getInitials}}</span>
													<!--<span class="thumbnail-wrapper d32 circular">
															{{user.requester.name | getInitials}}
															<img width="34" height="34" alt="" src="{{user.img}}" class="col-top">
													</span>-->
													<p>
														<span class="text-master">{{user.requester.name}}</span>
														<span class="block text-master hint-text fs-12" style="white-space: nowrap;
														overflow: hidden;
														text-overflow: ellipsis;
														max-width: 200px;">{{user.subject}}</span>
													</p>
												</a>
										</li>
										<!-- END Chat User List Item  !-->
									</ul>
								</div>
					</div>
	    </div>
	    <!-- BEGIN Conversation View  !-->
	    <div class="view chat-view bg-white clearfix" *ngIf="conversation[0]">
	      <!-- BEGIN Header  !-->
	      <div class="navbar navbar-default">
	        <div class="navbar-inner">
	          <a href="javascript:;" class="link text-master inline action p-l-10 p-r-10" pg-view-trigger parentView="chat" animationType="push-parrallax">
	            <i class="pg pg-arrow_left"></i>
	          </a>
	          <div class="view-heading">
	            {{conversation[0].requester.name}}
	            <div class="fs-11 hint-text">{{conversation[0].subject}}</div>
	          </div>
	          <a href="#" class="link text-master inline action p-r-10 pull-right ">
	            <i class="pg pg-more"></i>
	          </a>
	        </div>
	      </div>
	      <!-- END Header  !-->
	      <!-- BEGIN Conversation  !-->
	      <div class="chat-inner" id="my-conversation">
	        <!-- BEGIN From Them Message  !-->
	        <div class="message clearfix">
							<span class="thumbnail-wrapper d32 circular bg-primary text-white text-center bold" style="line-height:32px">{{conversation[0].requester.name | getInitials}}</span>
	          <div class="chat-bubble from-them" [innerHTML]="conversation[0].description">
	          </div>
	        </div>
	        <!-- END From Them Message  !-->
	        <!-- BEGIN From Me Message  !-->
	        <div class="message clearfix" *ngFor="let item of conversation | slice:1">
							<span *ngIf="item.incoming" class="thumbnail-wrapper d32 circular bg-primary text-white text-center bold" style="line-height:32px">{{conversation[0].requester.name | getInitials}}</span>
	          <div class="chat-bubble" [ngClass]="{'from-them':item.incoming,'from-me':!item.incoming,'bg-warning':item.private}" [innerHTML]="item.body">
	          </div>
	        </div>
	        <!-- END From Me Message  !-->
	        <!-- BEGIN From Me Message  !-->
	      </div>
	      <!-- BEGIN Conversation  !-->
	      <!-- BEGIN Chat Input  !-->
	      <div class="b-t b-grey bg-white clearfix p-l-10 p-r-10">
	        <div class="row">
	          <!--<div class="col-1 p-t-15">
	            <a href="#" class="link text-master"><i class="fa fa-plus-circle"></i></a>
	          </div>-->
	          <div class="col-12">
	            <input #box (keyup.enter)="sendConversation(box.value, conversation[0].id);box.value=''" type="text" class="form-control chat-input" data-chat-input="" data-chat-conversation="#my-conversation" placeholder="Say something">
	          </div>
	          <!--<div class="col-2 link text-master m-l-10 m-t-15 p-l-10 b-l b-grey col-top">
	            {{box.value}}
	          </div>-->
	        </div>
	      </div>
	      <!-- END Chat Input  !-->
	    </div>
	    <!-- END Conversation View  !-->
	  </div>
	</tab>
</tabset>
<a class="btn-link quickview-toggle text-white" (click)="toggle()"><i class="pg pg-close"></i></a>
</div>