

<section id="getting_started" style="padding-top:100px">
    <h3 class="page-title">
            Getting Started
          </h3>
    <hr>
    <h5>
            This part of the doc will help you to quick start your project and will you a basic idea about how pages work. For you to get start visit the "Get Started" folder in your download package
          </h5>
    <br>
    <h4>What's Included</h4>
    <p>Pages comes in two forms, within which you'll find the following directories and files, logically grouping common resources and providing both compiled and minified variations</p>
    <p>Once you have download the package you will see the following folder structure</p>
    <div class="m-b-20" id="default-tree">
        <ul id="treeData" style="display: none;">
            <li class="folder">demo
            </li>
            <li class="folder">getting_started
            </li>
            <li class="folder">grunt
            </li>
            <li class="folder">gulp
            </li>
            <li id="id2">documentation.html
            </li>
        </ul>
    </div>
    <br>
    <h4>Whats Inside getting_started</h4>
    <p>This folder is a boilerplate template to help you start your project from.</p>
    <div class="m-b-20" id="g-tree">
        <ul id="gdata" style="display: none;">
            <li class="folder expanded">getting_started
                <ul>
                    <li class="folder expanded">html
                        <ul>
                            <li class="folder">assets
                                <ul>
                                    <li class="folder">css
                                    </li>
                                    <li class="folder">js
                                    </li>
                                    <li class="folder">img
                                    </li>
                                </ul>
                            </li>
                            <li class="folder">pages
                                <ul>
                                    <li class="folder expanded">css
                                        <ul>
                                            <li>pages.css</li>
                                            <li>pages.min.css</li>
                                        </ul>
                                    </li>
                                    <li class="folder expanded">js
                                        <ul>
                                            <li>pages.js</li>
                                            <li>pages.min.js</li>
                                        </ul>
                                    </li>
                                    <li class="folder">img
                                    </li>
                                </ul>
                            </li>
                            <li>casual_default.html</li>
                            <li>casual_with_sidebar.html</li>
                            <li>condensed_boxed.html</li>
                            <li>condensed_default.html</li>
                            <li>condensed_secondary.html</li>
                            <li>cooperate.html</li>
                            <li>cooperate_alt.html</li>
                            <li>cooperate_secondary.html</li>
                            <li>executive_default.html</li>
                            <li>executive_with_sidebar.html</li>
                            <li>simply_white.html</li>
                            <li>simply_white_alt.html</li>
                            <li>simply_white_secondary_bar.html</li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <br>
    <h5 class="">Folder : assets</h5>
    <p>This folder is entirely dedicated for you and you can add your own images, custom css and js files, its grouped into resource folders for best practice</p>
    <br>
    <h5 class="">Folder : pages</h5>
    <p>This where the magic happens and contains pre-complied version of Pages, we do recommend updating any contents of the folder as all future updates are affected directly to this</p>
    <br>
    <h4>Whats Inside demo</h4>
    <p>This folder contains all the demo files that we have shown in the live version for reference, you may wish to import code to your project from that. This is only used for reference and we do no recommend to start your project from demo files.</p>
    <br>
    <h4>Whats Inside grunt and gulp</h4>
    <p>Pages support two popular build systems called Grunt and Gulp.</p>
    <div class="m-b-20" id="b-tree">
        <ul id="gdata" style="display: none;">
            <li class="folder expanded" id="id5">grunt
                <ul>
                    <li id="id2">package.json
                    </li>
                    <li id="id2">gruntfile.js
                    </li>
                </ul>
            </li>
            <li class="folder expanded" id="id5">gulp
                <ul>
                    <li id="id2">package.json
                    </li>
                    <li id="id2">gulpfile.js
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <br>
    <br>
    <br>
    <p>Other Useful resources that you may find:</p>
    <ul class="other-ref">
        <li><a href="{# ROOT #}partials/less.html">Working with LESS</a></li>
        <li><a href="{# ROOT #}partials/grunt.html">Working with Grunt</a></li>
        <li><a href="{# ROOT #}partials/gulp.html">Working with Gulp</a></li>
    </ul>
</section>