

<section id="introduction" style="padding-top:30px">
    <h2 class="text-center">Pages Documentation</h2>
    <h5 class="text-center">Beautifully Hand Crafted, Light Weight, Hardware Accelerated UI Framework  </h5>
    <hr>
    <h3>Introduction</h3>
    <p>Pages is carefully well thought UI frame work that is built on top of Bootstrap 4, Its hand crafted components look great on all devices and works super fast even on mobile</p>
    <p>This documentation guide for all Pages users who can even be a beginner to Web development
    </p>
    <br>
    <h3>Light Weight & Ready to Go</h3>
    <p> The entire set of modules clocks in at 52KB* minified and gzipped. Crafted with mobile devices in mind, it was important to us to keep our file sizes small, and every line of CSS was carefully considered. If you decide to only use a subset of these modules, you'll save even more bytes.</p>
    <br>
    <p>Production level usage using minfied and gzipped files</p>
    <table style="width:100%">
        <tbody>
            <tr>
                <td style="width:50%;height:30px" class="bg-danger text-white text-center fs-14 p-t-5 p-b-5">
                    CSS
                    <div class="fs-12">48Kb</div>
                </td>
                <td style="width:10%;height:30px" class="bg-primary text-white text-center fs-14 p-t-5 p-b-5">JS
                    <div class="fs-12">1.8Kb</div>
                </td>
                <td style="width:30%;height:30px" class="bg-complete text-white text-center fs-14 p-t-5 p-b-5">Icons
                    <div class="fs-12">12Kb</div>
                </td>
                <td style="width:30%;height:30px" class="bg-warning text-white text-center fs-14 p-t-5 p-b-5">Other
                    <div class="fs-12">120Kb</div>
                </td>
            </tr>
        </tbody>
    </table>
</section>
