

<section id="supported_browsers">
    <h3 class="page-title">
           Browser Support
          </h3>
    <hr>
    <p>Pages is built keeping mind to support a wide range of browsers and devices. We all major browers Google Chrome, Mozilla Firefox, Safari, Opera, Internet Explorer 9 and Above</p>
    </p>
    <p>Pages not only is supported by major browser but also is hardware accelarated using the GPU </p>
    <br>
    <div class="table-responsive">
        <table class="table table-bordered table-striped table-condensed">
            <thead>
                <tr>
                    <td></td>
                    <th>Chrome</th>
                    <th>Firefox</th>
                    <th>Internet Explorer</th>
                    <th>Opera</th>
                    <th>Safari</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Android</th>
                    <td class="text-success"><span class="glyphicon glyphicon-ok"></span> Supported</td>
                    <td class="text-success"><span class="glyphicon glyphicon-ok"></span> Supported</td>
                    <td class="text-muted" rowspan="3" style="vertical-align: middle;">N/A</td>
                    <td class="text-danger"><span class="glyphicon glyphicon-remove"></span> Not Supported</td>
                    <td class="text-muted">N/A</td>
                </tr>
                <tr>
                    <th>iOS</th>
                    <td class="text-success"><span class="glyphicon glyphicon-ok"></span> Supported</td>
                    <td class="text-muted">N/A</td>
                    <td class="text-danger"><span class="glyphicon glyphicon-remove"></span> Not Supported</td>
                    <td class="text-success"><span class="glyphicon glyphicon-ok"></span> Supported</td>
                </tr>
                <tr>
                    <th>Mac OS X</th>
                    <td class="text-success"><span class="glyphicon glyphicon-ok"></span> Supported</td>
                    <td class="text-success"><span class="glyphicon glyphicon-ok"></span> Supported</td>
                    <td class="text-success"><span class="glyphicon glyphicon-ok"></span> Supported</td>
                    <td class="text-success"><span class="glyphicon glyphicon-ok"></span> Supported</td>
                </tr>
                <tr>
                    <th>Windows</th>
                    <td class="text-success"><span class="glyphicon glyphicon-ok"></span> Supported</td>
                    <td class="text-success"><span class="glyphicon glyphicon-ok"></span> Supported</td>
                    <td class="text-success"><span class="glyphicon glyphicon-ok"></span> Supported</td>
                    <td class="text-success"><span class="glyphicon glyphicon-ok"></span> Supported</td>
                    <td class="text-danger"><span class="glyphicon glyphicon-remove"></span> Not Supported</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>