
<section id="working_less">
    <h3 class="page-title">
            Working with Less
          </h3>
    <hr>
    <p>Less is a CSS pre-processor, meaning that it extends the CSS language, adding features that allow variables, mixins, functions. Pages supports Less and is pure built on top of Less </p>
    <p> Less Files are found under <code>pages/src/less</code>
    </p>
    <div class="m-b-20" id="g-tree">
        <ul id="gdata" style="display: none;">
            <li class="folder expanded" id="gid3">less
                <ul>
                    <li class="folder" id="gid3">modules
                    </li>
                    <li class="folder" id="gid5">themes
                        <ul>
                            <li id="gid54.1.1" class="folder ">default
                                <ul>
                                    <li id="gid2">var.less</li>
                                    <li id="gid2">theme.less</li>
                                </ul>
                            </li>
                            <li id="gid54.1.2" class="folder ">simple
                                <ul>
                                    <li id="gid2">var.less</li>
                                    <li id="gid2">theme.less</li>
                                </ul>
                            </li>
                            <li id="gid54.1.2" class="folder ">corporate
                                <ul>
                                    <li id="gid2">var.less</li>
                                    <li id="gid2">theme.less</li>
                                </ul>
                            </li>
                            <li id="gid54.1.2" class="folder ">retro
                                <ul>
                                    <li id="gid2">var.less</li>
                                    <li id="gid2">theme.less</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li id="gid2">mixin.less</li>
                    <li id="gid2">modules.less</li>
                    <li id="gid2">pages.less</li>
                    <li id="gid2">responsive.less</li>
                </ul>
            </li>
        </ul>
    </div>
    <br>
    <h5 class="semi-bold">
Modules</h5>
    <p>
        The seperation of modules help you to remove whats not necessary and build your own custom pages css</p>
    <div class="table-responsive">
        <table class="table table-bordered table-condensed table-striped">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Description
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>layout.less</td>
                    <td>The core layout styles for pages</td>
                </tr>
                <tr>
                    <td>respnsive.less</td>
                    <td>The responsive handlers</td>
                </tr>
                <tr>
                    <td>cards.less</td>
                    <td>Bootstrap cards over-written classes</td>
                </tr>
                <tr>
                    <td>typography.less</td>
                    <td>Contains all typo related styles included bg-color</td>
                </tr>
                <tr>
                    <td>button.less</td>
                    <td>Bootstrap button over-written classes and pages dropdown</td>
                </tr>
                <tr>
                    <td>alerts.less</td>
                    <td>Bootstrap alert messages over-written classes</td>
                </tr>
                <tr>
                    <td>notifications.less</td>
                    <td>Pages notifications, bootstrap badges, popovers</td>
                </tr>
                <tr>
                    <td>progress_indicators.less</td>
                    <td>Pages progress bars, bootstrap native progress</td>
                </tr>
                <tr>
                    <td>modals.less</td>
                    <td>Bootstrap Modal Classes</td>
                </tr>
                <tr>
                    <td>tabs_accordian.less</td>
                    <td>Bootstrap tabs and accordains</td>
                </tr>
                <tr>
                    <td>sliders.less</td>
                    <td>Class for sliders</td>
                </tr>
                <tr>
                    <td>treeview.less</td>
                    <td>Class for treeview</td>
                </tr>
                <tr>
                    <td>treeview.less</td>
                    <td>Class for nestables</td>
                </tr>
                <tr>
                    <td>form_elements.less</td>
                    <td>All form related class including layouts & validations</td>
                </tr>
                <tr>
                    <td>tables.less</td>
                    <td>Classes for bootstrap tables and datatables</td>
                </tr>
                <tr>
                    <td>tables.less</td>
                    <td>Classes for bootstrap tables and datatables</td>
                </tr>
                <tr>
                    <td>vector_map.less</td>
                    <td>Classes for mapplic plugin</td>
                </tr>
                <tr>
                    <td>Charts.less</td>
                    <td>All chart related classes</td>
                </tr>
                <tr>
                    <td>print.less</td>
                    <td>Print media query for invoice</td>
                </tr>
                <tr>
                    <td>lockscreen.less</td>
                    <td>Class for lockscreen</td>
                </tr>
                <tr>
                    <td>calendar.less</td>
                    <td>Pages Calendar plugin</td>
                </tr>
                <tr>
                    <td>social.less</td>
                    <td>Pages Social</td>
                </tr>
                <tr>
                    <td>email.less</td>
                    <td>Pages email</td>
                </tr>
                <tr>
                    <td>misc.less</td>
                    <td>All other utilities and helper classes</td>
                </tr>
                <tr>
                    <td>z-index.less</td>
                    <td>To maintian heierachchy and order for layers</td>
                </tr>
            </tbody>
        </table>
    </div>
    <br>
    <h5 class="semi-bold">
Varriables</h5>
    <p>
        Varriables help to generate themes, you can custom build you very own theme. The varriables will be include inside a specific theme
        <br>e.g:
        <code>less/themes/default/var.less</code> by changing the a few 5 main color varrables you can create your own color palette
    </p>
    <br>
    <h5>Creating your own Color Pallete</h5>
    <p>
        By simply changing the following varriables the entire color palete mention here will change
        <a href="{# ROOT #}partials/color.html" target="_blank">Color Palette</a>
        <br>
        <br>
        <strong>Main Base color</strong>
        <br>
        <code>@color-master</code>
        <br>
        <strong>Primary Colors</strong>
        <br>
        <code>@color-success</code>
        <br>
        <code>@color-complete</code>
        <br>
        <code>@color-primary</code>
        <br>
        <code>@color-warning</code>
        <br>
        <code>@color-danger</code>
        <br>
        <code>@color-info</code>
    </p>
    <br>
    <h5 class="semi-bold">
Mixins</h5>
    <p>
        We have made a wide varraity of mixins that can be used in less,
        <br>mixins can be found under <code>pages/src/less/mixin.less</code>
    </p>
    <br>
    <h5 class="semi-bold">
Compiling</h5>
    <p>We recommend to compile locally without using <code>less.js</code> library, there are many Less compilers for Windows, Mac and also Linux users but we made it even easier. With pages powerful CLI you can compile it without any thirdparty software, simple do any changes to the less files in <code>pages/less</code> and it automatically updates the css in <code>pages/css/pages.css</code>
    </p>
    <br>
    <p>
        <b>Use the following commmands on your terminal</b>
    </p>
    <br>
    <p>
        <b>Using Grunt</b>
    </p>
    <p>This command will automatically compile the less to css on file save</p>
    <pre><code class="xml">$ grunt watch</code></pre>
    <p>This command will compile the less to css on execute</p>
    <pre><code class="xml">$ grunt less</code></pre>
    <br>
    <p>
        <a href="{# ROOT #}partials/grunt.html">Read more about how to setup Grunt </a>
    </p>
    <br>
    <p>
        <b>Using Gulp</b>
    </p>
    <p>This command will automatically compile the less to css on file save</p>
    <pre><code class="xml">$ gulp watch</code></pre>
    <p>This command will compile the less to css on execute</p>
    <pre><code class="xml">$ gulp less</code></pre>
    <br>
    <p>
        <a href="{# ROOT #}partials/gulp.html">Read more about how to setup gulp </a>
    </p>
</section>