{% extends WIDGET_PATH + "src/layout.html" %}
{% block vendor_css %}
<link href="{# PLUGINS_PATH #}jquery-metrojs/MetroJs.css" rel="stylesheet" type="text/css" media="screen" />
{% endblock %}
{% block vendor_js %}
<script src="{# PLUGINS_PATH #}jquery-metrojs/MetroJs.min.js" type="text/javascript"></script>
{% endblock %}

{% block content %}
    <div class="ar-1-1 widget-1-wrapper">
        {% include PATH + "pages/dashboard/_widget/widget_plainLiveWidget.tpl" %}
    </div>
{% endblock %}