.version.demo /* version checker */
{
	color: #000014;
	background-color: #B96D0C;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1024px;
	min-height: 767.875px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -55px;
	padding-top: 337px;
	width: 0.01px;
}

#u437
{
	z-index: 2;
	height: 49px;
	top: -1px;
}

#u437-bw
{
	z-index: 2;
}

#buttonu1439
{
	z-index: 86;
	width: 35px;
	padding-bottom: 26px;
	top: -1px;
	left: 50%;
	margin-left: 341px;
}

#buttonu1439:hover
{
	width: 35px;
	min-height: 0px;
	margin: 0px 0px 0px 341px;
}

#buttonu1439.ButtonSelected
{
	width: 35px;
	min-height: 0px;
	margin: 0px 0px 0px 341px;
}

#u1442
{
	z-index: 87;
	width: 14px;
	margin-right: -10000px;
	margin-top: 26px;
	left: 11px;
}

#buttonu1439:hover #u1442
{
	width: 14px;
	min-height: 0px;
	margin: 26px -10000px 0px 0px;
}

#buttonu1439.ButtonSelected #u1442
{
	width: 14px;
	min-height: 0px;
	margin: 26px -10000px 0px 0px;
}

#pamphletu2205
{
	z-index: 89;
	width: 0.01px;
	height: 29px;
	padding-bottom: 104px;
	top: 11px;
	left: 888px;
}

#u2213popup
{
	z-index: 90;
}

#u2213
{
	width: 136px;
	top: 39px;
}

#u2214
{
	z-index: 91;
	width: 136px;
	height: 60px;
	padding-top: 19px;
	padding-bottom: 16px;
	margin-right: -10000px;
}

#u2246-4
{
	z-index: 96;
	width: 136px;
	min-height: 24px;
}

#u2246-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 136px;
	margin: 0px;
}

#u2246-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 136px;
	margin: 0px;
}

#u2247
{
	z-index: 100;
	width: 119px;
	height: 1px;
	margin-left: 8px;
	margin-top: 5px;
}

#u2245-4
{
	z-index: 92;
	width: 136px;
	min-height: 24px;
	margin-top: 6px;
}

#u2245-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 136px;
	margin: 6px 0px 0px;
}

#u2245-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 136px;
	margin: 6px 0px 0px;
}

#u2206
{
	z-index: 101;
	width: 98px;
	margin-right: -10000px;
	left: 16px;
}

#u2207
{
	width: 98px;
	padding-bottom: 30px;
}

#u2207:hover
{
	width: 98px;
	min-height: 0px;
	margin: 0px;
}

#u2207.PamphletThumbSelected
{
	width: 98px;
	min-height: 0px;
	margin: 0px;
}

#u2238
{
	z-index: 103;
	top: 16px;
	left: 50%;
	margin-left: 413px;
}

#u2207:hover #u2238
{
	min-height: 0px;
	margin: 0px 0px 0px 413px;
}

#u2207.PamphletThumbSelected #u2238
{
	min-height: 0px;
	margin: 0px 0px 0px 413px;
}

#u438
{
	z-index: 3;
	top: 17px;
	left: 50%;
	margin-left: -486px;
}

#u455
{
	z-index: 4;
	top: 15px;
	left: 50%;
	margin-left: -184px;
}

#u455:hover
{
	min-height: 0px;
	margin: 0px 0px 0px -184px;
}

#u455.MuseLinkActive
{
	min-height: 0px;
	margin: 0px 0px 0px -184px;
}

#u449
{
	z-index: 6;
	top: 16px;
	left: 50%;
	margin-left: -96px;
}

#u449:hover
{
	min-height: 0px;
	margin: 0px 0px 0px -96px;
}

#u449.MuseLinkActive
{
	min-height: 0px;
	margin: 0px 0px 0px -96px;
}

#u446
{
	z-index: 5;
	top: 15px;
	left: 50%;
	margin-left: 68px;
}

#u446:hover
{
	min-height: 0px;
	margin: 0px 0px 0px 68px;
}

#u446.MuseLinkActive
{
	min-height: 0px;
	margin: 0px 0px 0px 68px;
}

#u452
{
	z-index: 7;
	top: 17px;
	left: 50%;
	margin-left: 230px;
}

#u452:hover
{
	min-height: 0px;
	margin: 0px 0px 0px 230px;
}

#u452.MuseLinkActive
{
	min-height: 0px;
	margin: 0px 0px 0px 230px;
}

#u1174_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1024px;
	left: -100px;
}

#pu1187-6
{
	width: 0.01px;
	padding-bottom: 0px;
	margin: 65px -10000px -26px 279px;
}

#u1187-6
{
	z-index: 75;
	width: 354px;
	min-height: 106px;
}

#u1175
{
	z-index: 73;
	width: 59px;
	margin-left: 310px;
	margin-top: 35px;
}

#u1175_img
{
	padding-bottom: 7px;
}

#u1195
{
	z-index: 81;
	width: 1px;
	height: 60px;
	margin-right: -10000px;
	margin-top: 81px;
	left: 651px;
}

#u2273
{
	z-index: 104;
	width: 120px;
	margin-right: -10000px;
	margin-top: 73px;
	left: 702px;
}

#u1174,#u1174-bw
{
	z-index: 72;
	min-height: 236px;
}

#u593-4
{
	z-index: 82;
	width: 563px;
	min-height: 38px;
	margin-left: 232px;
	margin-top: 39px;
}

#u594-4
{
	z-index: 61;
	width: 476px;
	min-height: 24px;
	margin-left: 273px;
	margin-top: 4px;
}

#u595-4
{
	z-index: 65;
	width: 99px;
	min-height: 20px;
	margin-left: 462px;
	margin-top: 11px;
}

#u595-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 99px;
	margin: 11px 0px 0px 462px;
}

#u592
{
	z-index: 60;
	width: 1000px;
	height: 1px;
	margin-left: 11px;
	margin-top: 24px;
}

#pu582-4
{
	width: 0.01px;
	margin-left: 268px;
	margin-top: 8px;
}

#u582-4
{
	z-index: 8;
	width: 97px;
	min-height: 17px;
	margin-right: -10000px;
}

#u587-4
{
	z-index: 52;
	width: 65px;
	min-height: 17px;
	margin-right: -10000px;
	left: 192px;
}

#u583-4
{
	z-index: 16;
	width: 22px;
	min-height: 17px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 258px;
}

#u585-4
{
	z-index: 24;
	width: 91px;
	min-height: 17px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 282px;
}

#u585-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 91px;
	margin: 1px -10000px 0px 0px;
}

#u584-4
{
	z-index: 20;
	width: 10px;
	min-height: 17px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 373px;
}

#u586-4
{
	z-index: 32;
	width: 91px;
	min-height: 17px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 383px;
}

#u585-4.MuseLinkActive,#u586-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 91px;
	margin: 1px -10000px 0px 0px;
}

#u588-4
{
	z-index: 56;
	width: 99px;
	min-height: 18px;
	margin-right: -10000px;
	left: 91px;
}

#u588-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 99px;
	margin: 0px -10000px 0px 0px;
}

#u588-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 99px;
	margin: 0px -10000px 0px 0px;
}

#pu590-4
{
	width: 0.01px;
	margin-left: 355px;
	margin-top: 1px;
}

#u590-4
{
	z-index: 12;
	width: 238px;
	min-height: 16px;
	margin-right: -10000px;
}

#u591-4
{
	z-index: 28;
	width: 91px;
	min-height: 17px;
	margin-right: -10000px;
	left: 237px;
}

#u591-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 91px;
	margin: 0px -10000px 0px 0px;
}

#u591-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 91px;
	margin: 0px -10000px 0px 0px;
}

#pu617-4
{
	width: 0.01px;
	margin-left: 341px;
	margin-top: 23px;
}

#u617-4
{
	z-index: 36;
	width: 31px;
	min-height: 17px;
	margin-right: -10000px;
}

#u617-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 31px;
	margin: 0px -10000px 0px 0px;
}

#u617-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 31px;
	margin: 0px -10000px 0px 0px;
}

#u1169
{
	z-index: 69;
	width: 1px;
	height: 15px;
	margin-right: -10000px;
	margin-top: 2px;
	left: 42px;
}

#u623-4
{
	z-index: 40;
	width: 102px;
	min-height: 17px;
	margin-right: -10000px;
	left: 56px;
}

#u623-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 102px;
	margin: 0px -10000px 0px 0px;
}

#u623-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 102px;
	margin: 0px -10000px 0px 0px;
}

#u1171
{
	z-index: 70;
	width: 1px;
	height: 15px;
	margin-right: -10000px;
	margin-top: 2px;
	left: 164px;
}

#u625-4
{
	z-index: 44;
	width: 43px;
	min-height: 17px;
	margin-right: -10000px;
	left: 178px;
}

#u625-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 43px;
	margin: 0px -10000px 0px 0px;
}

#u625-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 43px;
	margin: 0px -10000px 0px 0px;
}

#u1173
{
	z-index: 71;
	width: 1px;
	height: 15px;
	margin-right: -10000px;
	margin-top: 2px;
	left: 230px;
}

#u627-4
{
	z-index: 48;
	width: 86px;
	min-height: 17px;
	margin-right: -10000px;
	left: 246px;
}

#u627-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u627-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

body
{
	position: relative;
	min-width: 1024px;
	padding-bottom: 86px;
}

#page .verticalspacer
{
	clear: both;
}

