#u2246-4
{
	font-family: open-sans-n3, sans-serif;
}

#u2245-4
{
	font-family: open-sans-n3, sans-serif;
}

#u1187-6,#u593-4,#u593,#u594-4,#u595-4
{
	font-family: open-sans-n3, sans-serif;
}

#u1140.PamphletThumbSelected #u1141-4 p,#u621-2,#u1141-4
{
	font-family: open-sans-n4, sans-serif;
}

#u1139-4
{
	font-family: open-sans-n4, sans-serif;
}

#u1137-4
{
	font-family: open-sans-n4, sans-serif;
}

#u510-4,#u640-4,#u545-4,#u634-4,#u663-2,#u663-4,#u663-6,#u663-8,#u688-6,#u689-8,#u621-6,#u639-2,#u639-4,#u630-4,#u632-4,#u687-4,#u699-4,#u701-4,#u700-4,#u711-4,#u712-4,#u874-6,#u877-4,#u961-4,#u962-4,#u982-6,#u983-4,#u1003-4,#u1004-4,#u1024-6,#u1025-4,#u1045-4,#u1046-4,#u1071-4,#u1070-4,#u1068-6,#u1093-4,#u1092-4,#u1096-4,#u1100-4,#u1105-6,#u1397-4,#u1396-4,#u1399-4,#u1449-4,#u1450-4,#u1452-4,#u1461-4,#u1460-4,#u1459-4,#u1467-4,#u1476-4,#u1484-4,#u1468-4,#u1477-4,#u1485-4,#u1469-4,#u1478-4,#u1486-4,#u1491-4,#u1500-4,#u1508-4,#u1492-4,#u1499-4,#u1507-4,#u1493-4,#u1501-4,#u1509-4
{
	font-family: open-sans-n3, sans-serif;
}

