#u2246-4
{
	font-family: open-sans-n3, sans-serif;
}

#u2245-4
{
	font-family: open-sans-n3, sans-serif;
}

#u1187-6,#u593-4,#u593,#u594-4,#u595-4
{
	font-family: open-sans-n3, sans-serif;
}

#u1210-2,#u1210-4,#u1373-2
{
	font-family: open-sans-n4, sans-serif;
}

#u1210-8,#u1394-4,#u1224-4,#u1223-4,#u1231-6,#u1391-4,#u1373-5,#u1313-4,#u1325-4,#u1335-4,#u1303-4,#u1379-4,#u1378-4,#u1380-4,#u1697-4,#u1696-4,#u1698-4
{
	font-family: open-sans-n3, sans-serif;
}

