.version.index /* version checker */
{
	color: #00000C;
	background-color: #FB0105;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1024px;
	min-height: 8550px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	border-radius: 99px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -1px;
	margin-bottom: -55px;
	width: 0.01px;
}

#pu512
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 1px;
}

#u512
{
	z-index: 2;
	height: 871px;
	border-style: none;
	border-color: transparent;
	background: #FFFFFF url("../images/hero_curtain.jpg") no-repeat center bottom;
	background-size: cover;
}

#u512-bw
{
	z-index: 2;
	margin-top: 584px;
	height: 871px;
}

#u484
{
	z-index: 5;
	min-height: 13px;
	border-style: none;
	border-color: transparent;
	background-color: #6D59B0;
	padding-bottom: 638px;
}

#allthewayup
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: -5px;
	left: 539px;
}

#u484-bw
{
	z-index: 5;
	min-height: 13px;
}

#u510-4
{
	z-index: 8;
	min-height: 53px;
	background-color: transparent;
	opacity: 0.86;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=86)";
	filter: alpha(opacity=86);
	letter-spacing: 0px;
	line-height: 54px;
	font-size: 37px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 300;
}

#u510-4-bw
{
	z-index: 8;
	min-height: 53px;
	margin-top: 748px;
}

#u640-4
{
	z-index: 134;
	min-height: 24px;
	background-color: transparent;
	opacity: 0.59;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=59)";
	filter: alpha(opacity=59);
	line-height: 25px;
	font-size: 21px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 300;
}

#u640-4-bw
{
	z-index: 134;
	min-height: 24px;
	margin-top: 722px;
}

#u658-4
{
	z-index: 138;
	width: 107px;
	min-height: 20px;
	background-color: transparent;
	opacity: 0.59;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=59)";
	filter: alpha(opacity=59);
	color: #6D59B0;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 831px;
	left: 627px;
}

#u658-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 107px;
	margin: 831px -10000px 0px 0px;
}

#u658-4:hover p
{
	color: #7A60CD;
	visibility: inherit;
}

#buttonu642
{
	z-index: 142;
	width: 161px;
	border-style: none;
	border-color: transparent;
	background-color: #6D59B0;
	border-radius: 99px;
	padding-bottom: 11px;
	position: relative;
	margin-right: -10000px;
	margin-top: 819px;
	left: 466px;
}

#buttonu642:hover
{
	background-color: #7A60CD;
	width: 161px;
	min-height: 0px;
	margin: 819px -10000px 0px 0px;
}

#buttonu642.ButtonSelected
{
	background-color: #6D59B0;
	width: 161px;
	min-height: 0px;
	margin: 819px -10000px 0px 0px;
}

#u650
{
	z-index: 143;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 27px;
}

#pu437
{
	width: 0.01px;
	margin-left: -1012px;
	margin-top: -1456px;
	padding: 51px 2988px 1429px 1012px;
}

#u437
{
	z-index: 603;
	height: 49px;
	top: -1px;
}

#u437-bw
{
	z-index: 603;
}

#buttonu1439
{
	z-index: 687;
	width: 35px;
	padding-bottom: 26px;
	top: -1px;
	left: 50%;
	margin-left: 341px;
}

#buttonu1439:hover
{
	width: 35px;
	min-height: 0px;
	margin: 0px 0px 0px 341px;
}

#buttonu1439.ButtonSelected
{
	width: 35px;
	min-height: 0px;
	margin: 0px 0px 0px 341px;
}

#u1442
{
	z-index: 688;
	width: 14px;
	margin-right: -10000px;
	margin-top: 26px;
	left: 11px;
}

#buttonu1439:hover #u1442
{
	width: 14px;
	min-height: 0px;
	margin: 26px -10000px 0px 0px;
}

#buttonu1439.ButtonSelected #u1442
{
	width: 14px;
	min-height: 0px;
	margin: 26px -10000px 0px 0px;
}

#pamphletu2205
{
	z-index: 690;
	width: 0.01px;
	height: 29px;
	padding-bottom: 104px;
	top: 11px;
	left: 888px;
}

#u2213popup
{
	z-index: 691;
}

#u2213
{
	width: 136px;
	top: 39px;
}

#u2214
{
	z-index: 692;
	width: 136px;
	height: 60px;
	padding-top: 19px;
	padding-bottom: 16px;
	margin-right: -10000px;
}

#u2246-4
{
	z-index: 697;
	width: 136px;
	min-height: 24px;
}

#u2246-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 136px;
	margin: 0px;
}

#u2246-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 136px;
	margin: 0px;
}

#u2247
{
	z-index: 701;
	width: 119px;
	height: 1px;
	margin-left: 8px;
	margin-top: 5px;
}

#u2245-4
{
	z-index: 693;
	width: 136px;
	min-height: 24px;
	margin-top: 6px;
}

#u2245-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 136px;
	margin: 6px 0px 0px;
}

#u2245-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 136px;
	margin: 6px 0px 0px;
}

#u2206
{
	z-index: 702;
	width: 98px;
	margin-right: -10000px;
	left: 16px;
}

#u2207
{
	width: 98px;
	padding-bottom: 30px;
}

#u2207:hover
{
	width: 98px;
	min-height: 0px;
	margin: 0px;
}

#u2207.PamphletThumbSelected
{
	width: 98px;
	min-height: 0px;
	margin: 0px;
}

#u2238
{
	z-index: 704;
	top: 16px;
	left: 50%;
	margin-left: 413px;
}

#u2207:hover #u2238
{
	min-height: 0px;
	margin: 0px 0px 0px 413px;
}

#u2207.PamphletThumbSelected #u2238
{
	min-height: 0px;
	margin: 0px 0px 0px 413px;
}

#u438
{
	z-index: 604;
	top: 17px;
	left: 50%;
	margin-left: -486px;
}

#u455
{
	z-index: 605;
	top: 15px;
	left: 50%;
	margin-left: -184px;
}

#u455:hover
{
	min-height: 0px;
	margin: 0px 0px 0px -184px;
}

#u455.MuseLinkActive
{
	min-height: 0px;
	margin: 0px 0px 0px -184px;
}

#u449
{
	z-index: 607;
	top: 16px;
	left: 50%;
	margin-left: -96px;
}

#u449:hover
{
	min-height: 0px;
	margin: 0px 0px 0px -96px;
}

#u449.MuseLinkActive
{
	min-height: 0px;
	margin: 0px 0px 0px -96px;
}

#u446
{
	z-index: 606;
	top: 15px;
	left: 50%;
	margin-left: 68px;
}

#u446:hover
{
	min-height: 0px;
	margin: 0px 0px 0px 68px;
}

#u446.MuseLinkActive
{
	min-height: 0px;
	margin: 0px 0px 0px 68px;
}

#u452
{
	z-index: 608;
	top: 17px;
	left: 50%;
	margin-left: 230px;
}

#u452:hover
{
	min-height: 0px;
	margin: 0px 0px 0px 230px;
}

#u452.MuseLinkActive
{
	min-height: 0px;
	margin: 0px 0px 0px 230px;
}

#u485
{
	z-index: 7;
	position: fixed;
	top: 294px;
	left: 282px;
}

#u1928
{
	z-index: 3;
	width: 4000px;
	background-color: transparent;
	position: fixed;
	top: 404px;
	left: -1012px;
}

#u1928_img
{
	padding-right: 3998px;
	padding-bottom: 26px;
}

#u1958
{
	z-index: 6;
	width: 56px;
	height: 53px;
	border-style: none;
	border-color: transparent;
	background-color: #6D59B0;
	position: fixed;
	top: 559px;
	left: 483px;
}

.js #u485.ose_pre_init,.js #u1958.ose_pre_init
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u519
{
	z-index: 12;
	width: 980px;
	background-color: transparent;
	position: fixed;
	top: 911px;
	left: 22px;
}

#u525
{
	z-index: 14;
	width: 1011px;
	background-color: transparent;
	margin-left: 7px;
	position: relative;
}

#u531
{
	z-index: 16;
	min-height: 1691px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
}

#u531:hover
{
	min-height: 1691px;
	margin: 0px;
}

#u531_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1024px;
	position: relative;
	left: -100px;
	padding-top: 40px;
	padding-bottom: 685px;
}

#pu545-4
{
	width: 0.01px;
	left: 159px;
	position: relative;
}

#u545-4
{
	z-index: 17;
	width: 169px;
	min-height: 30px;
	background-color: transparent;
	line-height: 30px;
	font-size: 25px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
}

#u559
{
	z-index: 116;
	width: 1px;
	height: 31px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	opacity: 0.2;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
	filter: alpha(opacity=20);
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 197px;
}

#u546-4
{
	z-index: 21;
	width: 97px;
	min-height: 17px;
	background-color: transparent;
	opacity: 0.42;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=42)";
	filter: alpha(opacity=42);
	font-size: 11px;
	line-height: 18px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 225px;
}

#u556-4
{
	z-index: 96;
	width: 10px;
	min-height: 17px;
	background-color: transparent;
	opacity: 0.42;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=42)";
	filter: alpha(opacity=42);
	font-size: 11px;
	line-height: 18px;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 341px;
}

#u2255
{
	z-index: 599;
	width: 156px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 555px;
}

#u2261
{
	z-index: 601;
	width: 156px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 725px;
}

#awholenewpage
{
	left: 481px;
	margin-top: 14px;
	position: relative;
}

#ppu671
{
	width: 0.01px;
	left: 127px;
	margin-top: 458px;
	position: relative;
}

#pu671
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 12px;
}

#u671
{
	z-index: 151;
	width: 43px;
	background-color: transparent;
	opacity: 0.59;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=59)";
	filter: alpha(opacity=59);
	margin-left: 5px;
	position: relative;
}

#u634-4
{
	z-index: 82;
	width: 397px;
	min-height: 47px;
	background-color: transparent;
	opacity: 0.86;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=86)";
	filter: alpha(opacity=86);
	line-height: 49px;
	font-size: 33px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-left: 3px;
	margin-top: 42px;
	position: relative;
}

#u663-11
{
	z-index: 44;
	width: 442px;
	min-height: 122px;
	background-color: transparent;
	opacity: 0.59;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=59)";
	filter: alpha(opacity=59);
	margin-left: 3px;
	margin-top: 10px;
	position: relative;
}

#u663-2,#u663-4,#u663-6,#u663-8
{
	font-size: 16px;
	text-align: left;
	line-height: 27px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
}

#u665-9
{
	z-index: 67;
	width: 304px;
	min-height: 64px;
	background-color: transparent;
	opacity: 0.63;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=63)";
	filter: alpha(opacity=63);
	line-height: 20px;
	font-size: 12px;
	text-align: left;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	margin-left: 3px;
	margin-top: 11px;
	position: relative;
}

#u665-2,#u665-5,#u665-7
{
	color: #6C6C6C;
}

#buttonu667
{
	z-index: 149;
	width: 161px;
	border-style: none;
	border-color: transparent;
	background-color: #6D59B0;
	border-radius: 99px;
	padding-bottom: 11px;
	margin-top: 18px;
	position: relative;
}

#buttonu667:hover
{
	background-color: #7A60CD;
	width: 161px;
	min-height: 0px;
	margin: 18px 0px 0px;
}

#buttonu667.ButtonSelected
{
	background-color: #6D59B0;
	width: 161px;
	min-height: 0px;
	margin: 18px 0px 0px;
}

#u668
{
	z-index: 150;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 27px;
}

#u1656
{
	z-index: 566;
	width: 490px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 20px rgba(0,0,0,0.1);
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 490px;
}

#u531-bw
{
	z-index: 16;
	min-height: 1691px;
}

#u635
{
	z-index: 25;
	min-height: 372px;
	border-style: none;
	border-color: transparent;
	background-color: #FAFAFA;
}

#u635_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1024px;
	position: relative;
	left: -100px;
	padding-top: 136px;
	padding-bottom: 33px;
}

#u1551
{
	z-index: 560;
	width: 358px;
	background-color: transparent;
	left: 433px;
	position: relative;
}

#unique
{
	left: 576px;
	margin-top: 146px;
	position: relative;
}

#u635-bw
{
	z-index: 25;
	min-height: 372px;
	margin-top: 152px;
}

#u679
{
	z-index: 26;
	min-height: 425px;
	border-style: none;
	border-color: transparent;
	background-color: #232A35;
	padding-bottom: 170px;
}

#pu688-6
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 166px;
	margin-left: 123px;
}

#u688-6
{
	z-index: 90;
	width: 304px;
	min-height: 47px;
	background-color: transparent;
	opacity: 0.86;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=86)";
	filter: alpha(opacity=86);
	color: #FFFFFF;
	line-height: 45px;
	font-size: 33px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-left: 4px;
	position: relative;
}

#u689-8
{
	z-index: 59;
	width: 336px;
	min-height: 87px;
	background-color: transparent;
	opacity: 0.33;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=33)";
	filter: alpha(opacity=33);
	color: #BFD4F4;
	line-height: 27px;
	font-size: 16px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-left: 4px;
	margin-top: 18px;
	position: relative;
}

#u1738-4
{
	z-index: 593;
	width: 378px;
	min-height: 41px;
	background-color: transparent;
	opacity: 0.27;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=27)";
	filter: alpha(opacity=27);
	color: #BFD4F4;
	line-height: 20px;
	font-size: 12px;
	text-align: left;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	margin-top: 12px;
	position: relative;
}

#u1082
{
	z-index: 359;
	width: 602px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 124px;
	left: 502px;
}

#u1082_img
{
	padding-right: 2px;
}

#u679-bw
{
	z-index: 26;
	min-height: 425px;
	margin-top: 1096px;
}

#u552-4
{
	z-index: 27;
	width: 22px;
	min-height: 17px;
	background-color: transparent;
	opacity: 0.42;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=42)";
	filter: alpha(opacity=42);
	font-size: 11px;
	line-height: 18px;
	position: relative;
	margin-right: -10000px;
	margin-top: 62px;
	left: 384px;
}

#u621-6
{
	z-index: 31;
	min-height: 47px;
	background-color: transparent;
	opacity: 0.86;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=86)";
	filter: alpha(opacity=86);
	line-height: 49px;
	font-size: 33px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 300;
}

#u621-2
{
	font-size: 33px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
}

#u621-6-bw
{
	z-index: 31;
	min-height: 47px;
	margin-top: 236px;
}

#u639-7
{
	z-index: 37;
	min-height: 66px;
	background-color: transparent;
	opacity: 0.57;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=56.99999999999999)";
	filter: alpha(opacity=56.99999999999999);
}

#u639-2,#u639-4
{
	font-size: 16px;
	text-align: center;
	line-height: 27px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
}

#u639-7-bw
{
	z-index: 37;
	min-height: 66px;
	margin-top: 344px;
}

#u554-4
{
	z-index: 100;
	width: 91px;
	min-height: 17px;
	background-color: transparent;
	opacity: 0.77;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=77)";
	filter: alpha(opacity=77);
	font-size: 11px;
	line-height: 18px;
	position: relative;
	margin-right: -10000px;
	margin-top: 62px;
	left: 410px;
}

#u554-4:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 91px;
	margin: 62px -10000px 0px 0px;
}

#u558-4
{
	z-index: 104;
	width: 91px;
	min-height: 17px;
	background-color: transparent;
	opacity: 0.77;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=77)";
	filter: alpha(opacity=77);
	font-size: 11px;
	line-height: 18px;
	position: relative;
	margin-right: -10000px;
	margin-top: 62px;
	left: 510px;
}

#u554-4.MuseLinkActive,#u558-4:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 91px;
	margin: 62px -10000px 0px 0px;
}

#u550-4
{
	z-index: 108;
	width: 97px;
	min-height: 17px;
	background-color: transparent;
	opacity: 0.42;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=42)";
	filter: alpha(opacity=42);
	font-size: 11px;
	line-height: 18px;
	position: relative;
	margin-right: -10000px;
	margin-top: 45px;
	left: 576px;
}

#u548-4
{
	z-index: 112;
	width: 99px;
	min-height: 18px;
	background-color: transparent;
	opacity: 0.77;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=77)";
	filter: alpha(opacity=77);
	font-size: 11px;
	line-height: 18px;
	position: relative;
	margin-right: -10000px;
	margin-top: 45px;
	left: 475px;
}

#u548-4:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 99px;
	margin: 45px -10000px 0px 0px;
}

#u548-4.MuseLinkActive
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 99px;
	margin: 45px -10000px 0px 0px;
}

#u630-4
{
	z-index: 122;
	min-height: 24px;
	background-color: transparent;
	opacity: 0.59;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=59)";
	filter: alpha(opacity=59);
	line-height: 25px;
	font-size: 21px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 300;
}

#u630-4-bw
{
	z-index: 122;
	min-height: 24px;
	margin-top: 209px;
}

#u632-4
{
	z-index: 126;
	width: 316px;
	min-height: 24px;
	background-color: transparent;
	opacity: 0.59;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=59)";
	filter: alpha(opacity=59);
	line-height: 25px;
	font-size: 21px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 646px;
	left: 130px;
}

#u661-4
{
	z-index: 145;
	min-height: 20px;
	background-color: transparent;
	opacity: 0.59;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=59)";
	filter: alpha(opacity=59);
	color: #6D59B0;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

#u661-4-bw
{
	z-index: 145;
	min-height: 20px;
	margin-top: 425px;
}

#u687-4
{
	z-index: 153;
	width: 316px;
	min-height: 24px;
	background-color: transparent;
	opacity: 0.32;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=32)";
	filter: alpha(opacity=32);
	color: #BFD4F4;
	line-height: 25px;
	font-size: 21px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 1237px;
	left: 127px;
}

#u1686
{
	z-index: 587;
	width: 693px;
	height: 112px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 979px;
	left: 520px;
}

#u1687
{
	z-index: 588;
	width: 31px;
	background-color: transparent;
	-webkit-transform: matrix(0,1,-1,0,311,281);
	-ms-transform: matrix(0,1,-1,0,311,281);
	transform: matrix(0,1,-1,0,311,281);
	position: fixed;
	top: 2174px;
	left: 750px;
}

#u1687_img
{
	padding-right: 5px;
}

#ppu1546
{
	width: 0.01px;
	margin-left: 184px;
	margin-top: 113px;
}

#pu1546
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 10px;
}

#u1546
{
	z-index: 559;
	opacity: 0.46;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=46)";
	filter: alpha(opacity=46);
	margin-left: 288px;
	position: relative;
}

#u699-4
{
	z-index: 130;
	width: 316px;
	min-height: 24px;
	background-color: transparent;
	opacity: 0.53;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=53)";
	filter: alpha(opacity=53);
	line-height: 25px;
	font-size: 21px;
	text-align: right;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-top: 8px;
	position: relative;
}

#u701-4
{
	z-index: 55;
	width: 442px;
	min-height: 57px;
	background-color: transparent;
	opacity: 0.59;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=59)";
	filter: alpha(opacity=59);
	line-height: 27px;
	font-size: 16px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 350px;
}

#pu700-4
{
	width: 0.01px;
	margin-left: 48px;
	margin-top: -2px;
}

#u700-4
{
	z-index: 86;
	width: 459px;
	min-height: 42px;
	background-color: transparent;
	opacity: 0.86;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=86)";
	filter: alpha(opacity=86);
	line-height: 49px;
	font-size: 33px;
	text-align: right;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u702-6
{
	z-index: 76;
	width: 378px;
	min-height: 41px;
	background-color: transparent;
	opacity: 0.63;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=63)";
	filter: alpha(opacity=63);
	color: #6C6C6C;
	line-height: 20px;
	font-size: 12px;
	text-align: left;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 486px;
}

#u1650
{
	z-index: 119;
	width: 918px;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: fixed;
	top: 3467px;
	left: 53px;
}

.js #u1650.ose_pre_init
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u1638
{
	z-index: 117;
	width: 915px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 20px rgba(0,0,0,0.1);
	background-color: transparent;
	position: fixed;
	top: 3468px;
	left: 54px;
}

#u1644
{
	z-index: 564;
	width: 1011px;
	background-color: transparent;
	margin-left: 10px;
	margin-top: 375px;
	position: relative;
}

#pu531,#pu707
{
	width: 0.01px;
	margin-left: -100px;
}

#u707
{
	z-index: 121;
	height: 752px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
}

#u707-bw
{
	z-index: 121;
	height: 752px;
}

#u710
{
	z-index: 157;
	min-height: 209px;
	border-style: none;
	border-color: transparent;
	background-color: #FAFAFA;
	padding-bottom: 486px;
}

#u484_align_to_page,#u679_align_to_page,#u710_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1024px;
	position: relative;
	left: -100px;
}

#u914
{
	z-index: 166;
	width: 1011px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 189px;
	left: 111px;
}

#u710-bw
{
	z-index: 157;
	min-height: 209px;
	margin-top: 69px;
}

#u711-4
{
	z-index: 158;
	min-height: 47px;
	background-color: transparent;
	opacity: 0.86;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=86)";
	filter: alpha(opacity=86);
	line-height: 49px;
	font-size: 33px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 300;
}

#u711-4-bw
{
	z-index: 158;
	min-height: 47px;
	margin-top: 136px;
}

#u712-4
{
	z-index: 162;
	min-height: 28px;
	background-color: transparent;
	opacity: 0.59;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=59)";
	filter: alpha(opacity=59);
	line-height: 27px;
	font-size: 16px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 300;
}

#u712-4-bw
{
	z-index: 162;
	min-height: 28px;
	margin-top: 190px;
}

#tab-panelu814
{
	z-index: 168;
	width: 968px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 233px;
	left: 136px;
}

#u828
{
	z-index: 169;
	width: 968px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u828:active
{
	width: 968px;
	min-height: 0px;
	margin: 0px;
}

#u833
{
	z-index: 170;
	width: 207px;
	min-height: 22px;
	border-style: solid;
	border-color: #D3D3D3;
	background-color: transparent;
	opacity: 0.47;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=47)";
	filter: alpha(opacity=47);
	padding-bottom: 22px;
	position: relative;
	margin-right: -10000px;
	border-width: 0px 0px 1px;
}

#u833:hover
{
	border-color: #D3D3D3;
	opacity: 0.67;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=67)";
	filter: alpha(opacity=67);
	width: 207px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u833.TabbedPanelsTabSelected
{
	border-color: #A390E5;
	opacity: 0.78;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=78)";
	filter: alpha(opacity=78);
	border-radius: 0px;
	width: 207px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u834-4
{
	z-index: 171;
	width: 207px;
	min-height: 22px;
	border-color: #999999;
	background-color: transparent;
	color: #000000;
	line-height: 22px;
	font-size: 16px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	top: 11px;
}

#u833:hover #u834-4
{
	border-color: #999999;
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 207px;
	margin: 0px -10000px 0px 0px;
}

#u833.TabbedPanelsTabSelected #u834-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 207px;
	margin: 0px -10000px 0px 0px;
}

#u829
{
	z-index: 175;
	width: 197px;
	min-height: 22px;
	border-style: solid;
	border-color: #D3D3D3;
	background-color: transparent;
	opacity: 0.47;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=47)";
	filter: alpha(opacity=47);
	padding-bottom: 22px;
	position: relative;
	margin-right: -10000px;
	left: 206px;
	border-width: 0px 0px 1px;
}

#u829:hover
{
	border-color: #D3D3D3;
	background-color: transparent;
	opacity: 0.67;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=67)";
	filter: alpha(opacity=67);
	width: 197px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u829:active
{
	border-color: #D3D3D3;
	background-color: transparent;
	opacity: 0.67;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=67)";
	filter: alpha(opacity=67);
	width: 197px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u829.TabbedPanelsTabSelected
{
	border-color: #A390E5;
	background-color: transparent;
	opacity: 0.78;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=78)";
	filter: alpha(opacity=78);
	width: 197px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u831-4
{
	z-index: 176;
	width: 197px;
	min-height: 22px;
	border-color: #FAFAFA;
	background-color: transparent;
	color: #000000;
	line-height: 22px;
	font-size: 16px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	top: 11px;
}

#u829:hover #u831-4
{
	border-color: #FAFAFA;
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 197px;
	margin: 0px -10000px 0px 0px;
}

#u829:active #u831-4
{
	border-color: #FAFAFA;
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 197px;
	margin: 0px -10000px 0px 0px;
}

#u829.TabbedPanelsTabSelected #u831-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 197px;
	margin: 0px -10000px 0px 0px;
}

#u837
{
	z-index: 180;
	width: 150px;
	min-height: 22px;
	border-style: solid;
	border-color: #D3D3D3;
	background-color: transparent;
	opacity: 0.47;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=47)";
	filter: alpha(opacity=47);
	padding-bottom: 22px;
	position: relative;
	margin-right: -10000px;
	left: 402px;
	border-width: 0px 0px 1px;
}

#u837:hover
{
	border-style: solid;
	border-color: #D3D3D3;
	background-color: transparent;
	opacity: 0.67;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=67)";
	filter: alpha(opacity=67);
	width: 150px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
	border-width: 0px 0px 1px;
}

#u837:active
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.67;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=67)";
	filter: alpha(opacity=67);
	width: 150px;
	min-height: 23px;
	margin: 0px -10000px 0px 0px;
}

#u837.TabbedPanelsTabSelected
{
	border-style: solid;
	border-color: #A390E5;
	background-color: transparent;
	opacity: 0.78;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=78)";
	filter: alpha(opacity=78);
	width: 150px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
	border-width: 0px 0px 1px;
}

#u840-4
{
	z-index: 181;
	width: 150px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: #FAFAFA;
	color: #000000;
	line-height: 22px;
	font-size: 16px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	top: 11px;
}

#u837:hover #u840-4
{
	background-color: #FAFAFA;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 150px;
	margin: 0px -10000px 0px 0px;
}

#u837:active #u840-4
{
	background-color: #FAFAFA;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 150px;
	margin: 0px -10000px 0px 0px;
}

#u837.TabbedPanelsTabSelected #u840-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 150px;
	margin: 0px -10000px 0px 0px;
}

#u844
{
	z-index: 185;
	width: 118px;
	min-height: 22px;
	border-style: solid;
	border-color: #D3D3D3;
	background-color: transparent;
	opacity: 0.47;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=47)";
	filter: alpha(opacity=47);
	padding-bottom: 22px;
	position: relative;
	margin-right: -10000px;
	left: 551px;
	border-width: 0px 0px 1px;
}

#u844:hover
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.67;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=67)";
	filter: alpha(opacity=67);
	width: 118px;
	min-height: 23px;
	margin: 0px -10000px 0px 0px;
}

#u844:active
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.67;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=67)";
	filter: alpha(opacity=67);
	width: 118px;
	min-height: 23px;
	margin: 0px -10000px 0px 0px;
}

#u844.TabbedPanelsTabSelected
{
	border-style: solid;
	border-color: #A390E5;
	background-color: transparent;
	opacity: 0.78;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=78)";
	filter: alpha(opacity=78);
	width: 118px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
	border-width: 0px 0px 1px;
}

#u845-4
{
	z-index: 186;
	width: 118px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	line-height: 22px;
	font-size: 16px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	top: 11px;
}

#u844:hover #u845-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 118px;
	margin: 0px -10000px 0px 0px;
}

#u844:active #u845-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 118px;
	margin: 0px -10000px 0px 0px;
}

#u844.TabbedPanelsTabSelected #u845-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 118px;
	margin: 0px -10000px 0px 0px;
}

#u853
{
	z-index: 190;
	width: 121px;
	min-height: 22px;
	border-style: solid;
	border-color: #D3D3D3;
	background-color: transparent;
	opacity: 0.47;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=47)";
	filter: alpha(opacity=47);
	padding-bottom: 22px;
	position: relative;
	margin-right: -10000px;
	left: 668px;
	border-width: 0px 0px 1px;
}

#u853:hover
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.67;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=67)";
	filter: alpha(opacity=67);
	width: 121px;
	min-height: 23px;
	margin: 0px -10000px 0px 0px;
}

#u853:active
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.67;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=67)";
	filter: alpha(opacity=67);
	width: 121px;
	min-height: 23px;
	margin: 0px -10000px 0px 0px;
}

#u853.TabbedPanelsTabSelected
{
	border-style: solid;
	border-color: #A390E5;
	background-color: transparent;
	opacity: 0.78;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=78)";
	filter: alpha(opacity=78);
	width: 121px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
	border-width: 0px 0px 1px;
}

#u854-4
{
	z-index: 191;
	width: 121px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	line-height: 22px;
	font-size: 16px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	top: 11px;
}

#u853:hover #u854-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 121px;
	margin: 0px -10000px 0px 0px;
}

#u853:active #u854-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 121px;
	margin: 0px -10000px 0px 0px;
}

#u853.TabbedPanelsTabSelected #u854-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 121px;
	margin: 0px -10000px 0px 0px;
}

#u845-2,#u854-2
{
	padding-right: 40px;
	padding-left: 40px;
}

#u858
{
	z-index: 195;
	width: 108px;
	min-height: 22px;
	border-style: solid;
	border-color: #D3D3D3;
	background-color: transparent;
	opacity: 0.47;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=47)";
	filter: alpha(opacity=47);
	padding-bottom: 22px;
	position: relative;
	margin-right: -10000px;
	left: 788px;
	border-width: 0px 0px 1px;
}

#u858:hover
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.67;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=67)";
	filter: alpha(opacity=67);
	width: 108px;
	min-height: 23px;
	margin: 0px -10000px 0px 0px;
}

#u858:active
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.67;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=67)";
	filter: alpha(opacity=67);
	width: 108px;
	min-height: 23px;
	margin: 0px -10000px 0px 0px;
}

#u858.TabbedPanelsTabSelected
{
	border-style: solid;
	border-color: #A390E5;
	background-color: transparent;
	opacity: 0.78;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=78)";
	filter: alpha(opacity=78);
	width: 108px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
	border-width: 0px 0px 1px;
}

#u860-4
{
	z-index: 196;
	width: 108px;
	min-height: 22px;
	border-color: #999999;
	background-color: transparent;
	color: #000000;
	line-height: 22px;
	font-size: 16px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	top: 11px;
}

#u858:hover #u860-4
{
	border-color: #999999;
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 108px;
	margin: 0px -10000px 0px 0px;
}

#u858:active #u860-4
{
	border-color: #999999;
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 108px;
	margin: 0px -10000px 0px 0px;
}

#u858.TabbedPanelsTabSelected #u860-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 108px;
	margin: 0px -10000px 0px 0px;
}

#u833.TabbedPanelsTabSelected #u834-4 p,#u829.TabbedPanelsTabSelected #u831-4 p,#u837.TabbedPanelsTabSelected #u840-4 p,#u844.TabbedPanelsTabSelected #u845-4 p,#u853.TabbedPanelsTabSelected #u854-4 p,#u858.TabbedPanelsTabSelected #u860-4 p
{
	color: #6D59B0;
	visibility: inherit;
	padding-left: 30px;
	font-size: 16px;
	padding-right: 30px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

#u834-2,#u831-2,#u840-2,#u860-2
{
	padding-right: 30px;
	padding-left: 30px;
}

#u815
{
	z-index: 200;
	width: 968px;
	background-color: transparent;
	position: relative;
}

#u824
{
	z-index: 201;
	width: 951px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	padding: 45px 5px 94px 12px;
}

#pamphletu919
{
	z-index: 218;
	width: 0.01px;
	height: 105px;
	padding-bottom: 274px;
	position: relative;
}

#u924
{
	z-index: 219;
	width: 221px;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 645px;
}

#u925
{
	position: absolute;
	width: 219px;
	height: 89px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
}

#u925:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #DEDEDE;
	width: 219px;
	height: 89px;
	min-height: 0px;
	margin: 0px;
}

#u925.PamphletThumbSelected
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	width: 220px;
	height: 90px;
	min-height: 1px;
	margin: 0px 1px 1px 0px;
}

#u928popup
{
	z-index: 221;
}

#u930
{
	z-index: 222;
	width: 615px;
	height: 379px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
}

#u934
{
	z-index: 223;
	width: 600px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 83px;
	left: 3px;
}

#u874-6
{
	z-index: 202;
	width: 246px;
	min-height: 42px;
	background-color: transparent;
	opacity: 0.86;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=86)";
	filter: alpha(opacity=86);
	line-height: 44px;
	font-size: 33px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-left: 649px;
	top: -365px;
	margin-bottom: -88px;
	position: relative;
}

#u877-4
{
	z-index: 208;
	width: 300px;
	min-height: 88px;
	background-color: transparent;
	opacity: 0.59;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=59)";
	filter: alpha(opacity=59);
	line-height: 27px;
	font-size: 16px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-left: 651px;
	top: -269px;
	margin-bottom: -135px;
	position: relative;
}

#u918-4
{
	z-index: 214;
	width: 266px;
	min-height: 49px;
	background-color: transparent;
	opacity: 0.37;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=37)";
	filter: alpha(opacity=37);
	color: #6C6C6C;
	line-height: 20px;
	font-size: 12px;
	text-align: left;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	margin-left: 651px;
	top: -125px;
	margin-bottom: -49px;
	position: relative;
}

#buttonu880
{
	z-index: 212;
	width: 161px;
	border-style: none;
	border-color: transparent;
	background-color: #6D59B0;
	border-radius: 99px;
	padding-bottom: 11px;
	margin-left: 644px;
	top: -69px;
	margin-bottom: -42px;
	position: relative;
}

#buttonu880:hover
{
	background-color: #7A60CD;
	width: 161px;
	min-height: 0px;
	margin: 0px 0px -42px 644px;
}

#buttonu880.ButtonSelected
{
	background-color: #6D59B0;
	width: 161px;
	min-height: 0px;
	margin: 0px 0px -42px 644px;
}

#u881
{
	z-index: 213;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 27px;
}

#u816
{
	z-index: 225;
	width: 951px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	padding: 45px 5px 94px 12px;
}

#pamphletu967
{
	z-index: 236;
	width: 0.01px;
	height: 107px;
	padding-bottom: 272px;
	position: relative;
}

#u974
{
	z-index: 237;
	width: 275px;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 645px;
}

#u975
{
	position: absolute;
	width: 273px;
	height: 89px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
}

#u975:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #DEDEDE;
	width: 273px;
	height: 89px;
	min-height: 0px;
	margin: 0px;
}

#u975.PamphletThumbSelected
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	width: 274px;
	height: 90px;
	min-height: 1px;
	margin: 0px 1px 1px 0px;
}

#u928,#u968
{
	position: absolute;
	width: 615px;
	background-color: transparent;
}

#u968popup
{
	z-index: 239;
}

#u969
{
	z-index: 240;
	width: 615px;
	height: 379px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
}

#u1541
{
	z-index: 241;
	position: relative;
	margin-right: -10000px;
	margin-top: 147px;
	left: 281px;
}

#u961-4
{
	z-index: 226;
	width: 297px;
	min-height: 96px;
	background-color: transparent;
	opacity: 0.86;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=86)";
	filter: alpha(opacity=86);
	line-height: 44px;
	font-size: 33px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-left: 649px;
	top: -365px;
	margin-bottom: -96px;
	position: relative;
}

#u962-4
{
	z-index: 230;
	width: 300px;
	min-height: 165px;
	background-color: transparent;
	opacity: 0.59;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=59)";
	filter: alpha(opacity=59);
	line-height: 27px;
	font-size: 16px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-left: 651px;
	top: -265px;
	margin-bottom: -189px;
	position: relative;
}

#buttonu963
{
	z-index: 234;
	width: 161px;
	border-style: none;
	border-color: transparent;
	background-color: #6D59B0;
	border-radius: 99px;
	padding-bottom: 11px;
	margin-left: 645px;
	top: -60px;
	margin-bottom: -42px;
	position: relative;
}

#buttonu963:hover
{
	background-color: #7A60CD;
	width: 161px;
	min-height: 0px;
	margin: 0px 0px -42px 645px;
}

#u964
{
	z-index: 235;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 27px;
}

#u820
{
	z-index: 242;
	width: 952px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	padding: 45px 4px 94px 12px;
}

#pamphletu988
{
	z-index: 259;
	width: 0.01px;
	height: 92px;
	padding-bottom: 287px;
	left: -1px;
	position: relative;
}

#u995
{
	z-index: 260;
	width: 221px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 646px;
}

#u996
{
	position: absolute;
	width: 219px;
	height: 89px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
}

#u996:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #DEDEDE;
	width: 219px;
	height: 89px;
	min-height: 0px;
	margin: 0px;
}

#u996.PamphletThumbSelected
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	width: 220px;
	height: 90px;
	min-height: 1px;
	margin: 0px 1px 1px 0px;
}

#u989popup
{
	z-index: 262;
}

#u990
{
	z-index: 263;
	width: 616px;
	height: 379px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
}

#u1517
{
	z-index: 264;
	width: 501px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 52px;
}

#u1650_img,#u1517_img
{
	padding-bottom: 1px;
}

#u982-6
{
	z-index: 243;
	width: 246px;
	min-height: 42px;
	background-color: transparent;
	opacity: 0.86;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=86)";
	filter: alpha(opacity=86);
	line-height: 44px;
	font-size: 33px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-left: 650px;
	top: -373px;
	margin-bottom: -88px;
	position: relative;
}

#u983-4
{
	z-index: 249;
	width: 300px;
	min-height: 171px;
	background-color: transparent;
	opacity: 0.59;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=59)";
	filter: alpha(opacity=59);
	line-height: 27px;
	font-size: 16px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-left: 652px;
	top: -277px;
	margin-bottom: -171px;
	position: relative;
}

#u987-4
{
	z-index: 255;
	width: 266px;
	min-height: 49px;
	background-color: transparent;
	opacity: 0.37;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=37)";
	filter: alpha(opacity=37);
	color: #6C6C6C;
	line-height: 20px;
	font-size: 12px;
	text-align: left;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	margin-left: 652px;
	top: -106px;
	margin-bottom: -49px;
	position: relative;
}

#buttonu984
{
	z-index: 253;
	width: 161px;
	border-style: none;
	border-color: transparent;
	background-color: #6D59B0;
	border-radius: 99px;
	padding-bottom: 11px;
	margin-left: 645px;
	top: -50px;
	margin-bottom: -42px;
	position: relative;
}

#buttonu984:hover
{
	background-color: #7A60CD;
	width: 161px;
	min-height: 0px;
	margin: 0px 0px -42px 645px;
}

#u985
{
	z-index: 254;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 27px;
}

#u848
{
	z-index: 266;
	width: 952px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	padding: 45px 5px 95px 11px;
}

#pamphletu1009
{
	z-index: 281;
	width: 0.01px;
	height: 61px;
	padding-bottom: 317px;
	position: relative;
}

#u1016
{
	z-index: 282;
	width: 227px;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 650px;
}

#u1017
{
	position: absolute;
	width: 225px;
	height: 43px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
}

#u1017:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #DEDEDE;
	width: 225px;
	height: 43px;
	min-height: 0px;
	margin: 0px;
}

#u1017.PamphletThumbSelected
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	width: 226px;
	height: 44px;
	min-height: 1px;
	margin: 0px 1px 1px 0px;
}

#u1010popup
{
	z-index: 284;
}

#u1011
{
	z-index: 285;
	width: 616px;
	height: 378px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
}

#u1526
{
	z-index: 286;
	width: 603px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 4px;
}

#u1526_clip
{
	overflow: hidden;
	width: 603px;
	height: 343px;
}

#u1526_img
{
	margin-bottom: -1px;
}

#u1003-4
{
	z-index: 267;
	width: 246px;
	min-height: 42px;
	background-color: transparent;
	opacity: 0.86;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=86)";
	filter: alpha(opacity=86);
	line-height: 44px;
	font-size: 33px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-left: 650px;
	top: -361px;
	margin-bottom: -44px;
	position: relative;
}

#u1004-4
{
	z-index: 271;
	width: 300px;
	min-height: 198px;
	background-color: transparent;
	opacity: 0.59;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=59)";
	filter: alpha(opacity=59);
	line-height: 27px;
	font-size: 16px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-left: 652px;
	top: -309px;
	margin-bottom: -198px;
	position: relative;
}

#u1008-4
{
	z-index: 277;
	width: 266px;
	min-height: 49px;
	background-color: transparent;
	opacity: 0.37;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=37)";
	filter: alpha(opacity=37);
	color: #6C6C6C;
	line-height: 20px;
	font-size: 12px;
	text-align: left;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	margin-left: 652px;
	top: -111px;
	margin-bottom: -49px;
	position: relative;
}

#buttonu1005
{
	z-index: 275;
	width: 161px;
	border-style: none;
	border-color: transparent;
	background-color: #6D59B0;
	border-radius: 99px;
	padding-bottom: 11px;
	margin-left: 645px;
	top: -55px;
	margin-bottom: -42px;
	position: relative;
}

#buttonu1005:hover
{
	background-color: #7A60CD;
	width: 161px;
	min-height: 0px;
	margin: 0px 0px -42px 645px;
}

#u1006
{
	z-index: 276;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 27px;
}

#u857
{
	z-index: 288;
	width: 952px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	padding: 45px 5px 96px 11px;
}

#pamphletu1030
{
	z-index: 307;
	width: 0.01px;
	height: 109px;
	padding-bottom: 268px;
	position: relative;
}

#u1037
{
	z-index: 308;
	width: 220px;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 647px;
}

#u1038
{
	position: absolute;
	width: 220px;
	height: 90px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

.ie #u925.PamphletThumbSelected,.ie #u975.PamphletThumbSelected,.ie #u996.PamphletThumbSelected,.ie #u1017.PamphletThumbSelected,.ie #u1038
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1038:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	width: 219px;
	height: 89px;
	min-height: 0px;
	margin: 0px -1px -1px 0px;
}

.ie #u1038:hover
{
	opacity: 1;
	-ms-filter: "";
	filter: none;
	background-color: transparent;
}

#u1038.PamphletThumbSelected
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	width: 220px;
	height: 90px;
	min-height: 0px;
	margin: 0px;
}

#u1031
{
	position: absolute;
	width: 617px;
	background-color: transparent;
}

#u1031popup
{
	z-index: 310;
}

#u1032
{
	z-index: 311;
	width: 617px;
	height: 377px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
}

#u1569
{
	z-index: 312;
	width: 617px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1605
{
	z-index: 314;
	position: relative;
	margin-right: -10000px;
	margin-top: 96px;
	left: 253px;
}

#u1615
{
	z-index: 315;
	position: relative;
	margin-right: -10000px;
	margin-top: 283px;
	left: 431px;
}

#u1024-6
{
	z-index: 289;
	width: 246px;
	min-height: 42px;
	background-color: transparent;
	opacity: 0.86;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=86)";
	filter: alpha(opacity=86);
	line-height: 44px;
	font-size: 33px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-left: 652px;
	top: -354px;
	margin-bottom: -88px;
	position: relative;
}

#u1025-4
{
	z-index: 295;
	width: 300px;
	min-height: 112px;
	background-color: transparent;
	opacity: 0.59;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=59)";
	filter: alpha(opacity=59);
	line-height: 27px;
	font-size: 16px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-left: 652px;
	top: -258px;
	margin-bottom: -112px;
	position: relative;
}

#u1029-6
{
	z-index: 301;
	width: 266px;
	min-height: 49px;
	background-color: transparent;
	opacity: 0.37;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=37)";
	filter: alpha(opacity=37);
	color: #6C6C6C;
	line-height: 20px;
	font-size: 12px;
	text-align: left;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	margin-left: 652px;
	top: -141px;
	margin-bottom: -49px;
	position: relative;
}

#buttonu1026
{
	z-index: 299;
	width: 161px;
	border-style: none;
	border-color: transparent;
	background-color: #6D59B0;
	border-radius: 99px;
	padding-bottom: 11px;
	margin-left: 645px;
	top: -85px;
	margin-bottom: -42px;
	position: relative;
}

#buttonu1026:hover
{
	background-color: #7A60CD;
	width: 161px;
	min-height: 0px;
	margin: 0px 0px -42px 645px;
}

#u1027
{
	z-index: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 27px;
}

#u862
{
	z-index: 316;
	width: 952px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	padding: 45px 5px 94px 11px;
}

#pamphletu1051
{
	z-index: 331;
	width: 0.01px;
	height: 106px;
	padding-bottom: 273px;
	position: relative;
}

#u1058
{
	z-index: 332;
	width: 221px;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 652px;
}

#u1059
{
	position: absolute;
	width: 219px;
	height: 89px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
}

#u1059:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #DEDEDE;
	width: 219px;
	height: 89px;
	min-height: 0px;
	margin: 0px;
}

#u1059.PamphletThumbSelected
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	width: 220px;
	height: 90px;
	min-height: 1px;
	margin: 0px 1px 1px 0px;
}

.ie #u1038.PamphletThumbSelected,.ie #u1059.PamphletThumbSelected
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u989,#u1010,#u1052
{
	position: absolute;
	width: 616px;
	background-color: transparent;
}

#u1052popup
{
	z-index: 334;
}

#u1053
{
	z-index: 335;
	width: 616px;
	height: 379px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
}

#u1520
{
	z-index: 336;
	width: 289px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 165px;
}

#u1045-4
{
	z-index: 317;
	width: 246px;
	min-height: 42px;
	background-color: transparent;
	opacity: 0.86;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=86)";
	filter: alpha(opacity=86);
	line-height: 44px;
	font-size: 33px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-left: 650px;
	top: -361px;
	margin-bottom: -88px;
	position: relative;
}

#u1046-4
{
	z-index: 321;
	width: 300px;
	min-height: 88px;
	background-color: transparent;
	opacity: 0.59;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=59)";
	filter: alpha(opacity=59);
	line-height: 27px;
	font-size: 16px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-left: 652px;
	top: -266px;
	margin-bottom: -135px;
	position: relative;
}

#u1050-4
{
	z-index: 327;
	width: 266px;
	min-height: 49px;
	background-color: transparent;
	opacity: 0.37;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=37)";
	filter: alpha(opacity=37);
	color: #6C6C6C;
	line-height: 20px;
	font-size: 12px;
	text-align: left;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	margin-left: 652px;
	top: -122px;
	margin-bottom: -49px;
	position: relative;
}

#buttonu1047
{
	z-index: 325;
	width: 161px;
	border-style: none;
	border-color: transparent;
	background-color: #6D59B0;
	border-radius: 99px;
	padding-bottom: 11px;
	margin-left: 645px;
	top: -66px;
	margin-bottom: -42px;
	position: relative;
}

#buttonu1047:hover
{
	background-color: #7A60CD;
	width: 161px;
	min-height: 0px;
	margin: 0px 0px -42px 645px;
}

#buttonu963.ButtonSelected,#buttonu984.ButtonSelected,#buttonu1005.ButtonSelected,#buttonu1026.ButtonSelected,#buttonu1047.ButtonSelected
{
	background-color: #6D59B0;
	width: 161px;
	min-height: 0px;
	margin: 0px 0px -42px 645px;
}

#u1048
{
	z-index: 326;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 27px;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton,.TabbedPanelsTab /* pamphlet2 */
{
	cursor: pointer;
}

#u1071-4
{
	z-index: 355;
	width: 316px;
	min-height: 24px;
	background-color: transparent;
	opacity: 0.53;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=53)";
	filter: alpha(opacity=53);
	line-height: 25px;
	font-size: 21px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-left: 48px;
	margin-top: 32px;
	position: relative;
}

#ppu1070-4
{
	width: 0.01px;
	margin-left: 46px;
	margin-top: 3px;
}

#u1070-4
{
	z-index: 351;
	width: 292px;
	min-height: 42px;
	background-color: transparent;
	opacity: 0.86;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=86)";
	filter: alpha(opacity=86);
	line-height: 49px;
	font-size: 33px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-left: 2px;
	position: relative;
}

#u1068-6
{
	z-index: 341;
	width: 410px;
	min-height: 163px;
	background-color: transparent;
	opacity: 0.59;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=59)";
	filter: alpha(opacity=59);
	line-height: 27px;
	font-size: 16px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-left: 2px;
	margin-top: 15px;
	position: relative;
}

#u1069-4
{
	z-index: 347;
	width: 378px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0.63;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=63)";
	filter: alpha(opacity=63);
	color: #6C6C6C;
	line-height: 20px;
	font-size: 12px;
	text-align: left;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	margin-left: 2px;
	margin-top: 18px;
	position: relative;
}

#buttonu1087
{
	z-index: 361;
	width: 161px;
	border-style: none;
	border-color: transparent;
	background-color: #6D59B0;
	border-radius: 99px;
	padding-bottom: 11px;
	margin-top: 13px;
	position: relative;
}

#buttonu1087:hover
{
	background-color: #7A60CD;
	width: 161px;
	min-height: 0px;
	margin: 13px 0px 0px;
}

#buttonu1087.ButtonSelected
{
	background-color: #6D59B0;
	width: 161px;
	min-height: 0px;
	margin: 13px 0px 0px;
}

#u1088
{
	z-index: 362;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 27px;
}

#u1072
{
	z-index: 338;
	width: 528px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 430px;
}

#pu1091
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 69px;
}

#u1091
{
	z-index: 363;
	min-height: 905px;
	border-style: none;
	border-color: transparent;
	background-color: #FAFAFA;
}

#u1091_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1024px;
	position: relative;
	left: -100px;
	padding-top: 76px;
	padding-bottom: 132px;
}

#u1093-4
{
	z-index: 369;
	width: 316px;
	min-height: 24px;
	background-color: transparent;
	opacity: 0.53;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=53)";
	filter: alpha(opacity=53);
	line-height: 25px;
	font-size: 21px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	left: 148px;
	position: relative;
}

#u1092-4
{
	z-index: 365;
	width: 395px;
	min-height: 49px;
	background-color: transparent;
	opacity: 0.86;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=86)";
	filter: alpha(opacity=86);
	line-height: 49px;
	font-size: 33px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	left: 148px;
	margin-top: 3px;
	position: relative;
}

#u1096-4
{
	z-index: 373;
	width: 406px;
	min-height: 132px;
	background-color: transparent;
	opacity: 0.59;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=59)";
	filter: alpha(opacity=59);
	line-height: 27px;
	font-size: 16px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	left: 148px;
	margin-top: 57px;
	position: relative;
}

#u1097-4
{
	z-index: 419;
	width: 378px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0.63;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=63)";
	filter: alpha(opacity=63);
	color: #6C6C6C;
	line-height: 20px;
	font-size: 12px;
	text-align: left;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	left: 148px;
	margin-top: 11px;
	position: relative;
}

#u1100-4
{
	z-index: 377;
	width: 406px;
	min-height: 83px;
	background-color: transparent;
	opacity: 0.59;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=59)";
	filter: alpha(opacity=59);
	line-height: 27px;
	font-size: 16px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	left: 148px;
	margin-top: 77px;
	position: relative;
}

#u1107-4
{
	z-index: 423;
	width: 378px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0.63;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=63)";
	filter: alpha(opacity=63);
	color: #6C6C6C;
	line-height: 20px;
	font-size: 12px;
	text-align: left;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	left: 148px;
	margin-top: 6px;
	position: relative;
}

#u1105-6
{
	z-index: 381;
	width: 406px;
	min-height: 87px;
	background-color: transparent;
	opacity: 0.59;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=59)";
	filter: alpha(opacity=59);
	line-height: 27px;
	font-size: 16px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	left: 148px;
	margin-top: 73px;
	position: relative;
}

#u1109-4
{
	z-index: 427;
	width: 378px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0.63;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=63)";
	filter: alpha(opacity=63);
	color: #6C6C6C;
	line-height: 20px;
	font-size: 12px;
	text-align: left;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	left: 148px;
	margin-top: 8px;
	position: relative;
}

#u1091-bw
{
	z-index: 363;
	min-height: 905px;
}

#pamphletu1130
{
	z-index: 431;
	width: 0.01px;
	height: 470px;
	padding-bottom: 388px;
	position: relative;
	margin-right: -10000px;
	margin-top: 157px;
	left: 141px;
}

#u1135
{
	z-index: 432;
	width: 105px;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 5px;
}

#u1140
{
	position: absolute;
	width: 97px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.47;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=47)";
	filter: alpha(opacity=47);
	top: -3px;
	left: -2px;
}

#u1140:hover
{
	border-color: #6B6B6B;
	opacity: 0.67;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=67)";
	filter: alpha(opacity=67);
	width: 97px;
	min-height: 0px;
	margin: 0px;
}

#u1140:active
{
	border-style: none;
	border-color: transparent;
	opacity: 0.89;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=89)";
	filter: alpha(opacity=89);
	width: 97px;
	min-height: 0px;
	margin: 0px;
}

#u1140.PamphletThumbSelected
{
	border-style: none;
	border-color: transparent;
	opacity: 0.89;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=89)";
	filter: alpha(opacity=89);
	width: 97px;
	min-height: 0px;
	margin: 0px;
}

#u1141-4
{
	z-index: 434;
	width: 63px;
	min-height: 26px;
	border-color: #DEDEDE;
	background-color: transparent;
	color: #000000;
	line-height: 29px;
	font-size: 21px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 3px;
}

#u1140:hover #u1141-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 26px;
	width: 63px;
	margin: 3px -10000px 0px 0px;
}

#u1140:active #u1141-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 26px;
	width: 63px;
	margin: 3px -10000px 0px 0px;
}

#u1140.PamphletThumbSelected #u1141-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 26px;
	width: 63px;
	margin: 3px -10000px 0px 0px;
}

#u1140:hover #u1141-4 p
{
	color: #000000;
	visibility: inherit;
	font-size: 21px;
}

#u1140:active #u1141-4 p
{
	color: #000000;
	visibility: inherit;
	font-size: 21px;
}

#u1140.PamphletThumbSelected #u1141-4 p
{
	color: #000000;
	visibility: inherit;
	font-size: 21px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	font-style: normal;
}

#u1160
{
	z-index: 438;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 59px;
}

#u1138
{
	position: absolute;
	width: 130px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.47;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=47)";
	filter: alpha(opacity=47);
	top: 242px;
	left: -5px;
}

#u1138:hover
{
	border-color: #6B6B6B;
	opacity: 0.67;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=67)";
	filter: alpha(opacity=67);
	width: 130px;
	min-height: 0px;
	margin: 0px;
}

#u1138:active
{
	border-style: none;
	border-color: transparent;
	opacity: 0.89;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=89)";
	filter: alpha(opacity=89);
	width: 130px;
	min-height: 0px;
	margin: 0px;
}

#u1138.PamphletThumbSelected
{
	border-style: none;
	border-color: transparent;
	opacity: 0.89;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=89)";
	filter: alpha(opacity=89);
	width: 130px;
	min-height: 0px;
	margin: 0px;
}

#u1139-4
{
	z-index: 440;
	width: 92px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	line-height: 29px;
	font-size: 21px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 5px;
}

#u1138:hover #u1139-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 92px;
	margin: 1px -10000px 0px 0px;
}

#u1138:active #u1139-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 92px;
	margin: 1px -10000px 0px 0px;
}

#u1138.PamphletThumbSelected #u1139-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 92px;
	margin: 1px -10000px 0px 0px;
}

#u1138:hover #u1139-4 p
{
	color: #000000;
	visibility: inherit;
	font-size: 21px;
}

#u1138:active #u1139-4 p
{
	color: #000000;
	visibility: inherit;
	font-size: 21px;
}

#u1163
{
	z-index: 444;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 87px;
}

#u1136
{
	position: absolute;
	width: 479px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.47;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=47)";
	filter: alpha(opacity=47);
	top: 421px;
	left: -1px;
}

#u1136:hover
{
	border-color: #6B6B6B;
	opacity: 0.67;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=67)";
	filter: alpha(opacity=67);
	width: 479px;
	min-height: 0px;
	margin: 0px;
}

#u1136:active
{
	border-style: none;
	border-color: transparent;
	opacity: 0.89;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=89)";
	filter: alpha(opacity=89);
	width: 479px;
	min-height: 0px;
	margin: 0px;
}

#u1136.PamphletThumbSelected
{
	border-style: none;
	border-color: transparent;
	opacity: 0.89;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=89)";
	filter: alpha(opacity=89);
	width: 479px;
	min-height: 0px;
	margin: 0px;
}

#u1137-4
{
	z-index: 446;
	width: 91px;
	min-height: 20px;
	border-color: #DEDEDE;
	background-color: transparent;
	color: #000000;
	line-height: 29px;
	font-size: 21px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 1px;
}

#u1136:hover #u1137-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 91px;
	margin: 1px -10000px 0px 0px;
}

#u1136:active #u1137-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 91px;
	margin: 1px -10000px 0px 0px;
}

#u1136.PamphletThumbSelected #u1137-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 91px;
	margin: 1px -10000px 0px 0px;
}

#u1136:hover #u1137-4 p
{
	color: #000000;
	visibility: inherit;
	font-size: 21px;
}

#u1136:active #u1137-4 p
{
	color: #000000;
	visibility: inherit;
	font-size: 21px;
}

#u1138.PamphletThumbSelected #u1139-4 p,#u1136.PamphletThumbSelected #u1137-4 p
{
	color: #000000;
	visibility: inherit;
	font-size: 21px;
	text-align: left;
}

#u1166
{
	z-index: 450;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 86px;
}

#u1144
{
	position: absolute;
	width: 884px;
	background-color: transparent;
	left: 130px;
}

#u1144popup
{
	z-index: 451;
}

#u1149
{
	z-index: 452;
	width: 884px;
	height: 858px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1680
{
	z-index: 453;
	width: 479px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 361px;
}

#u1153
{
	z-index: 455;
	width: 884px;
	height: 858px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1667
{
	z-index: 456;
	width: 479px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 361px;
}

#u1145
{
	z-index: 458;
	width: 884px;
	height: 858px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1677
{
	z-index: 459;
	width: 479px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 361px;
}

#u1676
{
	z-index: 568;
	min-height: 553.8500000000004px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-bottom: 0px;
}

#u1676_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1024px;
	position: relative;
	left: -100px;
	padding-top: 75px;
	padding-bottom: 16px;
}

#u1397-4
{
	z-index: 569;
	width: 316px;
	min-height: 24px;
	background-color: transparent;
	opacity: 0.53;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=53)";
	filter: alpha(opacity=53);
	line-height: 25px;
	font-size: 21px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	left: 148px;
	position: relative;
}

#ppu1396-4
{
	width: 0.01px;
	left: 148px;
	margin-top: 70px;
	position: relative;
}

#u1396-4
{
	z-index: 581;
	width: 246px;
	min-height: 49px;
	background-color: transparent;
	opacity: 0.86;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=86)";
	filter: alpha(opacity=86);
	line-height: 49px;
	font-size: 33px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
}

#u1400
{
	z-index: 585;
	width: 374px;
	background-color: transparent;
	opacity: 0.29;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=28.999999999999996)";
	filter: alpha(opacity=28.999999999999996);
	margin-top: 21px;
	position: relative;
}

#u1406-4
{
	z-index: 577;
	width: 378px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0.63;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=63)";
	filter: alpha(opacity=63);
	color: #6C6C6C;
	line-height: 20px;
	font-size: 12px;
	text-align: left;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	margin-top: 32px;
	position: relative;
}

#u1399-4
{
	z-index: 573;
	width: 406px;
	min-height: 87px;
	background-color: transparent;
	opacity: 0.59;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=59)";
	filter: alpha(opacity=59);
	line-height: 27px;
	font-size: 16px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-top: 12px;
	position: relative;
}

#u1720
{
	z-index: 591;
	width: 503px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 473px;
}

#u1448
{
	z-index: 707;
	width: 984px;
	height: 1px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	opacity: 0.07;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=7.000000000000001)";
	filter: alpha(opacity=7.000000000000001);
	left: 120px;
	margin-top: 24px;
	position: relative;
}

#u1676-bw
{
	z-index: 568;
	min-height: 553.8500000000004px;
	margin-top: 887px;
}

#u1449-4
{
	z-index: 493;
	width: 316px;
	min-height: 24px;
	background-color: transparent;
	opacity: 0.53;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=53)";
	filter: alpha(opacity=53);
	line-height: 25px;
	font-size: 21px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-left: 48px;
	margin-top: 62px;
	position: relative;
}

#ppu1450-4
{
	width: 0.01px;
	margin-left: 48px;
	margin-top: 11px;
}

#u1450-4
{
	z-index: 461;
	width: 412px;
	min-height: 49px;
	background-color: transparent;
	opacity: 0.86;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=86)";
	filter: alpha(opacity=86);
	line-height: 49px;
	font-size: 33px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
}

#u1452-4
{
	z-index: 387;
	width: 406px;
	min-height: 113px;
	background-color: transparent;
	opacity: 0.59;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=59)";
	filter: alpha(opacity=59);
	line-height: 27px;
	font-size: 16px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-top: 10px;
	position: relative;
}

#u1451-6
{
	z-index: 525;
	width: 378px;
	min-height: 49px;
	background-color: transparent;
	opacity: 0.63;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=63)";
	filter: alpha(opacity=63);
	color: #6C6C6C;
	line-height: 20px;
	font-size: 12px;
	text-align: left;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	margin-top: 6px;
	position: relative;
}

#u1633
{
	z-index: 562;
	width: 470px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 471px;
}

#u1462
{
	z-index: 708;
	width: 984px;
	height: 1px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	opacity: 0.07;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=7.000000000000001)";
	filter: alpha(opacity=7.000000000000001);
	margin-left: 20px;
	margin-top: 64px;
	position: relative;
}

#ppu1461-4
{
	width: 0.01px;
	margin-left: 46px;
	margin-top: 79px;
}

#pu1070-4,#pu1396-4,#pu1450-4,#pu1461-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
}

#u1461-4
{
	z-index: 497;
	width: 316px;
	min-height: 24px;
	background-color: transparent;
	opacity: 0.53;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=53)";
	filter: alpha(opacity=53);
	line-height: 25px;
	font-size: 21px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-left: 2px;
	position: relative;
}

#u1460-4
{
	z-index: 465;
	width: 412px;
	min-height: 49px;
	background-color: transparent;
	opacity: 0.86;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=86)";
	filter: alpha(opacity=86);
	line-height: 49px;
	font-size: 33px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-left: 2px;
	margin-top: 10px;
	position: relative;
}

#u1459-4
{
	z-index: 391;
	width: 406px;
	min-height: 145px;
	background-color: transparent;
	opacity: 0.59;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=59)";
	filter: alpha(opacity=59);
	line-height: 27px;
	font-size: 16px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-left: 2px;
	margin-top: 11px;
	position: relative;
}

#u1458-4
{
	z-index: 531;
	width: 378px;
	min-height: 45px;
	background-color: transparent;
	opacity: 0.63;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=63)";
	filter: alpha(opacity=63);
	color: #6C6C6C;
	line-height: 20px;
	font-size: 12px;
	text-align: left;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	margin-top: 10px;
	position: relative;
}

#u1940
{
	z-index: 597;
	width: 501px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 477px;
}

#u1940_img
{
	padding-right: 7px;
	padding-bottom: 19px;
}

#u1511
{
	z-index: 364;
	min-height: 787.75px;
	border-style: none;
	border-color: transparent;
	background-color: #F4F4F4;
	padding-bottom: 0px;
}

#u1511_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1024px;
	position: relative;
	left: -100px;
	padding-top: 90px;
	padding-bottom: 128px;
}

#pu1467-4
{
	width: 0.01px;
	left: 148px;
	position: relative;
}

#u1467-4
{
	z-index: 501;
	width: 316px;
	min-height: 24px;
	background-color: transparent;
	opacity: 0.53;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=53)";
	filter: alpha(opacity=53);
	line-height: 25px;
	font-size: 21px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u1476-4
{
	z-index: 517;
	width: 224px;
	min-height: 24px;
	background-color: transparent;
	opacity: 0.53;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=53)";
	filter: alpha(opacity=53);
	line-height: 25px;
	font-size: 21px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 327px;
}

#u1484-4
{
	z-index: 521;
	width: 244px;
	min-height: 24px;
	background-color: transparent;
	opacity: 0.53;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=53)";
	filter: alpha(opacity=53);
	line-height: 25px;
	font-size: 21px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 674px;
}

#pu1468-4
{
	width: 0.01px;
	left: 148px;
	margin-top: 3px;
	position: relative;
}

#u1468-4
{
	z-index: 469;
	width: 248px;
	min-height: 49px;
	background-color: transparent;
	opacity: 0.86;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=86)";
	filter: alpha(opacity=86);
	line-height: 49px;
	font-size: 33px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u1477-4
{
	z-index: 485;
	width: 279px;
	min-height: 49px;
	background-color: transparent;
	opacity: 0.86;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=86)";
	filter: alpha(opacity=86);
	line-height: 49px;
	font-size: 33px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 327px;
}

#u1485-4
{
	z-index: 489;
	width: 248px;
	min-height: 49px;
	background-color: transparent;
	opacity: 0.86;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=86)";
	filter: alpha(opacity=86);
	line-height: 49px;
	font-size: 33px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 674px;
}

#u1469-4
{
	z-index: 395;
	width: 248px;
	min-height: 89px;
	background-color: transparent;
	opacity: 0.59;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=59)";
	filter: alpha(opacity=59);
	line-height: 27px;
	font-size: 16px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u1478-4
{
	z-index: 411;
	width: 248px;
	min-height: 112px;
	background-color: transparent;
	opacity: 0.59;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=59)";
	filter: alpha(opacity=59);
	line-height: 27px;
	font-size: 16px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 327px;
}

#u1486-4
{
	z-index: 415;
	width: 248px;
	min-height: 112px;
	background-color: transparent;
	opacity: 0.59;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=59)";
	filter: alpha(opacity=59);
	line-height: 27px;
	font-size: 16px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 674px;
}

#u1470-4
{
	z-index: 535;
	width: 262px;
	min-height: 45px;
	background-color: transparent;
	opacity: 0.63;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=63)";
	filter: alpha(opacity=63);
	color: #6C6C6C;
	line-height: 20px;
	font-size: 12px;
	text-align: left;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u1475-4
{
	z-index: 551;
	width: 262px;
	min-height: 45px;
	background-color: transparent;
	opacity: 0.63;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=63)";
	filter: alpha(opacity=63);
	color: #6C6C6C;
	line-height: 20px;
	font-size: 12px;
	text-align: left;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 327px;
}

#u1483-4
{
	z-index: 555;
	width: 262px;
	min-height: 45px;
	background-color: transparent;
	opacity: 0.63;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=63)";
	filter: alpha(opacity=63);
	color: #6C6C6C;
	line-height: 20px;
	font-size: 12px;
	text-align: left;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 674px;
}

#pu1491-4
{
	width: 0.01px;
	left: 148px;
	margin-top: 58px;
	position: relative;
}

#u1491-4
{
	z-index: 505;
	width: 260px;
	min-height: 24px;
	background-color: transparent;
	opacity: 0.53;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=53)";
	filter: alpha(opacity=53);
	line-height: 25px;
	font-size: 21px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u1500-4
{
	z-index: 509;
	width: 260px;
	min-height: 24px;
	background-color: transparent;
	opacity: 0.53;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=53)";
	filter: alpha(opacity=53);
	line-height: 25px;
	font-size: 21px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 327px;
}

#u1508-4
{
	z-index: 513;
	width: 260px;
	min-height: 24px;
	background-color: transparent;
	opacity: 0.53;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=53)";
	filter: alpha(opacity=53);
	line-height: 25px;
	font-size: 21px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 676px;
}

#pu1492-4
{
	width: 0.01px;
	left: 148px;
	margin-top: 5px;
	position: relative;
}

#u1492-4
{
	z-index: 473;
	width: 248px;
	min-height: 49px;
	background-color: transparent;
	opacity: 0.86;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=86)";
	filter: alpha(opacity=86);
	line-height: 49px;
	font-size: 33px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u1499-4
{
	z-index: 477;
	width: 248px;
	min-height: 49px;
	background-color: transparent;
	opacity: 0.86;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=86)";
	filter: alpha(opacity=86);
	line-height: 49px;
	font-size: 33px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 327px;
}

#u1507-4
{
	z-index: 481;
	width: 248px;
	min-height: 49px;
	background-color: transparent;
	opacity: 0.86;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=86)";
	filter: alpha(opacity=86);
	line-height: 49px;
	font-size: 33px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 676px;
}

#u634,#u621-3,#u700,#u874,#u874-3,#u961,#u982,#u982-3,#u1003,#u1024,#u1024-3,#u1045,#u1070,#u1092,#u1396,#u1450,#u1460,#u1468,#u1477,#u1485,#u1492,#u1499,#u1507
{
	font-size: 33px;
}

#pu1469-4,#pu1493-4
{
	width: 0.01px;
	left: 148px;
	margin-top: 11px;
	position: relative;
}

#u1493-4
{
	z-index: 399;
	width: 248px;
	min-height: 112px;
	background-color: transparent;
	opacity: 0.59;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=59)";
	filter: alpha(opacity=59);
	line-height: 27px;
	font-size: 16px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u1501-4
{
	z-index: 403;
	width: 248px;
	min-height: 112px;
	background-color: transparent;
	opacity: 0.59;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=59)";
	filter: alpha(opacity=59);
	line-height: 27px;
	font-size: 16px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 327px;
}

#u1509-4
{
	z-index: 407;
	width: 248px;
	min-height: 112px;
	background-color: transparent;
	opacity: 0.59;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=59)";
	filter: alpha(opacity=59);
	line-height: 27px;
	font-size: 16px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 676px;
}

#pu1470-4,#pu1494-4
{
	width: 0.01px;
	left: 146px;
	margin-top: 10px;
	position: relative;
}

#u1494-4
{
	z-index: 539;
	width: 262px;
	min-height: 45px;
	background-color: transparent;
	opacity: 0.63;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=63)";
	filter: alpha(opacity=63);
	color: #6C6C6C;
	line-height: 20px;
	font-size: 12px;
	text-align: left;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u1502-4
{
	z-index: 543;
	width: 262px;
	min-height: 45px;
	background-color: transparent;
	opacity: 0.63;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=63)";
	filter: alpha(opacity=63);
	color: #6C6C6C;
	line-height: 20px;
	font-size: 12px;
	text-align: left;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 327px;
}

#u1510-4
{
	z-index: 547;
	width: 262px;
	min-height: 45px;
	background-color: transparent;
	opacity: 0.63;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=63)";
	filter: alpha(opacity=63);
	color: #6C6C6C;
	line-height: 20px;
	font-size: 12px;
	text-align: left;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 676px;
}

#u1511-bw
{
	z-index: 364;
	min-height: 787.75px;
	margin-top: 72px;
}

#u1174_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1024px;
	left: -100px;
}

#pu1187-6
{
	width: 0.01px;
	padding-bottom: 0px;
	margin: 65px -10000px -26px 279px;
}

#u1187-6
{
	z-index: 676;
	width: 354px;
	min-height: 106px;
}

#u1175
{
	z-index: 674;
	width: 59px;
	margin-left: 310px;
	margin-top: 35px;
}

#u1175_img
{
	padding-bottom: 7px;
}

#u1195
{
	z-index: 682;
	width: 1px;
	height: 60px;
	margin-right: -10000px;
	margin-top: 81px;
	left: 651px;
}

#u2273
{
	z-index: 705;
	width: 120px;
	margin-right: -10000px;
	margin-top: 73px;
	left: 702px;
}

#u1174,#u1174-bw
{
	z-index: 673;
	min-height: 236px;
}

#u593-4
{
	z-index: 683;
	width: 563px;
	min-height: 38px;
	margin-left: 232px;
	margin-top: 39px;
}

#u594-4
{
	z-index: 662;
	width: 476px;
	min-height: 24px;
	margin-left: 273px;
	margin-top: 4px;
}

#u595-4
{
	z-index: 666;
	width: 99px;
	min-height: 20px;
	margin-left: 462px;
	margin-top: 10px;
}

#u595-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 99px;
	margin: 10px 0px 0px 462px;
}

#u592
{
	z-index: 661;
	width: 1000px;
	height: 1px;
	margin-left: 11px;
	margin-top: 25px;
}

#pu582-4
{
	width: 0.01px;
	margin-left: 268px;
	margin-top: 8px;
}

#u582-4
{
	z-index: 609;
	width: 97px;
	min-height: 17px;
	margin-right: -10000px;
}

#u587-4
{
	z-index: 653;
	width: 65px;
	min-height: 17px;
	margin-right: -10000px;
	left: 192px;
}

#u583-4
{
	z-index: 617;
	width: 22px;
	min-height: 17px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 258px;
}

#u585-4
{
	z-index: 625;
	width: 91px;
	min-height: 17px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 282px;
}

#u585-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 91px;
	margin: 1px -10000px 0px 0px;
}

#u584-4
{
	z-index: 621;
	width: 10px;
	min-height: 17px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 373px;
}

#u586-4
{
	z-index: 633;
	width: 91px;
	min-height: 17px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 383px;
}

#u585-4.MuseLinkActive,#u586-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 91px;
	margin: 1px -10000px 0px 0px;
}

#u588-4
{
	z-index: 657;
	width: 99px;
	min-height: 18px;
	margin-right: -10000px;
	left: 91px;
}

#u588-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 99px;
	margin: 0px -10000px 0px 0px;
}

#u588-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 99px;
	margin: 0px -10000px 0px 0px;
}

#pu590-4
{
	width: 0.01px;
	margin-left: 355px;
	margin-top: 1px;
}

#u590-4
{
	z-index: 613;
	width: 238px;
	min-height: 16px;
	margin-right: -10000px;
}

#u591-4
{
	z-index: 629;
	width: 91px;
	min-height: 17px;
	margin-right: -10000px;
	left: 237px;
}

#u591-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 91px;
	margin: 0px -10000px 0px 0px;
}

#u591-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 91px;
	margin: 0px -10000px 0px 0px;
}

#pu617-4
{
	width: 0.01px;
	margin-left: 341px;
	margin-top: 23px;
}

#u617-4
{
	z-index: 637;
	width: 31px;
	min-height: 17px;
	margin-right: -10000px;
}

#u617-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 31px;
	margin: 0px -10000px 0px 0px;
}

#u617-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 31px;
	margin: 0px -10000px 0px 0px;
}

#u1169
{
	z-index: 670;
	width: 1px;
	height: 15px;
	margin-right: -10000px;
	margin-top: 2px;
	left: 42px;
}

#u623-4
{
	z-index: 641;
	width: 102px;
	min-height: 17px;
	margin-right: -10000px;
	left: 56px;
}

#u623-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 102px;
	margin: 0px -10000px 0px 0px;
}

#u623-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 102px;
	margin: 0px -10000px 0px 0px;
}

#u1171
{
	z-index: 671;
	width: 1px;
	height: 15px;
	margin-right: -10000px;
	margin-top: 2px;
	left: 164px;
}

#u625-4
{
	z-index: 645;
	width: 43px;
	min-height: 17px;
	margin-right: -10000px;
	left: 178px;
}

#u625-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 43px;
	margin: 0px -10000px 0px 0px;
}

#u625-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 43px;
	margin: 0px -10000px 0px 0px;
}

#u1173
{
	z-index: 672;
	width: 1px;
	height: 15px;
	margin-right: -10000px;
	margin-top: 2px;
	left: 230px;
}

#u627-4
{
	z-index: 649;
	width: 86px;
	min-height: 17px;
	margin-right: -10000px;
	left: 246px;
}

#u627-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

#u627-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 86px;
	margin: 0px -10000px 0px 0px;
}

body
{
	position: relative;
	min-width: 1024px;
	padding-bottom: 86px;
}

#page .verticalspacer
{
	clear: both;
}

