#u437
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #000000;
	opacity: 0.78;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=78)";
	filter: alpha(opacity=78);
	position: fixed;
}

#buttonu1439
{
	border-color: #787878;
	background-color: #7A60CD;
	position: fixed;
}

#buttonu1439:hover
{
	background-color: #6D59B0;
}

#buttonu1439.ButtonSelected
{
	background-color: #7A60CD;
}

#u1442
{
	background-color: transparent;
	position: relative;
}

#buttonu1439:hover #u1442
{
	opacity: 0.61;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=61)";
	filter: alpha(opacity=61);
}

#u2213
{
	position: absolute;
	background-color: transparent;
}

#u2214
{
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	opacity: 0.87;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=87)";
	filter: alpha(opacity=87);
	position: relative;
}

#u2246-4
{
	background-color: transparent;
	opacity: 0.53;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=53)";
	filter: alpha(opacity=53);
	color: #FFFFFF;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
}

#u2246-4:hover
{
	opacity: 0.74;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=74)";
	filter: alpha(opacity=74);
}

#u2247
{
	background-color: #FFFFFF;
	opacity: 0.07;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=7.000000000000001)";
	filter: alpha(opacity=7.000000000000001);
	position: relative;
}

#u2245-4
{
	background-color: transparent;
	opacity: 0.53;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=53)";
	filter: alpha(opacity=53);
	color: #FFFFFF;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
}

#u2245-4:hover
{
	opacity: 0.74;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=74)";
	filter: alpha(opacity=74);
}

#u2207
{
	position: absolute;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u2238
{
	background-color: transparent;
	opacity: 0.49;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=49)";
	filter: alpha(opacity=49);
	overflow: hidden;
	position: fixed;
}

#u2207:hover #u2238
{
	opacity: 0.81;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=81)";
	filter: alpha(opacity=81);
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#pamphletu2205,#u438
{
	position: fixed;
}

#u455
{
	background-color: transparent;
	opacity: 0.49;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=49)";
	filter: alpha(opacity=49);
	overflow: hidden;
	position: fixed;
}

#u455:hover
{
	opacity: 0.81;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=81)";
	filter: alpha(opacity=81);
}

#u449
{
	background-color: transparent;
	opacity: 0.49;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=49)";
	filter: alpha(opacity=49);
	overflow: hidden;
	position: fixed;
}

#u449:hover
{
	opacity: 0.81;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=81)";
	filter: alpha(opacity=81);
}

#u446
{
	background-color: transparent;
	opacity: 0.49;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=49)";
	filter: alpha(opacity=49);
	overflow: hidden;
	position: fixed;
}

#u446:hover
{
	opacity: 0.81;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=81)";
	filter: alpha(opacity=81);
}

#u452
{
	background-color: transparent;
	opacity: 0.49;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=49)";
	filter: alpha(opacity=49);
	overflow: hidden;
	position: fixed;
}

#u452:hover
{
	opacity: 0.81;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=81)";
	filter: alpha(opacity=81);
}

#u1174
{
	border-style: none;
	border-color: transparent;
	background-color: #6D59B0;
}

#u2206,#u1174_align_to_page
{
	position: relative;
}

#u1187-6
{
	background-color: transparent;
	color: #FFFFFF;
	line-height: 45px;
	font-size: 33px;
	text-align: right;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
}

#u1195
{
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	opacity: 0.17;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=17)";
	filter: alpha(opacity=17);
	position: relative;
}

#u1175,#u2273
{
	background-color: transparent;
	position: relative;
}

#u593-4
{
	background-color: transparent;
	line-height: 40px;
	font-size: 33px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
}

#u593
{
	font-family: open-sans, sans-serif;
	font-weight: 300;
}

#u594-4
{
	background-color: transparent;
	opacity: 0.55;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=55.00000000000001)";
	filter: alpha(opacity=55.00000000000001);
	line-height: 18px;
	font-size: 15px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
}

#u595-4
{
	background-color: transparent;
	opacity: 0.84;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=84)";
	filter: alpha(opacity=84);
	color: #6D59B0;
	line-height: 18px;
	font-size: 15px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
}

#u595-4:hover p
{
	color: #7A60CD;
	visibility: inherit;
}

#u592
{
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	opacity: 0.14;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=14.000000000000002)";
	filter: alpha(opacity=14.000000000000002);
	position: relative;
}

#u585-4
{
	background-color: transparent;
	opacity: 0.77;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=77)";
	filter: alpha(opacity=77);
	font-size: 11px;
	line-height: 18px;
	position: relative;
}

#buttonu1439.ButtonSelected #u1442,#u2246-4.MuseLinkActive,#u2245-4.MuseLinkActive,#u2207.PamphletThumbSelected #u2238,#u455.MuseLinkActive,#u449.MuseLinkActive,#u446.MuseLinkActive,#u452.MuseLinkActive,#u585-4:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u586-4
{
	background-color: transparent;
	opacity: 0.77;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=77)";
	filter: alpha(opacity=77);
	font-size: 11px;
	line-height: 18px;
	position: relative;
}

#u588-4
{
	background-color: transparent;
	opacity: 0.77;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=77)";
	filter: alpha(opacity=77);
	font-size: 11px;
	line-height: 18px;
	position: relative;
}

#u585-4.MuseLinkActive,#u586-4:hover,#u588-4:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u582-4,#u587-4,#u583-4,#u584-4,#u590-4
{
	background-color: transparent;
	opacity: 0.42;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=42)";
	filter: alpha(opacity=42);
	font-size: 11px;
	line-height: 18px;
	position: relative;
}

#u591-4
{
	background-color: transparent;
	opacity: 0.77;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=77)";
	filter: alpha(opacity=77);
	font-size: 11px;
	line-height: 18px;
	position: relative;
}

#u588-4.MuseLinkActive,#u591-4:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u617-4
{
	background-color: transparent;
	opacity: 0.45;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=45)";
	filter: alpha(opacity=45);
	font-size: 11px;
	line-height: 18px;
	position: relative;
}

#u591-4.MuseLinkActive,#u617-4:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u623-4
{
	background-color: transparent;
	opacity: 0.45;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=45)";
	filter: alpha(opacity=45);
	font-size: 11px;
	line-height: 18px;
	position: relative;
}

#u617-4.MuseLinkActive,#u623-4:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u625-4
{
	background-color: transparent;
	opacity: 0.45;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=45)";
	filter: alpha(opacity=45);
	font-size: 11px;
	line-height: 18px;
	position: relative;
}

#u623-4.MuseLinkActive,#u625-4:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u1169,#u1171,#u1173
{
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	opacity: 0.07;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=7.000000000000001)";
	filter: alpha(opacity=7.000000000000001);
	position: relative;
}

#u627-4
{
	background-color: transparent;
	opacity: 0.45;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=45)";
	filter: alpha(opacity=45);
	font-size: 11px;
	line-height: 18px;
	position: relative;
}

#u625-4.MuseLinkActive,#u627-4:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u627-4.MuseLinkActive
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

