<link href="{# ASSETS_PLUGINS #}/pace/pace-theme-flash.css" rel="stylesheet" type="text/css" />
<link href="{# ASSETS_PLUGINS #}/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="{# ASSETS_PLUGINS #}/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css" />
<link href="{# ASSETS_PLUGINS #}/jquery-scrollbar/jquery.scrollbar.css" rel="stylesheet" type="text/css" media="screen" />
<link href="{# ASSETS_PLUGINS #}/select2/css/select2.min.css" rel="stylesheet" type="text/css" media="screen" />
<link href="{# ASSETS_PLUGINS #}/switchery/css/switchery.min.css" rel="stylesheet" type="text/css" media="screen" />