    <script src="{# ASSETS_PLUGINS #}/pace/pace.min.js" type="text/javascript"></script>
    <script src="{# ASSETS_PLUGINS #}/jquery/jquery-3.2.1.min.js" type="text/javascript"></script>
    <script src="{# ASSETS_PLUGINS #}/modernizr.custom.js" type="text/javascript"></script>
    <script src="{# ASSETS_PLUGINS #}/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
    <script src="{# ASSETS_PLUGINS #}/popper/umd/popper.min.js" type="text/javascript"></script>
    <script src="{# ASSETS_PLUGINS #}/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="{# ASSETS_PLUGINS #}/jquery/jquery-easy.js" type="text/javascript"></script>
    <script src="{# ASSETS_PLUGINS #}/jquery-unveil/jquery.unveil.min.js" type="text/javascript"></script>
    <script src="{# ASSETS_PLUGINS #}/jquery-ios-list/jquery.ioslist.min.js" type="text/javascript"></script>
    <script src="{# ASSETS_PLUGINS #}/jquery-actual/jquery.actual.min.js"></script>
    <script src="{# ASSETS_PLUGINS #}/jquery-scrollbar/jquery.scrollbar.min.js"></script>
    <script type="text/javascript" src="{# ASSETS_PLUGINS #}/select2/js/select2.full.min.js"></script>
    <script type="text/javascript" src="{# ASSETS_PLUGINS #}/classie/classie.js"></script>
    <script src="{# ASSETS_PLUGINS #}/switchery/js/switchery.min.js" type="text/javascript"></script>