    <!-- BEGIN CORE TEMPLATE JS -->
    <script src="{# PAGES_CORE #}/js/pages.js"></script>
    <script src="{# PAGES_CORE #}/js/pages.jquery-wrapper.js"></script>
    {% block addition_core_pages_js %}{% endblock %}
    <!-- END CORE TEMPLATE JS -->
    <!-- BEGIN PAGE LEVEL JS -->
    {% block addition_js %}{% endblock %}
    <script src="assets/js/scripts.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL JS -->