 <div class="menu-bar header-sm-height" data-pages-init='horizontal-menu'  data-hide-extra-li="4">
   <a href="#" class="btn-link toggle-sidebar d-lg-none pg pg-close" data-toggle="horizontal-menu">
   </a>
    <ul>
          <li {% if active_parent =="dashboard" %} class=" active" {% endif %}>
            <a href="index.html">Dashboard</a>
          </li>
          <li {% if active_parent =="social" %} class=" active" {% endif %}>
            <a href="social.html"><span class="title">Social</span></a>
          </li>
            <li {% if active_parent =="calendar" %} class=" active" {% endif %}>
            <a href="javascript:;"><span class="title">Calendar</span>
            <span class="{% if active_parent =="calendar" %}  {% endif %} arrow"></span></a>
            <ul class="">
              <li class="">
                <a href="calendar.html">Basic</a>
              </li>
              <li class="">
                <a href="calendar_lang.html">Languages</a>
              </li>
              <li class="">
                <a href="calendar_month.html">Month</a>
              </li>
              <li class="">
                <a href="calendar_lazy.html">Lazy load</a>
              </li>
              <li class="">
                <a href="http://pages.revox.io/dashboard/2.1.0/doc/#calendar" target="_blank">Documentation</a>
              </li>
            </ul>
          </li>
          <li {% if active_parent =="ui" %} class=" active" {% endif %}>
            <a href="javascript:;"><span class="title">UI Elements</span>
            <span class="{% if active_parent =="ui" %}  {% endif %} arrow"></span></a>
            <ul class="">
              <li class="">
                <a href="color.html">Color</a>
              </li>
              <li class="">
                <a href="typography.html">Typography</a>
              </li>
              <li class="">
                <a href="icons.html">Icons</a>
              </li>
              <li class="">
                <a href="buttons.html">Buttons</a>
              </li>
              <li class="">
                <a href="notifications.html">Notifications</a>
              </li>
              <li class="">
                <a href="modals.html">Modals</a>
              </li>
              <li class="">
                <a href="progress.html">Progress &amp; Activity</a>
              </li>
              <li class="">
                <a href="tabs_accordian.html">Tabs &amp; Accordions</a>
              </li>
              <li class="">
                <a href="sliders.html">Sliders</a>
              </li>
              <li class="">
                <a href="tree_view.html">Tree View</a>
              </li>
              <li class="">
                <a href="nestables.html">Nestable</a>
              </li>
            </ul>
          </li>
          <li {% if active_parent =="forms" %} class=" active" {% endif %}>
            <a href="javascript:;">
              <span class="title">Forms</span>
              <span class="{% if active_parent =="forms" %}  {% endif %} arrow"></span>
            </a>
            <ul class="">
              <li class="">
                <a href="form_elements.html">Form Elements</a>
              </li>
              <li class="">
                <a href="form_layouts.html">Form Layouts</a>
              </li>
              <li class="">
                <a href="form_wizard.html">Form Wizard</a>
              </li>
            </ul>
          </li>
          <li {% if active_parent =="builder" %} class=" active" {% endif %}>
            <a href="builder.html">
              <span class="title">Builder</span>
            </a>
          </li>
          <li {% if active_parent =="cards" %} class=" active" {% endif %}>
            <a href="cards.html">
              <span class="title">Cards</span>
            </a>
          </li>
          <li {% if active_parent =="views" %} class=" active" {% endif %}>
            <a href="views.html">
              <span class="title">Views</span>
            </a>
          </li>
          <li {% if active_parent =="tables" %} class=" active" {% endif %}>
            <a href="javascript:;"><span class="title">Tables</span>
            <span class="{% if active_parent =="tables" %}  {% endif %} arrow"></span></a>
            <ul class="">
              <li class="">
                <a href="tables.html">Basic Tables</a>
              </li>
              <li class="">
                <a href="datatables.html">Data Tables</a>
              </li>
            </ul>
          </li>
          <li {% if active_parent =="maps" %} class=" active" {% endif %}>
            <a href="javascript:;"><span class="title">Maps</span>
            <span class="{% if active_parent =="maps" %}  {% endif %} arrow"></span></a>
            <ul class="">
              <li class="">
                <a href="google_map.html">Google Maps</a>
              </li>
              <li class="">
                <a href="vector_map.html">Vector Maps</a>
              </li>
            </ul>
          </li>
          <li {% if active_parent =="charts" %} class=" active" {% endif %}>
            <a href="charts.html"><span class="title">Charts</span></a>
          </li>
          <li {% if active_parent =="extra" %} class=" active" {% endif %}>
            <a href="javascript:;"><span class="title">Extra</span>
            <span class="{% if active_parent =="extra" %}  {% endif %} arrow"></span></a>
            <ul class="">
              <li class="">
                <a href="invoice.html">Invoice</a>
              </li>
              <li class="">
                <a href="404.html">404 Page</a>
              </li>
              <li class="">
                <a href="500.html">500 Page</a>
              </li>
              <li class="">
                <a href="blank_template.html">Blank Page</a>
              </li>
              <li class="">
                <a href="login.html">Login</a>
              </li>
              <li class="">
                <a href="register.html">Register</a>
              </li>
              <li class="">
                <a href="lock_screen.html">Lockscreen</a>
              </li>
              <li class="">
                <a href="gallery.html">Gallery</a>
              </li>
              <li class="">
                <a href="timeline.html">Timeline</a>
              </li>
            </ul>
          </li>
    </ul>
    <a href="#" class="search-link d-flex justify-content-between align-items-center d-lg-none" data-toggle="search">Tap here to search <i class="pg-search float-right"></i></a>
 </div>
