{% set TITLE = "- Email" %}
{% set ASSETS = "assets" %}
{% set ASSETS_PLUGINS = "assets/plugins" %}
{% set PAGES_CORE = "pages" %}
{% set BODY_CLASS ="menu-pin" %}
{% set THEME ="themes/light" %}
{% set active_parent = "email" %}
{% set HEADER_CLASS = "light" %}
{% extends PATH + "layouts/secondary_light_layout.html" %}
{% block css_dependencies %}
<link href="assets/plugins/bootstrap3-wysihtml5/bootstrap3-wysihtml5.min.css" rel="stylesheet" type="text/css" />
<link href="assets/plugins/jquery-menuclipper/jquery.menuclipper.css" rel="stylesheet" type="text/css" />
{% endblock %}
  {% block page %}
  {% include PATH + "pages/email/emailCompose.tpl"%}
  {% endblock %}
{% block page_js_dependencies %}
  <script src="assets/plugins/bootstrap3-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
  <script src="assets/plugins/jquery-menuclipper/jquery.menuclipper.js"></script>
{% endblock %}
{% block addition_core_pages_js %}
  <script src="pages/js/pages.email.js" type="text/javascript"></script>
{% endblock %}
{% block addition_js %}
   <script src="assets/js/scripts.js" type="text/javascript"></script>
{% endblock %}
