{% set TITLE = "- Dashboard" %}
{% set ASSETS = "assets" %}
{% set ASSETS = "assets" %}
{% set ASSETS_PLUGINS = "assets/plugins" %}
{% set PAGES_CORE = "pages" %}
{% set THEME ="themes/light" %}
{% set active_parent = "dashboard" %}
{% set BODY_CLASS = "dashboard menu-pin" %}
{% set CONTENT_CLASS = "sm-gutter" %}
{% extends PATH + "layouts/light_layout.html" %}
{% set render = "html" %}
{% block css_dependencies %}
    <link href="assets/plugins/nvd3/nv.d3.min.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="assets/plugins/rickshaw/rickshaw.min.css" rel="stylesheet" type="text/css" />
    <link href="assets/plugins/bootstrap-datepicker/css/datepicker3.css" rel="stylesheet" type="text/css" media="screen">
    <link href="assets/plugins/mapplic/css/mapplic.css" rel="stylesheet" type="text/css" />
    <link href="assets/css/dashboard.widgets.css" rel="stylesheet" type="text/css" media="screen" />
{% endblock %}
{% block page %}
      <!-- START JUMBOTRON -->
      <div data-pages="parallax">
        <div class="container-fluid p-l-25 p-r-25 sm-p-l-0 sm-p-r-0">
          <div class="inner">
            <!-- START BREADCRUMB -->
            <ol class="breadcrumb sm-p-b-5">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Dashboard</li>
            </ol>
          </div>
        </div>
      </div>
      <!-- END JUMBOTRON -->
	<!-- START CONTAINER FLUID -->
	<div class="container-fluid p-l-25 p-r-25 p-t-0 p-b-25 sm-padding-10">
		<!-- START ROW -->
		<div class="row">
			<div class="col-lg-3 col-sm-6  d-flex flex-column">
				<!-- START WIDGET widget_map_sales-->
				<!-- START ITEM -->
                <div class="card social-card share  full-width m-b-10 no-border" data-social="item">
                  <div class="card-header ">
                    <h5 class="text-primary pull-left fs-12">Update <i
									class="fa fa-circle text-complete fs-11"></i></h5>
                    <div class="pull-right small hint-text">
                      5,345 <i class="fa fa-comment-o"></i>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                  <div class="card-description">
                    <h3>page dashboard Version 3.0 now release with limitless layout possibilities</h3>
                  </div>
                  <div class="card-footer clearfix">
                    <div class="pull-left">via <span class="text-complete">Pages</span>
                    </div>
                    <div class="pull-right hint-text">
                      July 23
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
                <!-- END ITEM -->
				<!-- END WIDGET -->
				<!-- START WIDGET widget_weekly_sales_card-->
				<div class="card no-border widget-loader-bar m-b-10">
				    <div class="container-xs-height full-height">
				        <div class="row-xs-height">
				            <div class="col-xs-height col-top">
				                <div class="card-header  top-left top-right">
				                    <div class="card-title">
				                        <span class="font-montserrat fs-11 all-caps">Weekly Sales <i class="fa fa-chevron-right"></i>
				                        </span>
				                    </div>
				                    <div class="card-controls">
				                        <ul>
				                            <li><a href="#" class="portlet-refresh text-black" data-toggle="refresh"><i class="portlet-icon portlet-icon-refresh"></i></a>
				                            </li>
				                        </ul>
				                    </div>
				                </div>
				            </div>
				        </div>
				        <div class="row-xs-height">
				            <div class="col-xs-height col-top">
				                <div class="p-l-20 p-t-50 p-b-40 p-r-20">
				                    <h3 class="no-margin p-b-5">$24,000</h3>
				                    <span class="small hint-text pull-left">71% of total goal</span>
				                    <span class="pull-right small text-primary">$23,000</span>
				                </div>
				            </div>
				        </div>
				        <div class="row-xs-height">
				            <div class="col-xs-height col-bottom">
				                <div class="progress progress-small m-b-0">
				                    <!-- START BOOTSTRAP PROGRESS (http://getbootstrap.com/components/#progress) -->
				                    <div class="progress-bar progress-bar-primary" style="width:71%"></div>
				                    <!-- END BOOTSTRAP PROGRESS -->
				                </div>
				            </div>
				        </div>
				    </div>
				</div>
				<!-- END WIDGET -->
				<!-- START WIDGET widget_weekly_sales_card-->
				<div class="card no-border widget-loader-bar m-b-10">
				    <div class="container-xs-height full-height">
				        <div class="row-xs-height">
				            <div class="col-xs-height col-top">
				                <div class="card-header  top-left top-right">
				                    <div class="card-title">
				                        <span class="font-montserrat fs-11 all-caps">Page Visits <i class="fa fa-chevron-right"></i>
				                        </span>
				                    </div>
				                    <div class="card-controls">
				                        <ul>
				                            <li><a href="#" class="portlet-refresh text-black" data-toggle="refresh"><i class="portlet-icon portlet-icon-refresh"></i></a>
				                            </li>
				                        </ul>
				                    </div>
				                </div>
				            </div>
				        </div>
				        <div class="row-xs-height">
				            <div class="col-xs-height col-top">
				                <div class="p-l-20 p-t-50 p-b-40 p-r-20">
				                    <h3 class="no-margin p-b-5">423</h3>
				                    <span class="small hint-text pull-left">22% higher</span>
				                    <span class="pull-right small text-danger">$23,000</span>
				                </div>
				            </div>
				        </div>
				        <div class="row-xs-height">
				            <div class="col-xs-height col-bottom">
				                <div class="progress progress-small m-b-0">
				                    <!-- START BOOTSTRAP PROGRESS (http://getbootstrap.com/components/#progress) -->
				                    <div class="progress-bar progress-bar-danger" style="width:15%"></div>
				                    <!-- END BOOTSTRAP PROGRESS -->
				                </div>
				            </div>
				        </div>
				    </div>
				</div>
				<!-- END WIDGET -->
			</div>
			<div class="col-lg-3 col-sm-6  d-flex flex-column">
	            <!-- START ITEM -->
	            <div class="card social-card share  full-width m-b-10 no-border" data-social="item">
	              <div class="card-header clearfix">
	                <h5 class="text-success pull-left fs-12">Stock Market <i
									class="fa fa-circle text-success fs-11"></i></h5>
	                <div class="pull-right small hint-text">
	                  5,345 <i class="fa fa-comment-o"></i>
	                </div>
	                <div class="clearfix"></div>
	              </div>
	              <div class="card-description">
	                <h5 class='hint-text no-margin'>Apple Inc.</h5>
	                <h5 class="small hint-text no-margin">NASDAQ: AAPL - Nov 13 8:37 AM ET</h5>
	                <h3 class="m-b-0">111.25 <span class="text-success"><i class="fa fa-sort-up small text-success"></i> 0.15</span>
							</h3>
	              </div>
	              <div class="card-footer clearfix">
	                <div class="pull-left">by <span class="text-success">John Smith</span>
	                </div>
	                <div class="pull-right hint-text">
	                  Apr 23
	                </div>
	                <div class="clearfix"></div>
	              </div>
	            </div>
	            <!-- END ITEM -->
                <!-- START ITEM -->
                <div class="card social-card share share-other full-width m-b-10 d-flex flex-1 full-height no-border sm-vh-75" data-social="item">
                  <div class="circle" data-toggle="tooltip" title="Label" data-container="body">
                  </div>
                  <div class="card-content flex-1" data-pages-bg-image="{# ASSETS #}/img/social_new.jpg">
                    <ul class="buttons ">
                      <li>
                        <a href="#"><i class="fa fa-expand"></i>
									</a>
                      </li>
                      <li>
                        <a href="#"><i class="fa fa-heart-o"></i>
									</a>
                      </li>
                    </ul>
                  </div>
                  <div class="card-description">
                    <p><a href="#">#TBT</a> :D</p>
                  </div>
                  <div class="card-footer clearfix">
                    <div class="time">few seconds ago</div>
                    <ul class="reactions">
                      <li><a href="#">5,345 <i class="fa fa-comment-o"></i></a>
                      </li>
                      <li><a href="#">23K <i class="fa fa-heart-o"></i></a>
                      </li>
                    </ul>
                  </div>
                  <div class="card-header clearfix">
                    <div class="user-pic">
                      <img alt="Avatar" width="33" height="33" data-src-retina="{# ASSETS #}/img/profiles/avatar_small2x.jpg" data-src="{# ASSETS #}/img/profiles/avatar.jpg" src="{# ASSETS #}/img/profiles/avatar_small2x.jpg">
                    </div>
                    <h5>David Nester</h5>
                    <h6>Shared a link on your wall</h6>
                  </div>
                </div>
                <!-- END ITEM -->        
			</div>
			<div class="col-lg-6 m-b-10 d-flex">
				<!-- START WIDGET widget_pendingComments.tpl-->
				<div class="widget-11-2 card no-border card-condensed no-margin widget-loader-circle align-self-stretch d-flex flex-column">
					<div class="card-header top-right">
						<div class="card-controls">
							<ul>
								<li><a data-toggle="refresh" class="portlet-refresh text-black" href="#"><i
										class="portlet-icon portlet-icon-refresh"></i></a>
								</li>
							</ul>
						</div>
					</div>
					<div class="padding-25">
						<div class="pull-left">
							<h2 class="text-success no-margin">webarch</h2>

							<p class="no-margin">Today's sales</p>
						</div>
						<h3 class="pull-right semi-bold"><sup>
							<small class="semi-bold">$</small>
						</sup> 102,967
						</h3>
						<div class="clearfix"></div>
					</div>
					<div class="auto-overflow widget-11-2-table">
						<table class="table table-condensed table-hover">
							<tbody>
							<tr>
								<td class="font-montserrat all-caps fs-12 w-50">Purchase CODE #2345</td>
								<td class="text-right hidden-lg">
									<span class="hint-text small">dewdrops</span>
								</td>
								<td class="text-right b-r b-dashed b-grey w-25">
									<span class="hint-text small">Qty 1</span>
								</td>
								<td class="w-25">
									<span class="font-montserrat fs-18">$27</span>
								</td>
							</tr>
							<tr>
								<td class="font-montserrat all-caps fs-12 w-50">Purchase CODE #2345</td>
								<td class="text-right hidden-lg">
									<span class="hint-text small">dewdrops</span>
								</td>
								<td class="text-right b-r b-dashed b-grey w-25">
									<span class="hint-text small">Qty 1</span>
								</td>
								<td class="w-25">
									<span class="font-montserrat fs-18">$27</span>
								</td>
							</tr>
							<tr>
								<td class="font-montserrat all-caps fs-12 w-50">Purchase CODE #2345</td>
								<td class="text-right hidden-lg">
									<span class="hint-text small">dewdrops</span>
								</td>
								<td class="text-right b-r b-dashed b-grey w-25">
									<span class="hint-text small">Qty 1</span>
								</td>
								<td class="w-25">
									<span class="font-montserrat fs-18">$27</span>
								</td>
							</tr>
							<tr>
								<td class="font-montserrat all-caps fs-12 w-50">Purchase CODE #2345</td>
								<td class="text-right hidden-lg">
									<span class="hint-text small">dewdrops</span>
								</td>
								<td class="text-right b-r b-dashed b-grey w-25">
									<span class="hint-text small">Qty 1</span>
								</td>
								<td class="w-25">
									<span class="font-montserrat fs-18">$27</span>
								</td>
							</tr>
							<tr>
								<td class="font-montserrat all-caps fs-12 w-50">Purchase CODE #2345</td>
								<td class="text-right hidden-lg">
									<span class="hint-text small">dewdrops</span>
								</td>
								<td class="text-right b-r b-dashed b-grey w-25">
									<span class="hint-text small">Qty 1</span>
								</td>
								<td class="w-25">
									<span class="font-montserrat fs-18">$27</span>
								</td>
							</tr>
							<tr>
								<td class="font-montserrat all-caps fs-12 w-50">Purchase CODE #2345</td>
								<td class="text-right hidden-lg">
									<span class="hint-text small">dewdrops</span>
								</td>
								<td class="text-right b-r b-dashed b-grey w-25">
									<span class="hint-text small">Qty 1</span>
								</td>
								<td class="w-25">
									<span class="font-montserrat fs-18">$27</span>
								</td>
							</tr>
							<tr>
								<td class="font-montserrat all-caps fs-12 w-50">Purchase CODE #2345</td>
								<td class="text-right hidden-lg">
									<span class="hint-text small">dewdrops</span>
								</td>
								<td class="text-right b-r b-dashed b-grey w-25">
									<span class="hint-text small">Qty 1</span>
								</td>
								<td class="w-25">
									<span class="font-montserrat fs-18">$27</span>
								</td>
							</tr>
							<tr>
								<td class="font-montserrat all-caps fs-12 w-50">Purchase CODE #2345</td>
								<td class="text-right hidden-lg">
									<span class="hint-text small">dewdrops</span>
								</td>
								<td class="text-right b-r b-dashed b-grey w-25">
									<span class="hint-text small">Qty 1</span>
								</td>
								<td class="w-25">
									<span class="font-montserrat fs-18">$27</span>
								</td>
							</tr>
							<tr>
								<td class="font-montserrat all-caps fs-12 w-50">Purchase CODE #2345</td>
								<td class="text-right hidden-lg">
									<span class="hint-text small">dewdrops</span>
								</td>
								<td class="text-right b-r b-dashed b-grey w-25">
									<span class="hint-text small">Qty 1</span>
								</td>
								<td class="w-25">
									<span class="font-montserrat fs-18">$27</span>
								</td>
							</tr>
							<tr>
								<td class="font-montserrat all-caps fs-12 w-50">Purchase CODE #2345</td>
								<td class="text-right hidden-lg">
									<span class="hint-text small">dewdrops</span>
								</td>
								<td class="text-right b-r b-dashed b-grey w-25">
									<span class="hint-text small">Qty 1</span>
								</td>
								<td class="w-25">
									<span class="font-montserrat fs-18">$27</span>
								</td>
							</tr>
							</tbody>
						</table>
					</div>
					<div class="padding-25 mt-auto">
						<p class="small no-margin">
							<a href="#"><i class="fa fs-16 fa-arrow-circle-o-down text-success m-r-10"></i></a>
							<span class="hint-text ">Show more details of APPLE . INC</span>
						</p>
					</div>
				</div>
				<!-- END WIDGET -->
			</div>
		</div>
		<!-- END ROW -->
		<!-- START ROW -->
		<div class="row">
			<div class="col-lg-4 md-m-b-10">
				<!-- START WIDGET widget_pendingComments.tpl-->
				{% include PATH + "pages/dashboard/_widget/widget_project_progress.tpl" %}
				<!-- END WIDGET -->	
			</div>
			<div class="col-lg-8 sm-m-t-10">
				<!-- START WIDGET widget_mapWidget-->
				{% include PATH + "pages/dashboard/_widget/widget_mapWidget.tpl" %}
				<!-- END WIDGET -->
			</div>
		</div>
		<!-- END ROW -->
	</div>
	<!-- END CONTAINER FLUID -->
{% endblock %}
{% block page_js_dependencies %}
    <script src="assets/plugins/nvd3/lib/d3.v3.js" type="text/javascript"></script>
    <script src="assets/plugins/nvd3/nv.d3.min.js" type="text/javascript"></script>
    <script src="assets/plugins/nvd3/src/utils.js" type="text/javascript"></script>
    <script src="assets/plugins/nvd3/src/tooltip.js" type="text/javascript"></script>
    <script src="assets/plugins/nvd3/src/interactiveLayer.js" type="text/javascript"></script>
    <script src="assets/plugins/nvd3/src/models/axis.js" type="text/javascript"></script>
    <script src="assets/plugins/nvd3/src/models/line.js" type="text/javascript"></script>
    <script src="assets/plugins/nvd3/src/models/lineWithFocusChart.js" type="text/javascript"></script>
    <script src="assets/plugins/rickshaw/rickshaw.min.js"></script>
    <script src="assets/plugins/mapplic/js/hammer.js"></script>
    <script src="assets/plugins/mapplic/js/jquery.mousewheel.js"></script>
    <script src="assets/plugins/mapplic/js/mapplic.js"></script>
{% block addition_js %}
    <script src="assets/js/dashboard.js" type="text/javascript"></script>
{% endblock %}
{% endblock %}