{% set TITLE = "- Nestables" %}
{% set ASSETS = "assets" %}
{% set ASSETS_PLUGINS = "assets/plugins" %}
{% set BODY_CLASS ="menu-pin" %}
{% set PAGES_CORE = "pages" %}
{% set THEME ="themes/light" %}
{% set active_parent = "ui" %}
{% extends PATH + "layouts/light_layout.html" %}
{% block css_dependencies %}
	<link href="assets/plugins/jquery-nestable/jquery.nestable.css" rel="stylesheet" type="text/css" media="screen" />
{% endblock %}
  {% block page %}
  {% include PATH + "pages/ui/nestables/nestables.tpl"%}
  {% endblock %}
{% block page_js_dependencies %}
	<script src="assets/plugins/jquery-nestable/jquery.nestable.js" type="text/javascript"></script>
{% endblock %}
{% block addition_js %}
    <script src="assets/js/nestables.js" type="text/javascript"></script>
{% endblock %}