<!-- START CONTAINER FLUID -->
<pg-tabset tabAnimation="slide-left" Type="linetriangle">
  <pg-tab *ngFor="let tour of tours | mapToIterable">
    <ng-template #TabHeading>
      <h5 class="text-primary no-margin">
        <span class="bold">{{tour.key}}</span> Tour</h5>
      <span class="font-montserrat">
        <span class="bold">AUD</span> {{tour.val.total | currency}}</span> /
      <span class="font-montserrat">
        <span class="bold">NZD</span> $0.00</span>
    </ng-template>
    <pg-tabset tabAnimation="slide-left" Type="linetriangle" (SelectedIndexChange) = "tabChange($event, tour.val.events[$event].id)">
      <pg-tab *ngFor="let event of tour.val.events">
        <ng-template #TabHeading>
          <span class="font-montserrat fs-10 hint-text">
            <span class="bold">TOTAL</span> {{event.today}}</span> /
          <span class="font-montserrat fs-10 hint-text">
            <span class="bold">{{event.currency}}</span> {{event.total | currency}}</span>
          <br>
          <h5 class="text-primary bold no-margin">{{event.name}}</h5>
          <!--<br>
          <span class="font-montserrat">
            <span class="bold">TODAY</span> {{event.today - event.yesterday}}</span> /
          <span class="font-montserrat">
            <span class="bold">{{event.currency}}</span> {{(event.total - event.yTotal) | currency}}</span>
          <br>-->
        </ng-template>
        <div class="row move-up bg-white p-b-20">
          <div class="col-md-5 b-r b-dashed b-grey sm-b-b">
            <div class="padding-30">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                stroke-linecap="round" stroke-linejoin="round" class="feather feather-shopping-cart">
                <circle cx="9" cy="21" r="1"></circle>
                <circle cx="20" cy="21" r="1"></circle>
                <path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path>
              </svg>
              <h2 class="inline m-l-10 m-b-0">{{event.name}}</h2>
              <p>{{event.shortDesc}}</p>
              <p>{{event.longDesc}}</p>
              <em class="hint-text">{{event.italicDesc}}</em>
            </div>
          </div>
          <div class="col-md-7" style="max-height:400px;overflow: scroll">
            <div class="padding-30">
              <div class="row b-b b-grey no-margin" *ngFor="let option of event.options | mapToIterable">
                <div class="col-lg-3 col-md-3 no-padding p-t-10 p-b-10">
                  <span class="font-montserrat">
                    {{option.val[0].name}}
                  </span>
                  <p class="text-primary p-r-0 font-montserrat m-b-0">
                    <span class="bold">SOLD </span>{{option.val[0].sold}} /
                    <span class="bold">REM </span>{{option.val[0].remaining - option.val[0].sold}}
                  </p>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-12 fs-14 p-t-10">
                  <p class="m-b-0 small">{{option.val[0].desc}}</p>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-12 text-right p-r-0">
                  <h4 class="text-primary p-r-0 font-montserrat">
                    {{option.val[0].price | currency}}
                  </h4>
                </div>
              </div>
              <br>
              <br>
              <div class="row b-a b-grey no-margin">
                <div class="col-md-3 padding-10">
                  <h5 class="font-montserrat all-caps small no-margin hint-text bold">Sub-Total</h5>
                  <h4 class="no-margin">$0.00</h4>
                </div>
                <div class="col-md-7 col-middle padding-10" style="height: 69px;">
                  <h5 class="font-montserrat all-caps small no-margin hint-text bold inline">Processing Fee</h5>
                  <h4 class="no-margin">$0.00</h4>
                </div>
                <div class="col-md-2 text-right bg-primary padding-10">
                  <h5 class="font-montserrat all-caps small no-margin hint-text text-white bold">Total</h5>
                  <h4 class="no-margin text-white">$0.00</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- START CONTAINER FLUID -->
        <!-- START card -->
        <div class="card card-white p-t-20">
          <div class="card-header ">
            <div class="card-title">Users List for
              <strong>{{event.name}}</strong>
            </div>
            <div class="pull-right">
              <div class="col-xs-12">
                <input type="text" class="form-control pull-right" placeholder="Search" (keyup)='updateFilter($event)'>
              </div>
            </div>
            <div class="pull-right m-r-10">
                <div class="btn-group">
                    <button type="button" class="btn btn-default" href="javascript:void(0)" (click)="table.rowDetail.collapseAllRows()">
                      Collapse All
                    </button>
                    <button type="button" class="btn btn-default" href="javascript:void(0)" (click)="table.rowDetail.expandAllRows()">
                      Expand All
                    </button>
                  </div>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="card-body">
            <ngx-datatable #table class='table table-hover' [columns]="columns" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
              [rowHeight]="'auto'" [limit]="5" [rows]='basicRows'>
              <ngx-datatable-row-detail [rowHeight]="153" #myDetailRow>
                <ng-template let-row="row" ngx-datatable-row-detail-template>
                  <app-receipt [event]='event' [user]='row' [promoter]='user' style="display:none"></app-receipt>
                  <div class="full-height padding-20">
                    <div class="row">
                        <div class="col-md-5 b-r b-dashed" style="border-color:lightgray">
                            <div class="row">
                                <div class="col-md-6">
                                    <span class="btn-tag btn-sm"><strong>Name:</strong> {{row.name}}</span><br>
                                    <span class="btn-tag btn-sm"><strong>Email:</strong> {{row.email}}</span><br>
                                </div>
                                <div class="col-md-6">
                                    <span class="btn-tag btn-sm"><strong>Address:</strong> {{row.address}}</span>
                                    <span class="btn-tag btn-sm"><strong>Number:</strong> {{row.number}}</span><br>
                                </div>
                            </div>
                          </div>
                          <div class="col-md-7">
                              <span class="btn-tag btn-sm"><strong>Pruchase Date: </strong> {{row.events[eventId].viewed * 86400 | date}}</span><br>
                              <span *ngFor="let purchase of row.events[eventId].purchases | mapToIterable" class="btn-tag btn-sm"><strong>{{purchase.key}}:</strong> {{purchase.val.price | currency}}</span>
                          </div>
                    </div>
                    <div class="row m-t-10 p-t-10 b-t b-grey">
                      <div class="col-md-12">
                        <input #email class="form-control" placeholder="Enter new email..." type="text" 
                        style="width: 200px;
                        float: left; 
                        padding: 2px 9px;
                        font-size: 10.5px; 
                        min-height: 0;
                        border-radius: 2px;
                        margin-right: 5px;
                        line-height: 21px;">
                        <span class="btn btn-xs" (click)="sendMessage(email.value,row, event.name);email.value = '';email.placeholder='Email Sent!'">Resend Receipt <i class="fa" [ngClass]="{'fa-send-o':email.placeholder!='Email Sent!','fa-check':email.placeholder=='Email Sent!'}"></i></span>
                        <!--<span class="btn btn-xs">Edit User</span>-->
                      </div>
                    </div>
                  </div>
                </ng-template>
              </ngx-datatable-row-detail>
              <ngx-datatable-column [width]="50" [resizeable]="false" [sortable]="false" [draggable]="false" [canAutoResize]="false">
                <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                  <a href="javascript:void(0)" title="Expand/Collapse Row"
                    (click)="toggleExpandRow(row)">
                    <i-chevron-down *ngIf="!expanded"></i-chevron-down>
                    <i-chevron-up *ngIf="expanded"></i-chevron-up>
                  </a>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column *ngFor="let column of columns" name="{{column.name}}" [canAutoResize]="true"></ngx-datatable-column>
            </ngx-datatable>
          </div>
        </div>
        <!-- END card -->
        <!-- END CONTAINER FLUID -->
      </pg-tab>
    </pg-tabset>
  </pg-tab>
</pg-tabset>

