
<section id="api">
    <h3 class="page-title">API Reference</h3>
    <hr>
    <p>
        As mentioned in the <a href="{# ROOT #}partials/getting_started.html">Getting Started</a> guide, Pages core framework files can be found in the <code>pages</code> folder. Inside this you'll be able to find <code>pages.js</code> and <code>pages.min.js</code> files which contain the core logic and utility functions of the framework. Simply including either of these files will set environment variables, auto initialize all the core modules for you and present you with the Pages global object
        <code>$.Pages</code> which you can use to call utility functions.
    </p>
    <pre><code class="xml">&lt;!-- Initialize Pages core objects --&gt;
&lt;script type=&quot;text/javascript&quot; src=&quot;pages/js/pages.min.js&quot;&gt;
</code></pre>
    <h4>Environment variables</h4>
    <p>Pages will detect the user OS and add it as a class name (ex: 'windows', 'mac', 'unix', 'linux') into <code>body</code>.</p>
    <p>It will also detect if it's mobile device or desktop and add either 'mobile' and 'desktop' into the same tag.
        <h4>Auto-initialized jQuery Plugins</h4>
        <p>The following table shows which plugins are auto-initialized and their default configuration.
        </p>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Plugin</th>
                    <th>jQuery</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="http://getbootstrap.com/javascript/#tooltips">Bootstrap Tooltip</a></td>
                    <td>Set <code>[data-toggle="tooltip"]</code> to any button or anchor tag.
                        <pre><code class="xml">&lt;a href=&quot;#&quot; data-toggle=&quot;tooltip&quot; data-placement=&quot;bottom&quot; title=&quot;Print&quot;&gt;&lt;i class=&quot;fa fa-print&quot;&gt;&lt;/i&gt;&lt;/a&gt;</code></pre>
                    </td>
                </tr>
                <tr>
                    <td><a href="http://ivaynberg.github.io/select2/">Select2</a></td>
                    <td>Set <code>[data-init-plugin="select2"]
                    <pre><code class="xml">&lt;select data-init-plugin=&quot;select2&quot;&gt;
    &lt;option value=&quot;foo&quot;&gt;Foo&lt;/option&gt;
    &lt;option value=&quot;bar&quot;&gt;Bar&lt;/option&gt;
&lt;/select&gt;</code></pre>
                    </td>
                </tr>
                <tr>
                    <td><a href="http://gromo.github.io/jquery.scrollbar/">Scrollbar</a></td>
                    <td>Set <code>class="scrollbar"
                    <pre><code class="xml">&lt;div style=&quot;height:200px&quot; class=&quot;scrollbar&quot;&gt;
  ...
&lt;/div&gt;</code></pre>
                    </td>
                </tr>
                <tr>
                    <td><a href="http://abpetkov.github.io/switchery/">Switchery</a></td>
                    <td>Set <code>[data-init-plugin="switchery"]
                    <pre><code class="xml">&lt;input type=&quot;checkbox&quot; data-init-plugin=&quot;switchery&quot; checked=&quot;checked&quot;/&gt;</code></pre>
                    </td>
                </tr>
                <tr>
                    <td>SelectFx</td>
                    <td>Set <code>[data-init-plugin="cs-select"]
                    <pre><code class="xml">&lt;select class=&quot;cs-select cs-skin-slide&quot; data-init-plugin=&quot;cs-select&quot;&gt;
    &lt;option value=&quot;Websafe&quot;&gt;Web-safe&lt;/option&gt;
    &lt;option value=&quot;Helvetica&quot;&gt;Helvetica&lt;/option&gt;
    &lt;option value=&quot;SegeoUI&quot;&gt;SegeoUI&lt;/option&gt;
&lt;/select&gt;</code></pre>
                    </td>
                </tr>
                <tr>
                    <td><a href="http://luis-almeida.github.io/unveil/">Unveil</a></td>
                    <td>Applied to any <code>img</code>
                    </td>
                </tr>
            </tbody>
        </table>
        <h4>Utility functions</h4>
        <p class="bold">$.Pages.isVisibleXs()</p>
        <p>Returns true if the current viewport is an <a href="http://getbootstrap.com/css/#responsive-utilities">extra small device</a>. ex: Phones (&lt;768px)</p>
        <br>
        <p class="bold">$.Pages.isVisibleSm()</p>
        <p>Returns true if the current viewport is a <a href="http://getbootstrap.com/css/#responsive-utilities">small device</a>. ex: Tablets (≥768px)</p>
        <br>
        <p class="bold">$.Pages.isVisibleMd()</p>
        <p>Returns true if the current viewport is a <a href="http://getbootstrap.com/css/#responsive-utilities">medium device</a>. ex: Desktops (≥992px)</p>
        <br>
        <p class="bold">$.Pages.isVisibleLg()</p>
        <p>Returns true if the current viewport is a <a href="http://getbootstrap.com/css/#responsive-utilities">large device</a>. ex: Desktops (≥1200px)</p>
        <br>
        <p class="bold">$.Pages.getUserAgent()</p>
        <p>Reads the pre-set user-agent class from <code>body</code> and returns either 'mobile' or 'desktop'</p>
        <br>
        <p class="bold">$.Pages.setFullScreen(element)</p>
        <p>Makes the given element to go full-screen mode. ex: <code>$.Pages.setFullScreen(document.querySelector('html'));</code></p>
        <br>
        <p class="bold">$.Pages.getColor(color,opacity)</p>
        <p>Returns the <code>rgba</code> value for a given <a href="{# ROOT #}partials/color.html">Pages contextual color</a> and opacity. </p>
</section>