{% if breadcrumb == 'breadcrumb-alt' %}
<div class="bg-white">
<div class="container">
  <ol class="breadcrumb breadcrumb-alt">
    <li>
      <a href="#">Home</a>
    </li>
    <li><a href="#" class="active">Horizontal Menu</a>
    </li>
  </ol>
</div>
</div>
{% endif %}
   <div class="bar">
        <div class="pull-right">
          <a href="#" class="text-black padding-10 visible-xs-inline visible-sm-inline pull-right m-t-10 m-b-10 m-r-10 on" data-pages="horizontal-menu-toggle">
          <i class=" pg-close_line"></i>
          </a>
        </div>
          <div class="bar-inner">
            <ul>
              <li>
                <a href="javascript:;">
                Whats <span class="semi-bold">new </span>
              </a>
              </li>
              <li class="classic">
                <a href="javascript:;">
                  Classic <span class="semi-bold">Menu</span> <span class="arrow"></span>
                </a>
                <ul class="classic">
                  <li>
                    <a href="#">UI Elements
                    <span class="description">
                      Find which UI elements suits you the
                      most.
                    </span>
                  </a>
                  </li>
                  <li>
                    <a href="#">Message & Notifications
                    <span class="description">
                      Alerts help to gain user attention and
                      give...
                    </span>
                  </a>
                  </li>
                  <li>
                    <a href="#">Buttons
                    <span class="description">
                      Basic buttons are traditional buttons
                      ...tpl
                    </span>
                  </a>
                  </li>
                  <li>
                    <a href="#">Sliders
                    <span class="description">
                    Basic slider with different options use
                    of ...
                    </span>
                  </a>
                  </li>
                </ul>
              </li>
              <li class="horizontal">
                <a href="javascript:;">
                  Horizontal <span class="semi-bold">Menu</span> <span class="arrow"></span>
                </a>
                <ul class="horizontal">
                  <li>
                    <a href="#">UI Elements</a>
                  </li>
                  <li>
                    <a href="#">Message & Notifications</a>
                  </li>
                  <li>
                    <a href="#">Buttons</a>
                  </li>
                  <li>
                    <a href="#">Sliders</a>
                  </li>
                </ul>
              </li>
              <li class="mega">
                <a href="javascript:;">
                  Mega <span class="semi-bold">Menu </span><span class="arrow"></span>
                </a>
                <ul class="mega">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-3 ">
                        <div class="sub-menu-heading bold">Features UI</div>
                        <img src="
                    {# ASSETS #}/img/demo/pages_icon.png" alt="" data-src="
                    {# ASSETS #}/img/demo/pages_icon.png" data-src-retina="
                    {# ASSETS #}/img/demo/pages_icon_2x.png" height="60" width="60">
                      </div>
                      <div class="col-md-3">
                        <div class="sub-menu-heading bold"> UI Elements</div>
                        <ul class="sub-menu">
                          <li> <a href="#"> Typography </a> </li>
                          <li> <a href="#"> Messages & Notifications </a> </li>
                          <li> <a href="#"> Notifications </a> </li>
                          <li> <a href="#">Icons</a> </li>
                          <li> <a href="#">Buttons</a> </li>
                          <li> <a href="#"> Tabs & Accordions </a> </li>
                          <li> <a href="#">Sliders</a> </li>
                          <li class="active"> <a href="#">Group list </a> </li>
                        </ul>
                      </div>
                      <div class="col-md-3">
                        <div class="sub-menu-heading bold">Apps</div>
                        <ul class="sub-menu">
                          <li> <a href="#">Social </a> </li>
                          <li> <a href="#">Email </a> </li>
                          <li> <a href="#">Calendar </a> </li>
                        </ul>
                        <div class="sub-menu-heading bold"> Forms</div>
                        <ul class="sub-menu">
                          <li> <a href="#">Form Elements </a> </li>
                          <li> <a href="#">Form Layouts</a> </li>
                        </ul>
                      </div>
                      <div class="col-md-3">
                        <div class="sub-menu-heading bold">Extra</div>
                        <ul class="sub-menu">
                          <li> <a href="#"> Invoice </a> </li>
                          <li> <a href="#">Login </a> </li>
                          <li> <a href="#">Register </a> </li>
                          <li> <a href="#">Gallery</a> </li>
                          <li> <a href="#">Timeline</a> </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </ul>
              </li>
            </ul>
          </div>
        </div>
        <!-- START PAGE COVER -->
        <div class="container-fluid container-fixed-lg">
          {% if breadcrumb != 'breadcrumb-alt' %} <ul class="breadcrumb">
            <li>
              <a href="#">Home</a>
            </li>
            <li><a href="#" class="active">Horizontal Menu</a>
            </li>
          </ul>
          <!-- END BREADCRUMB --> {% endif %}
          <h3 class="page-title">Page Title</h3>
        </div>
        <div class="container-fluid container-fixed-lg">
          <!-- YOU CAN REMOVE .container-fixed-lg TO DISABLE THE FEATURE WHERE THE CONTENT
               ALIGNS TO THE CENTER WITHOUT STRECTHING UNGLY ON 1800PX(1080P & 4/5K MONITORS) UP WORDS SCREEN
                -->
          <!-- CONTENT GOES HERE-->
        </div>
