
	<div class="widget-11-2 card no-border card-condensed no-margin widget-loader-circle full-height d-flex flex-column">
		<div class="card-header  top-right">
			<div class="card-controls">
				<ul>
					<li><a data-toggle="refresh" class="card-refresh text-black" href="#"><i
							class="card-icon card-icon-refresh"></i></a>
					</li>
				</ul>
			</div>
		</div>
		<div class="padding-25">
			<div class="pull-left">
				<h2 class="text-success no-margin">webarch</h2>

				<p class="no-margin">Today's sales</p>
			</div>
			<h3 class="pull-right semi-bold"><sup>
				<small class="semi-bold">$</small>
			</sup> 102,967
			</h3>
			<div class="clearfix"></div>
		</div>
		<div class="auto-overflow widget-11-2-table">
			<table class="table table-condensed table-hover">
				<tbody>
				<tr>
					<td class="font-montserrat all-caps fs-12 w-50">Purchase CODE #2345</td>
					<td class="text-right hidden-lg">
						<span class="hint-text small">dewdrops</span>
					</td>
					<td class="text-right b-r b-dashed b-grey w-25">
						<span class="hint-text small">Qty 1</span>
					</td>
					<td class="w-25">
						<span class="font-montserrat fs-18">$27</span>
					</td>
				</tr>
				<tr>
					<td class="font-montserrat all-caps fs-12 w-50">Purchase CODE #2345</td>
					<td class="text-right hidden-lg">
						<span class="hint-text small">dewdrops</span>
					</td>
					<td class="text-right b-r b-dashed b-grey w-25">
						<span class="hint-text small">Qty 1</span>
					</td>
					<td class="w-25">
						<span class="font-montserrat fs-18">$27</span>
					</td>
				</tr>
				<tr>
					<td class="font-montserrat all-caps fs-12 w-50">Purchase CODE #2345</td>
					<td class="text-right hidden-lg">
						<span class="hint-text small">dewdrops</span>
					</td>
					<td class="text-right b-r b-dashed b-grey w-25">
						<span class="hint-text small">Qty 1</span>
					</td>
					<td class="w-25">
						<span class="font-montserrat fs-18">$27</span>
					</td>
				</tr>
				<tr>
					<td class="font-montserrat all-caps fs-12 w-50">Purchase CODE #2345</td>
					<td class="text-right hidden-lg">
						<span class="hint-text small">dewdrops</span>
					</td>
					<td class="text-right b-r b-dashed b-grey w-25">
						<span class="hint-text small">Qty 1</span>
					</td>
					<td class="w-25">
						<span class="font-montserrat fs-18">$27</span>
					</td>
				</tr>
				<tr>
					<td class="font-montserrat all-caps fs-12 w-50">Purchase CODE #2345</td>
					<td class="text-right hidden-lg">
						<span class="hint-text small">dewdrops</span>
					</td>
					<td class="text-right b-r b-dashed b-grey w-25">
						<span class="hint-text small">Qty 1</span>
					</td>
					<td class="w-25">
						<span class="font-montserrat fs-18">$27</span>
					</td>
				</tr>
				<tr>
					<td class="font-montserrat all-caps fs-12 w-50">Purchase CODE #2345</td>
					<td class="text-right hidden-lg">
						<span class="hint-text small">dewdrops</span>
					</td>
					<td class="text-right b-r b-dashed b-grey w-25">
						<span class="hint-text small">Qty 1</span>
					</td>
					<td class="w-25">
						<span class="font-montserrat fs-18">$27</span>
					</td>
				</tr>
				<tr>
					<td class="font-montserrat all-caps fs-12 w-50">Purchase CODE #2345</td>
					<td class="text-right hidden-lg">
						<span class="hint-text small">dewdrops</span>
					</td>
					<td class="text-right b-r b-dashed b-grey w-25">
						<span class="hint-text small">Qty 1</span>
					</td>
					<td class="w-25">
						<span class="font-montserrat fs-18">$27</span>
					</td>
				</tr>
				<tr>
					<td class="font-montserrat all-caps fs-12 w-50">Purchase CODE #2345</td>
					<td class="text-right hidden-lg">
						<span class="hint-text small">dewdrops</span>
					</td>
					<td class="text-right b-r b-dashed b-grey w-25">
						<span class="hint-text small">Qty 1</span>
					</td>
					<td class="w-25">
						<span class="font-montserrat fs-18">$27</span>
					</td>
				</tr>
				<tr>
					<td class="font-montserrat all-caps fs-12 w-50">Purchase CODE #2345</td>
					<td class="text-right hidden-lg">
						<span class="hint-text small">dewdrops</span>
					</td>
					<td class="text-right b-r b-dashed b-grey w-25">
						<span class="hint-text small">Qty 1</span>
					</td>
					<td class="w-25">
						<span class="font-montserrat fs-18">$27</span>
					</td>
				</tr>
				<tr>
					<td class="font-montserrat all-caps fs-12 w-50">Purchase CODE #2345</td>
					<td class="text-right hidden-lg">
						<span class="hint-text small">dewdrops</span>
					</td>
					<td class="text-right b-r b-dashed b-grey w-25">
						<span class="hint-text small">Qty 1</span>
					</td>
					<td class="w-25">
						<span class="font-montserrat fs-18">$27</span>
					</td>
				</tr>
				</tbody>
			</table>
		</div>
		<div class="padding-25 mt-auto">
			<p class="small no-margin">
				<a href="#"><i class="fa fs-16 fa-arrow-circle-o-down text-success m-r-10"></i></a>
				<span class="hint-text ">Show more details of APPLE . INC</span>
			</p>
		</div>
	</div>