
	<div class="widget-18 card no-border  no-margin ">
		<div class="padding-15">
			<div class="item-header clearfix">
				<div class="thumbnail-wrapper d32 circular">
					<img width="40" height="40" src="{# ASSETS #}/img/profiles/3x.jpg"
					     data-src="{# ASSETS #}/img/profiles/3.jpg" data-src-retina="{# ASSETS #}/img/profiles/3x.jpg"
					     alt="">
				</div>
				<div class="inline m-l-10">
					<p class="no-margin">
						<strong>Anne Simons</strong>
					</p>

					<p class="no-margin hint-text">Shared a link
						<span class="location semi-bold"><i class="fa fa-map-marker"></i> NY center</span>
					</p>
				</div>
			</div>
		</div>
		<div class="relative">
			<ul class="buttons pull-top top-right list-inline p-r-10 p-t-10">
				<li>
					<a class="text-white" href="#"><i class="fa fa-expand"></i>
					</a>
				</li>
				<li>
					<a class="text-white" href="#"><i class="fa fa-heart-o"></i>
					</a>
				</li>
			</ul>
			<div class="widget-18-post bg-black no-overflow">
			</div>
		</div>
		<div class="padding-15">
			<div class="hint-text pull-left">few seconds ago</div>
			<ul class="list-inline pull-right no-margin">
				<li><a class="text-master hint-text" href="#">5,345 <i class="fa fa-comment-o"></i></a>
				</li>
				<li><a class="text-master hint-text" href="#">23K <i class="fa fa-heart-o"></i></a>
				</li>
			</ul>
			<div class="clearfix"></div>
		</div>
	</div>