
	<div class="widget-7 card no-border bg-success no-margin">
		<div class="card-body no-padding full-height">
          {% if render =="meteor" %}
           <div class="metro live-tile " data-delay={{delay}} data-mode="carousel">
          {% else%}
           <div class="metro live-tile " data-delay="3500" data-mode="carousel">
          {% endif %}
			
				<div class="slide-front tiles slide active">
					<div class="padding-30">
						<div class="pull-bottom p-b-30 bottom-right bottom-left p-l-30 p-r-30">
							<h5 class="no-margin semi-bold p-b-5">Apple Inc.</h5>

							<p class="no-margin text-black hint-text">NASDAQ : AAPL - NOV 01
								8:40 AM ET</p>

							<h3 class="semi-bold text-white"><i
									class="fa fa-sort-up small text-white"></i> 0.15 (0.13%)
							</h3>

							<p><span class="text-black">Open</span> <span
									class="m-l-20 hint-text">117.52</span>
							</p>
						</div>
					</div>
				</div>
				<div class="slide-back tiles">
					<div class="container-sm-height full-height">
						<div class="row-sm-height">
							<div class="col-sm-height padding-25">
								<p class="hint-text text-black">Pre-market: 116.850.50
									(0.43%)</p>

								<p class="p-t-10 text-black">AAPL - Apple inc.</p>

								<div class="p-t-10">
									<p class="hint-text inline">+0.42% <span class="m-l-20">217.51</span>
									</p>

									<div class="inline"><i
											class="fa fa-sort-up small text-white fs-16 col-bottom"></i>
									</div>
								</div>
								<p class="p-t-10 text-black">GOOG - Google inc.</p>

								<div class="p-t-10">
									<p class="hint-text inline">+0.22% <span class="m-l-20">-2.28</span>
									</p>

									<div class="inline"><i
											class="fa fa-sort-down small text-white fs-16 col-top"></i>
									</div>
								</div>
							</div>
						</div>
						<div class="row-sm-height">
							<div class="col-sm-height relative">
								<div class='widget-7-chart line-chart' data-line-color="white"
								     data-points="true" data-point-color="white"
								     data-stroke-width="3">
									<svg></svg>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>