
    <div class="widget-3 card no-border bg-complete no-margin widget-loader-bar">
        <div class="card-body no-padding full-height">
          {% if render =="meteor" %}
           <div class="metro live-tile" data-mode="carousel" data-start-now="true" data-delay={{delay}}>
          {% else%}
           <div class="metro live-tile" data-mode="carousel" data-start-now="true" data-delay="3000">
          {% endif %}
                <div class="slide-front tiles slide active">
                    <div class="padding-30">
                        <div class="pull-top">
                            <div class="pull-left visible-lg visible-xlg">
                                <i class="pg-map"></i>
                            </div>
                            <div class="pull-right">
                                <ul class="list-inline ">
                                    <li>
                                        <a href="#" class="no-decoration"><i class="pg-comment"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="widget-3-fav no-decoration"><i class="pg-like"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="pull-bottom p-b-30">
                            <p class="p-t-10 fs-12 p-b-5 hint-text">21 Jan</p>

	                        <h3 class="no-margin text-white p-b-10">Carefully
                                <br>designed for a
                                <br>great
                                <span class="semi-bold">experience</span>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="slide-back tiles">
                    <div class="padding-30">
                        <div class="pull-top">
                            <div class="pull-left visible-lg visible-xlg">
                                <i class="pg-map"></i>
                            </div>
                            <div class="pull-right">
                                <ul class="list-inline ">
                                    <li>
                                        <a href="#" class="no-decoration"><i class="pg-comment"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="widget-3-fav no-decoration"><i class="pg-like"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="pull-bottom p-b-30">
                            <p class="p-t-10 fs-12 p-b-5 hint-text">21 Jan</p>

                            <h3 class="no-margin text-white p-b-10">A whole new
                                <br>
                                <span class="semi-bold">page</span>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>