{% if widget_graphWidget_alt == '1'%}
	<div class="widget-12 card no-border widget-loader-circle no-margin">
		<div class="row">
			<div class="col-lg-8 ">
				<div class="card-header  pull-up top-right ">
					<div class="card-controls">
						<ul>
							<li class="hidden-xlg">
								<div class="dropdown">
									<a data-target="#" href="#" data-toggle="dropdown"
									   aria-haspopup="true" role="button" aria-expanded="false">
										<i class="card-icon card-icon-settings"></i>
									</a>
									<ul class="dropdown-menu pull-right" role="menu">
										<li><a href="#">AAPL</a>
										</li>
										<li><a href="#">YHOO</a>
										</li>
										<li><a href="#">GOOG</a>
										</li>
									</ul>
								</div>
							</li>
							<li>
								<a data-toggle="refresh" class="card-refresh text-black"
								   href="#"><i class="card-icon card-icon-refresh"></i></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="card-body">
			<div class="row">
				<div class="col-sm-8">
					<div class="p-l-5">
						<h2 class="pull-left m-t-5 m-b-5">Apple Inc.</h2>

						<h2 class="pull-left m-l-50 m-t-5 m-b-5 text-danger">
							<span class="">448.97</span>
							<span class="text-danger fs-12">-318.24</span>
						</h2>

						<div class="clearfix"></div>
						<div class="full-width">
							<ul class="list-inline">
								<li><a href="#" class="font-montserrat text-master">1D</a>
								</li>
								<li class="active"><a href="#"
								                      class="font-montserrat  bg-master-light text-master">5D</a>
								</li>
								<li><a href="#" class="font-montserrat text-master">1M</a>
								</li>
								<li><a href="#" class="font-montserrat text-master">1Y</a>
								</li>
							</ul>
						</div>
						<div class="nvd3-line line-chart text-center" data-x-grid="false">
							<svg></svg>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="widget-12-search">
						<p class="pull-left">Company
							<span class="bold">List</span>
						</p>
						<button class="btn btn-default btn-xs pull-right">
							<span class="bold">+</span>
						</button>
						<div class="clearfix"></div>
						<input type="text" placeholder="Search list" class="form-control m-t-5">
					</div>
					<div class="company-stat-boxes">
						<div data-index="0"
						     class="company-stat-box m-t-15 active padding-20 bg-master-lightest">
							<div>
								<button type="button" class="close" data-dismiss="modal">
									<i class="pg-close fs-12"></i>
								</button>
								<p class="company-name pull-left text-uppercase bold no-margin">
									<span class="fa fa-circle text-success fs-11"></span> AAPL
								</p>
								<small class="hint-text m-l-10">Yahoo Inc.</small>
								<div class="clearfix"></div>
							</div>
							<div class="m-t-10">
								<p class="pull-left small hint-text no-margin p-t-5">9:42AM ET</p>

								<div class="pull-right">
									<p class="small hint-text no-margin inline">37.73</p>
									<span class=" label label-important p-t-5 m-l-5 p-b-5 inline fs-12">+ 0.09</span>
								</div>
								<div class="clearfix"></div>
							</div>
						</div>
						<div data-index="1"
						     class="company-stat-box m-t-15  padding-20 bg-master-lightest">
							<div>
								<button type="button" class="close" data-dismiss="modal">
									<i class="pg-close fs-12"></i>
								</button>
								<p class="company-name pull-left text-uppercase bold no-margin">
									<span class="fa fa-circle text-primary fs-11"></span> YHOO
								</p>
								<small class="hint-text m-l-10">Yahoo Inc.</small>
								<div class="clearfix"></div>
							</div>
							<div class="m-t-10">
								<p class="pull-left small hint-text no-margin p-t-5">9:42AM ET</p>

								<div class="pull-right">
									<p class="small hint-text no-margin inline">37.73</p>
									<span class=" label label-success p-t-5 m-l-5 p-b-5 inline fs-12">+ 0.09</span>
								</div>
								<div class="clearfix"></div>
							</div>
						</div>
						<div data-index="2"
						     class="company-stat-box m-t-15  padding-20 bg-master-lightest">
							<div>
								<button type="button" class="close" data-dismiss="modal">
									<i class="pg-close fs-12"></i>
								</button>
								<p class="company-name pull-left text-uppercase bold no-margin">
									<span class="fa fa-circle text-complete fs-11"></span> GOOG
								</p>
								<small class="hint-text m-l-10">Yahoo Inc.</small>
								<div class="clearfix"></div>
							</div>
							<div class="m-t-10">
								<p class="pull-left small hint-text no-margin p-t-5">9:42AM ET</p>

								<div class="pull-right">
									<p class="small hint-text no-margin inline">37.73</p>
									<span class=" label label-success p-t-5 m-l-5 p-b-5 inline fs-12">+ 0.09</span>
								</div>
								<div class="clearfix"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% else %}
	<div class="widget-12 card no-border widget-loader-circle no-margin">
		<div class="row">
			<div class="col-xlg-8 ">
				<div class="card-header  pull-up top-right ">
					<div class="card-controls">
						<ul>
							<li class="hidden-xlg">
								<div class="dropdown">
									<a data-target="#" href="#" data-toggle="dropdown"
									   aria-haspopup="true" role="button" aria-expanded="false">
										<i class="card-icon card-icon-settings"></i>
									</a>
									<ul class="dropdown-menu pull-right" role="menu">
										<li><a href="#">AAPL</a>
										</li>
										<li><a href="#">YHOO</a>
										</li>
										<li><a href="#">GOOG</a>
										</li>
									</ul>
								</div>
							</li>
							<li>
								<a data-toggle="refresh" class="card-refresh text-black"
								   href="#"><i class="card-icon card-icon-refresh"></i></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="card-body">
			<div class="row">
				<div class="col-xlg-8 col-lg-12">
					<div class="p-l-5">
						<h2 class="pull-left m-t-5 m-b-5">Apple Inc.</h2>

						<h2 class="pull-left m-l-50 m-t-5 m-b-5 text-danger">
							<span class="">448.97</span>
							<span class="text-danger fs-12">-318.24</span>
						</h2>

						<div class="clearfix"></div>
						<div class="full-width">
							<ul class="list-inline">
								<li><a href="#" class="font-montserrat text-master">1D</a>
								</li>
								<li class="active"><a href="#"
								                      class="font-montserrat  bg-master-light text-master">5D</a>
								</li>
								<li><a href="#" class="font-montserrat text-master">1M</a>
								</li>
								<li><a href="#" class="font-montserrat text-master">1Y</a>
								</li>
							</ul>
						</div>
						<div class="nvd3-line line-chart text-center" data-x-grid="false">
							<svg></svg>
						</div>
					</div>
				</div>
				<div class="col-xlg-4 visible-xlg">
					<div class="widget-12-search">
						<p class="pull-left">Company
							<span class="bold">List</span>
						</p>
						<button class="btn btn-default btn-xs pull-right">
							<span class="bold">+</span>
						</button>
						<div class="clearfix"></div>
						<input type="text" placeholder="Search list" class="form-control m-t-5">
					</div>
					<div class="company-stat-boxes">
						<div data-index="0"
						     class="company-stat-box m-t-15 active padding-20 bg-master-lightest">
							<div>
								<button type="button" class="close" data-dismiss="modal">
									<i class="pg-close fs-12"></i>
								</button>
								<p class="company-name pull-left text-uppercase bold no-margin">
									<span class="fa fa-circle text-success fs-11"></span> AAPL
								</p>
								<small class="hint-text m-l-10">Yahoo Inc.</small>
								<div class="clearfix"></div>
							</div>
							<div class="m-t-10">
								<p class="pull-left small hint-text no-margin p-t-5">9:42AM ET</p>

								<div class="pull-right">
									<p class="small hint-text no-margin inline">37.73</p>
									<span class=" label label-important p-t-5 m-l-5 p-b-5 inline fs-12">+ 0.09</span>
								</div>
								<div class="clearfix"></div>
							</div>
						</div>
						<div data-index="1"
						     class="company-stat-box m-t-15  padding-20 bg-master-lightest">
							<div>
								<button type="button" class="close" data-dismiss="modal">
									<i class="pg-close fs-12"></i>
								</button>
								<p class="company-name pull-left text-uppercase bold no-margin">
									<span class="fa fa-circle text-primary fs-11"></span> YHOO
								</p>
								<small class="hint-text m-l-10">Yahoo Inc.</small>
								<div class="clearfix"></div>
							</div>
							<div class="m-t-10">
								<p class="pull-left small hint-text no-margin p-t-5">9:42AM ET</p>

								<div class="pull-right">
									<p class="small hint-text no-margin inline">37.73</p>
									<span class=" label label-success p-t-5 m-l-5 p-b-5 inline fs-12">+ 0.09</span>
								</div>
								<div class="clearfix"></div>
							</div>
						</div>
						<div data-index="2"
						     class="company-stat-box m-t-15  padding-20 bg-master-lightest">
							<div>
								<button type="button" class="close" data-dismiss="modal">
									<i class="pg-close fs-12"></i>
								</button>
								<p class="company-name pull-left text-uppercase bold no-margin">
									<span class="fa fa-circle text-complete fs-11"></span> GOOG
								</p>
								<small class="hint-text m-l-10">Yahoo Inc.</small>
								<div class="clearfix"></div>
							</div>
							<div class="m-t-10">
								<p class="pull-left small hint-text no-margin p-t-5">9:42AM ET</p>

								<div class="pull-right">
									<p class="small hint-text no-margin inline">37.73</p>
									<span class=" label label-success p-t-5 m-l-5 p-b-5 inline fs-12">+ 0.09</span>
								</div>
								<div class="clearfix"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endif %}
