
	<div class="widget-11 card no-border  no-margin widget-loader-bar">
		<div class="card-header  ">
			<div class="card-title">Today's Table
			</div>
			<div class="card-controls">
				<ul>
					<li><a data-toggle="refresh" class="card-refresh text-black" href="#"><i
							class="card-icon card-icon-refresh"></i></a>
					</li>
				</ul>
			</div>
		</div>
		<div class="p-l-25 p-r-25 p-b-20">
			<div class="pull-left">
				<h2 class="text-success no-margin">webarch</h2>
			</div>
			<h3 class="pull-right semi-bold"><sup>
				<small class="semi-bold">$</small>
			</sup> 102,967
			</h3>
			<div class="clearfix"></div>
		</div>
		<div class="widget-11-table auto-overflow">
			<table class="table table-condensed table-hover">
				<tbody>
				<tr>
					<td class="font-montserrat all-caps fs-12">Purchase CODE #2345</td>
					<td class="text-right">
						<span class="hint-text small">dewdrops</span>
					</td>
					<td class="text-right b-r b-dashed b-grey">
						<span class="hint-text small">Qty 1</span>
					</td>
					<td>
						<span class="font-montserrat fs-18">$27</span>
					</td>
				</tr>
				<tr>
					<td class="font-montserrat all-caps fs-12">Purchase CODE #2345</td>
					<td class="text-right">
						<span class="hint-text small">johnsmith</span>
					</td>
					<td class="text-right b-r b-dashed b-grey">
						<span class="hint-text small">Qty 1</span>
					</td>
					<td>
						<span class="font-montserrat fs-18 text-primary">$1000</span>
					</td>
				</tr>
				<tr>
					<td class="font-montserrat all-caps fs-12">Purchase CODE #2345</td>
					<td class="text-right">
						<span class="hint-text small">janedrooler</span>
					</td>
					<td class="text-right b-r b-dashed b-grey">
						<span class="hint-text small">Qty 1</span>
					</td>
					<td>
						<span class="font-montserrat fs-18">$27</span>
					</td>
				</tr>
				<tr>
					<td class="font-montserrat all-caps fs-12">Purchase CODE #2345</td>
					<td class="text-right">
						<span class="hint-text small">johnsmith</span>
					</td>
					<td class="text-right b-r b-dashed b-grey">
						<span class="hint-text small">Qty 1</span>
					</td>
					<td>
						<span class="font-montserrat fs-18 text-primary">$1000</span>
					</td>
				</tr>
				<tr>
					<td class="font-montserrat all-caps fs-12">Purchase CODE #2345</td>
					<td class="text-right">
						<span class="hint-text small">dewdrops</span>
					</td>
					<td class="text-right b-r b-dashed b-grey">
						<span class="hint-text small">Qty 1</span>
					</td>
					<td>
						<span class="font-montserrat fs-18">$27</span>
					</td>
				</tr>
				<tr>
					<td class="font-montserrat all-caps fs-12">Purchase CODE #2345</td>
					<td class="text-right">
						<span class="hint-text small">johnsmith</span>
					</td>
					<td class="text-right b-r b-dashed b-grey">
						<span class="hint-text small">Qty 1</span>
					</td>
					<td>
						<span class="font-montserrat fs-18 text-primary">$1000</span>
					</td>
				</tr>
				<tr>
					<td class="font-montserrat all-caps fs-12">Purchase CODE #2345</td>
					<td class="text-right">
						<span class="hint-text small">dewdrops</span>
					</td>
					<td class="text-right b-r b-dashed b-grey">
						<span class="hint-text small">Qty 1</span>
					</td>
					<td>
						<span class="font-montserrat fs-18">$27</span>
					</td>
				</tr>
				<tr>
					<td class="font-montserrat all-caps fs-12">Purchase CODE #2345</td>
					<td class="text-right">
						<span class="hint-text small">johnsmith</span>
					</td>
					<td class="text-right b-r b-dashed b-grey">
						<span class="hint-text small">Qty 1</span>
					</td>
					<td>
						<span class="font-montserrat fs-18 text-primary">$1000</span>
					</td>
				</tr>
				<tr>
					<td class="font-montserrat all-caps fs-12">Purchase CODE #2345</td>
					<td class="text-right">
						<span class="hint-text small">dewdrops</span>
					</td>
					<td class="text-right b-r b-dashed b-grey">
						<span class="hint-text small">Qty 1</span>
					</td>
					<td>
						<span class="font-montserrat fs-18">$27</span>
					</td>
				</tr>
				<tr>
					<td class="font-montserrat all-caps fs-12">Purchase CODE #2345</td>
					<td class="text-right">
						<span class="hint-text small">johnsmith</span>
					</td>
					<td class="text-right b-r b-dashed b-grey">
						<span class="hint-text small">Qty 1</span>
					</td>
					<td>
						<span class="font-montserrat fs-18 text-primary">$1000</span>
					</td>
				</tr>
				</tbody>
			</table>
		</div>
		<div class="padding-25">
			<p class="small no-margin">
				<a href="#"><i class="fa fs-16 fa-arrow-circle-o-down text-success m-r-10"></i></a>
				<span class="hint-text ">Show more details of APPLE . INC</span>
			</p>
		</div>
	</div>