<section id="Cards">
    <h3 class="page-title">Cards</h3>
    <hr>
    <p>
        Basic Cards in Pages follow the exact same markup of <code>.cards</code> in Bootstrap. Going a step further we have added Card tools to enhance your web app experience.
    </p>
    <a href="http://getbootstrap.com/components/#cards" target="_blank" class="btn btn-complete">Bootstrap cards Guideline</a>
    <br>
    <br>
    <div class="text-center">
    </div>
    <h4><a href="#line">
           Basic Card
            </a>
          </h4>
    <br>
    <h5><a href="#">
             Card scroll
              </a>
            </h5>
    <p class="m-b-15">
        <p>Create a basic Card using <code>.card</code> just like in Bootstrap. To make the Card body scrollable, simply add <code>.scrollable</code> to the <code>.card-block</code>. Then create a new wrapper element as the immediate child of the <code>.card-block</code> containing the all the content and set it a <code>height</code> or <code>max-height</code>
        </p>
    </p>
    <div class="card card-default">
        <div class="card-header">
            <div class="card-title">Basic Cards
            </div>
        </div>
        <div class="card-block">
            ...
        </div>
    </div>
    <pre><code class="xml">&lt;div class=&quot;card card-default&quot;&gt;
    &lt;div class=&quot;card-header&quot;&gt;
        &lt;div class=&quot;card-title&quot;&gt;Basic Cards
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;card-block scrollable&quot;&gt;
      &lt;!-- REMOVE THIS WRAPPER IF .scrollable IS NOT USED --&gt;
        &lt;div style=&quot;max-height:130px&quot;&gt;
          ...
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
<br><br>
    <h5><a href="#">
             Style options
              </a>
            </h5>
    <p class="m-b-15">
        Append <code>.separator</code> to your <code>.card-header</code> to separator between card header and card body
    </p>
    <div class="card card-default">
        <div class="card-header separator">
            <div class="card-title">Basic Cards
            </div>
        </div>
        <div class="card-block">
            ...
        </div>
    </div>
    <pre><code class="xml">&lt;div class=&quot;card card-default&quot;&gt;
    &lt;div class=&quot;card-header separator&quot;&gt;
        &lt;div class=&quot;card-title&quot;&gt;Basic Cards
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;card-block&quot;&gt;
      ...
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
    <p class="m-b-15">
        Replace <code>.card-default</code> with <code>.card-transparent</code> to make the background of a Card transparent
    </p>
    <div class="card card-transparent">
        <div class="card-header separator">
            <div class="card-title">Basic Cards
            </div>
        </div>
        <div class="card-block">
            ...
        </div>
    </div>
    <pre><code class="xml">&lt;div class=&quot;card card-transparent&quot;&gt;
    &lt;div class=&quot;card-header&quot;&gt;
        &lt;div class=&quot;card-title&quot;&gt;Basic Cards
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;card-block&quot;&gt;
      ...
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
    <p class="m-b-15">
        Use any contextual background color with Cards by appending <code>.bg-*</code> (ex: <code>.bg-success</code>) to <code>.card</code> . Text color of the card body can also be changed by adding any <code>.text-*</code> contextual color class
    </p>
    <div class="card card-default bg-success text-white">
        <div class="card-header separator">
            <div class="card-title">Basic Cards
            </div>
        </div>
        <div class="card-block">
            ...
        </div>
    </div>
    <pre><code class="xml">&lt;div class=&quot;card card-default bg-success text-white&quot;&gt;
    &lt;div class=&quot;card-header&quot;&gt;
        &lt;div class=&quot;card-title&quot;&gt;Basic Cards
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;card-block&quot;&gt;
      ...
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
    <p class="m-b-15">
        Append <code>.card-condensed</code> to reduce padding of <code>.card-header</code> and <code>.card-block</code>
    </p>
    <div class="card card-default card-condensed">
        <div class="card-header separator">
            <div class="card-title">Basic Cards
            </div>
        </div>
        <div class="card-block">
            ...
        </div>
    </div>
    <pre><code class="xml">&lt;div class=&quot;card card-default card-condensed&quot;&gt;
    &lt;div class=&quot;card-header&quot;&gt;
        &lt;div class=&quot;card-title&quot;&gt;Basic Cards
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;card-block&quot;&gt;
      ...
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
</section>

<section>
    <h4><a href="#line">
           Advance Card
            </a>
          </h4>
    <br>
    <h5><a href="#">
             Example
              </a>
            </h5>
    <p class="m-b-15">
        Convert traditional Bootstrap cards into Cards using Pages Cards jQuery plugin. The following Card controls are available:
        <ul class="m-l-20">
            <li>Collapse</li>
            <li>Refresh</li>
            <li>Close</li>
            <li>Settings</li>
            <li>Resize</li>
        </ul>
    </p>
    <h3 class="section-sep">jQuery users</h3>
    <div id="myCard" class="card card-default">
        <div class="card-header ">
            <div class="card-title">Card Title
            </div>
            <div class="card-controls">
<div class="card-controls">
                        <ul>
                          <li>
                            <div class="dropdown">
                              <a id="card-settings" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
                                <i class="card-icon card-icon-settings "></i>
                              </a>
                              <div class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="card-settings">
                                <a href="#" class="dropdown-item">API</a>
                                <a href="#" class="dropdown-item">Preferences</a>
                                <a href="#" class="dropdown-item">About</a>
                              </div>
                            </div>
                          </li>
                          <li><a href="#" class="card-collapse" data-toggle="collapse"><i class="card-icon card-icon-collapse"></i></a>
                          </li>
                          <li><a href="#" class="card-refresh" data-toggle="refresh"><i class="card-icon card-icon-refresh"></i></a>
                          </li>
                          <li><a href="#" class="card-maximize" data-toggle="maximize"><i class="card-icon card-icon-maximize"></i></a>
                          </li>
                          <li><a href="#" class="card-close" data-toggle="close"><i class="card-icon card-icon-close"></i></a>
                          </li>
                        </ul>
                      </div>
            </div>
        </div>
        <div class="card-block">
            ...
        </div>
    </div>
    <pre><code class="xml">&lt;div id=&quot;myCard&quot; class=&quot;card card-default&quot;&gt;
    &lt;div class=&quot;card-header &quot;&gt;
        &lt;div class=&quot;card-title&quot;&gt;Card Title
        &lt;/div&gt;
        &lt;div class=&quot;card-controls&quot;&gt;
            &lt;ul&gt;
                &lt;li&gt;
                    &lt;div class=&quot;dropdown&quot;&gt;
                        &lt;a id=&quot;card-settings&quot; data-target=&quot;#&quot; href=&quot;#&quot; data-toggle=&quot;dropdown&quot; aria-haspopup=&quot;true&quot; role=&quot;button&quot; aria-expanded=&quot;false&quot;&gt;
                            &lt;i class=&quot;card-icon card-icon-settings &quot;&gt;&lt;/i&gt;
                        &lt;/a&gt;

                        &lt;ul class=&quot;dropdown-menu pull-right&quot; role=&quot;menu&quot; aria-labelledby=&quot;card-settings&quot;&gt;
                            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Item 1&lt;/a&gt;&lt;/li&gt;
                            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Item 2&lt;/a&gt;&lt;/li&gt;   
                        &lt;/ul&gt;
                    &lt;/div&gt;
                &lt;/li&gt;
                &lt;li&gt;&lt;a href=&quot;#&quot; class=&quot;card-collapse&quot; data-toggle=&quot;collapse&quot;&gt;&lt;i class=&quot;card-icon card-icon-collapse&quot;&gt;&lt;/i&gt;&lt;/a&gt;
                &lt;/li&gt;
                &lt;li&gt;&lt;a href=&quot;#&quot; class=&quot;card-refresh&quot; data-toggle=&quot;refresh&quot;&gt;&lt;i class=&quot;card-icon card-icon-refresh&quot;&gt;&lt;/i&gt;&lt;/a&gt;
                &lt;/li&gt;
                &lt;li&gt;&lt;a href=&quot;#&quot; class=&quot;card-maximize&quot; data-toggle=&quot;maximize&quot;&gt;&lt;i class=&quot;card-icon card-icon-maximize&quot;&gt;&lt;/i&gt;&lt;/a&gt;
                &lt;/li&gt;
                &lt;li&gt;&lt;a href=&quot;#&quot; class=&quot;card-close&quot; data-toggle=&quot;close&quot;&gt;&lt;i class=&quot;card-icon card-icon-close&quot;&gt;&lt;/i&gt;&lt;/a&gt;
                &lt;/li&gt;
            &lt;/ul&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;card-block&quot;&gt;
        ...
    &lt;/div&gt;
&lt;/div&gt;
&lt;script&gt;
$(function(){
  $('#myCard').card({
        onRefresh: function() {
            // Timeout to simulate AJAX response delay
            setTimeout(function() {
                $('#myCard').card({
                    refresh: false
                });
            }, 2000);
        }
    });
});
&lt;/script&gt;</code></pre>
    <h5><a href="#">
             Usage
              </a>
            </h5>
    <p class="m-b-15">
        Cards can be initialized using either data attributes or via Javascript. However if you need to have a refresh button within your Card it is a must that you follow the latter which enables you to bind a refresh callback function.
    </p>
    <p class="bold">Via data attributes</p>
    <pre><code class="xml">&lt;div class=&quot;card card-default&quot; data-pages=&quot;card&quot;&gt;
    &lt;div class=&quot;card-header &quot;&gt;
        &lt;div class=&quot;card-title&quot;&gt;Card Title
        &lt;/div&gt;
        &lt;div class=&quot;card-controls&quot;&gt;
            &lt;ul&gt;
                &lt;li&gt;&lt;a href=&quot;#&quot; class=&quot;card-close&quot; data-toggle=&quot;close&quot;&gt;&lt;i class=&quot;card-icon card-icon-close&quot;&gt;&lt;/i&gt;&lt;/a&gt;
                &lt;/li&gt;
            &lt;/ul&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;card-block&quot;&gt;
        ...
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
    <p class="bold">Via Javascript</p>
    <pre><code class="xml">&lt;script&gt;
$(function() {
    $('#myCard').card(options)
})
&lt;/script&gt;</code></pre>
<br>
<br>
<br>
<br>
    <h3>Options</h3>
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th style="width: 100px;">Name</th>
                    <th style="width: 100px;">Type</th>
                    <th style="width: 50px;">Default</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>progress</td>
                    <td>string</td>
                    <td>'circle'</td>
                    <td>Sets the progress indicator which is shown when the refresh button is clicked. Styles available are 'bar', 'circle' and 'circle-lg'</td>
                </tr>
                <tr>
                    <td>progressColor</td>
                    <td>string</td>
                    <td>'master'</td>
                    <td>Change the color of the progress indicator. Follows the Pages <a href="{# ROOT #}partials/color.html">contextual color</a> naming convention. Note: 'white' color is only available for progress 'circle-lg'</td>
                </tr>
                <tr>
                    <td>refresh</td>
                    <td>boolean</td>
                    <td>false</td>
                    <td>Toggle progress indicator by setting this option. ex: Set this to 'false' from inside <code>onRefresh</code> function to hide the progress indicator</td>
                </tr>
                <tr>
                    <td>error</td>
                    <td>string</td>
                    <td>null</td>
                    <td>Slide-in an error message inside the Card. Recommended to be used when notifying the user about a failed refresh callback </td>
                </tr>
                <tr>
                    <td>overlayColor</td>
                    <td>string</td>
                    <td>'white'</td>
                    <td>Change the color of overlay which is shown while the refresh process is in progress. Any hex color code is accepted</td>
                </tr>
                <tr>
                    <td>overlayOpacity</td>
                    <td>number</td>
                    <td>0.6</td>
                    <td>Change the opacity of the overlay. Use any value between 0 and 1</td>
                </tr>
                <tr>
                    <td>onRefresh</td>
                    <td>function</td>
                    <td>undefined</td>
                    <td>Called when the [data-toggle="refresh"] button is clicked</td>
                </tr>
                <tr>
                    <td>onCollapse</td>
                    <td>function</td>
                    <td>undefined</td>
                    <td>Called when the [data-toggle="collapse"] button is clicked</td>
                </tr>
                <tr>
                    <td>onExpand</td>
                    <td>function</td>
                    <td>undefined</td>
                    <td>Called when the [data-toggle="refresh"] button is clicked while the Card is being collapsed</td>
                </tr>
                <tr>
                    <td>onMaximize</td>
                    <td>function</td>
                    <td>undefined</td>
                    <td>Called when the [data-toggle="maximize"] button is clicked</td>
                </tr>
                <tr>
                    <td>onRestore</td>
                    <td>function</td>
                    <td>undefined</td>
                    <td>Called when the [data-toggle="maximize"] button is clicked while the Card is being maximized</td>
                </tr>
                <tr>
                    <td>onClose</td>
                    <td>function</td>
                    <td>undefined</td>
                    <td>Called when the [data-toggle="close"] button is clicked</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>